Repository bitcoin/bitcoin, pull requests merged in 2018-06, with the labels that each got.

#13355 Fix "gmake check" under OpenBSD 6.3 (probably *BSD): Avoid using GNU grep specific regexp handling
  src/Makefile.test.include
Labels: Tests

#13353 qa: Fixup setting of PATH env var
  test/functional/test_framework/test_framework.py
Labels: Tests

#13352 qa: Avoid checking reject code for now
  test/functional/p2p_invalid_tx.py
Labels: Tests

#13372 doc: split FreeBSD build instructions out of build-unix.md
  doc/build-freebsd.md
  doc/build-unix.md
Labels: Docs

#13383 bench: Use non-throwing ParseDouble(...) instead of throwing boost::lexical_cast<double>(...)
  src/bench/bench_bitcoin.cpp
Labels: Tests

#13366 Docs: Rename “OS X” to the newer “macOS” convention
  README.md
  contrib/init/README.md
  depends/README.md
  depends/description.md
  doc/README.md
  doc/README_osx.md
  doc/build-osx.md
  doc/init.md
  doc/release-process.md
  src/qt/README.md
Labels: Docs, macOS

#13385 build: Guard against accidental introduction of new Boost dependencies
  test/lint/lint-includes.sh
Labels: Scripts and tools

#13351 wallet: Prevent segfault when sending to unspendable witness
  src/script/standard.cpp
  src/test/script_standard_tests.cpp
Labels: Wallet

#13269 refactoring: Drop UpdateTransaction in favor of UpdateInput
  src/bitcoin-tx.cpp
  src/rpc/rawtransaction.cpp
  src/script/sign.cpp
  src/script/sign.h
  src/test/transaction_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#13367 qa: Increase includeconf test coverage
  src/util.cpp
  test/functional/feature_includeconf.py
Labels: Tests

#13288 rpc: Remove the need to include rpc/blockchain.cpp in order to put `GetDifficulty` under test
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/rpc/mining.cpp
  src/test/blockchain_tests.cpp
Labels: RPC/REST/ZMQ, Refactoring

#13301 lint: Add linter to error on #include <*.cpp>
  test/lint/lint-includes.sh
Labels: Tests

#13394 cli: Ignore libevent warnings
  src/bitcoin-cli.cpp
Labels: RPC/REST/ZMQ

#13369 [docs] update transifex doc link
  doc/translation_process.md
Labels: Docs

#13404 [tests] speed up of tx_validationcache_tests by reusing of CTransaction.
  src/test/txvalidationcache_tests.cpp
Labels: Tests

#13396 Drop unused arith_uint256 ! operator
  src/arith_uint256.h
  src/test/arith_uint256_tests.cpp
Labels: Refactoring

#13259 refactoring: add a method for determining if a block is pruned or not
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/validation.h
Labels: Refactoring

#13374 utils and libraries: checking for bitcoin address in translations
  contrib/devtools/update-translations.py
Labels: Scripts and tools

#13043 [qt] OptionsDialog: add prune setting
  doc/release-notes.md
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
Labels: GUI

#13421 qa: Remove portseed_offset from test runner
  test/functional/test_runner.py
Labels: Tests

#13408 crypto: cleanup sha256 build
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/Makefile.test.include
Labels: Build system

#13294 Fix compiler warnings emitted when compiling under stock OpenBSD 6.3
  src/txmempool.cpp
Labels: Linux/Unix

#13440 qa: Log as utf-8
  test/functional/combine_logs.py
  test/functional/test_framework/test_framework.py
Labels: Tests

#13120 policy: Treat segwit as always active
  src/policy/policy.cpp
  src/policy/policy.h
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  test/functional/feature_nulldummy.py
  test/functional/feature_segwit.py
  test/functional/p2p_segwit.py
  test/functional/wallet_bumpfee.py
  test/lint/check-doc.py
Labels: TX fees and policy

#13393 Enable double-SHA256-for-64-byte code on 32-bit x86
  src/crypto/sha256.cpp
Labels: Validation

#13447 travis: Increase travis_wait time while verifying commits
  .travis.yml
Labels: Tests

#13428 validation: check the specified number of blocks (off-by-one)
  src/validation.cpp
Labels: Validation

#13435 When build fails due to lib missing, indicate which one
  configure.ac
Labels: Build system

#13445 build: Reset default -g -O2 flags when enable debug
  configure.ac
Labels: Build system

#13350 [tests] Add logging to provide anchor points when debugging p2p_sendheaders
  test/functional/p2p_sendheaders.py
Labels: Tests

#13406 travis: Change Mac goal to all deploy
  .travis.yml
Labels: Tests

#13451 rpc: expose CBlockIndex::nTx in getblock(header)
  src/rpc/blockchain.cpp
  test/functional/feature_pruning.py
  test/functional/rpc_blockchain.py
Labels: Needs backport, RPC/REST/ZMQ

#13460 doc: Remove note to install all boost dev packages
  doc/build-unix.md
Labels: Docs

#13422 Drop ParseHashUV in favor of calling ParseHashStr
  src/bitcoin-tx.cpp
  src/core_io.h
  src/core_read.cpp
Labels: Refactoring

#13476 Fix incorrect shell quoting in FreeBSD build instructions.
  doc/build-freebsd.md
Labels: Docs

#13450 Add linter: Enforce the source code file naming convention described in the developer notes
  test/lint/lint-filenames.sh
Labels: Scripts and tools

#13402 Document validationinterace callback blocking deadlock potential.
  src/validation.cpp
  src/validation.h
Labels: Docs

#13241 scripted-diff: Avoid temporary copies when looping over std::map
  src/init.cpp
  src/rpc/net.cpp
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#13465 Avoid concurrency issue when make multiple target
  Makefile.am
Labels: Build system

#13488 Docs: Improve readability of "Squashing commits"
  CONTRIBUTING.md
Labels: Docs

#13494 Follow-up to #13454: Fix broken build by exporting LC_ALL=C
  test/lint/lint-python-utf8-encoding.sh
Labels: Scripts and tools

#13443 Removed unused == operator from CMutableTransaction.
  src/primitives/transaction.h
Labels: Refactoring

#13438 Improve coverage of SHA256 SelfTest code
  src/crypto/sha256.cpp
Labels: Tests, Validation

#13412 Make ReceivedBlockTransactions return void
  src/validation.cpp
Labels: Refactoring

#13437 wallet: Erase wtxOrderd wtx pointer on removeprunedfunds
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: RPC/REST/ZMQ, Wallet

#13506 Qt: load wallet in UI after possible init aborts
  src/wallet/wallet.cpp
Labels: GUI

#13512 [qa] mininode: Expose connection state through is_connected
  test/functional/feature_assumevalid.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_leak.py
  test/functional/p2p_timeouts.py
  test/functional/test_framework/mininode.py
Labels: Tests

#13471 For AVX2 code, also check for AVX, XSAVE, and OS support
  src/crypto/sha256.cpp
Labels: Bug

#13510 Scripts and tools: Obsolete #!/bin/bash shebang
  contrib/devtools/gen-manpages.sh
  contrib/gitian-build.sh
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  contrib/init/bitcoind.init
  contrib/macdeploy/extract-osx-sdk.sh
  contrib/verify-commits/pre-push-hook.sh
  contrib/verifybinaries/verify.sh
  test/lint/lint-all.sh
  test/lint/lint-filenames.sh
  test/lint/lint-include-guards.sh
  test/lint/lint-includes.sh
  test/lint/lint-locale-dependence.sh
  test/lint/lint-logs.sh
  test/lint/lint-python-shebang.sh
  test/lint/lint-python-utf8-encoding.sh
  test/lint/lint-shell-locale.sh
  test/lint/lint-shell.sh
  test/lint/lint-tests.sh
  test/lint/lint-whitespace.sh
Labels: Scripts and tools

#13486 build: Move rpc/util.cpp from libbitcoin-util to libbitcoin-server
  src/Makefile.am
Labels: Build system

#13496 Test: Harden lint-filenames.sh
  test/lint/lint-filenames.sh
Labels: Tests

#13219 bench: Add block assemble benchmark
  src/Makefile.bench.include
  src/bench/block_assemble.cpp
Labels: Tests

#13530 bench: Add missing pow.h header
  src/bench/block_assemble.cpp
Labels: Tests

#13528 qt: Move BitcoinGUI initializers to class, fix initializer order warning
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
Labels: GUI

#13536 [qt] coincontrol: Remove unused qt4 workaround
  src/qt/coincontroldialog.cpp
Labels: GUI

#13507 RPC: Fix parameter count check for importpubkey
  src/wallet/rpcdump.cpp
Labels: Needs backport, RPC/REST/ZMQ

#13531 doc: Clarify that mempool txiter is const_iterator
  src/txmempool.h
Labels: Docs, Validation

#13418 Docs: More precise explanation of parameter onlynet
  src/init.cpp
Labels: Docs

#13532 Log warning when deprecated network name 'tor' is used
  src/netbase.cpp
Labels: P2P

#13503 Document FreeBSD quirk. Fix FreeBSD build: Use std::min<int>(...) to allow for compilation under certain FreeBSD versions.
  src/init.cpp
Labels: Linux/Unix

#12882 tests: Make test_bitcoin pass under ThreadSanitzer (clang). Fix lock-order-inversion (potential deadlock).
  src/net_processing.h
  src/test/denialofservice_tests.cpp
Labels: Tests

#13535 [qa] wallet_basic: Specify minimum required amount for listunspent
  test/functional/wallet_basic.py
Labels: Tests

#13551 tests: Fix incorrect documentation for test case cuckoocache_hit_rate_ok
  src/test/cuckoocache_tests.cpp
Labels: Tests

#13563 bench: Simplify CoinSelection
  src/bench/coin_selection.cpp
Labels: Tests

#13544 depends: Update Qt download url
  depends/packages/qt.mk
Labels: Build system, Needs backport

#13545 tests: Fix test case streams_serializedata_xor. Remove Boost dependency.
  src/test/streams_tests.cpp
  test/lint/lint-includes.sh
Labels: Tests

#13517 qa: Remove need to handle the network thread in tests
  test/functional/README.md
  test/functional/example_test.py
  test/functional/feature_assumevalid.py
  test/functional/feature_block.py
  test/functional/feature_cltv.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dersig.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_nulldummy.py
  test/functional/feature_versionbits_warning.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_fingerprint.py
  test/functional/p2p_invalid_block.py
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_leak.py
  test/functional/p2p_mempool.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_timeouts.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/rpc_blockchain.py
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
Labels: Tests
