Repository bitcoin/bitcoin, pull requests merged in 2018-12, with the labels that each got.

#14841 consensus: Move CheckBlock() call to critical section
  src/validation.cpp
  test/sanitizer_suppressions/tsan
Labels: Refactoring, Validation

#14196 [0.17][psbt] always drop the unnecessary utxo and convert non-witness utxo to witness when necessary
  src/wallet/rpcwallet.cpp
Labels: Wallet

#14828 qt: Remove hidden columns in coin control dialog
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/forms/coincontroldialog.ui
Labels: GUI

#14816 Add CScriptNum decode python implementation in functional suite
  test/functional/mining_basic.py
  test/functional/test_framework/script.py
Labels: Tests

#14804 docs: Less confusing documentation for `torpassword`
  doc/tor.md
Labels: Docs

#14760 Log env path in BerkeleyEnvironment::Flush
  src/wallet/db.cpp
Labels: Wallet

#14861 tests: Modify rpc_bind to conform to #14532 behaviour.
  test/functional/rpc_bind.py
Labels: Tests

#14840 Remove duplicate libconsensus linking in test make
  src/Makefile.test.include
Labels: Build system

#14878 0.17: Further backports
  src/rpc/rawtransaction.cpp
  test/functional/rpc_psbt.py
Labels: Backport

#14864 test: Run scripted-diff in subshell
  test/lint/commit-script-check.sh
Labels: Tests

#14831 Scripts and tools: Use #!/usr/bin/env bash instead of #!/bin/bash.
  contrib/qos/tc.sh
  doc/developer-notes.md
  src/qt/res/movies/makespinner.sh
  test/lint/lint-python-dead-code.sh
  test/lint/lint-shebang.sh
Labels: Refactoring, Scripts and tools

#14869 scripts: Add trusted key for Samuel Dobson
  contrib/verify-commits/trusted-keys
Labels: Scripts and tools

#14882 [doc] developer-notes.md: point out that UniValue deviates from upstream
  doc/developer-notes.md
Labels: Docs

#14564 Adjust configure so that only bip70 is disabled when protobuf is missing instead of the GUI
  configure.ac
Labels: Build system

#14889 [0.17] Backport #14424 (Stop requiring imported pubkey to sign non-PKH schemes)
  src/script/sign.cpp
Labels: Backport, Wallet

#14863 refactor: Add and use HaveTxsDownloaded() where appropriate
  src/chain.h
  src/net_processing.cpp
  src/rpc/blockchain.cpp
  src/validation.cpp
Labels: Docs, Refactoring

#14480 refactor: Drop boost::this_thread::interruption_point and boost::thread_interrupted in main thread
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/validation.cpp
Labels: Refactoring

#14854 qt: Cleanup SplashScreen class
  src/qt/bitcoin.cpp
  src/qt/splashscreen.cpp
  src/qt/splashscreen.h
Labels: GUI

#14890 rpc: Avoid creating non-standard raw transactions
  src/rpc/rawtransaction.cpp
  src/test/rpc_tests.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_rawtransaction.py
Labels: Needs backport, RPC/REST/ZMQ

#14788 tests: Possible fix the permission error when the tests open the cookie file
  test/functional/test_framework/util.py
Labels: Tests

#14801 qt: Use window() instead of obsolete topLevelWidget()
  src/qt/guiutil.cpp
Labels: GUI, Refactoring

#14799 docs: convert link from http to https in doc/release-process.md
  doc/release-process.md
Labels: Docs

#14809 Tools: improve verify-commits.py script
  contrib/verify-commits/README.md
  contrib/verify-commits/verify-commits.py
Labels: Scripts and tools

#14877 rpc: Document default values for optional arguments
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/util.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: Docs, RPC/REST/ZMQ

#14883 add `--retry 5` to curl opts in install_db4.sh
  contrib/install_db4.sh
Labels: Build system, Scripts and tools

#14857 wallet_keypool_topup.py: Test for all keypool address types
  test/functional/wallet_keypool_topup.py
Labels: Tests

#14886 [tests] Refactor importmulti tests
  test/functional/wallet_importmulti.py
Labels: Tests

#14909 doc: Update minimum required Qt
  doc/dependencies.md
Labels: Docs

#14914 Docs: Add nice table to files.md
  doc/files.md
Labels: Docs

#14741 doc: Indicate -rpcauth option password hashing alg
  src/init.cpp
Labels: Docs

#14319 doc: Fix PSBT howto and example parameters
  doc/psbt.md
Labels: Docs, Needs backport

#14940 test: Add test for truncated pushdata script
  src/test/script_tests.cpp
Labels: Tests

#14834 validation: assert that pindexPrev is non-null when required
  src/validation.cpp
Labels: Validation

#14805 tests: Support calling add_nodes more than once
  test/functional/test_framework/test_framework.py
Labels: Tests

#14937 travis: fix travis would always be green even if it fail
  .travis.yml
Labels: Tests

#14947 scripts: Remove Python 2 import workarounds
  contrib/devtools/github-merge.py
  contrib/linearize/linearize-data.py
  contrib/linearize/linearize-hashes.py
  test/util/bitcoin-util-test.py
Labels: Scripts and tools, Tests

#14953 test: Make g_insecure_rand_ctx thread_local
  src/test/denialofservice_tests.cpp
  src/test/test_bitcoin.cpp
  src/test/test_bitcoin.h
Labels: Tests

#14951 Revert "tests: Support calling add_nodes more than once"
  test/functional/test_framework/test_framework.py
Labels: Tests

#14931 test: mempool_persist: Verify prioritization is dumped correctly
  test/functional/mempool_persist.py
Labels: Tests

#14935 tests: Test for expected return values when calling functions returning a success code
  src/test/addrman_tests.cpp
  src/test/checkqueue_tests.cpp
  src/test/coins_tests.cpp
  src/test/cuckoocache_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/denialofservice_tests.cpp
  src/test/key_io_tests.cpp
  src/test/key_tests.cpp
  src/test/multisig_tests.cpp
  src/test/net_tests.cpp
  src/test/script_p2sh_tests.cpp
  src/test/script_standard_tests.cpp
  src/test/script_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/validation_block_tests.cpp
Labels: Tests

#14969 tests: Fix cuckoocache_tests TSAN failure introduced in 14935.
  src/test/checkqueue_tests.cpp
  src/test/cuckoocache_tests.cpp
Labels: Tests

#14979 [Qt] Restore < Qt5.6 compatibility for addAction
  src/qt/bitcoingui.cpp
Labels: GUI

#14964 test: Fix race in mempool_accept
  test/functional/mempool_accept.py
Labels: Tests

#14957 wallet: Initialize stop_block in CWallet::ScanForWalletTransactions
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
Labels: Wallet

#14975 qt: Refactoring with QString::toNSString()
  src/qt/macnotificationhandler.mm
Labels: GUI, Refactoring, macOS

#14950 docs: add NSIS setup/install steps to windows docs
  doc/build-windows.md
Labels: Docs, Windows

#14875 RPCHelpMan: Support required arguments after optional ones
  src/rpc/mining.cpp
  src/rpc/util.cpp
Labels: Docs, RPC/REST/ZMQ

#14993 rpc: Fix data race (UB) in InterruptRPC()
  src/rpc/server.cpp
  test/sanitizer_suppressions/tsan
Labels: RPC/REST/ZMQ

#15005 test: Bump timeout to run tests in travis thread sanitizer
  .travis.yml
  test/functional/feature_block.py
  test/functional/p2p_invalid_messages.py
Labels: Tests

#15013 test: Avoid race in p2p_timeouts
  test/functional/p2p_timeouts.py
Labels: Tests

#13128 policy: Add Clang thread safety annotations for variables guarded by cs_feeEstimator
  src/policy/fees.cpp
  src/policy/fees.h
Labels: Refactoring

#14960 lint/format-strings: Correctly exclude escaped percent symbols
  test/lint/lint-format-strings.py
Labels: Tests

#13930 doc: Better explain GetAncestor check for m_failed_blocks in AcceptBlockHeader
  src/validation.cpp
Labels: Docs, Validation

#14900 [backport] #14679 importmulti: Don't add internal addresses to address book
  src/wallet/rpcdump.cpp
  test/functional/wallet_importmulti.py
Labels: Backport, Wallet

#14893 0.17 [Backport 14890] rpc: Avoid creating non-standard raw transactions
  src/rpc/rawtransaction.cpp
  src/test/rpc_tests.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_rawtransaction.py
Labels: Backport

#15033 doc: Add historical release notes for 0.17.1
  doc/release-notes/release-notes-0.17.1.md
Labels: Docs

#14930 test: pruning: Check that verifychain can be called when pruned
  test/functional/feature_pruning.py
Labels: Tests

#14973 doc: Improve Windows native build instructions
  build_msvc/README.md
Labels: Docs

#14944 doc: update NetBSD build instructions for 8.0
  doc/build-netbsd.md
Labels: Docs, Needs backport

#14981 rpc: Clarifying RPC getrawtransaction's time help text
  src/rpc/rawtransaction.cpp
Labels: Docs, RPC/REST/ZMQ

#14966 docs: fix testmempoolaccept CLI syntax
  src/rpc/rawtransaction.cpp
Labels: Docs

#15055 [0.17] Backport #14944
  doc/build-netbsd.md
Labels: Backport, Docs

#13743 refactor: Replace boost::bind with std::bind
  src/bench/block_assemble.cpp
  src/init.cpp
  src/qt/bitcoingui.cpp
  src/qt/clientmodel.cpp
  src/qt/splashscreen.cpp
  src/qt/transactiontablemodel.cpp
  src/qt/walletmodel.cpp
  src/rpc/server.cpp
  src/scheduler.cpp
  src/scheduler.h
  src/test/scheduler_tests.cpp
  src/test/test_bitcoin.cpp
  src/test/transaction_tests.cpp
  src/torcontrol.cpp
  src/validation.cpp
  src/validationinterface.cpp
  test/lint/lint-includes.sh
Labels: Refactoring

#14738 Tests: Fix running wallet_listtransactions.py individually through test_runner.py
  test/functional/test_framework/test_framework.py
  test/functional/wallet_listtransactions.py
Labels: Tests

#15053 [0.17] Backport #14966
  src/rpc/rawtransaction.cpp
Labels: Backport, Docs

#15061 [Trivial] Update license year range to 2019
  COPYING
  configure.ac
  contrib/debian/copyright
Labels: Docs

#14974 doc: Removing redundant line: "Windows XP not supported"
  doc/release-notes.md
Labels: Docs
