Repository bitcoin/bitcoin, pull requests merged in 2018-03, with the labels that each got.

#12421 [qt] navigate to transaction history page after send
  src/qt/bitcoin.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
  src/qt/walletview.cpp
Labels: GUI

#12570 Add test cases for HexStr (std::reverse_iterator and corner cases)
  src/test/util_tests.cpp
Labels: Tests

#12518 [0.16] Bump leveldb subtree
  src/leveldb/db/db_impl.cc
  src/leveldb/db/leveldbutil.cc
  src/leveldb/db/log_reader.cc
  src/leveldb/db/repair.cc
  src/leveldb/helpers/memenv/memenv.cc
  src/leveldb/include/leveldb/env.h
  src/leveldb/table/format.cc
  src/leveldb/util/env_posix.cc
  src/leveldb/util/env_win.cc
Labels: Upstream

#12546 [docs] Minor improvements to Compatibility Notes
  doc/release-notes.md
Labels: Docs

#12182 Remove useless string initializations
  src/netbase.cpp
  src/rest.cpp
  src/test/net_tests.cpp
  src/utilstrencodings.cpp
  src/wallet/rpcdump.cpp
Labels: Refactoring

#12584 Fix typos and cleanup documentation
  doc/README_osx.md
  doc/REST-interface.md
  doc/translation_process.md
  doc/zmq.md
Labels: Docs

#12582 Fix ListCoins test failure due to unset g_wallet_allow_fallback_fee
  src/qt/test/wallettests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Tests

#12585 [0.16] depends: Switch to downloading expat from GitHub
  depends/packages/expat.mk
Labels: Build system

#12543 Fix typos
  doc/build-windows.md
  src/test/util_tests.cpp
  test/functional/wallet_dump.py
Labels: Docs

#12580 Show a transaction's virtual size in its details dialog
  src/qt/transactiondesc.cpp
Labels: GUI

#12475 qa: Fix python TypeError in script.py
  test/functional/test_framework/script.py
Labels: Tests

#12434 [doc] dev-notes: Members should be initialized
  doc/developer-notes.md
  src/miner.cpp
Labels: Docs

#12452 docs: clarified systemd installation instructions in init.md for Ubuntu users.
  doc/init.md
Labels: Docs

#12260 [Trivial] link mentioned scripted-diff-commit (developer-doc)
  doc/developer-notes.md
Labels: Docs

#12573 Fix compilation when compiler do not support __builtin_clz*
  src/crypto/common.h
Labels: Build system

#12527 gitian-build.sh: fix signProg being recognized as two parameters
  contrib/gitian-build.sh
Labels: Scripts and tools

#12466 depends: Only use D_DARWIN_C_SOURCE when building miniupnpc on darwin
  depends/packages/miniupnpc.mk
Labels: Build system

#12516 Avoid unintentional unsigned integer wraparounds in tests
  src/test/prevector_tests.cpp
  src/test/scheduler_tests.cpp
  src/wallet/test/accounting_tests.cpp
Labels: Tests

#11889 Drop extra script variable in ProduceSignature
  src/script/sign.cpp
Labels: Refactoring, Validation

#12501 [qt] Improved "custom fee" explanation in tooltip
  src/qt/forms/sendcoinsdialog.ui
Labels: GUI

#11880 Stop special-casing phashBlock handling in validation for TBV
  src/validation.cpp
Labels: Validation

#11995 [depends] Fix Qt build with Xcode 9
  depends/packages/qt.mk
  depends/patches/qt/fix-cocoahelpers-macos.patch
Labels: Build system, MacOSX, Needs backport

#12512 Don't test against the mempool min fee information in mempool_limit.py
  test/functional/mempool_limit.py
Labels: Tests

#12568 Allow dustrelayfee to be set to zero
  src/init.cpp
Labels: TX fees and policy

#12604 Add DynamicMemoryUsage() to CDBWrapper to estimate LevelDB memory use
  src/dbwrapper.cpp
  src/dbwrapper.h
Labels: Resource usage

#12615 doc: allow for SIGNER containing spaces
  doc/release-process.md
Labels: Docs

#12616 Set modal overlay hide button as default
  src/qt/forms/modaloverlay.ui
Labels: GUI

#12588 [Utils] Remove deprecated PyZMQ call from Python ZMQ example
  contrib/zmq/zmq_sub.py
  contrib/zmq/zmq_sub3.4.py
Labels: Scripts and tools

#10271 Use std::thread::hardware_concurrency, instead of Boost, to determine available cores
  src/util.cpp
  src/util.h
Labels: Utils/log/libs

#12373 Build: Add build support for profiling.
  configure.ac
  doc/developer-notes.md
  src/Makefile.am
Labels: Build system, Tests

#12617 gui: Show messages as text not html
  src/qt/bitcoingui.cpp
Labels: GUI

#9037 net: Add test-before-evict discipline to addrman
  src/addrman.cpp
  src/addrman.h
  src/net.cpp
  src/test/addrman_tests.cpp
Labels: P2P

#12603 [docs] PeerLogicValidation interface
  src/net_processing.cpp
  src/net_processing.h
Labels: Docs

#12564 [arith_uint256] Avoid unnecessary this-copy using prefix operator
  src/arith_uint256.h
Labels: Refactoring

#12622 net: Correct addrman logging
  src/addrman.cpp
Labels: P2P

#12432 [qt] send: Clear All also resets coin control options
  src/qt/sendcoinsdialog.cpp
Labels: GUI

#12097 [scripts] lint-whitespace: use perl instead of grep -P
  contrib/devtools/lint-whitespace.sh
Labels: Scripts and tools

#12098 [scripts] lint-whitespace: add param to check last N commits
  contrib/devtools/lint-whitespace.sh
Labels: Scripts and tools

#12600 Add a test for large tx output scripts with segwit input.
  src/test/data/tx_valid.json
Labels: Tests

#12619 doc: Give hint about gitian not able to download
  doc/release-process.md
Labels: Docs

#12482 [tests] bind functional test nodes to 127.0.0.1
  test/functional/rpc_bind.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/wallet_dump.py
  test/functional/wallet_import_rescan.py
Labels: Tests

#12204 Fix overly eager BIP30 bypass
  src/validation.cpp
Labels: Consensus

#12631 [gitian] Alphabetize signing keys & add kallewoof key
  contrib/gitian-keys/keys.txt
Labels: Docs

#12627 qa: Fix some tests to work on native windows
  test/functional/mempool_persist.py
  test/functional/test_framework/netutil.py
  test/functional/wallet_dump.py
Labels: Tests, Windows

#12620 Remove TransactionTableModel::TxIDRole
  src/qt/transactiondesc.cpp
  src/qt/transactiondescdialog.cpp
  src/qt/transactionfilterproxy.cpp
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/qt/transactiontablemodel.h
  src/qt/transactionview.cpp
Labels: GUI, Refactoring

#11900 [script] simplify CheckMinimalPush checks, add safety assert
  src/script/interpreter.cpp
Labels: TX fees and policy

#12626 Limit the number of IPs addrman learns from each DNS seeder
  src/net.cpp
Labels: Needs backport, P2P

#9598 Improve readability by removing redundant casts to same type (on all platforms)
  src/init.cpp
  src/key.cpp
Labels: Refactoring

#12637 backport: #12556 fix version typo in getpeerinfo RPC call help
  src/rpc/net.cpp
Labels: Backport, Docs

#12607 depends: Remove ccache
  .travis.yml
  depends/config.site.in
  depends/packages/native_ccache.mk
  depends/packages/packages.mk
  doc/dependencies.md
Labels: Build system

#12567 util: Print timestamp strings in logs using ISO 8601 formatting
  doc/release-notes.md
  src/init.cpp
  src/net.cpp
  src/qt/paymentserver.cpp
  src/test/util_tests.cpp
  src/util.cpp
  src/utiltime.cpp
  src/utiltime.h
  src/validation.cpp
  src/wallet/rpcdump.cpp
  test/functional/combine_logs.py
  test/functional/test_framework/test_framework.py
Labels: Utils/log/libs

#12572 [script] lint-whitespace: find errors more easily
  contrib/devtools/lint-whitespace.sh
Labels: Scripts and tools

#12545 test: Use wait_until to ensure ping goes out
  test/functional/rpc_net.py
Labels: Tests

#10694 Remove redundant code in MutateTxSign(CMutableTransaction&, const std::string&)
  src/bitcoin-tx.cpp
Labels: Refactoring, Utils/log/libs

#12659 Improve Fatal LevelDB Log Messages
  src/dbwrapper.cpp
Labels: Utils/log/libs

#12405 travis: Full clone for git subtree check
  .travis.yml
Labels: Tests

#12643 [qa] util: Remove unused sync_chain
  test/functional/rpc_preciousblock.py
  test/functional/test_framework/util.py
Labels: Tests

#12658 Sanitize some wallet serialization
  src/wallet/wallet.h
Labels: Wallet

#11041 Add LookupBlockIndex
  src/checkpoints.cpp
  src/checkpoints.h
  src/init.cpp
  src/net_processing.cpp
  src/qt/transactionrecord.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: Bug, Refactoring

#12681 Fix ComputeTimeSmart test failure with -DDEBUG_LOCKORDER
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
Labels: Tests

#12680 Add missing virtual destructor in PeerLogicValidation
  src/net.h
  src/net_processing.h
  src/validationinterface.h
Labels: Refactoring

#12682 travis: Clone depth 1 unless $CHECK_DOC
  .travis.yml
Labels: Tests

#12625 depends: biplist 1.0.3
  depends/packages/native_biplist.mk
  depends/patches/native_biplist/sorted_list.patch
Labels: Build system

#12102 Apply hardening measures in bitcoind systemd service file
  contrib/init/bitcoind.service
Labels: Scripts and tools

#12666 configure: UniValue 1.0.4 is required for pushKV(, bool)
  configure.ac
Labels: Build system

#12080 Add support to search the address book
  src/qt/addressbookpage.cpp
  src/qt/addressbookpage.h
  src/qt/forms/addressbookpage.ui
Labels: GUI

#12668 Doc: do update before fetching packages in WSL build guide
  doc/build-windows.md
Labels: Docs

#12586 docs: Update osx brew install instruction
  doc/build-osx.md
Labels: Docs, MacOSX

#12693 Remove unused variable in SortForBlock
  src/miner.cpp
  src/miner.h
Labels: Mining, Refactoring

#12621 Avoid querying unnecessary model data when filtering transactions
  src/qt/transactionfilterproxy.cpp
Labels: GUI

#12542 Remove redundant includes. Conform to header include guidelines.
  src/rpc/util.cpp
  src/rpc/util.h
  src/util.cpp
Labels: Refactoring

#12437 [Trivial] Simplify if-else blocks and more descriptive variable naming
  test/functional/test_runner.py
Labels: Tests

#12710 Append scripts to new test_list array to fix bad assignment
  test/functional/test_runner.py
Labels: Tests

#12720 qa: Avoiding 'file' function name from python2
  test/functional/test_runner.py
Labels: Refactoring, Tests

#12408 wallet: Change output type globals to members
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/editaddressdialog.cpp
  src/qt/paymentserver.cpp
  src/qt/receivecoinsdialog.cpp
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/wallet/coincontrol.h
  src/wallet/init.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet

#12700 Document RPC method aliasing
  doc/developer-notes.md
  src/rpc/server.h
Labels: Docs, RPC/REST/ZMQ

#12727 [RPC] Remove unreachable help conditions in rpcwallet.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ, Refactoring

#12721 Qt: remove "new" button during receive-mode in addressbook
  src/qt/addressbookpage.cpp
  src/qt/editaddressdialog.cpp
  src/qt/editaddressdialog.h
Labels: GUI

#12728 [tests] rename TestNode to TestP2PConn in tests
  test/functional/feature_maxuploadtarget.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_segwit.py
  test/functional/p2p_timeouts.py
  test/functional/test_framework/comptool.py
Labels: Tests

#12716 Fix typos and cleanup in various files
  src/core_write.cpp
  src/cuckoocache.h
  src/net.cpp
  src/net_processing.cpp
  src/qt/coincontroldialog.cpp
  src/qt/guiutil.h
  src/qt/modaloverlay.cpp
  src/qt/splashscreen.cpp
  src/qt/walletmodel.cpp
  src/random.h
  src/script/interpreter.cpp
  src/support/lockedpool.cpp
  src/test/addrman_tests.cpp
  src/test/coins_tests.cpp
  src/test/cuckoocache_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/mempool_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/tinyformat.h
  src/txmempool.h
  src/undo.h
  src/util.h
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/example_test.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_pruning.py
  test/functional/interface_rest.py
  test/functional/mempool_persist.py
  test/functional/mining_prioritisetransaction.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_leak.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_segwit.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/rpc_bind.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_basic.py
  test/functional/wallet_listsinceblock.py
Labels: Docs

#12723 Qt5: Warning users about invalid-BIP21 URI bitcoin://
  src/qt/guiutil.cpp
  src/qt/paymentserver.cpp
  src/qt/test/uritests.cpp
Labels: GUI

#12746 tests: Remove unused argument max_invalid from check_estimates(...)
  test/functional/feature_fee_estimation.py
Labels: Tests

#12747 Fix typos
  src/addrman.h
  src/consensus/validation.h
  src/policy/policy.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/util/data/bitcoin-util-test.json
Labels: Docs

#12750 Replace boost::call_once with std::call_once
  src/util.cpp
Labels: Refactoring

#12704 base58: use map instead of strchr() when decode
  src/base58.cpp
  src/test/data/base58_encode_decode.json
Labels: Refactoring

#12076 qa: Use node.datadir instead of tmpdir in test framework
  test/functional/feature_bip9_softforks.py
  test/functional/feature_config_args.py
  test/functional/feature_pruning.py
  test/functional/mempool_persist.py
  test/functional/rpc_bind.py
  test/functional/rpc_users.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/wallet_backup.py
  test/functional/wallet_hd.py
  test/functional/wallet_keypool_topup.py
  test/functional/wallet_multiwallet.py
Labels: Refactoring, Tests

#12630 Provide useful error message if datadir is not writable.
  src/init.cpp
  src/test/util_tests.cpp
  src/util.cpp
  src/util.h
Labels: Utils/log/libs

#12742 Make FastRandomContext support standard C++11 RNG interface
  src/random.h
  src/test/random_tests.cpp
Labels: Refactoring

#12772 [CI]: bump travis timeout for make check to 50m
  .travis.yml
Labels: Tests, Windows

#12760 Docs: Improve documentation on standard communication channels
  CONTRIBUTING.md
  README.md
Labels: Docs

#12756 [config] Remove blockmaxsize option
  doc/release-notes.md
  src/init.cpp
  src/miner.cpp
  test/functional/feature_fee_estimation.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_pruning.py
Labels: Mining

#12699 [wallet] Shuffle transaction inputs before signing
  src/wallet/wallet.cpp
Labels: Wallet

#11962 [net] add seed.bitcoin.sprovoost.nl to DNS seeds
  src/chainparams.cpp
Labels: P2P

#12779 Qt: Remove unused method setupAmountWidget(...)
  src/qt/guiutil.cpp
  src/qt/guiutil.h
Labels: GUI

#12793 qt: Avoid reseting on resetguisettigs=0
  src/qt/bitcoin.cpp
Labels: GUI

#12795 do not truncate .dat extension for wallets in gui
  src/qt/walletmodel.cpp
Labels: GUI

#10742 scripted-diff: Use scoped enumerations (C++11, "enum class")
  src/bench/verify_script.cpp
  src/bitcoind.cpp
  src/init.cpp
  src/init.h
  src/policy/fees.h
  src/policy/policy.cpp
  src/policy/rbf.cpp
  src/policy/rbf.h
  src/qt/bitcoingui.cpp
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/utilitydialog.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/script/ismine.cpp
  src/script/ismine.h
  src/script/sign.cpp
  src/test/data/tx_invalid.json
  src/test/multisig_tests.cpp
  src/test/script_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/versionbits_tests.cpp
  src/validation.cpp
  src/versionbits.cpp
  src/versionbits.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/accounting_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Refactoring

#12797 init: Fix help message for checkblockindex
  src/init.cpp
Labels: Docs

#12714 Introduce interface for signing providers
  src/keystore.h
  src/script/sign.cpp
  src/script/sign.h
Labels: Refactoring

#12778 RPC: Add username and ip logging for RPC method requests
  src/httprpc.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Labels: RPC/REST/ZMQ

#12806 qa: Fix function names in feature_blocksdir
  test/functional/feature_blocksdir.py
Labels: Tests

#12798 doc: Refer to witness reserved value as spec. in the BIP
  src/validation.cpp
  src/validation.h
  test/functional/p2p_segwit.py
Labels: Docs

#12811 test: Make summary row bold-red if any test failed and show failed tests at end of table
  test/functional/test_runner.py
Labels: Tests

#12821 contrib: Remove unused import string
  contrib/devtools/clang-format-diff.py
Labels: Scripts and tools

#12495 Increase LevelDB max_open_files
  doc/developer-notes.md
  src/dbwrapper.cpp
Labels: Resource usage

#12787 rpc: Adjust ifdef to avoid unreachable code
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ, Refactoring

#12790 [Tests] Use blockmaxweight where tests previously had blockmaxsize
  test/functional/feature_fee_estimation.py
  test/functional/feature_pruning.py
Labels: Tests

#12759 [Docs] Improve formatting of developer notes
  doc/developer-notes.md
Labels: Docs

#12172 Bugfix: RPC: savemempool: Don't save until LoadMempool() is finished
  src/init.cpp
  src/rpc/blockchain.cpp
  src/validation.cpp
  src/validation.h
Labels: Mempool, RPC/REST/ZMQ

#12752 [MOVEONLY] Move compressor utility functions out of class
  src/compressor.cpp
  src/compressor.h
  src/test/compress_tests.cpp
Labels: Refactoring

#12740 Add native support for serializing char arrays without FLATDATA
  src/addrdb.cpp
  src/netaddress.h
  src/protocol.h
  src/serialize.h
  src/test/net_tests.cpp
  src/test/serialize_tests.cpp
  src/test/streams_tests.cpp
  src/validation.cpp
Labels: Refactoring

#12839 test: Remove travis checkout depth
  .travis.yml
Labels: Tests

#12810 [Tests] Fix a typo at assert_start_raises_init_error() and use specific exception for initialization error
  test/functional/test_framework/test_node.py
Labels: Tests

#12780 Reduce variable scopes
  src/qt/recentrequeststablemodel.cpp
  src/test/test_bitcoin.cpp
  src/test/util_tests.cpp
Labels: Refactoring

#12713 Track negated options in the option parser
  src/test/util_tests.cpp
  src/util.cpp
  src/util.h
Labels: Refactoring, Utils/log/libs

#12804 [tests] Fix intermittent rpc_net.py failure.
  test/functional/rpc_net.py
Labels: Tests
