Repository bitcoin/bitcoin, pull requests merged in 2018-09, with the labels that each got.

#14122 Test rpc_help.py failed: Check whether ZMQ is enabled or not.
  test/functional/rpc_help.py
  test/functional/test_framework/test_framework.py
Labels: Tests

#14120 Notes about control port and read access to cookie
  doc/tor.md
Labels: Docs

#14140 [Net] Switch nPrevNodeCount to vNodesSize
  src/net.cpp
Labels: P2P

#14135 doc: correct GetDifficulty doc after #13288
  src/rpc/blockchain.h
Labels: Docs

#14129 Trivial: update clang thread-safety docs url
  src/threadsafety.h
Labels: Docs

#14128 lint: Make sure we read the command line inputs using utf-8 decoding in python
  contrib/devtools/optimize-pngs.py
  contrib/gitian-build.py
  contrib/verify-commits/verify-commits.py
  test/lint/check-doc.py
  test/lint/lint-python-utf8-encoding.sh
Labels: Tests

#14094 refactoring: Remove unreferenced local variables
  src/rest.cpp
  src/test/coins_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/net_tests.cpp
  src/wallet/rpcwallet.cpp
Labels: Refactoring

#14013 [doc] Add new regtest ports in man following #10825 ports reattributions
  src/bitcoin-cli.cpp
  src/init.cpp
Labels: Docs

#14133 gui: Favor macOS show / hide action in dock menu
  src/qt/bitcoingui.cpp
Labels: macOS

#13249 Make objects in range declarations immutable by default. Avoid unnecessary copying of objects in range declarations.
  src/bech32.cpp
  src/bitcoin-tx.cpp
  src/cuckoocache.h
  src/net.cpp
  src/net_processing.cpp
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/peertablemodel.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/splashscreen.cpp
  src/qt/trafficgraphwidget.cpp
  src/qt/transactiondesc.cpp
  src/qt/transactionrecord.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/test/checkqueue_tests.cpp
  src/test/coins_tests.cpp
  src/test/cuckoocache_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/getarg_tests.cpp
  src/test/key_io_tests.cpp
  src/test/skiplist_tests.cpp
  src/test/test_bitcoin.cpp
  src/test/transaction_tests.cpp
  src/test/util_tests.cpp
  src/timedata.cpp
  src/txmempool.cpp
  src/utilstrencodings.cpp
  src/validation.cpp
  src/wallet/crypter.cpp
  src/wallet/db.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
Labels: Refactoring

#14086 appveyor: Use clcache to speed up build
  appveyor.yml
  build_msvc/libbitcoinconsensus/libbitcoinconsensus.vcxproj
Labels: Tests

#14100 doc: Change documentation for =0 for non-boolean options
  src/init.cpp
Labels: Docs, Needs backport

#14149 doc: Remove misleading checkpoints comment in CMainParams
  src/chainparams.cpp
Labels: Docs

#14153 Docs: Add disable-wallet section to OSX build instructions, update line in Unix instructions
  doc/build-osx.md
  doc/build-unix.md
Labels: Docs

#12775 Integration of property based testing into Bitcoin Core
  configure.ac
  depends/Makefile
  depends/README.md
  depends/packages/packages.mk
  depends/packages/rapidcheck.mk
  src/Makefile.test.include
  src/test/gen/crypto_gen.cpp
  src/test/gen/crypto_gen.h
  src/test/key_properties.cpp
Labels: Tests

#14119 qa: Read reject reasons from debug log, not p2p messages
  test/functional/feature_block.py
  test/functional/feature_cltv.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dersig.py
  test/functional/p2p_invalid_block.py
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_segwit.py
  test/functional/test_framework/mininode.py
Labels: Tests

#14186 bitcoin-cli: don't translate command line options
  src/bitcoin-cli.cpp
Labels: Docs, Utils/log/libs

#14057 [Logging] Only log "Using config file PATH_TO_bitcoin.conf" message on startup if conf file exists
  src/init.cpp
Labels: Utils/log/libs

#14164 Update univalue subtree
  src/univalue/gen/gen.cpp
  src/univalue/include/univalue.h
  src/univalue/lib/univalue.cpp
  src/univalue/lib/univalue_read.cpp
  src/univalue/lib/univalue_write.cpp
  src/univalue/test/unitester.cpp
Labels: Utils/log/libs

#14183 depends: Remove unused Qt 4 dependencies
  depends/packages/libICE.mk
  depends/packages/libSM.mk
Labels: Build system

#14138 wallet: Set encrypted_batch to nullptr after delete. Avoid double free in the case of NDEBUG.
  src/wallet/wallet.cpp
Labels: Wallet

#14127 build: avoid getifaddrs when unavailable
  configure.ac
  src/net.cpp
Labels: Build system

#14008 Preserve a format of RPC command definitions
  src/coins.h
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ

#13793 tx pool: Use class methods to hide raw map iterator impl details
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
Labels: Refactoring

#9332 Let wallet importmulti RPC accept labels for standard scriptPubKeys
  src/wallet/rpcdump.cpp
  test/functional/wallet_import_rescan.py
  test/functional/wallet_importmulti.py
Labels: RPC/REST/ZMQ

#14189 qa: Fix silent merge conflict in wallet_importmulti
  test/functional/wallet_importmulti.py
Labels: Refactoring, Tests

#13866 utils: Use _wfopen and _wfreopen on Windows
  src/fs.cpp
Labels: Utils/log/libs, Windows

#14184 Scripts and tools: increased timeout downloading
  depends/Makefile
Labels: Build system

#14204 build: Move interfaces/* to libbitcoin_server
  src/Makefile.am
Labels: Build system, Refactoring

#14209 logging: Replace LogPrint macros with regular functions
  src/logging.h
  test/lint/lint-format-strings.py
Labels: Refactoring, Tests

#14207 doc: `-help-debug` implies `-help`
  src/init.cpp
  src/qt/paymentrequestplus.cpp
  src/util.cpp
Labels: Docs

#13888 Call unicode API on Windows
  src/netbase.cpp
  src/util.cpp
Labels: Windows

#14199 [psbt]Remove redundant BIP174 test from rpc_psbt.json
  test/functional/data/rpc_psbt.json
Labels: Tests

#13310 Report progress in ReplayBlocks while rolling forward
  src/validation.cpp
Labels: GUI, Validation

#13983 rpc: Return more specific reject reason for submitblock
  src/rpc/mining.cpp
  test/functional/mining_basic.py
Labels: Mining, RPC/REST/ZMQ

#14208 [build] Actually remove ENABLE_WALLET
  src/dummywallet.cpp
  src/interfaces/node.cpp
  src/interfaces/wallet.h
Labels: Build system

#14192 utils: Convert fs::filesystem_error messages from local multibyte to utf-8 on Windows
  src/fs.cpp
  src/fs.h
  src/rpc/protocol.cpp
  src/wallet/db.cpp
  src/wallet/wallet.cpp
Labels: Utils/log/libs, Windows

#14206 doc: Document -checklevel levels
  src/init.cpp
Labels: Docs

#14212 build: Remove libssl from LDADD unless gui
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.test.include
Labels: Build system

#14227 integer division instead of implicit double conversion
  src/validation.h
Labels: Refactoring, Validation

#13578 [depends, zmq, doc] upgrade zeromq to 4.2.5 and avoid deprecated zeromq api functions
  depends/packages/zeromq.mk
  depends/patches/zeromq/0001-fix-build-with-older-mingw64.patch
  depends/patches/zeromq/0002-disable-pthread_set_name_np.patch
  doc/build-unix.md
  doc/dependencies.md
  doc/zmq.md
  src/zmq/zmqnotificationinterface.cpp
Labels: Build system

#14236 qa: generate --> generatetoaddress change to allow tests run without wallet
  test/functional/example_test.py
  test/functional/feature_block.py
  test/functional/feature_blocksdir.py
  test/functional/feature_logging.py
  test/functional/feature_minchainwork.py
  test/functional/feature_reindex.py
  test/functional/feature_versionbits_warning.py
  test/functional/mining_basic.py
  test/functional/p2p_fingerprint.py
  test/functional/p2p_invalid_block.py
  test/functional/p2p_invalid_locator.py
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_leak.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_getchaintips.py
  test/functional/rpc_invalidateblock.py
  test/functional/rpc_preciousblock.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
Labels: Tests

#14251 doc: Add historical release notes for 0.16.3
  doc/release-notes/release-notes-0.16.3.md
Labels: Docs

#13152 [rpc] Add getnodeaddresses RPC command
  doc/release-notes-13152.md
  src/rpc/client.cpp
  src/rpc/net.cpp
  test/functional/rpc_net.py
Labels: RPC/REST/ZMQ

#14276 doc: Add autogen.sh in ARM Cross-compilation
  doc/build-unix.md
Labels: Docs, Needs backport

#14272 init: Remove deprecated args from hidden args
  src/bitcoin-cli.cpp
  src/httpserver.cpp
  src/init.cpp
  test/lint/check-doc.py
Labels: Utils/log/libs

#14214 convert C-style (void) parameter lists to C++ style ()
  src/httprpc.cpp
  src/httpserver.cpp
  src/httpserver.h
  src/init.cpp
  src/key.h
  src/qt/bitcoin.cpp
  src/qt/macnotificationhandler.h
  src/qt/rpcconsole.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/scheduler.cpp
  src/scheduler.h
  src/test/crypto_tests.cpp
  src/util.cpp
  src/util.h
  src/validation.cpp
Labels: Refactoring

#14287 tests: Use MakeUnique to construct objects owned by unique_ptrs
  doc/developer-notes.md
  src/bench/bench_bitcoin.cpp
  src/bench/coin_selection.cpp
  src/test/allocator_tests.cpp
  src/test/checkqueue_tests.cpp
  src/test/net_tests.cpp
  src/test/test_bitcoin.cpp
  src/test/test_bitcoin_fuzzy.cpp
  src/wallet/test/coinselector_tests.cpp
Labels: Docs, Tests

#13546 wallet: Fix use of uninitialized value bnb_used in CWallet::CreateTransaction(...)
  src/wallet/wallet.cpp
Labels: Wallet

#14298 [REST] improve performance for JSON calls
  src/rest.cpp
Labels: RPC/REST/ZMQ

#13424 Consistently validate txid / blockhash length and encoding in rpc calls
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  test/functional/mining_prioritisetransaction.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_sendheaders.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_rawtransaction.py
  test/functional/rpc_txoutproof.py
  test/functional/wallet_basic.py
  test/functional/wallet_listsinceblock.py
Labels: Refactoring

#14306 AppVeyor: Move AppVeyor YAML to dot-file-style YAML
  .appveyor.yml
Labels: Tests

#14281 lcov: filter /usr/lib/ from coverage reports
  Makefile.am
Labels: Build system, Tests

#13877 utils: Make fs::path::string() always return utf-8 string on Windows
  src/fs.h
  src/qt/guiutil.cpp
  src/util.cpp
  test/lint/lint-includes.sh
Labels: Utils/log/libs, Windows

#14027 Skip stale tip checking if outbound connections are off or if reindexing.
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
Labels: P2P

#14307 Consolidate redundant implementations of ParseHashStr
  src/bitcoin-tx.cpp
  src/core_io.h
  src/core_read.cpp
  src/rest.cpp
  src/test/blockfilter_tests.cpp
  test/util/data/bitcoin-util-test.json
Labels: Refactoring

#14244 amount: Move CAmount CENT to unit test header
  src/amount.h
  src/bench/ccoins_caching.cpp
  src/test/test_bitcoin.h
  src/utilmoneystr.cpp
  src/wallet/coinselection.h
Labels: Refactoring

#14316 tests: exclude all tests with difference parameters in `--exclude` list
  .appveyor.yml
  test/functional/test_runner.py
Labels: Tests

#14217 doc: Add GitHub pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Docs
