Repository bitcoin/bitcoin, pull requests merged in 2018-07, with the labels that each got.

#13537 GUI: Peer table: Visualize inbound/outbound state for every row
  src/qt/peertablemodel.cpp
Labels: GUI, P2P

#13431 validation: count blocks correctly for check level < 3
  src/validation.cpp
Labels: Validation

#13522 [tests] Fix p2p_sendheaders race
  test/functional/p2p_sendheaders.py
Labels: Tests

#13568 Trivial: Remove double semicolon from wallet.cpp and misc.cpp
  src/rpc/misc.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#13575 Refactor: Rename NET_TOR to NET_ONION
  src/init.cpp
  src/netaddress.cpp
  src/netaddress.h
  src/netbase.cpp
  src/qt/optionsdialog.cpp
  src/test/netbase_tests.cpp
  src/torcontrol.cpp
Labels: P2P, Refactoring

#13592 Docs: Modify policy to not translate command-line help
  doc/translation_strings_policy.md
Labels: Docs

#13588 Docs: Improve doc of options addnode, connect, seednode
  src/init.cpp
Labels: Docs

#13580 build: Detect if char equals int8_t
  configure.ac
  src/serialize.h
Labels: Build system

#13467 [Tests] Make p2p_segwit easier to debug
  test/functional/p2p_segwit.py
Labels: Tests

#13577 logging: avoid nStart may be used uninitialized in AppInitMain warning
  src/init.cpp
Labels: Refactoring

#13096 [Policy] Fix MAX_STANDARD_TX_WEIGHT check
  src/net_processing.cpp
  src/policy/policy.cpp
  src/wallet/wallet.cpp
Labels: TX fees and policy

#12788 [build] Tune wildcards for LIBSECP256K1 target
  src/Makefile.am
Labels: Build system

#13598 bench: fix incorrect behaviour in prevector.cpp
  src/bench/prevector.cpp
Labels: Tests

#13564 [wallet] loadwallet shouldn't create new wallets.
  src/wallet/rpcwallet.cpp
  test/functional/wallet_multiwallet.py
Labels: Wallet

#13611 [bugfix] Use __cpuid_count for gnu C to avoid gitian build fail.
  src/crypto/sha256.cpp
Labels: Build system, Utils/log/libs

#13614 doc: Update command line help for -printtoconsole and -debuglogfile (satwo)
  src/init.cpp
Labels: Docs

#13570 RPC: Add new "getzmqnotifications" method
  doc/release-notes.md
  src/Makefile.am
  src/init.cpp
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
  src/zmq/zmqrpc.cpp
  src/zmq/zmqrpc.h
  test/functional/rpc_zmq.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#13603 bitcoin-tx: Stricter check for valid integers
  src/bitcoin-tx.cpp
  test/util/data/bitcoin-util-test.json
Labels: Utils/log/libs

#13605 Docs: corrected text to reflect new[er] process of specifying fingerprints
  contrib/gitian-keys/README.md
Labels: Docs

#13481 doc: Rewrite some validation docs as lock annotations
  src/validation.cpp
  src/validation.h
Labels: Docs, Validation

#13118 RPCAuth Detection in Logs
  src/httprpc.cpp
Labels: Utils/log/libs

#13586 refactor: add benchmarks to bech32::Encode/Decode
  src/Makefile.bench.include
  src/bench/bech32.cpp
Labels: Refactoring

#13574 [0.15] backport depends: Update Qt download url
  depends/packages/qt.mk
Labels: Build system

#13622 Remove mapRequest tracking that just effects Qt display.
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/net_processing.cpp
  src/qt/guiconstants.h
  src/qt/transactiondesc.cpp
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: GUI, Wallet

#13145 Use common getPath method to create temp directory in tests.
  src/test/dbwrapper_tests.cpp
  src/test/test_bitcoin.cpp
  src/test/test_bitcoin.h
  src/test/util_tests.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Tests

#13627 Free keystore.h from file scope level type aliases
  src/keystore.h
  src/wallet/crypter.h
Labels: Refactoring

#13645 [tests] skip rpc_zmq functional test as necessary
  test/functional/interface_zmq.py
  test/functional/rpc_zmq.py
  test/functional/test_framework/test_framework.py
Labels: Tests

#12944 [wallet] ScanforWalletTransactions should mark input txns as dirty
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#13626 qa: Fix some TODOs in p2p_segwit
  test/functional/p2p_segwit.py
Labels: Tests

#13630 Drop unused pindexRet arg to CMerkleTx::GetDepthInMainChain
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet

#13659 build: add missing leveldb defines
  configure.ac
Labels: Build system

#11658 During IBD, when doing pruning, prune 10% extra to avoid pruning again soon after
  src/validation.cpp
Labels: Validation

#13138 [tests] Remove accounts from wallet_importprunedfunds.py
  test/functional/wallet_importprunedfunds.py
Labels: Tests

#13368 Update gitian-build.sh for docker
  contrib/gitian-build.sh
Labels: Build system

#13171 Change gitian-descriptors to use bionic instead
  contrib/gitian-build.sh
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win-signer.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build system

#13664 Trivial: fix references to share/rpcuser (now share/rpcauth)
  src/httprpc.cpp
  src/init.cpp
  test/functional/rpc_users.py
Labels: Docs

#13652 rpc: Fix that CWallet::AbandonTransaction would leave the grandchildren, etc. active
  src/wallet/wallet.cpp
  test/functional/wallet_abandonconflict.py
Labels: Needs backport, Wallet

#13679 Initialize m_next_send_inv_to_incoming
  src/net.h
Labels: Refactoring

#13678 build: Bump version to 0.16.2
  configure.ac
Labels: Build system

#13604 Add depends 32-bit arm support for bitcoin-qt
  depends/packages/packages.mk
  depends/packages/qt.mk
Labels: Build system

#13682 bench: Remove unused variable
  src/bench/bech32.cpp
Labels: Refactoring

#13647 Scripts and tools: Fix BIND_NOW check in security-check.py
  contrib/devtools/security-check.py
Labels: Scripts and tools

#13680 [doc] Remove outdated comment about miner ignoring CPFP
  src/validation.cpp
Labels: Docs

#13638 tests: Use MAX_SCRIPT_ELEMENT_SIZE from script.py
  test/functional/p2p_segwit.py
Labels: Refactoring, Tests

#13623 Migrate gitian-build.sh to python
  contrib/gitian-build.py
  contrib/gitian-build.sh
Labels: Build system

#13692 contrib: Clone core repo in gitian-build
  contrib/gitian-build.py
  doc/release-process.md
Labels: Docs

#13699 contrib: correct version check
  contrib/zmq/zmq_sub.py
  contrib/zmq/zmq_sub3.4.py
Labels: Scripts and tools

#13672 Modified in_addr6 cast in CConman class to work with msvc
  src/net.cpp
Labels: P2P

#13625 doc: Add release notes for -printtoconsole and -debuglogfile changes
  doc/release-notes.md
Labels: Docs

#13655 bitcoinconsensus: invalid flags error should be set to bitcoinconsensus_err
  src/script/bitcoinconsensus.cpp
  src/test/script_tests.cpp
Labels: Utils/log/libs

#13500 [wallet] Decouple wallet version from client version
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
Labels: Wallet

#13715 tests: fixes mininode's P2PConnection sending messages on closing transport
  test/functional/test_framework/mininode.py
Labels: Tests

#13689 depends: disable Werror when building zmq
  depends/packages/zeromq.mk
Labels: Build system

#13074 [trivial] Correct help text for `importaddress` RPC
  src/wallet/rpcdump.cpp
Labels: Docs

#13703 0.16.2: [doc] Bump manpages
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoind.1
Labels: Docs

#13718 docs: Specify preferred Python string formatting technique
  test/functional/README.md
Labels: Docs, Tests

#11637 p2p: Remove dead service bits code
  src/net_processing.cpp
  test/functional/p2p_leak.py
  test/functional/test_framework/messages.py
Labels: P2P

#13695 lint: Add linter for circular dependencies
  test/lint/lint-circular-dependencies.sh
Labels: Scripts and tools

#13726 Utils and libraries: Removes the boost/algorithm/string/join dependency
  src/validation.cpp
  test/lint/lint-includes.sh
Labels: Refactoring

#13683 wallet: Introduce assertion to document the assumption that cache and cache_used are always set in tandem
  src/wallet/wallet.cpp
Labels: Wallet

#13729 travis: Avoid unnecessarily setting env variables on the lint build
  .travis.yml
Labels: Tests

#13722 trivial: Replace CPubKey::operator[] with CPubKey::vch where possible
  src/pubkey.cpp
Labels: Refactoring

#12764 doc: Remove field in getblocktemplate help that has never been used.
  src/rpc/mining.cpp
Labels: Docs, Mining, RPC/REST/ZMQ

#11762 Avoid locking mutexes that are already held by the same thread
  src/txmempool.cpp
  src/txmempool.h
Labels: Refactoring

#13733 Utils: Refactor ArgsManager a little
  src/util.cpp
  src/util.h
Labels: Refactoring

#13633 Drop dead code from Stacks
  src/script/sign.cpp
Labels: Refactoring

#13212 Net: Fixed a race condition when disabling the network.
  src/net.cpp
Labels: P2P

#13740 trivial: remove unneeded include
  src/bitcoind.cpp
Labels: Refactoring

#13742 doc: Adjust bitcoincore.org links
  README.md
  src/bitcoind.cpp
  src/test/netbase_tests.cpp
Labels: Docs

#13719 Avoid creating a temporary vector for size-prefixed elements
  src/script/sign.h
  src/serialize.h
Labels: Refactoring

#13747 tests: Skip P2PConnection's is_closing() check when not available
  test/functional/test_framework/mininode.py
Labels: Tests

#13650 [travis] Don't store debug info if --enable-debug is set
  .travis.yml
Labels: Tests

#13656 Remove the boost/algorithm/string/predicate.hpp dependency
  src/core_read.cpp
  src/netbase.cpp
  src/test/util_tests.cpp
  src/utilstrencodings.cpp
  src/utilstrencodings.h
  src/wallet/rpcdump.cpp
  test/lint/lint-includes.sh
Labels: P2P, Refactoring

#13750 depends: use MacOS friendly sed syntax in qt.mk
  depends/packages/qt.mk
Labels: Build system

#13753 scripted-diff: Remove trailing whitespaces
  src/Makefile.qt.include
  src/addrman.cpp
  src/addrman.h
  src/bloom.cpp
  src/bloom.h
  src/checkqueue.h
  src/clientversion.cpp
  src/coins.h
  src/consensus/tx_verify.h
  src/core_read.cpp
  src/httprpc.cpp
  src/limitedmap.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/macdockiconhandler.mm
  src/qt/macnotificationhandler.mm
  src/qt/modaloverlay.cpp
  src/qt/optionsdialog.h
  src/qt/optionsmodel.cpp
  src/qt/qvalidatedlineedit.h
  src/qt/trafficgraphwidget.cpp
  src/qt/walletview.cpp
  src/reverse_iterator.h
  src/script/interpreter.cpp
  src/serialize.h
  src/streams.h
  src/test/README.md
  src/test/data/key_io_invalid.json
  src/test/data/script_tests.json
  src/test/dbwrapper_tests.cpp
  src/test/limitedmap_tests.cpp
  src/test/mempool_tests.cpp
  src/test/net_tests.cpp
  src/test/prevector_tests.cpp
  src/test/raii_event_tests.cpp
  src/test/script_tests.cpp
  src/test/serialize_tests.cpp
  src/test/streams_tests.cpp
  src/timedata.h
  src/txdb.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.h
  test/README.md
Labels: Refactoring

#13658 [moveonly] Extract RescanWallet to handle a simple rescan
  src/wallet/rpcdump.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet

#13714 contrib: Add lxc network setup for Bionic host
  contrib/gitian-build.py
Labels: Scripts and tools

#13095 build: update ax_boost_chrono/unit_test_framework
  build-aux/m4/ax_boost_chrono.m4
  build-aux/m4/ax_boost_unit_test_framework.m4
Labels: Build system

#13711 [bench] Add benchmark for unserialize prevector
  src/bench/prevector.cpp
Labels: Tests

#13771 travis: Retry to fetch docker image
  .travis.yml
Labels: Tests

#13775 doc: Remove newlines from error message
  src/init.cpp
  src/wallet/wallet.cpp
Labels: Docs, Refactoring

#13774 Return void instead of bool for functions that cannot fail
  src/httpserver.cpp
  src/httpserver.h
  src/init.cpp
  src/net.cpp
  src/net.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/torcontrol.cpp
  src/txdb.cpp
  src/txdb.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
Labels: Refactoring

#13732 Depends: Fix Qt's rcc determinism
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  depends/packages/qt.mk
  depends/patches/qt/fix_rcc_determinism.patch
Labels: Build system

#13764 contrib: Fix test-security-check fail in Ubuntu 18.04
  contrib/devtools/security-check.py
  contrib/devtools/test-security-check.py
Labels: Scripts and tools

#13797 [0.16] bitcoinconsensus: invalid flags should be set to bitcoinconsensus_error type, add test cases covering bitcoinconsensus error codes
  src/script/bitcoinconsensus.cpp
  src/test/script_tests.cpp
Labels: Backport

#13803 doc: add note to contributor docs about warranted PR's
  CONTRIBUTING.md
Labels: Docs

#13806 qa: Fix bench/block_assemble assert failure
  src/bench/block_assemble.cpp
Labels: Tests

#13782 Fix osslsigncode compile issue in gitian-build
  contrib/gitian-descriptors/gitian-win-signer.yml
Labels: Build system

#13779 travis: improve readability of travis.yml and log outputs
  .travis.yml
Labels: Tests

#13814 Add BIP174 to list of implemented BIPs
  doc/bips.md
Labels: Docs

#13809 contrib: Remove debian and rpm subfolder
  Makefile.am
  contrib/README.md
  contrib/debian/README.md
  contrib/debian/bitcoin-qt.desktop
  contrib/debian/bitcoin-qt.install
  contrib/debian/bitcoin-qt.lintian-overrides
  contrib/debian/bitcoin-qt.manpages
  contrib/debian/bitcoin-qt.protocol
  contrib/debian/bitcoin-tx.bash-completion
  contrib/debian/bitcoin-tx.install
  contrib/debian/bitcoin-tx.manpages
  contrib/debian/bitcoind.bash-completion
  contrib/debian/bitcoind.examples
  contrib/debian/bitcoind.install
  contrib/debian/bitcoind.lintian-overrides
  contrib/debian/bitcoind.manpages
  contrib/debian/changelog
  contrib/debian/compat
  contrib/debian/control
  contrib/debian/gbp.conf
  contrib/debian/patches/README
  contrib/debian/patches/series
  contrib/debian/rules
  contrib/debian/source/format
  contrib/debian/watch
  contrib/rpm/README.md
  contrib/rpm/bitcoin-0.12.0-libressl.patch
  contrib/rpm/bitcoin.fc
  contrib/rpm/bitcoin.if
  contrib/rpm/bitcoin.spec
  contrib/rpm/bitcoin.te
  doc/init.md
  share/examples/bitcoin.conf
Labels: Scripts and tools

#13776 net: Add missing verification of IPv6 address in CNetAddr::GetIn6Addr(...)
  src/netaddress.cpp
Labels: P2P
