Repository bitcoin/bitcoin, pull requests merged in 2019-01, with the labels that each got.

#15073 docs: Botbot.me (IRC logs) not available anymore
  CONTRIBUTING.md
Labels: Docs

#15069 test: Fix rpc_net.py "pong" race condition
  test/functional/rpc_net.py
Labels: Tests

#14790 Tests: Allow running rpc_bind.py --nonloopback test without IPv6
  test/functional/rpc_bind.py
Labels: Tests

#14457 test: add invalid tx templates for use in functional tests
  test/functional/data/invalid_txs.py
  test/functional/feature_block.py
  test/functional/p2p_invalid_tx.py
  test/functional/test_framework/blocktools.py
  test/lint/lint-python-dead-code.sh
Labels: Tests

#15000 qt: Fix broken notificator on GNOME
  src/qt/bitcoingui.cpp
Labels: GUI

#14375 qt: Correct misleading "overridden options" label
  src/qt/forms/optionsdialog.ui
Labels: GUI

#15020 Build: add names to Travis jobs
  .travis.yml
Labels: Tests

#15038 docs: Get more info about GUI-related issue on Linux
  .github/ISSUE_TEMPLATE.md
Labels: Docs

#13884 depends: Enable bdb unicode support for Windows
  depends/packages/bdb.mk
Labels: Build system, Windows

#15007 qt: Notificator class refactoring
  src/qt/notificator.cpp
  src/qt/notificator.h
Labels: GUI

#14832 docs: Add more Doxygen information to Developer Notes
  doc/developer-notes.md
Labels: Docs

#14855 test: Correct ineffectual WithOrVersion from transactions_tests
  src/streams.h
  src/test/transaction_tests.cpp
Labels: Tests

#15099 tests: Use std::vector API for construction of test data
  src/test/script_p2sh_tests.cpp
Labels: Refactoring, Tests

#15102 test: Run invalid_txs.InputMissing test in feature_block
  src/wallet/test/wallet_tests.cpp
  test/functional/feature_block.py
Labels: Tests

#15110 build_msvc: Fix the build problem in libbitcoin_server
  build_msvc/libbitcoin_server/libbitcoin_server.vcxproj.in
Labels: Windows

#15094 0.17: Backport for #15085
  src/qt/guiconstants.h
  src/qt/networkstyle.cpp
Labels: Backport

#15078 rpc: Document bytessent_per_msg and bytesrecv_per_msg
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
Labels: Docs

#15057 [rpc] Correct reconsiderblock help text, add test
  src/rpc/blockchain.cpp
  test/functional/rpc_invalidateblock.py
Labels: RPC/REST/ZMQ

#12153 Avoid permanent cs_main lock in getblockheader
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#15059 test: Add basic test for BIP34
  src/chainparams.cpp
  test/functional/feature_block.py
  test/functional/test_framework/blocktools.py
Labels: Tests

#11625 Add BitcoinApplication & RPCConsole tests
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/main.cpp
  src/qt/test/apptests.cpp
  src/qt/test/apptests.h
  src/qt/test/rpcnestedtests.cpp
  src/qt/test/test_main.cpp
Labels: GUI, Tests

#14085 index: Fix for indexers skipping genesis block.
  src/index/base.cpp
  src/index/txindex.cpp
  src/test/txindex_tests.cpp
Labels: UTXO Db and Indexes

#15109 refactor: Use C++11 default member initializers
  src/addrman.h
  src/httpserver.cpp
  src/net.cpp
  src/net.h
  src/protocol.h
  src/qt/bantablemodel.cpp
  src/qt/peertablemodel.cpp
  src/qt/recentrequeststablemodel.cpp
  src/qt/recentrequeststablemodel.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/test/addrman_tests.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
Labels: Refactoring

#15087 Error if rpcpassword contains hash in conf sections
  src/util/system.cpp
  test/functional/feature_config_args.py
Labels: Utils/log/libs

#15128 docs: Fix download link in doc/README.md
  doc/README.md
Labels: Docs

#14517 qt: Fix start with the `-min` option
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.h
Labels: GUI

#15108 [tests] tidy up wallet_importmulti.py
  test/functional/test_framework/wallet_util.py
  test/functional/wallet_import_with_label.py
  test/functional/wallet_importmulti.py
Labels: Tests

#15132 docs: Add FreeBSD build notes link to doc/README.md
  doc/README.md
Labels: Docs

#15047 build: Allow to configure --with-sanitizers=fuzzer
  configure.ac
  doc/fuzzing.md
Labels: Build system

#13216 [Qt] implements concept for different disk sizes on intro
  doc/release-process.md
  src/chainparams.cpp
  src/chainparams.h
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/qt/intro.cpp
  src/qt/intro.h
Labels: GUI

#15154 configure: bitcoin-tx doesn't need libevent, so don't pull it in
  configure.ac
Labels: Build system

#15138 Drop IsLimited in favor of IsReachable
  src/init.cpp
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  src/test/net_tests.cpp
  src/torcontrol.cpp
Labels: P2P

#15144 [refactor] CNode: Use C++11 default member initializers
  src/net.cpp
  src/net.h
Labels: P2P, Refactoring

#14433 Add checksum in gitian build scripts for ossl
  contrib/gitian-build.py
  doc/release-process.md
Labels: Scripts and tools

#15149 gui: Show current wallet name in window title
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/walletframe.cpp
  src/qt/walletframe.h
Labels: GUI

#15170 refactor/lint: Add ignored shellcheck suggestions to an array
  test/lint/lint-shell.sh
Labels: Tests

#15165 contrib: Allow use of github API authentication in github-merge
  contrib/devtools/README.md
  contrib/devtools/github-merge.py
Labels: Scripts and tools

#14958 qa: Remove race between connecting and shutdown on separate connections
  test/functional/feature_shutdown.py
Labels: Tests

#14151 windows: Fix remaining compiler warnings (MSVC)
  .appveyor.yml
  build_msvc/common.vcxproj
  src/test/allocator_tests.cpp
  src/test/crypto_tests.cpp
  src/test/script_tests.cpp
Labels: Validation, Windows

#14268 Introduce SafeDbt to handle Dbt with free or memory_cleanse raii-style
  src/wallet/db.cpp
  src/wallet/db.h
Labels: Wallet

#15122 [RPC] Expand help text for importmulti changes
  src/wallet/rpcdump.cpp
Labels: Docs, Wallet

#14839 [rebase] threads: fix unitialized members in sched_param
  src/util/system.cpp
Labels: Utils/log/libs

#15185 docs: Spelling error fix on fuzzing.md
  doc/fuzzing.md
Labels: Docs

#15040 qt: Add workaround for QProgressDialog bug on macOS
  src/qt/bitcoingui.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/walletview.cpp
Labels: GUI

#15175 build: Drop macports support
  configure.ac
  contrib/macdeploy/macdeployqtplus
Labels: Build system

#15178 qt: Improve "help-console" message
  src/qt/rpcconsole.cpp
Labels: Docs, GUI

#15186 rpc: remove duplicate solvable field from getaddressinfo
  src/wallet/rpcwallet.cpp
Labels: Docs, RPC/REST/ZMQ

#15194 Add comment describing fDisconnect behavior
  src/net.h
Labels: Docs, P2P

#15210 gui: Fix window title update
  src/qt/bitcoingui.cpp
Labels: GUI

#15209 zmq: log outbound message high water mark when reusing socket
  src/zmq/zmqpublishnotifier.cpp
Labels: RPC/REST/ZMQ, Utils/log/libs

#15167 qt: Fix wallet selector size adjustment
  src/qt/bitcoingui.cpp
  src/qt/forms/debugwindow.ui
Labels: GUI

#15219 lint: Enable python linters via an array
  test/lint/lint-python.sh
Labels: Scripts and tools

#15196 [test]: Update all subprocess.check_output functions to be Python 3.4 compatible
  contrib/verify-commits/verify-commits.py
  test/lint/check-doc.py
Labels: Scripts and tools

#15223 Doc: add information about security to the JSON-RPC doc
  doc/JSON-RPC-interface.md
Labels: Docs

#15233 Prevent mutex lock fail even if --enable-debug
  src/sync.cpp
Labels: Refactoring

#15249 Docs: Update python docs to reflect that wildcard imports are disallowed
  test/functional/README.md
  test/functional/example_test.py
Labels: Docs

#15251 [0.17] doc: Remove errant paste from walletcreatefundedpsbt for nLocktime replaceable
  src/wallet/rpcwallet.cpp
Labels: Backport, Docs, RPC/REST/ZMQ

#15258 Scripts and tools: Fix devtools/copyright_header.py to always honor exclusions
  contrib/devtools/copyright_header.py
Labels: Scripts and tools

#15248 rpc: Compile on GCC4.8
  src/rpc/server.cpp
Labels: Refactoring

#14987 RPCHelpMan: Pass through Result and Examples
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/zmq/zmqrpc.cpp
Labels: Docs, RPC/REST/ZMQ

#14929 net: Allow connections from misbehavior banned peers
  src/banman.cpp
  src/banman.h
  src/net.cpp
  src/net.h
Labels: P2P

#15270 Pull leveldb subtree
  src/leveldb/db/c.cc
  src/leveldb/port/port_win.h
  src/leveldb/util/env_win.cc
Labels: UTXO Db and Indexes, Upstream, Windows

#15243 [doc] add notes on release notes
  doc/developer-notes.md
Labels: Docs

#15159 [RPC] Remove lookup to UTXO set from GetTransaction
  doc/release-notes.md
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_segwit.py
  test/functional/interface_rest.py
  test/functional/rpc_psbt.py
  test/functional/rpc_rawtransaction.py
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_basic.py
Labels: RPC/REST/ZMQ

#15279 wallet: Clarify rescanblockchain doc
  src/wallet/rpcwallet.cpp
Labels: Docs, RPC/REST/ZMQ, Wallet

#15163 Correct units for "-dbcache" and "-prune"
  src/init.cpp
  src/qt/forms/optionsdialog.ui
  src/qt/guiconstants.h
  src/qt/intro.cpp
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/validation.h
  test/functional/feature_pruning.py
Labels: GUI

#15043 test: Build fuzz targets into seperate executables
  .travis.yml
  configure.ac
  doc/fuzzing.md
  src/Makefile.test.include
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/fuzz.h
  src/test/test_bitcoin_fuzzy.cpp
Labels: Build system, Tests

#15276 travis: Compile once on trusty
  .travis.yml
Labels: Tests

#15292 Remove 'boost::optional'-related false positive -Wmaybe-uninitialized warnings on GCC compiler
  src/optional.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: Refactoring, Wallet

#15275 Add gitian PGP key for hebasto
  contrib/gitian-keys/keys.txt
Labels: Docs

#15176 docs: Get rid of badly named readme
  doc/README_osx.md
  doc/build-osx.md
  doc/release-process.md
Labels: Docs

#15272 doc: correct logging return type and RPC example
  src/rpc/misc.cpp
Labels: Docs, RPC/REST/ZMQ

#15225 GUI: Change the receive button to respond to keypool state changing
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/receivecoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: GUI

#15002 0.17: Backport #14941
  src/init.cpp
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Backport, Wallet

#15301 tests: When testing with --usecli, unify RPC arg to cli arg conversion and handle dicts and lists
  test/functional/test_framework/test_node.py
Labels: Tests
