Repository bitcoin/bitcoin, pull requests merged in 2019-03, with the labels that each got.

#15507 test: Bump timeout on tests that timeout on windows
  test/functional/feature_assumevalid.py
  test/functional/feature_cltv.py
  test/functional/feature_dersig.py
Labels: Tests

#15506 appveyor: fix cache issue and reduce dependencies build time
  .appveyor.yml
Labels: Tests

#15510 [rpc] deriveaddresses: add range to CRPCConvertParam
  src/rpc/client.cpp
  src/rpc/misc.cpp
Labels: RPC/REST/ZMQ

#15514 docs: Update Transifex links
  README.md
  doc/developer-notes.md
  doc/release-notes.md
  doc/translation_process.md
Labels: Docs

#15296 tests: Add script checking for deterministic line coverage in unit tests
  contrib/devtools/test_deterministic_coverage.sh
Labels: Scripts and tools

#15338 ci: Build and run tests once on freebsd
  .cirrus.yml
Labels: Tests

#15335 Fix lack of warning of unrecognized section names
  src/init.cpp
  src/test/util_tests.cpp
  src/util/system.cpp
  src/util/system.h
  test/functional/feature_config_args.py
Labels: Utils/log/libs

#15518 doc: Remove ppa from linux build instructions
  doc/build-unix.md
Labels: Docs

#15524 [0.18] doc: Remove ppa from linux build instructions
  doc/build-unix.md
Labels: Backport, Docs

#15479 test: Add .style.yapf
  .style.yapf
Labels: Tests

#15527 doc: Remove pr release notes file in wrong dir
  doc/release-notes/release-notes-pr12255.md
Labels: Docs

#15513 docs: add "sections" info to example bitcoin.conf
  share/examples/bitcoin.conf
Labels: Docs

#15531 Suggested interfaces::Chain cleanups from #15288
  src/interfaces/README.md
  src/interfaces/chain.cpp
  src/interfaces/chain.h
Labels: Refactoring

#15534 [test] lint-format-strings: open files sequentially (fix for OS X)
  test/lint/lint-format-strings.py
Labels: Refactoring, Tests

#15530 doc: Move wallet lock annotations to header
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet

#15464 gui: Drop unused return values in WalletFrame
  src/qt/walletframe.cpp
  src/qt/walletframe.h
Labels: GUI, Refactoring

#15528 contrib: Bump gitian descriptors for 0.19
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build system

#15532 Remove sharp edge (uninit member) when using the compiler-generated ctor for BlockFilter
  src/blockfilter.cpp
  src/blockfilter.h
  src/test/blockfilter_tests.cpp
Labels: Refactoring

#15549 gitian: Improve error handling
  contrib/devtools/split-debug.sh.in
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win-signer.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build system, Needs backport

#15562 doc: remove duplicate clone step in build-windows.md
  doc/build-windows.md
Labels: Docs

#15565 doc: remove release note fragments
  doc/release-notes-14021.md
  doc/release-notes-14481.md
  doc/release-notes-14491.md
  doc/release-notes-14667.md
  doc/release-notes-15226.md
  doc/release-notes-15393.md
  doc/release-notes-15492.md
Labels: Docs

#15566 cli: replace testnet with chain and return network name as per BIP70.
  doc/release-notes-15566.md
  src/bitcoin-cli.cpp
  test/functional/interface_bitcoin_cli.py
Labels: Utils/log/libs

#15564 cli: remove duplicate wallet fields from -getinfo
  src/bitcoin-cli.cpp
  test/functional/interface_bitcoin_cli.py
Labels: Utils/log/libs

#15548 build: use full version string in setup.exe
  share/setup.nsi.in
Labels: Build system, Needs backport, Windows

#15582 Fix overflow bug in analyzepsbt fee: CAmount instead of int
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ

#15573 dead code: Remove dead option in HexStr conversion
  src/test/util_tests.cpp
  src/util/strencodings.h
Labels: Refactoring

#15559 doc: correct analyzepsbt rpc doc
  src/rpc/rawtransaction.cpp
  test/functional/rpc_psbt.py
Labels: Docs, Needs backport, RPC/REST/ZMQ

#15583 wallet: Log and ignore errors in ListWalletDir and IsBerkeleyBtree
  src/wallet/walletutil.cpp
Labels: Needs gitian build, Wallet

#15577 Docs: Enable TLS in link to chris.beams.io
  CONTRIBUTING.md
Labels: Docs

#15580 depends: native_protobuf: avoid system zlib
  depends/packages/native_protobuf.mk
Labels: Build system

#15604 [docs] release note for disabling reject messages by default
  doc/release-notes-14054.md
Labels: Docs

#15609 scripts and tools: Set 'distro' explicitly
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win-signer.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Scripts and tools

#15522 Document sizeof(size_t) assumptions and compiler assumptions in assumptions.h
  src/compat/assumptions.h
Labels: Refactoring

#15611 Add Gitian key for droark
  contrib/gitian-keys/keys.txt
Labels: Docs

#15601 build: depends: Switch to python3 (take 3)
  .travis.yml
  depends/config.site.in
  depends/packages/native_biplist.mk
  depends/packages/native_ds_store.mk
  depends/packages/native_mac_alias.mk
Labels: Build system

#15491 wallet: Improve log output for errors during load
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
Labels: Wallet

#15466 tests: Print remaining jobs in test_runner.py
  test/functional/test_runner.py
Labels: Tests

#15618 refactor: Remove unused function
  src/validation.cpp
Labels: Refactoring

#15617 p2p: Do not relay banned IP addresses
  src/net_processing.cpp
Labels: Needs backport, P2P

#15623 refactor: Expose UndoReadFromDisk in header
  src/validation.cpp
  src/validation.h
Labels: Refactoring, Validation

#15626 Docs: Update ACK description in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Docs

#15597 net: Generate log entry when blocks messages are received unexpectedly
  src/net_processing.cpp
Labels: P2P, Utils/log/libs

#15625 refactor: Remove unused function
  src/wallet/rpcwallet.cpp
Labels: Refactoring, Wallet

#15614 gui: Defer removeAndDeleteWallet when no modal widget is active
  src/qt/walletcontroller.cpp
Labels: GUI

#15641 Backport #15614 to 0.18: gui: Defer removeAndDeleteWallet when no modal widget is active
  src/qt/walletcontroller.cpp
Labels: Backport, GUI

#15631 qa: mininode: Clearer error message on invalid magic bytes
  test/functional/test_framework/mininode.py
Labels: Tests

#15647 [rpc] Remove deprecated functionality message from validateaddress help
  src/rpc/misc.cpp
Labels: Backport, Docs, RPC/REST/ZMQ

#15603 docs: Add more tips to productivity.md
  doc/productivity.md
Labels: Docs

#15637 rpc: Rename size to vsize in mempool related calls
  doc/release-notes-15637.md
  src/rpc/blockchain.cpp
  test/functional/mempool_packages.py
  test/functional/mining_prioritisetransaction.py
Labels: RPC/REST/ZMQ

#15643 contrib: gh-merge: Include ACKs in merge commit
  contrib/devtools/github-merge.py
Labels: Scripts and tools

#15646 [tests] Add test for wallet rebroadcasts
  test/functional/wallet_resendwallettransactions.py
Labels: Tests

#15682 release: Update the Windows Codesigning certificate
  contrib/windeploy/win-codesign.cert
Labels: Needs backport

#15684 doc/dependencies: Fix typo libsrvg->librsvg
  doc/dependencies.md
Labels: Docs

#15616 rpc: Clarify decodescript RPCResult doc
  src/rpc/rawtransaction.cpp
Labels: Docs

#15663 crypto: Remove unused AES-128 code
  src/crypto/aes.cpp
  src/crypto/aes.h
  src/test/crypto_tests.cpp
Labels: Refactoring

#15255 [tests] Remove travis_wait from lint script
  .travis/lint_06_script.sh
  contrib/verify-commits/verify-commits.py
Labels: Scripts and tools, Tests

#15686 [tests] make pruning test faster
  test/functional/feature_pruning.py
Labels: Tests

#15683 Comment for seemingly duplicate LIBBITCOIN_SERVER
  src/Makefile.am
Labels: Docs

#15533 test: .style.yapf: Set column_limit=160
  .style.yapf
Labels: Tests

#15669 rpc: Fix help text for signtransactionwithXXX
  src/rpc/rawtransaction.cpp
  src/wallet/rpcwallet.cpp
Labels: Docs, RPC/REST/ZMQ
