Repository bitcoin/bitcoin, pull requests merged in 2019-04, with the labels that each got.

#15644 Make orphan processing interruptible
  src/net.h
  src/net_processing.cpp
Labels: Needs backport, P2P

#14853 depends: latest RapidCheck
  depends/README.md
  depends/packages/rapidcheck.mk
Labels: Build system, Tests

#15685 doc: rpc-mining: Clarify error messages
  src/rpc/mining.cpp
Labels: Docs, Mining, RPC/REST/ZMQ

#15654 net: Remove unused unsanitized user agent string CNode::strSubVer
  src/net.cpp
  src/net.h
  src/net_processing.cpp
Labels: P2P

#15755 rpc: remove unused var in rawtransaction.cpp
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ

#15660 [qa] Overhaul p2p_compactblocks.py
  test/functional/p2p_compactblocks.py
Labels: Tests

#15495 Add regtests for HTTP status codes
  test/functional/interface_rpc.py
  test/functional/test_framework/authproxy.py
Labels: Tests

#15446 Improve depends debuggability
  depends/Makefile
  depends/funcs.mk
Labels: Build system

#15711 gui: Generate bech32 addresses by default
  src/qt/forms/receivecoinsdialog.ui
  src/qt/receivecoinsdialog.cpp
Labels: GUI

#15760 doc: Clarify sendrawtransaction::maxfeerate==0 help
  src/rpc/rawtransaction.cpp
Labels: Docs, RPC/REST/ZMQ

#15763 Update bips.md for 0.18.0
  doc/bips.md
Labels: Docs, Needs backport

#15765 doc: correct bitcoinconsensus_version in shared-libraries.md
  doc/shared-libraries.md
Labels: Docs

#15747 wallet: Remove plethora of Get*Balance
  src/interfaces/wallet.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet

#15772 test: Properly log named args in authproxy
  test/functional/test_framework/authproxy.py
Labels: Tests

#15746 rpc: RPCHelpMan: Always name dictionary keys
  src/rpc/util.cpp
Labels: RPC/REST/ZMQ

#15754 rpc: getrpcinfo docs
  src/rpc/server.cpp
Labels: Docs, Needs backport, RPC/REST/ZMQ

#15659 [docs] fix findFork comment
  src/interfaces/chain.h
Labels: Docs

#15728 [wallet] Refactor relay transactions
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#15782 Avoid redefine warning
  src/fs.cpp
Labels: Refactoring

#15718 docs: Improve netaddress comments
  src/netaddress.cpp
  src/netaddress.h
Labels: Docs, P2P

#15797 travis: Bump second timeout to 33 minutes, Add rationale
  .travis.yml
Labels: Tests

#15809 gitignore: plist and dat
  .gitignore
Labels: Build system

#15751 Speed up deriveaddresses for large ranges
  src/rpc/misc.cpp
Labels: RPC/REST/ZMQ

#15790 [0.18] backport #15754
  src/rpc/server.cpp
Labels: Backport, RPC/REST/ZMQ

#15792 doc: describe onlynet option in doc/tor.md
  doc/dependencies.md
  doc/tor.md
Labels: Docs

#15802 doc: mention creating application support bitcoin folder on OSX
  doc/build-osx.md
Labels: Docs, Needs backport

#15750 [rpc] Remove the addresses field from the getaddressinfo return object
  src/wallet/rpcwallet.cpp
Labels: Needs backport, RPC/REST/ZMQ, Wallet

#15799 doc: Clarify RPC versioning
  doc/JSON-RPC-interface.md
Labels: Docs

#15800 Backport: [rpc] Remove the addresses field from the getaddressinfo return object
  src/wallet/rpcwallet.cpp
Labels: Backport, RPC/REST/ZMQ

#15770 rpc: Validate maxfeerate with AmountFromValue
  src/rpc/rawtransaction.cpp
  test/functional/rpc_rawtransaction.py
Labels: RPC/REST/ZMQ

#15474 rest/rpc: Make mempoolinfo atomic
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#15831 test: Add test that addmultisigaddress fails for watchonly addresses
  test/functional/rpc_createmultisig.py
Labels: Tests

#15843 tests: fix outdated include in blockfilter_index_tests
  src/test/blockfilter_index_tests.cpp
Labels: Refactoring, Tests

#15801 Bugfix: GUI: Options: Initialise prune setting range before loading current value, and remove upper bound limit
  src/qt/optionsdialog.cpp
Labels: GUI, Needs backport, Needs gitian build

#15833 [doc] remove out-of-date comment on pay-to-witness support
  src/script/standard.h
Labels: Docs

#15829 qt: update request payment button text and tab description
  src/qt/addressbookpage.cpp
  src/qt/forms/receivecoinsdialog.ui
Labels: GUI

#15838 scripts and tools: Fetch missing review comments in github-merge.py
  contrib/devtools/github-merge.py
Labels: Scripts and tools

#15821 doc: Remove upgrade note in release notes from EOL versions
  doc/release-notes.md
Labels: Docs

#15839 [0.18] Revert GetData randomization change (#14897)
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/util_tests.cpp
  src/util/time.cpp
  src/util/time.h
Labels: Backport, P2P, Tests, Utils/log/libs

#15655 Resolve the checkpoints <-> validation circular dependency
  src/Makefile.am
  src/checkpoints.cpp
  src/checkpoints.h
  src/init.cpp
  src/qt/clientmodel.cpp
  src/rpc/blockchain.cpp
  src/validation.cpp
  src/wallet/wallet.cpp
  test/lint/lint-circular-dependencies.sh
Labels: Refactoring

#15853 wallet: Remove unused import checkpoints.h
  src/wallet/wallet.cpp
Labels: Refactoring

#15670 refactor: combine Chain::findFirstBlockWithTime/findFirstBlockWithTimeAndHeight
  src/chain.cpp
  src/chain.h
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/rpc/blockchain.cpp
  src/test/skiplist_tests.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#15866 test: Add missing syncwithvalidationinterfacequeue to wallet_import_rescan
  test/functional/wallet_import_rescan.py
Labels: Tests

#15780 wallet: add cachable amounts for caching credit/debit values
  src/script/ismine.h
  src/wallet/test/coinselector_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet

#15463 rpc: Speedup getaddressesbylabel
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ

#15874 Resolve the qt/guiutil <-> qt/optionsmodel CD
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/intro.cpp
  src/qt/intro.h
  src/qt/optionsmodel.cpp
  test/lint/lint-circular-dependencies.sh
Labels: GUI, Refactoring

#15699 Remove no-op CClientUIInterface::[signal_name]_disconnect. Disconnect BlockNotifyGenesisWait and RPCNotifyBlockChange properly.
  src/init.cpp
  src/ui_interface.cpp
  src/ui_interface.h
Labels: Refactoring

#15697 qa: Make swap_magic_bytes in p2p_invalid_messages atomic
  test/functional/p2p_invalid_messages.py
Labels: Tests

#14818 Bugfix: test/functional/rpc_psbt: Remove check for specific error message that depends on uncertain assumptions
  test/functional/rpc_psbt.py
Labels: Tests

#14039 Disallow extended encoding for non-witness transactions
  src/primitives/transaction.h
Labels: RPC/REST/ZMQ

#15895 QA: Avoid re-reading config.ini unnecessarily
  test/functional/test_framework/test_framework.py
Labels: Tests

#15896 QA: feature_filelock, interface_bitcoin_cli: Use PACKAGE_NAME in messages rather than hardcoding Bitcoin Core
  test/config.ini.in
  test/functional/feature_filelock.py
  test/functional/interface_bitcoin_cli.py
Labels: Build system, Tests

#13788 Fix --disable-asm for newer assembly checks/code
  configure.ac
Labels: Build system

#15267 doc: explain AcceptToMemoryPoolWorker's coins_to_uncache
  src/coins.h
  src/validation.cpp
Labels: Docs

#15852 doc: 0.18: Remove TODO from release notes
  doc/release-notes.md
Labels: Docs

#15887 docs: Align code example style with clang-format
  doc/developer-notes.md
Labels: Docs

#15784 rpc: Remove dependency on interfaces::Chain in SignTransaction
  src/rpc/rawtransaction.cpp
  src/rpc/rawtransaction_util.cpp
  src/rpc/rawtransaction_util.h
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ, Refactoring

#15846 [POLICY] Make sending to future native witness outputs standard
  src/policy/policy.cpp
  test/functional/p2p_segwit.py
Labels: TX fees and policy, Tests

#15778 [wallet] Move maxtxfee from node to wallet
  src/dummywallet.cpp
  src/init.cpp
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/feebumper.cpp
  src/wallet/fees.cpp
  src/wallet/init.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#15901 wallet: log on rescan completion
  src/wallet/wallet.cpp
Labels: Utils/log/libs, Wallet

#15371 gui: Uppercase bech32 addresses in qr codes
  src/qt/guiutil.cpp
Labels: GUI

#15917 wallet: Avoid logging no_such_file_or_directory error
  src/wallet/walletutil.cpp
Labels: Wallet

#15913 Bugfix: dummywallet: Add -ignorepartialspends to list of ignored wallet options
  src/dummywallet.cpp
Labels: Wallet

#12051 add missing debian contrib file to tarball
  Makefile.am
Labels: Build system, Linux/Unix

#15919 Remove unused OpenSSL includes to make it more clear where OpenSSL is used
  src/init.cpp
  src/qt/rpcconsole.cpp
  src/test/crypto_tests.cpp
Labels: Build system, Refactoring

#15877 doc: Fix -dustrelayfee= argument docs grammar
  src/init.cpp
Labels: Docs

#15920 lint: Check that all wallet args are hidden
  test/lint/check-doc.py
Labels: Tests

#15897 QA/mininode: Send all headers upfront in send_blocks_and_test to avoid sending an unconnected one
  test/functional/test_framework/mininode.py
Labels: Tests

#15869 Add settings merge test to prevent regresssions
  src/test/util_tests.cpp
Labels: Tests
