Repository bitcoin/bitcoin, pull requests merged in 2019-02, with the labels that each got.

#15247 qa: Use wallet to retrieve raw transactions
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_basic.py
Labels: Refactoring, Tests

#15315 [0.17] [Doc] Backport release note about PSBT doc
  doc/release-notes.md
Labels: Docs

#15263 Descriptor expansions only need pubkey entries for PKH/WPKH
  src/script/descriptor.cpp
Labels: Wallet

#15330 test: Fix race in p2p_invalid_messages
  test/functional/p2p_invalid_messages.py
Labels: Tests

#15322 wallet: Add missing cs_db lock
  src/wallet/db.cpp
Labels: Wallet

#15339 qt: Pre-0.18 split-off translations update
  .tx/config
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  doc/translation_process.md
  src/qt/bitcoinstrings.cpp
  src/qt/locale/bitcoin_af.ts
  src/qt/locale/bitcoin_af_ZA.ts
  src/qt/locale/bitcoin_am.ts
  src/qt/locale/bitcoin_ar.ts
  src/qt/locale/bitcoin_bg.ts
  src/qt/locale/bitcoin_cs.ts
  src/qt/locale/bitcoin_da.ts
  src/qt/locale/bitcoin_de.ts
  src/qt/locale/bitcoin_el_GR.ts
  src/qt/locale/bitcoin_en.ts
  src/qt/locale/bitcoin_en_GB.ts
  src/qt/locale/bitcoin_es.ts
  src/qt/locale/bitcoin_es_VE.ts
  src/qt/locale/bitcoin_eu_ES.ts
  src/qt/locale/bitcoin_fa.ts
  src/qt/locale/bitcoin_fa_IR.ts
  src/qt/locale/bitcoin_fi.ts
  src/qt/locale/bitcoin_fr.ts
  src/qt/locale/bitcoin_he.ts
  src/qt/locale/bitcoin_hi_IN.ts
  src/qt/locale/bitcoin_hr.ts
  src/qt/locale/bitcoin_id.ts
  src/qt/locale/bitcoin_id_ID.ts
  src/qt/locale/bitcoin_is.ts
  src/qt/locale/bitcoin_it.ts
  src/qt/locale/bitcoin_it_IT.ts
  src/qt/locale/bitcoin_ja.ts
  src/qt/locale/bitcoin_ka.ts
  src/qt/locale/bitcoin_ko.ts
  src/qt/locale/bitcoin_ko_KR.ts
  src/qt/locale/bitcoin_lt.ts
  src/qt/locale/bitcoin_ml.ts
  src/qt/locale/bitcoin_nl.ts
  src/qt/locale/bitcoin_pl.ts
  src/qt/locale/bitcoin_pt_BR.ts
  src/qt/locale/bitcoin_pt_PT.ts
  src/qt/locale/bitcoin_ro.ts
  src/qt/locale/bitcoin_ro_RO.ts
  src/qt/locale/bitcoin_ru.ts
  src/qt/locale/bitcoin_ru_RU.ts
  src/qt/locale/bitcoin_sk.ts
  src/qt/locale/bitcoin_sl_SI.ts
  src/qt/locale/bitcoin_sn.ts
  src/qt/locale/bitcoin_sv.ts
  src/qt/locale/bitcoin_szl.ts
  src/qt/locale/bitcoin_tr.ts
  src/qt/locale/bitcoin_tr_TR.ts
  src/qt/locale/bitcoin_uk.ts
  src/qt/locale/bitcoin_ur_PK.ts
  src/qt/locale/bitcoin_vi.ts
  src/qt/locale/bitcoin_zh_CN.ts
  src/qt/locale/bitcoin_zh_TW.ts
Labels: GUI

#15345 net: Correct comparison of addr count
  src/net.cpp
Labels: P2P, Refactoring

#15347 Fix build after pr 15266 merged
  src/bitcoin-wallet.cpp
Labels: Utils/log/libs

#15245 remove deprecated mentions of signrawtransaction from fundraw help
  contrib/bitcoin-cli.bash-completion
  src/bitcoin-tx.cpp
  src/rpc/client.cpp
  src/txmempool.h
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ

#15203 Fix issue #9683 "gui, wallet: random abort (segmentation fault)
  src/qt/transactionview.cpp
Labels: GUI

#15327 tests: Make test updatecoins_simulation_test deterministic
  src/test/coins_tests.cpp
Labels: Tests

#15332 [Docs] Small updates to getrawtransaction description
  doc/release-notes.md
  src/rpc/rawtransaction.cpp
Labels: Docs

#15351 Update linearize-hashes.py
  contrib/linearize/linearize-hashes.py
Labels: Scripts and tools

#15349 travis: Only exit early if compilation took longer than 30 min
  .travis.yml
Labels: Tests

#15321 doc: Add cs_main lock annotations for mapBlockIndex
  src/validation.cpp
  src/validation.h
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring

#15343 [doc] netaddress: Make IPv4 loopback comment more descriptive
  src/netaddress.cpp
Labels: Docs

#15350 qa: Drop RPC connection if --usecli
  test/functional/test_framework/test_node.py
Labels: Tests

#14667 Add deriveaddresses RPC util method
  doc/release-notes-14667.md
  src/rpc/client.cpp
  src/rpc/misc.cpp
  test/functional/rpc_deriveaddresses.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#14897 randomize GETDATA(tx) request order and introduce bias toward outbound
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/util_tests.cpp
  src/util/time.cpp
  src/util/time.h
Labels: P2P

#14242 Avoid triggering undefined behaviour (std::memset(nullptr, 0, 0)) if an invalid string is passed to DecodeSecret(...)
  src/key_io.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#15201 net: Add missing locking annotation for vNodes. vNodes is guarded by cs_vNodes.
  src/net.h
Labels: P2P

#15365 wallet: Add lock annotation for mapAddressBook
  src/interfaces/wallet.cpp
  src/qt/test/addressbooktests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallettool.cpp
Labels: Refactoring, Wallet

#15357 rpc: Don't ignore `-maxtxfee` when wallet is disabled
  src/init.cpp
  src/wallet/init.cpp
Labels: RPC/REST/ZMQ

#15226 Allow creating blank (empty) wallets (alternative)
  doc/release-notes-15226.md
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/rpc/client.cpp
  src/wallet/crypter.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_runner.py
  test/functional/wallet_createwallet.py
  test/functional/wallet_disableprivatekeys.py
Labels: Wallet

#15337 rpc: Fix for segfault if combinepsbt called with empty inputs
  src/rpc/rawtransaction.cpp
  test/functional/rpc_psbt.py
Labels: RPC/REST/ZMQ

#15380 trivial: correct parameter name in comments
  src/scheduler.h
Labels: Docs

#15373 Move ParseConfirmTarget from rpc/mining to rpc/util
  src/rpc/mining.cpp
  src/rpc/mining.h
  src/rpc/util.cpp
  src/rpc/util.h
Labels: Refactoring, Utils/log/libs

#15353 docs: Minor textual improvements in translation_strings_policy.md
  doc/translation_strings_policy.md
Labels: Docs

#15358 util: Add SetupHelpOptions()
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-wallet.1
  src/bench/bench_bitcoin.cpp
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/bitcoin-wallet.cpp
  src/init.cpp
  src/util/system.cpp
  src/util/system.h
Labels: Docs, Refactoring

#14543 [QA] minor p2p_sendheaders fix of height in coinbase
  test/functional/p2p_sendheaders.py
Labels: Tests

#15378 tests: Added missing tests for RPC wallet errors
  test/functional/wallet_basic.py
Labels: Tests

#15216 Scripts and tools: Replace script name with a special parameter
  contrib/install_db4.sh
  test/lint/lint-whitespace.sh
Labels: Scripts and tools

#14918 RPCHelpMan: Check default values are given at compile-time
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: Docs, RPC/REST/ZMQ, Refactoring

#15389 Remove unnecessary const_cast
  src/validation.cpp
Labels: Refactoring

#15390 [wallet-tool] Close bdb when flushing wallet
  src/wallet/wallettool.cpp
Labels: Wallet

#15334 wallet: Log absolute paths for the wallets
  src/wallet/db.cpp
Labels: Wallet

#15183 [Qt]: fixes m_assumed_blockchain_size variable value
  src/chainparams.cpp
Labels: GUI

#15407 msvc: Fix silent merge conflict between #13926 and #14372 part II
  build_msvc/bitcoin-wallet/bitcoin-wallet.vcxproj
Labels: Build system, Windows

#15388 [build] Makefile.am: add rule for src/bitcoin-wallet
  Makefile.am
  share/setup.nsi.in
Labels: Build system, Needs gitian build

#15393 build: Bump minimum Qt version to 5.5.1
  build-aux/m4/bitcoin_qt.m4
  doc/dependencies.md
  doc/release-notes-15393.md
  src/qt/bitcoin.cpp
  src/qt/test/apptests.cpp
  src/qt/test/rpcnestedtests.cpp
Labels: Build system, Needs release note

#14626 Select orphan transaction uniformly for eviction
  src/net_processing.cpp
Labels: P2P

#15411 travis: Combine --disable-bip70 into existing job
  .travis.yml
Labels: Tests

#15285 build: Prefer Python 3.4 even if newer versions are present on the system
  configure.ac
Labels: Build system

#15413 tests: Add missing cs_main locks required when accessing pcoinsdbview, pcoinsTip or pblocktree
  src/bench/block_assemble.cpp
  src/bench/duplicate_inputs.cpp
  src/test/txvalidationcache_tests.cpp
Labels: Tests

#15405 [build] AppVeyor: clean cache when build configuration changes
  .appveyor.yml
Labels: Tests

#15383 [rpc] mining: Omit uninitialized currentblockweight, currentblocktx
  doc/release-notes.md
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
  src/validation.h
  test/functional/mining_basic.py
  test/functional/test_framework/blocktools.py
Labels: Docs, Mining, RPC/REST/ZMQ

#15410 test: txindex: interrupt threadGroup before calling destructor
  src/test/txindex_tests.cpp
Labels: Tests

#15398 msvc: add rapidcheck property tests
  .appveyor.yml
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
Labels: Build system, Windows

#15426 [Doc] importmulti: add missing description of keypool option
  src/wallet/rpcdump.cpp
Labels: Docs

#15425 [Doc] add missing newline to listunspent help for witnessScript
  src/wallet/rpcwallet.cpp
Labels: Docs

#15429 Update assumevalid, minimumchainwork, and getchaintxstats to height 563378
  src/chainparams.cpp
Labels: Validation

#15250 Use RdSeed when available, and reduce RdRand load
  src/random.cpp
  src/random.h
Labels: Utils/log/libs

#15397 Remove manual byte editing in wallet_tx_clone func test
  test/functional/wallet_txn_clone.py
Labels: Tests

#15348 doc: Add separate productivity notes document
  doc/README.md
  doc/developer-notes.md
  doc/productivity.md
Labels: Docs

#15433 Use a single wallet batch for UpgradeKeyMetadata
  src/wallet/wallet.cpp
Labels: Wallet

#15415 [test] functional: allow custom cwd, use tmpdir as default
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
Labels: Tests

#15404 [test] Remove -txindex to start nodes
  doc/REST-interface.md
  test/functional/feature_segwit.py
  test/functional/interface_rest.py
  test/functional/rpc_psbt.py
  test/functional/rpc_rawtransaction.py
  test/functional/test_framework/util.py
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_basic.py
Labels: Tests

#15439 tests: remove byte.hex() to keep compatibility
  test/functional/mining_basic.py
  test/functional/wallet_txn_clone.py
Labels: Tests

#15416 doc: update FreeBSD build guide for 12.0
  doc/build-freebsd.md
Labels: Docs

#15222 docs: Add info about factors that affect dependency list
  doc/dependencies.md
Labels: Docs

#13676 Explain that mempool memory is added to -dbcache
  src/init.cpp
Labels: Docs

#15273 docs: Slight tweak to the verify-commits script directions
  contrib/verify-commits/README.md
Labels: Docs

#15458 refactor: Drop redundant wallet reference
  src/interfaces/wallet.cpp
Labels: Refactoring

#15408 Remove unused TransactionError constants
  src/node/transaction.cpp
  src/node/transaction.h
  src/psbt.cpp
  src/psbt.h
  src/rpc/rawtransaction.cpp
  src/wallet/psbtwallet.cpp
  src/wallet/psbtwallet.h
  src/wallet/rpcwallet.cpp
  src/wallet/test/psbt_wallet_tests.cpp
Labels: RPC/REST/ZMQ, Refactoring, Wallet

#15435 rpc: Add missing #include
  src/rpc/util.cpp
  src/rpc/util.h
Labels: Refactoring

#15456 Enable PID file creation on WIN
  build_msvc/libbitcoin_server/libbitcoin_server.vcxproj.in
  src/init.cpp
Labels: Windows

#15471 rpc/gui: Remove 'Unknown block versions being mined' warning
  src/validation.cpp
  test/functional/feature_notifications.py
  test/functional/feature_versionbits_warning.py
Labels: GUI, RPC/REST/ZMQ

#15462 gui: Fix async open wallet call order
  src/qt/bitcoingui.cpp
  src/qt/walletcontroller.cpp
Labels: GUI

#15468 wallet: Use fsbridge::ifstream to fix Windows path issue
  src/fs.cpp
  src/wallet/walletutil.cpp
Labels: Wallet, Windows

#15477 doc: Remove misleading hint in getrawtransaction
  src/rpc/rawtransaction.cpp
Labels: Docs, RPC/REST/ZMQ

#15489 doc: Update release process for snap package
  doc/release-process.md
Labels: Docs
