Repository bitcoin/bitcoin, pull requests merged in 2019-10, with the labels that each got.

#16969 refactor: Remove Qt function to disable menu icons on macOS
  src/qt/bitcoin.cpp
Labels: GUI, Refactoring, macOS

#16997 doc: Update bips.md for 0.19
  doc/bips.md
  doc/release-process.md
Labels: Docs

#16852 gui: When BIP70 is disabled, get PaymentRequest merchant using string search
  src/qt/transactiondesc.cpp
Labels: GUI

#17005 build: Qt version appears only if GUI is being built
  build-aux/m4/bitcoin_qt.m4
Labels: Build system

#17001 doc: Remove mention of renamed mapBlocksUnlinked
  src/init.cpp
Labels: Docs

#16984 util: Make thread names shorter
  src/util/threadnames.cpp
Labels: Utils/log/libs

#17002 chainparams: Bump assumed chain params
  doc/release-process.md
  src/chainparams.cpp
Labels: Docs, Validation

#17014 doc: Consolidate release notes before 0.19.0 (move-only)
  doc/release-notes-15584.md
  doc/release-notes-16185.md
  doc/release-notes-16512.md
  doc/release-notes-16695.md
  doc/release-notes-16787.md
  doc/release-notes.md
Labels: Docs

#13266 refactor: privatize SignatureExtractorChecker [moveonly]
  src/script/sign.cpp
Labels: Refactoring

#16849 Fix block index inconsistency in InvalidateBlock()
  src/validation.cpp
Labels: Bug, Validation

#17006 tests: Enable UBSan for Travis fuzzing job
  .travis.yml
  ci/test/00_setup_env_amd64_fuzz.sh
Labels: Tests

#16952 gui: make sure to update the UI when deleting a transaction
  src/wallet/wallet.cpp
Labels: Bug, GUI, Waiting for author

#16964 gui: Change sendcoins dialogue Yes to Send
  src/qt/sendcoinsdialog.cpp
Labels: GUI

#16524 Wallet: Disable -fallbackfee by default
  doc/release-notes-16524.md
  src/wallet/init.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_framework/util.py
Labels: Tests, Wallet

#17038 Don't rename main thread at process level
  src/bitcoind.cpp
  src/qt/bitcoin.cpp
  src/util/threadnames.cpp
  src/util/threadnames.h
Labels: Needs backport, Utils/log/libs

#17022 doc: move-only: Steps for "before major release branch-off"
  doc/release-process.md
Labels: Docs

#17042 contrib: fix minor typos in makeseeds.py
  contrib/seeds/makeseeds.py
Labels: Scripts and tools

#17031 gui: Prevent processing duplicate payment requests
  src/qt/paymentserver.cpp
Labels: GUI, Needs backport (0.19)

#17052 scripts: update copyright_header script to include additional files
  contrib/devtools/copyright_header.py
Labels: Scripts and tools

#17049 contrib: Bump gitian descriptors for 0.20
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build system, Needs gitian build

#17069 tests: Pass fuzzing inputs as constant references
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/fuzz.h
  src/test/fuzz/script_flags.cpp
Labels: Refactoring, Tests

#17030 test: Fix Python Docstring to include all Args.
  test/functional/test_framework/util.py
Labels: Docs, Tests

#16802 scripts: In linearize, search for next position of magic bytes rather than fail
  contrib/linearize/linearize-data.py
Labels: Feature, Scripts and tools

#17073 move-only: PASTE macros to util/macros.h
  src/Makefile.am
  src/sync.h
  src/util/macros.h
Labels: Refactoring

#17011 ci: Use busybox utils for one build
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_arm.sh
  ci/test/04_install.sh
Labels: Tests

#16569 Increase init file stop timeout
  contrib/init/bitcoind.conf
  contrib/init/bitcoind.init
  contrib/init/bitcoind.openrcconf
  contrib/init/bitcoind.service
Labels: Scripts and tools

#17059 util: Simplify path argument for CBlockTreeDB ctor
  src/txdb.cpp
Labels: Refactoring, UTXO Db and Indexes

#17066 build: Remove workaround for ancient libtool
  configure.ac
Labels: Build system

#17068 qt: Always generate `bitcoinstrings.cpp` on `make translate`
  src/Makefile.qt.include
Labels: Build system, GUI

#17074 build: Added double quotes
  autogen.sh
Labels: Build system

#15437 p2p: Remove BIP61 reject messages
  doc/bips.md
  doc/man/bitcoin-qt.1
  doc/man/bitcoind.1
  doc/release-notes-15437.md
  src/init.cpp
  src/net_processing.cpp
  src/net_processing.h
  src/protocol.cpp
  src/protocol.h
  src/test/denialofservice_tests.cpp
  src/validation.h
  test/functional/feature_cltv.py
  test/functional/feature_dersig.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
Labels: P2P

#17084 build: Fix #include sys/poll.h to just poll.h (without sys/)
  src/compat/stdin.cpp
Labels: Linux/Unix

#16821 Fix bug where duplicate PSBT keys are accepted
  src/psbt.h
  test/functional/data/rpc_psbt.json
Labels: Bug, RPC/REST/ZMQ

#17081 doc: fix Makefile target in benchmarking.md
  doc/benchmarking.md
Labels: Docs

#15098 qt: Show addresses for "SendToSelf" transactions
  src/qt/transactionrecord.cpp
  src/qt/transactiontablemodel.cpp
Labels: GUI

#17087 build: Add variable printing target to Makefiles
  Makefile.am
  depends/Makefile
Labels: Build system

#15023 GUI: Restore RPC Console to non-wallet tray icon menu
  src/qt/bitcoingui.cpp
Labels: GUI

#15756 gui: Add shortcuts for tab tools
  src/qt/bitcoingui.cpp
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Labels: Feature, GUI

#17085 init: Change fallback locale to C.UTF-8
  src/util/system.cpp
Labels: Linux/Unix, Utils/log/libs

#16689 rpc: add missing fields to wallet rpc help output
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ

#16786 test: add unit test for wallet watch-only methods involving PubKeys
  src/wallet/test/wallet_tests.cpp
Labels: Tests

#16973 test: Fix combine_logs.py for AppVeyor build
  test/functional/combine_logs.py
Labels: Tests

#16983 doc: Add detailed info about Bitcoin Core files
  doc/files.md
Labels: Docs

#17102 doc: Add missing indexes/blockfilter/basic to doc/files.md
  doc/files.md
Labels: Docs

#17097 build: Add README.md to DIST target
  Makefile.am
Labels: Build system

#16947 doc: Doxygen-friendly script/descriptor.h comments
  src/script/descriptor.h
Labels: Docs

#17121 test: speedup wallet_backup by whitelisting peers (immediate tx relay)
  test/functional/wallet_backup.py
Labels: Tests

#16667 build: remove mingw linker workaround from win gitian descriptor
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build system

#17108 test: fix "tx-size-small" errors after default address change
  test/functional/feature_bip68_sequence.py
  test/functional/feature_rbf.py
  test/functional/test_framework/script_util.py
Labels: Tests

#17124 test: speed up wallet_address_types by whitelisting peers (immediate tx relay)
  test/functional/wallet_address_types.py
Labels: Tests

#17111 doc: update bips.md with buried BIP9 deployments
  doc/bips.md
Labels: Docs, Needs backport (0.19)

#17086 tests: Fix fs_tests for unknown locales
  src/test/fs_tests.cpp
Labels: Tests, Waiting for author

#17033 Disable _FORTIFY_SOURCE when enable-debug
  configure.ac
Labels: Build system

#17146 github: Add warning for bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Docs

#17142 docs: Update macdeploy README to include all files produced by `make deploy`
  contrib/macdeploy/README.md
Labels: Build system, Docs, macOS

#17141 test: Rename SegwitVersion1SignatureHash()
  test/functional/feature_block.py
  test/functional/p2p_segwit.py
  test/functional/test_framework/script.py
Labels: Tests

#17125 gui: Add toolTip and placeholderText to sign message fields
  src/qt/forms/signverifymessagedialog.ui
Labels: GUI

#17098 refactor: Feebumper EstimateFeeRate follow-up
  src/interfaces/wallet.cpp
  src/wallet/feebumper.cpp
  src/wallet/feebumper.h
  src/wallet/rpcwallet.cpp
Labels: Refactoring, Wallet

#17105 gui: Make RPCConsole::TabTypes an enum class
  src/qt/bitcoingui.cpp
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Labels: GUI

#17118 build: depends macOS: point --sysroot to SDK
  depends/builders/darwin.mk
Labels: Build system, macOS

#17113 tests: Add fuzzing harness for descriptor Span-parsing helpers
  src/Makefile.test.include
  src/test/fuzz/spanparsing.cpp
Labels: Tests

#17095 util: Filter control characters out of log messages
  src/logging.cpp
  src/test/util_tests.cpp
Labels: Needs backport (0.18), Needs backport (0.19), Utils/log/libs

#17140 test: Fix bug in blockfilter_index_tests.
  src/test/blockfilter_index_tests.cpp
Labels: Tests

#17169 doc: correct function name in ReportHardwareRand()
  src/random.cpp
Labels: Docs

#17119 doc: Fix broken bitcoin-cli examples
  src/rpc/rawtransaction.cpp
Labels: Docs, RPC/REST/ZMQ

#16597 Travis: run full test suite on native macOS
  .travis.yml
  ci/test/00_setup_env_mac_functional.sh
  ci/test/04_install.sh
  ci/test/05_before_script.sh
  ci/test/06_script_a.sh
  ci/test/06_script_b.sh
Labels: Tests

#17162 chain: Remove CBlockIndex::SetNull helper
  src/chain.h
Labels: Refactoring, Validation

#15084 gui: don't disable the sync overlay when wallet is disabled
  src/qt/bitcoingui.cpp
  src/qt/modaloverlay.cpp
  src/qt/modaloverlay.h
Labels: GUI

#17186 gui: Add placeholder text to the sign message field
  src/qt/forms/signverifymessagedialog.ui
Labels: GUI

#17151 gui: remove OpenSSL PRNG seeding (Windows, Qt only)
  src/qt/winshutdownmonitor.cpp
Labels: GUI, Windows

#17184 util: Filter out macOS process serial number
  src/util/system.cpp
Labels: Needs backport (0.19), Needs gitian build, Utils/log/libs, macOS

#17157 doc: Added instructions for how to add an upsteam to forked repo
  CONTRIBUTING.md
Labels: Docs

#17203 wallet: Remove unused GetLabelName
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#17191 random: remove call to RAND_screen() (Windows only)
  src/random.cpp
Labels: Utils/log/libs, Windows

#17195 gui: send amount placeholder value
  src/qt/bitcoinamountfield.cpp
Labels: GUI

#17070 wallet: Avoid showing GUI popups on RPC errors
  src/dummywallet.cpp
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/load.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/wallet_multiwallet.py
Labels: Wallet

#17205 ci: Enable address sanitizer (ASan) stack-use-after-return checking
  ci/test/04_install.sh
Labels: Tests

#17209 tests: Remove no longer needed UBSan suppressions (issues fixed). Add documentation.
  test/sanitizer_suppressions/ubsan
Labels: Tests

#17091 tests: Add test for loadblock option and linearize scripts
  Makefile.am
  test/functional/feature_loadblock.py
  test/functional/test_runner.py
Labels: Tests

#17180 gui: Improved tooltip for send amount field
  src/qt/forms/sendcoinsentry.ui
Labels: GUI, Waiting for author

#16911 wallet: Only check the hash of transactions loaded from disk
  src/wallet/walletdb.cpp
Labels: Resource usage, Wallet

#17183 refactor: test/bench: dedup Build{Crediting,Spending}Transaction()
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
  src/Makefile.bench.include
  src/Makefile.test.include
  src/bench/verify_script.cpp
  src/test/lib/transaction_utils.cpp
  src/test/lib/transaction_utils.h
  src/test/script_tests.cpp
Labels: Tests

#17206 test: Add testcase to simulate bitcoin schema in leveldb
  src/test/dbwrapper_tests.cpp
Labels: Tests

#17226 gui: Fix payAmount tooltip in SendCoinsEntry
  src/qt/forms/sendcoinsentry.ui
Labels: GUI

#17240 ci: Disable functional tests on mac host
  .travis.yml
  ci/test/00_setup_env_mac_host.sh
Labels: Tests

#17212 refactor: Remove unused CExt{Pub,}Key (de)serialization methods
  src/key.h
  src/pubkey.h
  src/test/bip32_tests.cpp
Labels: Refactoring

#16851 Continue relaying transactions after they expire from mapRelay
  src/net_processing.cpp
Labels: Feature, P2P

#17231 depends: fix boost mac cross build with clang 9+
  depends/packages/boost.mk
Labels: Build system

#17080 consensus: Explain why fCheckDuplicateInputs can not be skipped and remove it
  src/consensus/tx_check.cpp
  src/consensus/tx_check.h
  src/test/fuzz/transaction.cpp
  src/validation.cpp
Labels: Consensus, Docs, Refactoring

#17220 tests: Add unit testing for the CompressScript function
  src/test/compress_tests.cpp
Labels: Tests

#17242 refactor: Remove unused cacheSigStore from CheckInputsFromMempooAndCache
  src/validation.cpp
Labels: Refactoring, Validation

#17083 tests: Add fuzzing harness for various CScript related functions
  src/Makefile.test.include
  src/test/fuzz/script.cpp
Labels: Tests

#17251 net: SocketHandler logs peer id for close and disconnect
  src/net.cpp
Labels: P2P

#17135 gui: Make polling in ClientModel asynchronous
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
Labels: GUI

#17252 0.19: gui: Make polling in ClientModel asynchronous
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
Labels: Backport

#17249 rpc: Add missing deque include to fix build
  src/httpserver.cpp
Labels: Needs backport (0.19), RPC/REST/ZMQ

#17120 gui: Fix start timer from non QThread
  src/qt/walletcontroller.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: Bug, GUI, Needs backport (0.19)

#17257 gui: disable font antialiasing for QR image address
  src/qt/qrimagewidget.cpp
Labels: GUI, Needs backport (0.19)

#17192 util: Add CHECK_NONFATAL and use it in src/rpc
  src/Makefile.am
  src/rpc/blockchain.cpp
  src/rpc/misc.cpp
  src/rpc/util.h
  src/util/check.h
  test/functional/rpc_misc.py
Labels: RPC/REST/ZMQ

#17250 Avoid unused call to GuessVerificationProgress in NotifyHeaderTip
  src/interfaces/node.cpp
Labels: Refactoring

#17267 bench: Fix negative values and zero for -evals flag
  src/bench/bench_bitcoin.cpp
Labels: Tests

#16986 doc: Doxygen-friendly CuckooCache comments
  src/cuckoocache.h
  src/test/cuckoocache_tests.cpp
Labels: Docs

#17279 refactor: Remove redundant c_str() calls in formatting
  src/bench/bench_bitcoin.cpp
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
  src/init.cpp
  src/net.cpp
  src/noui.cpp
  src/policy/fees.cpp
  src/rpc/rawtransaction.cpp
  src/script/descriptor.cpp
  src/sync.cpp
  src/util/system.cpp
  src/wallet/wallettool.cpp
Labels: Refactoring

#17299 test: add reason checks for non-standard txs in test_IsStandard
  src/test/transaction_tests.cpp
Labels: Tests

#17280 refactor: Change occurences of c_str() used with size() to data()
  src/bitcoin-cli.cpp
  src/crypto/hkdf_sha256_32.cpp
  src/fs.cpp
  src/httprpc.cpp
  src/util/strencodings.cpp
  src/wallet/crypter.cpp
Labels: Refactoring

#17282 contrib: remove accounts from bash completion
  contrib/bitcoin-cli.bash-completion
Labels: Scripts and tools

#17306 refactor: Use name constants in chainparams initialization
  src/chainparams.cpp
Labels: Refactoring, Waiting for author

#17302 cli: Add "headers" and "verificationprogress" to -getinfo
  src/bitcoin-cli.cpp
Labels: Utils/log/libs

#16943 test: Add generatetodescriptor RPC
  src/rpc/client.cpp
  src/rpc/mining.cpp
  test/functional/rpc_invalidateblock.py
  test/functional/test_framework/address.py
Labels: Mining, RPC/REST/ZMQ, Tests

#17281 doc: Add developer note on c_str()
  doc/developer-notes.md
Labels: Docs

#17308 nsis: Write to correct filename in first place
  contrib/gitian-descriptors/gitian-win.yml
  share/setup.nsi.in
Labels: Build system

#17274 tests: Fix fuzzers eval_script and script_flags by re-adding ECCVerifyHandle dependency
  src/test/fuzz/eval_script.cpp
  src/test/fuzz/script_flags.cpp
Labels: Tests

#17329 linter: Strip trailing / in path for git-subtree-check
  test/lint/git-subtree-check.sh
Labels: Scripts and tools

#17330 test: Add shrinkdebugfile=0 to regtest bitcoin.conf
  test/functional/test_framework/util.py
Labels: Tests
