Repository bitcoin/bitcoin, pull requests merged in 2019-11, with the labels that each got.

#17325 log: Fix log message for -par=1
  src/init.cpp
Labels: Utils/log/libs

#17286 Fix help-debug -checkpoints
  src/init.cpp
Labels: Docs

#17324 Update univalue subtree
  src/univalue/README.md
  src/univalue/include/univalue.h
  src/univalue/lib/univalue_get.cpp
Labels: RPC/REST/ZMQ, Upstream

#17218 Replace the LogPrint function with a macro
  src/logging.h
Labels: Utils/log/libs

#17327 test: add rpc_fundrawtransaction logging
  test/functional/rpc_fundrawtransaction.py
Labels: Tests

#17284 build: update retry to current version
  ci/retry/README.md
  ci/retry/retry
Labels: Build system, Docs

#15888 QA: Add wallet_implicitsegwit to test the ability to transform keys between address types
  test/functional/test_runner.py
  test/functional/wallet_implicitsegwit.py
Labels: Tests

#17345 test: Do not instantiate CAddrDB for static call CAddrDB::Read()
  src/test/net_tests.cpp
Labels: Tests

#17254 test: fix script_p2sh_tests OP_PUSHBACK2/4 missing
  src/test/script_p2sh_tests.cpp
Labels: Tests

#17292 Add new mempool benchmarks for a complex pool
  src/Makefile.bench.include
  src/bench/mempool_stress.cpp
Labels: Mempool, Tests

#17293 Add assertion to randrange that input is not 0
  src/random.h
Labels: Refactoring

#17297 refactor: Remove addrdb.h dependency from node.h
  src/Makefile.am
  src/addrdb.h
  src/banman.h
  src/interfaces/node.h
  src/net_types.h
  src/qt/bantablemodel.cpp
  src/rpc/net.cpp
Labels: Refactoring

#17351 doc: Fix some misspellings
  README.md
  contrib/guix/manifest.scm
  doc/developer-notes.md
  src/netbase.cpp
  src/node/transaction.cpp
  src/qt/bitcoin.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rawtransaction_util.h
  src/script/descriptor.cpp
  src/validation.cpp
  test/lint/lint-spelling.ignore-words.txt
  test/lint/lint-spelling.sh
Labels: Docs

#17199 test: use default address type (bech32) for wallet_bumpfee tests
  test/functional/wallet_bumpfee.py
Labels: Tests

#17318 replace asserts in RPC code with CHECK_NONFATAL and add linter
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/util.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  test/lint/lint-assertions.sh
Labels: RPC/REST/ZMQ

#17366 test: Reset global args between test suites
  src/test/setup_common.cpp
Labels: Tests

#17258 Fix issue with conflicted mempool tx in listsinceblock
  src/wallet/rpcwallet.cpp
  test/functional/wallet_listsinceblock.py
Labels: RPC/REST/ZMQ, Wallet

#17365 depends: update README.md with working Android targets and API levels
  depends/README.md
Labels: Docs

#17378 TestShell: Fix typos & implement cleanups
  test/functional/test-shell.md
  test/functional/test_framework/test_shell.py
Labels: Tests

#17363 test: add "diamond" unit test to MempoolAncestryTests
  src/test/mempool_tests.cpp
Labels: Tests

#17044 init: Remove auto-import of `bootstrap.dat` and associated code
  doc/developer-notes.md
  doc/release-notes-15954.md
  src/init.cpp
Labels: Block storage

#17360 gui: Improve "Hide" button tool-tip message
  src/qt/forms/sendcoinsdialog.ui
Labels: GUI

#17382 rpc: Remove unused boost::this_thread::interruption_point
  src/node/coinstats.cpp
  src/rpc/blockchain.cpp
Labels: Refactoring

#17370 doc: Update doc/bips.md with recent changes in master
  doc/bips.md
Labels: Docs

#17388 Add missing newline in util_ChainMerge test
  src/test/util_tests.cpp
Labels: Tests

#17368 cli: fix -getinfo output when compiled with no wallet
  src/bitcoin-cli.cpp
Labels: Utils/log/libs

#17339 doc: Add template for good first issues
  .github/ISSUE_TEMPLATE/good_first_issue.md
Labels: Docs

#17390 test: Add util_ArgParsing test
  src/test/util_tests.cpp
Labels: Tests

#17340 Tests: speed up fundrawtransaction test
  test/functional/rpc_fundrawtransaction.py
Labels: Tests

#17364 Updates to appveyor config for VS2019 and Qt5.9.8 + msvc project fixes
  .appveyor.yml
  build_msvc/bitcoin-qt/bitcoin-qt.vcxproj
  build_msvc/common.init.vcxproj
  build_msvc/common.qt.init.vcxproj
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
Labels: Windows

#16978 test: Seed test RNG context for each test case, print seed
  src/test/bloom_tests.cpp
  src/test/coins_tests.cpp
  src/test/cuckoocache_tests.cpp
  src/test/pmt_tests.cpp
  src/test/setup_common.cpp
  src/test/setup_common.h
  src/test/sighash_tests.cpp
  src/test/streams_tests.cpp
  src/test/util_tests.cpp
Labels: Needs rebase, Tests

#17362 test: speed up wallet_avoidreuse, add logging
  test/functional/wallet_avoidreuse.py
Labels: Tests

#17404 Remove redundant class file include from test_bitcoin msvc project
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
Labels: Build system, Windows

#17354 wallet: Tidy CWallet::SetUsedDestinationState
  src/interfaces/wallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#17405 wallet: Remove unused boost::this_thread::interruption_point
  src/wallet/db.cpp
Labels: Refactoring, Wallet

#17403 doc: reintegrate 0.19.0 release notes
  doc/release-notes.md
Labels: Docs

#17422 doc: add historical 0.19.0 release notes
  doc/release-notes/release-notes-0.19.0.md
Labels: Docs

#17431 Remove unnecessary forward declaration
  src/txmempool.h
Labels: Mempool

#17427 qt: Fix missing qRegisterMetaType for size_t
  src/qt/bitcoin.cpp
Labels: GUI, Needs backport (0.19)

#17417 [0.19] cli: fix -getinfo output when compiled with no wallet
  src/bitcoin-cli.cpp
Labels: Backport

#17416 Appveyor improvement - text file for vcpkg package list
  .appveyor.yml
  build_msvc/README.md
  build_msvc/vcpkg-packages.txt
Labels: Tests, Windows

#17442 fix Typo: "merkelRoot" -> "merkleRoot"
  src/test/merkle_tests.cpp
Labels: Tests

#17450 util: Add missing headers to util/fees.cpp
  src/util/fees.cpp
Labels: Utils/log/libs

#17437 rpc: Expose block height of wallet transactions
  doc/release-notes-17437.md
  src/wallet/rpcwallet.cpp
  test/functional/wallet_listsinceblock.py
  test/functional/wallet_listtransactions.py
Labels: RPC/REST/ZMQ

#17435 test: check custom ancestor limit in mempool_packages.py
  test/functional/mempool_packages.py
Labels: Tests

#17449 fix uninitialized variable nMinerConfirmationWindow
  src/chainparams.cpp
Labels: Needs backport (0.19), Validation

#17469 test: Remove fragile assert_memory_usage_stable
  test/functional/p2p_invalid_messages.py
  test/functional/test_framework/test_node.py
Labels: Tests

#17322 Fix input size assertion in wallet_bumpfee.py
  test/functional/wallet_bumpfee.py
Labels: Tests

#17480 test: add unit test for non-standard txs with too large scriptSig
  src/test/transaction_tests.cpp
Labels: Tests

#17455 tests: Update valgrind suppressions
  contrib/valgrind.supp
Labels: Tests

#17486 build: make Travis catch unused variables
  configure.ac
Labels: Build system

#17499 refactor, qt: Remove unused signal from WalletView class
  src/qt/walletframe.cpp
  src/qt/walletview.h
Labels: GUI, Refactoring

#17436 Add TheCharlatan's pgp key
  contrib/gitian-keys/keys.txt
Labels: Docs

#17466 depends: qt: Fix C{,XX} pickup
  depends/packages/qt.mk
Labels: Build system

#17328 GuessVerificationProgress: cap the ratio to 1
  src/validation.cpp
Labels: Validation

#17488 test: fix "bitcoind already running" warnings on macOS
  test/functional/test_runner.py
Labels: Tests

#16669 build: use new fork of osslsigncode for windows gitian signing
  contrib/gitian-build.py
  contrib/gitian-descriptors/gitian-win-signer.yml
  doc/release-process.md
Labels: Build system, Windows

#17503 doc: Remove bitness from bitcoin-qt help message and manpage
  src/qt/utilitydialog.cpp
Labels: Docs, GUI

#17136 tests: Add fuzzing harness for various PSBT related functions
  src/Makefile.test.include
  src/test/fuzz/psbt.cpp
Labels: Tests

#17411 doc: Add some better examples for scripted diff
  doc/developer-notes.md
Labels: Docs

#17008 build: bump libevent to 2.1.11 in depends
  depends/packages/libevent.mk
  depends/patches/libevent/fix_android_arc4random_addrandom.patch
  doc/dependencies.md
Labels: Android, Build system

#17446 gui: Changed tooltip for 'Label' & 'Message' text fields to be more clear
  src/qt/forms/receivecoinsdialog.ui
Labels: GUI

#17532 test: add functional test for non-standard txs with too large scriptSig
  test/functional/mempool_accept.py
Labels: Tests

#17420 travis: Rework CACHE_ERR_MSG
  .travis.yml
Labels: Tests

#17444 wallet: Avoid showing GUI popups on RPC errors (take 2)
  src/wallet/wallet.cpp
Labels: Wallet

#17519 rpc: Remove unused COINBASE_FLAGS
  src/miner.cpp
  src/rpc/mining.cpp
  src/validation.cpp
  src/validation.h
Labels: RPC/REST/ZMQ

#17542 build: Create test utility library from src/test/util/
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.qttest.include
  src/Makefile.test.include
  src/Makefile.test_util.include
Labels: Build system, Tests

#17545 build: remove libanl.so.1 from ALLOWED_LIBRARIES
  contrib/devtools/symbol-check.py
Labels: Build system, Scripts and tools

#14384 Fire TransactionRemovedFromMempool callbacks from mempool
  src/init.cpp
  src/txmempool.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  test/lint/lint-circular-dependencies.sh
Labels: Refactoring

#17290 Enable BnB coin selection for preset inputs and subtract fee from outputs
  src/wallet/test/coinselector_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#17553 wallet: Remove out of date comments for CalculateMaximumSignedTxSize
  src/wallet/wallet.cpp
Labels: Wallet

#17550 build: set minimum supported macOS to 10.12
  .travis.yml
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_mac_host.sh
  contrib/gitian-descriptors/gitian-osx.yml
  depends/README.md
  depends/hosts/darwin.mk
  doc/build-osx.md
  doc/release-notes.md
  share/qt/Info.plist.in
Labels: Build system, Needs gitian build, macOS

#17387 wallet_importmulti: use addresses of the same type as being imported
  test/functional/wallet_importmulti.py
Labels: Tests

#17447 wallet: Make -walletdir network only
  src/wallet/init.cpp
Labels: Wallet

#17539 doc: Update and improve Developer Notes
  doc/developer-notes.md
Labels: Docs

#17571 Add libtest_util library to msvc build configuration
  build_msvc/bench_bitcoin/bench_bitcoin.vcxproj.in
  build_msvc/bitcoin.sln
  build_msvc/libtest_util/libtest_util.vcxproj.in
  build_msvc/msvc-autogen.py
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
Labels: Tests, Windows

#17518 refactor, wallet: Nuke coincontrol circular dependency
  src/qt/sendcoinsdialog.cpp
  src/wallet/coincontrol.h
  src/wallet/init.cpp
  src/wallet/wallet.h
  test/lint/lint-circular-dependencies.sh
Labels: Refactoring, Wallet

#17527 Fix CPUID subleaf iteration
  src/randomenv.cpp
Labels: Bug, Utils/log/libs

#17574 doc: Add historical release notes for 0.19.0.1
  doc/release-notes/release-notes-0.19.0.1.md
  doc/release-notes/release-notes-0.19.0.md
Labels: Docs

#17592 Appveyor install libevent[thread] vcpkg
  build_msvc/vcpkg-packages.txt
Labels: Windows

#17596 doc: Change doxygen URL to doxygen.bitcoincore.org
  doc/README.md
Labels: Docs

#17584 wallet: replace raw pointer with const reference in AddrToPubKey
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpcwallet.cpp
Labels: Refactoring, Wallet

#17567 gui: remove macOS start on login code
  doc/release-notes.md
  src/qt/guiutil.cpp
  src/qt/optionsdialog.cpp
Labels: GUI, macOS

#17604 util: make ScheduleBatchPriority advisory only
  src/util/system.cpp
  src/util/system.h
Labels: Utils/log/libs

#17624 net: Fix an uninitialized read in ProcessMessage(…, "tx", …) when receiving a transaction we already have
  src/consensus/validation.h
Labels: P2P
