Repository bitcoin/bitcoin, pull requests merged in 2019-05, with the labels that each got.

#15758 qa: Add further tests to wallet_balance
  test/functional/wallet_balance.py
Labels: Tests, Wallet

#15841 [test] combine_logs: append node stderr and stdout if it exists
  test/functional/combine_logs.py
Labels: Tests

#15650 Handle the result of posix_fallocate system call
  src/util/system.cpp
Labels: Utils/log/libs

#15938 refactor: Silence "control reaches end of non-void function" (-Wreturn-type) in psbt.cpp
  src/psbt.cpp
Labels: Refactoring

#15941 doc: Add historical release notes for 0.18.0
  doc/release-notes/release-notes-0.18.0.md
Labels: Docs

#15932 rpc: Serialize in getblock without cs_main
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
Labels: RPC/REST/ZMQ

#15949 test_runner: Move pruning back to extended
  test/functional/test_runner.py
Labels: Tests

#15928 GUI: Move QRImageWidget to its own file-pair
  src/Makefile.qt.include
  src/qt/forms/receiverequestdialog.ui
  src/qt/guiconstants.h
  src/qt/qrimagewidget.cpp
  src/qt/qrimagewidget.h
  src/qt/receiverequestdialog.cpp
  src/qt/receiverequestdialog.h
Labels: Build system, GUI, Refactoring

#15947 Install bitcoin-wallet manpage
  doc/man/Makefile.am
Labels: Build system, Docs, Needs backport

#15927 [tests] log thread names by default in functional tests
  test/functional/test_framework/test_node.py
Labels: Tests

#14266 refactor: Lift prevector default vals to the member declaration
  src/prevector.h
Labels: Refactoring

#15890 Doc: remove text about txes always relayed from -whitelist
  src/init.cpp
Labels: Docs, Needs backport

#15766 scripts and tools: Upgrade gitian image before signing
  contrib/gitian-build.py
Labels: Scripts and tools

#15794 docs: Clarify PR guidelines w/re documentation
  CONTRIBUTING.md
Labels: Docs

#15239 scripts and tools: Move non-linux build source tarballs to "bitcoin-binaries/version" directory
  contrib/gitian-build.py
Labels: Build system

#15744 refactor: Extract ParseDescriptorRange
  src/rpc/blockchain.cpp
  src/rpc/misc.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpcdump.cpp
  test/functional/rpc_scantxoutset.py
  test/functional/wallet_importmulti.py
Labels: RPC/REST/ZMQ, Refactoring

#14802 rpc: faster getblockstats using BlockUndo data
  doc/release-notes-14802.md
  src/rpc/blockchain.cpp
  test/functional/data/rpc_getblockstats.json
  test/functional/rpc_getblockstats.py
Labels: RPC/REST/ZMQ

#14364 doc: Clarify -blocksdir usage
  src/init.cpp
Labels: Docs

#15855 [refactor] interfaces: Add missing LockAnnotation for cs_main
  src/bench/bench.cpp
  src/bench/duplicate_inputs.cpp
  src/interfaces/chain.cpp
  src/qt/test/wallettests.cpp
  src/test/miner_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/util.cpp
  src/test/validation_block_tests.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring

#15963 [tests] Make random seed logged and settable
  test/functional/test_framework/test_framework.py
Labels: Tests

#15777 [docs] Add doxygen comments for keypool classes
  src/wallet/wallet.h
Labels: Docs, Wallet

#14984 rpc: Speedup getrawmempool when verbose=true
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ, Resource usage

#15943 tests: Fail if RPC has been added without tests
  .travis.yml
  .travis/test_06_script_b.sh
  test/functional/rpc_misc.py
  test/functional/test_runner.py
Labels: Tests

#15983 build with -fstack-reuse=none
  configure.ac
Labels: Build system, Needs backport

#15968 Fix portability issue with pthreads
  src/util/threadnames.cpp
Labels: Linux/Unix, Utils/log/libs

#15950 Do not construct out-of-bound pointers in SHA2 code
  src/crypto/ripemd160.cpp
  src/crypto/sha1.cpp
  src/crypto/sha512.cpp
Labels: Refactoring

#15006 Add option to create an encrypted wallet
  doc/release-notes-15006.md
  src/wallet/rpcwallet.cpp
  test/functional/wallet_createwallet.py
Labels: Wallet

#15820 docs: Add productivity notes for dummy rebases
  doc/productivity.md
Labels: Docs

#15970 Utils and libraries: fix static_assert for macro HAVE_THREAD_LOCAL
  src/sync.cpp
Labels: Utils/log/libs

#15999 init: Remove dead code in LoadChainTip
  src/validation.cpp
Labels: Refactoring, Validation

#15922 doc: Explain how to pass in non-fundamental types into functions
  doc/developer-notes.md
Labels: Docs

#15863 scripts and tools: Ensure repos are up-to-date in gitian-build.py
  contrib/gitian-build.py
Labels: Scripts and tools

#15957 Show "No wallets available" in open menu instead of nothing
  src/qt/bitcoingui.cpp
Labels: GUI, Needs backport

#12980 Allow quicker shutdowns during LoadBlockIndex()
  src/init.cpp
  src/txdb.cpp
  src/validation.cpp
Labels: Refactoring

#16001 Give WalletModel::UnlockContext move semantics
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: GUI, Wallet

#16051 depends: add patch to common dependencies
  depends/README.md
Labels: Build system, Docs

#16021 p2p: Avoid logging transaction decode errors to stderr
  src/net_processing.cpp
  test/functional/p2p_segwit.py
Labels: Needs backport, P2P

#15840 Contrib scripts: Filter IPv6 by ASN
  contrib/seeds/makeseeds.py
Labels: Scripts and tools

#13998 Scripts and tools: gitian-build.py improvements and corrections
  contrib/gitian-build.py
Labels: Scripts and tools

#15236 scripts and tools: Make --setup command independent
  contrib/gitian-build.py
Labels: Scripts and tools

#13555 Tests: parameterize adjustment period in versionbits_computeblockversion
  src/test/versionbits_tests.cpp
Labels: Tests

#16071 RPC: Hint for importmulti in help output of importpubkey and importaddress
  src/wallet/rpcdump.cpp
Labels: RPC/REST/ZMQ, Wallet

#16049 depends: switch to secure download of all dependencies
  depends/packages.md
  depends/packages/bdb.mk
  depends/packages/fontconfig.mk
  depends/packages/freetype.mk
  depends/packages/libX11.mk
  depends/packages/libXau.mk
  depends/packages/libXext.mk
  depends/packages/libxcb.mk
  depends/packages/miniupnpc.mk
  depends/packages/native_cctools.mk
  depends/packages/native_cdrkit.mk
  depends/packages/xcb_proto.mk
  depends/packages/xextproto.mk
  depends/packages/xproto.mk
  depends/packages/xtrans.mk
  depends/packages/zlib.mk
Labels: Build system

#16015 validation: Hold cs_main when reading chainActive in RewindBlockIndex
  src/validation.cpp
Labels: Validation

#16063 rpc: Mention getwalletinfo where a rescan is triggered
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ, Wallet

#16079 wallet_balance.py: Prevent edge cases
  test/functional/wallet_balance.py
Labels: Tests

#16024 [rpc] deriveaddresses: Correction of descriptor checksum in RPC example
  src/rpc/misc.cpp
Labels: RPC/REST/ZMQ

#16078 test: replace tx hash with txid in rawtransaction test
  test/functional/rpc_rawtransaction.py
Labels: Tests

#16059 configure: Fix thread_local detection
  configure.ac
Labels: Bug, Build system

#15622 Remove global symbols: Avoid using the global namespace if possible
  src/httpserver.cpp
  src/init.cpp
  src/warnings.cpp
Labels: Refactoring

#16095 Catch by reference not value in wallettool
  src/wallet/wallettool.cpp
Labels: Wallet

#16114 contrib: add curl as a required program in gitian-build.py
  contrib/gitian-build.py
Labels: Scripts and tools

#16113 gui: move coin control "OK" to the right hand side of the dialog
  src/qt/forms/coincontroldialog.ui
Labels: GUI

#16047 doc: analyzepsbt description in doc/psbt.md
  doc/psbt.md
Labels: Docs

#16056 mempool: remove unused magic number from consistency check
  src/txmempool.cpp
Labels: Mempool

#16089 depends: add ability to skip building zeromq
  depends/Makefile
  depends/README.md
  depends/config.site.in
  depends/packages/packages.mk
Labels: Build system

#16046 util: Add type safe GetTime
  src/Makefile.bench.include
  src/bench/util_time.cpp
  src/test/util_tests.cpp
  src/util/time.cpp
  src/util/time.h
Labels: Utils/log/libs

#15703 Update secp256k1 subtree to latest upstream
  src/secp256k1/.gitignore
  src/secp256k1/.travis.yml
  src/secp256k1/Makefile.am
  src/secp256k1/build-aux/m4/ax_jni_include_dir.m4
  src/secp256k1/build-aux/m4/bitcoin_secp.m4
  src/secp256k1/configure.ac
  src/secp256k1/include/secp256k1.h
  src/secp256k1/include/secp256k1_ecdh.h
  src/secp256k1/libsecp256k1.pc.in
  src/secp256k1/src/bench.h
  src/secp256k1/src/bench_ecdh.c
  src/secp256k1/src/bench_ecmult.c
  src/secp256k1/src/bench_internal.c
  src/secp256k1/src/bench_recover.c
  src/secp256k1/src/bench_sign.c
  src/secp256k1/src/eckey_impl.h
  src/secp256k1/src/ecmult.h
  src/secp256k1/src/ecmult_const.h
  src/secp256k1/src/ecmult_const_impl.h
  src/secp256k1/src/ecmult_gen_impl.h
  src/secp256k1/src/ecmult_impl.h
  src/secp256k1/src/field_10x26.h
  src/secp256k1/src/field_10x26_impl.h
  src/secp256k1/src/field_5x52.h
  src/secp256k1/src/field_5x52_impl.h
  src/secp256k1/src/field_5x52_int128_impl.h
  src/secp256k1/src/field_impl.h
  src/secp256k1/src/gen_context.c
  src/secp256k1/src/group.h
  src/secp256k1/src/group_impl.h
  src/secp256k1/src/hash.h
  src/secp256k1/src/hash_impl.h
  src/secp256k1/src/java/org/bitcoin/NativeSecp256k1Test.java
  src/secp256k1/src/java/org_bitcoin_NativeSecp256k1.c
  src/secp256k1/src/modules/ecdh/main_impl.h
  src/secp256k1/src/modules/ecdh/tests_impl.h
  src/secp256k1/src/scalar_4x64_impl.h
  src/secp256k1/src/scratch.h
  src/secp256k1/src/scratch_impl.h
  src/secp256k1/src/secp256k1.c
  src/secp256k1/src/testrand_impl.h
  src/secp256k1/src/tests.c
  src/secp256k1/src/tests_exhaustive.c
  src/secp256k1/src/util.h
Labels: Upstream

#16039 docs: add release note for 14954
  doc/release-notes-14954.md
Labels: Docs

#16086 contrib: use newer config.guess & config.sub in install_db4.sh
  contrib/install_db4.sh
Labels: Build system, Scripts and tools
