Repository bitcoin/bitcoin, pull requests merged in 2019-12, with the labels that each got.

#17521 depends: only use D-Bus with Qt on linux
  depends/packages/qt.mk
Labels: Build system

#17643 wallet: Fix origfee return for bumpfee with feerate arg
  src/wallet/feebumper.cpp
  test/functional/wallet_bumpfee.py
Labels: Needs backport (0.19), Wallet

#17641 Add unit test for leveldb creation with unicode path
  src/test/dbwrapper_tests.cpp
Labels: Tests, Windows

#17555 test: add unit test for non-standard txs with wrong nVersion
  src/test/transaction_tests.cpp
Labels: Tests

#17637 script: Add Keyserver to verify-commits README
  contrib/verify-commits/README.md
Labels: Docs

#17547 build: Fix configure report about qr
  configure.ac
Labels: Build system

#17648 doc: rename wallet-tool references to bitcoin-wallet
  src/bitcoin-wallet.cpp
  src/wallet/wallet.cpp
Labels: Docs, Utils/log/libs

#17573 Seed RNG with precision timestamps on receipt of net messages.
  src/net.cpp
  src/random.cpp
  src/random.h
Labels: P2P, Utils/log/libs

#17650 util: remove unwanted fields from bitcoin-cli -getinfo
  src/bitcoin-cli.cpp
  test/functional/interface_bitcoin_cli.py
Labels: Needs release note, Utils/log/libs

#17507 random: mark RandAddPeriodic and SeedPeriodic as noexcept
  src/random.cpp
  src/random.h
Labels: Utils/log/libs

#17522 test: Wait until mempool is loaded in wallet_abandonconflict
  test/functional/wallet_abandonconflict.py
Labels: Tests

#17670 Move events_hasher into RNGState()
  src/random.cpp
  src/random.h
Labels: Bug, Utils/log/libs

#17674 tests: Add initialization order fiasco detection in Travis
  ci/test/04_install.sh
Labels: Tests

#17663 build: pass -dead_strip_dylibs to ld on macOS
  configure.ac
Labels: Build system, macOS

#17051 tests: Add deserialization fuzzing harnesses
  src/Makefile.test.include
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/transaction.cpp
  test/fuzz/test_runner.py
Labels: Tests

#17275 pubkey: Assert CPubKey's ECCVerifyHandle precondition
  src/pubkey.cpp
Labels: Tests

#17658 depends: add ability to skip building qrencode
  depends/Makefile
  depends/README.md
  depends/config.site.in
  depends/packages/packages.mk
Labels: Build system

#17671 script: fixed wget call in gitian-build.py
  contrib/gitian-build.py
  doc/release-process.md
Labels: Scripts and tools

#17685 tests: Fix bug in the descriptor parsing fuzzing harness (descriptor_parse)
  src/test/fuzz/descriptor_parse.cpp
Labels: Tests

#17699 Make env data logging optional
  src/random.cpp
Labels: Utils/log/libs

#17647 lcov: filter depends from coverage reports
  Makefile.am
Labels: Build system

#17695 gui: disable File->CreateWallet during startup
  src/qt/bitcoingui.cpp
Labels: GUI, Needs backport (0.19)

#17694 ui: disable 3rd-party tx-urls when wallet disabled
  src/qt/optionsdialog.cpp
Labels: GUI

#17680 gitian: fixed SC2001 regex
  contrib/gitian-descriptors/gitian-win-signer.yml
Labels: Scripts and tools

#17678 depends: Support for S390X and POWER targets
  depends/.gitignore
  depends/Makefile
  depends/README.md
  depends/packages/qt.mk
Labels: Build system

#17682 util: Update tinyformat to upstream
  src/tinyformat.h
Labels: Upstream, Utils/log/libs

#17225 tests: Test serialisation as part of deserialisation fuzzing. Test round-trip equality where possible.
  src/test/fuzz/deserialize.cpp
Labels: Tests

#17502 test: add unit test for non-standard bare multisig txs
  src/test/transaction_tests.cpp
Labels: Tests

#17561 doc: Changed MiniUPnPc link to https in dependencies.md
  doc/dependencies.md
Labels: Docs

#17703 build: Improve configure.ac formatting
  configure.ac
Labels: Build system

#17633 tests: Add option --valgrind to run the functional tests under Valgrind
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
Labels: Tests

#17698 depends: don't configure xcb_proto
  depends/packages/xcb_proto.mk
Labels: Build system

#17697 CI: GitHub Action workflow which duplicates AppVeyor job
  .github/workflows/ci.yml
Labels: Tests

#17714 rpc: add missing newline in analyzepsbt RPCResult
  src/rpc/rawtransaction.cpp
Labels: Docs

#17713 doc: Add release notes for 17447
  doc/release-notes.md
Labels: Docs

#17474 Bugfix: GUI: Recognise NETWORK_LIMITED in formatServicesStr
  src/protocol.h
  src/qt/guiutil.cpp
Labels: GUI

#17705 test: re-enable CLI test support by using EncodeDecimal in json.dumps()
  test/functional/feature_segwit.py
  test/functional/mempool_package_onemore.py
  test/functional/mempool_packages.py
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_signrawtransaction.py
  test/functional/rpc_txoutproof.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_balance.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_bumpfee_totalfee_deprecation.py
  test/functional/wallet_listsinceblock.py
  test/functional/wallet_reorgsrestore.py
Labels: Tests

#17726 ci: Use python 3.7 on Windows Github Actions
  .github/workflows/ci.yml
Labels: Tests

#17598 doc: Update release process with latest changes
  doc/release-process.md
Labels: Docs

#17736 Update msvc build for Visual Studio 2019 v16.4
  .appveyor.yml
  build_msvc/common.init.vcxproj
Labels: Windows

#17654 Unbreak build with Boost 1.72.0
  src/fs.h
Labels: Needs backport (0.19), Utils/log/libs

#17728 rpc: require second argument only for scantxoutset start action
  src/rpc/blockchain.cpp
  test/functional/rpc_scantxoutset.py
Labels: Bug, Needs backport (0.19), RPC/REST/ZMQ

#17743 doc: Add release note for RPC Whitelist
  doc/release-notes.md
Labels: Docs

#17730 depends: remove Qt networking features
  depends/packages/qt.mk
Labels: Build system

#17752 doc: fix directory path for secp256k1 subtree in developer-notes
  doc/developer-notes.md
Labels: Docs

#17661 ci: use depends for s390x
  .travis.yml
  ci/test/00_setup_env_s390x.sh
Labels: Build system

#17725 ci: Add valgrind run
  .travis.yml
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/04_install.sh
  ci/test/06_script_b.sh
  ci/test/wrap-valgrind.sh
  contrib/valgrind.supp
Labels: Tests

#17756 build: remove WINDOWS_BITS from build system
  Makefile.am
  configure.ac
  share/setup.nsi.in
Labels: Build system, Windows

#17686 build: add -bind_at_load to macOS hardened LDFLAGS
  configure.ac
Labels: Build system, macOS

#17764 doc: Add formatting to the good first issue template
  .github/ISSUE_TEMPLATE/good_first_issue.md
Labels: Docs

#17769 build: set AC_PREREQ to 2.69
  configure.ac
Labels: Build system

#17772 doc: Mention PR Club in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Docs

#17751 doc: use recommended shebang approach in documentation code block
  doc/reduce-memory.md
Labels: Docs

#17793 ci: Update GitHub Actions CI vcpkg cache on MSBuild update
  .github/workflows/ci.yml
Labels: Tests

#17806 test: Change filemode of rpc_whitelist.py
  test/functional/rpc_whitelist.py
Labels: Tests

#17801 doc: Update license year range to 2020
  COPYING
  configure.ac
  contrib/debian/copyright
Labels: Docs

#17825 doc: Update dependencies.md
  doc/dependencies.md
Labels: Docs
