Repository bitcoin/bitcoin, pull requests merged in 2020-12, with the labels that each got.

#20519 Handle rename failure in DumpMempool(...) by using the RenameOver(...) return value. Add [[nodiscard]] to RenameOver(...).
  src/util/system.h
  src/validation.cpp
Labels: Utils/log/libs, Validation

#20494 refactor: Move node and wallet code out of src/interfaces
  src/Makefile.am
  src/interfaces/node.cpp
  src/node/interfaces.cpp
  src/wallet/interfaces.cpp
Labels: Refactoring

#20222 refactor: CTxMempool constructor clean up
  src/init.cpp
  src/test/util/setup_common.cpp
  src/txmempool.cpp
  src/txmempool.h
Labels: Mempool, Refactoring

#20512 doc: Add bash as an OpenBSD dependency
  doc/build-openbsd.md
Labels: Docs

#20496 build: Drop unneeded macOS framework dependencies
  build-aux/m4/bitcoin_qt.m4
  src/qt/notificator.cpp
Labels: Build system, GUI

#20478 Don't set BDB flags when configuring without
  configure.ac
Labels: Build system, macOS

#20425 fuzz: Make CAddrMan fuzzing harness deterministic
  src/test/fuzz/addrman.cpp
  src/test/fuzz/util.h
Labels: Tests

#20207 Follow-up extra comments on taproot code and tests
  src/Makefile.test.include
  src/policy/policy.h
  src/pubkey.h
  src/script/interpreter.cpp
  src/validation.cpp
  test/functional/feature_taproot.py
  test/functional/test_framework/script.py
Labels: Consensus

#19980 refactor: Some wallet cleanups
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
Labels: Wallet

#20505 [backport] build: Avoid secp256k1.h include from system
  src/Makefile.am
Labels: Backport, Build system

#20540 test: Fix wallet_multiwallet issue on windows
  test/functional/wallet_multiwallet.py
Labels: Tests

#20150 [0.19] Backports
  .appveyor.yml
  configure.ac
  depends/packages/qt.mk
  doc/dependencies.md
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/timedata.cpp
  src/util/system.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: Backport

#20461 rpc: Validate -rpcauth arguments
  doc/release-notes.md
  src/httprpc.cpp
  test/functional/rpc_users.py
Labels: RPC/REST/ZMQ

#20507 sync: print proper lock order location when double lock is detected
  src/sync.cpp
  src/test/sync_tests.cpp
Labels: Tests

#18948 qt: Call setParent() in the parent's context
  src/qt/guiutil.h
  src/qt/walletcontroller.cpp
Labels: GUI

#20543 ci: no-longer exclude feature_block in TSAN job
  .cirrus.yml
  ci/test/00_setup_env_native_tsan.sh
Labels: Tests

#20530 lint, refactor: Update cppcheck linter to c++17 and improve explicit usage
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/pubkey.h
  src/qt/test/addressbooktests.h
  src/qt/test/rpcnestedtests.h
  src/qt/test/wallettests.h
  src/rpc/request.h
  src/script/descriptor.cpp
  src/script/standard.h
  src/test/fuzz/signature_checker.cpp
  src/test/util/logging.h
  src/test/util_tests.cpp
  src/tinyformat.h
  src/txmempool.h
  src/txrequest.cpp
  src/validation.cpp
  src/wallet/bdb.h
  src/wallet/scriptpubkeyman.h
  test/lint/extended-lint-cppcheck.sh
Labels: Refactoring, Scripts and tools

#20545 ci: Adjust cirrus ci task names
  .cirrus.yml
Labels: Tests

#20466 test: Fix intermittent p2p_fingerprint issue
  test/functional/p2p_fingerprint.py
Labels: Tests

#20520 depends: Do not force Precompiled Headers (PCH) for building Qt on Linux
  ci/test/00_setup_env_i686_centos.sh
  depends/packages/qt.mk
Labels: Build system

#20506 ci: AppVeyor fixes for Visual Studio 2019 16.8.1 image
  .appveyor.yml
  build_msvc/bitcoin-qt/bitcoin-qt.vcxproj
  build_msvc/common.init.vcxproj
  build_msvc/common.vcxproj
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
Labels: Windows

#20221 net: compat.h related cleanup
  src/compat.h
  src/httpserver.cpp
  src/net.h
  src/torcontrol.cpp
Labels: P2P, RPC/REST/ZMQ

#20182 ci: Build with --enable-werror by default, and document exceptions
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_mac_host.sh
  ci/test/00_setup_env_win64.sh
  ci/test/06_script_a.sh
Labels: Tests

#20563 build: Check that Homebrew's berkeley-db4 package is actually installed
  configure.ac
Labels: Build system

#20200 doc: rename CODEOWNERS to REVIEWERS
  REVIEWERS
Labels: Docs

#20255 util: Add Assume() identity function
  configure.ac
  doc/developer-notes.md
  src/util/check.h
Labels: Utils/log/libs

#20565 Android : Ensure pic build for bdb
  depends/packages/bdb.mk
Labels: Android, Build system

#20566 refactor: Use C++17 std::array where possible
  src/qt/sendcoinsdialog.cpp
  src/wallet/walletutil.cpp
Labels: Refactoring

#20562 tests: Test that a fully signed tx given to signrawtx is unchanged
  test/functional/rpc_signrawtransaction.py
Labels: Tests

#20510 [backport] wallet: allow zero-fee fundrawtransaction/walletcreatefundedpsbt and other fixes
  src/wallet/rpcwallet.cpp
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_send.py
Labels: Backport

#20572 ci: Adjust Cirrus CI task names (follow up)
  .cirrus.yml
Labels: Tests

#20581 Don't make "in" parameters look like "out"/"in-out" parameters: pass by ref to const instead of ref to non-const
  src/init.cpp
  src/init.h
  src/node/coinstats.cpp
  src/rpc/rawtransaction_util.cpp
  src/rpc/rawtransaction_util.h
  src/script/sigcache.cpp
  src/test/addrman_tests.cpp
  src/test/net_tests.cpp
  src/test/util_tests.cpp
  src/validation.cpp
  src/wallet/feebumper.cpp
  src/wallet/interfaces.cpp
Labels: Refactoring

#19893 test: Remove or explain syncwithvalidationinterfacequeue
  test/functional/wallet_balance.py
  test/functional/wallet_importmulti.py
  test/functional/wallet_resendwallettransactions.py
Labels: Tests

#20577 doc: libconsensus: add missing error code description, fix NBitcoin link
  doc/shared-libraries.md
Labels: Docs

#20476 contrib: Add test for ELF symbol-check
  Makefile.am
  configure.ac
  contrib/devtools/test-symbol-check.py
Labels: Scripts and tools, Tests

#19832 p2p: Put disconnecting logs into BCLog::NET category
  src/net_processing.cpp
Labels: P2P

#19847 rpc, refactor: Avoid duplicate set lookup in gettxoutproof
  src/rpc/rawtransaction.cpp
  test/functional/rpc_txoutproof.py
Labels: RPC/REST/ZMQ

#20482 Add depends qt fix for ARM macs
  depends/packages/qt.mk
Labels: Build system, GUI, macOS

#20468 build: warn when generating man pages for binaries built from a dirty branch
  contrib/devtools/gen-manpages.sh
  src/bitcoin-tx.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
Labels: Build system, Scripts and tools

#20138 net: Assume that SetCommonVersion is called at most once per peer
  src/net.h
  src/test/fuzz/net.cpp
Labels: P2P

#18766 Disable fee estimation in blocksonly mode (by removing the fee estimates global)
  src/init.cpp
  src/interfaces/node.h
  src/node/context.cpp
  src/node/context.h
  src/node/interfaces.cpp
  src/policy/fees.cpp
  src/policy/fees.h
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/rpc/mining.cpp
  src/test/util/setup_common.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_fee_estimation.py
  test/lint/lint-circular-dependencies.sh
Labels: TX fees and policy

#20568 doc: Use FeeModes doc helper in estimatesmartfee
  src/rpc/mining.cpp
  test/functional/rpc_estimatefee.py
Labels: Docs, RPC/REST/ZMQ

#20535 test: Fix intermittent feature_taproot issue
  test/functional/feature_taproot.py
Labels: Tests

#20561 p2p: periodically clear m_addr_known
  src/net_processing.cpp
Labels: P2P

#20422 build: mac deployment unification
  Makefile.am
  contrib/macdeploy/README.md
  contrib/macdeploy/custom_dsstore.py
  contrib/macdeploy/fancy.plist
  contrib/macdeploy/macdeployqtplus
  depends/packages/native_mac_alias.mk
  depends/packages/qt.mk
Labels: Build system, Upstream, macOS

#19425 refactor: Get rid of more redundant chain methods
  src/bench/wallet_balance.cpp
  src/interfaces/chain.h
  src/node/interfaces.cpp
  src/test/interfaces_tests.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/init_test_fixture.cpp
  src/wallet/test/init_test_fixture.h
  src/wallet/test/ismine_tests.cpp
  src/wallet/test/scriptpubkeyman_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
Labels: Refactoring, interfaces

#20564 Don't send 'sendaddrv2' to pre-70016 software, and send before 'verack'
  src/net_processing.cpp
  test/functional/test_framework/p2p.py
Labels: Needs backport (0.21), P2P

#20323 tests: Create or use existing properly initialized NodeContexts
  src/qt/test/rpcnestedtests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  src/test/validation_chainstatemanager_tests.cpp
Labels: Tests

#19910 net processing: Move peer_map to PeerManager
  src/net_processing.cpp
  src/net_processing.h
  src/node/interfaces.cpp
  src/rpc/net.cpp
Labels: P2P, Refactoring

#20606 Remove unused bits from service flags enum
  src/protocol.cpp
  src/protocol.h
  test/functional/test_framework/messages.py
Labels: P2P

#20602 util: Allow use of C++14 chrono literals
  src/net.h
  src/net_processing.cpp
  src/randomenv.cpp
  src/util/time.h
Labels: Refactoring, Utils/log/libs

#20603 build: Update crc32c subtree
  src/Makefile.crc32c.include
  src/crc32c/.appveyor.yml
  src/crc32c/AUTHORS
  src/crc32c/CMakeLists.txt
  src/crc32c/Crc32cConfig.cmake.in
  src/crc32c/src/crc32c.cc
  src/crc32c/src/crc32c_arm64.cc
  src/crc32c/src/crc32c_arm64.h
  src/crc32c/src/crc32c_arm64_check.h
  src/crc32c/src/crc32c_benchmark.cc
  src/crc32c/src/crc32c_read_le.h
Labels: Build system

#20046 depends: Set CMAKE_INSTALL_RPATH for native packages
  depends/funcs.mk
Labels: Build system, Needs gitian build

#20608 contrib: add symbol check test for PE binaries
  Makefile.am
  contrib/devtools/test-symbol-check.py
Labels: Scripts and tools, Windows

#20217 net: Remove g_relay_txes
  src/init.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/net.cpp
  src/test/denialofservice_tests.cpp
  src/test/util/setup_common.cpp
Labels: P2P, Refactoring

#19776 net, rpc: expose high bandwidth mode state via getpeerinfo
  doc/release-notes-19776.md
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/net.cpp
  test/functional/p2p_compactblocks.py
Labels: P2P, RPC/REST/ZMQ

#20573 wallet, bugfix: allow send with string fee_rate amounts
  src/wallet/rpcwallet.cpp
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/wallet_basic.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_send.py
Labels: Needs backport (0.21), RPC/REST/ZMQ, Wallet

#20609 configure: output notice that test binary is disabled by fuzzing
  configure.ac
Labels: Build system

#20595 Improve heuristic hex transaction decoding
  src/core_read.cpp
  test/functional/rpc_rawtransaction.py
Labels: Needs backport (0.21), RPC/REST/ZMQ

#20589 log: Clarify that failure to read/write fee_estimates.dat is non-fatal
  src/policy/fees.cpp
Labels: Utils/log/libs

#20567 test: Add option to git-subtree-check to do full check, add help
  ci/lint/06_script.sh
  test/lint/README.md
  test/lint/git-subtree-check.sh
Labels: Tests

#20549 Support make src/bitcoin-node and src/bitcoin-gui
  Makefile.am
  configure.ac
Labels: Build system

#20527 build: Do not ignore Homebrew's SQLite on macOS
  configure.ac
  doc/build-osx.md
Labels: Build system, Needs backport (0.21)

#20587 [doc] Tidy up Tor doc (more stringent)
  doc/tor.md
Labels: Docs

#20613 test: Use Popen.wait instead of RPC in assert_start_raises_init_error
  test/functional/test_framework/test_node.py
Labels: Tests

#20612 [0.21] final rc3 backports
  configure.ac
  doc/build-osx.md
  src/core_read.cpp
  src/net_processing.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/rpc_rawtransaction.py
  test/functional/test_framework/p2p.py
  test/functional/wallet_basic.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_send.py
Labels: Backport

#19740 [0.20] wallet: Simplify and fix CWallet::SignTransaction
  src/wallet/wallet.cpp
  test/functional/rpc_signrawtransaction.py
Labels: Backport

#19982 test: Fix inconsistent lock order in wallet_tests/CreateWallet
  src/sync.cpp
  src/sync.h
  src/test/reverselock_tests.cpp
  src/test/sync_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  test/sanitizer_suppressions/tsan
Labels: Wallet

#19858 Periodically make block-relay connections and sync headers
  src/init.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/test/fuzz/connman.cpp
Labels: P2P

#20275 wallet: List all wallets in non-SQLite and non-BDB builds
  src/wallet/bdb.cpp
  src/wallet/bdb.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/interfaces.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/salvage.cpp
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
  src/wallet/test/db_tests.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletutil.cpp
  src/wallet/walletutil.h
Labels: Wallet

#20079 p2p: Treat handshake misbehavior like unknown message
  src/net_processing.cpp
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_leak.py
  test/functional/p2p_timeouts.py
Labels: P2P, Review club

#20588 Remove unused and confusing CTransaction constructor
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/test/fuzz/script_sigcache.cpp
  src/test/fuzz/transaction.cpp
  src/wallet/feebumper.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#20617 p2p: Remove m_is_manual_connection from CNodeState
  src/net_processing.cpp
Labels: P2P

#20592 doc: update wtxidrelay documentation per BIP339
  src/net_processing.cpp
Labels: Docs

#20624 net processing: Remove nStartingHeight check from block relay
  src/net_processing.cpp
Labels: P2P

#19763 net: don't try to relay to the address' originator
  src/net_processing.cpp
  test/functional/p2p_addr_relay.py
Labels: P2P

#20599 net processing: Tolerate sendheaders and sendcmpct messages before verack
  src/net_processing.cpp
Labels: P2P

#20594 Fix getauxval calls in randomenv.cpp
  configure.ac
Labels: Build system

#20253 net: use std::chrono throughout maxOutbound logic
  src/init.cpp
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  src/test/fuzz/connman.cpp
Labels: P2P, Refactoring

#20437 fuzz: Avoid time-based "non-determinism" in fuzzing harnesses by using mocked GetTime()
  src/test/fuzz/banman.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/rbf.cpp
Labels: Tests

#20616 Check CJDNS address is valid
  src/netaddress.cpp
  src/test/net_tests.cpp
Labels: P2P

#20653 doc: Move addr relay comment in net to correct place
  src/net.cpp
  src/net.h
Labels: Docs, P2P

#20660 Move signet onion seed from v2 to v3
  src/chainparams.cpp
Labels: P2P

#20615 cirrus: Schedule one task with paid credits for faster CI feedback
  .cirrus.yml
Labels: Tests

#20611 Move TX_MAX_STANDARD_VERSION to policy
  src/bitcoin-tx.cpp
  src/policy/policy.cpp
  src/policy/policy.h
  src/primitives/transaction.h
Labels: Refactoring

#20477 net: Add unit testing of node eviction logic
  src/net.cpp
  src/net.h
  src/test/net_tests.cpp
Labels: P2P, Review club, Tests

#20650 depends: Drop workaround for a fixed bug in Qt build system
  depends/packages/qt.mk
Labels: Build system, Needs gitian build

#20276 test: run mempool_expiry.py even with wallet disabled
  test/functional/mempool_expiry.py
Labels: Tests

#20601 doc: Update for FreeBSD 12.2, add GUI Build Instructions
  doc/build-freebsd.md
Labels: Docs

#20569 test: Fix intermittent wallet_multiwallet issue with got_loading_error
  test/functional/wallet_multiwallet.py
Labels: Tests

#20605 init: Signal-safe instant shutdown
  src/bitcoind.cpp
  src/init.cpp
  src/shutdown.cpp
  src/shutdown.h
Labels: Utils/log/libs

#20365 wallettool: add parameter to create descriptors wallet
  src/bitcoin-wallet.cpp
  src/wallet/wallettool.cpp
  test/functional/tool_wallet.py
Labels: Wallet

#20661 Only select from addrv2-capable peers for torv3 address relay
  src/net.h
  src/net_processing.cpp
Labels: Needs backport (0.21), P2P

#20171 Add functional test test_txid_inv_delay
  test/functional/p2p_segwit.py
  test/functional/p2p_tx_download.py
  test/functional/test_framework/p2p.py
Labels: Tests

#20248 test: fix length of R check in key_signature_tests
  src/test/key_tests.cpp
Labels: Tests

#20651 net: Make p2p recv buffer timeout 20 minutes for all peers
  src/net.cpp
Labels: P2P

#20470 build: Replace genisoimage with xorriso
  .gitignore
  Makefile.am
  ci/test/00_setup_env_mac.sh
  configure.ac
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/macdeploy/README.md
  depends/packages/native_cdrkit.mk
  depends/packages/packages.mk
  depends/patches/native_cdrkit/cdrkit-deterministic.patch
Labels: Build system

#20575 Do not run functions with necessary side-effects in assert()
  src/bench/chacha_poly_aead.cpp
  src/validation.h
  src/wallet/test/coinselector_tests.cpp
Labels: Refactoring

#20658 ci: Move linter task to cirrus
  .cirrus.yml
  .travis.yml
  ci/lint/04_install.sh
  ci/lint/05_before_script.sh
  ci/lint/06_script.sh
Labels: Tests

#19050 doc: Add warning for rest interface limitation
  doc/JSON-RPC-interface.md
  doc/REST-interface.md
Labels: Docs

#20680 ci: Only use credits for pull requests to the main repo
  .cirrus.yml
Labels: Tests

#19961 doc: tor.md updates
  doc/tor.md
Labels: Docs, Waiting for author

#20677 doc: Remove shouty enums in net_processing comments
  src/net_processing.cpp
Labels: Docs

#20668 doc: warn that incoming conns are unlikely when not using default ports
  src/init.cpp
  src/net.cpp
Labels: Docs, P2P

#20635 fix misleading comment about call to non-existing function
  src/wallet/wallet.cpp
Labels: Docs

#19137 wallettool: Add dump and createfromdump commands
  src/Makefile.am
  src/bitcoin-wallet.cpp
  src/wallet/dump.cpp
  src/wallet/dump.h
  src/wallet/wallettool.cpp
  test/functional/tool_wallet.py
Labels: Scripts and tools, Wallet

#20681 doc: Convert depends options list from html to markdown
  depends/README.md
Labels: Build system, Docs

#20644 Add patch to make codesign_allocate compatible with Apple's
  depends/packages/native_cctools.mk
  depends/patches/native_cctools/segalign.patch
Labels: Build system, Needs backport (0.20), Needs backport (0.21)

#20691 ci, doc: Travis CI features and mentions cleanup
  .cirrus.yml
  README.md
  ci/test/03_before_install.sh
  ci/test/05_before_script.sh
  ci/test/06_script_a.sh
  ci/test/06_script_b.sh
  ci/test_run_all.sh
  doc/developer-notes.md
  doc/release-process.md
  test/functional/README.md
Labels: Docs, Tests

#20687 wallet: Add missing check for -descriptors wallet tool option
  src/bitcoin-wallet.cpp
  src/wallet/wallettool.cpp
  src/wallet/wallettool.h
  test/functional/tool_wallet.py
Labels: Wallet

#20682 ci: Install missing lint packages
  .cirrus.yml
  ci/lint/04_install.sh
  ci/lint_run_all.sh
Labels: Tests

#20690 Clean up logging of outbound connection type
  src/net_processing.cpp
Labels: P2P

#20434 contrib: Parse ELF directly for symbol and security checks
  Makefile.am
  configure.ac
  contrib/devtools/pixie.py
  contrib/devtools/security-check.py
  contrib/devtools/symbol-check.py
  src/Makefile.am
Labels: Build system, Utils/log/libs

#20733 inline non-member functions with body in fuzzing headers
  src/test/fuzz/fuzz.h
  src/test/fuzz/util.h
Labels: Tests

#20671 Replace boost::optional with std::optional
  src/bench/wallet_balance.cpp
  src/optional.h
  src/psbt.cpp
  src/wallet/feebumper.cpp
  src/wallet/fees.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/lint/lint-includes.sh
Labels: Refactoring

#20692 test: run mempool_resurrect.py even with wallet disabled
  test/functional/mempool_resurrect.py
Labels: Tests

#20737 test: Add missing assignment in mempool_resurrect.py
  test/functional/mempool_resurrect.py
Labels: Tests

#20731 rpc: Add missing description of vout in getrawtransaction help text
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ

#20683 test: Fix restart node race
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
Labels: Tests

#20735 script: Remove outdated extract-osx-sdk.sh
  contrib/macdeploy/extract-osx-sdk.sh
Labels: Scripts and tools

#20740 fuzz: Update FuzzedDataProvider.h from upstream (LLVM)
  src/test/fuzz/FuzzedDataProvider.h
Labels: Tests

#19829 net processing: Move block inventory state to net_processing
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/qt/rpcconsole.cpp
  src/rpc/net.cpp
Labels: P2P, Refactoring

#20745 qa: Correct epoll_ctl data race suppression
  test/sanitizer_suppressions/tsan
Labels: Tests

#19983 Drop some TSan suppressions
  test/sanitizer_suppressions/tsan
Labels: Wallet

#20748 test: Add race:SendZmqMessage tsan suppression
  test/sanitizer_suppressions/tsan
Labels: Tests

#20747 net processing: Remove dropmessagestest
  src/init.cpp
  src/net_processing.cpp
Labels: P2P, Tests

#20189 test: Switch to BIP341's suggested scheme for outputs without script
  test/functional/test_framework/script.py
Labels: Tests

#20673 depends: Use more legible qmake commands in qt package
  depends/packages/qt.mk
Labels: Build system

#20761 fuzz: Check that NULL_DATA is unspendable
  src/test/fuzz/script.cpp
Labels: Tests

#20759 doc: [test] Remove outdated comment in fuzz runner
  test/fuzz/test_runner.py
Labels: Docs, Tests

#15451 [doc] clarify getdata limit after #14897
  src/net_processing.cpp
Labels: Docs, P2P

#19972 fuzz: Add fuzzing harness for node eviction logic
  src/Makefile.test.include
  src/test/fuzz/node_eviction.cpp
Labels: P2P

#20756 [doc] Add missing field (permissions) to the getpeerinfo help
  src/rpc/net.cpp
Labels: RPC/REST/ZMQ

#20674 fuzz: Call SendMessages after ProcessMessage to increase coverage
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
Labels: Tests

#20763 test: Fix comment typo in BitcoinTestFramework
  test/functional/test_framework/test_framework.py
Labels: Tests

#20771 refactor: Enable -Wswitch for FeeEstimateHorizon
  src/policy/fees.cpp
Labels: Refactoring

#20684 build: Define .INTERMEDIATE target once only
  Makefile.am
Labels: Build system

#20451 lint: run mypy over contrib/devtools
  contrib/devtools/circular-dependencies.py
  contrib/devtools/symbol-check.py
  test/lint/lint-python.sh
Labels: Scripts and tools, Tests

#20755 [rpc] Remove deprecated fields from getpeerinfo
  doc/release-notes.md
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/net.cpp
  test/functional/p2p_blocksonly.py
  test/functional/p2p_permissions.py
  test/functional/rpc_getpeerinfo_deprecation.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#20791 p2p: remove unused legacyWhitelisted in AcceptConnection()
  src/net.cpp
Labels: P2P, Refactoring

#20377 fuzz: Fill various small fuzzing gaps
  src/Makefile.test.include
  src/test/fuzz/data_stream.cpp
  src/test/fuzz/kitchen_sink.cpp
Labels: Build system

#20812 fuzz: Bump FuzzedDataProvider.h
  src/test/fuzz/FuzzedDataProvider.h
  src/test/fuzz/kitchen_sink.cpp
Labels: Tests

#20805 doc: Update license year range to 2021
  COPYING
  configure.ac
  contrib/debian/copyright
Labels: Docs
