Repository bitcoin/bitcoin, pull requests merged in 2020-08, with the labels that each got.

#19636 doc: Update 0.20.1 release notes with psbt changes
  doc/release-notes.md
Labels: Docs

#19637 doc: Add historical release notes for 0.20.1
  doc/release-notes/release-notes-0.20.1.md
Labels: Docs

#19639 doc: Remove Reference Links #19582
  src/protocol.h
Labels: Docs, Refactoring

#18991 Cache responses to GETADDR to prevent topology leaks
  src/addrman.h
  src/net.cpp
  src/net.h
  src/net_permissions.cpp
  src/net_permissions.h
  src/net_processing.cpp
  src/test/fuzz/net_permissions.cpp
  src/test/netbase_tests.cpp
  test/functional/p2p_getaddr_caching.py
  test/functional/p2p_permissions.py
  test/functional/test_runner.py
Labels: Needs release note, P2P, Review club

#19326 Simplify hash.h interface using Spans
  src/base58.cpp
  src/bench/chacha_poly_aead.cpp
  src/bench/verify_script.cpp
  src/blockfilter.cpp
  src/hash.cpp
  src/hash.h
  src/key.cpp
  src/merkleblock.cpp
  src/net.cpp
  src/netaddress.cpp
  src/pubkey.h
  src/rpc/rawtransaction.cpp
  src/script/interpreter.cpp
  src/script/standard.cpp
  src/script/standard.h
  src/span.h
  src/test/crypto_tests.cpp
  src/test/fuzz/crypto.cpp
  src/test/fuzz/key.cpp
  src/test/key_tests.cpp
  src/test/merkle_tests.cpp
  src/test/script_standard_tests.cpp
  src/test/script_tests.cpp
  src/test/serialize_tests.cpp
  src/test/settings_tests.cpp
  src/test/util_tests.cpp
  src/uint256.cpp
  src/uint256.h
  src/validation.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/walletdb.cpp
Labels: Refactoring

#19634 rpc: Document getwalletinfo's unlocked_until field as optional
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ, Wallet

#19489 test: Fail wait_until early if connection is lost
  test/functional/p2p_filter.py
  test/functional/p2p_ping.py
  test/functional/test_framework/mininode.py
Labels: Tests

#19340 Preserve the `LockData` initial state if "potential deadlock detected" exception thrown
  src/sync.cpp
  src/sync.h
  src/test/sync_tests.cpp
Labels: Tests

#19654 lint: Don't use TRAVIS_COMMIT_RANGE in commit message linter
  test/lint/lint-git-commit-check.sh
Labels: Scripts and tools

#15382 util: add RunCommandParseJSON
  .travis.yml
  build-aux/m4/ax_boost_process.m4
  build_msvc/bitcoin_config.h
  build_msvc/vcpkg-packages.txt
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_i686_centos.sh
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_mac_host.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_multiprocess.sh
  ci/test/00_setup_env_native_nowallet.sh
  ci/test/00_setup_env_native_qt5.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/00_setup_env_s390x.sh
  ci/test/00_setup_env_win64.sh
  configure.ac
  depends/packages/boost.mk
  doc/Doxyfile.in
  src/Makefile.test.include
  src/test/system_tests.cpp
  src/util/system.cpp
  src/util/system.h
  test/lint/lint-includes.sh
Labels: RPC/REST/ZMQ, Utils/log/libs

#19632 test: Catch decimal.InvalidOperation from TestNodeCLI#send_cli
  test/functional/test_framework/test_node.py
Labels: Tests

#19614 util: use HAVE_FDATASYNC to determine fdatasync() use
  src/util/system.cpp
Labels: Utils/log/libs

#19669 contrib: Fixup valgrind suppressions file
  contrib/valgrind.supp
Labels: Tests

#19667 build: set minimum required Boost to 1.58.0
  configure.ac
  doc/dependencies.md
Labels: Build system

#19620 Add txids with non-standard inputs to reject filter
  src/consensus/validation.h
  src/net_processing.cpp
  src/policy/policy.cpp
  src/validation.cpp
  test/functional/p2p_segwit.py
Labels: P2P, TX fees and policy, Validation

#19098 test: Remove duplicate NodeContext hacks
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/qt/bitcoin.cpp
  src/qt/test/addressbooktests.cpp
  src/qt/test/test_main.cpp
  src/qt/test/wallettests.cpp
  src/test/util/setup_common.cpp
Labels: Tests

#19672 build: make clean removes .gcda and .gcno files from fuzz directory
  src/Makefile.test.include
Labels: Build system

#19638 Replace `hidden service` with `onion service`
  CONTRIBUTING.md
  doc/JSON-RPC-interface.md
  doc/files.md
  doc/tor.md
  src/init.cpp
  src/qt/forms/optionsdialog.ui
  src/torcontrol.cpp
Labels: Docs, GUI, P2P

#19660 refactor: Make HexStr take a span
  src/core_write.cpp
  src/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/request.cpp
  src/rpc/util.cpp
  src/script/descriptor.cpp
  src/test/crypto_tests.cpp
  src/test/settings_tests.cpp
  src/test/util_tests.cpp
  src/uint256.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/validation.cpp
  src/wallet/bdb.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: Refactoring, Utils/log/libs

#19649 Restore test case for p2p transaction blinding
  test/functional/p2p_segwit.py
Labels: Tests

#19657 test: Wait until is_connected in add_p2p_connection
  test/functional/p2p_filter.py
  test/functional/p2p_leak.py
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_node.py
Labels: Tests

#19631 test: Wait for 'cmpctblock' in p2p_compactblocks when it is expected
  test/functional/p2p_compactblocks.py
Labels: Tests

#19622 build: Drop ancient hack in gitian-linux descriptor
  contrib/gitian-descriptors/gitian-linux.yml
Labels: Build system, Scripts and tools

#17563 lib: fix a compiler warning: unused GetDevURandom()
  src/random.cpp
Labels: Utils/log/libs

#19605 doc: set CC_FOR_BUILD when building on OpenBSD
  doc/build-openbsd.md
Labels: Docs

#19596 Deduplicate parent txid loop of requested transactions and missing parents of orphan transactions
  src/net_processing.cpp
Labels: P2P

#19674 refactor: test: use throwaway _ variable for unused loop counters
  test/functional/example_test.py
  test/functional/feature_assumevalid.py
  test/functional/feature_bip68_sequence.py
  test/functional/feature_block.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dbcrash.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_pruning.py
  test/functional/feature_rbf.py
  test/functional/feature_segwit.py
  test/functional/mempool_package_onemore.py
  test/functional/mempool_packages.py
  test/functional/mempool_persist.py
  test/functional/mempool_updatefromblock.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_tx_download.py
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_generateblock.py
  test/functional/rpc_psbt.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/script.py
  test/functional/test_framework/util.py
  test/functional/wallet_backup.py
  test/functional/wallet_basic.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_create_tx.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_dump.py
  test/functional/wallet_groups.py
  test/functional/wallet_labels.py
  test/functional/wallet_multiwallet.py
Labels: Refactoring, Tests

#19025 [0.19] Backports
  .appveyor.yml
  .cirrus.yml
  ci/lint/04_install.sh
  configure.ac
  contrib/windeploy/win-codesign.cert
  doc/dependencies.md
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/trafficgraphwidget.cpp
  src/qt/walletmodel.cpp
  src/rpc/mining.cpp
  test/functional/feature_segwit.py
Labels: Backport

#19316 [net] Cleanup logic around connection types
  src/chainparams.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/net.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/net_tests.cpp
Labels: P2P, RPC/REST/ZMQ, Tests, Validation

#19658 [rpc] Allow RPC to fetch all addrman records and add records to addrman
  src/addrman.cpp
  src/addrman.h
  src/bench/addrman.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/client.cpp
  src/rpc/net.cpp
  src/test/addrman_tests.cpp
  test/functional/rpc_net.py
Labels: P2P, RPC/REST/ZMQ

#19696 rpc: Fix addnode remove command error
  src/rpc/net.cpp
  test/functional/rpc_net.py
Labels: RPC/REST/ZMQ

#19688 build: Add support for llvm-cov
  .gitignore
  Makefile.am
  configure.ac
Labels: Build system

#18654 rpc: separate bumpfee's psbt creation function into psbtbumpfee
  src/rpc/client.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_deprecated.py
  test/functional/wallet_bumpfee.py
Labels: RPC/REST/ZMQ, Wallet

#19011 Reduce cs_main lock accumulation during GUI startup
  src/init.cpp
  src/init.h
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/test/apptests.cpp
Labels: GUI

#19655 rpc: Catch listsinceblock target_confirmations exceeding block count
  src/wallet/rpcwallet.cpp
  test/functional/wallet_listsinceblock.py
Labels: RPC/REST/ZMQ

#19070 p2p: Signal support for compact block filters with NODE_COMPACT_FILTERS
  src/init.cpp
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  test/functional/p2p_blockfilters.py
  test/functional/test_framework/messages.py
Labels: P2P

#19644 rpc: document returned error fields as optional if applicable
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/wallet/rpcwallet.cpp
Labels: Mining, RPC/REST/ZMQ, Wallet

#19528 rpc: Assert that RPCArg names are equal to CRPCCommand ones (misc)
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/util.cpp
  test/functional/rpc_misc.py
Labels: RPC/REST/ZMQ, Refactoring

#19568 Wallet should not override signing errors
  src/wallet/wallet.cpp
Labels: Wallet

#19455 rpc generate: print useful help and error message
  src/rpc/mining.cpp
  test/functional/rpc_generate.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#17204 wallet: Do not turn OP_1NEGATE in scriptSig into 0x0181 in signing code (sipa)
  src/script/sign.cpp
  src/test/transaction_tests.cpp
  test/functional/rpc_signrawtransaction.py
Labels: Bug, Wallet

#19709 test: Fix 'make cov' with clang
  src/test/util_tests.cpp
Labels: Refactoring, Tests

#19457 wallet: Cleanup wallettool salvage and walletdb extraneous declarations
  src/wallet/salvage.cpp
  src/wallet/salvage.h
  src/wallet/walletdb.h
  src/wallet/wallettool.cpp
Labels: Wallet

#17458 Refactor OutputGroup effective value calculations and filtering to occur within the struct
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/wallet.cpp
Labels: Wallet

#15937 Add loadwallet and createwallet load_on_startup options
  doc/release-notes-15937.md
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/rpc/client.cpp
  src/wallet/init.cpp
  src/wallet/load.cpp
  src/wallet/load.h
  src/wallet/rpcwallet.cpp
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
  test/functional/wallet_startup.py
Labels: RPC/REST/ZMQ, Settings, Utils/log/libs, Wallet

#16841 Replace GetScriptForWitness with GetScriptForDestination
  src/bitcoin-tx.cpp
  src/script/standard.cpp
  src/script/standard.h
  src/test/fuzz/script.cpp
  src/test/script_standard_tests.cpp
  src/test/sigopcount_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txvalidationcache_tests.cpp
Labels: Refactoring, Wallet

#19718 build: Add missed gcov files to 'make clean'
  src/Makefile.am
  src/Makefile.test.include
Labels: Build system

#19730 ci: Set increased --timeout-factor by default
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/06_script_b.sh
  test/functional/wallet_basic.py
Labels: Tests

#19564 test: p2p_feefilter improvements (logging, refactoring, speedup)
  test/functional/p2p_feefilter.py
Labels: Tests

#19705 Shrink CAddress from 48 to 40 bytes on x64
  src/protocol.h
Labels: P2P

#14582 wallet: always do avoid partial spends if fees are within a specified range
  src/dummywallet.cpp
  src/wallet/init.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_groups.py
Labels: Needs release note, Wallet

#19719 build: Add Werror=range-loop-analysis
  configure.ac
  src/wallet/wallettool.cpp
Labels: Build system

#19721 p2p: comment out unused MSG_FILTERED_WITNESS_BLOCK
  src/protocol.h
Labels: P2P, Refactoring

#19015 build: Enable some commonly enabled compiler diagnostics
  configure.ac
Labels: Build system

#19756 tests: add sync_all to fix race condition in wallet groups test
  test/functional/wallet_groups.py
Labels: Tests

#19743 -maxapsfee follow-up
  doc/release-notes-14582.md
  src/wallet/wallet.cpp
  test/functional/wallet_groups.py
Labels: Wallet

#19746 ci: Move valgrind fuzzer to cirrus
  .cirrus.yml
  .travis.yml
Labels: Tests

#19706 refactor: make EncodeBase58{Check} consume Spans
  src/base58.cpp
  src/base58.h
  src/bench/base58.cpp
  src/qt/guiutil.cpp
  src/test/base58_tests.cpp
Labels: Refactoring

#19765 doc: Fix getmempoolancestors RPC result doc
  src/rpc/blockchain.cpp
Labels: Docs

#19727 test: Remove unused classes from p2p_leak.py
  test/functional/p2p_leak.py
Labels: Tests

#19550 rpc: Add getindexinfo RPC
  doc/release-notes.md
  src/index/base.cpp
  src/index/base.h
  src/rpc/misc.cpp
  test/functional/rpc_misc.py
Labels: RPC/REST/ZMQ, UTXO Db and Indexes

#19733 Move comment about BaseIndex::DB from TxIndex::DB
  src/index/base.h
  src/index/disktxpos.h
  src/index/txindex.cpp
Labels: UTXO Db and Indexes

#19689 build: Add Qt version checking
  build-aux/m4/bitcoin_qt.m4
  configure.ac
Labels: Build system, Needs Guix build

#19659 Add a seed corpus generation option to the fuzzing test_runner
  test/fuzz/test_runner.py
Labels: Tests

#19786 doc: Remove label from good first issue template
  .github/ISSUE_TEMPLATE/good_first_issue.md
Labels: Docs

#17396 build: modest Android improvements
  build-aux/m4/ax_boost_thread.m4
  build-aux/m4/bitcoin_qt.m4
Labels: Build system

#19704 Net processing: move ProcessMessage() to PeerLogicValidation
  src/init.cpp
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
  src/test/fuzz/process_message.cpp
  src/test/util/setup_common.cpp
Labels: P2P, Refactoring

#19731 net, rpc: expose nLastBlockTime/nLastTXTime as last block/last_transaction in getpeerinfo
  doc/release-notes-19731.md
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  test/functional/rpc_net.py
Labels: P2P, RPC/REST/ZMQ

#18405 build: Drop all of the ZeroMQ patches
  depends/packages/zeromq.mk
  depends/patches/zeromq/0001-fix-build-with-older-mingw64.patch
  depends/patches/zeromq/0002-disable-pthread_set_name_np.patch
Labels: Build system

#15704 Move Win32 defines to configure.ac to ensure they are globally defined
  build_msvc/common.init.vcxproj
  configure.ac
  src/compat.h
  src/qt/guiutil.cpp
  src/support/lockedpool.cpp
  src/util/system.cpp
Labels: Build system, Windows

#19601 Refactoring CHashWriter & Get{Prevouts,Sequence,Outputs}Hash to SHA256 (Alternative to #18071)
  src/hash.cpp
  src/hash.h
  src/script/interpreter.cpp
Labels: Consensus

#19628 net: change CNetAddr::ip to have flexible size
  doc/release-notes.md
  src/netaddress.cpp
  src/netaddress.h
  src/netbase.cpp
  src/test/fuzz/asmap.cpp
  src/test/fuzz/netaddress.cpp
  src/test/fuzz/util.h
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
Labels: P2P

#19775 test: Activate segwit in TestChain100Setup
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Labels: Tests

#19779 Remove gArgs global from init
  src/bitcoind.cpp
  src/init.cpp
  src/init.h
  src/interfaces/node.cpp
  src/test/util/setup_common.cpp
Labels: Refactoring

#19760 test: Remove confusing mininode terminology
  test/functional/README.md
  test/functional/example_test.py
  test/functional/feature_assumevalid.py
  test/functional/feature_block.py
  test/functional/feature_cltv.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dersig.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_versionbits_warning.py
  test/functional/mempool_packages.py
  test/functional/mempool_persist.py
  test/functional/mempool_unbroadcast.py
  test/functional/mining_basic.py
  test/functional/p2p_addr_relay.py
  test/functional/p2p_blockfilters.py
  test/functional/p2p_blocksonly.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_dos_header_tree.py
  test/functional/p2p_eviction.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_filter.py
  test/functional/p2p_fingerprint.py
  test/functional/p2p_getaddr_caching.py
  test/functional/p2p_getdata.py
  test/functional/p2p_invalid_block.py
  test/functional/p2p_invalid_locator.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_leak.py
  test/functional/p2p_leak_tx.py
  test/functional/p2p_nobloomfilter_messages.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_permissions.py
  test/functional/p2p_ping.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_timeouts.py
  test/functional/p2p_tx_download.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_net.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/wallet_resendwallettransactions.py
Labels: Tests

#19687 refactor: make EncodeBase{32,64} consume Spans
  src/netaddress.cpp
  src/rpc/rawtransaction.cpp
  src/util/message.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
Labels: Refactoring, Utils/log/libs

#19778 test: Fix intermittent issue in wallet_bumpfee
  test/functional/wallet_bumpfee.py
Labels: Tests

#19752 test: Update wait_until usage in tests not to use the one from utils
  test/functional/example_test.py
  test/functional/feature_abortnode.py
  test/functional/feature_notifications.py
  test/functional/feature_pruning.py
  test/functional/feature_shutdown.py
  test/functional/feature_versionbits_warning.py
  test/functional/mempool_packages.py
  test/functional/mempool_persist.py
  test/functional/p2p_blockfilters.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_disconnect_ban.py
  test/functional/p2p_eviction.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_fingerprint.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_leak.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_permissions.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_tx_download.py
  test/functional/rpc_invalidateblock.py
  test/functional/rpc_net.py
  test/functional/test_framework/util.py
  test/functional/wallet_resendwallettransactions.py
  test/functional/wallet_zapwallettxes.py
Labels: Tests

#19761 build: improve sed robustness by not using sed
  depends/packages/bdb.mk
  depends/packages/boost.mk
  depends/packages/fontconfig.mk
  depends/packages/miniupnpc.mk
  depends/packages/native_cctools.mk
  depends/packages/qt.mk
  depends/packages/zeromq.mk
  depends/patches/bdb/clang_cxx_11.patch
  depends/patches/boost/unused_var_in_process.patch
  depends/patches/fontconfig/gperf_header_regen.patch
  depends/patches/fontconfig/remove_char_width_usage.patch
  depends/patches/miniupnpc/dont_use_wingen.patch
  depends/patches/native_cctools/ld64_disable_threading.patch
  depends/patches/qt/dont_hardcode_pwd.patch
  depends/patches/qt/drop_lrelease_dependency.patch
  depends/patches/qt/freetype_back_compat.patch
  depends/patches/zeromq/remove_libstd_link.patch
Labels: Build system, Needs gitian build

#19289 wallet: GetWalletTx and IsMine require cs_wallet lock
  src/interfaces/wallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#19169 rpc: Validate provided keys for query_options parameter in listunspent
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ, Wallet

#18284 [0.19] scheduler: Workaround negative nsecs bug in boost's wait_until
  src/scheduler.cpp
Labels: Utils/log/libs

#19067 tests: Add fuzzing harness for CNode
  src/Makefile.test.include
  src/test/fuzz/net.cpp
Labels: Tests

#19681 0.19: Add txids with non-standard inputs to reject filter
  src/consensus/validation.h
  src/net_processing.cpp
  src/policy/policy.cpp
  src/validation.cpp
  test/functional/p2p_segwit.py
Labels: Backport

#19822 chain: Fix CChain comparison UB by removing it (it was unused)
  src/chain.h
Labels: Bug

#19758 Drop deprecated and unused GUARDED_VAR and PT_GUARDED_VAR annotations
  src/threadsafety.h
Labels: Build system

#19646 doc: Updated outdated help command for getblocktemplate
  src/rpc/mining.cpp
Labels: Docs, Mining, RPC/REST/ZMQ

#19739 refactor: remove c-string interfaces for DecodeBase58{Check}
  src/base58.cpp
  src/base58.h
Labels: Refactoring

#19797 net: Remove old check for 3-byte shifted IP addresses from pre-0.2.9 nodes
  src/netaddress.cpp
Labels: P2P, Waiting for author

#19607 [p2p] Add Peer struct for per-peer data in net processing
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/net.cpp
  src/test/denialofservice_tests.cpp
Labels: P2P

#18817 doc: Document differences in bitcoind and bitcoin-qt locale handling
  src/qt/bitcoin.cpp
  test/lint/lint-locale-dependence.sh
Labels: Docs, GUI

#18921 build: add stack-clash and control-flow protection options to hardening flags
  configure.ac
Labels: Brainstorming, Build system

#19839 Set appveyor VM version to previous Visual Studio 2019 release
  .appveyor.yml
Labels: Tests, Windows

#19830 test: Add tsan supp for leveldb::DBImpl::DeleteObsoleteFiles
  test/sanitizer_suppressions/tsan
Labels: Tests

#19828 wallet, refactor: Remove duplicate map lookups in GetAddressBalances
  src/wallet/wallet.cpp
Labels: Wallet

#19803 Bugfix: Define and use HAVE_FDATASYNC correctly outside LevelDB
  configure.ac
  src/util/system.cpp
Labels: Build system, Utils/log/libs

#19826 Pass mempool reference to chainstate constructor
  src/init.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstate_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/test/validation_flush_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring, Validation

#19710 bench: Prevent thread oversubscription and decreases the variance of result values
  src/bench/bench.cpp
  src/bench/checkqueue.cpp
Labels: Tests

#19099 refactor: Move wallet methods out of chain.h and node.h
  src/bitcoind.cpp
  src/dummywallet.cpp
  src/init.cpp
  src/init.h
  src/interfaces/chain.h
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/node/context.h
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/splashscreen.cpp
  src/qt/splashscreen.h
  src/qt/walletcontroller.cpp
  src/qt/walletmodel.cpp
  src/wallet/init.cpp
  src/wallet/test/init_test_fixture.cpp
  src/wallet/test/init_test_fixture.h
  src/wallet/test/init_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  src/wallet/wallet.cpp
Labels: Refactoring

#19379 tests: Add fuzzing harness for SigHasLowR(...) and ecdsa_signature_parse_der_lax(...)
  src/Makefile.test.include
  src/key.cpp
  src/pubkey.cpp
  src/test/fuzz/secp256k1_ec_seckey_import_export_der.cpp
  src/test/fuzz/secp256k1_ecdsa_signature_parse_der_lax.cpp
Labels: Tests

#19773 wallet: Avoid recursive lock in IsTrusted
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#18244 rpc: fundrawtransaction and walletcreatefundedpsbt also lock manually selected coins
  doc/release-notes-18244.md
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/rpc_psbt.py
  test/functional/wallet_basic.py
Labels: RPC/REST/ZMQ, Wallet

#19813 util, ci: Hard code previous release tarball checksums
  ci/test/00_setup_env_native_qt5.sh
  ci/test/05_before_script.sh
  test/functional/feature_backwards_compatibility.py
  test/functional/mempool_compatibility.py
  test/functional/wallet_upgradewallet.py
  test/get_previous_releases.py
Labels: Scripts and tools

#19842 Update the vcpkg checkout commit ID in appveyor config
  .appveyor.yml
Labels: Needs backport (0.19), Needs backport (0.20), Tests, Windows

#19717 rpc: Assert that RPCArg names are equal to CRPCCommand ones (mining,zmq,rpcdump)
  src/rpc/mining.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/zmq/zmqrpc.cpp
  test/functional/rpc_generate.py
Labels: RPC/REST/ZMQ, Refactoring

#19507 Expand functional zmq transaction tests
  test/functional/interface_zmq.py
Labels: Tests
