Repository bitcoin/bitcoin, pull requests merged in 2020-10, with the labels that each got.

#19253 Tests: tidy up address.py and segwit_addr.py
  test/functional/test_framework/address.py
  test/functional/test_framework/segwit_addr.py
  test/functional/test_runner.py
  test/functional/wallet_address_types.py
Labels: Tests

#20048 chainparams: do not log signet startup messages for other chains
  src/chainparams.cpp
  src/init.cpp
  test/functional/feature_signet.py
Labels: Validation

#18309 zmq: Add support to listen on multiple interfaces
  doc/release-notes-18309.md
  doc/zmq.md
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqpublishnotifier.cpp
  test/functional/interface_zmq.py
Labels: Feature, RPC/REST/ZMQ

#20060 refactor: fix -Wbraced-scalar-init warning in validation tests
  src/test/validation_tests.cpp
Labels: Refactoring

#20055 rpc: Set HTTP Content-Type in bitcoin-cli
  src/bitcoin-cli.cpp
Labels: RPC/REST/ZMQ

#19991 net: Use alternative port for incoming Tor connections
  doc/tor.md
  src/chainparamsbase.cpp
  src/chainparamsbase.h
  src/init.cpp
  src/net.cpp
  src/net.h
  src/torcontrol.cpp
  src/torcontrol.h
Labels: P2P

#19871 doc: Clarify scope of eviction protection of outbound block-relay peers
  src/net_processing.cpp
Labels: Docs, P2P

#19951 net, test: CNetAddr scoped ipv6 test coverage, rename scopeId to m_scope_id
  src/netaddress.cpp
  src/netaddress.h
  src/test/net_tests.cpp
Labels: P2P, Tests

#20034 test: Get rid of default wallet hacks
  test/functional/feature_backwards_compatibility.py
  test/functional/feature_config_args.py
  test/functional/feature_dbcrash.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_filelock.py
  test/functional/feature_notifications.py
  test/functional/feature_pruning.py
  test/functional/feature_settings.py
  test/functional/interface_bitcoin_cli.py
  test/functional/mempool_compatibility.py
  test/functional/rpc_deprecated.py
  test/functional/rpc_getdescriptorinfo.py
  test/functional/test_framework/test_framework.py
  test/functional/tool_wallet.py
  test/functional/wallet_backup.py
  test/functional/wallet_balance.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_disable.py
  test/functional/wallet_hd.py
  test/functional/wallet_import_rescan.py
  test/functional/wallet_importmulti.py
  test/functional/wallet_keypool.py
  test/functional/wallet_keypool_topup.py
  test/functional/wallet_multiwallet.py
  test/functional/wallet_reorgsrestore.py
  test/functional/wallet_send.py
  test/functional/wallet_upgradewallet.py
Labels: Tests

#19956 rpc: Improve invalid vout value rpc error message
  src/bitcoin-tx.cpp
  src/rpc/rawtransaction_util.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_rawtransaction.py
Labels: RPC/REST/ZMQ

#20071 ci, lint: Remove usage of TRAVIS_COMMIT_RANGE
  ci/lint/06_script.sh
  test/lint/lint-git-commit-check.sh
  test/lint/lint-whitespace.sh
Labels: Tests

#20069 test: Mention commit id in scripted diff error
  test/lint/commit-script-check.sh
Labels: Tests

#20072 ci: Build Arm64 on Travis without functional tests
  .travis.yml
  ci/test/00_setup_env_arm.sh
Labels: Tests

#19723 Ignore unknown messages before VERACK
  src/net_processing.cpp
Labels: P2P

#20064 RPC: remove duplicate line in getblock help
  src/rpc/blockchain.cpp
Labels: Good First Review

#19947 Test: Cover "change_type" option of "walletcreatefundedpsbt" RPC
  test/functional/rpc_psbt.py
Labels: Tests

#19339 validation: re-delegate absurd fee checking from mempool to clients
  src/bench/block_assemble.cpp
  src/net_processing.cpp
  src/node/transaction.cpp
  src/rpc/rawtransaction.cpp
  src/test/txvalidation_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/validation_block_tests.cpp
  src/util/error.cpp
  src/validation.cpp
  src/validation.h
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/rpc_rawtransaction.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_create_tx.py
Labels: Needs release note, RPC/REST/ZMQ, Review club, Validation, Wallet

#20092 util: Do not use gArgs global in ArgsManager member functions
  src/util/system.cpp
Labels: Utils/log/libs

#20027 Use mockable time everywhere in net_processing
  src/net_processing.cpp
  test/functional/p2p_tx_download.py
  test/functional/wallet_resendwallettransactions.py
Labels: P2P, Refactoring

#20065 fuzz: Configure check for main function
  configure.ac
  src/test/fuzz/fuzz.cpp
Labels: Build system

#20101 rpc: change no wallet loaded message to be clearer
  src/wallet/rpcwallet.cpp
  test/functional/wallet_multiwallet.py
Labels: RPC/REST/ZMQ

#20105 [net] Remove CombinerAll
  src/net.h
  src/test/validation_tests.cpp
Labels: Refactoring

#20106 cirrus: Use kvm to avoid spurious CI failures in the default virtualization cluster
  .cirrus.yml
Labels: Tests

#20076 doc: Update and improve files.md
  doc/files.md
Labels: Docs

#20107 doc: Collect release-notes snippets
  doc/release-notes-14582.md
  doc/release-notes-15367.md
  doc/release-notes-15454.md
  doc/release-notes-15937.md
  doc/release-notes-16378.md
  doc/release-notes-16525.md
  doc/release-notes-18244.md
  doc/release-notes-18309.md
  doc/release-notes-19405.md
  doc/release-notes-19671.md
  doc/release-notes-19731.md
  doc/release-notes.md
Labels: Docs

#19954 Complete the BIP155 implementation and upgrade to TORv3
  doc/files.md
  doc/release-notes.md
  src/addrman.h
  src/net.h
  src/net_processing.cpp
  src/netaddress.cpp
  src/netaddress.h
  src/protocol.cpp
  src/protocol.h
  src/serialize.h
  src/streams.h
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/torcontrol.cpp
  test/functional/p2p_addrv2_relay.py
  test/functional/p2p_invalid_messages.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/p2p.py
  test/functional/test_runner.py
Labels: P2P

#20119 BIP155 follow-ups
  doc/bips.md
  src/net_processing.cpp
  src/netaddress.h
Labels: P2P

#19998 net: Add CNode::ConnectedThroughNetwork member function
  src/net.cpp
  src/net.h
  src/netaddress.cpp
  src/netaddress.h
  src/test/fuzz/net.cpp
  src/test/net_tests.cpp
Labels: P2P, RPC/REST/ZMQ

#20141 Avoid the use of abs64 in timedata
  src/timedata.cpp
Labels: Refactoring

#20126 test: p2p_leak_tx.py improvements (use MiniWallet, add p2p_lock acquires)
  test/functional/p2p_leak_tx.py
Labels: Tests

#20142 [0.20] build: set minimum required Boost to 1.48.0
  configure.ac
  doc/dependencies.md
Labels: Build system

#20109 Release notes and followups from 19339
  doc/release-notes.md
  src/node/transaction.cpp
Labels: Docs

#20129 tests: don't export in6addr_loopback
  src/test/netbase_tests.cpp
Labels: Tests

#20130 Wallet: remove db mode string
  src/wallet/bdb.cpp
  src/wallet/bdb.h
  src/wallet/db.h
  src/wallet/wallet.cpp
  src/wallet/walletdb.h
Labels: Wallet

#18750 build: optionally skip external warnings
  configure.ac
  src/Makefile.qt.include
Labels: Build system

#19988 Overhaul transaction request logic
  doc/release-notes-19988.md
  src/Makefile.am
  src/Makefile.test.include
  src/limitedmap.h
  src/net.h
  src/net_permissions.cpp
  src/net_permissions.h
  src/net_processing.cpp
  src/net_processing.h
  src/primitives/transaction.h
  src/test/fuzz/txrequest.cpp
  src/test/limitedmap_tests.cpp
  src/test/txrequest_tests.cpp
  src/txrequest.cpp
  src/txrequest.h
  src/uint256.cpp
  src/uint256.h
  test/functional/p2p_tx_download.py
Labels: P2P

#20146 net: Send post-verack handshake messages at most once
  src/net_processing.cpp
Labels: P2P

#20147 Update libsecp256k1 (endomorphism, test improvements)
  src/secp256k1/.travis.yml
  src/secp256k1/README.md
  src/secp256k1/configure.ac
  src/secp256k1/contrib/travis.sh
  src/secp256k1/sage/gen_exhaustive_groups.sage
  src/secp256k1/src/assumptions.h
  src/secp256k1/src/basic-config.h
  src/secp256k1/src/bench_internal.c
  src/secp256k1/src/ecmult.h
  src/secp256k1/src/ecmult_const_impl.h
  src/secp256k1/src/ecmult_impl.h
  src/secp256k1/src/group.h
  src/secp256k1/src/group_impl.h
  src/secp256k1/src/modules/ecdh/tests_impl.h
  src/secp256k1/src/modules/extrakeys/Makefile.am.include
  src/secp256k1/src/modules/extrakeys/main_impl.h
  src/secp256k1/src/modules/extrakeys/tests_exhaustive_impl.h
  src/secp256k1/src/modules/extrakeys/tests_impl.h
  src/secp256k1/src/modules/recovery/Makefile.am.include
  src/secp256k1/src/modules/recovery/tests_exhaustive_impl.h
  src/secp256k1/src/modules/recovery/tests_impl.h
  src/secp256k1/src/modules/schnorrsig/Makefile.am.include
  src/secp256k1/src/modules/schnorrsig/main_impl.h
  src/secp256k1/src/modules/schnorrsig/tests_exhaustive_impl.h
  src/secp256k1/src/modules/schnorrsig/tests_impl.h
  src/secp256k1/src/scalar.h
  src/secp256k1/src/scalar_4x64_impl.h
  src/secp256k1/src/scalar_8x32_impl.h
  src/secp256k1/src/scalar_impl.h
  src/secp256k1/src/scalar_low_impl.h
  src/secp256k1/src/scratch_impl.h
  src/secp256k1/src/secp256k1.c
  src/secp256k1/src/selftest.h
  src/secp256k1/src/testrand.h
  src/secp256k1/src/testrand_impl.h
  src/secp256k1/src/tests.c
  src/secp256k1/src/tests_exhaustive.c
  src/secp256k1/src/util.h
  src/secp256k1/src/valgrind_ctime_test.c
Labels: Build system, Docs

#19077 wallet: Add sqlite as an alternative wallet database and use it for new descriptor wallets
  .travis.yml
  build_msvc/vcpkg.json
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-win.yml
  depends/Makefile
  depends/README.md
  depends/packages/packages.mk
  depends/packages/sqlite.mk
  doc/build-osx.md
  doc/build-unix.md
  doc/dependencies.md
  doc/files.md
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/Makefile.test.include
  src/wallet/bdb.cpp
  src/wallet/bdb.h
  src/wallet/db.h
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletutil.cpp
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/wallet_backup.py
  test/functional/wallet_multiwallet.py
Labels: Wallet

#19953 Implement BIP 340-342 validation (Schnorr/taproot/tapscript)
  build_msvc/libsecp256k1/libsecp256k1.vcxproj
  ci/test/04_install.sh
  ci/test/06_script_b.sh
  configure.ac
  src/Makefile.test.include
  src/chainparams.cpp
  src/consensus/params.h
  src/hash.cpp
  src/hash.h
  src/policy/policy.cpp
  src/policy/policy.h
  src/pubkey.cpp
  src/pubkey.h
  src/rpc/blockchain.cpp
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/script/script.cpp
  src/script/script.h
  src/script/script_error.cpp
  src/script/script_error.h
  src/script/sigcache.cpp
  src/script/sigcache.h
  src/script/sign.cpp
  src/script/sign.h
  src/script/standard.cpp
  src/script/standard.h
  src/test/fuzz/script_assets_test_minimizer.cpp
  src/test/fuzz/script_sigcache.cpp
  src/test/fuzz/signature_checker.cpp
  src/test/key_tests.cpp
  src/test/script_tests.cpp
  src/test/transaction_tests.cpp
  src/validation.cpp
  src/versionbitsinfo.cpp
  src/wallet/rpcdump.cpp
  src/wallet/scriptpubkeyman.cpp
  test/functional/feature_taproot.py
  test/functional/p2p_segwit.py
  test/functional/rpc_blockchain.py
  test/functional/test_framework/bip340_test_vectors.csv
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/key.py
  test/functional/test_framework/script.py
  test/functional/test_runner.py
Labels: Consensus

#17775 DecodeHexTx: Try case where txn has inputs first
  src/core_read.cpp
Labels: Bug, RPC/REST/ZMQ

#20140 Restore compatibility with old CSubNet serialization
  src/banman.cpp
  src/netaddress.cpp
  src/netaddress.h
Labels: Bug, Data corruption

#19770 RPC: getpeerinfo: Deprecate "whitelisted" field (replaced by "permissions")
  src/rpc/net.cpp
  test/functional/p2p_blocksonly.py
  test/functional/p2p_permissions.py
Labels: RPC/REST/ZMQ

#20131 test: Remove unused nVersion=1 in p2p tests
  src/test/denialofservice_tests.cpp
Labels: Tests

#20002 net, rpc, cli: expose peer network in getpeerinfo; simplify/improve -netinfo
  src/bitcoin-cli.cpp
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  test/functional/feature_proxy.py
Labels: P2P, RPC/REST/ZMQ

#17428 p2p: Try to preserve outbound block-relay-only connections during restart
  doc/files.md
  src/addrdb.cpp
  src/addrdb.h
  src/net.cpp
  src/net.h
Labels: P2P

#20090 [doc] Tiny followups to new getpeerinfo connection type field
  src/net.h
  src/rpc/net.cpp
Labels: Docs

#19836 rpc: Properly deserialize txs with witness before signing
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: Needs backport (0.18), Needs backport (0.19), Needs backport (0.20), RPC/REST/ZMQ

#20161 Minor Taproot follow-ups
  doc/bips.md
  test/functional/test_framework/key.py
Labels: Docs, Tests

#20035 signet: Fix uninitialized read in validation
  src/chainparams.cpp
  src/consensus/params.h
Labels: Validation

#19401 QA: Use GBT to get block versions correct
  test/functional/feature_bip68_sequence.py
  test/functional/feature_nulldummy.py
  test/functional/feature_segwit.py
  test/functional/p2p_compactblocks.py
  test/functional/test_framework/blocktools.py
Labels: Tests

#20168 contrib: Fix gen_key_io_test_vectors.py imports
  contrib/testgen/gen_key_io_test_vectors.py
Labels: Scripts and tools

#20169 Taproot follow-up: Make ComputeEntrySchnorr and ComputeEntryECDSA const to clarify contract
  src/script/sigcache.cpp
Labels: Consensus, Refactoring

#20159 test: mining_getblocktemplate_longpoll.py improvements (use MiniWallet, add logging)
  test/functional/mining_getblocktemplate_longpoll.py
  test/functional/test_framework/util.py
Labels: Tests

#19911 net: guard vRecvGetData with cs_vRecv and orphan_work_set with g_cs_orphans
  src/net.h
  src/net_processing.cpp
Labels: P2P, Refactoring

#19986 refactor: clean up -Wlogical-op warning in wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.cpp
Labels: Refactoring, Wallet

#20082 [bugfix] random: fixes read buffer to use min rather than max
  src/randomenv.cpp
Labels: Utils/log/libs

#20180 test: Fix -Wunused-function warnings if configured --without-libs
  src/test/script_tests.cpp
Labels: Tests

#20179 test: Fix intermittent issue in wallet_import_rescan
  test/functional/wallet_import_rescan.py
  test/functional/wallet_send.py
Labels: Tests

#19624 Warn on unknown rw_settings
  src/util/system.cpp
  test/functional/feature_settings.py
Labels: Utils/log/libs

#20185 doc: Merge release notes
  doc/release-notes-19988.md
  doc/release-notes.md
Labels: Docs

#20162 p2p: declare Announcement::m_state as uint8_t, add getter/setter
  src/txrequest.cpp
Labels: P2P, Refactoring

#20125 rpc, wallet: Expose database format in getwalletinfo
  src/wallet/bdb.h
  src/wallet/db.h
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/sqlite.h
  src/wallet/wallet.h
  test/functional/wallet_descriptor.py
Labels: Wallet

#20157 Bugfix: chainparams: Add missing (always enabled) Taproot deployment for Signet
  src/chainparams.cpp
Labels: Validation

#20198 Show name, format and if uses descriptors in bitcoin-wallet tool
  src/wallet/wallettool.cpp
  test/functional/tool_wallet.py
Labels: Wallet

#20214 test: Fix rpc_net intermittent issue
  test/functional/rpc_net.py
Labels: Tests

#20039 test: Convert amounts from float to decimal
  test/functional/mempool_accept.py
Labels: Tests

#20176 test: Fix intermittent issue in p2p_feefilter
  test/functional/p2p_feefilter.py
Labels: Tests

#20112 test: Speed up wallet_resendwallettransactions with mockscheduler RPC
  test/functional/wallet_resendwallettransactions.py
Labels: Tests

#20216 wallet: fix buffer over-read in SQLite file magic check
  src/wallet/sqlite.cpp
Labels: Wallet

#20247 fuzz: Check for addrv1 compatibility before using addrv1 serializer. Fuzz addrv2 serialization.
  src/test/fuzz/deserialize.cpp
Labels: Tests

#20152 doc: Update wallet files in files.md
  doc/files.md
Labels: Docs

#19124 doc: Document ALLOW_HOST_PACKAGES dependency option
  depends/README.md
Labels: Build system, Docs

#20167 test: Add test for -blockversion
  test/functional/feature_block.py
  test/functional/feature_csv_activation.py
  test/functional/feature_notifications.py
  test/functional/mining_basic.py
Labels: Tests

#19877 [test] clarify rpc_net & p2p_disconnect_ban functional tests
  test/functional/p2p_disconnect_ban.py
  test/functional/rpc_net.py
Labels: Tests

#20258 tests: Remove getnettotals/getpeerinfo consistency test
  test/functional/rpc_net.py
Labels: Tests

#19753 p2p: don't add AlreadyHave transactions to recentRejects
  src/net_processing.cpp
  test/functional/p2p_permissions.py
Labels: Bug, P2P

#20242 fuzz: Properly initialize PrecomputedTransactionData
  src/test/fuzz/script_flags.cpp
Labels: Tests

#20156 build: Make sqlite support optional (compile-time)
  configure.ac
  doc/build-unix.md
  doc/dependencies.md
  src/Makefile.am
  src/qt/createwalletdialog.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletutil.cpp
Labels: Build system, Wallet

#20115 cli: -netinfo quick updates/fixups for 0.21
  src/bitcoin-cli.cpp
Labels: Docs

#20195 build: fix mutex detection when building bdb on macOS
  depends/packages/bdb.mk
Labels: Build system, Needs backport (0.20), macOS

#20257 Update secp256k1 subtree to latest master
  src/secp256k1/.travis.yml
  src/secp256k1/README.md
  src/secp256k1/build-aux/m4/bitcoin_secp.m4
  src/secp256k1/configure.ac
  src/secp256k1/src/ecmult_impl.h
Labels: Upstream

#20186 wallet: Make -wallet setting not create wallets
  doc/release-notes.md
  src/wallet/init.cpp
  src/wallet/load.cpp
  test/functional/feature_config_args.py
  test/functional/rpc_scantxoutset.py
  test/functional/test_framework/test_framework.py
  test/functional/tool_wallet.py
  test/functional/wallet_backup.py
  test/functional/wallet_dump.py
  test/functional/wallet_multiwallet.py
Labels: Wallet
