Repository bitcoin/bitcoin, pull requests merged in 2020-01, with the labels that each got.

#17762 net: Log to net category for exceptions in ProcessMessages
  src/net_processing.cpp
  src/util/system.cpp
Labels: P2P

#17781 rpc: Remove mempool global from miner
  src/bench/bench.cpp
  src/bench/bench.h
  src/bench/block_assemble.cpp
  src/bench/wallet_balance.cpp
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/miner_tests.cpp
  src/test/util/mining.cpp
  src/test/util/mining.h
  src/test/util/setup_common.cpp
  src/test/validation_block_tests.cpp
Labels: Mining, RPC/REST/ZMQ, Refactoring

#17851 tests: Add std::to_string to list of locale dependent functions
  test/lint/lint-locale-dependence.sh
Labels: Tests

#17688 doc: Add "ci" prefix to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Brainstorming, Docs

#17817 build: Add default configure cache file to .gitignore
  .gitignore
Labels: Build system

#17859 [0.19] Fix origfee return for bumpfee with feerate arg
  src/wallet/feebumper.cpp
  test/functional/wallet_bumpfee.py
Labels: Backport

#17869 refactor: Remove unused defines in qt/bitcoinunits.h
  src/qt/bitcoinunits.h
Labels: GUI, Refactoring

#17393 doc: Added regtest config for linearize script
  contrib/linearize/example-linearize.cfg
Labels: Docs

#17857 scripts: fix symbol-check & security-check argument passing
  src/Makefile.am
Labels: Needs backport (0.18), Needs backport (0.19), Scripts and tools

#17621 IsUsedDestination should count any known single-key address
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_avoidreuse.py
Labels: Needs backport (0.19), Wallet

#17677 Activate watchonly wallet behavior for LegacySPKM only
  src/wallet/wallet.cpp
Labels: Wallet

#17452 test: update fuzz directory in .gitignore
  .gitignore
Labels: Tests

#17886 Restore English translation option
  src/Makefile.qt_locale.include
  src/qt/bitcoin_locale.qrc
Labels: GUI

#17826 qt: Log Qt related info
  src/qt/bitcoin.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
Labels: GUI

#17880 build: add -Wdate-time to Werror flags
  configure.ac
Labels: Build system

#16975 test: Show debug log on unit test failure
  src/bench/bench.cpp
  src/qt/test/test_main.cpp
  src/test/fuzz/fuzz.cpp
  src/test/main.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  test/sanitizer_suppressions/tsan
Labels: Tests

#17445 zmq: Fix due to invalid argument and multiple notifiers
  src/zmq/zmqpublishnotifier.cpp
  test/functional/interface_zmq.py
Labels: Needs backport (0.19), RPC/REST/ZMQ

#17899 msvc: Ignore msvc linker warning and update to msvc build instructions.
  build_msvc/README.md
  build_msvc/bitcoin-qt/bitcoin-qt.vcxproj
  build_msvc/common.init.vcxproj
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
Labels: Windows

#17893 qa: Fix double-negative arg test
  test/functional/feature_config_args.py
Labels: Tests

#17907 doc: Fix improper Doxygen inline comments
  src/util/settings.h
Labels: Docs

#17881 [0.18] scripts: fix check-symbols & check-security argument passing
  src/Makefile.am
Labels: Backport

#17910 build: remove double LIBBITCOIN_SERVER linking
  src/Makefile.am
Labels: Build system

#17906 gui: Set CConnman byte counters earlier to avoid uninitialized reads
  src/net.h
Labels: P2P

#17873 doc: Add to Doxygen documentation guidelines
  doc/developer-notes.md
Labels: Docs

#17843 wallet: Reset reused transactions cache
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_avoidreuse.py
Labels: Wallet

#17931 test: Fix p2p_invalid_messages failing in Python 3.8 because of warning
  test/functional/p2p_invalid_messages.py
Labels: Tests

#17935 gui: hide HD & encryption icons when no wallet loaded
  src/qt/bitcoingui.cpp
Labels: GUI

#17819 doc: developer notes guideline on RPCExamples addresses
  doc/developer-notes.md
Labels: Docs

#17541 test: add functional test for non-standard bare multisig txs
  test/functional/mempool_accept.py
Labels: Tests

#17900 ci: Combine 32-bit build with CentOS 7 build
  .travis.yml
  ci/test/00_setup_env_i686.sh
  ci/test/00_setup_env_i686_centos.sh
  ci/test/00_setup_env_native_centos.sh
  ci/test/05_before_script.sh
Labels: Tests

#17928 depends: Consistent use of package variable
  depends/packages/boost.mk
Labels: Build system

#17939 gui: Remove warning "unused variable 'wallet_model'"
  src/qt/rpcconsole.cpp
Labels: Refactoring

#17823 scripts: Read suspicious hosts from a file instead of hardcoding
  contrib/seeds/makeseeds.py
  contrib/seeds/suspicious_hosts.txt
Labels: P2P, Scripts and tools

#17945 doc: Fix doxygen errors
  src/net_processing.cpp
  src/netbase.cpp
  src/node/transaction.h
  src/psbt.h
  src/rpc/rawtransaction_util.h
  src/script/descriptor.h
  src/wallet/psbtwallet.h
  src/wallet/wallet.h
  src/wallet/walletdb.h
Labels: Docs

#17916 windows: Enable heap terminate-on-corruption
  src/init.cpp
Labels: Windows

#17492 QT: bump fee returns PSBT on clipboard for watchonly-only wallets
  src/qt/walletmodel.cpp
Labels: GUI

#17980 test: add missing #include to fix compiler errors
  src/test/cuckoocache_tests.cpp
Labels: Tests

#17897 init: Stop indexes on shutdown after ChainStateFlushed callback.
  src/init.cpp
Labels: Needs backport (0.19), UTXO Db and Indexes

#17483 build: Set gitian arch back to amd64
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win-signer.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build system

#17887 bug-fix macos: give free bytes to F_PREALLOCATE
  src/util/system.cpp
Labels: Needs backport (0.19), macOS

#17863 scripts: Add MACHO dylib checks to symbol-check.py
  contrib/devtools/README.md
  contrib/devtools/symbol-check.py
  contrib/gitian-descriptors/gitian-osx.yml
  src/Makefile.am
Labels: Scripts and tools, macOS

#17738 build: remove linking librt for backwards compatibility
  build_msvc/bitcoin_config.h
  configure.ac
Labels: Build system

#17974 [0.18] net: Log to net category for exceptions in ProcessMessages
  src/net_processing.cpp
Labels: Backport, P2P

#17740 build: remove configure checks for win libraries we don't link against
  build_msvc/bitcoin_config.h
  build_msvc/common.init.vcxproj
  configure.ac
Labels: Build system, Windows

#17770 test: bump test timeouts so that functional tests run in valgrind
  contrib/valgrind.supp
  test/functional/feature_abortnode.py
  test/functional/feature_block.py
  test/functional/feature_help.py
  test/functional/mempool_reorg.py
  test/functional/p2p_invalid_messages.py
  test/functional/rpc_setban.py
  test/functional/wallet_dump.py
  test/functional/wallet_groups.py
Labels: Tests

#18001 Updated appveyor job to checkout a specific vcpkg commit ID
  .appveyor.yml
Labels: Tests, Windows

#17998 gui: Shortcut to close ModalOverlay
  src/qt/forms/modaloverlay.ui
Labels: GUI

#17096 gui: rename debug window
  src/qt/bitcoingui.cpp
  src/qt/forms/debugwindow.ui
Labels: GUI

#18007 Bugfix: GUI: Hide the HD/encrypt icons earlier so they get re-shown if another wallet is open
  src/qt/bitcoingui.cpp
Labels: GUI, Needs backport (0.18), Needs backport (0.19)

#18010 test: rename test suite name "tx_validationcache_tests" to match filename
  contrib/devtools/test_deterministic_coverage.sh
  src/test/txvalidationcache_tests.cpp
Labels: Tests

#18013 bench: Fix benchmarks filters
  src/bench/bench.cpp
Labels: Tests

#17971 refactor: Remove redundant conditional
  src/checkqueue.h
Labels: Refactoring

#18008 test: only declare a main() when fuzzing with AFL
  src/test/fuzz/fuzz.cpp
Labels: Tests, macOS

#17942 doc: Improve fuzzing docs for macOS users
  doc/fuzzing.md
Labels: Docs, macOS

#17719 Document better -keypool as a look-ahead safety mechanism
  src/wallet/init.cpp
  src/wallet/scriptpubkeyman.h
Labels: Wallet

#18022 test: Fix appveyor test_bitcoin build of *.raw
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
Labels: Tests

#18026 psbt_wallet_tests: use unique_ptr for GetSigningProvider
  src/wallet/test/psbt_wallet_tests.cpp
Labels: Tests

#18018 tests: reset fIsBareMultisigStd after bare-multisig tests
  src/test/transaction_tests.cpp
Labels: Tests

#16115 On bitcoind startup, write config args to debug.log
  src/init.cpp
  src/test/getarg_tests.cpp
  src/util/system.cpp
  src/util/system.h
  test/functional/feature_config_args.py
  test/functional/test_framework/test_node.py
Labels: Feature, Utils/log/libs

#18031 Remove GitHub Actions CI workflow.
  .github/workflows/ci.yml
Labels: Tests

#18025 doc: Add missing supported rpcs to doc/descriptors.md
  doc/descriptors.md
Labels: Docs

#17951 Use rolling bloom filter of recent block txs for AlreadyHave() check
  src/net_processing.cpp
  src/net_processing.h
Labels: P2P
