Repository bitcoin/bitcoin, pull requests merged in 2020-09, with the labels that each got.

#19671 wallet: Remove -zapwallettxes
  doc/release-notes-19671.md
  src/dummywallet.cpp
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/test_runner.py
  test/functional/wallet_basic.py
  test/functional/wallet_multiwallet.py
  test/functional/wallet_zapwallettxes.py
  test/lint/check-doc.py
Labels: RPC/REST/ZMQ, Wallet

#19668 Do not hide compile-time thread safety warnings
  doc/developer-notes.md
  src/net_processing.cpp
  src/sync.cpp
  src/sync.h
  src/validation.h
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.h
Labels: Build system

#19105 Add Muhash3072 implementation in Python
  test/functional/test_framework/key.py
  test/functional/test_framework/muhash.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
Labels: Build system, Review club, Tests, Utils/log/libs

#14687 zmq: enable tcp keepalive
  doc/zmq.md
  src/zmq/zmqpublishnotifier.cpp
Labels: RPC/REST/ZMQ

#19610 p2p: refactor AlreadyHave(), CInv::type, INV/TX processing
  src/net_processing.cpp
  src/protocol.h
  test/functional/p2p_segwit.py
  test/functional/test_framework/messages.py
Labels: P2P

#19857 net: improve nLastBlockTime and nLastTXTime documentation
  src/net.cpp
  src/net.h
Labels: Docs, P2P

#19685 depends: CMake invocation cleanup
  depends/funcs.mk
  depends/packages/native_cdrkit.mk
  depends/packages/native_libdmg-hfsplus.mk
Labels: Build system

#19840 Avoid callback when -blocknotify is empty
  src/init.cpp
Labels: Refactoring

#19861 build: add /usr/local/ to LCOV_FILTER_PATTERN for macOS builds
  Makefile.am
Labels: Build system

#19844 remove usage of boost::bind
  src/qt/walletmodel.cpp
  test/lint/lint-cpp.sh
Labels: GUI, Refactoring

#19816 test: Rename wait until helper to wait_until_helper
  test/functional/example_test.py
  test/functional/feature_versionbits_warning.py
  test/functional/p2p_leak.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
Labels: Tests

#19805 wallet: Avoid deserializing unused records when salvaging
  src/wallet/salvage.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Wallet

#19724 [net] Cleanup connection types- followups
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/net_tests.cpp
Labels: P2P

#19859 qa: Fixes failing functional test by changing version
  test/functional/feature_backwards_compatibility.py
  test/functional/mempool_compatibility.py
  test/functional/wallet_upgradewallet.py
Labels: Tests

#19670 Protect localhost and block-relay-only peers from eviction
  src/net.cpp
Labels: P2P

#19818 p2p: change `CInv::type` from `int` to `uint32_t`, fix UBSan warning
  src/protocol.cpp
  src/protocol.h
  test/functional/test_framework/messages.py
Labels: P2P

#19754 wallet, gui: Reload previously loaded wallets on startup
  doc/release-notes-15937.md
  src/interfaces/wallet.cpp
  src/qt/test/addressbooktests.cpp
  src/qt/test/wallettests.cpp
  src/wallet/load.cpp
  src/wallet/load.h
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: GUI, Wallet

#19854 Avoid locking CTxMemPool::cs recursively in simple cases
  src/txmempool.cpp
  src/txmempool.h
Labels: Mempool, Refactoring

#19680 0.20: Add txids with non-standard inputs to reject filter
  src/consensus/validation.h
  src/net_processing.cpp
  src/policy/policy.cpp
  src/validation.cpp
  test/functional/p2p_segwit.py
Labels: Backport

#19405 rpc, cli: add network in/out connections to `getnetworkinfo` and `-getinfo`
  doc/release-notes-19405.md
  src/bitcoin-cli.cpp
  src/rpc/net.cpp
  test/functional/interface_bitcoin_cli.py
  test/functional/rpc_net.py
Labels: RPC/REST/ZMQ

#19878 rawtransaction: fix argument in combinerawtransaction help message
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ

#19852 refactor: Avoid duplicate map lookup in ScriptToAsmStr
  src/core_write.cpp
Labels: Refactoring

#19728 Increase the ip address relay branching factor for unreachable networks
  src/net_processing.cpp
Labels: P2P

#19848 Remove mempool global from interfaces
  src/interfaces/chain.cpp
  src/policy/rbf.cpp
  src/policy/rbf.h
Labels: Refactoring

#19881 ci: Double tsan CPU and Memory to avoid global timeout
  .cirrus.yml
Labels: Tests

#19887 test: Fix flaky wallet_basic test
  test/functional/wallet_basic.py
Labels: Tests

#19890 refactor: remove unused header <arpa/inet.h> in protocol.cpp
  src/protocol.cpp
Labels: Refactoring

#19897 Change FILE_CHAR_BLOCKLIST to FILE_CHARS_DISALLOWED
  test/functional/feature_notifications.py
Labels: Tests

#19619 Remove wallet.dat path handling from wallet.cpp, rpcwallet.cpp
  src/bench/coin_selection.cpp
  src/bench/wallet_balance.cpp
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/test/addressbooktests.cpp
  src/qt/test/wallettests.cpp
  src/qt/walletcontroller.cpp
  src/wallet/bdb.cpp
  src/wallet/bdb.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/load.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/salvage.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/ismine_tests.cpp
  src/wallet/test/scriptpubkeyman_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/wallet/wallettool.cpp
  src/wallet/wallettool.h
  src/wallet/walletutil.cpp
  src/wallet/walletutil.h
  test/functional/rpc_createmultisig.py
  test/functional/tool_wallet.py
  test/functional/wallet_multiwallet.py
Labels: Wallet

#19738 wallet: Avoid multiple BerkeleyBatch in DelAddressBook
  src/wallet/wallet.cpp
Labels: Wallet

#19556 Remove mempool global
  src/init.cpp
  src/net_processing.cpp
  src/node/context.cpp
  src/node/context.h
  src/rest.cpp
  src/rpc/rawtransaction.cpp
  src/test/util/setup_common.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#19478 Remove CTxMempool::mapLinks data structure member
  src/miner.h
  src/net_processing.cpp
  src/rpc/blockchain.cpp
  src/txmempool.cpp
  src/txmempool.h
Labels: Mempool, Refactoring, Resource usage

#19791 [net processing] Move Misbehaving() to PeerManager
  src/init.cpp
  src/net_processing.cpp
  src/net_processing.h
  src/node/context.h
  src/test/denialofservice_tests.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/util/setup_common.cpp
  test/sanitizer_suppressions/tsan
Labels: P2P, Refactoring

#19914 refactor: Do not pass chain params to CheckForStaleTipAndEvictPeers twice
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
Labels: P2P, Refactoring

#19800 test: Mockwallet
  test/functional/p2p_feefilter.py
  test/functional/test_framework/wallet.py
Labels: Tests

#19841 Implement Keccak and SHA3_256
  src/Makefile.am
  src/bench/crypto_hash.cpp
  src/crypto/sha3.cpp
  src/crypto/sha3.h
  src/test/crypto_tests.cpp
Labels: Utils/log/libs

#19870 doc: update PyZMQ install instructions, fix zmq_sub.py file permissions
  contrib/zmq/zmq_sub.py
  doc/zmq.md
Labels: Docs

#19916 build: allow user to specify DIR_FUZZ_SEED_CORPUS for cov_fuzz
  .gitignore
  Makefile.am
Labels: Build system

#19922 test: Run rpc_txoutproof.py even with wallet disabled
  test/functional/rpc_txoutproof.py
  test/functional/test_framework/wallet.py
Labels: Tests

#19919 bugfix: make LoadWallet assigns status always
  src/wallet/db.h
  src/wallet/wallet.cpp
Labels: Wallet

#19944 Update secp256k1 subtree (including BIP340 support)
  src/secp256k1/.gitignore
  src/secp256k1/.travis.yml
  src/secp256k1/Makefile.am
  src/secp256k1/TODO
  src/secp256k1/build-aux/m4/bitcoin_secp.m4
  src/secp256k1/configure.ac
  src/secp256k1/contrib/lax_der_parsing.c
  src/secp256k1/contrib/travis.sh
  src/secp256k1/include/secp256k1.h
  src/secp256k1/include/secp256k1_extrakeys.h
  src/secp256k1/include/secp256k1_schnorrsig.h
  src/secp256k1/src/assumptions.h
  src/secp256k1/src/basic-config.h
  src/secp256k1/src/bench_internal.c
  src/secp256k1/src/bench_schnorrsig.c
  src/secp256k1/src/ecmult_const_impl.h
  src/secp256k1/src/field.h
  src/secp256k1/src/field_5x52.h
  src/secp256k1/src/field_impl.h
  src/secp256k1/src/gen_context.c
  src/secp256k1/src/group.h
  src/secp256k1/src/group_impl.h
  src/secp256k1/src/hash_impl.h
  src/secp256k1/src/modules/extrakeys/Makefile.am.include
  src/secp256k1/src/modules/extrakeys/main_impl.h
  src/secp256k1/src/modules/extrakeys/tests_impl.h
  src/secp256k1/src/modules/schnorrsig/Makefile.am.include
  src/secp256k1/src/modules/schnorrsig/main_impl.h
  src/secp256k1/src/modules/schnorrsig/tests_impl.h
  src/secp256k1/src/scalar.h
  src/secp256k1/src/scalar_4x64_impl.h
  src/secp256k1/src/scalar_8x32_impl.h
  src/secp256k1/src/scalar_impl.h
  src/secp256k1/src/scratch_impl.h
  src/secp256k1/src/secp256k1.c
  src/secp256k1/src/selftest.h
  src/secp256k1/src/testrand.h
  src/secp256k1/src/testrand_impl.h
  src/secp256k1/src/tests.c
  src/secp256k1/src/tests_exhaustive.c
  src/secp256k1/src/util.h
  src/secp256k1/src/valgrind_ctime_test.c
Labels: Build system

#19931 Change CSipHasher's count variable to uint8_t
  src/crypto/siphash.cpp
  src/crypto/siphash.h
Labels: Refactoring

#16378 The ultimate send RPC
  doc/release-notes-16378.md
  src/rpc/client.cpp
  src/rpc/rawtransaction_util.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/test_runner.py
  test/functional/wallet_send.py
Labels: RPC/REST/ZMQ, Wallet

#19903 Update build-openbsd.md with GUI support
  doc/build-openbsd.md
Labels: Docs

#19643 Add -netinfo peer connections dashboard
  src/bitcoin-cli.cpp
Labels: Scripts and tools

#19558 build: split pthread flags out of ldflags and dont use when building libconsensus
  build-aux/m4/ax_pthread.m4
  configure.ac
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/Makefile.test.include
Labels: Build system

#19241 help: Generate checkpoint height from chainparams
  src/chainparams.h
  src/init.cpp
Labels: Docs

#19879 [p2p] miscellaneous wtxid followups
  src/net_processing.cpp
  src/node/transaction.cpp
  src/txmempool.h
  src/validation.cpp
Labels: P2P

#19936 Test: batch rpc with params
  test/functional/interface_rpc.py
Labels: Tests

#19934 tests: Add fuzzing harness for Keccak and SHA3_256
  src/test/fuzz/crypto.cpp
Labels: Tests

#15454 Remove the automatic creation and loading of the default wallet
  doc/release-notes-15454.md
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/walletframe.cpp
  src/wallet/init.cpp
  src/wallet/load.cpp
  src/wallet/load.h
  src/wallet/test/init_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  test/functional/feature_backwards_compatibility.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_filelock.py
  test/functional/mempool_compatibility.py
  test/functional/wallet_backup.py
  test/functional/wallet_dump.py
  test/functional/wallet_import_rescan.py
  test/functional/wallet_multiwallet.py
  test/functional/wallet_startup.py
  test/functional/wallet_upgradewallet.py
Labels: Wallet

#19971 test: create default wallet in extended tests
  test/functional/feature_dbcrash.py
  test/functional/feature_pruning.py
Labels: Tests

#19940 rpc: Return fee and vsize from testmempoolaccept
  doc/release-notes.md
  src/rpc/rawtransaction.cpp
  src/validation.cpp
  src/validation.h
  test/functional/mempool_accept.py
  test/functional/p2p_segwit.py
  test/functional/test_framework/messages.py
Labels: RPC/REST/ZMQ, Validation

#18790 gui: Improve thread naming
  src/qt/bitcoin.cpp
  src/qt/clientmodel.cpp
  src/qt/rpcconsole.cpp
  src/qt/walletcontroller.cpp
Labels: GUI

#13686 ZMQ: Small cleanups in the ZMQ code
  src/Makefile.am
  src/zmq/zmqabstractnotifier.cpp
  src/zmq/zmqabstractnotifier.h
  src/zmq/zmqconfig.h
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
  src/zmq/zmqpublishnotifier.cpp
  src/zmq/zmqpublishnotifier.h
  src/zmq/zmqutil.cpp
  src/zmq/zmqutil.h
Labels: RPC/REST/ZMQ

#18949 doc: Add CODEOWNERS file to automatically nominate PR reviewers
  CODEOWNERS
Labels: Docs

#19781 test: add parameterized constructor for msg_sendcmpct()
  test/functional/p2p_compactblocks.py
  test/functional/test_framework/messages.py
Labels: Tests

#19697 Improvements on ADDR caching
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  test/functional/p2p_getaddr_caching.py
Labels: P2P

#18267 BIP-325: Signet [consensus]
  src/Makefile.am
  src/Makefile.test.include
  src/chainparams.cpp
  src/chainparamsbase.cpp
  src/chainparamsbase.h
  src/consensus/params.h
  src/consensus/validation.h
  src/qt/guiconstants.h
  src/qt/networkstyle.cpp
  src/signet.cpp
  src/signet.h
  src/test/fuzz/signet.cpp
  src/test/key_io_tests.cpp
  src/test/pow_tests.cpp
  src/test/util_tests.cpp
  src/util/system.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_signet.py
  test/functional/test_framework/p2p.py
  test/functional/test_runner.py
Labels: Consensus, Validation

#17785 p2p: Unify Send and Receive protocol versions
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
Labels: P2P, Refactoring

#19849 Assert that RPCArg names are equal to CRPCCommand ones (blockchain,rawtransaction)
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ, Refactoring

#19959 build: patch qt libpng to fix powerpc build
  depends/packages/qt.mk
  depends/patches/qt/fix_powerpc_libpng.patch
Labels: Build system

#19963 Clarify blocksonly whitelistforcerelay test
  test/functional/p2p_blocksonly.py
Labels: Tests

#19993 refactor: Signet fixups
  doc/bips.md
  doc/release-notes.md
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
  src/qt/bitcoin.cpp
  src/signet.cpp
  src/signet.h
  src/test/fuzz/signet.cpp
  test/functional/feature_signet.py
Labels: Refactoring

#19572 ZMQ: Create "sequence" notifier, enabling client-side mempool tracking
  contrib/zmq/zmq_sub.py
  doc/zmq.md
  src/init.cpp
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/rpc/client.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zmq/zmqabstractnotifier.cpp
  src/zmq/zmqabstractnotifier.h
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
  src/zmq/zmqpublishnotifier.cpp
  src/zmq/zmqpublishnotifier.h
  test/functional/interface_zmq.py
Labels: Mempool, RPC/REST/ZMQ, Validation

#19979 Replace LockAssertion with AssertLockHeld, remove LockAssertion
  doc/developer-notes.md
  src/net.h
  src/net_processing.cpp
  src/sync.h
Labels: Refactoring

#19994 Assert that RPCArg names are equal to CRPCCommand ones (net, rpcwallet)
  src/rpc/net.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/rpcwallet.h
Labels: RPC/REST/ZMQ, Refactoring

#19868 build: Fix target name
  depends/funcs.mk
Labels: Build system, Needs gitian build

#19927 validation: Reduce direct g_chainman usage
  src/init.cpp
  src/qt/test/apptests.cpp
  src/test/util/setup_common.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring, Validation

#20008 [Backport] #19839 and #19842 to v0.20
  .appveyor.yml
Labels: Backport, Tests

#19804 test/refactor: reference p2p objects explicitly and remove confusing Test_Node.p2p property
  test/functional/README.md
  test/functional/example_test.py
  test/functional/feature_block.py
  test/functional/feature_cltv.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dersig.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_versionbits_warning.py
  test/functional/mempool_packages.py
  test/functional/mining_basic.py
  test/functional/p2p_blocksonly.py
  test/functional/p2p_dos_header_tree.py
  test/functional/p2p_filter.py
  test/functional/p2p_invalid_block.py
  test/functional/p2p_invalid_locator.py
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_segwit.py
  test/functional/rpc_blockchain.py
  test/functional/test_framework/test_node.py
  test/functional/wallet_resendwallettransactions.py
Labels: Tests

#20022 test: use explicit p2p objects where available
  test/functional/p2p_getdata.py
  test/functional/wallet_resendwallettransactions.py
Labels: Tests

#19725 [RPC] Add connection type to getpeerinfo, improve logs
  doc/release-notes.md
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/net.cpp
  test/functional/rpc_getpeerinfo_banscore_deprecation.py
  test/functional/rpc_getpeerinfo_deprecation.py
  test/functional/rpc_net.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#20023 test: remove unused constants in functional tests
  test/functional/p2p_segwit.py
  test/functional/wallet_multiwallet.py
Labels: Tests

#20026 test: typo in a functional test doc
  test/functional/wallet_txn_clone.py
Labels: Tests

#20016 uint256: 1 is a constant
  src/script/interpreter.cpp
  src/test/sighash_tests.cpp
  src/test/uint256_tests.cpp
  src/uint256.cpp
  src/uint256.h
  src/wallet/scriptpubkeyman.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Consensus

#15367 feature: Added ability for users to add a startup command
  doc/release-notes-15367.md
  src/init.cpp
Labels: Utils/log/libs

#19845 net: CNetAddr: add support to (un)serialize as ADDRv2
  src/crypto/common.h
  src/netaddress.cpp
  src/netaddress.h
  src/primitives/transaction.h
  src/test/base32_tests.cpp
  src/test/miner_tests.cpp
  src/test/net_tests.cpp
  src/test/util/setup_common.h
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/util/string.h
  src/version.h
Labels: P2P

#20014 doc: Mention signet in -help output
  src/bitcoin-cli.cpp
  src/chainparamsbase.cpp
  src/init.cpp
Labels: Docs, Validation

#20028 test: Check that invalid peer traffic is accounted for
  test/functional/p2p_invalid_messages.py
Labels: Tests

#19969 Send RPC bug fix and touch-ups
  doc/release-notes-16378.md
  src/rpc/rawtransaction_util.cpp
  src/wallet/rpcwallet.cpp
  test/functional/wallet_send.py
Labels: RPC/REST/ZMQ

#19107 p2p: Move all header verification into the network layer, extend logging
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/p2p_transport_deserializer.cpp
  test/functional/p2p_invalid_messages.py
Labels: P2P

#19630 Cleanup fee estimation code
  src/policy/fees.cpp
  src/policy/fees.h
  test/sanitizer_suppressions/ubsan
Labels: TX fees and policy

#19898 log: print unexpected version warning in validation log category
  src/validation.cpp
Labels: Utils/log/libs, Validation

#20003 net: Exit with error message if -proxy is specified without arguments (instead of continuing without proxy server)
  src/init.cpp
  test/functional/feature_config_args.py
Labels: P2P

#19984 log: Remove static log message "Initializing chainstate Chainstate [ibd] @ height -1 (null)"
  src/init.cpp
Labels: Utils/log/libs

#20015 doc: Added default signet config for linearize script
  contrib/linearize/example-linearize.cfg
Labels: Docs, Scripts and tools

#19958 doc: Better document features of feelers
  src/net.cpp
  src/net.h
Labels: P2P

#19960 build: The vcpkg tool has introduced a proper way to use manifests
  .appveyor.yml
  build_msvc/.gitignore
  build_msvc/README.md
  build_msvc/common.init.vcxproj
  build_msvc/vcpkg-packages.txt
  build_msvc/vcpkg.json
Labels: Build system, Windows

#19501 send* RPCs in the wallet returns the "fee reason"
  src/interfaces/wallet.cpp
  src/rpc/client.cpp
  src/wallet/feebumper.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_basic.py
Labels: RPC/REST/ZMQ, Wallet

#20036 signet: Add assumed values for default signet
  src/chainparams.cpp
Labels: Validation

#20006 Fix misleading error message: Clean stack rule
  src/script/script_error.cpp
Labels: Consensus

#20043 doc: Add 19501 release notes
  doc/release-notes.md
  src/wallet/rpcwallet.cpp
  test/functional/wallet_basic.py
Labels: Docs

#19498 Tidy up ProcessOrphanTx
  src/net_processing.cpp
  src/net_processing.h
Labels: P2P, Refactoring

#19802 doc: elaborate on release notes wrt netmasks
  doc/release-notes.md
Labels: Docs

#20004 test: Add signet witness commitment section parse tests
  src/bench/checkblock.cpp
  src/chainparams.cpp
  src/chainparams.h
  src/init.cpp
  src/qt/paymentserver.cpp
  src/test/miner_tests.cpp
  src/test/pow_tests.cpp
  src/test/validation_tests.cpp
  src/test/versionbits_tests.cpp
Labels: Tests
