Repository bitcoin/bitcoin, pull requests merged in 2020-11, with the labels that each got.

#20080 Strip any trailing `/` in -datadir and -blocksdir paths
  src/test/util_tests.cpp
  src/util/system.cpp
Labels: Needs backport (0.18), Needs backport (0.19), Needs backport (0.20), Utils/log/libs

#20262 tests: Skip --descriptor tests if sqlite is not compiled
  test/config.ini.in
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_importdescriptors.py
Labels: Build system

#20271 doc: Document that wallet salvage is experimental
  src/bitcoin-wallet.cpp
Labels: Docs

#20230 wallet: Fix bug when just created encrypted wallet cannot get address
  src/wallet/wallet.cpp
Labels: Wallet

#20281 docs: Correct getblockstats documentation for (sw)total_weight
  src/rpc/blockchain.cpp
Labels: Docs, RPC/REST/ZMQ

#20165 Only relay Taproot spends if next block has it active
  src/bench/ccoins_caching.cpp
  src/policy/policy.cpp
  src/policy/policy.h
  src/test/fuzz/coins_view.cpp
  src/test/fuzz/transaction.cpp
  src/test/script_p2sh_tests.cpp
  src/test/transaction_tests.cpp
  src/validation.cpp
  test/functional/feature_taproot.py
Labels: TX fees and policy, Validation

#20279 doc: release process updates/fixups
  doc/release-process.md
Labels: Docs

#18788 tests: Update more tests to work with descriptor wallets
  test/functional/feature_backwards_compatibility.py
  test/functional/feature_nulldummy.py
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_rawtransaction.py
  test/functional/rpc_signrawtransaction.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/script_util.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/tool_wallet.py
  test/functional/wallet_address_types.py
  test/functional/wallet_balance.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_createwallet.py
  test/functional/wallet_importdescriptors.py
  test/functional/wallet_importprunedfunds.py
  test/functional/wallet_labels.py
  test/functional/wallet_listsinceblock.py
  test/functional/wallet_listtransactions.py
  test/functional/wallet_multiwallet.py
Labels: Tests

#20263 Update assumed chain params
  src/chainparams.cpp
Labels: Validation

#20187 Addrman: test-before-evict bugfix and improvements for block-relay-only peers
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
Labels: P2P

#20289 fuzz: Check for addrv1 compatibility before using addrv1 serializer/deserializer on CService
  src/test/fuzz/deserialize.cpp
Labels: Tests

#20290 fuzz: Fix DecodeHexTx fuzzing harness issue
  src/test/fuzz/decode_tx.cpp
Labels: Tests

#20237 net: Hardcoded seeds update for 0.21
  contrib/seeds/.gitignore
  contrib/seeds/makeseeds.py
  contrib/seeds/nodes_main.txt
  src/chainparamsseeds.h
Labels: P2P

#20282 wallet: change upgradewallet return type to be an object
  src/wallet/rpcwallet.cpp
  test/functional/wallet_upgradewallet.py
Labels: RPC/REST/ZMQ, Wallet

#20220 wallet, rpc: explicit fee rate follow-ups/fixes for 0.21
  src/rpc/util.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/wallet_basic.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_send.py
Labels: RPC/REST/ZMQ, Wallet

#20245 test: Run script_assets_test even if built --with-libs=no
  ci/test/00_setup_env_native_qt5.sh
  src/test/script_tests.cpp
Labels: Tests

#20212 net: fix output of peer address in version message
  src/net_processing.cpp
Labels: P2P, Utils/log/libs

#20299 test: Fix intermittent rpc_net issue
  test/functional/rpc_net.py
Labels: Tests

#20294 ci: Run more ci configs on cirrus
  .cirrus.yml
  .travis.yml
Labels: Tests

#20300 fuzz: Add missing ECC_Start to descriptor_parse test
  src/test/fuzz/descriptor_parse.cpp
Labels: Tests

#20199 wallet: ignore (but warn) on duplicate -wallet parameters
  src/wallet/load.cpp
  test/functional/wallet_multiwallet.py
Labels: Wallet

#20283 test: Only try witness deser when checking for witness deser failure
  test/functional/p2p_segwit.py
Labels: Tests

#20303 fuzz: Assert expected DecodeHexTx behaviour when using legacy decoding
  src/test/fuzz/decode_tx.cpp
Labels: Tests

#20302 net: Make it easier to reason about node eviction by removing unused NodeEvictionCandidate::addr (CAddress)
  src/net.cpp
Labels: P2P, Refactoring

#20308 wallet: Set bilingual error completely
  src/wallet/sqlite.cpp
Labels: Wallet

#19606 Backport wtxid relay to v0.20
  src/consensus/validation.h
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/node/transaction.cpp
  src/protocol.cpp
  src/protocol.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/version.h
  test/functional/mempool_packages.py
  test/functional/p2p_blocksonly.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_segwit.py
  test/functional/p2p_tx_download.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
  test/functional/wallet_resendwallettransactions.py
Labels: Backport, P2P

#20316 test: Fix wallet_multiwallet test issue on Windows
  test/functional/wallet_multiwallet.py
Labels: Tests

#20324 wallet: Set DatabaseStatus::SUCCESS in MakeSQLiteDatabase
  src/wallet/sqlite.cpp
Labels: Refactoring, Wallet

#20326 tests: Fix ecdsa_verify in test framework
  test/functional/test_framework/key.py
Labels: Tests

#20298 macOS deploy: use the new plistlib API
  contrib/macdeploy/macdeployqtplus
Labels: Build system, macOS

#20328 cirrus: Skip tasks on the gui repo main branch
  .cirrus.yml
Labels: Tests

#20315 travis: Remove s390x build
  .travis.yml
  ci/test/00_setup_env_s390x.sh
  ci/test/06_script_b.sh
Labels: Tests

#20318 build: Ensure source tarball has leading directory name
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  contrib/guix/libexec/build.sh
Labels: Build system, Needs gitian build

#20266 wallet: fix change detection of imported internal descriptors
  src/wallet/rpcdump.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_importdescriptors.py
Labels: RPC/REST/ZMQ, Wallet

#20339 ci: Run more ci configs on cirrus
  .cirrus.yml
  .travis.yml
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_mac_host.sh
  ci/test/00_setup_env_win64.sh
  ci/test/04_install.sh
  ci/test/05_before_script.sh
  ci/test/06_script_b.sh
  ci/test/wrap-wine.sh
Labels: Tests

#20292 test: Fix intermittent feature_taproot issue
  ci/test/00_setup_env.sh
  test/functional/feature_taproot.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/key.py
Labels: Tests

#20120 net, rpc, test, bugfix: update GetNetworkName, GetNetworksInfo, regression tests
  src/netbase.cpp
  src/rpc/net.cpp
  test/functional/feature_proxy.py
Labels: RPC/REST/ZMQ

#20153 wallet: do not import a descriptor with hardened derivations into a watch-only wallet
  src/wallet/rpcdump.cpp
  src/wallet/wallet.cpp
  test/functional/wallet_importdescriptors.py
Labels: Wallet

#20355 fuzz: Check for addrv1 compatibility before using addrv1 serializer/deserializer on CSubNet
  src/test/fuzz/deserialize.cpp
Labels: Tests

#20322 test: Fix intermittent issue in wallet_listsinceblock
  test/functional/wallet_listsinceblock.py
Labels: Tests

#20332 test: Mock IBD in net_processing fuzzers
  src/Makefile.test_util.include
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/util/validation.cpp
  src/test/util/validation.h
  src/validation.h
Labels: Tests

#20368 ci: Remove redundant valgrind fuzz task
  .cirrus.yml
Labels: Tests

#20344 wallet: fix scanning progress calculation for single block range
  src/wallet/wallet.cpp
  test/sanitizer_suppressions/ubsan
Labels: Wallet

#19502 Bugfix: Wallet: Soft-fail exceptions within ListWalletDir file checks
  src/wallet/walletutil.cpp
  test/functional/wallet_multiwallet.py
Labels: Wallet

#20285 Remove references to CreateWalletFromFile
  src/init.cpp
  src/wallet/test/wallet_tests.cpp
  test/sanitizer_suppressions/tsan
Labels: Refactoring, Wallet

#20372 Avoid signed integer overflow when loading a mempool.dat file with a malformed time field
  src/validation.cpp
Labels: Validation

#20375 fuzz: Improve coverage for CPartialMerkleTree fuzzing harness
  src/test/fuzz/merkleblock.cpp
Labels: Tests

#20188 tests: Add fuzzing harness for CConnman
  src/Makefile.test.include
  src/test/fuzz/connman.cpp
  src/test/fuzz/util.h
Labels: Tests

#20284 addrman: ensure old versions don't parse peers.dat
  doc/release-notes.md
  src/addrman.h
Labels: P2P

#20379 tests: Remove no longer needed UBSan suppression (float divide-by-zero in validation.cpp)
  test/sanitizer_suppressions/ubsan
Labels: Tests

#19065 tests: Add fuzzing harness for CAddrMan
  src/Makefile.test.include
  src/test/fuzz/addrman.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/util.h
Labels: Tests

#20378 wallet: fix potential division by 0 in WalletLogPrintf
  src/wallet/wallet.cpp
Labels: Utils/log/libs, Wallet

#20395 ci: Use the previous build worker image in AppVeyor
  .appveyor.yml
Labels: Tests

#20386 Silence false positive GCC warning in wallet/rpcwallet.cpp
  src/wallet/rpcwallet.cpp
Labels: Wallet

#20033 refactor: minor whitespace fixups, s/const/constexpr/ and remove template (followup to #19845)
  src/netaddress.h
  src/test/util/setup_common.h
Labels: P2P, Refactoring

#20390 CI/Cirrus: Skip merge_base step for non-PRs
  .cirrus.yml
Labels: Tests

#20238 doc: Missing comments for signet parameters
  src/chainparams.cpp
Labels: Validation

#18836 wallet: upgradewallet fixes and additional tests
  src/dummywallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletutil.cpp
  src/wallet/walletutil.h
  test/functional/data/wallets/high_minversion/.walletlock
  test/functional/data/wallets/high_minversion/GENERATE.md
  test/functional/data/wallets/high_minversion/db.log
  test/functional/data/wallets/high_minversion/wallet.dat
  test/functional/test_framework/bdb.py
  test/functional/test_framework/util.py
  test/functional/wallet_multiwallet.py
  test/functional/wallet_upgradewallet.py
Labels: Wallet

#20405 p2p: avoid calculating onion address checksum when version is not 3
  src/netaddress.cpp
Labels: P2P

#20346 script: modify security-check.py to use "==" instead of "is" for literal comparison
  contrib/devtools/security-check.py
  test/lint/lint-python.sh
Labels: Scripts and tools

#20139 Wallet: do not return warnings from UpgradeWallet()
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet

#20305 wallet: introduce fee_rate sat/vB param/option
  src/policy/feerate.cpp
  src/policy/feerate.h
  src/rpc/client.cpp
  src/rpc/mining.cpp
  src/test/amount_tests.cpp
  src/util/fees.cpp
  src/util/fees.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/rpc_estimatefee.py
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/wallet_basic.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_send.py
Labels: Wallet

#20401 qt: Pre-splitoff translations update
  src/qt/bitcoinstrings.cpp
  src/qt/locale/bitcoin_bg.ts
  src/qt/locale/bitcoin_ca.ts
  src/qt/locale/bitcoin_cs.ts
  src/qt/locale/bitcoin_de.ts
  src/qt/locale/bitcoin_en.ts
  src/qt/locale/bitcoin_es.ts
  src/qt/locale/bitcoin_es_MX.ts
  src/qt/locale/bitcoin_es_VE.ts
  src/qt/locale/bitcoin_fa.ts
  src/qt/locale/bitcoin_fi.ts
  src/qt/locale/bitcoin_fil.ts
  src/qt/locale/bitcoin_fr.ts
  src/qt/locale/bitcoin_he.ts
  src/qt/locale/bitcoin_hi.ts
  src/qt/locale/bitcoin_id.ts
  src/qt/locale/bitcoin_it.ts
  src/qt/locale/bitcoin_ja.ts
  src/qt/locale/bitcoin_ms.ts
  src/qt/locale/bitcoin_nl.ts
  src/qt/locale/bitcoin_pl.ts
  src/qt/locale/bitcoin_pt_BR.ts
  src/qt/locale/bitcoin_ru.ts
  src/qt/locale/bitcoin_sl.ts
  src/qt/locale/bitcoin_sq.ts
  src/qt/locale/bitcoin_ta.ts
  src/qt/locale/bitcoin_tr.ts
  src/qt/locale/bitcoin_uk.ts
  src/qt/locale/bitcoin_zh-Hans.ts
  src/qt/locale/bitcoin_zh_CN.ts
Labels: GUI

#20166 [0.20] Backports
  contrib/macdeploy/macdeployqtplus
  depends/packages/bdb.mk
  src/net_processing.cpp
  src/randomenv.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/test/util_tests.cpp
  src/timedata.cpp
  src/util/system.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: Backport

#19504 Bump minimum python version to 3.6
  .python-version
  .travis.yml
  ci/test/00_setup_env_native_nowallet.sh
  configure.ac
  doc/dependencies.md
  test/functional/README.md
  test/functional/feature_block.py
Labels: Build system

#19905 Remove dead CheckForkWarningConditionsOnNewFork
  src/validation.cpp
  src/warnings.cpp
  src/warnings.h
Labels: Refactoring, Review club, Validation

#20408 CConnman: move initialization to declaration
  src/net.cpp
  src/net.h
Labels: P2P

#20418 doc: clean out release notes post branch-off
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  doc/release-notes.md
Labels: Docs

#20414 doc: Remove generated manual pages from master branch
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
Labels: Docs

#20413 build: Require C++17 compiler
  .travis.yml
  ci/test/00_setup_env_i686_centos.sh
  ci/test/00_setup_env_native_nowallet.sh
  ci/test/00_setup_env_native_qt5.sh
  ci/test/04_install.sh
  configure.ac
  doc/dependencies.md
  src/util/memory.h
Labels: Build system

#20288 script, doc: contrib/seeds updates
  contrib/seeds/README.md
  contrib/seeds/makeseeds.py
Labels: Docs, Scripts and tools

#20359 depends: Various config.site.in improvements and linting
  depends/config.site.in
  test/lint/lint-shell.sh
Labels: Build system

#20333 build: remove native_biplist dependency
  contrib/macdeploy/custom_dsstore.py
  depends/packages/native_biplist.mk
  depends/packages/native_ds_store.mk
  depends/packages/packages.mk
Labels: Build system, macOS

#20067 refactor: remove use of boost::algorithm::replace_first
  src/core_read.cpp
Labels: Refactoring

#20358 src/randomenv.cpp: fix build on uclibc
  src/randomenv.cpp
Labels: Utils/log/libs

#20145 contrib: add getcoins.py script to get coins from (signet) faucet
  contrib/signet/README.md
  contrib/signet/getcoins.py
Labels: Scripts and tools

#15710 wallet: Catch ios_base::failure specifically
  src/Makefile.test.include
  src/wallet/test/walletdb_tests.cpp
  src/wallet/walletdb.cpp
Labels: Wallet

#18531 rpc: remove deprecated CRPCCommand constructor
  src/qt/test/rpcnestedtests.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/server.h
  test/lint/lint-rpc-help.sh
Labels: RPC/REST/ZMQ, Refactoring

#20047 test: use wait_for_{block,header} helpers in p2p_fingerprint.py
  test/functional/p2p_fingerprint.py
Labels: Tests

#20291 [net] Consolidate logic around calling CAddrMan::Connected()
  src/addrman.h
  src/net_processing.cpp
Labels: P2P, Refactoring

#20054 Remove confusing and useless "unexpected version" warning
  src/validation.cpp
Labels: Utils/log/libs, Validation

#20385 test: run mempool_spend_coinbase.py even with wallet disabled
  test/functional/mempool_spend_coinbase.py
  test/functional/test_framework/wallet.py
Labels: Tests

#20329 docs/descriptors.md: Remove hardened marker in the path after xpub
  doc/descriptors.md
Labels: Docs

#20000 test: fix creation of "std::string"s with \0s
  src/test/base32_tests.cpp
  src/test/base58_tests.cpp
  src/test/base64_tests.cpp
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/test/util_tests.cpp
Labels: Tests

#19851 refactor: Extract ParseOpCode from ParseScript
  src/core_read.cpp
  test/util/data/bitcoin-util-test.json
Labels: Refactoring

#20056 net: Use Span in ReceiveMsgBytes
  src/net.cpp
  src/net.h
  src/test/fuzz/net.cpp
  src/test/fuzz/p2p_transport_deserializer.cpp
  src/test/util/net.cpp
  src/test/util/net.h
Labels: P2P, Refactoring

#20428 tests: shrink feature_taproot transfer of funds tx
  test/functional/feature_taproot.py
Labels: Needs backport (0.21), Tests

#20424 build: Update univalue subtree
  src/univalue/include/univalue.h
  src/univalue/test/object.cpp
Labels: Build system

#20430 sanitizers: Add suppression for unsigned-integer-overflow in libstdc++
  test/sanitizer_suppressions/ubsan
Labels: Tests

#20431 [backport 0.21] tests: shrink feature_taproot transfer of funds tx
  test/functional/feature_taproot.py
Labels: Backport

#20223 build: Drop the leading 0 from the version number
  build_msvc/bitcoin_config.h
  configure.ac
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  doc/release-process.md
  share/qt/Info.plist.in
  share/setup.nsi.in
  src/bitcoin-cli-res.rc
  src/bitcoin-tx-res.rc
  src/bitcoin-wallet-res.rc
  src/bitcoind-res.rc
  src/clientversion.cpp
  src/clientversion.h
  src/qt/res/bitcoin-qt-res.rc
  src/test/util_tests.cpp
  test/lint/extended-lint-cppcheck.sh
Labels: Build system

#20426 wallet: allow zero-fee fundrawtransaction/walletcreatefundedpsbt and other fixes
  src/wallet/rpcwallet.cpp
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_send.py
Labels: Needs backport (0.21), RPC/REST/ZMQ, Wallet

#19867 build: document and cleanup Qt hacks
  depends/packages/qt.mk
  depends/patches/qt/fix_mingw_cross_compile.patch
  depends/patches/qt/mac-qmake.conf
Labels: Build system, Needs gitian build

#20432 net: Treat raw message bytes as uint8_t
  src/net.cpp
  src/net.h
  src/test/fuzz/net.cpp
  src/test/fuzz/p2p_transport_deserializer.cpp
  src/test/util/net.cpp
  src/test/util/net.h
Labels: P2P, Refactoring

#20202 wallet: Make BDB support optional
  build-aux/m4/bitcoin_find_bdb48.m4
  build_msvc/bitcoin_config.h
  build_msvc/bitcoind/bitcoind.vcxproj
  build_msvc/libbitcoin_wallet/libbitcoin_wallet.vcxproj.in
  configure.ac
  doc/build-unix.md
  doc/dependencies.md
  src/Makefile.am
  src/Makefile.test.include
  src/qt/createwalletdialog.cpp
  src/qt/rpcconsole.cpp
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/salvage.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/sqlite.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/wallet/wallettool.cpp
  src/wallet/walletutil.cpp
Labels: Build system, Wallet

#20449 build: Fix Windows installer build
  share/qt/Info.plist.in
  share/setup.nsi.in
Labels: Build system, Needs Guix build, Needs gitian build, Windows

#20419 build: set minimum supported macOS to 10.14
  .cirrus.yml
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_mac_host.sh
  contrib/gitian-descriptors/gitian-osx.yml
  depends/README.md
  depends/hosts/darwin.mk
  doc/build-osx.md
  doc/release-notes.md
  share/qt/Info.plist.in
Labels: Build system, macOS

#20399 Revert "Merge #19606: Backport wtxid relay to v0.20"
  src/consensus/validation.h
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/node/transaction.cpp
  src/protocol.cpp
  src/protocol.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/version.h
  test/functional/mempool_packages.py
  test/functional/p2p_blocksonly.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_segwit.py
  test/functional/p2p_tx_download.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
  test/functional/wallet_resendwallettransactions.py
Labels: Backport

#20458 test: add is_bdb_compiled helper
  test/config.ini.in
  test/functional/test_framework/test_framework.py
Labels: Build system

#19179 ci: Run ci configs on cirrus
  .cirrus.yml
  .travis.yml
  ci/test/00_setup_env_i686_centos.sh
  ci/test/04_install.sh
  ci/test/05_before_script.sh
Labels: Tests

#19764 depends: Split boost into build/host packages + bump + cleanup
  depends/packages/boost.mk
  depends/packages/native_b2.mk
  depends/packages/packages.mk
  depends/patches/boost/unused_var_in_process.patch
Labels: Build system, Needs Guix build, Needs gitian build

#20473 doc: Document current boost dependency as 1.71.0
  doc/dependencies.md
Labels: Build system, Docs

#20462 RPC/Wallet: unloadwallet: Clarify docs/error when both the RPC request and wallet_name parameter specify a wallet
  src/wallet/rpcwallet.cpp
  test/functional/wallet_multiwallet.py
Labels: RPC/REST/ZMQ, Wallet

#20472 test: Add testing of ParseInt/ParseUInt edge cases with leading +/-/0:s
  src/test/util_tests.cpp
Labels: Tests

#20447 depends: Patch qt_intersect_spans to avoid non-deterministic behavior in LLVM 8
  depends/packages/qt.mk
  depends/patches/qt/fix_qpainter_non_determinism.patch
Labels: Build system, Needs Guix build, Needs backport (0.21), Needs gitian build

#20475 [backport] RPC: unloadwallet: Clarify docs/error when both the RPC endpoint and wallet_name parameter specify a wallet
  src/wallet/rpcwallet.cpp
  test/functional/wallet_multiwallet.py
Labels: Backport

#20479 Fix QPainter non-determinism on macOS (0.21 backport)
  depends/packages/qt.mk
  depends/patches/qt/fix_qpainter_non_determinism.patch
Labels: Backport, GUI

#20410 wallet: Do not treat default constructed types as None-type
  src/wallet/rpcwallet.cpp
  test/functional/wallet_basic.py
  test/functional/wallet_send.py
Labels: Needs backport (0.21), RPC/REST/ZMQ, Wallet

#20456 test: Fix intermittent issue in mempool_compatibility
  test/functional/mempool_compatibility.py
Labels: Needs backport (0.21), Tests

#20469 build: Avoid secp256k1.h include from system
  src/Makefile.am
Labels: Build system, Needs backport (0.21)

#20486 [backport] test: Fix intermittent issue in mempool_compatibility
  test/functional/mempool_compatibility.py
Labels: Backport

#20485 [backport] wallet: Do not treat default constructed types as None-type
  src/wallet/rpcwallet.cpp
  test/functional/wallet_basic.py
  test/functional/wallet_send.py
Labels: Backport

#20403 wallet: upgradewallet fixes, improvements, test coverage
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/wallet.cpp
  src/wallet/walletutil.cpp
  test/functional/wallet_upgradewallet.py
Labels: Needs backport (0.21), RPC/REST/ZMQ, Wallet

#19387 span: update constructors to match c++20 draft spec and add lifetimebound attribute
  src/attributes.h
  src/span.h
Labels: Refactoring

#20489 CI msvc: only build vcpkg dependencies for release (not debug) to reduce build times
  .appveyor.yml
Labels: Tests, Windows

#19337 sync: detect double lock from the same thread
  src/sync.cpp
  src/sync.h
  src/test/sync_tests.cpp
Labels: Utils/log/libs

#20490 [backport] wallet: upgradewallet fixes, improvements, test coverage
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/walletutil.cpp
  test/functional/wallet_upgradewallet.py
Labels: Backport

#20497 [Refactor] Add MAX_STANDARD_SCRIPTSIG_SIZE to policy
  src/policy/policy.cpp
  src/policy/policy.h
Labels: TX fees and policy

#20448 RPC/Wallet: unloadwallet: Allow specifying wallet_name param matching RPC endpoint wallet
  src/wallet/rpcwallet.cpp
  test/functional/wallet_multiwallet.py
Labels: RPC/REST/ZMQ, Wallet

#20522 [test] Fix sync issue in disconnect_p2ps
  test/functional/test_framework/test_node.py
Labels: Tests

#20471 build: use C++17 in depends
  ci/test/00_setup_env_native_msan.sh
  depends/packages/bdb.mk
  depends/packages/boost.mk
  depends/packages/qt.mk
  depends/packages/zeromq.mk
Labels: Build system

#20491 refactor: Drop noop gcc version checks
  src/bench/prevector.cpp
  src/test/fuzz/addition_overflow.cpp
  src/test/fuzz/multiplication_overflow.cpp
Labels: Refactoring

#20499 Remove obsolete NODISCARD ifdef forest. Use [[nodiscard]] (C++17).
  src/attributes.h
  src/base58.cpp
  src/base58.h
  src/core_io.h
  src/hash.h
  src/init.cpp
  src/node/transaction.h
  src/outputtype.h
  src/psbt.h
  src/script/descriptor.cpp
  src/test/coins_tests.cpp
  src/test/fuzz/util.h
  src/util/bip32.h
  src/util/moneystr.h
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/util/string.h
  src/util/system.h
Labels: Refactoring
