Repository bitcoin/bitcoin, pull requests merged in 2020-04, with the labels that each got.

#18486 doc: Explain new test logging
  src/test/README.md
Labels: Docs, Tests

#18247 test: Wait for both veracks in add_p2p_connection
  test/functional/p2p_dos_header_tree.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_leak.py
  test/functional/p2p_timeouts.py
  test/functional/test_framework/test_node.py
Labels: Tests

#18477 ci: Use Focal for fuzzers
  .travis.yml
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
Labels: Tests

#18358 util: fix compilation with mingw-w64 7.0.0
  configure.ac
  src/util/time.cpp
Labels: Utils/log/libs

#16923 wallet: Handle duplicate fileid exception
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
  src/wallet/load.cpp
  src/wallet/wallet.cpp
  test/functional/wallet_multiwallet.py
Labels: Bug, Wallet

#18500 chainparams: Bump assumed valid hash
  src/chainparams.cpp
Labels: Validation

#18494 test: replace (send_message + sync_with_ping) with send_and_ping
  test/functional/feature_maxuploadtarget.py
  test/functional/p2p_filter.py
  test/functional/p2p_leak_tx.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_tx_download.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/rpc_blockchain.py
Labels: Tests

#18464 doc: block-relay-only vs blocksonly
  doc/reduce-memory.md
  doc/reduce-traffic.md
Labels: Docs

#18383 refactor: Check for overflow when calculating sum of tx outputs
  src/primitives/transaction.cpp
Labels: Consensus, Refactoring

#18426 scripts: previous_release: improve behaviour on failed download
  contrib/devtools/previous_release.sh
Labels: Scripts and tools

#18382 doc: note the costs of fetching all pull requests
  doc/productivity.md
Labels: Docs

#18505 doc: Update webchat URLs in README.md
  doc/README.md
Labels: Docs

#18513 doc: fix git add argument
  doc/release-process.md
Labels: Docs

#18407 tests: Add proof-of-work fuzzing harness
  src/Makefile.test.include
  src/test/fuzz/pow.cpp
  src/test/fuzz/util.h
Labels: Tests

#18509 fuzz: Avoid running over all inputs after merging them
  test/fuzz/test_runner.py
Labels: Tests

#18520 test: remaining replacements of (send_message+sync_with_ping) with send_and_ping
  test/functional/p2p_segwit.py
Labels: Tests

#18519 fuzz: Extend script fuzz test
  src/test/fuzz/script.cpp
Labels: Tests

#18518 fuzz: Extend descriptor fuzz test
  src/test/fuzz/descriptor_parse.cpp
Labels: Tests

#18496 test: remove redundant sync_with_ping after add_p2p_connection
  test/functional/p2p_sendheaders.py
Labels: Tests

#18510 fuzz: Add CScriptNum::getint coverage
  src/test/fuzz/integer.cpp
  src/test/fuzz/scriptnum_ops.cpp
Labels: Tests

#18528 build: create test_fuzz library from src/test/fuzz/fuzz.cpp
  src/Makefile.am
  src/Makefile.test.include
  src/Makefile.test_fuzz.include
Labels: Build system

#18515 test: add BIP37 remote crash bug [CVE-2013-5700] test to p2p_filter.py
  test/functional/p2p_filter.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
Labels: Tests

#18514 test: remove rapidcheck integration and tests
  build_msvc/README.md
  build_msvc/vcpkg-packages.txt
  configure.ac
  depends/Makefile
  depends/README.md
  depends/packages/packages.mk
  depends/packages/rapidcheck.mk
  doc/rapidcheck.md
  src/Makefile.test.include
  src/test/gen/crypto_gen.cpp
  src/test/gen/crypto_gen.h
  src/test/key_properties.cpp
Labels: Build system, Tests

#18506 net: Hardcoded seeds update for 0.20
  contrib/seeds/makeseeds.py
  contrib/seeds/nodes_main.txt
  src/chainparamsseeds.h
Labels: P2P

#18534 test: skip backwards compat tests if not compiled with wallet
  test/functional/feature_backwards_compatibility.py
Labels: Tests

#18524 refactor: drop boost::signals2 in validationinterface
  src/validationinterface.cpp
  src/validationinterface.h
Labels: Bug, Refactoring, Validation

#18516 test: relax bumpfee dust_to_fee txsize an extra vbyte
  test/functional/wallet_bumpfee.py
Labels: Tests

#18484 rpc: Correctly compute redeemScript from witnessScript for signrawtransaction
  src/rpc/rawtransaction_util.cpp
  test/functional/rpc_signrawtransaction.py
Labels: RPC/REST/ZMQ

#18540 test: wallet_bumpfee assertion fixup
  test/functional/wallet_bumpfee.py
Labels: Tests

#18487 rpc: Fix rpcRunLater race in walletpassphrase
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ, Wallet

#18458 net: Add missing cs_vNodes lock
  src/init.cpp
  src/net.cpp
  src/net.h
  src/net_processing.h
  src/test/denialofservice_tests.cpp
Labels: P2P

#18549 qt: Fix Window -> Minimize menu item
  src/qt/bitcoingui.cpp
Labels: GUI

#18546 Bugfix: Wallet: Safely deal with change in the address book [part 2]
  src/interfaces/wallet.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_avoidreuse.py
Labels: RPC/REST/ZMQ, Tests, Wallet

#18532 rpc: Avoid initialization-order-fiasco on static CRPCCommand tables
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ

#18551 Do not clear validationinterface entries being executed
  src/Makefile.test.include
  src/test/validationinterface_tests.cpp
  src/validationinterface.cpp
Labels: Validation

#18558 build: Fix boost detection for arch armv7l
  build-aux/m4/ax_boost_base.m4
Labels: Build system, Needs gitian build

#18563 test: Fix unregister_all_during_call cleanup
  src/test/validationinterface_tests.cpp
Labels: Tests

#18533 scripted-diff: Replace strCommand with msg_type
  src/net_processing.cpp
  src/test/fuzz/process_message.cpp
Labels: P2P, Refactoring

#18521 fuzz: Add process_messages harness
  src/Makefile.test.include
  src/Makefile.test_util.include
  src/net.h
  src/test/fuzz/process_messages.cpp
  src/test/util/net.cpp
  src/test/util/net.h
  src/test/util/setup_common.cpp
Labels: Tests

#18363 tests: Add fuzzing harness for HTTPRequest, libevent's evhttp and related functions
  src/Makefile.test.include
  src/httpserver.cpp
  src/httpserver.h
  src/test/fuzz/http_request.cpp
Labels: Tests

#18562 ci: Run unit tests sequential once
  .appveyor.yml
  ci/test/00_setup_env_native_qt5.sh
  ci/test/06_script_b.sh
Labels: Tests

#18566 test: Set -use_value_profile=1 when merging fuzz inputs
  test/fuzz/test_runner.py
Labels: Tests

#18561 test: Properly raise FailedToStartError when rpc shutdown before warmup finished
  test/functional/test_framework/test_node.py
Labels: Tests

#18529 Add fuzzer version of randomized prevector test
  src/Makefile.test.include
  src/test/fuzz/prevector.cpp
Labels: Tests

#18295 scripts: add MACHO lazy bindings check to security-check.py
  contrib/devtools/security-check.py
Labels: Scripts and tools, macOS

#18577 doc: Correct scripted-diff example link
  doc/developer-notes.md
Labels: Docs

#18454 net: Make addr relay mockable, add test
  src/net.h
  src/net_processing.cpp
  test/functional/p2p_addr_relay.py
  test/functional/test_runner.py
Labels: P2P

#18541 rpc: Make verifychain default values static, not depend on global args
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#18574 cli: call getbalances.ismine.trusted instead of getwalletinfo.balance
  src/bitcoin-cli.cpp
  test/functional/interface_bitcoin_cli.py
Labels: Utils/log/libs

#18504 build: Drop bitcoin-tx and bitcoin-wallet dependencies on libevent
  build_msvc/libbitcoin_util/libbitcoin_util.vcxproj.in
  configure.ac
  src/Makefile.am
  src/bitcoin-cli.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
  src/qt/main.cpp
  src/test/util/setup_common.cpp
  src/util/url.h
  src/wallet/rpcwallet.cpp
Labels: Build system

#16367 Multiprocess build support
  .gitignore
  .travis.yml
  ci/test/00_setup_env_native_multiprocess.sh
  ci/test/06_script_b.sh
  configure.ac
  depends/Makefile
  depends/README.md
  depends/builders/darwin.mk
  depends/config.site.in
  depends/funcs.mk
  depends/packages/boost.mk
  depends/packages/capnp.mk
  depends/packages/libmultiprocess.mk
  depends/packages/native_boost.mk
  depends/packages/native_capnp.mk
  depends/packages/native_libmultiprocess.mk
  depends/packages/packages.mk
  doc/multiprocess.md
  src/Makefile.am
  src/Makefile.qt.include
Labels: Build system, Docs, Tests

#17999 refactor: Add ChainClient setMockTime, getWallets methods
  src/interfaces/chain.h
  src/interfaces/node.cpp
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/rpc/misc.cpp
Labels: Refactoring

#18422 [consensus] MOVEONLY: Move single-sig checking EvalScript code to EvalChecksig
  src/script/interpreter.cpp
Labels: Consensus, Refactoring

#17737 Add ChainstateManager, remove BlockManager global
  src/Makefile.test.include
  src/init.cpp
  src/qt/test/apptests.cpp
  src/rpc/blockchain.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/test/wallet_tests.cpp
Labels: Validation

#17693 rpc: Add generateblock to mine a custom set of transactions
  src/miner.cpp
  src/miner.h
  src/rpc/client.cpp
  src/rpc/mining.cpp
  test/functional/rpc_generateblock.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#18586 build: Bump gitian descriptors to 0.21
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build system, Needs gitian build

#17905 gui: Avoid redundant tx status updates
  src/qt/bitcoin.cpp
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/test/addressbooktests.cpp
  src/qt/test/wallettests.cpp
  src/qt/transactiontablemodel.cpp
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: GUI

#18588 Revert "Merge #16367: Multiprocess build support"
  .gitignore
  .travis.yml
  ci/test/00_setup_env_native_multiprocess.sh
  ci/test/06_script_b.sh
  configure.ac
  depends/Makefile
  depends/README.md
  depends/builders/darwin.mk
  depends/config.site.in
  depends/funcs.mk
  depends/packages/boost.mk
  depends/packages/capnp.mk
  depends/packages/libmultiprocess.mk
  depends/packages/native_boost.mk
  depends/packages/native_capnp.mk
  depends/packages/native_libmultiprocess.mk
  depends/packages/packages.mk
  doc/multiprocess.md
  src/Makefile.am
  src/Makefile.qt.include
Labels: Build system

#17595 guix: Enable building for `x86_64-w64-mingw32` target
  contrib/guix/README.md
  contrib/guix/guix-build.sh
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  share/setup.nsi.in
Labels: Build system, Needs Guix build

#18495 rpc: Remove deprecated migration code
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ

#18593 test: complete impl. of msg_merkleblock and wait_for_merkleblock
  test/functional/p2p_filter.py
  test/functional/p2p_invalid_locator.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
Labels: Tests

#18609 test: Remove REJECT message code
  test/functional/p2p_leak.py
  test/functional/test_framework/mininode.py
Labels: Tests

#18584 test: Check that the version message does not leak the local address
  test/functional/p2p_leak.py
Labels: Tests

#18597 test: Extend wallet_dump test to cover comments
  test/functional/wallet_dump.py
Labels: Tests

#18502 doc: Update docs for getbalance (default minconf should be 0)
  src/wallet/rpcwallet.cpp
Labels: Docs

#18596 test: Try once more when RPC connection fails on Windows
  .cirrus.yml
  test/functional/test_framework/authproxy.py
Labels: Tests

#18545 test: refactor rpc_signrawtransaction and add logging
  test/functional/rpc_signrawtransaction.py
Labels: Tests

#18493 rpc: Remove deprecated "size" from mempool txs
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#18581 ci: Print ccache stats, add pip cache, and cleanups
  .travis.yml
  ci/test/00_setup_env.sh
  ci/test/04_install.sh
  ci/test/06_script_a.sh
Labels: Tests

#18451 test: shift coverage from getunconfirmedbalance to getbalances
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_address_types.py
  test/functional/wallet_balance.py
Labels: RPC/REST/ZMQ, Tests, Wallet

#17954 wallet: Remove calls to Chain::Lock methods
  src/Makefile.test.include
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/interfaces/wallet.cpp
  src/qt/test/wallettests.cpp
  src/sync.h
  src/test/interfaces_tests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Review club, Wallet

#18631 appveyor: Disable functional tests for now
  .appveyor.yml
  .cirrus.yml
Labels: Tests

#18632 doc: Fix macos comments in release-notes
  doc/release-notes.md
Labels: Docs

#18621 script: Disallow silent bool -> CScript conversion
  src/script/script.h
Labels: Consensus

#17929 build: add linker optimisation flags to gitian & guix (Linux)
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/guix/libexec/build.sh
Labels: Build system, Needs Guix build

#18624 Added my fingerprint Stephan Oeste (Emzy)
  contrib/gitian-keys/keys.txt
Labels: Build system, Scripts and tools

#18619 gitian: add jonatack gpg key fingerprint
  contrib/gitian-keys/keys.txt
Labels: Docs

#18646 gui: use PACKAGE_NAME in exception message
  src/qt/bitcoin.cpp
Labels: GUI

#18628 test: Add various low-level p2p tests
  test/functional/p2p_filter.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_leak.py
  test/functional/p2p_tx_download.py
Labels: Tests

#18615 test: Avoid accessing free'd memory in validation_chainstatemanager_tests
  src/test/txindex_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
Labels: Tests

#18640 appveyor: Remove clcache
  .appveyor.yml
Labels: Tests

#18645 [doc] Update thread information in developer docs
  doc/developer-notes.md
Labels: Docs

#18571 fuzz: Disable debug log file
  src/bench/bench_bitcoin.cpp
  src/bitcoind.cpp
  src/init.cpp
  src/init.h
  src/interfaces/node.cpp
  src/node/context.h
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Labels: Tests

#18401 Refactor: Initialize PrecomputedTransactionData in CheckInputScripts
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/validation.cpp
Labels: Refactoring

#18650 qt: Make bitcoin.ico non-executable
  src/qt/res/icons/bitcoin.ico
Labels: Build system, GUI

#18653 test: add coverage for bitcoin-cli -rpcwait
  test/functional/interface_bitcoin_cli.py
Labels: Tests

#18660 test: Verify findCommonAncestor always initializes outputs
  src/interfaces/chain.cpp
  src/test/interfaces_tests.cpp
Labels: Tests

#17669 tests: have coins simulation test also use CCoinsViewDB
  src/test/coins_tests.cpp
Labels: Tests

#18598 gitian: Add missing automake package to gitian-win-signer.yml
  contrib/gitian-descriptors/gitian-win-signer.yml
Labels: Build system, Needs backport (0.20)

#18662 test: Replace gArgs with local argsman in bench
  src/bench/bench_bitcoin.cpp
  src/util/system.cpp
  src/util/system.h
Labels: Utils/log/libs

#18262 bnb: exit selection when best_waste is 0
  src/wallet/coinselection.cpp
  src/wallet/test/coinselector_tests.cpp
Labels: Wallet

#18670 refactor: Remove unused methods CBloomFilter::reset()/clear()
  src/bloom.cpp
  src/bloom.h
  src/test/bloom_tests.cpp
  src/test/fuzz/bloom_filter.cpp
Labels: Refactoring, Tests

#17824 wallet: Prefer full destination groups in coin selection
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_avoidreuse.py
Labels: Wallet

#18467 rpc: Improve documentation and return value of settxfee
  src/wallet/rpcwallet.cpp
  test/functional/wallet_bumpfee.py
  test/functional/wallet_multiwallet.py
Labels: RPC/REST/ZMQ, Wallet

#18664 fuzz: fix unused variable compiler warning
  src/test/fuzz/locale.cpp
Labels: Tests

#18607 rpc: Fix named arguments in documentation
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpcwallet.cpp
  test/functional/rpc_generateblock.py
  test/functional/wallet_listtransactions.py
Labels: RPC/REST/ZMQ

#18683 ci: Disable valgrind functionl tests on forked repos to avoid timeouts
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/06_script_a.sh
Labels: Tests

#18641 test: Create cached blocks not in the future
  test/functional/test_framework/test_framework.py
Labels: Tests

#18682 fuzz: http_request workaround for libevent < 2.1.1
  src/test/fuzz/http_request.cpp
Labels: Tests

#17219 wallet: allow transaction without change if keypool is empty
  src/wallet/scriptpubkeyman.cpp
  src/wallet/wallet.cpp
  test/functional/rpc_fundrawtransaction.py
  test/functional/wallet_keypool.py
Labels: Needs release note, Wallet

#18692 test: Bump timeout in wallet_import_rescan
  test/functional/test_framework/test_node.py
  test/functional/wallet_import_rescan.py
Labels: Tests

#18695 test: Replace boost::mutex with std::mutex
  src/test/scheduler_tests.cpp
Labels: Tests

#18633 test: Properly raise FailedToStartError when rpc shutdown before warmup finished (take 2)
  test/functional/test_framework/test_node.py
Labels: Tests

#18675 tests: Don't initialize PrecomputedTransactionData in txvalidationcache tests
  src/test/txvalidationcache_tests.cpp
Labels: Tests

#15761 Replace -upgradewallet startup option with upgradewallet RPC
  src/rpc/client.cpp
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_multiwallet.py
Labels: RPC/REST/ZMQ, Wallet

#18610 scripted-diff: test: replace command with msgtype (naming)
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_leak.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
Labels: Refactoring, Tests

#18601 wallet: Refactor WalletRescanReserver to use wallet reference
  src/qt/test/wallettests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet

#18691 test: add wait_for_cookie_credentials() to framework for rpcwait tests
  test/functional/interface_bitcoin_cli.py
  test/functional/test_framework/test_node.py
Labels: Tests

#18544 net: limit BIP37 filter lifespan (active between 'filterload'..'filterclear')
  src/net.h
  src/net_processing.cpp
  test/functional/p2p_filter.py
Labels: P2P

#17831 rpc: doc: Fix and extend getblockstats examples
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#17579 [refactor] Merge getreceivedby tally into GetReceived function
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ, Wallet

#18705 ci: Remove xenial tsan workaround
  ci/test/00_setup_env_native_tsan.sh
Labels: Tests

#18676 build: Check libevent minimum version in configure script
  configure.ac
  doc/dependencies.md
Labels: Build system, Needs Guix build, Needs backport (0.19), Needs backport (0.20)

#18190 tests: Add fuzzing harness for Golomb-Rice coding (GolombRiceEncode/GolombRiceDecode)
  src/Makefile.am
  src/Makefile.test.include
  src/blockfilter.cpp
  src/test/fuzz/golomb_rice.cpp
  src/util/golombrice.h
Labels: Build system, Tests

#18672 test: add further BIP37 size limit checks to p2p_filter.py
  test/functional/p2p_filter.py
  test/functional/test_framework/messages.py
Labels: Tests

#18721 test: Fix linter issue
  test/functional/p2p_filter.py
Labels: Tests

#18704 test: Increase debugging to hunt down mempool_reorg intermittent failure
  test/functional/mempool_reorg.py
  test/functional/test_framework/util.py
Labels: Tests

#18384 [test] more specific feature_segwit test error messages and fixing incorrect comments
  test/functional/feature_segwit.py
Labels: Tests

#18709 doc: note why we can't use thread_local with glibc back compat
  configure.ac
Labels: Build system, Docs

#18713 scripts: Add MACHO stack canary check to security-check.py
  contrib/devtools/security-check.py
  contrib/devtools/test-security-check.py
Labels: Scripts and tools

#18612 script: Remove undocumented and unused operator+
  src/script/script.h
  src/test/fuzz/script_ops.cpp
  src/test/script_tests.cpp
Labels: Consensus

#18665 Do not expose and consider -logthreadnames when it does not work
  src/init.cpp
Labels: Utils/log/libs

#18410 Docs: Improve commenting for coins.cpp|h
  src/coins.cpp
  src/coins.h
  src/test/coins_tests.cpp
  src/validation.cpp
Labels: Docs

#18553 Avoid non-trivial global constants in SHA-NI code
  src/crypto/sha256_shani.cpp
Labels: Needs backport (0.20), Utils/log/libs

#18702 build: fix ASLR for bitcoin-cli on Windows
  src/bitcoin-cli.cpp
Labels: Build system, Needs backport (0.20), Windows

#18575 bench: Remove requirement that all benches use same testing setup
  src/bench/bench.cpp
  src/bench/bench.h
  src/bench/block_assemble.cpp
  src/bench/ccoins_caching.cpp
  src/bench/checkqueue.cpp
  src/bench/duplicate_inputs.cpp
  src/bench/mempool_eviction.cpp
  src/bench/mempool_stress.cpp
  src/bench/verify_script.cpp
  src/bench/wallet_balance.cpp
Labels: Tests

#18733 doc: Add wallet release notes for 0.21.0
  doc/release-notes.md
Labels: Docs

#18732 test: Remove unused, undocumented and misleading CScript.__add__
  test/functional/feature_rbf.py
  test/functional/test_framework/script.py
  test/functional/test_framework/script_util.py
Labels: Tests

#17509 gui: save and load PSBT
  src/node/transaction.h
  src/psbt.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
  src/rpc/rawtransaction.cpp
  src/util/system.cpp
  src/util/system.h
Labels: GUI

#18671 wallet: Add BlockUntilSyncedToCurrentChain to dumpwallet
  src/wallet/rpcdump.cpp
  src/wallet/test/wallet_tests.cpp
Labels: RPC/REST/ZMQ, Wallet

#18589 Fix naming of macOS SDK and clarify version
  contrib/macdeploy/README.md
Labels: Docs, Needs backport (0.20)

#18752 test: Fix intermittent error in mempool_reorg
  test/functional/mempool_reorg.py
Labels: Tests

#18712 test: display command line options passed to send_cli() in debug log
  test/functional/interface_bitcoin_cli.py
  test/functional/test_framework/test_node.py
Labels: Tests

#18157 doc: fixing init.md documentation to not require rpcpassword
  doc/init.md
Labels: Docs

#18757 test: Remove enumeration of expected deserialization exceptions in ProcessMessage(...) fuzzer
  src/test/fuzz/process_message.cpp
Labels: Tests

#18745 test: Check submitblock return values
  test/functional/feature_bip68_sequence.py
  test/functional/feature_nulldummy.py
  test/functional/p2p_segwit.py
Labels: Tests

#18756 refactor: test: use wait_for_getdata() in p2p_compactblocks.py
  test/functional/p2p_compactblocks.py
Labels: Tests

#18724 test: add coverage for -rpcwallet cli option
  test/functional/interface_bitcoin_cli.py
Labels: Tests

#17383 Refactor: Move consts to their correct translation units
  src/net.h
  src/net_processing.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#18754 bench: add CAddrMan benchmarks
  src/Makefile.bench.include
  src/bench/addrman.cpp
Labels: Tests

#18585 test: use zero-argument super() shortcut (Python 3.0+)
  test/functional/test_framework/messages.py
  test/functional/test_framework/script.py
  test/functional/wallet_txn_clone.py
Labels: Tests

#18739 doc: Document how to fuzz Bitcoin Core using Honggfuzz
  doc/fuzzing.md
Labels: Docs

#18688 fuzz: Run in parallel
  test/fuzz/test_runner.py
Labels: Tests

#18744 test: Add fuzzing harnesses for various classes/functions in primitives/
  src/Makefile.test.include
  src/test/fuzz/block.cpp
  src/test/fuzz/primitives_transaction.cpp
Labels: Tests

#18770 test: Remove raw-tx byte juggling in mempool_reorg
  test/functional/mempool_reorg.py
Labels: Tests

#18753 test: Fix intermittent failure in wallet_importmulti
  test/functional/wallet_importmulti.py
Labels: Tests

#18669 log: Use Join() helper when listing log categories
  src/init.cpp
  src/logging.cpp
  src/logging.h
  src/rpc/misc.cpp
Labels: Refactoring

#16528 Native Descriptor Wallets using DescriptorScriptPubKeyMan
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/pubkey.h
  src/qt/createwalletdialog.cpp
  src/qt/createwalletdialog.h
  src/qt/forms/createwalletdialog.ui
  src/qt/overviewpage.cpp
  src/qt/receivecoinsdialog.cpp
  src/qt/walletcontroller.cpp
  src/rpc/client.cpp
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/wallet/walletutil.cpp
  src/wallet/walletutil.h
  test/functional/feature_backwards_compatibility.py
  test/functional/rpc_createmultisig.py
  test/functional/rpc_psbt.py
  test/functional/test_framework/key.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/wallet_util.py
  test/functional/test_runner.py
  test/functional/wallet_avoidreuse.py
  test/functional/wallet_basic.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_encryption.py
  test/functional/wallet_hd.py
  test/functional/wallet_importdescriptors.py
  test/functional/wallet_keypool.py
  test/functional/wallet_keypool_topup.py
  test/functional/wallet_labels.py
Labels: Descriptors, Wallet

#18777 wallet: Recommend absolute path for dumpwallet
  src/wallet/rpcdump.cpp
Labels: Wallet

#18778 ci: Run functional tests on mac again
  ci/test/00_setup_env_mac_host.sh
Labels: Tests
