Repository bitcoin/bitcoin, pull requests merged in 2020-05, with the labels that each got.

#16426 Reverse cs_main, cs_wallet lock order and reduce cs_main locking
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/test/wallettests.cpp
  src/wallet/feebumper.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet

#18828 test: Strip down previous releases boilerplate
  test/functional/feature_backwards_compatibility.py
  test/functional/test_framework/test_framework.py
  test/functional/wallet_upgradewallet.py
Labels: Tests

#18413 script: prevent UB when computing abs value for num opcode serialize
  src/script/script.h
  src/test/fuzz/integer.cpp
  src/test/fuzz/scriptnum_ops.cpp
Labels: Consensus

#18617 test: add factor option to adjust test timeouts
  ci/test/00_setup_env_native_valgrind.sh
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
Labels: Tests

#18839 test: Fix intermittent issues
  test/functional/p2p_leak.py
  test/functional/p2p_segwit.py
Labels: Tests

#18855 tests: feature_backwards_compatibility.py test downgrade after upgrade
  test/functional/feature_backwards_compatibility.py
Labels: Tests

#15768 gui: Add close window shortcut
  src/qt/addressbookpage.cpp
  src/qt/askpassphrasedialog.cpp
  src/qt/bitcoingui.cpp
  src/qt/coincontroldialog.cpp
  src/qt/editaddressdialog.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/openuridialog.cpp
  src/qt/optionsdialog.cpp
  src/qt/receiverequestdialog.cpp
  src/qt/rpcconsole.cpp
  src/qt/signverifymessagedialog.cpp
  src/qt/splashscreen.cpp
  src/qt/transactiondescdialog.cpp
  src/qt/utilitydialog.cpp
Labels: Feature, GUI, macOS

#18859 Remove CCoinsViewCache::GetValueIn(...)
  src/bench/ccoins_caching.cpp
  src/coins.cpp
  src/coins.h
  src/primitives/transaction.h
  src/test/transaction_tests.cpp
Labels: Tests, UTXO Db and Indexes

#18783 tests: Add fuzzing harness for MessageSign, MessageVerify and other functions in util/message.h
  src/Makefile.test.include
  src/test/fuzz/message.cpp
Labels: Tests

#18786 init: Remove boost from ThreadImport
  src/init.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#18699 wallet: Avoid translating RPC errors
  src/dummywallet.cpp
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
  src/qt/walletmodel.cpp
  src/util/translation.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/feebumper.cpp
  src/wallet/feebumper.h
  src/wallet/load.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/wallet/wallettool.cpp
  test/functional/tool_wallet.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_multiwallet.py
Labels: Wallet

#18443 lockedpool: avoid sensitive data in core files (FreeBSD)
  src/support/lockedpool.cpp
Labels: Utils/log/libs

#18088 build: ensure we aren't using GNU extensions
  configure.ac
  src/logging/timer.h
  src/prevector.h
  src/validation.cpp
Labels: Brainstorming, Build system

#18782 wallet: Make sure no DescriptorScriptPubKeyMan or WalletDescriptor members are left uninitialized after construction
  src/wallet/scriptpubkeyman.h
  src/wallet/walletutil.h
Labels: Wallet

#18879 valgrind: remove outdated suppressions
  contrib/valgrind.supp
Labels: Tests

#18885 contrib: Move optimize-pngs.py script to the maintainer repo
  contrib/devtools/README.md
  contrib/devtools/optimize-pngs.py
Labels: Scripts and tools

#9381 Remove CWalletTx merging logic from AddToWallet
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/psbt_wallet_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Refactoring, Wallet

#18741 guix: Make source tarball using git-archive
  Makefile.am
  contrib/gitian-descriptors/assign_DISTNAME
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  contrib/gitian-descriptors/make_git_archive
  contrib/guix/README.md
  contrib/guix/guix-build.sh
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  share/setup.nsi.in
  test/lint/lint-shell.sh
Labels: Build system

#18806 net: remove is{Empty,Full} flags from CBloomFilter, clarify CVE fix
  src/bloom.cpp
  src/bloom.h
  src/net_processing.cpp
  src/test/fuzz/bloom_filter.cpp
Labels: P2P, Review club

#18854 doc: Fix typo in Coin doxygen comment
  src/coins.h
Labels: Docs

#18843 build: warn on potentially uninitialized reads
  configure.ac
  src/Makefile.leveldb.include
  src/random.cpp
Labels: Build system

#18853 wallet: Fix typo in assert that is compile-time true
  src/test/script_standard_tests.cpp
  src/wallet/wallet.cpp
Labels: Wallet

#17874 build: make linker checks more robust
  configure.ac
Labels: Build system

#18873 test: Fix intermittent sync_blocks failures
  test/functional/feature_loadblock.py
  test/functional/feature_reindex.py
  test/functional/mempool_persist.py
  test/functional/test_framework/test_node.py
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_basic.py
Labels: Tests

#18535 build: remove -Qunused-arguments workaround for clang + ccache
  configure.ac
Labels: Build system

#18899 travis: Remove valgrind
  .travis.yml
Labels: Tests

#18743 depends: Add --sysroot option to mac os native compile flags
  depends/builders/darwin.mk
Labels: Build system

#18864 Add v0.16.3 backwards compatibility test, bump v0.19.0.1 to v0.19.1
  ci/test/00_setup_env_native_qt5.sh
  ci/test/05_before_script.sh
  test/functional/feature_backwards_compatibility.py
  test/functional/wallet_upgradewallet.py
Labels: Tests

#16224 gui: Bilingual GUI error messages
  doc/translation_strings_policy.md
  src/bitcoind.cpp
  src/httprpc.cpp
  src/httpserver.cpp
  src/index/base.cpp
  src/init.cpp
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/net.cpp
  src/net.h
  src/noui.cpp
  src/noui.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/timedata.cpp
  src/ui_interface.cpp
  src/ui_interface.h
  src/util/translation.h
  src/validation.cpp
  src/wallet/init.cpp
  src/wallet/load.cpp
Labels: Feature, GUI

#18917 fuzz: fix vector size problem in system fuzzer
  src/test/fuzz/system.cpp
Labels: Tests

#18866 test: Fix verack race to avoid intermittent test failures
  test/functional/test_framework/util.py
Labels: Tests

#18901 fuzz: use std::optional for sep_pos_opt variable
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  src/test/fuzz/asmap_direct.cpp
Labels: Tests

#18216 test, build: Enable -Werror=sign-compare
  configure.ac
  src/test/blockfilter_index_tests.cpp
  src/test/blockfilter_tests.cpp
  src/test/bloom_tests.cpp
  src/test/compress_tests.cpp
  src/test/descriptor_tests.cpp
  src/test/flatfile_tests.cpp
  src/test/netbase_tests.cpp
  src/test/random_tests.cpp
  src/test/streams_tests.cpp
  src/test/util_tests.cpp
  src/test/util_threadnames_tests.cpp
  src/test/validation_flush_tests.cpp
  src/util/asmap.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Build system, Tests

#18748 [0.20] rc2 Backports
  configure.ac
  contrib/gitian-descriptors/gitian-win-signer.yml
  contrib/macdeploy/README.md
  doc/dependencies.md
  src/bitcoin-cli.cpp
  src/crypto/sha256_shani.cpp
  src/init.cpp
  src/rpc/blockchain.cpp
Labels: Backport

#18939 doc: add c++17-enable flag to fuzzing instructions
  doc/fuzzing.md
Labels: Docs

#18914 refactor: Apply override specifier consistently
  src/interfaces/chain.cpp
  src/qt/addressbookpage.cpp
  src/qt/addressbookpage.h
  src/qt/addresstablemodel.h
  src/qt/askpassphrasedialog.h
  src/qt/bantablemodel.h
  src/qt/bitcoinaddressvalidator.h
  src/qt/bitcoinamountfield.cpp
  src/qt/bitcoinamountfield.h
  src/qt/bitcoingui.h
  src/qt/bitcoinunits.h
  src/qt/coincontroldialog.h
  src/qt/coincontroltreewidget.h
  src/qt/editaddressdialog.h
  src/qt/guiutil.h
  src/qt/modaloverlay.h
  src/qt/openuridialog.h
  src/qt/optionsdialog.h
  src/qt/optionsmodel.h
  src/qt/overviewpage.cpp
  src/qt/paymentserver.h
  src/qt/peertablemodel.h
  src/qt/qrimagewidget.h
  src/qt/qvalidatedlineedit.h
  src/qt/receivecoinsdialog.h
  src/qt/recentrequeststablemodel.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/sendcoinsdialog.h
  src/qt/signverifymessagedialog.h
  src/qt/splashscreen.h
  src/qt/trafficgraphwidget.h
  src/qt/transactionfilterproxy.h
  src/qt/transactiontablemodel.h
  src/qt/transactionview.h
  src/qt/utilitydialog.h
  src/script/descriptor.cpp
Labels: Refactoring

#18808 [net processing] Drop unknown types in getdata
  src/net_processing.cpp
  test/functional/p2p_getdata.py
  test/functional/test_runner.py
Labels: P2P

#18928 build: don't pass -w when building for Windows
  configure.ac
Labels: Build system, Needs gitian build, Windows

#18957 Add a link from ZMQ doc to ZMQ example in contrib/
  doc/zmq.md
Labels: Docs

#18931 net: use CMessageHeader::HEADER_SIZE, add missing include
  src/net.cpp
Labels: P2P

#18929 ci: Pass down LD_LIBRARY_PATH and MAKEJOBS to fuzz test_runner
  .cirrus.yml
  .travis.yml
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/06_script_b.sh
  test/fuzz/test_runner.py
Labels: Tests

#18877 Serve cfcheckpt requests
  src/init.cpp
  src/net_processing.cpp
  src/net_processing.h
  src/protocol.cpp
  src/protocol.h
  test/functional/p2p_blockfilters.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
  test/functional/test_runner.py
Labels: P2P

#18910 p2p: add MAX_FEELER_CONNECTIONS constant
  src/init.cpp
  src/net.h
  src/test/denialofservice_tests.cpp
Labels: P2P

#18945 build: Ensure source tarball has leading directory name (0.20)
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build system

#16710 build: Enable -Wsuggest-override if available
  configure.ac
  src/Makefile.leveldb.include
  src/qt/rpcconsole.cpp
  src/wallet/db.cpp
  src/wallet/db.h
Labels: GUI, Refactoring

#18578 gui: Fix leak in CoinControlDialog::updateView
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
Labels: GUI, Needs backport (0.20)

#18894 gui: Fix manual coin control with multiple wallets loaded
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
Labels: GUI, Needs backport (0.20)

#18814 rpc: Relock wallet only if most recent callback
  src/rpc/server.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.h
Labels: Needs backport (0.20), RPC/REST/ZMQ

#18738 build: Suppress -Wdeprecated-copy warnings
  configure.ac
Labels: Build system

#18878 test: Add test for conflicted wallet tx notifications
  test/functional/feature_notifications.py
Labels: Needs backport (0.20), Tests

#18862 Remove fdelt_chk back-compat code and sanity check
  build_msvc/bitcoin_config.h
  configure.ac
  src/Makefile.am
  src/compat/glibc_compat.cpp
  src/compat/glibc_sanity.cpp
  src/compat/glibc_sanity_fdelt.cpp
Labels: Build system

#18616 refactor: Cleanup clientversion.cpp
  share/genbuild.sh
  src/clientversion.cpp
Labels: Refactoring

#18922 gui: Do not translate InitWarning messages in debug.log
  src/init.cpp
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/qt/walletcontroller.cpp
  src/ui_interface.cpp
  src/ui_interface.h
  src/util/string.h
  src/util/translation.h
  src/wallet/load.cpp
  src/wallet/rpcwallet.cpp
Labels: GUI, Utils/log/libs, Wallet

#18888 test: Remove RPCOverloadWrapper boilerplate
  test/functional/test_framework/test_node.py
Labels: Tests

#18887 build: enable -Werror=gnu
  configure.ac
Labels: Build system

#18742 miner: Avoid stack-use-after-return in validationinterface
  src/rpc/mining.cpp
  src/test/validation_block_tests.cpp
  src/test/validationinterface_tests.cpp
  src/validationinterface.cpp
  src/validationinterface.h
Labels: Mining, Needs backport (0.20)

#18946 rpcwallet: Replace boost::optional<T>::emplace with simple assignment of T{}
  src/wallet/rpcwallet.cpp
Labels: Refactoring, Wallet

#18796 scripts: security-check.py refactors
  contrib/devtools/security-check.py
Labels: Scripts and tools

#18962 net processing: Only send a getheaders for one block in an INV
  src/net_processing.cpp
Labels: Needs backport (0.20), P2P

#18975 test: Remove const to work around compiler error on xenial
  src/test/validationinterface_tests.cpp
Labels: Needs backport (0.20), Tests

#18973 [0.20] Final backports for rc2
  src/Makefile.test.include
  src/net_processing.cpp
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/rpc/mining.cpp
  src/rpc/server.cpp
  src/test/fuzz/process_message.cpp
  src/test/validation_block_tests.cpp
  src/test/validationinterface_tests.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.h
  test/functional/feature_notifications.py
  test/functional/p2p_getdata.py
  test/functional/test_runner.py
Labels: Backport

#18781 Add templated GetRandDuration<>
  src/random.cpp
  src/random.h
  src/test/random_tests.cpp
Labels: Refactoring

#18634 ci: Add fuzzbuzz integration configuration file
  .fuzzbuzz.yml
Labels: Tests

#18952 test: avoid os-dependant path
  test/functional/test_framework/test_framework.py
Labels: Tests

#18938 tests: Fill fuzzing coverage gaps for functions in consensus/validation.h, primitives/block.h and util/translation.h
  src/test/fuzz/addrdb.cpp
  src/test/fuzz/asmap.cpp
  src/test/fuzz/asmap_direct.cpp
  src/test/fuzz/block.cpp
  src/test/fuzz/block_header.cpp
  src/test/fuzz/blockfilter.cpp
  src/test/fuzz/bloom_filter.cpp
  src/test/fuzz/chain.cpp
  src/test/fuzz/checkqueue.cpp
  src/test/fuzz/cuckoocache.cpp
  src/test/fuzz/fees.cpp
  src/test/fuzz/flatfile.cpp
  src/test/fuzz/golomb_rice.cpp
  src/test/fuzz/hex.cpp
  src/test/fuzz/merkleblock.cpp
  src/test/fuzz/message.cpp
  src/test/fuzz/net_permissions.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/pow.cpp
  src/test/fuzz/prevector.cpp
  src/test/fuzz/primitives_transaction.cpp
  src/test/fuzz/protocol.cpp
  src/test/fuzz/rbf.cpp
  src/test/fuzz/rolling_bloom_filter.cpp
  src/test/fuzz/script.cpp
  src/test/fuzz/string.cpp
  src/test/fuzz/strprintf.cpp
  src/test/fuzz/util.h
Labels: Tests

#18986 tests: Add capability to disable RPC timeout in functional tests
  test/README.md
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
Labels: Tests

#18861 Do not answer GETDATA for to-be-announced tx
  src/net_processing.cpp
Labels: P2P, Privacy

#18999 log: Remove "No rpcpassword set" from logs
  src/httprpc.cpp
Labels: RPC/REST/ZMQ, Utils/log/libs

#19008 ci: tsan on clang-9
  .travis.yml
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/04_install.sh
Labels: Tests

#18152 qt: Use SynchronizationState enum for signals to GUI
  src/init.cpp
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/ui_interface.cpp
  src/ui_interface.h
  src/validation.cpp
  src/validation.h
Labels: GUI

#17946 Fix GBT: Restore "!segwit" and "csv" to "rules" key
  src/rpc/mining.cpp
  test/functional/feature_segwit.py
Labels: Mining, Needs backport (0.19), RPC/REST/ZMQ

#18956 build: enforce minimum required Windows version (7)
  configure.ac
Labels: Build system, Windows

#18587 gui: Avoid wallet tryGetBalances calls in WalletModel::pollBalanceChanged
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/transactiontablemodel.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/qt/walletview.cpp
Labels: GUI, Wallet

#19006 rpc: Avoid crash when g_thread_http was never started
  src/httprpc.cpp
  src/httpserver.cpp
  test/functional/rpc_users.py
Labels: RPC/REST/ZMQ

#18996 net: Remove un-actionable TODO
  src/protocol.h
Labels: P2P, Refactoring

#18317 Serialization improvements step 6 (all except wallet/gui)
  src/bench/prevector.cpp
  src/blockencodings.h
  src/bloom.h
  src/flatfile.h
  src/index/blockfilterindex.cpp
  src/index/txindex.cpp
  src/merkleblock.cpp
  src/merkleblock.h
  src/netaddress.h
  src/node/utxo_snapshot.h
  src/policy/feerate.h
  src/primitives/block.h
  src/primitives/transaction.h
  src/protocol.h
  src/rest.cpp
  src/script/keyorigin.h
  src/script/script.h
  src/serialize.h
  src/test/blockencodings_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/serialize_tests.cpp
  src/txdb.cpp
Labels: Utils/log/libs

#18764 refactor: test: replace inv type magic numbers by constants
  test/functional/example_test.py
  test/functional/feature_maxuploadtarget.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_fingerprint.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_leak_tx.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_tx_download.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/test_framework/messages.py
Labels: Tests

#18958 guix: Make V=1 more powerful for debugging
  contrib/guix/README.md
  contrib/guix/libexec/build.sh
Labels: Build system

#18677 Multiprocess build support
  .gitignore
  .travis.yml
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_native_multiprocess.sh
  ci/test/06_script_b.sh
  configure.ac
  depends/Makefile
  depends/README.md
  depends/config.site.in
  depends/funcs.mk
  depends/hosts/android.mk
  depends/hosts/darwin.mk
  depends/hosts/linux.mk
  depends/hosts/mingw32.mk
  depends/packages/boost.mk
  depends/packages/capnp.mk
  depends/packages/libmultiprocess.mk
  depends/packages/native_capnp.mk
  depends/packages/native_libmultiprocess.mk
  depends/packages/packages.mk
  doc/multiprocess.md
  src/Makefile.am
  src/Makefile.qt.include
Labels: Build system, Needs Guix build

#18740 Remove g_rpc_node global
  src/Makefile.am
  src/Makefile.test.include
  src/bitcoind.cpp
  src/httprpc.cpp
  src/httprpc.h
  src/init.cpp
  src/init.h
  src/interfaces/node.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/request.h
  src/test/ref_tests.cpp
  src/test/rpc_tests.cpp
  src/test/util/setup_common.cpp
  src/util/check.h
  src/util/ref.h
  src/wallet/test/wallet_tests.cpp
Labels: RPC/REST/ZMQ, Refactoring

#18530 Add test for -blocksonly and -whitelistforcerelay param interaction
  src/net_processing.cpp
  test/functional/p2p_blocksonly.py
Labels: Tests

#18997 gui: Remove un-actionable TODO
  src/qt/bitcoingui.cpp
  src/qt/rpcconsole.cpp
  src/qt/walletmodel.cpp
Labels: GUI, Refactoring

#19023 test: Fix intermittent ETIMEDOUT on FreeBSD
  test/functional/test_framework/test_node.py
Labels: Tests

#19020 net: Use C++11 member initialization in protocol
  src/compat/assumptions.h
  src/protocol.cpp
  src/protocol.h
Labels: P2P, Refactoring

#18960 indexes: Add compact block filter headers cache
  src/index/blockfilterindex.cpp
  src/index/blockfilterindex.h
  src/net_processing.cpp
Labels: UTXO Db and Indexes

#16946 wallet: include a checksum of encrypted private keys
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/walletdb.cpp
Labels: Feature, Wallet

#18895 p2p: unbroadcast followups: rpcs, nLastResend, mempool sanity check
  src/net_processing.cpp
  src/rpc/blockchain.cpp
  src/txmempool.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/mempool_packages.py
  test/functional/mempool_unbroadcast.py
  test/functional/test_framework/mininode.py
Labels: P2P

#17681 wallet: Keep inactive seeds after sethdseed and derive keys from them as needed
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/wallet_hd.py
Labels: Review club, Wallet

#18787 wallet: descriptor wallet release notes and cleanups
  doc/release-notes-16528.md
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
Labels: Wallet

#19014 test: Replace TEST_PREVIOUS_RELEASES env var with test_framework option
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_native_qt5.sh
  ci/test/04_install.sh
  test/functional/test_framework/test_framework.py
Labels: Tests

#19052 tests: Don't limit fuzzing inputs to 1 MB for afl-fuzz (now: ∞ ∀ fuzzers)
  src/test/fuzz/fuzz.cpp
Labels: Tests

#19058 doc: Drop protobuf stuff
  doc/productivity.md
Labels: Docs

#18698 Make g_chainman internal to validation
  src/init.cpp
  src/net_processing.cpp
  src/net_processing.h
  src/node/context.h
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/rpc/mining.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/process_message.cpp
  src/test/miner_tests.cpp
  src/test/util/mining.cpp
  src/test/util/setup_common.cpp
  src/test/validation_block_tests.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring

#18594 cli: display multiwallet balances in -getinfo
  src/bitcoin-cli.cpp
  src/rpc/request.cpp
  src/rpc/request.h
  test/functional/interface_bitcoin_cli.py
Labels: Tests, Utils/log/libs

#19059 gui: update Qt base translations for macOS release
  Makefile.am
  depends/packages/qt.mk
Labels: GUI, Needs backport (0.20), macOS

#19010 net processing: Add support for getcfheaders
  src/index/blockfilterindex.h
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  test/functional/p2p_blockfilters.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
Labels: P2P

#18867 tests: Add fuzzing harness for CCoinsViewCache
  src/Makefile.test.include
  src/test/fuzz/coins_view.cpp
  src/test/fuzz/util.h
Labels: Tests

#19056 rpc: Make gettxoutsetinfo/GetUTXOStats interruptible
  src/node/coinstats.cpp
  src/node/coinstats.h
  src/rpc/blockchain.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Labels: RPC/REST/ZMQ

#18881 Prevent UB in DeleteLock() function
  src/logging.cpp
  src/sync.cpp
Labels: Refactoring

#19032 Serialization improvements: final step
  src/qt/recentrequeststablemodel.h
  src/qt/sendcoinsrecipient.h
  src/serialize.h
  src/test/fuzz/string.cpp
  src/wallet/crypter.h
  src/wallet/scriptpubkeyman.h
  src/wallet/walletdb.h
  src/wallet/walletutil.h
Labels: Refactoring

#19060 test: Remove global wait_until from p2p_getdata
  test/functional/p2p_getdata.py
  test/functional/test_framework/mininode.py
Labels: Tests

#18918 wallet: Move salvagewallet into wallettool
  doc/release-notes-18918.md
  src/Makefile.am
  src/bitcoin-wallet.cpp
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/init.cpp
  src/wallet/load.cpp
  src/wallet/load.h
  src/wallet/salvage.cpp
  src/wallet/salvage.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/wallet/wallettool.cpp
  test/functional/tool_wallet.py
  test/functional/wallet_basic.py
  test/functional/wallet_multiwallet.py
Labels: Wallet

#19061 doc: Add link to Visual Studio build readme
  doc/build-windows.md
Labels: Docs

#19004 refactor: Replace const char* to std::string
  src/bitcoin-cli.cpp
  src/core_read.cpp
  src/script/script.cpp
  src/script/script.h
  src/script/script_error.cpp
  src/script/script_error.h
  src/script/standard.cpp
  src/script/standard.h
  src/test/script_tests.cpp
Labels: Consensus, Refactoring

#16127 More thread safety annotation coverage
  src/logging.cpp
  src/logging.h
  src/net.cpp
  src/net.h
  src/rpc/blockchain.cpp
  src/test/checkqueue_tests.cpp
  src/threadsafety.h
  src/util/system.cpp
  src/wallet/wallet.h
Labels: Refactoring, Utils/log/libs

#18635 Replace -Wthread-safety-analysis with broader -Wthread-safety
  configure.ac
  src/blockencodings.cpp
  src/blockencodings.h
  src/logging.cpp
  src/logging.h
  src/sync.cpp
  src/sync.h
  src/threadsafety.h
  src/wallet/rpcdump.cpp
Labels: Build system, RPC/REST/ZMQ, Wallet

#18700 Fix locking on WSL using flock instead of fcntl
  src/fs.cpp
Labels: Utils/log/libs, Windows

#19094 build: Only allow ASCII identifiers
  configure.ac
Labels: Build system

#19097 qt: Add missing QPainterPath include
  src/qt/trafficgraphwidget.cpp
Labels: GUI

#16432 qt: Add privacy to the Overview page
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/bitcoinunits.cpp
  src/qt/bitcoinunits.h
  src/qt/forms/overviewpage.ui
  src/qt/overviewpage.cpp
  src/qt/overviewpage.h
  src/qt/test/wallettests.cpp
  src/qt/walletframe.cpp
  src/qt/walletview.cpp
  src/qt/walletview.h
Labels: Feature, GUI

#17597 qt: Fix height of QR-less ReceiveRequestDialog
  src/qt/forms/receiverequestdialog.ui
  src/qt/receiverequestdialog.cpp
  src/qt/receiverequestdialog.h
  src/qt/test/wallettests.cpp
Labels: GUI

#17908 qt: Remove QFont warnings with QT_QPA_PLATFORM=minimal
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/rpcconsole.cpp
  src/qt/transactionview.cpp
Labels: GUI

#17918 qt: Hide non PKHash-Addresses in signing address book
  src/qt/addressbookpage.cpp
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/signverifymessagedialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: GUI

#17956 gui: Disable unavailable context menu items in transactions tab
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
Labels: Bug, GUI

#17968 qt: Ensure that ModalOverlay is resized properly
  src/qt/modaloverlay.cpp
  src/qt/modaloverlay.h
Labels: GUI

#17993 gui: Balance/TxStatus polling update based on last block hash.
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: GUI

#18165 Consolidate service flag bit-to-name conversion to a shared serviceFlagToStr function
  src/protocol.cpp
  src/protocol.h
  src/qt/guiutil.cpp
  src/rpc/util.cpp
Labels: GUI, P2P, RPC/REST/ZMQ

#18424 qt: Use parent-child relation to manage lifetime of OptionsModel object
  src/qt/bitcoin.cpp
Labels: GUI

#16939 p2p: Delay querying DNS seeds
  src/net.cpp
Labels: Bug, P2P

#14988 wallet: Fix for confirmed column in csv export for payment to self transactions
  src/qt/transactiontablemodel.cpp
Labels: GUI

#18452 qt: Fix shutdown when waitfor* cmds are called from RPC console
  src/interfaces/node.cpp
  src/rpc/server.cpp
Labels: GUI, RPC/REST/ZMQ

#19022 test: Fix intermittent failure in feature_dbcrash
  test/functional/feature_dbcrash.py
Labels: Tests

#19106 util: simplify the interface of serviceFlagToStr()
  src/protocol.cpp
  src/protocol.h
  src/qt/guiutil.cpp
  src/rpc/util.cpp
Labels: Utils/log/libs

#18926 test: Pass ArgsManager into getarg_tests
  src/test/getarg_tests.cpp
Labels: Tests

#18820 build: Propagate well-known vars into depends
  depends/Makefile
  depends/hosts/default.mk
  depends/packages/boost.mk
Labels: Build system, Needs Guix build, Needs gitian build

#19110 test: Explain that a bug should be filed when the tests fail
  test/config.ini.in
  test/functional/test_framework/test_framework.py
Labels: Build system, Tests

#18807 [doc / test / mempool] unbroadcast follow-ups
  doc/release-notes.md
  src/net_processing.cpp
  src/rpc/blockchain.cpp
  src/txmempool.h
  src/validation.cpp
  test/functional/mempool_persist.py
  test/functional/mempool_unbroadcast.py
  test/functional/test_framework/mininode.py
  test/functional/wallet_resendwallettransactions.py
Labels: P2P

#18965 tests: implement base58_decode
  test/functional/test_framework/address.py
  test/functional/test_runner.py
Labels: Tests

#16564 test: Always define the raii_event_tests test suite
  src/test/raii_event_tests.cpp
Labels: Tests

#19044 net processing: Add support for getcfilters
  src/blockfilter.h
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  test/functional/p2p_blockfilters.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
Labels: P2P

#18994 tests: Add fuzzing harnesses for functions in script/
  src/Makefile.test.include
  src/test/fuzz/script.cpp
  src/test/fuzz/script_bitcoin_consensus.cpp
  src/test/fuzz/script_descriptor_cache.cpp
  src/test/fuzz/script_interpreter.cpp
  src/test/fuzz/script_sigcache.cpp
  src/test/fuzz/script_sign.cpp
  src/test/fuzz/string.cpp
  src/test/fuzz/util.h
Labels: Tests
