Repository bitcoin/bitcoin, pull requests merged in 2021-08, with the labels that each got.

#22429 test: refactor: fix segwit terminology (s/witness_program/witness_script/)
  test/functional/p2p_segwit.py
  test/functional/test_framework/blocktools.py
Labels: Tests

#22589 net, doc: update I2P hardcoded seeds and docs for 22.0
  contrib/seeds/nodes_main.txt
  doc/i2p.md
  src/chainparamsseeds.h
Labels: Scripts and tools, Validation

#22593 test: refactor: remove `hex_str_to_bytes` helper
  test/functional/feature_dbcrash.py
  test/functional/feature_segwit.py
  test/functional/interface_rest.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_segwit.py
  test/functional/rpc_addresses_deprecation.py
  test/functional/rpc_decodescript.py
  test/functional/rpc_signrawtransaction.py
  test/functional/test_framework/address.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/script_util.py
  test/functional/test_framework/util.py
  test/functional/test_framework/wallet.py
  test/functional/test_framework/wallet_util.py
Labels: Tests

#21940 refactor: Mark CAddrMan::Select and GetAddr const
  src/addrman.cpp
  src/addrman.h
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
  src/test/net_tests.cpp
Labels: Refactoring

#22570 Ignore banlist.dat
  doc/files.md
  src/addrdb.cpp
  src/addrdb.h
  src/banman.cpp
  src/banman.h
  src/netaddress.h
  src/test/fuzz/banman.cpp
  src/test/fuzz/deserialize.cpp
Labels: P2P

#22001 doc: Generate doxygen documentation for test sources
  doc/Doxyfile.in
Labels: Docs

#22534 [22.x] rc2 backports
  contrib/guix/INSTALL.md
  contrib/guix/README.md
  contrib/guix/guix-attest
  contrib/guix/guix-build
  contrib/guix/guix-codesign
  contrib/guix/guix-verify
  contrib/guix/libexec/build.sh
  contrib/seeds/nodes_main.txt
  doc/build-openbsd.md
  doc/i2p.md
  doc/release-process.md
  src/chainparamsseeds.h
Labels: Backport

#22378 test: remove confusing `MAX_BLOCK_BASE_SIZE`
  test/functional/feature_block.py
  test/functional/feature_segwit.py
  test/functional/mempool_accept.py
  test/functional/mining_prioritisetransaction.py
  test/functional/p2p_segwit.py
  test/functional/test_framework/messages.py
Labels: Tests

#21528 [p2p] Reduce addr blackholes
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/net.cpp
  test/functional/p2p_addr_relay.py
  test/functional/test_framework/p2p.py
Labels: P2P

#22098 [test, init] DNS seed querying logic
  src/chainparams.cpp
  src/init.cpp
  src/net.h
  test/functional/feature_config_args.py
  test/functional/p2p_dns_seeds.py
  test/functional/test_runner.py
Labels: P2P, Tests

#22448 Update libsecp256k1 subtree to latest upstream
  src/key.cpp
  src/pubkey.cpp
  src/secp256k1/.cirrus.yml
  src/secp256k1/.gitignore
  src/secp256k1/Makefile.am
  src/secp256k1/README.md
  src/secp256k1/build-aux/m4/bitcoin_secp.m4
  src/secp256k1/ci/cirrus.sh
  src/secp256k1/ci/linux-debian.Dockerfile
  src/secp256k1/configure.ac
  src/secp256k1/contrib/lax_der_parsing.c
  src/secp256k1/contrib/lax_der_parsing.h
  src/secp256k1/contrib/lax_der_privatekey_parsing.c
  src/secp256k1/contrib/lax_der_privatekey_parsing.h
  src/secp256k1/include/secp256k1.h
  src/secp256k1/include/secp256k1_extrakeys.h
  src/secp256k1/include/secp256k1_schnorrsig.h
  src/secp256k1/obj/.gitignore
  src/secp256k1/src/bench_ecdh.c
  src/secp256k1/src/bench_ecmult.c
  src/secp256k1/src/bench_internal.c
  src/secp256k1/src/bench_recover.c
  src/secp256k1/src/bench_schnorrsig.c
  src/secp256k1/src/bench_sign.c
  src/secp256k1/src/bench_verify.c
  src/secp256k1/src/ecdsa_impl.h
  src/secp256k1/src/ecmult.h
  src/secp256k1/src/ecmult_gen.h
  src/secp256k1/src/gen_context.c
  src/secp256k1/src/group_impl.h
  src/secp256k1/src/modules/ecdh/main_impl.h
  src/secp256k1/src/modules/extrakeys/main_impl.h
  src/secp256k1/src/modules/extrakeys/tests_exhaustive_impl.h
  src/secp256k1/src/modules/extrakeys/tests_impl.h
  src/secp256k1/src/modules/recovery/main_impl.h
  src/secp256k1/src/modules/recovery/tests_exhaustive_impl.h
  src/secp256k1/src/modules/schnorrsig/main_impl.h
  src/secp256k1/src/modules/schnorrsig/tests_exhaustive_impl.h
  src/secp256k1/src/modules/schnorrsig/tests_impl.h
  src/secp256k1/src/secp256k1.c
  src/secp256k1/src/testrand_impl.h
  src/secp256k1/src/tests.c
  src/secp256k1/src/tests_exhaustive.c
  src/secp256k1/src/valgrind_ctime_test.c
Labels: Upstream, Utils/log/libs

#22496 addrman: Remove addrman hotfixes
  src/addrman.cpp
  src/addrman.h
Labels: P2P

#16333 test: Set BIP34Height = 2 for regtest
  src/chainparams.cpp
  src/test/validation_block_tests.cpp
  test/functional/feature_block.py
  test/functional/rpc_blockchain.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/messages.py
Labels: Tests

#22532 test : improve mempool_accept_wtxid.py
  test/functional/mempool_accept_wtxid.py
Labels: Tests

#22576 doc: Update high-level addrman description
  src/addrman.h
Labels: Docs

#22577 Close minor startup race between main and scheduler threads
  src/init.cpp
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
  src/test/util/setup_common.cpp
Labels: Needs rebase, P2P

#22603 doc: Add release notes for 22570 (ignore banlist.dat)
  doc/release-notes.md
Labels: Docs

#22616 p2p, rpc: address relay fixups
  src/net_processing.cpp
  src/rpc/net.cpp
Labels: Needs rebase, P2P, RPC/REST/ZMQ

#22621 make ParseOutputType return a std::optional<OutputType>
  src/outputtype.cpp
  src/outputtype.h
  src/rpc/misc.cpp
  src/test/fuzz/kitchen_sink.cpp
  src/test/fuzz/string.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: RPC/REST/ZMQ, Wallet

#22618 [p2p] Small follow-ups to 21528
  doc/release-notes.md
  src/net_processing.cpp
  src/wallet/test/spend_tests.cpp
  test/functional/p2p_addr_relay.py
Labels: P2P

#22277 test: Properly set BIP34 height in CreateNewBlock_validity unit test
  src/test/miner_tests.cpp
Labels: Tests

#22630 test: Add missing include
  src/test/miner_tests.cpp
Labels: Tests

#21129 fuzz: check that ser+unser produces the same AddrMan
  src/addrman.h
  src/test/fuzz/addrman.cpp
Labels: Tests

#22569 [0.21] Rate limit the processing of rumoured addresses
  src/net_permissions.h
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/misc.cpp
  src/rpc/net.cpp
  test/functional/p2p_addr_relay.py
  test/functional/p2p_addrv2_relay.py
  test/functional/p2p_invalid_messages.py
Labels: Backport

#22657 fuzz: Re-enable assert in banman again
  src/test/fuzz/banman.cpp
Labels: Tests

#21500 wallet, rpc: add an option to list private descriptors
  src/rpc/client.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  test/functional/wallet_listdescriptors.py
Labels: Wallet

#22359 wallet: Do not set fInMempool in transactionAddedToMempool when tx is not in the mempool
  src/wallet/wallet.cpp
Labels: Wallet

#22337 wallet: Use bilingual_str for errors
  src/rpc/rawtransaction_util.cpp
  src/rpc/rawtransaction_util.h
  src/script/sign.cpp
  src/script/sign.h
  src/test/fuzz/script_sign.cpp
  src/test/util/setup_common.cpp
  src/test/util/wallet.cpp
  src/util/translation.h
  src/wallet/interfaces.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet, RPC/REST/ZMQ, Utils/log/libs

#21800 mempool/validation: mempool ancestor/descendant limits for packages
  src/rpc/rawtransaction.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  test/functional/mempool_package_limits.py
  test/functional/rpc_packages.py
  test/functional/test_framework/wallet.py
  test/functional/test_runner.py
Labels: Tests, Validation, Mempool, Review club

#22643 guix-verify: Non-zero exit code when anything fails
  contrib/guix/guix-verify
Labels: Scripts and tools, Needs backport (22.x)

#22642 release: Release with separate SHA256SUMS and sig files
  contrib/guix/guix-attest
  doc/release-process.md
Labels: Scripts and tools, Needs backport (22.x)

#22547 cli: Add progress bar for -getinfo
  src/bitcoin-cli.cpp
Labels: RPC/REST/ZMQ

#22632 test: Set regtest.BIP66Height = 102 to speed up tests
  doc/release-notes.md
  src/chainparams.cpp
  test/functional/feature_dersig.py
  test/functional/rpc_blockchain.py
  test/functional/test_framework/blocktools.py
Labels: Tests

#22653 refactor: Rename JoinErrors and re-use it
  src/qt/bitcoin.cpp
  src/rpc/blockchain.cpp
  src/util/string.h
  src/util/system.cpp
Labels: Refactoring

#22604 p2p, rpc, test: address rate-limiting follow-ups
  src/net_processing.cpp
  src/rpc/net.cpp
  test/functional/p2p_addr_relay.py
Labels: RPC/REST/ZMQ, P2P

#22696 p2p: log addrman consistency checks
  src/addrman.cpp
Labels: P2P

#22692 builder-keys: add jamesob
  contrib/builder-keys/keys.txt
Labels: Scripts and tools

#22541 Add a new RPC command: restorewallet
  src/rpc/client.cpp
  src/wallet/rpcwallet.cpp
  test/functional/wallet_backup.py
Labels: Wallet, RPC/REST/ZMQ

#22700 builder-keys: Add dongcarl
  contrib/builder-keys/keys.txt
Labels: Scripts and tools

#22686 wallet: Use GetSelectionAmount in ApproximateBestSubset
  src/wallet/coinselection.cpp
  src/wallet/spend.cpp
  test/functional/rpc_fundrawtransaction.py
Labels: Wallet, Needs backport (22.x)

#22685 clientversion: No suffix #if CLIENT_VERSION_IS_RELEASE
  src/clientversion.cpp
Labels: Needs backport (22.x)

#22649 fuzz: Avoid OOM in system fuzz target
  src/test/fuzz/fuzz.h
  src/test/fuzz/system.cpp
Labels: Tests

#22718 doc: Add missing PR 16333 release note
  doc/release-notes.md
Labels: Docs

#22715 wallet: use `FormatFullVersion()` & `PACKAGE_NAME` in dumpwallet
  src/clientversion.cpp
  src/clientversion.h
  src/wallet/rpcdump.cpp
Labels: Wallet

#22721 doc: add inital PR and author list to 0.21.2 release notes
  doc/release-notes.md
Labels: Docs

#22215 refactor: Add FoundBlock.found member
  src/interfaces/chain.h
  src/node/interfaces.cpp
Labels: Refactoring, interfaces

#22725 MOVEONLY: tests: Move addrman ser/deser tests to addrman_tests.cpp
  src/test/addrman_tests.cpp
  src/test/net_tests.cpp
Labels: Tests

#22523 Document about wallet backup and restoration
  doc/managing-wallets.md
Labels: Docs, Wallet

#22732 net: use m_client_interface rather than uiInterface
  src/net.cpp
  src/net.h
Labels: P2P

#22645 scripts: prevent GCC optimising test symbols in test-symbol-check
  contrib/devtools/test-symbol-check.py
Labels: Tests, Scripts and tools

#22229 test: consolidate to f-strings (part 1)
  test/functional/feature_asmap.py
  test/functional/feature_backwards_compatibility.py
  test/functional/feature_blocksdir.py
  test/functional/feature_cltv.py
  test/functional/feature_config_args.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dbcrash.py
  test/functional/feature_dersig.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_filelock.py
  test/functional/feature_help.py
  test/functional/feature_loadblock.py
  test/functional/feature_logging.py
  test/functional/feature_minchainwork.py
  test/functional/feature_notifications.py
  test/functional/feature_proxy.py
  test/functional/feature_pruning.py
  test/functional/feature_segwit.py
  test/functional/feature_settings.py
  test/functional/feature_versionbits_warning.py
  test/functional/interface_bitcoin_cli.py
  test/functional/interface_http.py
  test/functional/interface_rest.py
  test/functional/interface_rpc.py
  test/functional/interface_zmq.py
  test/functional/mining_basic.py
Labels: Tests

#22724 windres: use PACKAGE_VERSION rather than building more version numbers
  src/bitcoin-cli-res.rc
  src/bitcoin-tx-res.rc
  src/bitcoin-util-res.rc
  src/bitcoin-wallet-res.rc
  src/bitcoind-res.rc
Labels: Windows, Build system, DrahtBot Guix build requested

#22331 crypto: Fix K1/K2 use in ChaCha20-Poly1305 AEAD
  src/crypto/chacha_poly_aead.cpp
  src/test/crypto_tests.cpp
Labels: Utils/log/libs

#19101 refactor: remove ::vpwallets and related global variables
  src/interfaces/wallet.h
  src/qt/test/addressbooktests.cpp
  src/qt/test/wallettests.cpp
  src/wallet/context.h
  src/wallet/interfaces.cpp
  src/wallet/load.cpp
  src/wallet/load.h
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Refactoring, Wallet

#22739 doc: link to managing-wallets from docs README
  doc/README.md
Labels: Docs

#22710 ci: Invalidate depends caches when sources have been changed
  .cirrus.yml
Labels: Tests

#22742 test: Use proper target in do_fund_send
  test/functional/rpc_fundrawtransaction.py
Labels: Tests

#22568 test: add addr-fetch peer connection state and timeout coverage
  test/functional/p2p_addrfetch.py
Labels: Tests

#22746 doc: Update GitHub documentation links
  CONTRIBUTING.md
Labels: Docs

#22750 ci: Followups for #22710
  .cirrus.yml
Labels: Tests

#22697 addrman: Remove CAddrMan::Clear() function
  src/addrdb.cpp
  src/addrman.cpp
  src/addrman.h
  src/bench/addrman.cpp
  src/init.cpp
  src/net.cpp
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
Labels: P2P

#22654 guix: Don't include directory name in SHA256SUMS
  contrib/guix/guix-attest
  doc/release-process.md
Labels: Scripts and tools, Needs backport (22.x)

#22730 ci: Run fuzzer task for the master branch only
  .cirrus.yml
Labels: Tests

#22749 ci: Run arm task on arm64 hardware
  .cirrus.yml
Labels: Tests

#22707 test: refactor use of getrawmempool in functional tests for efficiency
  test/functional/mempool_accept_wtxid.py
  test/functional/mempool_compatibility.py
  test/functional/mempool_package_limits.py
  test/functional/mempool_package_onemore.py
  test/functional/mempool_packages.py
  test/functional/mempool_unbroadcast.py
  test/functional/mempool_updatefromblock.py
  test/functional/rpc_fundrawtransaction.py
Labels: Tests

#22633 refactor: Replace remaining binascii method calls
  contrib/linearize/linearize-data.py
  contrib/signet/miner
  contrib/zmq/zmq_sub.py
  share/rpcauth/rpcauth.py
  src/test/serfloat_tests.cpp
  test/functional/test_framework/messages.py
  test/util/bitcoin-util-test.py
Labels: Refactoring, Scripts and tools

#22217 refactor: Avoid wallet code writing node settings file
  src/interfaces/chain.h
  src/node/interfaces.cpp
  src/util/system.h
  src/wallet/load.cpp
Labels: Refactoring, Wallet, Utils/log/libs, interfaces

#22748 refactor: Avoid temporary vectors/uint256s in VerifyTaprootCommitment
  src/script/interpreter.cpp
Labels: Refactoring, Consensus

#22275 A few follow-ups for taproot signing
  src/key.h
  src/script/interpreter.h
  src/script/sign.cpp
  src/script/sign.h
  src/script/standard.cpp
  src/script/standard.h
  src/test/script_tests.cpp
  src/test/transaction_tests.cpp
Labels: Consensus

#20769 net: fixes #20657 - Advertised address where nobody is listening
  src/init.cpp
Labels: P2P

#22641 test: Split rpc_signmessage test for disabled wallet
  test/functional/rpc_signmessagewithprivkey.py
  test/functional/test_runner.py
  test/functional/wallet_signmessagewithaddress.py
Labels: Tests

#22622 util: Check if specified config file cannot be opened
  src/util/system.cpp
  test/functional/feature_config_args.py
Labels: Utils/log/libs

#20541 Move special CAddress-without-nTime logic to net_processing
  src/net_processing.cpp
  src/protocol.h
Labels: Refactoring, P2P

#22565 [script] signet's getcoins.py improvements
  contrib/signet/getcoins.py
Labels: Scripts and tools

#22769 fuzz: Use LIMITED_WHILE instead of limit_max_ops
  src/test/fuzz/banman.cpp
  src/test/fuzz/crypto.cpp
  src/test/fuzz/fuzz.h
  src/test/fuzz/prevector.cpp
  src/test/fuzz/rolling_bloom_filter.cpp
  src/test/fuzz/tx_pool.cpp
Labels: Refactoring, Tests

#22220 util: make ParseMoney return a std::optional<CAmount>
  src/bitcoin-tx.cpp
  src/init.cpp
  src/miner.cpp
  src/test/fuzz/integer.cpp
  src/test/fuzz/parse_numbers.cpp
  src/test/util_tests.cpp
  src/util/moneystr.cpp
  src/util/moneystr.h
  src/wallet/wallet.cpp
Labels: Utils/log/libs

#22772 refactor: hasher cleanup (follow-up to 19935)
  src/util/hasher.h
  src/wallet/scriptpubkeyman.h
Labels: Refactoring

#22741 test: Add generate* calls to test framework
  test/functional/feature_dbcrash.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_rbf.py
  test/functional/interface_zmq.py
  test/functional/mempool_limit.py
  test/functional/mempool_unbroadcast.py
  test/functional/mining_getblocktemplate_longpoll.py
  test/functional/mining_prioritisetransaction.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/rpc_signrawtransaction.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_importdescriptors.py
Labels: Tests

#22781 wallet: fix the behavior of IsHDEnabled, return false in case of a blank hd wallet.
  src/wallet/wallet.cpp
Labels: Wallet

#22808 [0.21] 0.21.2rc2 backports
  .cirrus.yml
  src/fs.cpp
  src/wallet/test/db_tests.cpp
  src/wallet/test/init_test_fixture.cpp
Labels: Backport

#22820 build, qt: Fix typo in QtInputSupport check
  build-aux/m4/bitcoin_qt.m4
Labels: Build system, DrahtBot Guix build requested

#22824 refactor: remove RecursiveMutex cs_nBlockSequenceId
  src/validation.cpp
  src/validation.h
Labels: Validation

#22744 ci: Re-enable verify-commits.py check
  .cirrus.yml
  ci/lint/06_script.sh
Labels: Tests

#22842 builder-keys: add kristapsk
  contrib/builder-keys/keys.txt
Labels: Scripts and tools

#22796 RBF move (1/3): extract BIP125 Rule 5 into policy/rbf
  src/policy/rbf.cpp
  src/policy/rbf.h
  src/util/rbf.h
  src/validation.cpp
  test/lint/lint-circular-dependencies.sh
Labels: Refactoring, TX fees and policy, Validation
