Repository bitcoin/bitcoin, pull requests merged in 2021-10, with the labels that each got.

#23142 Return false on corrupt tx rather than asserting
  src/wallet/walletdb.cpp
Labels: Wallet

#22585 fuzz: add guide to fuzzing with Eclipser v1.x
  doc/fuzzing.md
Labels: Docs

#23136 test: update fee rate assertion helper in the functional test framework
  test/functional/test_framework/util.py
Labels: Tests

#23151 doc: Combine 23.0 release notes
  doc/release-notes-12677.md
  doc/release-notes-23065.md
  doc/release-notes-remove-rescan.md
  doc/release-notes.md
Labels: Docs

#17211 Allow fundrawtransaction and walletcreatefundedpsbt to take external inputs
  src/wallet/coincontrol.h
  src/wallet/coinselection.h
  src/wallet/rpcwallet.cpp
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/wallet_send.py
Labels: Wallet, RPC/REST/ZMQ

#23052 test: use miniwallet in test_rpc function in feature_rbf.py
  test/functional/feature_rbf.py
Labels: Tests

#20452 util: Replace use of locale dependent atoi(…) with locale-independent std::from_chars(…) (C++17)
  src/core_read.cpp
  src/node/blockstorage.cpp
  src/qt/rpcconsole.cpp
  src/rpc/mining.cpp
  src/test/fuzz/locale.cpp
  src/test/fuzz/parse_numbers.cpp
  src/test/fuzz/string.cpp
  src/test/util_tests.cpp
  src/torcontrol.cpp
  src/util/moneystr.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/util/system.cpp
  src/wallet/transaction.h
  test/lint/lint-locale-dependence.sh
Labels: Utils/log/libs

#20487 Add syscall sandboxing using seccomp-bpf (Linux secure computing mode)
  ci/test/00_setup_env_i686_multiprocess.sh
  configure.ac
  src/Makefile.am
  src/bitcoind.cpp
  src/checkqueue.h
  src/httpserver.cpp
  src/index/base.cpp
  src/init.cpp
  src/logging.cpp
  src/logging.h
  src/mapport.cpp
  src/net.cpp
  src/node/blockstorage.cpp
  src/rpc/misc.cpp
  src/scheduler.cpp
  src/torcontrol.cpp
  src/util/syscall_sandbox.cpp
  src/util/syscall_sandbox.h
  test/config.ini.in
  test/functional/feature_notifications.py
  test/functional/feature_syscall_sandbox.py
  test/functional/feature_versionbits_warning.py
  test/functional/rpc_misc.py
  test/functional/rpc_signer.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/wallet_signer.py
Labels: Build system, Utils/log/libs

#23182 build: add python3.10 alias to AC_PATH_PROGS call in configure
  configure.ac
Labels: Build system

#23179 sandbox: add `newfstatat` & `copy_file_range` to allowed filesystem syscalls
  src/util/syscall_sandbox.cpp
Labels: Utils/log/libs

#22950 [p2p] Pimpl AddrMan to abstract implementation details
  src/Makefile.am
  src/addrdb.cpp
  src/addrdb.h
  src/addrman.cpp
  src/addrman.h
  src/addrman_impl.h
  src/bench/addrman.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/netaddress.cpp
  src/netaddress.h
  src/node/context.h
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/deserialize.cpp
  src/test/util/setup_common.cpp
  test/functional/feature_addrman.py
Labels: P2P

#23178 util: Fix GUIX build with syscall sandbox
  src/util/syscall_sandbox.cpp
Labels: Build system, Utils/log/libs, DrahtBot Guix build requested

#23162 contrib: Ask for captcha in signet getcoins.py
  contrib/signet/getcoins.py
Labels: Utils/log/libs

#23385 refactor: get wallet path relative to wallet_dir
  src/wallet/db.cpp
Labels: Refactoring, Wallet
