Repository bitcoin/bitcoin, pull requests merged in 2021-01, with the labels that each got.

#20210 net: assert CNode::m_inbound_onion is inbound in ctor, add getter, unit tests
  src/net.cpp
  src/net.h
  src/test/fuzz/util.h
  src/test/net_tests.cpp
Labels: P2P

#20649 refactor: Remove nMyStartingHeight from CNode/Connman
  src/init.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/util.h
  src/test/net_tests.cpp
Labels: P2P, Refactoring

#20669 [0.21] final rc4 backports
  .appveyor.yml
  build_msvc/bitcoin-qt/bitcoin-qt.vcxproj
  build_msvc/common.init.vcxproj
  build_msvc/common.vcxproj
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
  depends/packages/native_cctools.mk
  depends/patches/native_cctools/segalign.patch
  doc/JSON-RPC-interface.md
  doc/REST-interface.md
  doc/tor.md
  src/chainparams.cpp
  src/init.cpp
  src/net.cpp
  src/qt/forms/createwalletdialog.ui
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
Labels: Backport

#20830 doc: update developer notes with signet
  doc/developer-notes.md
Labels: Docs

#20781 fuzz: remove no-longer-necessary packages from fuzzbuzz config
  .fuzzbuzz.yml
Labels: Tests

#20765 fuzz: check that certain script TxoutType are nonstandard
  src/test/fuzz/script.cpp
Labels: Tests

#20760 test: Set correct nValue for multi-op-return policy check
  src/test/transaction_tests.cpp
Labels: Tests

#20817 lint: update list of spelling linter false positives, bump to codespell 2.0.0
  ci/lint/04_install.sh
  test/README.md
  test/lint/lint-spelling.ignore-words.txt
  test/lint/lint-spelling.sh
Labels: Tests

#20736 rpc: Replace boost::variant with std::variant for RPCArg.m_fallback
  src/rpc/util.cpp
  src/rpc/util.h
  test/sanitizer_suppressions/ubsan
Labels: RPC/REST/ZMQ, Refactoring

#20848 Add gitian PGP key for theStack
  contrib/gitian-keys/keys.txt
Labels: Build system, Scripts and tools

#20846 Add benthecarman to keys.txt
  contrib/gitian-keys/keys.txt
Labels: Build system, Scripts and tools

#20847 gitian-keys: add darosior's key
  contrib/gitian-keys/keys.txt
Labels: Build system, Scripts and tools

#20855 Revert "Add patch to make codesign_allocate compatible with Apple's"
  depends/packages/native_cctools.mk
  depends/patches/native_cctools/segalign.patch
Labels: Build system, Needs backport (0.21)

#20854 [mempool] Remove unnecessary try-block
  src/validation.cpp
Labels: Mempool

#20842 docs: consolidate typo & url fixing
  depends/packages/qt.mk
  depends/patches/fontconfig/gperf_header_regen.patch
  depends/patches/native_cctools/ld64_disable_threading.patch
  depends/patches/qt/freetype_back_compat.patch
  doc/developer-notes.md
  src/bench/verify_script.cpp
  src/core_io.h
  src/core_read.cpp
  src/crypto/chacha_poly_aead.h
  src/crypto/sha256_sse4.cpp
  src/cuckoocache.h
  src/hash.cpp
  src/key.cpp
  src/merkleblock.cpp
  src/net_processing.h
  src/netaddress.h
  src/qt/bitcoin.cpp
  src/qt/guiutil.cpp
  src/qt/notificator.cpp
  src/qt/test/rpcnestedtests.cpp
  src/qt/walletcontroller.cpp
  src/support/lockedpool.cpp
  src/test/validation_tests.cpp
  src/util/strencodings.h
  src/wallet/sqlite.h
  src/wallet/test/coinselector_tests.cpp
  src/wallet/walletdb.cpp
  test/functional/feature_nulldummy.py
  test/functional/p2p_invalid_tx.py
  test/functional/test_framework/key.py
  test/functional/test_framework/netutil.py
  test/functional/wallet_encryption.py
Labels: Docs

#19846 build: enable unused member function diagnostic
  configure.ac
  src/index/blockfilterindex.cpp
  src/script/bitcoinconsensus.cpp
  src/test/util_tests.cpp
Labels: Build system

#19915 p2p, refactor: Use Mutex type for some mutexes in CNode class
  src/net.h
Labels: P2P, Refactoring

#20850 [0.21] final rc5 backports
  depends/packages/native_cctools.mk
  depends/patches/native_cctools/segalign.patch
Labels: Backport

#20816 net: Move RecordBytesSent() call out of cs_vSend lock
  src/net.cpp
  src/net.h
Labels: P2P

#20844 test: Add sanitizer suppressions for AMD EPYC CPUs
  test/sanitizer_suppressions/ubsan
Labels: Tests

#20860 gitian-keys: add key for guggero
  contrib/gitian-keys/keys.txt
Labels: Build system, Scripts and tools

#20829 doc: add -netinfo help
  src/bitcoin-cli.cpp
Labels: Docs

#20859 gitian-keys: add miketwenty1 key
  contrib/gitian-keys/keys.txt
Labels: Build system, Scripts and tools

#20864 net: Move SocketSendData lock annotation to header
  src/net.cpp
  src/net.h
Labels: P2P, Refactoring

#20789 fuzz: Rework strong and weak net enum fuzzing
  src/test/fuzz/connman.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/net_permissions.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/util.h
  src/test/util/net.h
Labels: Tests

#19055 Add MuHash3072 implementation
  configure.ac
  src/Makefile.am
  src/Makefile.test.include
  src/bench/crypto_hash.cpp
  src/crypto/muhash.cpp
  src/crypto/muhash.h
  src/test/crypto_tests.cpp
  src/test/fuzz/crypto.cpp
  src/test/fuzz/muhash.cpp
  test/functional/test_framework/muhash.py
Labels: RPC/REST/ZMQ, Review club

#18077 net: Add NAT-PMP port forwarding support
  .cirrus.yml
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_qt5.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  depends/Makefile
  depends/README.md
  depends/config.site.in
  depends/packages/libnatpmp.mk
  depends/packages/packages.mk
  doc/build-osx.md
  doc/build-unix.md
  doc/dependencies.md
  doc/productivity.md
  doc/release-notes-18077.md
  doc/tor.md
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/Makefile.test.include
  src/init.cpp
  src/interfaces/node.h
  src/mapport.cpp
  src/mapport.h
  src/net.cpp
  src/net.h
  src/node/interfaces.cpp
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  test/functional/test_framework/util.py
Labels: P2P

#19683 depends: Pin clang search paths for darwin host
  depends/Makefile
  depends/config.site.in
  depends/funcs.mk
  depends/hosts/darwin.mk
Labels: Build system

#20688 test: run mempool_compatibility.py even with wallet disabled
  test/functional/mempool_compatibility.py
Labels: Tests

#20882 fuzz: Add missing muhash registration
  src/test/fuzz/muhash.cpp
Labels: Tests

#20786 net: [refactor] Prefer integral types in CNodeStats
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
Labels: P2P, Refactoring

#20741 doc: Update 'Secure string handling'
  doc/JSON-RPC-interface.md
Labels: Docs

#20890 doc: Add explicit macdeployqtplus dependencies install step
  doc/build-osx.md
Labels: Docs

#20881 fuzz: net permission flags in net processing
  src/net.h
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/util.h
Labels: Tests

#18819 net: Replace cs_feeFilter with simple std::atomic
  src/net.cpp
  src/net.h
  src/net_processing.cpp
Labels: P2P, Refactoring

#20480 Replace boost::variant with std::variant
  src/key_io.cpp
  src/qt/addresstablemodel.cpp
  src/qt/coincontroldialog.cpp
  src/qt/signverifymessagedialog.cpp
  src/qt/transactionrecord.cpp
  src/rpc/util.cpp
  src/script/descriptor.cpp
  src/script/signingprovider.cpp
  src/script/standard.cpp
  src/script/standard.h
  src/test/script_standard_tests.cpp
  src/util/message.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  test/lint/lint-includes.sh
Labels: Refactoring

#20876 test: Replace getmempoolentry with testmempoolaccept in MiniWallet
  test/functional/test_framework/wallet.py
Labels: Refactoring, Tests

#20852 net: allow CSubNet of non-IP networks
  src/netaddress.cpp
  src/netaddress.h
  src/test/netbase_tests.cpp
  test/functional/rpc_setban.py
Labels: Needs backport (0.21), P2P

#20373 refactor, net: Increase CNode data member encapsulation
  src/net.h
Labels: P2P

#20787 Use C++17 std::array deduction for OUTPUT_TYPES, ALL_FEE_ESTIMATE_HORIZONS
  src/outputtype.cpp
  src/outputtype.h
  src/policy/fees.h
  src/rpc/mining.cpp
  src/test/fuzz/kitchen_sink.cpp
  src/test/fuzz/policy_estimator.cpp
Labels: Refactoring

#19315 [tests] Allow outbound & block-relay-only connections in functional tests.
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  src/rpc/protocol.h
  test/functional/p2p_add_connections.py
  test/functional/p2p_blocksonly.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: P2P, Review club, Tests

#20495 sync: Use decltype(auto) return type for WITH_LOCK
  src/sync.h
  src/test/validation_chainstate_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
Labels: Tests

#20619 guix: Quality of life improvements
  contrib/guix/README.md
  contrib/guix/guix-build.sh
  contrib/guix/libexec/build.sh
  doc/guix.md
  share/genbuild.sh
Labels: Build system

#19937 signet mining utility
  .gitignore
  Makefile.am
  configure.ac
  contrib/signet/README.md
  contrib/signet/miner
  src/Makefile.am
  src/bitcoin-util-res.rc
  src/bitcoin-util.cpp
  src/rpc/mining.cpp
Labels: Mining, RPC/REST/ZMQ, Scripts and tools, Utils/log/libs

#20738 [0.20] final rc2 backports
  src/init.cpp
  src/net_permissions.cpp
  src/net_permissions.h
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
Labels: Backport

#19935 Move SaltedHashers to separate file and add some new ones
  src/Makefile.am
  src/coins.cpp
  src/coins.h
  src/index/blockfilterindex.h
  src/script/sigcache.h
  src/txmempool.cpp
  src/txmempool.h
  src/util/hasher.cpp
  src/util/hasher.h
  src/validation.h
  src/wallet/scriptpubkeyman.h
Labels: Build system, Mempool, Review club, UTXO Db and Indexes

#20811 refactor: move net_processing implementation details out of header
  src/init.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
  src/test/util/setup_common.cpp
  test/sanitizer_suppressions/tsan
Labels: P2P, Refactoring

#20917 doc, rpc: add missing signet mentions in network name lists
  doc/REST-interface.md
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
Labels: Docs, Mining, RPC/REST/ZMQ

#20929 doc: Move 0.21.0 release notes from wiki
  doc/release-notes.md
Labels: Docs

#20931 doc: Add historic 0.21.0 release notes
  doc/release-notes/release-notes-0.21.0.md
Labels: Docs

#20828 fuzz: Introduce CallOneOf helper to replace switch-case
  src/test/fuzz/addrman.cpp
  src/test/fuzz/autofile.cpp
  src/test/fuzz/banman.cpp
  src/test/fuzz/bloom_filter.cpp
  src/test/fuzz/buffered_file.cpp
  src/test/fuzz/coins_view.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/crypto.cpp
  src/test/fuzz/crypto_chacha20.cpp
  src/test/fuzz/crypto_chacha20_poly1305_aead.cpp
  src/test/fuzz/merkleblock.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/rolling_bloom_filter.cpp
  src/test/fuzz/script_ops.cpp
  src/test/fuzz/scriptnum_ops.cpp
  src/test/fuzz/strprintf.cpp
  src/test/fuzz/system.cpp
  src/test/fuzz/util.h
Labels: Refactoring, Tests

#20933 [0.21] doc: Archive release notes, Add template for minor release
  doc/release-notes.md
  doc/release-notes/release-notes-0.21.0.md
Labels: Backport

#20834 locks and docs in ATMP and CheckInputsFromMempoolAndCache
  src/validation.cpp
Labels: Refactoring, Validation

#20908 fuzz: Use mocktime in process_message* fuzz targets
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
Labels: Tests

#20916 rpc: Return wtxid from testmempoolaccept
  src/rpc/rawtransaction.cpp
  test/functional/feature_cltv.py
  test/functional/feature_dersig.py
  test/functional/mempool_accept.py
  test/functional/p2p_segwit.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/wallet.py
Labels: RPC/REST/ZMQ

#20945 Fix 0.21.0 release note to specify correct option BIP 157 support
  doc/release-notes/release-notes-0.21.0.md
Labels: Docs

#20939 build: fix RELOC_SECTION security check for bitcoin-util
  src/bitcoin-util.cpp
Labels: Build system, Needs gitian build

#20938 build: fix linking against -latomic when building for riscv
  build-aux/m4/l_atomic.m4
  src/bitcoin-util.cpp
Labels: Build system, Needs gitian build

#20955 test: Fix get_previous_releases.py for aarch64
  test/get_previous_releases.py
Labels: Tests

#20884 script: Improve robustness of bitcoind.service on startup
  contrib/init/README.md
  contrib/init/bitcoind.service
Labels: Docs, Scripts and tools

#20880 gitian: Use custom MacOS code signing tool
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/macdeploy/detached-sig-apply.sh
  contrib/macdeploy/detached-sig-create.sh
Labels: Build system, Scripts and tools

#19866 eBPF Linux tracepoints
  configure.ac
  src/Makefile.am
  src/util/trace.h
Labels: Utils/log/libs

#20906 contrib: embed C++11 patch in install_db4.sh
  contrib/install_db4.sh
Labels: Build system

#20891 rpc: Remove deprecated bumpfee behavior
  src/wallet/rpcwallet.cpp
  test/functional/rpc_deprecated.py
  test/functional/wallet_bumpfee.py
Labels: Needs release note, RPC/REST/ZMQ, Wallet

#20937 guix: Make nsis reproducible by respecting SOURCE-DATE-EPOCH
  contrib/guix/manifest.scm
  contrib/guix/patches/nsis-SConstruct-sde-support.patch
  test/lint/lint-whitespace.sh
Labels: Build system, Needs Guix build

#20952 wallet: Add BerkeleyDB version sanity check at init time
  src/wallet/bdb.cpp
  src/wallet/bdb.h
  src/wallet/init.cpp
Labels: Wallet

#20953 test: dedup zmq test setup code (node restart, topics subscription)
  test/functional/interface_zmq.py
Labels: Tests

#20946 fuzz: Consolidate fuzzing TestingSetup initialization
  src/test/fuzz/banman.cpp
  src/test/fuzz/coins_view.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/data_stream.cpp
  src/test/fuzz/load_external_block_file.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/policy_estimator_io.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/signet.cpp
  src/test/fuzz/util.h
Labels: Tests

#20972 locks: Annotate CTxMemPool::check to require cs_main
  src/txmempool.cpp
  src/txmempool.h
Labels: Mempool, Refactoring

#17556 test: Change feature_config_args.py not to rely on strange regtest=0 behavior
  test/functional/feature_config_args.py
  test/functional/test_framework/util.py
Labels: Tests

#20932 refactor: Replace fs::absolute calls with AbsPathJoin calls
  src/fs.cpp
  src/fs.h
  src/rpc/blockchain.cpp
  src/test/fs_tests.cpp
  src/util/system.cpp
  src/wallet/load.cpp
  src/wallet/test/init_test_fixture.cpp
  src/wallet/wallet.cpp
  src/wallet/wallettool.cpp
Labels: Refactoring, Utils/log/libs

#17920 guix: Build support for macOS
  Makefile.am
  contrib/guix/README.md
  contrib/guix/guix-build.sh
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  src/Makefile.am
Labels: Build system, Needs Guix build

#20523 zmq: deduplicate 'sequence' publisher message creation/sending
  src/zmq/zmqpublishnotifier.cpp
Labels: RPC/REST/ZMQ, Refactoring

#20985 doc: add xorriso to macOS depends packages
  depends/README.md
Labels: Docs

#20927 [refactor] [net] Clean up InactivityCheck()
  src/net.cpp
  src/net.h
Labels: P2P

#20989 gitian-keys: add CoinForensics key
  contrib/gitian-keys/keys.txt
Labels: Build system, Scripts and tools

#20958 gitian-keys: Add signer aliases, some historical keys
  contrib/gitian-keys/keys.txt
Labels: Scripts and tools

#20998 test: Fix BlockToJsonVerbose benchmark
  src/bench/rpc_blockchain.cpp
Labels: Tests

#18710 Add local thread pool to CCheckQueue
  src/bench/checkqueue.cpp
  src/checkqueue.h
  src/init.cpp
  src/test/checkqueue_tests.cpp
  src/test/transaction_tests.cpp
  src/test/util/setup_common.cpp
  src/validation.cpp
  src/validation.h
  test/lint/lint-includes.sh
Labels: Refactoring, Validation

#20987 doc: add instructions for generating RPC docs
  doc/release-process.md
Labels: Docs

#20832 rpc: Better error messages for invalid addresses
  src/key_io.cpp
  src/key_io.h
  src/rpc/misc.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_invalid_address_message.py
  test/functional/test_runner.py
  test/functional/wallet_basic.py
Labels: RPC/REST/ZMQ, Utils/log/libs, Wallet

#17350 doc: Add developer documentation to isminetype
  src/wallet/ismine.h
Labels: Docs, Wallet

#21010 refactor: remove straggling boost::mutex usage
  src/sync.cpp
  src/test/sync_tests.cpp
Labels: Refactoring

#20971 test: Work around libFuzzer deadlock
  test/fuzz/test_runner.py
Labels: Tests

#21000 fuzz: Add UBSan suppressions needed for fuzz tests to not warn under -fsanitize=integer
  src/test/fuzz/crypto_chacha20_poly1305_aead.cpp
  src/test/fuzz/pow.cpp
  src/test/fuzz/script.cpp
  src/test/fuzz/util.h
  test/sanitizer_suppressions/ubsan
Labels: Tests

#20757 doc: tor.md and -onlynet help updates
  doc/tor.md
  src/init.cpp
Labels: Docs

#20964 rpc: Add specific error code for "wallet already loaded"
  src/rpc/protocol.h
  src/wallet/rpcwallet.cpp
  test/functional/wallet_multiwallet.py
Labels: RPC/REST/ZMQ, Wallet

#20226 wallet, rpc: add listdescriptors command
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  test/functional/test_runner.py
  test/functional/wallet_listdescriptors.py
Labels: Wallet

#20995 fuzz: Avoid initializing version to less than MIN_PEER_PROTO_VERSION
  src/Makefile.test_fuzz.include
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
Labels: Tests

#21004 contrib: Fix docker args conditional in gitian-build
  contrib/gitian-build.py
Labels: Scripts and tools

#20012 rpc: Remove duplicate name and argNames from CRPCCommand
  ci/lint/06_script.sh
  src/qt/test/rpcnestedtests.cpp
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpcwallet.cpp
  src/zmq/zmqrpc.cpp
  test/functional/rpc_help.py
  test/lint/check-rpc-mappings.py
Labels: RPC/REST/ZMQ, Refactoring

#20963 gitian-linux: Build binaries for 64-bit POWER (continued)
  configure.ac
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  src/compat/glibc_compat.cpp
Labels: Build system

#21012 ci: Fuzz with integer sanitizer
  .cirrus.yml
  Makefile.am
  ci/test/00_setup_env_native_fuzz.sh
  test/fuzz/test_runner.py
  test/sanitizer_suppressions/ubsan
Labels: Tests

#20724 Cleanup of -debug=net log messages
  src/net.cpp
  src/net_processing.cpp
  test/functional/p2p_timeouts.py
Labels: P2P

#20689 contrib: replace binary verification script verify.sh with python rewrite
  contrib/verifybinaries/README.md
  contrib/verifybinaries/verify.py
  contrib/verifybinaries/verify.sh
Labels: Docs, Scripts and tools

#21037 fuzz: Avoid designated initialization (C++20) in fuzz tests
  src/test/fuzz/util.h
Labels: Tests

#20954 test: Declare `nodes` type in test_framework.py.
  test/functional/test_framework/test_framework.py
Labels: Tests
