Repository bitcoin/bitcoin, pull requests merged in 2021-07, with the labels that each got.

#19651 wallet: importdescriptors update existing
  src/wallet/rpcdump.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/wallet_importdescriptors.py
Labels: Wallet

#20191 wallet, refactor: make DescriptorScriptPubKeyMan agnostic of internal flag
  src/wallet/external_signer_scriptpubkeyman.h
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
Labels: Wallet

#22376 ci: Do not clone `bitcoin-core/qa-assets` git repository if not necessary
  ci/test/04_install.sh
Labels: Tests

#22255 [0.21] wallet: Do not iterate a directory if having an error while accessing it
  src/wallet/walletutil.cpp
Labels: Backport

#22379 wallet: erase spkmans rather than setting to nullptr
  src/wallet/wallet.cpp
Labels: Wallet

#22334 wallet: do not spam about non-existent spk managers
  src/wallet/wallet.cpp
Labels: Wallet

#22348 build: Fix cross build for Windows with Boost Process
  src/test/system_tests.cpp
  src/util/system.cpp
Labels: Build system, Windows

#22310 test: Add functional test for replacement relay fee check
  test/functional/feature_rbf.py
Labels: Tests

#19438 Introduce deploymentstatus
  src/Makefile.am
  src/chainparams.cpp
  src/consensus/params.h
  src/deploymentinfo.cpp
  src/deploymentinfo.h
  src/deploymentstatus.cpp
  src/deploymentstatus.h
  src/init.cpp
  src/miner.cpp
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/test/versionbits_tests.cpp
  src/validation.cpp
  src/validation.h
  src/versionbits.cpp
  src/versionbits.h
  src/versionbitsinfo.cpp
  src/versionbitsinfo.h
Labels: Consensus, Refactoring

#22388 ci: use Ubuntu 20.04 as the default Docker container
  ci/test/00_setup_env.sh
Labels: Tests

#22292 bench, doc: benchmarking updates and fixups
  doc/benchmarking.md
  src/bench/bench.h
  src/bench/bench_bitcoin.cpp
Labels: Docs, Tests

#22365 guix: Avoid relying on newer symbols by rebasing our cross toolchains on older glibcs
  contrib/guix/libexec/build.sh
  contrib/guix/libexec/codesign.sh
  contrib/guix/manifest.scm
  contrib/guix/patches/glibc-2.24-elfm-loadaddr-dynamic-rewrite.patch
  contrib/guix/patches/glibc-2.24-no-build-time-cxx-header-run.patch
  contrib/guix/patches/glibc-2.27-riscv64-Use-__has_include__-to-include-asm-syscalls.h.patch
  contrib/guix/patches/glibc-ldd-x86_64.patch
  contrib/guix/patches/glibc-versioned-locpath.patch
Labels: Build system, Scripts and tools

#22406 build: remove --enable-determinism configure option
  configure.ac
Labels: Build system

#22360 doc: Remove unused section from release process
  doc/release-process.md
Labels: Docs

#22399 fuzz: Rework CTxDestination fuzzing
  src/test/fuzz/integer.cpp
  src/test/fuzz/key_io.cpp
  src/test/fuzz/script.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
Labels: Tests

#22405 build: remove --enable-glibc-back-compat from Guix build
  contrib/devtools/symbol-check.py
  contrib/guix/libexec/build.sh
  contrib/guix/patches/gcc-8-sort-libtool-find-output.patch
  contrib/guix/patches/glibc-2.24-elfm-loadaddr-dynamic-rewrite.patch
  contrib/guix/patches/glibc-2.24-no-build-time-cxx-header-run.patch
  contrib/guix/patches/glibc-2.27-riscv64-Use-__has_include__-to-include-asm-syscalls.h.patch
  contrib/guix/patches/nsis-SConstruct-sde-support.patch
  src/Makefile.am
  test/lint/lint-spelling.sh
Labels: Build system, Needs Guix build

#22402 doc: Install Rosetta on M1-macOS for qt in depends
  depends/README.md
Labels: Docs

#22366 [0.21] fuzz: add missing ECCVerifyHandle to base_encode_decode
  src/test/fuzz/base_encode_decode.cpp
  src/test/util_tests.cpp
  src/util/system.cpp
  test/functional/feature_includeconf.py
Labels: Tests

#22179 Torv2 removal followups
  src/addrman.cpp
  src/addrman.h
  src/netaddress.cpp
  src/test/addrman_tests.cpp
  src/test/fuzz/netaddress.cpp
Labels: P2P

#22408 test: add tests for `bad-txns-prevout-null` reject reason
  test/functional/data/invalid_txs.py
  test/functional/mempool_accept.py
Labels: Tests

#22381 guix: Test security-check sanity before performing them (with macOS)
  Makefile.am
  ci/test/00_setup_env_native_multiprocess.sh
  configure.ac
  contrib/devtools/symbol-check.py
  contrib/devtools/test-security-check.py
  contrib/devtools/test-symbol-check.py
  contrib/devtools/utils.py
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  contrib/guix/patches/binutils-mingw-w64-disable-flags.patch
  src/Makefile.am
  test/lint/lint-python.sh
Labels: Build system, Needs Guix build

#22176 test: Correct outstanding -Werror=sign-compare errors
  src/test/serfloat_tests.cpp
  src/test/streams_tests.cpp
Labels: Tests

#22363 test: refactor: use `script_util` helpers for creating P2{PKH,SH,WPKH,WSH} scripts
  test/functional/data/invalid_txs.py
  test/functional/feature_block.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_segwit.py
  test/functional/feature_taproot.py
  test/functional/mempool_accept.py
  test/functional/p2p_segwit.py
  test/functional/rpc_signrawtransaction.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/wallet_util.py
Labels: Tests

#22253 validation: distinguish between same tx and same-nonwitness-data tx in mempool
  src/validation.cpp
  test/functional/mempool_accept_wtxid.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ, Validation

#22335 doc: recommend `--disable-external-signer` in OpenBSD build guide
  doc/build-openbsd.md
Labels: Docs

#20234 net: don't bind on 0.0.0.0 if binds are restricted to Tor
  src/init.cpp
  src/net.cpp
  src/net.h
  test/functional/feature_bind_extra.py
  test/functional/test_runner.py
Labels: P2P

#22432 doc: fix incorrect testmempoolaccept doc
  src/rpc/rawtransaction.cpp
Labels: Docs

#22446 test: Fix wallet_listdescriptors.py if bdb is not compiled
  test/functional/wallet_listdescriptors.py
Labels: Tests

#22447 test: whitelist rpc_rawtransaction peers to speed up tests
  test/functional/rpc_rawtransaction.py
  test/functional/test_runner.py
Labels: Tests

#22385 refactor: Use DeploymentEnabled to hide VB deployments
  src/consensus/params.h
  src/deploymentstatus.h
  src/rpc/blockchain.cpp
Labels: Refactoring

#22415 Make m_mempool optional in CChainState
  src/init.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstate_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/test/validation_flush_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Validation

#22284 p2p, refactor: performance improvements to ProtectEvictionCandidatesByRatio()
  src/Makefile.bench.include
  src/bench/peer_eviction.cpp
  src/net.cpp
  src/test/net_peer_eviction_tests.cpp
  src/test/util/net.cpp
  src/test/util/net.h
Labels: P2P

#22369 doc: Add steps for Transifex to release process
  doc/release-process.md
  doc/translation_process.md
Labels: Docs

#22393 doc: added info to bitcoin.conf doc
  doc/bitcoin-conf.md
Labels: Docs

#22211 net: relay I2P addresses even if not reachable (by us)
  src/netaddress.h
  test/functional/p2p_addrv2_relay.py
  test/functional/test_framework/messages.py
Labels: P2P

#22464 bench: fix 32-bit narrowing warning in bench/peer_eviction.cpp
  src/bench/peer_eviction.cpp
Labels: Tests

#21430 build: Add -Werror=implicit-fallthrough compile flag
  configure.ac
  src/Makefile.leveldb.include
  src/hash.cpp
  src/qt/rpcconsole.cpp
  src/rest.cpp
  src/rpc/mining.cpp
  src/tinyformat.h
Labels: Build system

#22234 build: Mark print-% target as phony.
  Makefile.am
  depends/Makefile
  src/Makefile.am
Labels: Build system

#20641 depends: Use Qt top-level build facilities
  depends/packages/qt.mk
  depends/patches/qt/drop_lrelease_dependency.patch
  depends/patches/qt/mac-qmake.conf
  depends/patches/qt/qt.pro
  depends/patches/qt/qttools_src.pro
Labels: Build system

#22410 Avoid GCC 7.1 ABI change warning in guix build
  contrib/guix/libexec/build.sh
Labels: Build system

#22461 wallet: Change ScriptPubKeyMan::Upgrade default to True
  src/wallet/scriptpubkeyman.h
  test/functional/wallet_upgradewallet.py
Labels: Wallet

#22445 fuzz: Move implementations of non-template fuzz helpers from util.h to util.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
Labels: Tests

#22421 Make IsSegWitOutput return true for taproot outputs
  src/script/sign.cpp
Labels: Wallet

#22387 Rate limit the processing of rumoured addresses
  src/net_permissions.h
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/net.cpp
  test/functional/p2p_addr_relay.py
  test/functional/p2p_addrv2_relay.py
  test/functional/p2p_invalid_messages.py
Labels: P2P

#22497 scripted-diff: remove ResetI2PPorts() (revert e0a2b390c14)
  src/addrman.cpp
  src/addrman.h
  src/test/addrman_tests.cpp
Labels: Refactoring

#22502 scripted-diff: Revert "fuzz: Add Temporary debug assert for oss-fuzz issue"
  src/test/fuzz/process_message.cpp
Labels: Refactoring

#21711 guix: Add full installation and usage documentation
  contrib/README.md
  contrib/builder-keys/README.md
  contrib/builder-keys/keys.txt
  contrib/guix/INSTALL.md
  contrib/guix/README.md
  contrib/guix/guix-attest
  contrib/guix/guix-build
  doc/release-process.md
  test/lint/lint-spelling.sh
Labels: Scripts and tools

#22199 macdeploy: minor fixups and simplifications
  contrib/macdeploy/macdeployqtplus
Labels: Build system, macOS

#22465 guix: Pin kernel-header version, time-machine to upstream 1.3.0 commit
  contrib/guix/guix-build
  contrib/guix/guix-codesign
  contrib/guix/manifest.scm
Labels: Build system

#22436 build: use aarch64 Clang if cross-compiling for darwin on aarch64
  depends/packages/native_clang.mk
Labels: Build system

#22096 p2p: AddrFetch - don't disconnect on self-announcements
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/net.cpp
  test/functional/p2p_addrfetch.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: P2P

#22261 [p2p/mempool] Two small fixes to node broadcast logic
  src/node/transaction.cpp
  test/functional/mempool_accept_wtxid.py
  test/functional/mempool_unbroadcast.py
Labels: Bug, Mempool, P2P, Review club

#22492 wallet: Reorder locks in dumpwallet to avoid lock order assertion
  src/wallet/rpcdump.cpp
  src/wallet/wallet.cpp
  test/functional/wallet_dump.py
Labels: RPC/REST/ZMQ, Wallet

#22499 Update assumed chain params
  src/chainparams.cpp
Labels: Validation

#22232 refactor: Pass interpreter flags as uint32_t instead of signed int
  src/bench/verify_script.cpp
  src/consensus/tx_verify.cpp
  src/consensus/tx_verify.h
  src/script/interpreter.h
  src/test/fuzz/coins_view.cpp
  src/test/script_tests.cpp
  src/test/sigopcount_tests.cpp
  src/test/transaction_tests.cpp
Labels: Refactoring

#22371 Move pblocktree global to BlockManager
  src/index/txindex.cpp
  src/init.cpp
  src/node/blockstorage.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstate_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Block storage, Refactoring

#22507 doc: Adjust commit message template for the guix.sigs repo
  doc/release-process.md
Labels: Docs

#22505 addrman: Remove unused test_before_evict argument from Good()
  src/addrman.h
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
Labels: P2P

#22407 rpc: Return block time in getblockchaininfo
  doc/release-notes.md
  src/rpc/blockchain.cpp
  test/functional/rpc_blockchain.py
Labels: RPC/REST/ZMQ

#21934 RPC/blockchain: getblockchaininfo: Include versionbits signalling details during LOCKED_IN
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#22510 test: add test for RPC error 'Transaction already in block chain'
  test/functional/rpc_rawtransaction.py
Labels: Tests

#22515 doc: clean out release notes post branch-off
  doc/release-notes.md
Labels: Docs

#22288 Resolve Tor control plane address
  src/torcontrol.cpp
Labels: P2P

#22428 [Refactor] Rename scriptPubKey -> exec_script
  src/script/interpreter.cpp
Labels: Refactoring

#21832 cli: Improve -getinfo return format
  doc/release-notes.md
  src/bitcoin-cli.cpp
  test/functional/interface_bitcoin_cli.py
Labels: Needs rebase, Utils/log/libs

#22218 multiprocess: Add ipc::Context and ipc::capnp::Context structs
  src/Makefile.am
  src/interfaces/ipc.h
  src/ipc/capnp/context.h
  src/ipc/capnp/protocol.cpp
  src/ipc/context.h
  src/ipc/interfaces.cpp
  src/ipc/protocol.h
Labels: Build system, interfaces

#22481 mempool: apply rule of 5 to epochguard.h, fix compiler warnings
  src/util/epochguard.h
Labels: Mempool, Utils/log/libs

#22493 fuzz: Extend addrman fuzz test with deserialize
  src/test/fuzz/addrman.cpp
Labels: Tests

#21090 Default to NODE_WITNESS in nLocalServices
  src/chainparams.cpp
  src/chainparamsbase.cpp
  src/init.cpp
  src/net_processing.cpp
  src/validation.cpp
  test/functional/feature_presegwit_node_upgrade.py
  test/functional/mining_basic.py
  test/functional/p2p_segwit.py
  test/functional/test_runner.py
Labels: P2P

#22383 rpc: Prefer to use txindex if available for GetTransaction
  src/rpc/rawtransaction.cpp
  src/validation.cpp
  src/validation.h
Labels: RPC/REST/ZMQ, Validation

#22526 build: use newer config.guess & config.sub in depends
  contrib/install_db4.sh
  depends/packages/libevent.mk
  depends/packages/native_cctools.mk
  depends/packages/sqlite.mk
Labels: Build system, DrahtBot Guix build requested

#22511 guix: Silence `getent(1)` invocation, doc fixups
  contrib/guix/INSTALL.md
  contrib/guix/guix-build
Labels: Build system, Needs backport (22.x)

#22533 guix/build: Remove vestigial SKIPATTEST.TAG
  contrib/guix/libexec/build.sh
Labels: Needs backport (22.x), Scripts and tools

#13533 [tests] Reduced number of validations in tx_validationcache_tests
  src/script/interpreter.h
  src/test/txvalidationcache_tests.cpp
Labels: Tests

#22517 fuzz: Temporarily disable failing assert in banman fuzz test
  src/test/fuzz/banman.cpp
Labels: Tests

#22442 util: improves error messages on get_previous_releases script
  test/get_previous_releases.py
Labels: Tests

#22444 fuzz: Limit max ops in prevector fuzz target
  src/test/fuzz/prevector.cpp
Labels: Tests

#22453 fuzz: Limit max ops in rolling_bloom_filter fuzz target
  src/test/fuzz/rolling_bloom_filter.cpp
Labels: Tests

#22454 fuzz: Limit max ops in tx_pool fuzz targets
  src/test/fuzz/tx_pool.cpp
Labels: Tests

#22155 wallet test: Add test for subtract fee from recipient behavior
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
  src/Makefile.test.include
  src/wallet/test/spend_tests.cpp
  src/wallet/test/util.cpp
  src/wallet/test/util.h
  src/wallet/test/wallet_tests.cpp
Labels: Tests, Wallet

#22495 p2p: refactor: tidy up `PeerManagerImpl::Misbehaving(...)`
  src/net_processing.cpp
Labels: P2P

#22561 Fix typo in comment
  contrib/verifybinaries/verify.py
Labels: Scripts and tools

#22006 tracing: first tracepoints and documentation on User-Space, Statically Defined Tracing (USDT)
  contrib/tracing/README.md
  contrib/tracing/connectblock_benchmark.bt
  contrib/tracing/log_p2p_traffic.bt
  contrib/tracing/log_raw_p2p_msgs.py
  contrib/tracing/p2p_monitor.py
  doc/build-unix.md
  doc/dependencies.md
  doc/tracing.md
  src/net.cpp
  src/net_processing.cpp
  src/validation.cpp
Labels: Needs release note, Utils/log/libs

#22557 fuzz: silence a compiler warning about unused CBanEntry comparator
  src/test/fuzz/banman.cpp
Labels: Tests

#22550 test: improve `test_signing_with_{csv,cltv}` subtests (speed, prevent timeout)
  test/functional/feature_cltv.py
  test/functional/feature_csv_activation.py
  test/functional/rpc_signrawtransaction.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/util.py
Labels: Tests

#22423 test: wallet_listtransactions improvements (speedup, cleanup, logging)
  test/functional/test_runner.py
  test/functional/wallet_listtransactions.py
Labels: Tests

#22530 log: sort logging categories alphabetically
  src/logging.cpp
  src/logging.h
  test/functional/rpc_misc.py
Labels: Utils/log/libs

#22047 index, rpc: Coinstatsindex follow-ups
  src/index/coinstatsindex.cpp
  src/index/coinstatsindex.h
  src/node/coinstats.h
  src/rpc/blockchain.cpp
  test/functional/feature_coinstatsindex.py
Labels: RPC/REST/ZMQ, UTXO Db and Indexes

#21562 [net processing] Various tidying up of PeerManagerImpl ctor
  src/net_processing.cpp
  src/txorphanage.h
  test/functional/mempool_reorg.py
  test/functional/p2p_permissions.py
Labels: P2P

#22528 refactor: move GetTransaction to node/transaction.cpp
  src/node/transaction.cpp
  src/node/transaction.h
  src/rpc/rawtransaction.cpp
  src/validation.cpp
  src/validation.h
  test/lint/lint-circular-dependencies.sh
Labels: RPC/REST/ZMQ, Refactoring, Validation

#22538 doc: fix command typo in guix README
  contrib/guix/README.md
  doc/build-openbsd.md
Labels: Scripts and tools

#22531 guix: Fixes to guix-{attest,verify}
  contrib/guix/guix-attest
  contrib/guix/guix-build
  contrib/guix/guix-codesign
  contrib/guix/guix-verify
  doc/release-process.md
Labels: Needs backport (22.x)

#22427 [0.21] gui: Backports for 0.21.2
  src/qt/guiutil.cpp
  src/qt/overviewpage.cpp
Labels: Backport, GUI

#22139 test: add type annotations to util.get_rpc_proxy
  test/functional/test_framework/coverage.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
Labels: Tests

#22516 macdeploy: alternative info to download the macOS SDK
  contrib/macdeploy/README.md
Labels: Docs

#21882 build: Fix undefined reference to __mulodi4
  build-aux/m4/bitcoin_runtime_lib.m4
  configure.ac
  src/Makefile.test.include
  src/test/fuzz/multiplication_overflow.cpp
Labels: Build system

#22580 [0.21] Backport: Reset scantxoutset progress before inferring descriptors
  src/rpc/blockchain.cpp
Labels: Backport

#22584 test: Add temporary sanitizer suppression implicit-signed-integer-truncation:netaddress.cpp
  test/sanitizer_suppressions/ubsan
Labels: Tests

#22578 [0.21] Additional backports
  .cirrus.yml
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_mac_host.sh
  ci/test/00_setup_env_win64.sh
  ci/test/06_script_a.sh
  test/functional/feature_taproot.py
Labels: Backport

#22520 test: improve rpc_blockchain.py tests and assert on time and mediantime
  test/functional/rpc_blockchain.py
Labels: Tests

#22490 test: Disable automatic connections per default in the functional tests
  test/functional/feature_anchors.py
  test/functional/feature_config_args.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
Labels: Tests

#22330 test: use MiniWallet for simple doublespend sub-test in feature_rbf.py
  test/functional/feature_rbf.py
Labels: Tests

#22573 fuzz: document faster throughput configuration
  doc/fuzzing.md
Labels: Docs
