Repository bitcoin/bitcoin, pull requests merged in 2021-02, with the labels that each got.

#20040 wallet: Refactor OutputGroups to handle fees and spending eligibility on grouping
  src/bench/coin_selection.cpp
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/test/coinselector_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#20868 validation: remove redundant check on pindex
  src/validation.cpp
Labels: Validation

#20941 rpc: document RPC_TRANSACTION_ALREADY_IN_CHAIN exception
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ

#20749 [Bundle 1/n] Prune g_chainman usage related to ::LookupBlockIndex
  src/index/base.cpp
  src/init.cpp
  src/miner.cpp
  src/net_processing.cpp
  src/node/coinstats.cpp
  src/node/interfaces.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/fuzz/load_external_block_file.cpp
  src/test/util/setup_common.cpp
  src/test/validation_block_tests.cpp
  src/txmempool.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring, Validation

#21016 refactor: remove boost::thread_group usage
  src/addrman.cpp
  src/bitcoin-cli.cpp
  src/init.cpp
  src/scheduler.h
  src/script/sigcache.cpp
  src/test/checkqueue_tests.cpp
  src/test/cuckoocache_tests.cpp
  src/test/scheduler_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  src/util/system.h
  test/lint/lint-includes.sh
Labels: Refactoring

#21026 doc: Document use of make-tag script to make tags
  doc/release-process.md
Labels: Docs

#20464 refactor: Treat CDataStream bytes as uint8_t
  src/bench/prevector.cpp
  src/dbwrapper.h
  src/psbt.cpp
  src/qt/recentrequeststablemodel.cpp
  src/qt/walletmodel.cpp
  src/rpc/rawtransaction.cpp
  src/streams.h
  src/support/allocators/zeroafterfree.h
  src/test/bloom_tests.cpp
  src/test/fuzz/util.h
  src/test/serialize_tests.cpp
  src/test/streams_tests.cpp
  src/wallet/bdb.cpp
Labels: Refactoring, Utils/log/libs

#21051 Fix -Wmismatched-tags warnings
  configure.ac
  src/validation.h
Labels: Validation

#21059 Drop boost/preprocessor dependencies
  src/bench/bench.h
  src/clientversion.h
  src/util/macros.h
  test/lint/lint-includes.sh
Labels: Utils/log/libs

#19509 Per-Peer Message Capture
  contrib/message-capture/message-capture-docs.md
  contrib/message-capture/message-capture-parser.py
  src/init.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  test/functional/p2p_message_capture.py
  test/functional/test_framework/messages.py
  test/functional/test_runner.py
Labels: P2P, Utils/log/libs

#21060 doc: More precise -debug and -debugexclude doc
  src/init.cpp
Labels: Docs

#21065 build: make macOS HOST in download-osx generic
  depends/Makefile
Labels: Build system

#21049 Add release notes for listdescriptors RPC
  doc/release-notes.md
Labels: Docs

#20715 util: Add ArgsManager::GetCommand() and use it in bitcoin-wallet
  src/bitcoin-wallet.cpp
  src/test/fuzz/system.cpp
  src/util/system.cpp
  src/util/system.h
  src/wallet/wallettool.cpp
  src/wallet/wallettool.h
  test/functional/tool_wallet.py
Labels: Utils/log/libs

#21025 validation: Guard chainman chainstates with cs_main
  src/validation.cpp
  src/validation.h
Labels: Validation

#21042 doc, test: Improve setup_clean_chain documentation
  test/functional/README.md
  test/functional/example_test.py
  test/functional/feature_asmap.py
  test/functional/feature_dbcrash.py
  test/functional/feature_includeconf.py
  test/functional/p2p_add_connections.py
  test/functional/p2p_addr_relay.py
  test/functional/p2p_blocksonly.py
  test/functional/p2p_filter.py
  test/functional/p2p_getaddr_caching.py
  test/functional/p2p_invalid_locator.py
  test/functional/p2p_tx_download.py
  test/functional/rpc_estimatefee.py
  test/functional/rpc_psbt.py
  test/functional/test-shell.md
  test/functional/wallet_avoidreuse.py
  test/functional/wallet_createwallet.py
  test/functional/wallet_watchonly.py
Labels: Docs, Tests

#21082 refactor: Treat ArgsManager::Flags as uint32_t explicitly
  src/util/system.h
Labels: Refactoring

#21080 fuzz: Configure check for main function (take 2)
  configure.ac
Labels: Build system

#21077 doc: clarify -timeout and -peertimeout config options
  src/init.cpp
Labels: Docs

#20646 doc: refer to BIPs 339/155 in feature negotiation
  src/net.h
  src/net_processing.cpp
Labels: P2P

#20267 Disable and fix tests for when BDB is not compiled
  test/functional/feature_backwards_compatibility.py
  test/functional/feature_filelock.py
  test/functional/feature_notifications.py
  test/functional/interface_bitcoin_cli.py
  test/functional/interface_zmq.py
  test/functional/rpc_net.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/tool_wallet.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_send.py
  test/functional/wallet_upgradewallet.py
Labels: Tests, Wallet

#20839 fuzz: Avoid extraneous copy of input data, using Span<>
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/fuzz.h
  src/test/fuzz/process_message.cpp
Labels: Tests

#21105 docs: correctly identify script type
  doc/descriptors.md
Labels: Docs

#21081 test: fix the unreachable code at feature_taproot
  test/functional/feature_taproot.py
Labels: Tests

#20720 build: more robustly check for fcf-protection support
  configure.ac
Labels: Build system

#20936 build: build fuzz tests by default
  ci/test/00_setup_env_native_qt5.sh
  ci/test/00_setup_env_win64.sh
  configure.ac
  src/Makefile.test.include
Labels: Build system, Needs rebase, Tests

#21084 test: fix timeout decrease in feature_assumevalid
  test/functional/feature_assumevalid.py
Labels: Tests

#21036 gitian: Bump descriptors to Focal for 22.0
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_win64.sh
  contrib/gitian-build.py
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win-signer.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build system

#21107 test: remove type: comments in favour of actual annotations
  test/functional/data/invalid_txs.py
  test/functional/p2p_message_capture.py
  test/functional/test_framework/script.py
Labels: Tests

#20944 rpc: Return total fee in getmempoolinfo
  doc/REST-interface.md
  src/rpc/blockchain.cpp
  src/txmempool.cpp
  src/txmempool.h
  test/functional/mempool_persist.py
Labels: RPC/REST/ZMQ

#21115 test: Fix Windows cross build
  src/test/fuzz/netaddress.cpp
  src/test/fuzz/string.cpp
Labels: Tests

#21116 build: Disable --disable-fuzz-binary for gitian/guix builds
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  contrib/guix/libexec/build.sh
Labels: Build system, Needs Guix build, Needs gitian build

#21117 test: remove assert_blockchain_height
  test/functional/feature_assumevalid.py
Labels: Tests

#21075 doc: Fix markdown formatting
  doc/build-unix.md
  doc/init.md
  doc/tor.md
Labels: Docs

#21112 ci: use Focal for macOS cross builds
  .cirrus.yml
  ci/test/00_setup_env_mac.sh
Labels: Tests

#20557 addrman: Fix new table bucketing during unserialization
  src/addrman.h
Labels: Bug, P2P

#21124 test: remove unnecessary assignment in bdb
  test/functional/test_framework/bdb.py
Labels: Tests

#21052 refactor: Replace fs::unique_path with GetUniquePath(path) calls
  src/Makefile.am
  src/test/fs_tests.cpp
  src/test/util_tests.cpp
  src/util/getuniquepath.cpp
  src/util/getuniquepath.h
  src/util/system.cpp
Labels: Utils/log/libs

#21126 ci: Properly bump to focal for win cross build
  .cirrus.yml
  ci/test/00_setup_env_win64.sh
  ci/test/wrap-wine.sh
Labels: Tests

#21125 test: Change BOOST_CHECK to BOOST_CHECK_EQUAL for paths
  src/wallet/test/db_tests.cpp
  src/wallet/test/init_tests.cpp
Labels: Tests

#21138 ci: Re-run wine tests once if they fail
  ci/test/wrap-wine.sh
Labels: Tests

#21114 Deduplicate some block-to-JSON code
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#21130 script: Make LXC container size suitable for gitian builds
  contrib/gitian-build.py
Labels: Scripts and tools

#20663 fuzz: Hide script_assets_test_minimizer
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/fuzz.h
  src/test/fuzz/script_assets_test_minimizer.cpp
Labels: Tests

#21023 fuzz: Disable shuffle when merge=1
  test/fuzz/test_runner.py
Labels: Tests

#20915 fuzz: Fail if message type is not fuzzed
  src/test/fuzz/process_message.cpp
Labels: Tests

#20211 Use -Wswitch for TxoutType where possible
  src/script/sign.cpp
  src/script/standard.cpp
  src/test/script_standard_tests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/scriptpubkeyman.cpp
Labels: Refactoring

#21043 net: Avoid UBSan warning in ProcessMessage(...)
  src/net_processing.cpp
  src/rpc/misc.cpp
  src/util/time.cpp
  test/functional/rpc_uptime.py
Labels: Needs backport (0.21), P2P

#20788 net: add RAII socket and use it instead of bare SOCKET
  src/Makefile.am
  src/Makefile.test.include
  src/net.cpp
  src/netbase.cpp
  src/netbase.h
  src/test/sock_tests.cpp
  src/torcontrol.cpp
  src/util/sock.cpp
  src/util/sock.h
  src/util/time.cpp
  src/util/time.h
Labels: P2P

#21062 refactor: return MempoolAcceptResult from ATMP
  src/bench/block_assemble.cpp
  src/net_processing.cpp
  src/node/transaction.cpp
  src/rpc/rawtransaction.cpp
  src/test/txvalidation_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/validation_block_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#20370 fuzz: version handshake
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
Labels: Tests

#21041 log: Move "Pre-allocating up to position 0x[…] in […].dat" log message to debug category
  src/flatfile.cpp
  src/validation.cpp
Labels: Utils/log/libs

#19145 Add hash_type MUHASH for gettxoutsetinfo
  src/crypto/muhash.cpp
  src/crypto/muhash.h
  src/node/coinstats.cpp
  src/node/coinstats.h
  src/rpc/blockchain.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  test/functional/feature_utxo_set_hash.py
  test/functional/rpc_blockchain.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ, Utils/log/libs

#19522 build: fix building libconsensus with reduced exports for Darwin targets
  build-aux/m4/ax_gcc_func_attribute.m4
  configure.ac
  src/script/bitcoinconsensus.h
Labels: Build system

#21064 refactor: use std::shared_mutex & remove Boost Thread
  .fuzzbuzz.yml
  build-aux/m4/ax_boost_thread.m4
  build_msvc/bitcoin_config.h
  build_msvc/vcpkg.json
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  depends/packages/boost.mk
  doc/build-unix.md
  src/Makefile.am
  src/script/sigcache.cpp
  src/test/cuckoocache_tests.cpp
  test/lint/lint-includes.sh
Labels: Refactoring

#19884 p2p: No delay in adding fixed seeds if -dnsseed=0 and peers.dat is empty
  src/init.cpp
  src/net.cpp
  src/net.h
  test/functional/feature_config_args.py
Labels: P2P

#21165 test: Use mocktime in test_seed_peers
  src/net.cpp
  test/functional/feature_config_args.py
Labels: P2P

#21028 doc/bips: Add BIPs 43, 44, 49, and 84
  doc/bips.md
Labels: Docs

#21127 wallet: load flags before everything else
  src/wallet/walletdb.cpp
Labels: Wallet

#21163 doc: Guix is shipped in Debian and Ubuntu
  contrib/guix/README.md
Labels: Docs

#20986 docs: update developer notes to discourage very long lines
  doc/developer-notes.md
Labels: Docs

#20629 depends: Improve id string robustness
  Makefile.am
  depends/Makefile
  src/Makefile.am
Labels: Build system

#20942 [refactor] Move some net_processing globals into PeerManagerImpl
  src/net_processing.cpp
Labels: P2P, Refactoring

#21100 test: remove unused function xor_bytes
  test/functional/test_framework/key.py
Labels: Tests

#21096 Re-add dead code detection
  ci/lint/04_install.sh
  test/lint/lint-python-dead-code.sh
Labels: Tests

#21167 net: make CNode::m_inbound_onion public, initialize explicitly
  src/net.cpp
  src/net.h
  src/test/denialofservice_tests.cpp
  src/test/net_tests.cpp
Labels: P2P

#20965 net, rpc: return NET_UNROUTABLE as not_publicly_routable, automate helps
  src/init.cpp
  src/netaddress.h
  src/netbase.cpp
  src/netbase.h
  src/rpc/net.cpp
  test/functional/feature_proxy.py
  test/functional/rpc_net.py
Labels: P2P, RPC/REST/ZMQ

#21185 fuzz: Remove expensive and redundant muhash from crypto fuzz target
  src/test/fuzz/crypto.cpp
  src/test/fuzz/muhash.cpp
Labels: Tests

#20721 Net: Move ping data to net_processing
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/qt/rpcconsole.cpp
  src/rpc/net.cpp
  src/test/net_tests.cpp
Labels: P2P

#21159 test: fix sign comparison warning in socket tests
  src/test/sock_tests.cpp
Labels: Tests

#21087 guix: Passthrough BASE_CACHE into container
  contrib/guix/README.md
  contrib/guix/guix-build.sh
  contrib/guix/libexec/build.sh
Labels: Scripts and tools

#20993 test: store subversion (user agent) as string in msg_version
  test/functional/test_framework/messages.py
  test/functional/test_framework/test_node.py
Labels: Tests

#20380 doc: Add instructions on how to fuzz the P2P layer using Honggfuzz NetDriver
  doc/fuzzing.md
Labels: Docs

#21188 scripted-diff: Remove redundant lock annotations in net processing
  src/net_processing.cpp
Labels: P2P, Refactoring

#21121 [test] Small unit test improvements, including helper to make mempool transaction
  src/logging.cpp
  src/test/miner_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  src/util/time.cpp
  src/util/time.h
Labels: Tests

#21192 cli: Treat high detail levels as maximum in -netinfo
  src/bitcoin-cli.cpp
Labels: RPC/REST/ZMQ

#21182 build: remove mostly pointless BOOST_PROCESS macro
  build-aux/m4/ax_boost_process.m4
  configure.ac
Labels: Build system, Needs Guix build

#21110 util: remove Boost posix_time usage from GetTime*
  src/init.cpp
  src/test/sanity_tests.cpp
  src/util/time.cpp
  src/util/time.h
Labels: Refactoring, Utils/log/libs

#20429 refactor: replace (sizeof(a)/sizeof(a[0])) with C++17 std::size
  src/base58.cpp
  src/bench/data.cpp
  src/chainparams.cpp
  src/protocol.cpp
  src/qt/networkstyle.cpp
  src/qt/platformstyle.cpp
  src/random.cpp
  src/rest.cpp
  src/test/base32_tests.cpp
  src/test/base64_tests.cpp
  src/test/hash_tests.cpp
  src/test/miner_tests.cpp
  src/test/scriptnum_tests.cpp
  src/test/sighash_tests.cpp
  src/util/strencodings.h
Labels: Refactoring

#15946 Allow maintaining the blockfilterindex when using prune
  src/chainparams.cpp
  src/index/base.cpp
  src/init.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_blockfilterindex_prune.py
  test/functional/test_runner.py
  test/lint/lint-circular-dependencies.sh
Labels: Feature, Needs release note, UTXO Db and Indexes

#19136 wallet: add parent_desc to getaddressinfo
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/test/descriptor_tests.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  test/functional/wallet_descriptor.py
Labels: RPC/REST/ZMQ, Wallet

#20524 test: Move MIN_VERSION_SUPPORTED to p2p.py
  test/functional/p2p_filter.py
  test/functional/p2p_leak.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_node.py
Labels: Tests

#19809 log: Prefix log messages with function name and source code location if -logsourcelocations is set
  src/init.cpp
  src/logging.cpp
  src/logging.h
  src/test/fuzz/string.cpp
  src/test/util/setup_common.cpp
  src/test/util_tests.cpp
  src/util/string.h
  test/functional/test_framework/test_node.py
Labels: Utils/log/libs

#21201 rpc: Disallow sendtoaddress and sendmany when private keys disabled
  src/wallet/rpcwallet.cpp
  test/functional/wallet_watchonly.py
Labels: Needs backport (0.21), RPC/REST/ZMQ, Wallet

#21230 test: Fix NODE_NETWORK_LIMITED_MIN_BLOCKS disconnection
  test/functional/feature_blockfilterindex_prune.py
Labels: Tests

#21205 build: actually fail when Boost is missing
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  doc/build-unix.md
Labels: Build system

#21210 doc: Rework internal and external links
  README.md
Labels: Docs

#21228 test: Avoid comparision of integers with different signs
  src/test/miner_tests.cpp
Labels: Tests

#21221 [tools] Allow argument/parameter bin packing in clang-format
  src/.clang-format
Labels: Scripts and tools

#21226 build: Fix fuzz binary compilation under windows
  ci/test/00_setup_env_win64.sh
  src/test/fuzz/fuzz.cpp
Labels: Build system

#21187 Net processing: Only call PushAddress() from net_processing
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/net_tests.cpp
Labels: P2P

#21211 test: Move P2WSH_OP_TRUE to shared test library
  src/Makefile.test_util.include
  src/test/util/script.h
  src/test/validation_block_tests.cpp
Labels: Tests

#21088 guix: Jump forwards in time-machine and adapt
  contrib/guix/guix-build.sh
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
Labels: Scripts and tools

#20750 [Bundle 2/n] Prune g_chainman usage in mempool-related validation functions
  src/bench/block_assemble.cpp
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/node/transaction.cpp
  src/rpc/rawtransaction.cpp
  src/test/miner_tests.cpp
  src/test/txvalidation_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/util/setup_common.cpp
  src/test/validation_block_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#21243 ci: Avoid invoking curl on the host
  ci/test/05_before_script.sh
Labels: Tests

#20845 net: Log to net debug in MaybeDiscourageAndDisconnect except for noban and manual peers
  src/net_processing.cpp
Labels: P2P, Utils/log/libs

#21202 [validation] Two small clang lock annotation improvements
  doc/developer-notes.md
  src/test/txvalidationcache_tests.cpp
  src/validation.cpp
Labels: Refactoring, Validation

#21255 contrib: run test-symbol-check for RISC-V
  ci/test/00_setup_env_native_multiprocess.sh
  ci/test/00_setup_env_native_qt5.sh
  contrib/devtools/test-symbol-check.py
Labels: Needs Guix build, Needs gitian build, Tests

#21089 guix: Add support for powerpc64{,le}
  contrib/guix/README.md
  contrib/guix/guix-build.sh
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
Labels: Scripts and tools

#21078 guix: only download sources for hosts being built
  contrib/guix/guix-build.sh
Labels: Build system

#21263 doc: Clarify that squashing should happen before review
  CONTRIBUTING.md
Labels: Docs

#19698 test: apply strict verification flags for transaction tests and assert backwards compatibility
  src/test/data/tx_invalid.json
  src/test/data/tx_valid.json
  src/test/transaction_tests.cpp
Labels: Tests

#21274 assumptions: Assume C++17
  build_msvc/common.init.vcxproj
  src/compat/assumptions.h
Labels: Build system

#21222 log: Clarify log message when file does not exist
  src/addrdb.cpp
  src/banman.cpp
  src/net.cpp
Labels: P2P, Utils/log/libs

#16546 External signer support - Wallet Box edition
  build_msvc/bitcoin_config.h
  configure.ac
  doc/Doxyfile.in
  doc/external-signer.md
  src/Makefile.am
  src/dummywallet.cpp
  src/rpc/client.cpp
  src/test/system_tests.cpp
  src/util/error.cpp
  src/util/error.h
  src/util/system.cpp
  src/util/system.h
  src/wallet/external_signer.cpp
  src/wallet/external_signer.h
  src/wallet/external_signer_scriptpubkeyman.cpp
  src/wallet/external_signer_scriptpubkeyman.h
  src/wallet/init.cpp
  src/wallet/interfaces.cpp
  src/wallet/rpcsigner.cpp
  src/wallet/rpcsigner.h
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletutil.h
  test/config.ini.in
  test/functional/mocks/signer.py
  test/functional/rpc_help.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
  test/functional/wallet_signer.py
Labels: RPC/REST/ZMQ, Tests, Wallet

#21053 rpc, test: document {previous,next}blockhash as optional
  src/rpc/blockchain.cpp
  test/functional/rpc_blockchain.py
Labels: RPC/REST/ZMQ

#21250 build: make HAVE_O_CLOEXEC available outside LevelDB (bugfix)
  configure.ac
  src/shutdown.cpp
Labels: Build system, Needs Guix build, Needs gitian build

#21285 wallet: fix doc typo in signer option
  src/wallet/init.cpp
Labels: Wallet

#18017 txmempool: split epoch logic into class
  src/Makefile.am
  src/txmempool.cpp
  src/txmempool.h
  src/util/epochguard.h
Labels: Mempool, Refactoring

#21292 build, doc: Fix configure script output indentation and typos
  configure.ac
  doc/external-signer.md
Labels: Build system, Docs

#21271 guix: Explicitly set umask in build container
  contrib/guix/libexec/build.sh
Labels: Needs Guix build, Scripts and tools

#21200 test: Speed up rpc_blockchain.py by removing miniwallet.generate()
  test/functional/rpc_blockchain.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/wallet.py
  test/functional/wallet_txn_clone.py
  test/functional/wallet_txn_doublespend.py
Labels: Tests

#21252 test: Add missing wait for sync to feature_blockfilterindex_prune
  test/functional/feature_blockfilterindex_prune.py
Labels: Tests

#21264 fuzz: Two scripted diff renames
  configure.ac
  src/test/fuzz/addrman.cpp
  src/test/fuzz/autofile.cpp
  src/test/fuzz/banman.cpp
  src/test/fuzz/bloom_filter.cpp
  src/test/fuzz/buffered_file.cpp
  src/test/fuzz/coins_view.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/crypto.cpp
  src/test/fuzz/crypto_chacha20.cpp
  src/test/fuzz/crypto_chacha20_poly1305_aead.cpp
  src/test/fuzz/data_stream.cpp
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/fuzz.h
  src/test/fuzz/kitchen_sink.cpp
  src/test/fuzz/load_external_block_file.cpp
  src/test/fuzz/merkleblock.cpp
  src/test/fuzz/muhash.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/netaddress.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/policy_estimator_io.cpp
  src/test/fuzz/pow.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/rolling_bloom_filter.cpp
  src/test/fuzz/script.cpp
  src/test/fuzz/script_assets_test_minimizer.cpp
  src/test/fuzz/script_ops.cpp
  src/test/fuzz/scriptnum_ops.cpp
  src/test/fuzz/signet.cpp
  src/test/fuzz/string.cpp
  src/test/fuzz/strprintf.cpp
  src/test/fuzz/system.cpp
  src/test/fuzz/util.h
Labels: Tests

#21254 test: Avoid connecting to real network when running tests
  test/functional/feature_config_args.py
  test/functional/test_framework/util.py
Labels: Tests

#21277 wallet: listdescriptors uses normalized descriptor form
  src/wallet/rpcdump.cpp
  test/functional/wallet_listdescriptors.py
Labels: Wallet

#21272 guix: Passthrough SDK_PATH into container
  contrib/guix/README.md
  contrib/guix/guix-build.sh
  contrib/guix/libexec/build.sh
Labels: Build system

#21297 test: feature_blockfilterindex_prune.py improvements
  test/functional/feature_blockfilterindex_prune.py
Labels: Tests

#21286 build: Bump minimum Qt version to 5.9.5
  configure.ac
  doc/dependencies.md
  src/qt/bitcoin.cpp
Labels: Build system, GUI, Needs Guix build
