Repository bitcoin/bitcoin, pull requests merged in 2021-09, with the labels that each got.

#22740 [addrman] Move serialization code to cpp
  src/addrman.cpp
  src/addrman.h
Labels: P2P

#22009 wallet: Decide which coin selection solution to use based on waste metric
  src/dummywallet.cpp
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/init.cpp
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/rpc_fundrawtransaction.py
Labels: Wallet

#22849 Remove unused SERIALIZE_METHODS for CBanEntry
  src/addrdb.h
  src/test/fuzz/addrdb.cpp
  src/test/fuzz/deserialize.cpp
Labels: Tests

#22437 test, refactor: add GetTransaction() coverage, improve rpc_rawtransaction
  test/functional/rpc_rawtransaction.py
Labels: Tests

#22837 doc: mention bech32m/BIP350 in doc/descriptors.md
  doc/descriptors.md
Labels: Docs

#22512 Consolidate XOnlyPubKey lookup hack
  src/pubkey.cpp
  src/pubkey.h
  src/script/descriptor.cpp
  src/script/sign.cpp
  src/script/signingprovider.h
Labels: Descriptors

#22847 guix/prelude: Override `VERSION` with `FORCE_VERSION`
  contrib/guix/libexec/prelude.bash
Labels: Build system, DrahtBot Guix build requested

#22840 build: fix unoptimized libraries in depends
  depends/packages/bdb.mk
  depends/packages/boost.mk
  depends/packages/zeromq.mk
Labels: Build system

#22836 Stricter BIP32 decoding and test vector 5
  src/key.cpp
  src/pubkey.cpp
  src/test/bip32_tests.cpp
Labels: Utils/log/libs

#22853 fuzz: Remove addrdb fuzz target
  src/Makefile.test.include
  src/test/fuzz/addrdb.cpp
Labels: Tests

#22846 policy: unit test Segwit dust thresholds
  src/test/transaction_tests.cpp
Labels: TX fees and policy

#22843 msvc: update bitcoin_config.h defines
  build_msvc/bitcoin_config.h
Labels: Windows

#22418 release: Remove gitian
  REVIEWERS
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_win64.sh
  contrib/README.md
  contrib/devtools/README.md
  contrib/gitian-build.py
  contrib/gitian-descriptors/assign_DISTNAME
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win-signer.yml
  contrib/gitian-descriptors/gitian-win.yml
  contrib/macdeploy/README.md
  doc/README.md
  doc/gitian-building.md
  test/lint/lint-shell.sh
Labels: Build system, Scripts and tools

#22809 test: Check that non-signaling BIP125 tx can be replaced via parent
  test/functional/feature_rbf.py
Labels: Tests

#22501 netinfo: display addr_{processed, rate_limited, relay_enabled} and relaytxes data
  src/bitcoin-cli.cpp
Labels: Feature, Utils/log/libs

#18448 rpc: fix/add missing RPCExamples for "Util" RPCs
  src/rpc/mining.cpp
  src/rpc/misc.cpp
Labels: RPC/REST/ZMQ

#22100 refactor: Clean up new wallet spend, receive files added #21207
  src/bench/coin_selection.cpp
  src/bench/wallet_balance.cpp
  src/wallet/feebumper.cpp
  src/wallet/interfaces.cpp
  src/wallet/load.cpp
  src/wallet/receive.cpp
  src/wallet/receive.h
  src/wallet/rpcwallet.cpp
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/psbt_wallet_tests.cpp
  src/wallet/test/spend_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/transaction.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/functional/wallet_basic.py
  test/lint/lint-circular-dependencies.sh
Labels: Refactoring, Wallet

#22860 test: Always clear reject reason in IsStandard tx test
  src/test/transaction_tests.cpp
Labels: Tests

#22278 Add LIFETIMEBOUND to CScript where needed
  src/script/script.h
  src/validation.h
Labels: Refactoring

#22859 Replace uses of boost::trim* with locale-independent alternatives (#18130 rebased)
  src/bitcoin-tx.cpp
  src/httprpc.cpp
  src/test/util_tests.cpp
  test/lint/lint-locale-dependence.sh
Labels: Refactoring

#22591 Util: error if settings json exists, but is unreadable
  src/util/settings.cpp
Labels: Utils/log/libs

#22888 build: Update default platform toolset in msvc-autogen.py
  build_msvc/msvc-autogen.py
Labels: Windows, Build system

#22861 test: Update test README and lint script
  .appveyor.yml
  Makefile.am
  ci/lint/04_install.sh
  configure.ac
  doc/fuzzing.md
  src/Makefile.test.include
  test/README.md
  test/config.ini.in
  test/util/test_runner.py
Labels: Tests

#22894 netinfo: clarify client and server versions in header
  src/bitcoin-cli.cpp
Labels: Utils/log/libs

#22841 ci: Fuzz with -ftrivial-auto-var-init=pattern
  ci/test/00_setup_env_native_fuzz.sh
Labels: Tests

#22736 log, sync: change lock contention from preprocessor directive to log category
  src/logging.cpp
  src/logging.h
  src/logging/timer.h
  src/sync.cpp
  src/sync.h
  src/test/logging_tests.cpp
  test/functional/rpc_misc.py
Labels: Tests

#22848 MOVEONLY: Expose BanMapToJson / BanMapFromJson
  src/Makefile.am
  src/addrdb.cpp
  src/addrdb.h
  src/net_types.cpp
  src/net_types.h
Labels: Refactoring

#22791 init: Fix asmap/addrman initialization order bug
  src/addrman.cpp
  src/addrman.h
  src/bench/addrman.cpp
  src/init.cpp
  src/net.cpp
  src/net.h
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/data_stream.cpp
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/net.cpp
  src/test/util/setup_common.cpp
Labels: P2P

#21930 doc: update enumerator naming in developer notes
  doc/developer-notes.md
Labels: Docs

#22397 build: Fix macOS Apple Silicon build with miniupnpc and libnatpmp
  configure.ac
Labels: macOS, Build system

#19833 wallet: Avoid locking cs_wallet recursively
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#21551 ci: Move Windows MSVC build from AppVeyor to Cirrus
  .appveyor.yml
  .cirrus.yml
  .editorconfig
  build_msvc/README.md
  build_msvc/common.qt.init.vcxproj
Labels: Windows, Tests

#22909 ci: Add missed comments and test_bitcoin.exe command line option
  .cirrus.yml
Labels: Tests

#22899 ci: Build and cache static Qt instead of downloading a pre-built one
  .cirrus.yml
Labels: Windows, Tests

#22879 addrman: Fix format string in deserialize error
  src/addrman.cpp
  test/functional/feature_addrman.py
  test/functional/feature_anchors.py
  test/functional/test_runner.py
Labels: P2P

#22920 doc: Move 22.0 release notes from wiki
  doc/release-notes.md
Labels: Docs

#22857 [22.x] Backports
  contrib/guix/libexec/prelude.bash
  doc/descriptors.md
Labels: Backport

#22921 Some small improvements to release notes
  doc/release-notes.md
Labels: Backport

#22903 Enable clang-tidy bugprone-argument-comment and fix violations
  src/.clang-tidy
  src/bench/coin_selection.cpp
  src/qt/test/addressbooktests.cpp
  src/qt/test/wallettests.cpp
  src/signet.cpp
  src/validation.cpp
  src/wallet/load.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring

#22390 system: skip trying to set the locale on NetBSD
  src/util/system.cpp
Labels: Utils/log/libs

#22915 Remove confusing CAddrDB
  src/addrdb.cpp
  src/addrdb.h
  src/addrman.cpp
  src/addrman.h
  src/init.cpp
  src/net.cpp
  src/net.h
  src/qt/bantablemodel.h
  src/qt/walletframe.cpp
  src/test/addrman_tests.cpp
  src/test/fuzz/data_stream.cpp
  src/test/fuzz/integer.cpp
  src/test/fuzz/versionbits.cpp
Labels: Refactoring, P2P

#22922 ci: Fix and enable tests on Windows
  .cirrus.yml
  build_msvc/bitcoind/bitcoind.vcxproj
  test/functional/feature_config_args.py
  test/functional/feature_presegwit_node_upgrade.py
  test/functional/rpc_signer.py
  test/functional/tool_wallet.py
Labels: Tests

#22912 ci: Fix merge_script in MSVC task
  .cirrus.yml
Labels: Tests

#22925 test: Add missing suppression signed-integer-overflow:addrman.cpp
  test/sanitizer_suppressions/ubsan
Labels: Tests

#22079 zmq: Add support to listen on IPv6 addresses
  doc/zmq.md
  src/zmq/zmqpublishnotifier.cpp
  test/functional/interface_zmq.py
Labels: RPC/REST/ZMQ

#22582 test: a test to check descendant limits
  test/functional/mempool_package_limits.py
Labels: Tests

#22923 test: Switch multiprocess to clang i686 build
  .cirrus.yml
  ci/test/00_setup_env_i686_multiprocess.sh
  src/bench/addrman.cpp
Labels: Tests

#22914 util: remove libevent <= 2.0.18 back-compat code
  src/bitcoin-cli.cpp
  src/httpserver.cpp
Labels: DrahtBot Guix build requested

#22904 sync, log: inline lock contention logging macro to fix duration, improve BCLog::LogMsg()
  src/Makefile.am
  src/logging/timer.h
  src/sync.cpp
  src/sync.h
  src/test/logging_tests.cpp
  src/util/types.h
Labels: Tests

#22926 doc: Set PYTHONUTF8=1 for functional tests on Windows
  test/README.md
Labels: Docs, Tests

#22911 [net] Minor cleanups to asmap
  src/addrman.cpp
  src/addrman.h
  src/init.cpp
  src/net.cpp
  src/net.h
  src/netaddress.cpp
  src/netaddress.h
  src/test/fuzz/addrman.cpp
  src/test/fuzz/asmap.cpp
  src/test/fuzz/net.cpp
  src/util/asmap.cpp
  src/util/asmap.h
Labels: P2P, Utils/log/libs

#22675 RBF move 2/3: extract RBF logic into policy/rbf
  src/policy/rbf.cpp
  src/policy/rbf.h
  src/util/rbf.h
  src/validation.cpp
Labels: Refactoring, TX fees and policy, Validation

#22907 test: Avoid intermittent test failure in feature_csv_activation.py
  test/functional/feature_csv_activation.py
Labels: Tests

#22880 doc: Added hyperlink for doc/build
  INSTALL.md
Labels: Docs

#22762 Raise InitError when peers.dat is invalid or corrupted
  src/addrdb.cpp
  src/addrdb.h
  src/init.cpp
  src/test/addrman_tests.cpp
  src/test/fuzz/data_stream.cpp
  test/functional/feature_addrman.py
Labels: P2P

#22908 build: Drop 32-bit build configurations for MSVC
  build_msvc/bitcoin-util/bitcoin-util.vcxproj
  build_msvc/bitcoin.sln
  build_msvc/common.init.vcxproj
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
Labels: Windows, Build system

#22543 test: Use MiniWallet in mempool_limit.py
  test/functional/mempool_limit.py
Labels: Tests

#22971 doc: Add historical release notes for 22.0
  doc/release-notes/release-notes-22.0.md
Labels: Docs

#22979 doc: Fix walletdisplayaddress RPC doc
  src/wallet/rpcwallet.cpp
Labels: Docs

#22219 multiprocess: Start using init makeNode, makeChain, etc methods
  build_msvc/bitcoin-qt/bitcoin-qt.vcxproj
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/dummywallet.cpp
  src/init.cpp
  src/init/bitcoin-node.cpp
  src/init/bitcoind.cpp
  src/interfaces/node.h
  src/node/interfaces.cpp
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/test/test_main.cpp
  src/qt/test/wallettests.cpp
  src/rpc/misc.cpp
  src/test/util/setup_common.cpp
  src/wallet/init.cpp
Labels: Utils/log/libs, interfaces

#22970 doc: Update snap release process for new versioning scheme
  doc/release-process.md
Labels: Docs

#22960 test: Set peertimeout in write_config
  test/functional/feature_bip68_sequence.py
  test/functional/feature_csv_activation.py
  test/functional/feature_maxuploadtarget.py
  test/functional/test_framework/util.py
Labels: Tests

#22955 p2p: Rename fBlocksOnly, Add test
  src/net_processing.cpp
  test/functional/p2p_blocksonly.py
  test/functional/test_framework/wallet.py
Labels: P2P

#22895 consensus: don't call GetBlockPos in ReadBlockFromDisk without cs_main lock
  src/node/blockstorage.cpp
Labels: Block storage

#22544 cli -addrinfo: drop torv2; torv3 becomes onion per GetNetworkName()
  doc/release-notes.md
  doc/tor.md
  src/bitcoin-cli.cpp
Labels: Utils/log/libs

#22930 build: remove glibc back compat
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_native_nowallet.sh
  ci/test/00_setup_env_native_qt5.sh
  configure.ac
  doc/build-unix.md
  doc/dependencies.md
  src/Makefile.am
  src/compat/glibc_compat.cpp
Labels: Build system

#22626 Remove txindex migration code
  src/index/base.h
  src/index/txindex.cpp
  src/index/txindex.h
  src/init.cpp
  src/txdb.cpp
  src/txdb.h
  src/validation.cpp
  src/validation.h
Labels: UTXO Db and Indexes

#22845 build: improve check for ::(w)system
  configure.ac
Labels: Build system

#22420 doc: Specifiy how to set the value of TORGROUP
  doc/tor.md
Labels: Docs

#22941 wallet: refactor: inline functions `{Read,Write}OrderPos`
  src/wallet/transaction.h
Labels: Wallet

#22896 refactor: net: avoid duplicate map lookups to `mapLocalHost`
  src/net.cpp
Labels: Refactoring, P2P

#23007 doc: remove WSL install instructions and point to upstream
  doc/build-windows.md
Labels: Docs, Windows

#23037 test: fix confusing off-by-one nValue in feature_coinstatsindex.py
  test/functional/feature_coinstatsindex.py
Labels: Tests

#22959 cli: Display all proxies in -getinfo
  src/bitcoin-cli.cpp
  test/functional/interface_bitcoin_cli.py
Labels: Utils/log/libs

#12677 RPC: Add ancestor{count,size,fees} to listunspent output
  doc/release-notes-12677.md
  src/interfaces/chain.h
  src/node/interfaces.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/wallet/rpcwallet.cpp
  test/functional/mempool_packages.py
Labels: RPC/REST/ZMQ

#22974 addrman: Improve performance of Good
  src/addrman.cpp
  src/test/fuzz/addrman.cpp
Labels: P2P

#23043 ci: Set --nocleanup for Windows functional tests
  .cirrus.yml
Labels: Tests

#23014 ci: Bump distro version, disable feature_bind_extra for two configurations
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/00_setup_env_s390x.sh
Labels: Tests

#23001 doc: Enable TLS in links in documentation
  CONTRIBUTING.md
  contrib/guix/INSTALL.md
  contrib/guix/README.md
  doc/developer-notes.md
  src/test/data/README.md
  test/functional/README.md
Labels: Docs

#23050 log: change an incorrect fee to fee rate, and vice-versa
  src/miner.cpp
  src/txmempool.cpp
Labels: Utils/log/libs

#23017 test: Replace MiniWallet scan_blocks with rescan_utxos
  test/functional/feature_rbf.py
  test/functional/mempool_reorg.py
  test/functional/mempool_spend_coinbase.py
  test/functional/rpc_blockchain.py
  test/functional/test_framework/wallet.py
Labels: Tests

#22831 test: add addpeeraddress "tried", test addrman checks on restart with asmap
  src/rpc/client.cpp
  src/rpc/net.cpp
  test/functional/feature_asmap.py
  test/functional/rpc_net.py
Labels: Tests

#22993 build: set OSX_MIN_VERSION to 10.15
  .cirrus.yml
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_mac_host.sh
  contrib/devtools/symbol-check.py
  contrib/devtools/test-symbol-check.py
  contrib/guix/README.md
  contrib/guix/guix-build
  contrib/guix/guix-codesign
  contrib/guix/libexec/build.sh
  depends/README.md
  depends/hosts/darwin.mk
  doc/release-notes.md
  share/qt/Info.plist.in
Labels: macOS, Build system

#22734 addrman: Avoid crash on corrupt data, Force Check after deserialize
  src/Makefile.test.include
  src/addrman.cpp
  src/addrman.h
  src/test/fuzz/addrman.cpp
  src/test/fuzz/data_stream.cpp
  test/functional/feature_addrman.py
Labels: P2P

#22790 test: add aarch64-apple-darwin platform entry to get_previous_releases
  test/get_previous_releases.py
Labels: Tests

#23044 refactor: Remove unused validation includes
  src/test/fuzz/utxo_snapshot.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#22798 doc: Fix RPC result documentation
  src/rpc/blockchain.cpp
  src/rpc/external_signer.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/wallet/rpcwallet.cpp
Labels: Docs, RPC/REST/ZMQ

#23054 Use C++11 member initializer in CTxMemPoolEntry
  src/txmempool.cpp
  src/txmempool.h
Labels: Refactoring, Mempool

#23059 test: Revert "Add missing suppression signed-integer-overflow:addrman.cpp"
  test/sanitizer_suppressions/ubsan
Labels: Tests

#22855 RBF move 3/3: move followups + improve RBF documentation
  src/policy/rbf.cpp
  src/policy/rbf.h
  src/util/rbf.h
  src/validation.cpp
Labels: Docs, TX fees and policy

#23036 test: use test_framework.p2p `P2P_SERVICES` constant in functional tests
  test/functional/p2p_addr_relay.py
  test/functional/p2p_addrfetch.py
  test/functional/p2p_addrv2_relay.py
  test/functional/p2p_segwit.py
  test/functional/rpc_net.py
  test/functional/test_framework/p2p.py
Labels: Tests

#22858 [0.21] Final changes for 0.21.2
  configure.ac
  doc/descriptors.md
  doc/release-notes.md
Labels: Backport

#23045 build: Restrict check for CRC32C intrinsic to aarch64
  configure.ac
Labels: Build system, Needs backport (0.21), Needs backport (22.x)

#23072 log: Remove unnecessary timing of Callbacks bench
  src/validation.cpp
Labels: Validation

#23057 log: Consolidate timedata logging
  src/timedata.cpp
Labels: Utils/log/libs

#21526 validation: UpdateTip/CheckBlockIndex assumeutxo support
  src/Makefile.test_util.include
  src/chain.h
  src/test/util/chainstate.h
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  src/test/validation_chainstate_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/test/validation_flush_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Validation

#22818 test: Activate all regtest softforks at height 1, unless overridden
  doc/release-notes.md
  src/chainparams.cpp
  src/chainparamsbase.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  test/functional/feature_bip68_sequence.py
  test/functional/feature_block.py
  test/functional/feature_cltv.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dersig.py
  test/functional/feature_nulldummy.py
  test/functional/feature_presegwit_node_upgrade.py
  test/functional/feature_segwit.py
  test/functional/p2p_segwit.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_signrawtransaction.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/util.py
Labels: Validation

#23047 test: Use MiniWallet in mempool_persist
  test/functional/mempool_persist.py
  test/functional/test_framework/wallet.py
Labels: Tests

#23025 bench: update nanobench add `-min_time`
  src/bench/addrman.cpp
  src/bench/bech32.cpp
  src/bench/bench.cpp
  src/bench/bench.h
  src/bench/bench_bitcoin.cpp
  src/bench/crypto_hash.cpp
  src/bench/nanobench.h
  src/bench/peer_eviction.cpp
  src/bench/rollingbloom.cpp
Labels: Tests, Upstream

#22817 test: Avoid race after connect_nodes
  test/functional/test_framework/test_framework.py
Labels: Tests

#23089 ci: Increase the dynamic port range to the maximum on native Windows
  .cirrus.yml
Labels: Windows, Tests

#23086 test: Add -testactivationheight tests to rpc_blockchain
  test/functional/rpc_blockchain.py
Labels: Tests

#23065 Allow UTXO locks to be written to wallet DB
  doc/release-notes-23065.md
  src/interfaces/wallet.h
  src/qt/coincontroldialog.cpp
  src/rpc/client.cpp
  src/wallet/interfaces.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/wallet_basic.py
Labels: Feature, Wallet

#23084 test: avoid non-determinism in asmap-addrman test
  test/functional/feature_asmap.py
Labels: Tests

#23092 test: Remove Windows workaround in authproxy
  test/functional/test_framework/authproxy.py
Labels: Tests

#23061 Fix (inverse) meaning of -persistmempool
  doc/release-notes.md
  src/init.cpp
  src/validation.cpp
  test/functional/mempool_persist.py
Labels: Mempool, Needs backport (22.x)

#23094 doc: Remove outdated comments
  src/init.cpp
Labels: Docs

#23102 test: Add missing re.escape() to feature_addrman test
  .cirrus.yml
  test/functional/feature_addrman.py
Labels: Tests

#22892 doc: Clarify that change_cost cannot be negative in GetSelectionWaste
  src/wallet/coinselection.h
Labels: Docs

#22579 doc: Add references for the generator/constant used in Bech32(m)
  src/bech32.cpp
Labels: Docs

#23021 net: switch to signet DNS seed
  src/chainparams.cpp
Labels: P2P, Validation

#22976 scripted-diff: Rename overloaded int GetArg to GetIntArg
  src/addrdb.cpp
  src/bench/bench_bitcoin.cpp
  src/bitcoin-cli.cpp
  src/httpserver.cpp
  src/init.cpp
  src/miner.cpp
  src/net.cpp
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/qt/intro.cpp
  src/rpc/blockchain.cpp
  src/rpc/server.cpp
  src/script/sigcache.cpp
  src/test/fuzz/system.cpp
  src/test/getarg_tests.cpp
  src/test/util_tests.cpp
  src/timedata.cpp
  src/txdb.cpp
  src/util/system.cpp
  src/util/system.h
  src/validation.cpp
  src/wallet/bdb.cpp
  src/wallet/rpcdump.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/wallet.cpp
  src/zmq/zmqnotificationinterface.cpp
Labels: Refactoring

#23103 ci: Enable feature_asmap.py test on native Windows
  .cirrus.yml
Labels: Tests

#23060 release: increase minimum compiler and lib(std)c++ requirements
  ci/test/00_setup_env_native_nowallet.sh
  ci/test/00_setup_env_native_qt5.sh
  doc/dependencies.md
Labels: Docs, Build system

#22942 fuzz: Cleanup muhash fuzz target
  src/test/fuzz/muhash.cpp
Labels: Refactoring, Tests

#22938 test: Add remaining scenarios of 0 waste, in wallet waste_test
  src/wallet/test/coinselector_tests.cpp
Labels: Tests

#23106 Ensure wallet is unlocked before signing PSBT with walletprocesspsbt and GUI
  src/qt/psbtoperationsdialog.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_psbt.py
Labels: GUI, Wallet, RPC/REST/ZMQ

#23117 test: Use assert_equal over assert for easier debugging
  test/functional/feature_segwit.py
Labels: Tests

#22650 Remove -deprecatedrpc=addresses flag and corresponding code/logic
  doc/release-notes.md
  src/bitcoin-tx.cpp
  src/core_io.h
  src/core_write.cpp
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/rpc/rawtransaction.cpp
  src/script/standard.cpp
  src/script/standard.h
  src/test/fuzz/script.cpp
  src/test/fuzz/transaction.cpp
  src/test/script_standard_tests.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_addresses_deprecation.py
  test/functional/test_runner.py
Labels: Wallet, RPC/REST/ZMQ, Utils/log/libs

#22722 rpc: update estimatesmartfee to return max of CBlockPolicyEstimator::estimateSmartFee, mempoolMinFee and minRelayTxFee
  src/rpc/mining.cpp
  test/functional/feature_fee_estimation.py
Labels: RPC/REST/ZMQ, Mining

#20591 wallet, bugfix: fix ComputeTimeSmart function during rescanning process.
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_runner.py
  test/functional/wallet_transactiontime_rescan.py
Labels: Wallet

#23122 doc: Remove un-actionable TODO from chainparams.cpp
  src/chainparams.cpp
Labels: Validation

#23108 ci: Enable extended tests on native Windows
  .cirrus.yml
Labels: Tests

#23120 test: Remove unused and confusing main parameter from script_util
  test/functional/test_framework/script_util.py
Labels: Tests

#23079 test: use MiniWallet for p2p_filter.py
  test/functional/feature_rbf.py
  test/functional/p2p_filter.py
  test/functional/test_framework/wallet.py
Labels: Tests

#23124 Fix feature_segwit.py failure due to witness
  test/functional/feature_segwit.py
Labels: Tests

#23126 doc: update developer docs for subtree renaming
  doc/developer-notes.md
  test/lint/README.md
Labels: Docs

#23112 wallet: enable SQLite extended result codes
  src/wallet/sqlite.cpp
Labels: Wallet

#23130 doc: Revert "Remove outdated comments" and place comment correctly
  src/init.cpp
Labels: Docs

#23133 Update crc32c subtree
  src/crc32c/.travis.yml
  src/crc32c/.ycm_extra_conf.py
  src/crc32c/README.md
  src/crc32c/src/crc32c_arm64_check.h
Labels: Utils/log/libs, DrahtBot Guix build requested

#23082 build: improve gexauxval() detection, remove getauxval() weak linking
  configure.ac
  src/Makefile.crc32c.include
  src/randomenv.cpp
Labels: Build system

#23104 log: Avoid breaking single log lines over multiple lines in the log file
  src/sync.cpp
  src/wallet/coinselection.cpp
  test/functional/test_framework/util.py
  test/lint/lint-logs.sh
Labels: Utils/log/libs

#20457 util: Make Parse{Int,UInt}{32,64} use locale independent std::from_chars(…) (C++17) instead of locale dependent strto{l,ll,ul,ull}
  src/test/fuzz/string.cpp
  src/test/util_tests.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
  test/lint/lint-locale-dependence.sh
Labels: Utils/log/libs
