Repository bitcoin/bitcoin, pull requests merged in 2022-05, with the labels that each got.

#25043 Reject invalid rpcauth formats
  src/httprpc.cpp
  test/functional/rpc_users.py
Labels: RPC/REST/ZMQ

#25017 validation: make CScriptCheck and prevector swap members noexcept
  src/bench/checkqueue.cpp
  src/prevector.h
  src/test/checkqueue_tests.cpp
  src/test/fuzz/checkqueue.cpp
  src/test/fuzz/prevector.cpp
  src/test/prevector_tests.cpp
  src/validation.h
Labels: Validation

#25042 lint: Fix lint-circular-dependencies.py file list
  test/lint/lint-circular-dependencies.py
  test/lint/lint-format-strings.py
Labels: Tests

#25029 rpc: Move fee estimation RPCs to separate file
  ci/test/06_script_b.sh
  src/Makefile.am
  src/rpc/fees.cpp
  src/rpc/mining.cpp
  src/rpc/register.h
Labels: Refactoring

#24941 test: MiniWallet: support skipping mempool checks (feature_fee_estimation.py performance fix)
  test/functional/feature_csv_activation.py
  test/functional/test_framework/wallet.py
Labels: Tests

#25053 Guard `#include <config/bitcoin-config.h>`
  src/shutdown.cpp
  src/util/tokenpipe.cpp
Labels: Utils/log/libs

#24470 Disallow more unsafe string->path conversions allowed by path append operators
  src/addrdb.cpp
  src/flatfile.cpp
  src/fs.h
  src/index/blockfilterindex.cpp
  src/net.cpp
  src/qt/guiutil.cpp
  src/test/util/chainstate.h
  src/test/util_tests.cpp
  src/util/getuniquepath.cpp
  src/util/system.cpp
  src/util/system.h
  src/validation.cpp
  src/validation.h
  src/wallet/bdb.cpp
  src/wallet/bdb.h
  src/wallet/test/db_tests.cpp
  src/wallet/test/fuzz/notifications.cpp
  src/wallet/test/init_test_fixture.cpp
Labels: Refactoring

#25047 tidy: add readability-redundant-declaration
  src/.clang-tidy
  src/netaddress.cpp
  src/randomenv.cpp
Labels: Refactoring

#25045 test: add coverage for invalid requests for `blockfilterheaders` (REST)
  test/functional/interface_rest.py
Labels: Tests

#25040 refactor: Pass lifetimebound reference to SingleThreadedSchedulerClient
  src/scheduler.cpp
  src/scheduler.h
  src/test/scheduler_tests.cpp
  src/validationinterface.cpp
Labels: Refactoring

#25058 rpc: Move output script RPCs to separate file, rename misc.cpp
  src/Makefile.am
  src/rpc/node.cpp
  src/rpc/output_script.cpp
  src/rpc/register.h
Labels: Refactoring, RPC/REST/ZMQ

#25060 blockstorage: add LIFETIMEBOUND to GetFirstStoredBlock()::start_time
  src/node/blockstorage.h
Labels: Block storage

#25046 build: Fix `libmultiprocess` cross-compiling to Linux hosts
  depends/funcs.mk
  depends/packages/libmultiprocess.mk
Labels: Build system

#25057 refactor: replace remaining boost::split with SplitString
  src/core_read.cpp
  src/httprpc.cpp
  src/test/fuzz/string.cpp
  src/test/util_tests.cpp
  src/util/spanparsing.h
  src/util/string.h
  test/lint/lint-includes.py
Labels: Refactoring, RPC/REST/ZMQ, Utils/log/libs

#24993 test, contrib, refactor: use `with` when opening a file
  contrib/devtools/copyright_header.py
  contrib/linearize/linearize-data.py
  contrib/linearize/linearize-hashes.py
  contrib/verify-commits/verify-commits.py
  test/functional/feature_config_args.py
  test/functional/feature_versionbits_warning.py
  test/util/test_runner.py
Labels: Scripts and tools

#24852 util: optimize HexStr
  src/Makefile.bench.include
  src/bench/strencodings.cpp
  src/test/util_tests.cpp
  src/util/strencodings.cpp
Labels: Build system, Utils/log/libs

#24933 util: Replace non-threadsafe strerror
  src/Makefile.am
  src/bitcoind.cpp
  src/fs.cpp
  src/init.cpp
  src/util/sock.cpp
  src/util/syserror.cpp
  src/util/syserror.h
  src/util/system.cpp
  test/lint/lint-locale-dependence.py
Labels: Utils/log/libs

#22235 script: add script to generate example bitcoin.conf
  contrib/devtools/README.md
  contrib/devtools/gen-bitcoin-conf.sh
  contrib/guix/libexec/build.sh
  doc/bitcoin-conf.md
  doc/release-process.md
  share/examples/bitcoin.conf
  src/init.cpp
Labels: Build system, Scripts and tools

#24141 Rename message_command variables in src/net* and src/rpc/net.cpp
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
Labels: Refactoring

#24866 build: No longer need to hack the `PATH` variable in `config.site`
  Makefile.am
  configure.ac
  contrib/macdeploy/macdeployqtplus
  depends/Makefile
  depends/builders/darwin.mk
  depends/builders/default.mk
  depends/config.site.in
  depends/hosts/darwin.mk
  depends/hosts/default.mk
Labels: Build system

#24566 build: Drop redundant checks for ranlib and strip tools
  configure.ac
Labels: Build system

#24840 test: port 'lint-shell.sh' to python
  REVIEWERS
  test/README.md
  test/lint/lint-shell.py
  test/lint/lint-shell.sh
Labels: Docs, Tests

#25006 guix: consolidate kernel headers to 5.15, specify 3.2.0 as minimum supported
  contrib/guix/manifest.scm
  doc/dependencies.md
Labels: Build system, DrahtBot Guix build requested

#25068 Wrap boost::replace_all
  src/Makefile.am
  src/init.cpp
  src/torcontrol.cpp
  src/util/string.cpp
  src/util/string.h
  src/util/system.cpp
  src/validation.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#24538 miner: bug fix? update for ancestor inclusion using modified fees, not base
  src/node/miner.h
  src/test/miner_tests.cpp
Labels: Mining

#19426 refactor: Change * to & in MutableTransactionSignatureCreator
  src/bitcoin-tx.cpp
  src/psbt.cpp
  src/rpc/rawtransaction.cpp
  src/script/sign.cpp
  src/script/sign.h
  src/test/descriptor_tests.cpp
  src/test/fuzz/script_sign.cpp
  src/test/script_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txvalidationcache_tests.cpp
Labels: Refactoring

#25063 test: previous releases: add v23.0
  ci/test/00_setup_env_native_qt5.sh
  test/README.md
  test/functional/feature_backwards_compatibility.py
  test/get_previous_releases.py
Labels: Tests

#24804 Sanity assert GetAncestor() != nullptr where appropriate
  src/consensus/tx_verify.cpp
  src/rpc/blockchain.cpp
  src/test/miner_tests.cpp
  src/validation.cpp
  src/versionbits.cpp
Labels: Refactoring

#25078 doc: Shorten explanation of "maintainers"
  CONTRIBUTING.md
Labels: Docs

#24946 Unroll the ChaCha20 inner loop for performance
  src/crypto/chacha20.cpp
Labels: Utils/log/libs

#25091 test: Remove extended lint (cppcheck)
  test/lint/extended-lint-all.sh
  test/lint/extended-lint-cppcheck.sh
Labels: Tests

#25079 index: Change sync variables to use `std::chrono::steady_clock`
  src/index/base.cpp
Labels: UTXO Db and Indexes

#24921 Add time helpers for std::chrono::steady_clock and FastRandomContext::rand_uniform_delay
  src/random.h
  src/test/random_tests.cpp
  src/test/util_tests.cpp
  src/util/time.h
Labels: Refactoring

#24793 test: Change color of skipped functional tests
  test/functional/test_runner.py
Labels: Tests

#25090 doc: Explain Bitcoin Core instead of Bitcoin in README.md
  README.md
Labels: Docs

#25104 wallet: Change log interval to use `steady_clock`
  src/wallet/wallet.cpp
Labels: Wallet

#25100 Switch scheduler to steady_clock
  src/scheduler.cpp
  src/scheduler.h
  src/test/scheduler_tests.cpp
Labels: Utils/log/libs

#25051 Bugfix: configure: Define defaults for enable_arm_{crc,shani}
  configure.ac
Labels: Build system

#24925 refactor: make GetRand a template, remove GetRandInt
  src/addrdb.cpp
  src/blockencodings.cpp
  src/common/bloom.cpp
  src/init.cpp
  src/net.cpp
  src/net_processing.cpp
  src/netaddress.h
  src/random.cpp
  src/random.h
  src/test/random_tests.cpp
  src/util/bytevectorhash.cpp
  src/util/hasher.cpp
Labels: Refactoring, Utils/log/libs

#25099 guix: bump time-machine to 998eda3067c7d21e0d9bb3310d2f5a14b8f1c681
  contrib/guix/libexec/prelude.bash
Labels: Build system, DrahtBot Guix build requested

#25115 scripted-diff: replace non-standard fixed width integer types (`u_int`... -> `uint`...)
  src/validation.cpp
  src/wallet/bdb.cpp
  src/wallet/bdb.h
Labels: Refactoring

#25121 test: compare `/mempool/info` response with `getmempoolinfo` RPC
  test/functional/interface_rest.py
Labels: Tests

#25119 net, refactor: move StartExtraBlockRelayPeers() from header to implementation
  src/net.cpp
  src/net.h
Labels: Refactoring, P2P

#25117 test: Check msg type in msg capture is followed by zeros
  test/functional/p2p_message_capture.py
Labels: Tests

#24595 deploymentstatus: move g_versionbitscache global to ChainstateManager
  src/bitcoin-chainstate.cpp
  src/deploymentstatus.cpp
  src/deploymentstatus.h
  src/init.cpp
  src/net_processing.cpp
  src/node/miner.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/fuzz/utxo_snapshot.cpp
  src/test/miner_tests.cpp
  src/test/util/mining.cpp
  src/test/util/setup_common.cpp
  src/test/validation_block_tests.cpp
  src/test/validation_chainstate_tests.cpp
  src/test/versionbits_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#25113 Bump univalue subtree
  src/univalue/README.md
  src/univalue/configure.ac
  src/univalue/gen/gen.cpp
  src/univalue/include/univalue.h
  src/univalue/lib/univalue.cpp
  src/univalue/lib/univalue_get.cpp
  src/univalue/lib/univalue_read.cpp
  src/univalue/lib/univalue_write.cpp
  src/univalue/test/no_nul.cpp
  src/univalue/test/object.cpp
  src/univalue/test/test_json.cpp
  src/univalue/test/unitester.cpp
Labels: Upstream, DrahtBot Guix build requested

#25123 test: Fix race condition in index prune test
  test/functional/feature_index_prune.py
Labels: Tests

#25092 doc: various developer notes updates
  doc/developer-notes.md
Labels: Docs

#25067 validationinterface: make MainSignalsInstance() a class, drop unused forward declarations
  src/validationinterface.cpp
  src/validationinterface.h
Labels: Validation

#20799 net processing: Only support version 2 compact blocks
  src/net_processing.cpp
  test/functional/p2p_compactblocks.py
  test/functional/p2p_compactblocks_blocksonly.py
Labels: P2P

#25109 Strengthen AssertLockNotHeld assertions
  src/checkqueue.h
  src/httpserver.cpp
  src/i2p.h
  src/index/blockfilterindex.h
  src/net.h
  src/net_processing.cpp
  src/qt/clientmodel.h
  src/random.cpp
  src/scheduler.h
  src/sync.h
  src/threadinterrupt.h
  src/validationinterface.cpp
  src/versionbits.h
Labels: Refactoring

#25095 rpc: Fix implicit-integer-sign-change in gettxout
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#25125 test: Slim down versionbits_tests.cpp
  src/test/versionbits_tests.cpp
Labels: Tests

#23662 rpc: improve `getreceivedby{address,label}` performance
  src/wallet/rpc/coins.cpp
Labels: Wallet, RPC/REST/ZMQ

#25019 parse external signer master fp as bytes in ExternalSigner::SignTransaction
  src/external_signer.cpp
Labels: Wallet

#25114 rpc: remove deprecated "softforks" field from getblockchaininfo
  doc/release-notes.md
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#24062 refactor: replace RecursiveMutex `m_most_recent_block_mutex` with Mutex
  src/net_processing.cpp
Labels: Refactoring, P2P

#20640 wallet, refactor: return out-params of CreateTransaction() as optional struct
  src/wallet/feebumper.cpp
  src/wallet/interfaces.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/spend_tests.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring, Wallet

#23679 Sanitize `port` in `addpeeraddress()`
  src/rpc/net.cpp
  test/functional/rpc_net.py
Labels: RPC/REST/ZMQ

#25159 test: use `sendall` in wallet_taproot.py tests
  test/functional/wallet_taproot.py
Labels: Tests

#25076 guix: native GCC 10 toolchain for Linux builds
  contrib/guix/manifest.scm
  contrib/guix/patches/glibc-2.24-fcommon.patch
  contrib/guix/patches/glibc-2.27-dont-redefine-nss-database.patch
  contrib/guix/patches/glibc-2.27-riscv64-Use-__has_include-to-include-asm-syscalls.h.patch
Labels: Build system

#25124 test: Fix intermittent race in p2p_unrequested_blocks.py
  test/functional/p2p_unrequested_blocks.py
Labels: Tests

#25148 refactor: Remove `NO_THREAD_SAFETY_ANALYSIS` from non-test/benchmarking code
  src/wallet/interfaces.cpp
  src/wallet/receive.cpp
  src/wallet/receive.h
  src/wallet/rpc/transactions.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Refactoring, Wallet, RPC/REST/ZMQ

#25157 Fix -rpcwait with -netinfo returning negative time durations
  src/bitcoin-cli.cpp
Labels: Utils/log/libs

#25126 test: add BIP157 message parsing support (via MESSAGEMAP)
  test/functional/test_framework/messages.py
  test/functional/test_framework/p2p.py
Labels: Tests

#25108 tidy: add modernize-use-default-member-init
  src/.clang-tidy
  src/bench/checkqueue.cpp
  src/bench/prevector.cpp
  src/bitcoin-cli.cpp
  src/httpserver.cpp
  src/index/txindex.cpp
  src/net.cpp
  src/netaddress.cpp
  src/node/context.cpp
  src/policy/fees.cpp
  src/qt/addresstablemodel.cpp
  src/qt/bantablemodel.cpp
  src/qt/notificator.cpp
  src/qt/overviewpage.cpp
  src/qt/paymentserver.cpp
  src/qt/peertablemodel.cpp
  src/qt/recentrequeststablemodel.cpp
  src/qt/rpcconsole.cpp
  src/qt/transactiontablemodel.cpp
  src/qt/walletframe.cpp
  src/qt/walletview.cpp
  src/random.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/util.cpp
  src/scheduler.cpp
  src/script/sign.cpp
  src/support/lockedpool.cpp
  src/test/checkqueue_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/fuzz/signature_checker.cpp
  src/test/script_tests.cpp
  src/test/util_tests.cpp
  src/torcontrol.cpp
  src/txdb.cpp
  src/util/system.cpp
  src/validation.cpp
  src/wallet/context.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/walletdb.cpp
Labels: Refactoring

#25161 rpc: Put undocumented JSON failure mode behind a runtime flag
  src/init.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  test/functional/test_framework/util.py
Labels: RPC/REST/ZMQ

#22778 net processing: Reduce resource usage for inbound block-relay-only connections
  src/net_processing.cpp
Labels: P2P

#25147 Net processing: follow ups to #20799 (removing support for v1 compact blocks)
  src/blockencodings.cpp
  src/blockencodings.h
  src/net_processing.cpp
  src/test/blockencodings_tests.cpp
  test/functional/p2p_compactblocks.py
Labels: Refactoring, P2P

#25166 doc: Add link to NetBSD release
  doc/build-netbsd.md
Labels: Docs

#25074 index: During sync, commit best block after indexing
  src/index/base.cpp
Labels: UTXO Db and Indexes

#25153 scripted-diff: Use getInt<T> over get_int/get_int64
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/httprpc.cpp
  src/net_types.cpp
  src/node/interfaces.cpp
  src/qt/rpcconsole.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/rpc/node.cpp
  src/rpc/output_script.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rawtransaction_util.cpp
  src/rpc/request.cpp
  src/rpc/server.cpp
  src/rpc/util.cpp
  src/test/blockfilter_tests.cpp
  src/test/fuzz/script_assets_test_minimizer.cpp
  src/test/rpc_tests.cpp
  src/test/script_standard_tests.cpp
  src/test/script_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/util/settings.h
  src/util/system.cpp
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/encrypt.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/rpc/wallet.cpp
Labels: Refactoring

#25101 Add mockable clock type
  src/bitcoin-cli.cpp
  src/test/util_tests.cpp
  src/util/time.cpp
  src/util/time.h
Labels: Refactoring

#25173 test: add coverage for unknown network in -onlynet
  test/functional/feature_proxy.py
Labels: Tests

#24830 init: Allow -proxy="" setting values
  src/init.cpp
  src/util/system.cpp
  src/util/system.h
  test/functional/feature_config_args.py
Labels: Utils/log/libs

#25170 build: Enable RPC_DOC_CHECK on --enable-debug
  configure.ac
  src/rpc/util.h
Labels: Build system, RPC/REST/ZMQ

#25171 rpc: wallet: remove `-deprecatedrpc=exclude_coinbase` logic
  doc/release-notes.md
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/transactions.cpp
  test/functional/wallet_listreceivedby.py
Labels: Wallet, RPC/REST/ZMQ

#23595 util: Add ParseHex<std::byte>() helper
  src/key.cpp
  src/key.h
  src/test/bip32_tests.cpp
  src/test/fuzz/hex.cpp
  src/test/key_io_tests.cpp
  src/test/util_tests.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
Labels: Refactoring

#25168 refactor: Avoid passing params where not needed
  src/bitcoin-chainstate.cpp
  src/init.cpp
  src/net_processing.cpp
  src/net_processing.h
  src/node/chainstate.cpp
  src/node/chainstate.h
  src/node/interfaces.cpp
  src/node/miner.cpp
  src/node/miner.h
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/txoutproof.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/miner_tests.cpp
  src/test/util/mining.cpp
  src/test/util/setup_common.cpp
  src/test/validation_block_tests.cpp
Labels: Refactoring

#24820 test: 3 new tests for SelectCoins function
  src/wallet/test/coinselector_tests.cpp
Labels: Wallet

#25175 refactor: Improve thread safety analysis by propagating some negative capabilities
  src/net_processing.cpp
Labels: Refactoring, P2P

#25178 doc: remove passing `--disable-external-signer` in OpenBSD build guide
  doc/build-openbsd.md
Labels: Docs

#25122 rpc: getreceivedbylabel, return early if no addresses were found in the address book
  doc/release-notes.md
  src/wallet/rpc/coins.cpp
  test/functional/wallet_listreceivedby.py
Labels: Wallet, RPC/REST/ZMQ

#25015 test: Use permissions from git in lint-files.py
  test/lint/lint-files.py
Labels: Tests

#25176 Fix frequent -netinfo JSON errors from missing getpeerinfo#relaytxes
  src/bitcoin-cli.cpp
Labels: Utils/log/libs

#25149 refactor: Add thread safety annotation to `BanMan::SweepBanned()`
  src/banman.cpp
  src/banman.h
Labels: Refactoring

#24410 [kernel 2a/n] Split hashing/index `GetUTXOStats` codepaths, decouple from `coinstatsindex`
  src/Makefile.am
  src/index/coinstatsindex.cpp
  src/index/coinstatsindex.h
  src/kernel/coinstats.cpp
  src/kernel/coinstats.h
  src/rpc/blockchain.cpp
  src/rpc/util.h
  src/test/coinstatsindex_tests.cpp
  src/test/fuzz/coins_view.cpp
  src/validation.cpp
  test/lint/lint-circular-dependencies.py
Labels: Build system, UTXO Db and Indexes, RPC/REST/ZMQ, Validation

#24464 logging: Add severity level to logs
  src/logging.cpp
  src/logging.h
  src/net.cpp
  src/test/logging_tests.cpp
Labels: Utils/log/libs

#25180 [22.x] qt: Avoid crash on startup if int specified in settings.json
  src/util/system.cpp
Labels: Backport

#25197 contrib: Remove keys that are no longer used for merging
  contrib/verify-commits/trusted-git-root
  contrib/verify-commits/trusted-keys
Labels: Scripts and tools

#25213 fuzz: fix crash at coinselection, add missing fee rate.
  src/wallet/test/fuzz/coinselection.cpp
Labels: Wallet

#25132 consensus: Add BIP-341 specified constraints in `ComputeTaprootMerkleRoot`
  src/script/interpreter.cpp
Labels: Consensus

#25202 log: Use severity-based logging for leveldb/libevent messages, reverse LogPrintLevel order
  src/dbwrapper.cpp
  src/httpserver.cpp
  src/logging.h
  src/net.cpp
  src/test/logging_tests.cpp
  src/timedata.cpp
  src/wallet/coinselection.cpp
Labels: Utils/log/libs

#25210 doc: remove misleading AreInputsStandard() comment
  src/validation.cpp
Labels: Docs

#25216 Doc: Fix parameter in hwm example block
  doc/zmq.md
Labels: Docs

#25003 tracing: fix `coin_selection:aps_create_tx_internal` calling logic
  src/wallet/spend.cpp
Labels: Wallet

#24032 Add defaults to vDeployments to avoid uninitialized variables
  src/consensus/params.h
  src/test/versionbits_tests.cpp
Labels: Refactoring, Consensus

#25217 scripts and tools: update lint-logs.py to detect LogPrintLevel, mention WalletLogPrintf
  test/lint/lint-logs.py
Labels: Tests

#25201 windeploy: Renewed windows code signing certificate
  contrib/windeploy/win-codesign.cert
Labels: Scripts and tools, Needs backport (22.x), Needs backport (23.x)

#24408 rpc: add rpc to get mempool txs spending specific prevouts
  doc/release-notes/release-notes-24408.md
  src/rpc/client.cpp
  src/rpc/mempool.cpp
  src/test/fuzz/rpc.cpp
  test/functional/mempool_packages.py
  test/functional/rpc_mempool_info.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#25214 multiprocess build fix: ipc/capnp/init.capnp.h: No such file or directory
  src/Makefile.am
Labels: Build system, DrahtBot Guix build requested

#25224 Get time less often in AddrManImpl::ResolveCollisions_()
  src/addrman.cpp
Labels: Refactoring

#25231 ci: Install documented packages for "Win64" CI task
  ci/test/00_setup_env_win64.sh
Labels: Tests

#25204 rpc: remove deprecated top-level fee fields from mempool entries
  doc/release-notes.md
  src/rpc/mempool.cpp
  test/functional/rpc_mempool_entry_fee_fields_deprecation.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#25237 rpc: Capture UniValue by ref for rpcdoccheck
  src/rpc/util.cpp
Labels: RPC/REST/ZMQ, Resource usage, Needs backport (22.x), Needs backport (23.x)

#24424 doc: release process chainparams updates
  doc/release-process.md
Labels: Docs

#25044 test: Use MiniWallet in rpc_rawtransaction.py
  test/functional/rpc_rawtransaction.py
  test/functional/rpc_signrawtransaction.py
  test/functional/test_runner.py
Labels: Tests

#25241 [23.x] rpc: Capture potentially large UniValue by ref for rpcdoccheck
  src/rpc/util.cpp
Labels: Backport

#25242 [22.x] rpc: Capture potentially large UniValue by ref for rpcdoccheck
  src/rpc/util.cpp
Labels: Backport

#24178 p2p: Respond to getheaders if we have sufficient chainwork
  src/net_processing.cpp
  test/functional/feature_minchainwork.py
Labels: P2P
