Repository bitcoin/bitcoin, pull requests merged in 2022-02, with the labels that each got.

#24190 test: Fix sanitizer suppresions in streams_tests
  src/test/streams_tests.cpp
  test/sanitizer_suppressions/ubsan
Labels: Tests

#24218 zmq: Fix implicit-integer-sign-change
  src/zmq/zmqpublishnotifier.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring, RPC/REST/ZMQ

#24223 test: use MiniWallet for interface_rest.py
  test/functional/interface_rest.py
Labels: Tests

#24219 Fix implicit-integer-sign-change in bloom
  src/common/bloom.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#24156 build: Replace `which` command with `command -v`
  depends/hosts/mingw32.mk
Labels: Build system, DrahtBot Guix build requested

#24166 p2p, contrib: add cjdns hardcoded seeds and update the i2p seeds
  contrib/seeds/nodes_main.txt
  src/chainparamsseeds.h
Labels: Validation, Scripts and tools

#23948 build: add support for FreeBSD to depends
  depends/Makefile
  depends/builders/freebsd.mk
  depends/hosts/freebsd.mk
  depends/packages/bdb.mk
  depends/packages/boost.mk
  depends/packages/libevent.mk
  depends/packages/sqlite.mk
  depends/packages/zeromq.mk
Labels: Build system

#24240 depends: fix capnp's descriptor for make download
  depends/packages/capnp.mk
Labels: Build system

#24131 build, qt: Fix Windows cross-compiling with Qt 5.15
  ci/test/05_before_script.sh
  depends/packages/qt.mk
  doc/build-windows.md
Labels: Build system, DrahtBot Guix build requested

#20744 Use std::filesystem. Remove Boost Filesystem & System
  build-aux/m4/ax_boost_filesystem.m4
  build-aux/m4/ax_boost_system.m4
  build-aux/m4/l_filesystem.m4
  build_msvc/bitcoin_config.h.in
  build_msvc/vcpkg.json
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  contrib/valgrind.supp
  depends/packages/boost.mk
  doc/build-unix.md
  src/addrdb.cpp
  src/bench/bench.cpp
  src/fs.cpp
  src/fs.h
  src/init.cpp
  src/logging.cpp
  src/logging.h
  src/net.cpp
  src/qt/guiutil.cpp
  src/qt/psbtoperationsdialog.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/walletframe.cpp
  src/rpc/request.cpp
  src/test/fs_tests.cpp
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/utxo_snapshot.cpp
  src/test/script_tests.cpp
  src/test/settings_tests.cpp
  src/test/streams_tests.cpp
  src/test/util_tests.cpp
  src/util/asmap.cpp
  src/util/settings.cpp
  src/util/syscall_sandbox.cpp
  src/util/system.cpp
  src/wallet/bdb.cpp
  src/wallet/db.cpp
  src/wallet/dump.cpp
  src/wallet/dump.h
  src/wallet/load.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/test/db_tests.cpp
  src/wallet/test/init_test_fixture.cpp
  src/wallet/test/init_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  test/functional/wallet_multiwallet.py
  test/lint/lint-includes.sh
Labels: Refactoring, Build system, DrahtBot Guix build requested

#24250 Update translations for 0.23 string freeze
  .tx/config
  src/init.cpp
  src/qt/bitcoinstrings.cpp
  src/qt/locale/bitcoin_en.ts
  src/qt/locale/bitcoin_en.xlf
Labels: GUI

#23604 Use Sock in CNode
  src/net.cpp
  src/net.h
  src/test/denialofservice_tests.cpp
  src/test/fuzz/util.h
  src/test/net_tests.cpp
Labels: P2P

#22151 build: Follow Transifex docs to prepare XLIFF source
  src/Makefile.qt.include
Labels: GUI, Build system

#24262 upstream: Update minisketch subtree
  src/minisketch/src/minisketch.cpp
Labels: Upstream

#24252 bench: Represent paths with fs::path instead of std::string
  src/bench/bench.cpp
  src/bench/bench.h
  src/bench/bench_bitcoin.cpp
Labels: Tests

#24251 Re-enable windows path tests disabled by #20744
  src/test/util_tests.cpp
  src/util/system.cpp
  src/wallet/load.cpp
  src/wallet/test/init_tests.cpp
Labels: Wallet

#24217 Fix unsigned integer overflow in tapscript validation weight calculation
  src/script/script.h
Labels: Consensus

#24237 test: Avoid testing negative block heights
  src/test/coins_tests.cpp
  src/test/fuzz/coins_view.cpp
  test/sanitizer_suppressions/ubsan
Labels: Tests

#24227 Fix unsigned integer overflow in LoadMempool
  src/validation.cpp
Labels: Refactoring, Validation

#24195 test: Fix failfast option for functional test runner
  test/functional/test_runner.py
Labels: Tests

#24239 test: fix ceildiv division by using integers
  test/functional/test_framework/util.py
  test/functional/wallet_send.py
Labels: Tests, Needs backport (22.x)

#24259 test: Remove unused valgrind suppressions
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/00_setup_env_s390x.sh
  contrib/valgrind.supp
  test/functional/feature_syscall_sandbox.py
Labels: Scripts and tools

#24282 docs: Move explanation of hardened key syntax closer to KEY section
  doc/descriptors.md
Labels: Docs

#24196 Fix integer sanitizer suppressions in validation.cpp
  src/validation.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#24215 [22.x] guix: ignore additional failing certvalidator test
  contrib/guix/manifest.scm
Labels: Backport

#24288 build, refactor: Drop redundant `$(package)_download_file` assignments
  depends/packages/native_clang.mk
  depends/packages/native_libtapi.mk
Labels: Build system, DrahtBot Guix build requested

#24253 Remove broken and unused CDataStream methods
  src/streams.h
  src/test/serialize_tests.cpp
  src/test/streams_tests.cpp
Labels: Refactoring

#24265 Drop StripRedundantLastElementsOfPath() function
  src/init.cpp
  src/test/getarg_tests.cpp
  src/util/system.cpp
  src/util/system.h
  src/wallet/load.cpp
  src/wallet/test/init_tests.cpp
  src/wallet/walletutil.cpp
Labels: Utils/log/libs

#24298 fuzz: Avoid unsigned integer overflow in FormatParagraph
  src/test/fuzz/string.cpp
  src/util/strencodings.cpp
Labels: Tests

#24302 test: Remove unused integer sanitizer suppressions
  test/sanitizer_suppressions/ubsan
Labels: Tests

#24297 Fix unintended unsigned integer overflow in strencodings
  src/util/strencodings.cpp
Labels: Refactoring

#24238 random: use arc4random on OpenBSD
  configure.ac
  src/random.cpp
Labels: Build system

#24241 doc: cleanup doc on need of Developer Account to obtain macOS SDK
  contrib/macdeploy/README.md
Labels: Docs

#24308 util: use stronger-guarantee rename method
  src/util/system.cpp
  src/util/system.h
Labels: Utils/log/libs

#24307 RPC: Return external_signer in getwalletinfo
  src/wallet/rpc/wallet.cpp
  test/functional/wallet_signer.py
Labels: Wallet, RPC/REST/ZMQ

#23998 build: support OpenBSD in depends
  depends/Makefile
  depends/README.md
  depends/builders/default.mk
  depends/builders/openbsd.mk
  depends/funcs.mk
  depends/hosts/openbsd.mk
  depends/packages/bdb.mk
  depends/packages/boost.mk
  depends/packages/libevent.mk
  depends/packages/qt.mk
  depends/packages/sqlite.mk
  depends/packages/zeromq.mk
  depends/patches/boost/fix_openbsd_test_lib.patch
Labels: Build system, DrahtBot Guix build requested

#24277 build: Fix `make deploy` for Windows when building out of source tree
  share/setup.nsi.in
Labels: Windows, Build system, DrahtBot Guix build requested

#24330 doc: release-process: Specify remote name in "git fetch"
  doc/release-process.md
Labels: Docs

#24276 build, refactor: Improve package version usage
  depends/packages/boost.mk
  depends/packages/expat.mk
Labels: Build system, DrahtBot Guix build requested

#24180 script: Handle request exception and check svg image in getcoins.py
  contrib/signet/getcoins.py
Labels: Scripts and tools

#24319 refactor: Avoid unsigned integer overflow in core_write
  src/core_write.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#24301 build: header-only Boost
  build-aux/m4/ax_boost_unit_test_framework.m4
  build_msvc/bitcoin_config.h.in
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  depends/packages/boost.mk
  depends/packages/native_b2.mk
  depends/packages/packages.mk
  depends/patches/boost/fix_openbsd_test_lib.patch
  doc/build-unix.md
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/Makefile.test.include
  src/test/main.cpp
  test/lint/lint-includes.sh
  test/sanitizer_suppressions/tsan
Labels: Build system, DrahtBot Guix build requested

#24187 Followups for getdeploymentinfo
  doc/release-notes-23508.md
  doc/release-notes.md
  src/rpc/blockchain.cpp
  src/versionbits.cpp
Labels: Refactoring

#24309 test: test that OP_1-OP_16 (but not lower/higher) start witness programs
  src/test/data/script_tests.json
Labels: Tests

#24115 ARMv8 SHA2 Intrinsics
  configure.ac
  src/Makefile.am
  src/crypto/sha256.cpp
  src/crypto/sha256_arm_shani.cpp
  src/crypto/sha256_x86_shani.cpp
Labels: Utils/log/libs

#23955 build: add support for NetBSD in depends
  depends/Makefile
  depends/builders/netbsd.mk
  depends/hosts/freebsd.mk
  depends/hosts/netbsd.mk
  depends/packages/bdb.mk
  depends/packages/libevent.mk
  depends/packages/sqlite.mk
  depends/packages/zeromq.mk
Labels: Build system, DrahtBot Guix build requested

#24254 build: Add Boost.Process usage check
  configure.ac
Labels: Build system, DrahtBot Guix build requested

#24326 build: minor cleanups to native_clang package
  depends/packages/native_clang.mk
Labels: Build system

#24342 test: remove `import socket` in test_ipv6_local
  test/functional/test_framework/netutil.py
Labels: Tests

#24345 doc: Release process: fix broken link to Guix building docs
  doc/release-process.md
Labels: Docs

#24340 util: Add missing unlinkat to syscall sandbox
  src/util/syscall_sandbox.cpp
Labels: Utils/log/libs

#24336 Print enable_fuzz_binary in configure
  configure.ac
Labels: Build system

#24324 test: refactor: remove unneeded bytes<->hex conversions in `byte_to_base58`
  test/functional/test_framework/address.py
Labels: Tests

#24256 [22.x] build: Bump depends packages (zmq, libXau)
  .cirrus.yml
  ci/test/00_setup_env_i686_centos.sh
  ci/test/04_install.sh
  ci/test/05_before_script.sh
  depends/packages/libXau.mk
  depends/packages/zeromq.mk
  depends/patches/zeromq/fix_dash_compat.patch
Labels: Tests, Backport

#24359 doc: Fix typos
  src/crypto/sha256_arm_shani.cpp
  src/node/blockstorage.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Docs

#24177 validation, refactor: add missing thread safety lock assertions
  src/validation.cpp
  src/validation.h
Labels: Refactoring, Validation

#24348 build: Fix Guix build for Windows (attempt 2)
  contrib/guix/guix-build
  contrib/guix/manifest.scm
Labels: Windows, Build system

#24331 util: Revert back `MoveFileExW` call for MinGW-w64
  src/test/fs_tests.cpp
  src/util/system.cpp
Labels: Utils/log/libs

#23819 ConnectBlock: don't serialize block hash twice
  src/validation.cpp
Labels: Refactoring, Validation

#24338 util: Work around libstdc++ create_directories issue
  src/fs.h
  src/test/dbwrapper_tests.cpp
  src/test/fs_tests.cpp
  test/functional/feature_dirsymlinks.py
  test/functional/test_runner.py
Labels: Utils/log/libs

#24349 fuzz: Split script formatting from script fuzz target
  src/Makefile.test.include
  src/test/fuzz/script.cpp
  src/test/fuzz/script_format.cpp
Labels: Tests

#24360 doc: improve -netinfo help based on feedback from users and devs
  src/bitcoin-cli.cpp
Labels: Utils/log/libs

#24350 Primitives: Correct CTransaction deserialization docstring
  src/primitives/transaction.h
Labels: Docs

#24385 build: remove boost dep from libmultiprocess
  depends/packages/libmultiprocess.mk
Labels: Build system, DrahtBot Guix build requested

#24390 test: Remove suppression no longer needed with headers-only Boost.Test
  test/sanitizer_suppressions/tsan
Labels: Tests

#23907 tracing: utxocache tracepoints follow up for #22902
  contrib/tracing/README.md
  contrib/tracing/log_utxocache_flush.py
  contrib/tracing/log_utxos.bt
  doc/tracing.md
  src/validation.cpp
Labels: Validation, Scripts and tools

#24369 util: Add missing rseq to syscall sandbox
  src/util/syscall_sandbox.cpp
Labels: Linux/Unix, Utils/log/libs

#24133 index: Improve robustness of coinstatsindex at restart
  src/index/base.h
  src/index/coinstatsindex.cpp
Labels: UTXO Db and Indexes

#24347 rpc: Fix implicit-integer-sign-change in verifychain
  src/rpc/blockchain.cpp
  src/validation.h
Labels: Refactoring

#24296 ci: use Ubuntu Jammy for Windows cross-compilation CI
  .cirrus.yml
  ci/test/00_setup_env_win64.sh
Labels: Tests

#24231 streams: Fix read-past-the-end and integer overflows
  src/streams.h
  src/util/overflow.h
Labels: Utils/log/libs

#24376 doc: bitcoin-wallet fixes (help output and code comment)
  src/bitcoin-wallet.cpp
  src/wallet/wallet.cpp
Labels: Wallet, Utils/log/libs

#24072 doc: fix wording of alertnotify to match behaviour
  src/init.cpp
Labels: Docs

#24343 Add descriptor_tests covering tr(), and fix minor bugs
  src/script/descriptor.cpp
  src/test/descriptor_tests.cpp
Labels: Bug, Tests, Descriptors

#24339 rpc: Improve RPC help by explicitly mentioning output types
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/util.cpp
  src/rpc/util.h
Labels: RPC/REST/ZMQ

#24292 Revert "ci: Run fuzzer task for the master branch only"
  .cirrus.yml
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
Labels: Tests

#24263 doc: Fix gen-manpages, rewrite in Python
  contrib/devtools/README.md
  contrib/devtools/gen-manpages.py
  contrib/devtools/gen-manpages.sh
  doc/release-process.md
Labels: Docs

#24224 util: Add SaturatingAdd helper
  src/test/fuzz/addition_overflow.cpp
  src/test/util_tests.cpp
  src/util/overflow.h
Labels: Utils/log/libs

#24370 rpc, cli: describe quality/recency filtering in getnodeaddresses and -addrinfo
  src/bitcoin-cli.cpp
  src/rpc/net.cpp
Labels: RPC/REST/ZMQ, Utils/log/libs

#24310 docs / fixups from RBF and packages
  doc/policy/packages.md
  src/test/txpackage_tests.cpp
  src/validation.cpp
Labels: Docs

#24305 Docs: [policy] Remove outdated confusing comment
  src/policy/feerate.h
Labels: Docs

#24367 User-facing content and codebase doc fixups from transifex translator feedback
  contrib/guix/guix-build
  doc/developer-notes.md
  src/net.cpp
  src/qt/bitcoin.cpp
  src/qt/intro.cpp
  src/rpc/misc.cpp
  src/rpc/rawtransaction.cpp
  src/test/util_tests.cpp
  src/txdb.cpp
  src/validation.cpp
  src/wallet/rpc/encrypt.cpp
  src/wallet/spend.cpp
  test/functional/feature_txindex_compatibility.py
  test/functional/rpc_decodescript.py
  test/functional/rpc_uptime.py
  test/functional/wallet_encryption.py
  test/functional/wallet_timelock.py
  test/util/test_runner.py
Labels: GUI

#24377 qt: Update translation source file
  src/qt/bitcoinstrings.cpp
  src/qt/locale/bitcoin_en.ts
  src/qt/locale/bitcoin_en.xlf
Labels: GUI

#24419 lint: remove no-longer used exceptions from lint-format-strings.py
  test/lint/lint-format-strings.py
Labels: Scripts and tools

#24409 Always output license/copyright info with `-version`
  contrib/devtools/gen-manpages.py
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/bitcoin-util.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
  src/clientversion.cpp
  src/clientversion.h
  src/init.cpp
  src/init.h
  src/util/system.cpp
  src/util/system.h
  test/lint/lint-format-strings.py
Labels: Scripts and tools, Utils/log/libs

#24420 doc: Update bips.md for 23.x
  doc/bips.md
Labels: Docs

#24406 test: Fix Wambiguous-reversed-operator compiler warnings
  src/test/fuzz/addrman.cpp
  src/test/serialize_tests.cpp
Labels: Tests

#24372 bench: Avoid deprecated use of volatile +=
  src/bench/examples.cpp
Labels: Tests

#24426 test: Fix intermittent Tsan issue
  test/sanitizer_suppressions/tsan
Labels: Tests

#24112 build: pass win32-dll to LT_INIT()
  configure.ac
Labels: Windows, Build system

#24381 test: Run symlink regression tests on Windows
  src/test/fs_tests.cpp
  test/functional/feature_dirsymlinks.py
Labels: Tests

#22546 build, qt: Fix `make deploy` on M1-based macOS with system frameworks
  contrib/macdeploy/macdeployqtplus
Labels: macOS, Scripts and tools

#24383 build: upgrade depends Boost to 1.77.0
  depends/packages/boost.mk
  doc/dependencies.md
Labels: Build system, DrahtBot Guix build requested

#24401 wallet: Add external-signer-support specific error message
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Wallet

#24434 Add missed word to error message
  src/net.cpp
Labels: P2P

#24438 qt: English (source) translations update
  src/qt/bitcoinstrings.cpp
  src/qt/locale/bitcoin_en.ts
  src/qt/locale/bitcoin_en.xlf
Labels: GUI

#19013 test: add v0.20.1, v0.21.0 and v22.0 to backwards compatibility test
  ci/test/00_setup_env_native_qt5.sh
  test/README.md
  test/functional/feature_backwards_compatibility.py
  test/functional/test_framework/test_framework.py
  test/get_previous_releases.py
Labels: Tests

#24201 p2p: Avoid InitError when downgrading peers.dat
  src/addrdb.cpp
  src/addrman.cpp
  src/addrman.h
  test/functional/feature_addrman.py
Labels: P2P

#24433 doc: Explain that feedback needs to be addressed
  CONTRIBUTING.md
Labels: Docs

#24440 doc: update maintainer list in REVIEWERS
  REVIEWERS
Labels: Docs

#24402 refactor: Avoid implicit-integer-sign-change in bech32.cpp
  src/bech32.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#24449 fuzz: FuzzedFileProvider::write should not return negative value
  src/test/fuzz/util.cpp
Labels: Tests

#24418 Chainparams update for 23.x
  src/chainparams.cpp
Labels: Utils/log/libs

#24417 net: Update hardcoded seeds for 23.x
  contrib/seeds/README.md
  contrib/seeds/makeseeds.py
  contrib/seeds/nodes_main.txt
  contrib/seeds/nodes_main_manual.txt
  src/chainparamsseeds.h
Labels: P2P

#24403 Avoid implicit-integer-sign-change in VerifyLoadedChainstate
  src/node/chainstate.cpp
  src/node/chainstate.h
  src/validation.cpp
  test/functional/rpc_blockchain.py
Labels: Refactoring

#24365 wallet: Don't generate keys for wallets with private keys disabled during upgradewallet
  src/wallet/scriptpubkeyman.cpp
  test/functional/wallet_upgradewallet.py
Labels: Wallet

#24397 build: Fix Boost.Process check for Boost 1.73 and older
  ci/test/00_setup_env_win64.sh
  ci/test/06_script_a.sh
  configure.ac
Labels: Build system
