Repository bitcoin/bitcoin, pull requests merged in 2022-11, with the labels that each got.

#26360 build: remove threadinterrupt from libbitcoinkernel
  src/Makefile.am
Labels: Build system

#26434 [24.x] [gui] Bugfix: Check for readlink buffer overflow and handle gracefully
  src/qt/guiutil.cpp
Labels: Backport

#26430 [22.x] Bump version to 22.1.0rc1
  configure.ac
  doc/bips.md
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
Labels: Backport

#26396 net: Avoid SetTxRelay for feeler connections
  src/net.h
  src/net_processing.cpp
  test/functional/p2p_sendtxrcncl.py
Labels: P2P

#26417 test: fix intermittent failure in feature_index_prune.py
  test/functional/feature_index_prune.py
Labels: Tests

#26443 doc: mention BIP86 in doc/bips.md
  doc/bips.md
Labels: Docs, Needs backport (23.x), Needs backport (24.x)

#26448 test: fix intermittent failure in p2p_sendtxrcncl.py
  test/functional/p2p_sendtxrcncl.py
  test/functional/test_framework/test_node.py
Labels: Tests

#26418 Fix signing of multi_a and rawtr scripts with wallets that only have corresponding keys
  src/script/sign.cpp
  src/wallet/scriptpubkeyman.cpp
  test/functional/wallet_taproot.py
Labels: Wallet, Tests, PSBT, Needs backport (24.x)

#26449 rpc: doc: add missing option "bech32m" for `change_type` parameters
  src/wallet/rpc/spend.cpp
Labels: RPC/REST/ZMQ, Needs backport (24.x)

#26453 [23.x] Bump version to 23.1rc1
  configure.ac
  doc/bips.md
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
Labels: Backport

#26419 log: mempool: log removal reason in validation interface
  src/txmempool.cpp
  src/txmempool.h
  src/validationinterface.cpp
Labels: Utils/log/libs

#26452 [24.x] rc4 backports
  doc/bips.md
  src/script/sign.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/scriptpubkeyman.cpp
  test/functional/wallet_taproot.py
Labels: Backport

#26473 test: Avoid collision with valid path names in `getarg_tests/logargs`
  src/test/getarg_tests.cpp
Labels: Tests

#26475 [24.x] Bump version to 24.0rc4
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
Labels: Backport

#26472 test: add missing bech32m / BIP86 test-cases to wallet_descriptor.py
  test/functional/wallet_descriptor.py
Labels: Tests

#26483 test: Don't pass add_to_wallet option to walletcreatefundedpsbt
  test/functional/rpc_fundrawtransaction.py
Labels: Tests

#25714 univalue: Avoid std::string copies
  src/univalue/include/univalue.h
  src/univalue/lib/univalue.cpp
  src/univalue/test/object.cpp
Labels: Refactoring

#26474 [23.x] guix: use `--build={arch}-guix-linux-gnu` in cross toolchain
  contrib/guix/manifest.scm
Labels: Backport

#26240 rpc: Adjust RPCTypeCheckObj error string
  src/rpc/util.cpp
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_mempool_info.py
  test/functional/rpc_psbt.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_send.py
Labels: RPC/REST/ZMQ

#26489 test: Split overly large util_tests.cpp file
  src/Makefile.test.include
  src/test/argsman_tests.cpp
  src/test/util_tests.cpp
Labels: Tests

#16981 Improve runtime performance of --reindex
  src/Makefile.bench.include
  src/bench/load_external.cpp
  src/streams.h
  src/test/streams_tests.cpp
  src/validation.cpp
  test/functional/feature_reindex.py
Labels: Validation, Resource usage, Needs Benchmark

#25730 RPC: listunspent, add "include immature coinbase" flag
  doc/release-notes-25730.md
  src/bench/wallet_create_tx.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
  src/wallet/spend.h
  test/functional/wallet_balance.py
Labels: RPC/REST/ZMQ

#25112 util: Move error message formatting of NonFatalCheckError to cpp
  ci/test/06_script_b.sh
  src/util/check.cpp
  src/util/check.h
Labels: Refactoring

#26503 [24.x] bump version to v24.0
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes-empty-template.md
  doc/release-notes.md
Labels: Backport

#26487 log: improve some validation log messages to include hashPrevBlock
  src/validation.cpp
Labels: Utils/log/libs

#26524 doc: add 24.0 release notes
  doc/release-notes-empty-template.md
  doc/release-notes/release-notes-24.0.md
Labels: Docs

#26519 test: Add getpeerinfo test for missing version message
  test/functional/rpc_net.py
Labels: Tests

#26523 [24.x] GUI backports
  src/qt/bitcoingui.cpp
Labels: Backport

#17786 refactor: Nuke policy/fees->mempool circular dependencies
  src/Makefile.am
  src/bench/mempool_eviction.cpp
  src/bench/mempool_stress.cpp
  src/bench/rpc_mempool.cpp
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/policy/fees.cpp
  src/policy/rbf.cpp
  src/rpc/mempool.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/util/mempool.cpp
  src/test/util/setup_common.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/txmempool_entry.h
  src/validation.cpp
  test/lint/lint-circular-dependencies.py
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#26505 doc: -getinfo help - grammar correction
  src/bitcoin-cli.cpp
Labels: Docs

#26522 [23.x] GUI backports
  src/qt/bitcoingui.cpp
Labels: Backport

#26497 fuzz: Make ConsumeNetAddr always produce valid onion addresses
  src/Makefile.test_fuzz.include
  src/netaddress.cpp
  src/netaddress.h
  src/test/fuzz/addrman.cpp
  src/test/fuzz/banman.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/netaddress.cpp
  src/test/fuzz/netbase_dns_lookup.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/fuzz/util/net.cpp
  src/test/fuzz/util/net.h
Labels: Tests

#26545 test: Remove unused sanitizer suppressions
  test/sanitizer_suppressions/ubsan
Labels: Tests

#26544 [23.x] qt: 23.1rc2 translations update
  src/qt/locale/bitcoin_el.ts
  src/qt/locale/bitcoin_hi.ts
  src/qt/locale/bitcoin_mr_IN.ts
  src/qt/locale/bitcoin_sr.ts
  src/qt/locale/bitcoin_ta.ts
  src/qt/locale/bitcoin_te.ts
Labels: Backport

#26521 [22.x] GUI backports
  src/qt/bitcoingui.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: Backport

#26543 [23.x] Bump version to 23.1rc2 & add release notes
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  doc/release-notes/release-notes-23.0.md
Labels: Backport

#26376 test: Use type-safe NodeSeconds for TestMemPoolEntryHelper
  src/test/mempool_tests.cpp
  src/test/miner_tests.cpp
  src/test/policyestimator_tests.cpp
  src/test/util/txmempool.cpp
  src/test/util/txmempool.h
Labels: Tests

#26292 util: move threadinterrupt into util/
  ci/test/06_script_b.sh
  src/Makefile.am
  src/i2p.cpp
  src/i2p.h
  src/index/base.h
  src/mapport.cpp
  src/net.cpp
  src/net.h
  src/test/fuzz/i2p.cpp
  src/test/i2p_tests.cpp
  src/test/sock_tests.cpp
  src/util/sock.cpp
  src/util/sock.h
  src/util/threadinterrupt.cpp
  src/util/threadinterrupt.h
Labels: Utils/log/libs

#26553 test: Fix intermittent failure in rpc_net.py
  test/functional/rpc_net.py
  test/functional/test_framework/test_node.py
Labels: Tests

#26100 doc: clarify that NetPermissionFlags::Implicit is only about whitelists
  src/net_permissions.h
Labels: Docs, P2P

#26520 doc: test: update/fix TestShell example instructions
  test/functional/test-shell.md
Labels: Docs

#25900 ci: run docker wrapper with a non-root user
  ci/test/04_install.sh
  ci/test/05_before_script.sh
Labels: Tests

#26383 test: Add feature_taproot case involving invalid internal pubkey
  test/functional/feature_taproot.py
  test/functional/test_framework/script.py
Labels: Tests

#26547 [22.x] Bump version to 22.1rc2 & add release notes
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#26558 doc: add tr() descriptor example to deriveaddresses
  src/rpc/output_script.cpp
Labels: Docs

#26561 fuzz: Move-only net utils
  ci/test/06_script_b.sh
  src/test/fuzz/i2p.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/net_permissions.cpp
  src/test/fuzz/node_eviction.cpp
  src/test/fuzz/pow.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/socks5.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/fuzz/util/mempool.cpp
  src/test/fuzz/util/mempool.h
  src/test/fuzz/util/net.cpp
  src/test/fuzz/util/net.h
Labels: Tests

#26335 Guix documentation improvements
  contrib/guix/INSTALL.md
  contrib/guix/README.md
Labels: Docs

#26470 guix: Clean up `libexec/build.sh`
  contrib/guix/libexec/build.sh
Labels: Build system

#26446 build: Drop unneeded linking of `contrib/devtools/` scripts
  configure.ac
  contrib/devtools/test-security-check.py
  contrib/devtools/test-symbol-check.py
Labels: Build system

#26498 doc: Mention required workload when building with MSVC
  build_msvc/README.md
Labels: Docs

#26574 ci: use ci_exec_root for clang install
  ci/test/04_install.sh
Labels: Tests

#26578 doc: install binutils, not binutils-gold in depends
  depends/README.md
Labels: Docs

#25986 test: refactor `RPCPackagesTest` to use `MiniWallet`
  test/functional/rpc_packages.py
  test/functional/test_framework/wallet.py
Labels: Tests

#26589 test: small fixups/improvements for get_previous_releases.py
  test/get_previous_releases.py
Labels: Tests

#26073 build: fix depends bdb compilation for BSDs
  depends/packages/bdb.mk
Labels: Build system

#26588 ci: Skip COMMIT_RANGE if no CIRRUS_PR
  ci/lint/06_script.sh
  test/lint/lint-git-commit-check.py
  test/lint/lint-whitespace.py
Labels: Tests

#26591 [24.x] ci: Skip COMMIT_RANGE if no CIRRUS_PR
  ci/lint/06_script.sh
  test/lint/lint-git-commit-check.py
  test/lint/lint-whitespace.py
Labels: Backport

#19762 rpc: Allow named and positional arguments to be used together
  doc/JSON-RPC-interface.md
  doc/release-notes-19762.md
  src/rpc/client.cpp
  src/rpc/server.cpp
  src/test/rpc_tests.cpp
  test/functional/interface_bitcoin_cli.py
  test/functional/rpc_named_arguments.py
  test/functional/test_framework/authproxy.py
  test/functional/test_framework/test_node.py
Labels: RPC/REST/ZMQ

#26532 wallet: bugfix, invalid crypted key "checksum_valid" set
  src/Makefile.test.include
  src/Makefile.test_util.include
  src/bench/block_assemble.cpp
  src/bench/wallet_balance.cpp
  src/bench/wallet_create_tx.cpp
  src/bench/wallet_loading.cpp
  src/test/util/wallet.cpp
  src/test/util/wallet.h
  src/wallet/test/util.cpp
  src/wallet/test/util.h
  src/wallet/test/walletload_tests.cpp
  src/wallet/walletdb.cpp
Labels: Wallet

#26600 test: Set wallet type in test_runner when only one type is allowed
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: Tests

#26359 p2p: Erlay support signaling follow-ups
  src/init.cpp
  src/net_processing.cpp
  src/node/txreconciliation.cpp
  src/node/txreconciliation.h
  src/protocol.h
  src/test/txreconciliation_tests.cpp
  test/functional/p2p_sendtxrcncl.py
  test/functional/test_framework/messages.py
Labels: P2P

#25942 test: add `ismine` test for descriptor ScriptPubKeyMan
  src/wallet/test/ismine_tests.cpp
Labels: Tests
