Repository bitcoin/bitcoin, pull requests merged in 2022-12, with the labels that each got.

#26594 wallet: Avoid a segfault in migratewallet failure cleanup
  src/wallet/rpc/wallet.cpp
  src/wallet/wallet.cpp
  test/functional/wallet_migration.py
Labels: Wallet, Needs backport (24.x)

#26617 test: add extra_args to BitcoinTestFramework class
  test/functional/test_framework/test_framework.py
Labels: Tests

#26620 test: refactor: eliminate genesis block timestamp magic numbers
  test/functional/feature_cltv.py
  test/functional/wallet_listdescriptors.py
Labels: Tests

#26610 test: Remove unused blocktools imports from wallet_bumpfee
  test/functional/wallet_bumpfee.py
Labels: Tests

#26592 ci: only run USDT interface tests on CirrusCI
  ci/test/00_setup_env_native_asan.sh
Labels: Tests

#26569 p2p: Ensure transaction announcements are only queued for fully connected peers
  src/net_processing.cpp
  test/functional/p2p_tx_privacy.py
  test/functional/test_runner.py
Labels: P2P, Needs backport (24.x)

#26622 test: Add test for sendall min-fee setting
  test/functional/wallet_sendall.py
Labels: Tests

#26630 test: Fix intermittent issue in rpc_net.py
  test/functional/rpc_net.py
Labels: Tests

#26633 depends: update qt 5.12 url to archive location
  depends/packages/qt.mk
Labels: Backport

#26624 refactor: Rename local variable to distinguish it from type alias
  src/net_processing.cpp
Labels: Refactoring

#25993 doc: Add I2P guidance related to bandwidth and i2pd software version
  doc/i2p.md
Labels: Docs

#24226 rpc: warn that nodes ignore requests for old stale blocks
  src/net_processing.cpp
  src/rpc/blockchain.cpp
Labels: Docs

#26414 test: Move tx creation to create_self_transfer_multi
  test/functional/test_framework/wallet.py
Labels: Tests

#26560 wallet: bugfix, invalid CoinsResult cached total amount
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/spend_tests.cpp
  test/functional/rpc_fundrawtransaction.py
Labels: Wallet

#26640 test: Run mempool_compatibility.py with MiniWallet
  test/functional/mempool_compatibility.py
Labels: Tests

#26462 wallet: fix crash on loading descriptor wallet containing legacy key type entries
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/wallet_descriptor.py
Labels: Wallet

#19888 rpc, test: Improve getblockstats for unspendables
  src/index/coinstatsindex.cpp
  src/rpc/blockchain.cpp
  src/validation.cpp
  src/validation.h
  test/functional/data/rpc_getblockstats.json
  test/functional/rpc_getblockstats.py
Labels: RPC/REST/ZMQ

#26611 wallet: Change coin selection fee assert to error
  src/util/check.cpp
  src/util/check.h
  src/wallet/spend.cpp
Labels: Wallet

#26616 [24.x] Backports for 24.0.1
  src/net_processing.cpp
  src/wallet/rpc/wallet.cpp
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/spend_tests.cpp
  src/wallet/wallet.cpp
  test/functional/p2p_tx_privacy.py
  test/functional/rpc_fundrawtransaction.py
  test/functional/test_runner.py
  test/functional/wallet_migration.py
Labels: Backport

#26647 24.0.1 final changes
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#26609 refactor: Move `txmempool_entry.h` --> `kernel/mempool_entry.h`
  src/Makefile.am
  src/bench/mempool_eviction.cpp
  src/bench/mempool_stress.cpp
  src/bench/rpc_mempool.cpp
  src/kernel/mempool_entry.h
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/policy/fees.cpp
  src/policy/rbf.cpp
  src/rpc/mempool.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/util/mempool.cpp
  src/test/fuzz/util/mempool.h
  src/test/util/setup_common.cpp
  src/txmempool.h
  src/validation.cpp
Labels: Refactoring, Mempool

#26645 util: Include full version id in bug reports
  src/util/check.cpp
Labels: Utils/log/libs

#24611 Add fish completions
  contrib/README.md
  contrib/completions/bash/bitcoin-cli.bash-completion
  contrib/completions/bash/bitcoin-tx.bash-completion
  contrib/completions/bash/bitcoind.bash-completion
  contrib/completions/fish/bitcoin-cli.fish
  contrib/completions/fish/bitcoin-qt.fish
  contrib/completions/fish/bitcoin-tx.fish
  contrib/completions/fish/bitcoin-util.fish
  contrib/completions/fish/bitcoin-wallet.fish
  contrib/completions/fish/bitcoind.fish
Labels: Scripts and tools

#26308 rpc/rest/zmq: reduce LOCK(cs_main) scope: ~6 times as many requests per second
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/txoutproof.cpp
  src/zmq/zmqpublishnotifier.cpp
Labels: RPC/REST/ZMQ

#26378 refactor: Pass reference to last header, not pointer
  src/net_processing.cpp
Labels: Refactoring

#24279 build: Make `$(package)_*_env` available to all `$(package)_*_cmds`
  depends/funcs.mk
  depends/packages/qt.mk
Labels: Build system

#26658 test: Fix backwards compatibility intermittent failure
  test/functional/feature_backwards_compatibility.py
Labels: Tests

#26660 test: Use last release in compatibility tests
  test/functional/feature_txindex_compatibility.py
  test/functional/mempool_compatibility.py
Labels: Tests

#26601 test: Move wallet tests to wallet_*.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
  test/functional/wallet_backwards_compatibility.py
  test/functional/wallet_fundrawtransaction.py
Labels: Tests

#26213 rpc: Strict type checking for RPC boolean parameters
  doc/release-notes-26213.md
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/wallet/rpc/spend.cpp
  test/functional/rpc_net.py
Labels: RPC/REST/ZMQ

#26673 univalue: Remove confusing getBool method
  src/test/system_tests.cpp
  src/univalue/include/univalue.h
  src/univalue/lib/univalue_get.cpp
  src/univalue/test/object.cpp
Labels: RPC/REST/ZMQ

#26672 build: Update libmultiprocess library
  depends/packages/libmultiprocess.mk
  depends/packages/native_libmultiprocess.mk
Labels: Build system

#26666 refactor: Deleted unreachable code in httpserver.cpp
  src/httpserver.cpp
Labels: Refactoring

#26199 p2p: Don't self-advertise during version processing
  src/net_processing.cpp
Labels: P2P

#26477 validation: fix broken maxtipage comparison
  src/validation.cpp
  test/functional/feature_maxtipage.py
Labels: Validation

#26628 RPC: Reject RPC requests with same named parameter specified multiple times
  doc/release-notes-26628.md
  src/rpc/client.cpp
  src/rpc/server.cpp
  src/test/rpc_tests.cpp
  test/functional/interface_bitcoin_cli.py
Labels: RPC/REST/ZMQ

#26643 wallet: Move fee underpayment check to after all fee has been set
  src/primitives/transaction.h
  src/wallet/spend.cpp
Labels: Wallet

#23319 rpc: Return fee and prevout (utxos) to getrawtransaction
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
  test/functional/rpc_rawtransaction.py
Labels: RPC/REST/ZMQ

#26689 test: add add_wallet_options to TestShell
  test/functional/test_framework/test_shell.py
Labels: Tests

#26668 wallet: if only have one output type, don't perform "mixed" coin selection
  src/wallet/spend.cpp
  src/wallet/spend.h
Labels: Wallet

#26651 test: Avoid intermittent timeout in feature_assumevalid.py
  test/functional/feature_assumevalid.py
Labels: Tests

#26709 doc: add 23.1 release notes
  doc/release-notes/release-notes-23.1.md
Labels: Docs

#24865 rpc: Enable wallet import on pruned nodes and add test
  src/wallet/rpc/backup.cpp
  test/functional/feature_pruning.py
  test/functional/test_framework/blocktools.py
  test/functional/test_runner.py
  test/functional/wallet_pruning.py
Labels: Wallet, RPC/REST/ZMQ

#26120 refactor: Make bitcoin-util grind_task tsan friendly
  src/bitcoin-util.cpp
Labels: Refactoring

#26710 refactor: Fix `performance-for-range-copy` in headers
  src/psbt.h
Labels: Refactoring

#26717 test: Improve `check-doc.py` pattern
  test/lint/check-doc.py
Labels: Tests

#26656 tests: Improve runtime of some tests when `--enable-debug`
  test/functional/feature_fee_estimation.py
  test/functional/feature_taproot.py
  test/functional/interface_rpc.py
  test/functional/rpc_packages.py
  test/functional/test_framework/wallet.py
  test/functional/test_runner.py
  test/functional/wallet_import_rescan.py
Labels: Tests

#25311 refactor: remove CBlockIndex copy construction
  src/chain.h
  src/test/fuzz/pow.cpp
  src/test/miner_tests.cpp
Labels: Refactoring, UTXO Db and Indexes

#21576 rpc, gui: bumpfee signer support
  src/qt/walletmodel.cpp
  src/wallet/feebumper.cpp
  src/wallet/rpc/spend.cpp
  test/functional/wallet_signer.py
Labels: Wallet, RPC/REST/ZMQ

#26722 test: speed up the two slowest functional tests by 18-35% via `keypoolrefill()`
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_sendall.py
Labels: Tests

#26734 doc: Fixup getrawtransaction RPC docs
  src/rpc/rawtransaction.cpp
Labels: Docs

#26683 ci: Use `CONFIG_SITE` variable and `--prefix` option properly
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/06_script_a.sh
Labels: Tests

#26694 test: `get_previous_releases.py`: M1/M2 macs can't run unsigned arm64 binaries; self-sign when needed
  test/get_previous_releases.py
Labels: Tests

#26748 doc: Update license year range to 2023
  COPYING
  configure.ac
  contrib/debian/copyright
Labels: Docs

#26481 bench: Suppress output when running with `-sanity-check` option
  .cirrus.yml
  src/Makefile.test.include
  src/bench/bench.cpp
  src/bench/bench_bitcoin.cpp
Labels: Tests

#26738 test: add coverage for unknown wallet flag in `setwalletflag`
  test/functional/wallet_avoidreuse.py
Labels: Tests

#26768 ci: Use clang-15 in tsan task
  .cirrus.yml
  ci/test/00_setup_env_native_tsan.sh
Labels: Tests

#26770 ci: Move `--enable-c++20` from "tidy" task back to "ASan..." one
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_tidy.sh
Labels: Tests

#26777 rpc: Remove duplicate field in RPCHelpMan for gettransactions
  src/wallet/rpc/transactions.cpp
Labels: RPC/REST/ZMQ
