Repository bitcoin/bitcoin, pull requests merged in 2022-01, with the labels that each got.

#23929 doc: fix undo data filename (s/undo???.dat/rev???.dat/)
  src/validation.h
Labels: Docs

#23882 doc: testnet3 was not reset and is doing BIP30 checks again
  src/validation.cpp
Labels: Docs, Validation

#23836 rest: Expose block filters follow-ups
  src/rest.cpp
  test/functional/interface_rest.py
Labels: RPC/REST/ZMQ

#23795 refactor: Remove implicit-integer-sign-change suppressions in validation
  src/validation.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#23937 doc: Fix dumptxoutset RPC help doc
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#23945 doc: Update license year range to 2022
  COPYING
  configure.ac
  contrib/debian/copyright
Labels: Docs

#23532 test: add functional test for -startupnotify
  test/functional/feature_startupnotify.py
  test/functional/test_runner.py
Labels: Tests

#23737 test: make feature_init more robust
  test/functional/feature_init.py
  test/functional/test_framework/test_node.py
Labels: Tests

#23683 bug fix: valid but different LockPoints after a reorg
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
Labels: Bug, Mempool

#23959 ci: Update Cirrus CI task name
  .cirrus.yml
Labels: Tests

#23751 build, qt: No need to set inapplicable QPA backend for Android
  depends/packages/qt.mk
  src/qt/android/src/org/bitcoincore/qt/BitcoinQtActivity.java
Labels: Build system, Android

#23581 Move BlockManager to node/blockstorage
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#23947 build: use host_os instead of TARGET_OS in configure output
  configure.ac
Labels: Build system

#23964 Update test/sanitizer_suppressions/lsan
  test/sanitizer_suppressions/lsan
Labels: Tests

#23320 rpc: Add RPC help for getblock verbosity level 3
  doc/release-notes.md
  src/core_write.cpp
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#23838 scripts: make security checks architecture independent
  contrib/devtools/security-check.py
Labels: Scripts and tools

#23936 rpc: Add and use EnsureArgsman helper
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/rpc/server_util.cpp
  src/rpc/server_util.h
Labels: Refactoring

#23826 test: Make AddrMan unit tests use public interface, extend coverage
  src/addrman.cpp
  src/addrman.h
  src/addrman_impl.h
  src/test/addrman_tests.cpp
Labels: Tests

#23954 doc: remove CC_FOR_BUILD from OpenBSD build doc
  doc/build-openbsd.md
Labels: Docs

#23973 test: Bundle all integer sanitizer suppressions of dependencies
  test/sanitizer_suppressions/ubsan
Labels: Refactoring, Tests

#23975 doc: Mark proprietary array optional
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ

#23977 depends: Fix typo
  depends/packages/libxcb.mk
Labels: Build system

#23909 build: use a static .tiff for macOS .dmg rather than generating
  .gitignore
  Makefile.am
  ci/test/00_setup_env_mac.sh
  configure.ac
  contrib/guix/manifest.scm
  contrib/macdeploy/background.svg
  contrib/macdeploy/background.tiff
  contrib/macdeploy/macdeployqtplus
  depends/README.md
  doc/build-osx.md
  doc/dependencies.md
Labels: macOS, Build system, DrahtBot Guix build requested

#23979 test: wait for rather than assert presence of file in startupnotify test
  test/functional/feature_startupnotify.py
Labels: Tests

#23978 test: use MiniWallet for mining_basic.py
  test/functional/mining_basic.py
Labels: Tests

#23411 refactor: Avoid integer overflow in ApplyStats when activating snapshot
  src/Makefile.am
  src/index/coinstatsindex.cpp
  src/node/coinstats.cpp
  src/node/coinstats.h
  src/rpc/blockchain.cpp
  src/test/fuzz/addition_overflow.cpp
  src/test/fuzz/crypto_chacha20_poly1305_aead.cpp
  src/test/fuzz/integer.cpp
  src/test/fuzz/pow.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/util_tests.cpp
  src/util/overflow.h
Labels: Refactoring

#21879 refactor: wrap accept() and extend usage of Sock
  src/net.cpp
  src/net.h
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/util/net.h
  src/util/sock.cpp
  src/util/sock.h
Labels: Refactoring, P2P

#23980 doc: Fix typo in getmempoolinfo (z->s)
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#23799 test: Let test_runner.py start multiple jobs per timeslot
  test/functional/test_runner.py
Labels: Tests

#23784 bitcoin-tx: Require that input amount is provided for witness transactions
  Makefile.am
  src/bitcoin-tx.cpp
  test/util/data/bitcoin-util-test.json
  test/util/data/txcreatesignsegwit1.hex
Labels: Utils/log/libs

#23834 wallettool: Check that the dumpfile checksum is the correct size
  src/wallet/dump.cpp
  test/functional/tool_wallet.py
Labels: Wallet

#23970 Remove pointless and confusing shift in RelayAddress
  src/net_processing.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring, P2P

#23985 reviewers: add tracing
  REVIEWERS
Labels: Docs

#23075 test: Fee estimation functional test cleanups
  test/functional/feature_fee_estimation.py
Labels: Tests

#23832 Refactor: Changes time variables from int to chrono
  src/net_processing.cpp
Labels: Refactoring, P2P

#23855 refactor: Post-"Chainstate loading sequence coalescence" fixups
  src/init.cpp
  src/node/chainstate.cpp
  src/node/chainstate.h
  src/test/util/setup_common.cpp
Labels: Refactoring

#23760 util: move MapIntoRange() for reuse in fuzz tests
  src/blockfilter.cpp
  src/test/fuzz/golomb_rice.cpp
  src/util/golombrice.h
Labels: Refactoring

#23828 scripted-diff: Rename libbitcoin_server.a to libbitcoin_node.a
  build_msvc/.gitignore
  build_msvc/bench_bitcoin/bench_bitcoin.vcxproj.in
  build_msvc/bitcoin-qt/bitcoin-qt.vcxproj
  build_msvc/bitcoin.sln
  build_msvc/bitcoind/bitcoind.vcxproj
  build_msvc/libbitcoin_node/libbitcoin_node.vcxproj.in
  build_msvc/msvc-autogen.py
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/Makefile.test.include
  src/Makefile.test_fuzz.include
  src/Makefile.test_util.include
Labels: Refactoring, Build system

#23963 test: run feature_pruning.py without wallet compiled
  test/functional/feature_pruning.py
Labels: Tests

#23938 ci: Clone entire bitcoin-core/qa-assets repo only when run fuzzing
  ci/test/04_install.sh
Labels: Tests

#23996 test: set ban after mocking time
  test/functional/p2p_disconnect_ban.py
Labels: Tests

#23974 Make blockstorage globals private members of BlockManager
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/rpc/blockchain.cpp
  src/test/validation_chainstate_tests.cpp
  src/validation.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring, Block storage

#23778 release: Guix 1.4.0 & GCC 10.3
  contrib/devtools/test-security-check.py
  contrib/guix/guix-build
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  contrib/guix/patches/binutils-mingw-w64-disable-flags.patch
  contrib/guix/patches/elfsteem-value-error-python-39.patch
  contrib/guix/patches/gcc-8-sort-libtool-find-output.patch
  contrib/guix/patches/nsis-SConstruct-sde-support.patch
  contrib/guix/patches/nsis-gcc-10-memmove.patch
Labels: Build system, DrahtBot Guix build requested

#22093 build: Try posix-specific CXX first for mingw32 host
  depends/hosts/mingw32.mk
  doc/build-windows.md
Labels: Docs, Windows, Build system

#24002 refactor: add thread safety lock assertion to WriteBlockIndexDB()
  src/node/blockstorage.cpp
Labels: Refactoring, Block storage

#23724 build: add systemtap's sys/sdt.h as depends for GUIX builds with USDT tracepoints
  configure.ac
  depends/Makefile
  depends/config.site.in
  depends/packages/packages.mk
  depends/packages/systemtap.mk
  depends/patches/systemtap/remove_SDT_ASM_SECTION_AUTOGROUP_SUPPORT_check.patch
  doc/dependencies.md
Labels: Build system

#23994 Consolidate all uses of the fast range mapping technique in util/fastrange.h
  src/Makefile.am
  src/blockfilter.cpp
  src/common/bloom.cpp
  src/cuckoocache.h
  src/test/fuzz/golomb_rice.cpp
  src/util/fastrange.h
  src/util/golombrice.h
Labels: Refactoring, Utils/log/libs

#23884 doc: Remove outdated scriptChange TODO comment
  src/wallet/spend.cpp
Labels: Docs, Wallet

#24026 Block unsafe std::string fs::path conversion copy_file calls
  src/fs.h
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet, RPC/REST/ZMQ, interfaces

#24039 bug fix: prevent UnicodeDecodeError when opening log file in feature_init.py
  test/functional/feature_init.py
Labels: Tests

#24024 Remove cs_main lock annotation from ChainstateManager.m_blockman
  src/test/fuzz/coins_view.cpp
  src/validation.cpp
  src/validation.h
Labels: Validation

#24042 build: Point Guix to the current top of the "version-1.4.0" branch
  contrib/guix/guix-build
Labels: Build system, Scripts and tools

#24041 util: Restore GetIntArg saturating behavior
  src/test/fuzz/string.cpp
  src/test/getarg_tests.cpp
  src/test/util_tests.cpp
  src/util/strencodings.h
  test/lint/lint-locale-dependence.sh
Labels: Utils/log/libs

#23607 rpc: Pass const char* to evhttp_connection_get_peer for new libevent
  configure.ac
  src/httpserver.cpp
Labels: RPC/REST/ZMQ

#24068 doc: Rework 14707 release notes
  doc/release-notes-14707.md
  doc/release-notes-23113.md
  doc/release-notes-gui-459.md
  doc/release-notes.md
Labels: Docs

#23992 fuzz: Limit fuzzed time to years 2000-2100
  src/test/fuzz/util.cpp
  test/sanitizer_suppressions/ubsan
Labels: Tests

#24033 log: Remove GetAdjustedTime from IBD header progress estimation
  src/validation.cpp
Labels: Refactoring, Utils/log/libs

#24059 Fix implicit-integer-sign-change in arith_uint256
  src/arith_uint256.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#24079 refactor: replace RecursiveMutex `cs_SubVer` with Mutex (and rename)
  src/net.cpp
  src/net.h
  src/net_processing.cpp
Labels: Refactoring, P2P

#24069 refactor: replace RecursiveMutex `m_cs_callbacks_pending` with Mutex (and rename)
  src/scheduler.cpp
  src/scheduler.h
Labels: Refactoring

#23373 test: Parse command line arguments from unit and fuzz tests, make addrman consistency check ratio easier to change
  doc/fuzzing.md
  src/bench/addrman.cpp
  src/bench/bench.cpp
  src/qt/test/test_main.cpp
  src/test/README.md
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/fuzz.cpp
  src/test/main.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Labels: Tests

#24095 util: Fix mis-swapped `prettyIndent` and `indentLevel` arguments
  src/util/settings.cpp
Labels: Utils/log/libs

#22317 doc: Highlight DNS requests part in tor.md
  doc/tor.md
Labels: Docs

#24054 test: rest /tx with an invalid/unknown txid
  test/functional/interface_rest.py
Labels: Tests

#24093 build: specify hosts for qrencode package
  depends/Makefile
  depends/packages/packages.mk
Labels: Build system

#23976 document and clean up MaybeUpdateMempoolForReorg
  src/txmempool.h
  src/validation.cpp
Labels: Refactoring

#23956 build: use zeromq 4.3.4 in depends & fix NetBSD 10 build
  depends/packages/zeromq.mk
  depends/patches/zeromq/netbsd_kevent_void.patch
Labels: Build system, DrahtBot Guix build requested

#24104 fs: Make compatible with boost 1.78
  src/fs.h
  src/wallet/load.cpp
  test/functional/wallet_multiwallet.py
Labels: Wallet, Utils/log/libs

#24065 build: explicitly disable support for external signing on Windows
  ci/test/00_setup_env_win64.sh
  configure.ac
  src/util/system.cpp
Labels: Build system, DrahtBot Guix build requested

#24099 Replace `RecursiveMutex cs_mapLocalHost` with Mutex, and rename it
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  src/test/net_tests.cpp
Labels: RPC/REST/ZMQ, P2P

#23629 refactor tests to fix ubsan suppressions
  src/test/arith_uint256_tests.cpp
  src/test/coins_tests.cpp
  src/test/pow_tests.cpp
  src/test/prevector_tests.cpp
  src/test/sighash_tests.cpp
  src/test/skiplist_tests.cpp
  src/test/transaction_tests.cpp
  test/sanitizer_suppressions/ubsan
Labels: Tests

#23171 qa: test descriptors with mixed xpubs and const pubkeys
  src/test/descriptor_tests.cpp
Labels: Tests

#24021 Rename and move PoissonNextSend functions
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/random.cpp
  src/random.h
  src/test/fuzz/connman.cpp
Labels: P2P

#24078 net, refactor: Rename CNetMessage::m_command with CNetMessage::m_type
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/fuzz/p2p_transport_serialization.cpp
Labels: P2P

#23543 test: Prevent non-compatible sed binary for scripted-diffs
  test/lint/commit-script-check.sh
Labels: Tests

#24108 Replace RecursiveMutex `cs_addrLocal` with Mutex, and rename it
  src/net.cpp
  src/net.h
Labels: P2P

#24102 mempool: Run coin.IsSpent only once in a row
  src/validation.cpp
Labels: Refactoring

#24057 guix: point to recent commit on the master branch
  contrib/guix/guix-build
  contrib/guix/manifest.scm
Labels: Build system, Scripts and tools

#23804 validation: followups for de-duplication of packages
  src/policy/packages.h
  src/test/txpackage_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Validation

#21464 Mempool Update Cut-Through Optimization
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  test/functional/mempool_updatefromblock.py
Labels: Validation, Mempool

#24130 doc: Update the used Qt version
  doc/dependencies.md
Labels: Docs

#24105 Optimize CHECKSIGADD Script Validation
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/script/sign.cpp
  src/test/fuzz/signature_checker.cpp
Labels: Refactoring, Consensus

#23839 Linux: build with and test for control flow instrumentation on x86_64
  contrib/devtools/security-check.py
  contrib/devtools/test-security-check.py
  depends/packages/boost.mk
Labels: Scripts and tools, DrahtBot Guix build requested

#23201 wallet: Allow users to specify input weights when funding a transaction
  src/wallet/coincontrol.h
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
  src/wallet/test/spend_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/wallet_send.py
Labels: Wallet, RPC/REST/ZMQ

#23706 rpc: getblockfrompeer followups
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  test/functional/rpc_getblockfrompeer.py
Labels: RPC/REST/ZMQ, P2P

#24067 wallet: Actually treat (un)confirmed txs as (un)confirmed
  src/interfaces/chain.h
  src/interfaces/wallet.h
  src/node/interfaces.cpp
  src/qt/guiconstants.h
  src/qt/transactiondesc.cpp
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/wallet/interfaces.cpp
  src/wallet/receive.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/spend.cpp
  test/functional/test_runner.py
  test/functional/wallet_timelock.py
Labels: Bug, Wallet

#24153 test: remove unused sanitizer suppressions
  test/sanitizer_suppressions/ubsan
Labels: Tests

#24154 test: add functional test for `-maxtipage` parameter
  test/functional/feature_maxtipage.py
  test/functional/test_runner.py
Labels: Tests

#24113 test, bugfix: fix intermittent failure in getrawtransaction_tests
  test/functional/rpc_rawtransaction.py
Labels: Tests

#24155 doc: Fix rpc docs
  src/rpc/blockchain.cpp
  src/rpc/util.cpp
  src/rpc/util.h
Labels: Bug, Docs

#16795 rpc: have raw transaction decoding infer output descriptors
  doc/REST-interface.md
  src/core_write.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  test/functional/data/rpc_decodescript.json
  test/util/data/tt-delin1-out.json
  test/util/data/tt-delout1-out.json
  test/util/data/tt-locktime317000-out.json
  test/util/data/txcreate1.json
  test/util/data/txcreate2.json
  test/util/data/txcreatedata1.json
  test/util/data/txcreatedata2.json
  test/util/data/txcreatedata_seq0.json
  test/util/data/txcreatedata_seq1.json
  test/util/data/txcreatemultisig1.json
  test/util/data/txcreatemultisig2.json
  test/util/data/txcreatemultisig3.json
  test/util/data/txcreatemultisig4.json
  test/util/data/txcreatemultisig5.json
  test/util/data/txcreateoutpubkey1.json
  test/util/data/txcreateoutpubkey2.json
  test/util/data/txcreateoutpubkey3.json
  test/util/data/txcreatescript1.json
  test/util/data/txcreatescript2.json
  test/util/data/txcreatescript3.json
  test/util/data/txcreatescript4.json
  test/util/data/txcreatesignv1.json
Labels: Feature, RPC/REST/ZMQ, Descriptors

#24134 build: Fix zeromq package when cross-compiling
  depends/packages/zeromq.mk
  depends/patches/zeromq/netbsd_kevent_void.patch
Labels: Build system

#24167 fs: consistently use fsbridge:: for ifstream / ofstream
  src/bench/bench.cpp
  src/bitcoin-tx.cpp
  src/fs.cpp
  src/qt/psbtoperationsdialog.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/walletframe.cpp
  src/test/fuzz/fuzz.cpp
  src/test/script_tests.cpp
  src/util/system.cpp
Labels: Refactoring, DrahtBot Guix build requested

#23438 refactor: Use spans of std::byte in serialize
  src/bench/checkblock.cpp
  src/bench/rpc_blockchain.cpp
  src/common/bloom.cpp
  src/dbwrapper.h
  src/hash.h
  src/net.cpp
  src/node/blockstorage.cpp
  src/psbt.cpp
  src/pubkey.h
  src/script/bitcoinconsensus.cpp
  src/script/interpreter.cpp
  src/serialize.h
  src/span.h
  src/streams.h
  src/support/allocators/zeroafterfree.h
  src/test/bloom_tests.cpp
  src/test/fuzz/autofile.cpp
  src/test/fuzz/buffered_file.cpp
  src/test/fuzz/integer.cpp
  src/test/fuzz/rpc.cpp
  src/test/fuzz/util.h
  src/test/script_tests.cpp
  src/test/serialize_tests.cpp
  src/test/streams_tests.cpp
  src/uint256.h
  src/validation.cpp
  src/wallet/bdb.cpp
  src/wallet/dump.cpp
  src/wallet/sqlite.cpp
Labels: Refactoring, Utils/log/libs

#21851 release: support cross-compiling for arm64-apple-darwin
  .cirrus.yml
  ci/test/00_setup_env_mac.sh
  contrib/devtools/security-check.py
  contrib/devtools/symbol-check.py
  contrib/devtools/test-security-check.py
  contrib/guix/README.md
  contrib/guix/guix-build
  contrib/guix/guix-codesign
  contrib/guix/manifest.scm
  contrib/macdeploy/README.md
  depends/README.md
  depends/hosts/darwin.mk
Labels: Build system, DrahtBot Guix build requested

#23508 Add getdeploymentinfo RPC
  doc/release-notes-23508.md
  src/rpc/blockchain.cpp
  src/test/fuzz/rpc.cpp
  src/test/fuzz/versionbits.cpp
  src/versionbits.cpp
  src/versionbits.h
  test/functional/feature_cltv.py
  test/functional/feature_dersig.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_signrawtransaction.py
  test/functional/test_framework/util.py
Labels: RPC/REST/ZMQ

#24139 Avoid unsigned integer overflow in bitcoin-tx
  src/bitcoin-tx.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring, Utils/log/libs

#24111 build: force CRCCheck in Windows installer
  share/setup.nsi.in
Labels: Windows, Build system

#24129 build: Fix xargs warnings for Guix builds
  contrib/guix/libexec/build.sh
Labels: Build system, Scripts and tools, DrahtBot Guix build requested

#24203 doc: Fix typos pointed out by lint-spelling
  src/crypto/chacha_poly_aead.cpp
  src/random.h
  src/rpc/blockchain.cpp
  test/lint/lint-spelling.ignore-words.txt
Labels: Docs

#24197 Replace lock with thread safety annotation in CBlockTreeDB::LoadBlockIndexGuts()
  src/txdb.cpp
  src/txdb.h
Labels: UTXO Db and Indexes

#24179 fuzz: Speed up script fuzz target
  src/test/fuzz/script.cpp
Labels: Tests

#24146 Avoid integer sanitizer warnings in chain.o
  src/chain.cpp
  src/chain.h
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#24136 Extract CTxIn::MAX_SEQUENCE_NONFINAL constant, rework BIP 65/68/112 docs
  src/primitives/transaction.h
  src/rpc/rawtransaction_util.cpp
  src/test/fuzz/util.cpp
  src/test/miner_tests.cpp
  src/wallet/spend.cpp
Labels: Refactoring, Docs

#24191 refactor: Make MessageBoxFlags enum underlying type unsigned
  src/node/ui_interface.h
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#24192 test: Fix feature_init intermittent issues
  test/functional/feature_init.py
  test/functional/test_framework/test_node.py
Labels: Tests
