Repository bitcoin/bitcoin, pull requests merged in 2022-06, with the labels that each got.

#25259 test: check pre-segwit peer error in `getblockfrompeer` RPC
  test/functional/rpc_getblockfrompeer.py
Labels: Tests

#25165 doc: Explain squashing with merge commits
  CONTRIBUTING.md
Labels: Docs

#24416 doc: Avoid ADL for function calls
  doc/developer-notes.md
Labels: Docs

#25087 test: use MiniWallet for feature_dbcrash.py
  test/functional/feature_dbcrash.py
  test/functional/test_framework/wallet.py
Labels: Tests

#24531 Use designated initializers
  build_msvc/common.init.vcxproj.in
  src/Makefile.am
  src/net.cpp
  src/util/designator.h
Labels: Refactoring

#25264 kernel: pass params to BlockManager rather than using a global
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/validation.cpp
Labels: Refactoring

#24927 Add test util to populate mempool with random transactions, fix #24634 bug
  src/bench/mempool_stress.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Labels: Tests

#25267 test: check `replaceable` mismatch error in `createrawtransaction` RPC
  test/functional/rpc_rawtransaction.py
Labels: Tests

#24171 p2p: Sync chain more readily from inbound peers during IBD
  src/net_processing.cpp
  test/functional/p2p_block_sync.py
  test/functional/test_runner.py
Labels: P2P

#25256 logging: fix logging empty thread name
  src/logging.cpp
Labels: Utils/log/libs

#25065 [kernel 2c/n] Introduce `kernel::Context`, encapsulate global init/teardown
  src/Makefile.am
  src/bitcoin-chainstate.cpp
  src/bitcoind.cpp
  src/init.cpp
  src/init.h
  src/init/common.cpp
  src/init/common.h
  src/kernel/checks.cpp
  src/kernel/checks.h
  src/kernel/context.cpp
  src/kernel/context.h
  src/node/context.cpp
  src/node/context.h
  src/node/interfaces.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Labels: Build system, Utils/log/libs

#24860 Miniscript integration follow-ups
  src/Makefile.test.include
  src/script/miniscript.cpp
  src/script/miniscript.h
  src/test/fuzz/miniscript.cpp
  src/test/fuzz/miniscript_decode.cpp
  src/test/miniscript_tests.cpp
Labels: Build system

#25276 doc: Fix typo in importdescriptors
  src/wallet/rpc/backup.cpp
Labels: Wallet, RPC/REST/ZMQ

#25220 rpc: fix incorrect warning for address type p2sh-segwit in createmultisig
  src/rpc/output_script.cpp
  src/wallet/rpc/addresses.cpp
  test/functional/rpc_createmultisig.py
Labels: RPC/REST/ZMQ

#24629 Bugfix: RPC/blockchain: pruneblockchain: Return the height of the actual last pruned block
  src/rpc/blockchain.cpp
  test/functional/feature_index_prune.py
  test/functional/feature_pruning.py
Labels: RPC/REST/ZMQ

#25286 scripted-diff: remove duplicate categories from LogPrint output
  src/i2p.cpp
  src/net.cpp
  src/node/blockstorage.cpp
  src/torcontrol.cpp
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqpublishnotifier.cpp
  src/zmq/zmqutil.cpp
Labels: Utils/log/libs

#25245 refactor: Remove no-op TIME_INIT on deser
  src/bitcoin-util.cpp
  src/protocol.h
Labels: Refactoring, P2P

#25228 test: add BIP-125 rule 5 testcase with default mempool
  test/functional/feature_rbf.py
  test/functional/test_framework/wallet.py
Labels: Tests

#25239 wallet: 'CommitTransaction', remove extra wtx lookup and add exception for db write error
  src/wallet/wallet.cpp
Labels: Wallet

#25298 doc: Fix command in "OpenBSD Build Guide"
  doc/build-openbsd.md
Labels: Docs

#25096 [net] Minor improvements to addr caching
  src/net.cpp
  test/functional/p2p_getaddr_caching.py
Labels: P2P

#24395 build: use `BOOST_MULTI_INDEX_ENABLE_SAFE_MODE` when debugging
  configure.ac
Labels: Build system

#25307 doc: fix typo in kernel/context.h and add `desig` to ignore-words
  src/kernel/context.h
  test/lint/spelling.ignore-words.txt
Labels: Validation

#25312 test: Fix port collisions caused by p2p_getaddr_caching.py
  test/functional/p2p_getaddr_caching.py
  test/functional/test_framework/test_framework.py
Labels: Tests

#25318 0.21 Backports
  configure.ac
  src/fs.cpp
Labels: Backport

#25317 22.x Backport new Windows code signing certificate
  contrib/windeploy/win-codesign.cert
Labels: Windows, Backport

#24931 Strengthen thread safety assertions
  doc/developer-notes.md
  src/init.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/netbase.cpp
  src/qt/clientmodel.h
  src/rpc/blockchain.cpp
  src/rpc/server.cpp
  src/sync.h
  src/timedata.cpp
  src/util/system.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/sqlite.cpp
  src/wallet/wallet.cpp
  src/warnings.cpp
Labels: Refactoring

#25333 test: Fix out-of-range port collisions
  test/functional/feature_bind_extra.py
  test/functional/feature_proxy.py
  test/functional/p2p_getaddr_caching.py
Labels: Tests

#25313 guix: re-revert risc-v execstack workaround
  contrib/guix/libexec/build.sh
Labels: Build system

#25352 test: Fix previous release binary download script for Apple ARM64
  test/get_previous_releases.py
Labels: Tests

#25251 Consolidate Windows ASLR workarounds for upstream secp256k1 changes
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/bitcoin-util.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
  src/compat.h
  src/qt/main.cpp
  src/secp256k1/build-aux/m4/bitcoin_secp.m4
  src/secp256k1/include/secp256k1.h
  src/secp256k1/sage/prove_group_implementations.sage
  src/secp256k1/src/bench_internal.c
  src/secp256k1/src/group_impl.h
Labels: Windows, Upstream

#25356 test: Remove MiniWallet mempool_valid option
  test/functional/feature_rbf.py
  test/functional/mempool_limit.py
  test/functional/mempool_reorg.py
  test/functional/mempool_spend_coinbase.py
  test/functional/mining_prioritisetransaction.py
  test/functional/rpc_rawtransaction.py
  test/functional/test_framework/util.py
  test/functional/test_framework/wallet.py
Labels: Tests

#25359 doc: add distcc to productivity notes
  doc/productivity.md
Labels: Docs

#25320 util: modify Win32LockedPageAllocator to query windows for limit.
  src/support/lockedpool.cpp
Labels: Windows, Utils/log/libs

#25306 logging: add LogPrintfCategory to log unconditionally with category
  src/httpserver.cpp
  src/i2p.cpp
  src/init.cpp
  src/logging.h
  src/test/logging_tests.cpp
  src/torcontrol.cpp
  test/lint/lint-format-strings.py
  test/lint/lint-logs.py
Labels: Utils/log/libs

#25367 [contrib] message-capture-parser: fix out of bounds error for empty vectors
  contrib/message-capture/message-capture-parser.py
Labels: Scripts and tools

#25338 scripted-diff: Avoid incompatibility with CMake AUTOUIC feature
  src/Makefile.am
  src/banman.cpp
  src/bitcoind.cpp
  src/httpserver.cpp
  src/index/base.cpp
  src/init.cpp
  src/init/common.cpp
  src/net.cpp
  src/node/interface_ui.cpp
  src/node/interface_ui.h
  src/node/interfaces.cpp
  src/noui.cpp
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/paymentserver.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/transactionview.cpp
  src/qt/walletframe.cpp
  src/qt/walletmodel.cpp
  src/qt/walletview.cpp
  src/shutdown.cpp
  src/timedata.cpp
  src/validation.cpp
  src/wallet/init.cpp
Labels: Refactoring

#25156 refactor: Introduce PeerManagerImpl::RejectIncomingTxs
  src/net_processing.cpp
  test/functional/p2p_blocksonly.py
Labels: Refactoring, P2P

#25370 test: check for `getblocktxn` request with out-of-bounds tx index
  test/functional/p2p_compactblocks.py
Labels: Tests

#25374 test: remove unused `create_confirmed_utxos` helper
  test/functional/test_framework/util.py
Labels: Tests

#25339 RPC/blockchain: Elaborate on scantxoutset documentation
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#25223 [kernel 2e/n] miner: Make `mempool` optional, stop constructing temporary empty mempools
  src/node/miner.cpp
  src/node/miner.h
  src/rpc/mining.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/miner_tests.cpp
  src/test/util/mining.cpp
  src/test/util/setup_common.cpp
  src/test/validation_block_tests.cpp
Labels: Refactoring, Mining

#25358 test: passing a value below 5 MB to -maxmempool should throw an error
  test/functional/mempool_limit.py
Labels: Tests

#25368 doc: Update importaddress mention incompatibility with descriptor wallet
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/util.cpp
  test/functional/wallet_descriptor.py
Labels: Refactoring

#25382 doc requirement that replacement must have higher feerate than direct conflicts
  doc/policy/mempool-replacements.md
Labels: Docs

#25282 Bugfix: configure: Define default for use_libevent
  configure.ac
Labels: Build system

#25215 [kernel 2d/n] Reduce CTxMemPool constructor call sites
  src/bench/mempool_eviction.cpp
  src/bench/rpc_mempool.cpp
  src/net_processing.cpp
  src/rest.cpp
  src/test/blockencodings_tests.cpp
  src/test/mempool_tests.cpp
  src/test/policyestimator_tests.cpp
  src/test/validation_chainstate_tests.cpp
  src/test/validation_flush_tests.cpp
Labels: Refactoring

#24356 refactor: replace CConnman::SocketEvents() with mockable Sock::WaitMany()
  src/i2p.cpp
  src/net.cpp
  src/net.h
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/util/net.h
  src/util/sock.cpp
  src/util/sock.h
Labels: Refactoring, P2P, Utils/log/libs

#24649 wallet: do not count wallet utxos as external
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
  test/functional/rpc_fundrawtransaction.py
Labels: Wallet

#24864 contrib: Use asmap for ASN lookup in makeseeds
  contrib/seeds/.gitignore
  contrib/seeds/README.md
  contrib/seeds/asmap.py
  contrib/seeds/makeseeds.py
Labels: Scripts and tools

#22380 build: add and use C_STANDARD and CXX_STANDARD in depends
  depends/Makefile
  depends/README.md
  depends/hosts/android.mk
  depends/hosts/darwin.mk
  depends/hosts/freebsd.mk
  depends/hosts/linux.mk
  depends/hosts/mingw32.mk
  depends/hosts/netbsd.mk
  depends/hosts/openbsd.mk
  depends/packages/bdb.mk
  depends/packages/zeromq.mk
  depends/patches/qt/mac-qmake.conf
Labels: Build system

#25392 scripts: remove no-longer-needed ignored exports
  contrib/devtools/symbol-check.py
Labels: Build system, Scripts and tools, DrahtBot Guix build requested

#25299 doc: Correct comments re. units of constants
  src/node/blockstorage.h
  src/psbt.h
Labels: Block storage

#25281 build: Remove unused `LIBBITCOIN_KERNEL` variable
  src/Makefile.am
Labels: Build system

#25360 build: SystemTap 4.7 (RISC-V support)
  depends/packages/systemtap.mk
  depends/patches/systemtap/remove_SDT_ASM_SECTION_AUTOGROUP_SUPPORT_check.patch
Labels: Build system

#25289 test: implement 'bech32m' mode for `getnewdestination()` helper
  test/functional/rpc_createmultisig.py
  test/functional/test_framework/address.py
  test/functional/test_framework/script_util.py
  test/functional/test_framework/wallet.py
  test/functional/wallet_taproot.py
Labels: Tests

#25005 wallet: remove extra wtx lookup in 'AvailableCoins' + several code cleanups.
  src/wallet/interfaces.cpp
  src/wallet/receive.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#25410 wallet: fix warning: "argument name 'feerate' in comment does not match parameter name"
  src/wallet/spend.cpp
Labels: Wallet

#25409 doc: fix typos
  contrib/devtools/test-symbol-check.py
  contrib/seeds/asmap.py
Labels: Refactoring

#25388 refactor: move policy constants to policy
  src/policy/packages.h
  src/policy/policy.h
  src/validation.cpp
  src/validation.h
Labels: Refactoring, TX fees and policy, Validation

#25118 wallet: unify “allow/block other inputs“ concept
  src/wallet/coincontrol.h
  src/wallet/feebumper.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
Labels: Wallet

#25424 build, qt: Fix `QMAKE_CXXFLAGS` expression for `mingw32` host
  depends/packages/qt.mk
Labels: Build system

#25378 build: use sqlite 3380500 in depends
  depends/packages/sqlite.mk
Labels: Build system

#25425 build: Fix `::_wsystem` check
  configure.ac
Labels: Build system

#25430 test: refactor: save MiniWallet mode explicitly
  test/functional/test_framework/wallet.py
Labels: Tests

#25422 build: globally define NOMINMAX when building with mingw-w64
  configure.ac
  src/compat.h
  src/fs.cpp
  src/qt/guiutil.cpp
  src/support/lockedpool.cpp
  src/util/system.cpp
Labels: Build system

#25389 guix: use libtool 2.4.7
  configure.ac
  contrib/guix/manifest.scm
Labels: Build system

#25427 wallet: remove extra wtx lookup in AddToSpends
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#24352 Add doc/design/libraries.md
  doc/README.md
  doc/design/assumeutxo.md
  doc/design/libraries.md
  doc/design/multiprocess.md
  src/chain.h
Labels: Docs

#25435 test: Remove from_node from create_self_transfer* MiniWallet helpers
  test/functional/feature_fee_estimation.py
  test/functional/feature_rbf.py
  test/functional/mempool_unbroadcast.py
  test/functional/mining_prioritisetransaction.py
  test/functional/p2p_segwit.py
  test/functional/rpc_rawtransaction.py
  test/functional/test_framework/util.py
  test/functional/test_framework/wallet.py
Labels: Tests

#25440 log: Use consistent wording in random.cpp log
  src/random.cpp
Labels: Utils/log/libs

#25428 Remove Sock::Release() and CloseSocket()
  src/i2p.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/sock_tests.cpp
  src/test/util/net.h
  src/util/sock.cpp
  src/util/sock.h
Labels: Utils/log/libs

#25443 test: Fail if connect_nodes fails
  test/functional/feature_signet.py
  test/functional/test_framework/test_framework.py
Labels: Tests

#25414 doc: Update Arch Linux build example
  doc/build-unix.md
Labels: Docs

#25444 ci: macOS task imrovements
  .cirrus.yml
  ci/test/00_setup_env_mac_native_x86_64.sh
Labels: Tests

#25446 p2p: Set CNode::m_relays_txs=true when receiving BIP37 filters
  src/net_processing.cpp
Labels: P2P

#25438 refactor: remove unused methods in classes `CDBIterator,CDBWrapper,CCoinsViewDBCursor`
  src/coins.h
  src/dbwrapper.h
  src/txdb.cpp
Labels: Refactoring, UTXO Db and Indexes

#25456 rpc: Use steady_clock for getrpcinfo durations
  src/rpc/server.cpp
  src/util/time.h
Labels: RPC/REST/ZMQ

#25458 guix: parallelize LIEF build
  contrib/guix/manifest.scm
Labels: Build system, DrahtBot Guix build requested

#25460 ci: Update Windows task image up to `visualstudio2022`
  .cirrus.yml
  build_msvc/README.md
  build_msvc/msvc-autogen.py
Labels: Tests

#25476 test: Remove unnecessary mining from importdescriptors test
  test/functional/wallet_importdescriptors.py
Labels: Tests

#25439 rpc: Return incrementalrelayfee in getmempoolinfo
  src/rpc/mempool.cpp
  test/functional/feature_rbf.py
Labels: RPC/REST/ZMQ

#25357 guix: drop `-z,noexecstack` for PPC64
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  contrib/guix/patches/lief-fix-ppc64-nx-default.patch
Labels: Build system

#23418 Fix signed integer overflow in prioritisetransaction RPC
  src/txmempool.cpp
  src/txmempool.h
  test/sanitizer_suppressions/ubsan
Labels: RPC/REST/ZMQ, Mempool

#25436 build: GCC-12 build improvements
  configure.ac
  depends/packages/libxkbcommon.mk
Labels: Build system

#25144 refactor: Pass Peer& to Misbehaving()
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
Labels: Refactoring

#25445 test: Return new_utxo from create_self_transfer in MiniWallet
  test/functional/feature_dbcrash.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_rbf.py
  test/functional/mempool_reorg.py
  test/functional/rpc_mempool_info.py
  test/functional/test_framework/wallet.py
Labels: Tests

#25404 p2p, doc: Use MAX_BLOCKS_TO_ANNOUNCE consistently
  src/net_processing.cpp
Labels: P2P

#25483 Revert "ci: Increase CPU number for "Win64 native" task"
  .cirrus.yml
Labels: Tests

#25485 rpc: Use enum instead of string for `filtertype_name`
  src/rpc/blockchain.cpp
Labels: Refactoring, RPC/REST/ZMQ

#25486 test: fix failing test `interface_usdt_utxocache.py`
  test/functional/interface_usdt_utxocache.py
Labels: Tests

#25488 doc: Fix typo in macdeploy
  contrib/macdeploy/README.md
Labels: Scripts and tools

#25426 net: add new method Sock::GetSockName() that wraps getsockname() and use it in GetBindAddress()
  src/net.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/util/net.h
  src/util/sock.cpp
  src/util/sock.h
Labels: P2P, Utils/log/libs

#24378 refactor: make bind() and listen() mockable/testable
  src/net.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/util/net.h
  src/util/sock.cpp
  src/util/sock.h
Labels: Refactoring, P2P, Utils/log/libs

#24565 Remove LOCKTIME_MEDIAN_TIME_PAST constant
  src/consensus/consensus.h
  src/policy/policy.h
  src/test/miner_tests.cpp
  src/validation.cpp
Labels: Refactoring, Consensus

#25480 Replace CountSecondsDouble with Ticks<SecondsDouble>
  src/net_processing.cpp
  src/rpc/net.cpp
  src/util/time.h
Labels: Refactoring

#24924 bench: Make WalletLoading benchmark run faster
  src/bench/wallet_loading.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Tests

#25496 build: Clean up `build_msvc/libsecp256k1_config.h`
  build_msvc/libsecp256k1_config.h
Labels: Windows, Build system

#25290 [kernel 3a/n] Decouple `CTxMemPool` from `ArgsManager`
  src/Makefile.am
  src/init.cpp
  src/kernel/mempool_limits.h
  src/kernel/mempool_options.h
  src/mempool_args.cpp
  src/mempool_args.h
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/policy/fees.cpp
  src/policy/fees.h
  src/policy/fees_args.cpp
  src/policy/fees_args.h
  src/policy/packages.h
  src/policy/policy.h
  src/rpc/fees.cpp
  src/rpc/mempool.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/policy_estimator_io.cpp
  src/test/fuzz/rbf.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/fuzz/validation_load_mempool.cpp
  src/test/mempool_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  src/txmempool.cpp
  src/txmempool.h
  src/util/system.cpp
  src/util/system.h
  src/validation.cpp
  src/validation.h
  test/functional/mempool_expiry.py
Labels: Refactoring

#25437 guix: remove explicit glibc stack protector disabling
  contrib/guix/manifest.scm
Labels: Build system

#25492 util: remove MSVC warning pragmas
  src/util/system.cpp
Labels: Refactoring, Windows, Build system

#25495 Revert "bnb: exit selection when best_waste is 0"
  src/wallet/coinselection.cpp
  src/wallet/test/coinselector_tests.cpp
Labels: Wallet

#25497 wallet: more accurate target for large transactions
  src/wallet/spend.cpp
Labels: Wallet

#25503 test: pass `datacarriersize` option for tests using large outputs (instead of `acceptnonstdtxn`)
  test/functional/feature_maxuploadtarget.py
  test/functional/mempool_limit.py
  test/functional/mining_prioritisetransaction.py
  test/functional/test_framework/util.py
Labels: Tests

#24836 add RPC (-regtest only) for testing package policy
  src/rpc/client.cpp
  src/rpc/mempool.cpp
  src/test/fuzz/rpc.cpp
  src/util/error.cpp
  src/util/error.h
  test/functional/rpc_packages.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#25364 test: remove wallet dependency from feature_nulldummy.py
  test/functional/feature_nulldummy.py
  test/functional/test_framework/blocktools.py
  test/functional/test_runner.py
Labels: Tests

#25383 wallet: don't read db every time that a new 'WalletBatch' is created
  src/wallet/bdb.cpp
  src/wallet/walletdb.cpp
Labels: Wallet
