Repository bitcoin/bitcoin, pull requests merged in 2022-04, with the labels that each got.

#24724 test: fix incorrect named args in txpackage tests
  src/test/txpackage_tests.cpp
Labels: Refactoring

#24725 23.0: rc4 backport
  src/wallet/load.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Backport

#24733 build: Fix "ERR: Unsigned tarballs do not exist"
  contrib/guix/guix-codesign
Labels: Build system, Needs backport (23.x)

#24722 build: patch around qt duplicate symbol issue
  depends/packages/qt.mk
  depends/patches/qt/duplicate_lcqpafonts.patch
Labels: Build system, Upstream, DrahtBot Guix build requested

#24594 doc: update release-process.md
  doc/release-process.md
Labels: Docs

#24740 doc: remove incorrect mention of PR_GET_NAME
  src/util/threadnames.cpp
Labels: Utils/log/libs

#24738 build: remove faketime unsetting and comments from configure
  configure.ac
Labels: Build system, DrahtBot Guix build requested

#24558 build: explicitly disable Boost multi_index serialization
  configure.ac
Labels: Build system

#24661 refactor: Use clang-tidy syntax for C++ named arguments
  src/addrdb.cpp
  src/bench/addrman.cpp
  src/bench/mempool_stress.cpp
  src/bench/rpc_mempool.cpp
  src/bench/wallet_balance.cpp
  src/bitcoin-chainstate.cpp
  src/net.cpp
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/qt/bitcoingui.cpp
  src/qt/peertablemodel.cpp
  src/qt/rpcconsole.cpp
  src/qt/transactiontablemodel.cpp
  src/rpc/blockchain.cpp
  src/rpc/external_signer.cpp
  src/rpc/mempool.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/server.cpp
  src/rpc/txoutproof.cpp
  src/script/interpreter.cpp
  src/script/sign.cpp
  src/test/descriptor_tests.cpp
  src/txdb.cpp
  src/txmempool.cpp
  src/wallet/feebumper.cpp
  src/wallet/receive.cpp
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
  src/wallet/walletdb.cpp
Labels: Refactoring

#24668 build, qt: bump Qt5 version to 5.15.3
  .cirrus.yml
  build_msvc/README.md
  depends/packages/qt.mk
  depends/patches/qt/dont_use_avx_android_x86_64.patch
  depends/patches/qt/fix_android_jni_static.patch
  depends/patches/qt/fix_bigsur_style.patch
  depends/patches/qt/fix_limits_header.patch
  depends/patches/qt/fix_no_printer.patch
  depends/patches/qt/use_android_ndk23.patch
  doc/dependencies.md
Labels: Build system

#24746 refactor: remove macOS MAP_ANONYMOUS work around
  src/support/lockedpool.cpp
Labels: macOS

#24729 util/check: avoid unused parameter warnings
  src/util/check.h
Labels: Utils/log/libs

#24762 lint: Start to use py lint scripts
  test/lint/lint-all.sh
  test/lint/lint-files.py
  test/lint/lint-files.sh
  test/lint/lint-format-strings.sh
  test/lint/lint-spelling.sh
  test/lint/run-lint-format-strings.py
  test/lint/spelling.ignore-words.txt
Labels: Tests

#24755 [23.x] Further build backports
  contrib/guix/guix-codesign
  contrib/guix/manifest.scm
  contrib/guix/patches/vmov-alignment.patch
Labels: Backport

#24754 build: specify cmake build dir for multiprocess depends build
  depends/packages/libmultiprocess.mk
  depends/packages/native_libmultiprocess.mk
Labels: Build system

#24391 build: stop overriding user autoconf flags
  build-aux/m4/bitcoin_qt.m4
  configure.ac
  src/Makefile.am
Labels: Build system

#24147 Miniscript integration
  src/Makefile.am
  src/Makefile.test.include
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/script/miniscript.cpp
  src/script/miniscript.h
  src/script/script.cpp
  src/script/script.h
  src/script/standard.cpp
  src/script/standard.h
  src/test/fuzz/miniscript_decode.cpp
  src/test/miniscript_tests.cpp
Labels: Descriptors

#24749 test: use MiniWallet for mempool_unbroadcast.py
  test/functional/mempool_unbroadcast.py
Labels: Tests

#24236 Remove utxo db upgrade code
  ci/test/00_setup_env_native_qt5.sh
  src/init.cpp
  src/node/chainstate.cpp
  src/txdb.cpp
  src/txdb.h
  test/README.md
  test/functional/feature_unsupported_utxo_db.py
  test/functional/test_runner.py
  test/get_previous_releases.py
Labels: UTXO Db and Indexes

#24778 lint: Convert Python dead code linter test to Python
  test/README.md
  test/lint/lint-python-dead-code.py
  test/lint/lint-python-dead-code.sh
Labels: Docs, Tests

#24766 lint: convert spellchecking lint test to python
  test/README.md
  test/lint/lint-spelling.py
  test/lint/lint-spelling.sh
Labels: Tests

#24098 rest: Use query parameters to control resource loading
  doc/REST-interface.md
  doc/release-notes-24098.md
  src/Makefile.am
  src/Makefile.test.include
  src/httpserver.cpp
  src/httpserver.h
  src/rest.cpp
  src/rest.h
  src/test/httpserver_tests.cpp
  src/test/rest_tests.cpp
  test/functional/interface_rest.py
Labels: Build system, RPC/REST/ZMQ

#24753 ci: Add clang-tidy task
  .cirrus.yml
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/06_script_a.sh
  ci/test/06_script_b.sh
  configure.ac
Labels: Tests

#24652 doc: rewrite OpenBSD build docs for 7.0
  doc/build-openbsd.md
Labels: Docs

#24758 Disable the syscall sandbox for bitcoin-qt and remove gui-related syscalls
  src/init.cpp
  src/init.h
  src/node/interfaces.cpp
  src/util/syscall_sandbox.cpp
  src/util/syscall_sandbox.h
Labels: Utils/log/libs

#24669 build: further consolidate macOS deployment
  Makefile.am
  contrib/macdeploy/macdeployqtplus
Labels: macOS, Build system

#24552 guix: make it possible to override gpg binary
  contrib/guix/guix-attest
Labels: Build system, Scripts and tools

#24358 test: USDT tracepoint interface tests
  configure.ac
  test/config.ini.in
  test/functional/interface_usdt_net.py
  test/functional/interface_usdt_utxocache.py
  test/functional/interface_usdt_validation.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: Build system

#24145 mempool: Clear vTxHashes when mapTx is cleared
  src/txmempool.cpp
Labels: Mempool

#24681 build: Bump libevent minimum version up to 2.1.8
  configure.ac
  doc/dependencies.md
  src/bitcoin-cli.cpp
  src/httpserver.cpp
  src/httpserver.h
  src/rpc/misc.cpp
  src/test/fuzz/http_request.cpp
Labels: Build system

#24576 contrib: testgen: remove redundant base58 implementation
  contrib/testgen/README.md
  contrib/testgen/base58.py
  contrib/testgen/gen_key_io_test_vectors.py
  test/functional/test_framework/address.py
Labels: Tests, Scripts and tools

#24779 ci: Build all optional dependencies in tidy task
  ci/test/00_setup_env_native_tidy.sh
Labels: Tests

#24785 lint: remove boost::bind lint
  test/lint/lint-cpp.sh
Labels: Tests

#24786 doc: Convert remaining comments to clang-tidy format
  src/node/chainstate.cpp
  src/qt/signverifymessagedialog.cpp
  src/rest.cpp
  src/rpc/util.cpp
  src/script/miniscript.h
  src/test/net_peer_eviction_tests.cpp
  src/validation.cpp
  src/wallet/rpc/backup.cpp
Labels: Refactoring

#24152 policy / validation: CPFP fee bumping within packages
  doc/policy/packages.md
  src/test/fuzz/tx_pool.cpp
  src/test/txpackage_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: TX fees and policy, Validation

#24790 lint: remove qt SIGNAL/SLOT lint
  src/qt/bitcoingui.h
  test/lint/lint-qt.sh
Labels: GUI

#24784 refactor: deduplicate integer serialization in RollingBloom benchmark
  src/bench/rollingbloom.cpp
Labels: Refactoring

#24770 Put lock logging behind DEBUG_LOCKCONTENTION preprocessor directive
  doc/developer-notes.md
  src/logging.cpp
  src/logging.h
  src/net.h
  src/sync.h
  src/test/checkqueue_tests.cpp
  test/functional/rpc_misc.py
Labels: Needs backport (23.x)

#24806 RPC: Switch getblockfrompeer back to standard param name blockhash
  src/rpc/blockchain.cpp
Labels: Needs backport (23.x)

#24807 [23.x] Final rc4 backports
  doc/developer-notes.md
  src/logging.cpp
  src/logging.h
  src/net.h
  src/rpc/blockchain.cpp
  src/sync.h
  src/test/checkqueue_tests.cpp
  test/functional/rpc_misc.py
Labels: Backport

#24808 doc: update RPC argument and field naming guideline in developer notes
  doc/developer-notes.md
Labels: Docs

#24792 Update libsecp256k1 subtree to current master
  build_msvc/libsecp256k1/libsecp256k1.vcxproj
  configure.ac
  src/key.cpp
  src/secp256k1/.cirrus.yml
  src/secp256k1/.gitattributes
  src/secp256k1/.gitignore
  src/secp256k1/Makefile.am
  src/secp256k1/README.md
  src/secp256k1/build-aux/m4/bitcoin_secp.m4
  src/secp256k1/ci/cirrus.sh
  src/secp256k1/ci/linux-debian.Dockerfile
  src/secp256k1/configure.ac
  src/secp256k1/doc/CHANGELOG.md
  src/secp256k1/doc/release-process.md
  src/secp256k1/examples/EXAMPLES_COPYING
  src/secp256k1/examples/ecdh.c
  src/secp256k1/examples/ecdsa.c
  src/secp256k1/examples/random.h
  src/secp256k1/examples/schnorr.c
  src/secp256k1/include/secp256k1.h
  src/secp256k1/include/secp256k1_extrakeys.h
  src/secp256k1/include/secp256k1_schnorrsig.h
  src/secp256k1/sage/group_prover.sage
  src/secp256k1/sage/prove_group_implementations.sage
  src/secp256k1/sage/weierstrass_prover.sage
  src/secp256k1/src/bench_internal.c
  src/secp256k1/src/ecmult_compute_table.h
  src/secp256k1/src/ecmult_compute_table_impl.h
  src/secp256k1/src/ecmult_const_impl.h
  src/secp256k1/src/ecmult_gen_compute_table.h
  src/secp256k1/src/ecmult_gen_compute_table_impl.h
  src/secp256k1/src/ecmult_gen_impl.h
  src/secp256k1/src/ecmult_impl.h
  src/secp256k1/src/field.h
  src/secp256k1/src/field_10x26_impl.h
  src/secp256k1/src/field_5x52_impl.h
  src/secp256k1/src/field_impl.h
  src/secp256k1/src/gen_ecmult_static_pre_g.c
  src/secp256k1/src/group.h
  src/secp256k1/src/group_impl.h
  src/secp256k1/src/hash.h
  src/secp256k1/src/hash_impl.h
  src/secp256k1/src/modules/ecdh/tests_impl.h
  src/secp256k1/src/modules/schnorrsig/main_impl.h
  src/secp256k1/src/modules/schnorrsig/tests_impl.h
  src/secp256k1/src/precompute_ecmult.c
  src/secp256k1/src/precompute_ecmult_gen.c
  src/secp256k1/src/precomputed_ecmult.c
  src/secp256k1/src/precomputed_ecmult.h
  src/secp256k1/src/precomputed_ecmult_gen.c
  src/secp256k1/src/precomputed_ecmult_gen.h
  src/secp256k1/src/secp256k1.c
  src/secp256k1/src/testrand.h
  src/secp256k1/src/testrand_impl.h
  src/secp256k1/src/tests.c
  src/secp256k1/src/tests_exhaustive.c
  src/secp256k1/src/util.h
  src/secp256k1/src/valgrind_ctime_test.c
Labels: Upstream, DrahtBot Guix build requested

#24797 test: compare `/chaininfo` response with `getblockchaininfo` RPC
  test/functional/interface_rest.py
Labels: Tests

#24817 test: use MiniWallet for feature_fee_estimation.py
  test/functional/feature_fee_estimation.py
Labels: Tests

#24800 lint: convert lint-python-mutable-default-parameters.sh to Python
  test/lint/lint-python-mutable-default-parameters.py
  test/lint/lint-python-mutable-default-parameters.sh
Labels: Tests

#24826 builder-keys: Add will8clark
  contrib/builder-keys/keys.txt
Labels: Scripts and tools

#24632 add `(none)` in -getinfo `Warnings:` if no warning returned
  src/bitcoin-cli.cpp
Labels: Utils/log/libs

#24285 build, refactor: Drop useless `call` Make function
  depends/funcs.mk
Labels: Build system

#24355 util, refactor: Add UNIQUE_NAME helper macro
  src/logging/timer.h
  src/sync.h
  src/test/util/logging.h
  src/util/epochguard.h
  src/util/macros.h
Labels: Utils/log/libs

#24077 util: Make base_uint::GetHex() and base_uint::SetHex() not depend on uint256
  src/arith_uint256.cpp
  src/arith_uint256.h
Labels: Validation, Utils/log/libs

#24842 guix: fix GCC 10.3.0 + mingw-w64 setjmp/longjmp issues
  contrib/guix/manifest.scm
  contrib/guix/patches/gcc-broken-longjmp.patch
Labels: Windows, Build system, Needs backport (23.x)

#23416 doc: Remove fee delta TODO from txmempool.cpp
  src/txmempool.cpp
Labels: Mempool

#22052 net: remove non-blocking bool from interface
  src/netbase.cpp
  src/netbase.h
Labels: Refactoring, P2P

#24849 lint: Convert lint-logs.sh to Python
  src/random.cpp
  test/lint/lint-logs.py
  test/lint/lint-logs.sh
Labels: Tests

#24559 test: add test for signet miner script
  Makefile.am
  test/config.ini.in
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/tool_signet_miner.py
Labels: Scripts and tools

#19952 build, ci: Add file-based logging for individual packages
  ci/test/05_before_script.sh
  depends/Makefile
  depends/README.md
  depends/funcs.mk
Labels: Build system, Utils/log/libs

#24818 net: improve and address issues in makeseeds.py
  contrib/seeds/makeseeds.py
Labels: P2P, Scripts and tools

#24172 doc: Add pre-splitoff translation update to `release-process.md`
  doc/release-process.md
Labels: Docs

#24847 ci: Bump vcpkg to the latest version `2022.04.12`
  .cirrus.yml
  build_msvc/vcpkg.json
Labels: Tests

#24841 test: fix connman UB by calling derived constructor
  src/test/util/setup_common.cpp
Labels: Tests

#24855 rpc: Fix `setwalletflag` disabling of flags
  src/wallet/rpc/wallet.cpp
  test/functional/wallet_avoidreuse.py
Labels: RPC/REST/ZMQ

#24862 contrib: Remove suspicious hosts list from makeseeds
  contrib/seeds/makeseeds.py
  contrib/seeds/suspicious_hosts.txt
Labels: Scripts and tools

#24859 wallet: Change wallet validation order
  src/wallet/wallet.cpp
  test/functional/wallet_createwallet.py
Labels: Wallet

#24844 lint: Convert lint-whitespace.sh to Python
  test/lint/lint-whitespace.py
  test/lint/lint-whitespace.sh
Labels: Tests

#24853 lint: Convert lint-git-commit-check.sh to Python
  test/lint/lint-git-commit-check.py
  test/lint/lint-git-commit-check.sh
Labels: Tests

#24794 lint: Convert Python linter to Python
  test/README.md
  test/lint/lint-python.py
  test/lint/lint-python.sh
Labels: Tests

#24913 bench: Add a benchmark for wallet loading
  src/Makefile.bench.include
  src/bench/wallet_loading.cpp
Labels: Tests

#24776 docs: update /rest/chaininfo doc referring to RPC help
  doc/REST-interface.md
Labels: Docs

#24919 doc: Fix a link to `test/lint/lint-python.py`
  test/functional/README.md
Labels: Docs

#21279 scripted-diff: Regenerate key_io data deterministically
  contrib/testgen/README.md
  contrib/testgen/gen_key_io_test_vectors.py
  src/test/data/key_io_invalid.json
  src/test/data/key_io_valid.json
Labels: Scripts and tools

#24896 test: use MiniWallet for p2p_segwit.py
  test/functional/p2p_segwit.py
Labels: Tests

#24871 refactor: Simplify GetTime
  src/util/time.cpp
Labels: Refactoring

#24772 refactor: Use [[maybe_unused]] attribute
  src/crypto/sha256.cpp
Labels: Refactoring

#24357 refactor: make setsockopt() and SetSocketNoDelay() mockable/testable
  src/net.cpp
  src/netbase.cpp
  src/netbase.h
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/util/net.h
  src/util/sock.cpp
  src/util/sock.h
Labels: Refactoring, P2P, Utils/log/libs

#24906 miniscript: the 'd:' wrapper must not be 'u'
  src/script/miniscript.cpp
  src/test/miniscript_tests.cpp
Labels: Tests

#24895 lint: Convert lint-includes.sh to Python
  test/lint/lint-includes.py
  test/lint/lint-includes.sh
Labels: Tests

#24909 refactor: Move and rename `pindexBestHeader`, `fHavePruned`
  src/bench/rpc_blockchain.cpp
  src/init.cpp
  src/net_processing.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/node/chainstate.cpp
  src/node/interfaces.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#24788 doc: Add gpg key import instructions for Windows
  contrib/builder-keys/README.md
Labels: Docs, Windows

#24534 contrib: macdeploy: make gen-sdk deterministic
  contrib/macdeploy/README.md
  contrib/macdeploy/gen-sdk
Labels: macOS, Scripts and tools

#24031 build: don't compress macOS DMG
  .gitignore
  Makefile.am
  configure.ac
  contrib/guix/libexec/build.sh
  contrib/guix/libexec/codesign.sh
  contrib/guix/manifest.scm
  contrib/macdeploy/README.md
  depends/packages/native_libdmg-hfsplus.mk
  depends/packages/packages.mk
  depends/patches/native_libdmg-hfsplus/remove-libcrypto-dependency.patch
Labels: macOS, Build system, Scripts and tools

#24586 doc: add more info to dependencies.md
  doc/dependencies.md
Labels: Docs

#24918 test: Remove unused taproot node from wallet_taproot.py
  test/functional/wallet_taproot.py
Labels: Tests

#24213 refactor: use Span in random.*
  src/addrdb.cpp
  src/dbwrapper.cpp
  src/key.cpp
  src/net_processing.cpp
  src/random.cpp
  src/random.h
  src/rpc/request.cpp
  src/test/key_tests.cpp
  src/torcontrol.cpp
  src/util/bytevectorhash.cpp
  src/wallet/test/wallet_crypto_tests.cpp
  src/wallet/wallet.cpp
Labels: Refactoring, Utils/log/libs

#24803 lint: convert submodule linter test to Python
  test/lint/lint-submodule.py
  test/lint/lint-submodule.sh
Labels: Tests

#24854 Remove not needed ArithToUint256 roundtrips in tests
  src/arith_uint256.h
  src/test/denialofservice_tests.cpp
  src/test/pmt_tests.cpp
Labels: Refactoring

#24936 test: compare `/mempool/contents` response with `getrawmempool` RPC
  doc/REST-interface.md
  test/functional/interface_rest.py
Labels: Tests

#22910 net: Encapsulate asmap in NetGroupManager
  src/Makefile.am
  src/addrdb.cpp
  src/addrdb.h
  src/addrman.cpp
  src/addrman.h
  src/addrman_impl.h
  src/bench/addrman.cpp
  src/init.cpp
  src/net.cpp
  src/net.h
  src/netaddress.cpp
  src/netaddress.h
  src/netgroup.cpp
  src/netgroup.h
  src/node/context.cpp
  src/node/context.h
  src/test/addrman_tests.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/addrman.cpp
  src/test/fuzz/asmap.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/deserialize.cpp
  src/test/netbase_tests.cpp
  src/test/util/setup_common.cpp
Labels: P2P, Utils/log/libs

#24812 util/check: Add CHECK_NONFATAL identity function and NONFATAL_UNREACHABLE macro
  src/rpc/blockchain.cpp
  src/rpc/misc.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/util.cpp
  src/util/check.h
  src/wallet/rpc/backup.cpp
  test/functional/rpc_misc.py
Labels: RPC/REST/ZMQ, Utils/log/libs

#24948 contrib: macdeploy: fix typo in permissions
  contrib/macdeploy/README.md
  contrib/macdeploy/gen-sdk
Labels: Scripts and tools

#24454 tests: Fix calculation of external input weights
  test/functional/rpc_psbt.py
  test/functional/wallet_send.py
Labels: Tests, Needs backport (23.x)

#24955 guix: Improve error message about missed macOS SDK
  contrib/guix/guix-build
Labels: Build system, Scripts and tools

#24973 doc: Add 23.0 release notes
  doc/release-notes/release-notes-23.0.md
Labels: Docs

#24932 lint: Convert lint-locale-dependence.sh to Python
  test/lint/lint-locale-dependence.py
  test/lint/lint-locale-dependence.sh
Labels: Tests

#24916 lint: Convert lint-python-utf8-encoding.sh to Python
  test/lint/lint-python-utf8-encoding.py
  test/lint/lint-python-utf8-encoding.sh
Labels: Tests

#24902 lint: Convert lint-include-guards.sh to Python
  test/lint/lint-include-guards.py
  test/lint/lint-include-guards.sh
Labels: Tests

#24802 lint: convert format strings linter test to python
  test/lint/lint-format-strings.py
  test/lint/lint-format-strings.sh
Labels: Tests

#24815 lint: convert lint-tests.sh to python
  test/lint/lint-tests.py
  test/lint/lint-tests.sh
Labels: Tests

#24915 lint: Convert lint-circular-dependencies.sh to Python
  test/lint/lint-circular-dependencies.py
  test/lint/lint-circular-dependencies.sh
Labels: Tests

#24856 lint: Converting lint-assertions.sh to lint-assertions.py
  test/lint/lint-assertions.py
  test/lint/lint-assertions.sh
Labels: Tests

#24968 Move only: Move TxOrphange tests to orphange_tests.cpp
  src/Makefile.test.include
  src/test/denialofservice_tests.cpp
  src/test/orphanage_tests.cpp
Labels: P2P

#24157 p2p: Replace RecursiveMutex `cs_totalBytesSent` with Mutex and rename it
  src/net.cpp
  src/net.h
Labels: P2P

#22953 refactor: introduce single-separator split helper (boost::split replacement)
  src/bitcoin-tx.cpp
  src/chainparams.cpp
  src/rest.cpp
  src/rpc/server.cpp
  src/rpc/util.cpp
  src/test/fuzz/script_assets_test_minimizer.cpp
  src/test/fuzz/string.cpp
  src/test/transaction_tests.cpp
  src/test/util_tests.cpp
  src/torcontrol.cpp
  src/util/spanparsing.cpp
  src/util/spanparsing.h
  src/util/string.h
  src/wallet/rpc/backup.cpp
Labels: Refactoring

#24979 Precomputed hashes are note #16 in BIP341
  src/script/interpreter.h
Labels: Docs

#24789 init, index: disallow indexes when running reindex-chainstate
  src/init.cpp
  test/functional/feature_coinstatsindex.py
  test/functional/p2p_blockfilters.py
Labels: Tests

#24971 tidy: modernize-use-nullptr
  ci/test/06_script_a.sh
  configure.ac
  src/.bear-tidy-config
  src/.clang-tidy
  src/mapport.cpp
  src/netbase.cpp
  src/qt/intro.cpp
  src/randomenv.cpp
  src/support/allocators/secure.h
  src/test/fuzz/crypto_diff_fuzz_chacha20.cpp
  src/torcontrol.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#24977 rpc: Explain active and internal in listdescriptors
  src/wallet/rpc/backup.cpp
Labels: Wallet, RPC/REST/ZMQ

#24392 build: Fix configuring depends with cmake
  depends/hosts/mingw32.mk
Labels: Build system

#24644 wallet: add tracepoints and algorithm information to coin selection
  doc/tracing.md
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
  test/functional/interface_usdt_coinselection.py
  test/functional/test_runner.py
Labels: Wallet

#21726 Improve Indices on pruned nodes via prune blockers
  src/index/base.cpp
  src/index/base.h
  src/index/blockfilterindex.h
  src/index/coinstatsindex.h
  src/index/txindex.h
  src/init.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/rpc/blockchain.cpp
  src/validation.cpp
  test/functional/feature_blockfilterindex_prune.py
  test/functional/feature_index_prune.py
  test/functional/feature_pruning.py
  test/functional/test_runner.py
  test/lint/lint-circular-dependencies.py
Labels: UTXO Db and Indexes, RPC/REST/ZMQ, Validation

#24917 Make BlockManager::LoadBlockIndex private
  src/node/blockstorage.h
  src/validation.h
Labels: Refactoring

#24739 test: Fix intermittent test failure in wallet_listreceivedby.py
  test/functional/wallet_listreceivedby.py
Labels: Tests

#18642 Use std::chrono for the time to rotate destination of addr messages + tests
  src/net_processing.cpp
  test/functional/p2p_addr_relay.py
Labels: P2P

#25011 tests: Do not always create a descriptor wallet in wallet_createwallet
  test/functional/wallet_createwallet.py
Labels: Tests

#24831 tidy: add include-what-you-use
  ci/test/00_setup_env_native_tidy.sh
  ci/test/04_install.sh
  ci/test/06_script_b.sh
  configure.ac
  contrib/devtools/iwyu/bitcoin.core.imp
  src/compat/byteswap.h
  src/compat/cpuid.h
  src/compat/endian.h
  src/compat/glibcxx_sanity.cpp
  src/compat/stdin.cpp
  src/init/bitcoin-gui.cpp
  src/init/bitcoin-node.cpp
  src/init/bitcoin-qt.cpp
  src/init/bitcoin-wallet.cpp
  src/init/bitcoind.cpp
  src/init/common.cpp
Labels: Refactoring

#22564 refactor: Move mutable globals cleared in `::UnloadBlockIndex` to `BlockManager`
  src/bitcoin-chainstate.cpp
  src/init.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/node/chainstate.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstate_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#24982 tests: Port `lint-all.sh` to `lint-all.py`
  ci/lint/06_script.sh
  test/README.md
  test/lint/README.md
  test/lint/lint-all.py
  test/lint/lint-all.sh
Labels: Docs, Tests

#24988 lint: Mention NONFATAL_UNREACHABLE in lint-assertions.py
  src/util/check.h
  test/lint/lint-assertions.py
Labels: Utils/log/libs

#24937 test: Remove previous release check in feature_taproot.py
  test/functional/feature_taproot.py
  test/functional/test_runner.py
Labels: Tests

#24958 build: Fix macOS Apple M1 build with miniupnpc and libnatpmp. Again :)
  configure.ac
Labels: macOS, Build system

#24984 wallet: ignore chainStateFlushed notifications while attaching chain
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Bug, Wallet

#18554 wallet: ensure wallet files are not reused across chains
  src/dummywallet.cpp
  src/wallet/init.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_runner.py
  test/functional/wallet_crosschain.py
Labels: Wallet

#25009 Crash debug builds on PCKG_MEMPOOL_ERROR
  src/validation.cpp
Labels: Validation

#25013 Remove cs_main from verifymessage, move msg utils to new file
  ci/test/06_script_b.sh
  src/Makefile.am
  src/rpc/misc.cpp
  src/rpc/register.h
  src/rpc/signmessage.cpp
Labels: Refactoring

#25024 test: Split MempoolAncestryTests into two
  src/test/mempool_tests.cpp
Labels: Tests

#25016 refactor: GetFirstStoredBlock() and getblockchaininfo follow-ups
  src/index/base.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/rpc/blockchain.cpp
Labels: Refactoring

#25025 test: Remove boost::split from rpc_tests.cpp
  src/test/rpc_tests.cpp
Labels: Tests

#25034 test: add missing stop_node calls to feature_coinstatsindex and feature_prune
  test/functional/feature_coinstatsindex.py
  test/functional/feature_pruning.py
  test/functional/test_framework/test_node.py
Labels: Tests

#25028 ci: Clone iwyu only if missing
  ci/test/04_install.sh
  ci/test/06_script_b.sh
Labels: Tests

#25027 test: Remove boost::split from getarg_tests.cpp
  src/test/getarg_tests.cpp
Labels: Tests

#24543 net processing: Move remaining globals into PeerManagerImpl
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
Labels: Refactoring, P2P
