Repository bitcoin/bitcoin, pull requests merged in 2023-04, with the labels that each got.

#27379 net processing: #26140 follow-ups
  src/net_processing.cpp
Labels: P2P

#27378 test: Remove python3.5 workaround
  test/functional/feature_dbcrash.py
  test/functional/test_framework/authproxy.py
  test/functional/test_framework/util.py
Labels: Tests

#27382 miniscript: explicit cast instead of comparing integers of different signs
  src/script/miniscript.h
Labels: Descriptors

#27389 test: refactor: replace unnecessary `BytesIO` uses
  test/functional/feature_taproot.py
  test/functional/interface_rest.py
  test/functional/interface_zmq.py
Labels: Tests

#26832 compat: move (win) S_* defines into bdb
  src/compat/compat.h
  src/randomenv.cpp
  src/test/util_tests.cpp
  src/wallet/bdb.cpp
Labels: Utils/log/libs

#27420 build: remove ancient unused define
  configure.ac
Labels: Build system

#27317 log: Check that the timestamp string is non-empty to avoid undefined behavior
  src/logging.cpp
Labels: Utils/log/libs

#27418 test: Remove windows workaround in authproxy
  test/functional/test_framework/authproxy.py
Labels: Tests

#27406 depends: add `NO_HARDEN=` option
  depends/Makefile
  depends/README.md
  depends/config.site.in
  depends/gen_id
  depends/packages/libevent.mk
Labels: Build system

#27423 ci: fix git dubious permissions error
  ci/test/04_install.sh
Labels: Tests

#27429 ci: Run base install at most once
  ci/test/01_base_install.sh
  ci/test/04_install.sh
Labels: Tests

#27358 contrib: allow multi-sig binary verification v2
  contrib/verifybinaries/README.md
  contrib/verifybinaries/test.py
  contrib/verifybinaries/verify.py
Labels: Scripts and tools

#26741 doc: FreeBSD DataDirectoryGroupReadable Setting
  doc/tor.md
Labels: Docs

#27440 contrib: followups to #27358 (verify-binaries)
  contrib/verify-binaries/README.md
  contrib/verify-binaries/test.py
  contrib/verify-binaries/verify.py
Labels: Scripts and tools

#27441 doc: correct sqlite & qrencode versions used in depenendencies.md
  doc/dependencies.md
Labels: Docs

#27436 test: LLVM/Clang 16 for MSAN jobs
  .cirrus.yml
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/01_base_install.sh
Labels: Tests

#27270 refactor, net processing: Avoid CNode::m_relays_txs usage
  src/net_processing.cpp
Labels: Refactoring, P2P

#26699 wallet, gui: bugfix, getAvailableBalance skips selected coins
  src/bench/wallet_create_tx.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/wallet_tests.cpp
Labels: Wallet

#27217 wallet: Replace use of purpose strings with an enum
  doc/release-notes-27217.md
  src/Makefile.am
  src/interfaces/wallet.h
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/editaddressdialog.cpp
  src/qt/test/addressbooktests.cpp
  src/qt/test/wallettests.cpp
  src/qt/transactiondesc.cpp
  src/qt/transactionrecord.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/wallet/interfaces.cpp
  src/wallet/receive.h
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/ismine_tests.cpp
  src/wallet/transaction.h
  src/wallet/types.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/functional/wallet_labels.py
Labels: Wallet

#27449 doc: update OpenBSD build docs for 7.3 (external signer support available)
  doc/build-openbsd.md
Labels: Docs

#27459 ci: explicitly install libclang-rt-dev in valgrind jobs
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_valgrind.sh
Labels: Tests

#27374 p2p: skip netgroup diversity of new connections for tor/i2p/cjdns
  src/net.cpp
Labels: P2P

#27308 bumpfee: avoid making bumped transactions with too low fee when replacing outputs
  src/wallet/feebumper.cpp
  test/functional/wallet_bumpfee.py
Labels: Wallet

#27465 doc: fix typo in developer-notes.md
  doc/developer-notes.md
Labels: Docs

#27473 bugfix: Properly handle "unknown" Address Type
  src/outputtype.cpp
Labels: Wallet, Needs backport (24.x)

#27471 test: fix bumpfee 'spend_one_input' occasional failure
  test/functional/wallet_bumpfee.py
Labels: Tests

#27340 ci: Use Cirrus CI dockerfile env
  .cirrus.yml
  ci/test/00_setup_env_native_nowallet_libbitcoinkernel.sh
Labels: Tests

#27484 doc: remove outdated version number usage from release-process
  doc/release-process.md
Labels: Docs

#27486 [24.1] Bump version to 24.1rc2
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#27447 depends: Remove `_LIBCPP_DEBUG` from depends DEBUG mode
  depends/hosts/linux.mk
Labels: Build system

#27448 ci: build libc++ in DEBUG mode in MSAN jobs
  ci/test/01_base_install.sh
Labels: Tests

#26681 contrib: Bugfix for checking bad dns seeds without casting in `makeseeds.py`
  contrib/seeds/makeseeds.py
Labels: Scripts and tools

#27482 kernel: chainparams updates for 25.x
  contrib/seeds/generate-seeds.py
  doc/release-process.md
  src/kernel/chainparams.cpp
  src/test/validation_tests.cpp
Labels: Validation

#27488 p2p: update hardcoded mainnet seeds for 25.x
  contrib/seeds/README.md
  contrib/seeds/makeseeds.py
  contrib/seeds/nodes_main.txt
  contrib/seeds/nodes_main_manual.txt
  src/chainparamsseeds.h
Labels: P2P

#27214 addrman: Enable selecting addresses by network
  src/addrman.cpp
  src/addrman.h
  src/addrman_impl.h
  src/bench/addrman.cpp
  src/test/addrman_tests.cpp
Labels: P2P, CI failed

#27504 [25.x] Bump version to 25.0rc1
  configure.ac
  doc/bips.md
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes-empty-template.md
  doc/release-notes.md
  share/examples/bitcoin.conf
Labels: Backport

#27498 test: Remove unused sanitizer suppressions
  test/sanitizer_suppressions/tsan
  test/sanitizer_suppressions/ubsan
Labels: Tests

#27464 fuzz: re-enable prioritisetransaction & analyzepsbt RPC
  src/test/fuzz/rpc.cpp
Labels: Tests

#27496 depends: reuse _config_opts for CMake options
  depends/funcs.mk
  depends/packages/libmultiprocess.mk
Labels: Build system

#27506 test: prevent intermittent failures
  src/test/addrman_tests.cpp
Labels: Tests

#27508 build: use latest config.{guess,sub} in depends
  depends/config.guess
  depends/config.sub
Labels: Build system

#27516 test: simplify uint256 (de)serialization routines
  test/functional/test_framework/messages.py
Labels: Tests

#26933 mempool: disallow txns under min relay fee, even in packages
  doc/policy/packages.md
  src/test/txpackage_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  src/validation.cpp
  test/functional/mempool_limit.py
  test/functional/rpc_packages.py
Labels: Mempool

#25158 rpc, wallet: add abandoned field for all categories of transaction in ListTransaction
  doc/release-notes-25158.md
  src/wallet/rpc/transactions.cpp
  test/functional/wallet_bumpfee.py
Labels: RPC/REST/ZMQ

#25937 test: add coverage for rpc error when trying to rescan beyond pruned data
  test/functional/feature_pruning.py
Labels: Tests

#26794 test: test banlist database recreation
  test/functional/p2p_disconnect_ban.py
Labels: Tests

#26314 test: perturb anchors.dat to test error during initialization
  test/functional/feature_anchors.py
Labels: Tests
