Repository bitcoin/bitcoin, pull requests merged in 2023-09, with the labels that each got.

#28384 ci: Avoid oversubscription in functional tests on Windows
  .github/workflows/ci.yml
Labels: Tests

#28350 Log explicit error message when coindb is found in inconsistent state
  src/txdb.cpp
Labels: Utils/log/libs

#28291 rpc: removed StrFormatInternalBug quote delimitation
  src/rpc/util.cpp
  src/util/check.cpp
  test/functional/rpc_misc.py
Labels: RPC/REST/ZMQ

#28402 ci: Bump `actions/checkout` version
  .github/workflows/ci.yml
Labels: Tests

#28396 test: p2p: check that `getaddr` msgs are only responded once per connection
  test/functional/p2p_addr_relay.py
Labels: Tests

#28386 test: remove fixed timeouts from feature_config_args
  test/functional/feature_config_args.py
Labels: Tests

#28359 ci: Asan with -ftrivial-auto-var-init=pattern
  ci/test/00_setup_env_native_asan.sh
  ci/test/06_script_b.sh
Labels: Tests

#28195 blockstorage: Drop legacy -txindex check
  src/init.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/node/chainstate.cpp
  src/test/util/setup_common.cpp
  src/txdb.cpp
  src/txdb.h
  src/validation.h
  test/functional/feature_blocksdir.py
  test/functional/feature_pruning.py
  test/functional/feature_txindex_compatibility.py
  test/functional/wallet_backup.py
  test/functional/wallet_hd.py
  test/functional/wallet_pruning.py
Labels: Block storage

#28151 build: use `-muse-unaligned-vector-move` for Windows builds
  configure.ac
Labels: Build system

#28410 [24.x] depends: xcb-proto 1.15.2
  depends/packages/xcb_proto.mk
Labels: Backport, CI failed

#28409 test: Combine sync_send_with_ping and sync_with_ping
  test/functional/p2p_addr_relay.py
  test/functional/p2p_addrfetch.py
  test/functional/p2p_blocksonly.py
  test/functional/p2p_compactblocks_blocksonly.py
  test/functional/p2p_filter.py
  test/functional/p2p_ibd_stalling.py
  test/functional/p2p_ibd_txrelay.py
  test/functional/test_framework/p2p.py
Labels: Tests

#26567 Wallet: estimate the size of signed inputs using descriptors
  src/consensus/validation.h
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/script/miniscript.h
  src/script/signingprovider.cpp
  src/script/signingprovider.h
  src/test/descriptor_tests.cpp
  src/test/fuzz/descriptor_parse.cpp
  src/test/fuzz/miniscript.cpp
  src/test/miniscript_tests.cpp
  src/wallet/spend.cpp
  src/wallet/test/spend_tests.cpp
  src/wallet/test/walletload_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#28419 fuzz: introduce and use `ConsumePrivateKey` helper
  src/test/fuzz/bip324.cpp
  src/test/fuzz/key.cpp
  src/test/fuzz/message.cpp
  src/test/fuzz/rpc.cpp
  src/test/fuzz/script_sign.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
Labels: Tests

#28426 doc: s/--no-substitute/--no-substitutes in guix/INSTALL
  contrib/guix/INSTALL.md
Labels: Docs

#25284 net: Use serialization parameters for CAddress serialization
  src/addrdb.cpp
  src/addrdb.h
  src/addrman.cpp
  src/addrman_impl.h
  src/hash.h
  src/index/disktxpos.h
  src/net.cpp
  src/net_processing.cpp
  src/netaddress.h
  src/primitives/block.h
  src/protocol.h
  src/script/script.h
  src/serialize.h
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/script_sign.cpp
  src/test/fuzz/util.h
  src/test/fuzz/util/net.cpp
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/test/serialize_tests.cpp
  src/test/streams_tests.cpp
  src/test/util/net.cpp
  src/version.h
Labels: Refactoring

#28422 depends: cctools 986, ld64 711 & libtapi 1300.0.6.5
  depends/packages/native_cctools.mk
  depends/packages/native_libtapi.mk
  depends/patches/native_cctools/no_fixup_chains.patch
  depends/patches/native_libtapi/disable_zlib.patch
Labels: Build system

#28412 test: remove unused variables in `p2p_invalid_block`
  test/functional/p2p_invalid_block.py
Labels: Tests

#28361 fuzz: add ConstructPubKeyBytes util function
  src/test/fuzz/util.cpp
Labels: Tests

#28196 BIP324 connection support
  src/net.cpp
  src/net.h
  src/pubkey.cpp
  src/pubkey.h
  src/test/bip324_tests.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/p2p_transport_serialization.cpp
  src/test/net_tests.cpp
  src/test/util/net.cpp
Labels: P2P

#28427 index: coinstats reorg, fail when block cannot be reversed
  src/index/blockfilterindex.cpp
  src/index/coinstatsindex.cpp
  src/index/coinstatsindex.h
  src/index/txindex.cpp
Labels: UTXO Db and Indexes

#28448 rpc: Deprecate rpcserialversion=0
  doc/release-notes-28448.md
  src/init.cpp
  test/functional/feature_segwit.py
Labels: RPC/REST/ZMQ

#28251 validation: fix coins disappearing mid-package evaluation
  src/policy/packages.cpp
  src/test/txpackage_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  test/functional/mempool_limit.py
  test/functional/rpc_packages.py
  test/functional/test_framework/wallet.py
Labels: Bug, Validation

#28458 refactor: Remove unused GetType() from CBufferedFile and CAutoFile
  src/bench/streams_findbyte.cpp
  src/dbwrapper.cpp
  src/dbwrapper.h
  src/index/txindex.cpp
  src/kernel/mempool_persist.cpp
  src/node/blockstorage.cpp
  src/streams.h
  src/test/fuzz/buffered_file.cpp
  src/test/streams_tests.cpp
  src/validation.cpp
Labels: Refactoring

#28279 ci: Add test-each-commit task
  .github/workflows/ci.yml
Labels: Tests

#28423 kernel: Remove protocol.h/netaddress.h/compat.h from kernel headers
  src/Makefile.am
  src/addrdb.cpp
  src/bench/block_assemble.cpp
  src/bench/duplicate_inputs.cpp
  src/bench/mempool_stress.cpp
  src/bitcoin-chainstate.cpp
  src/bitcoin-util.cpp
  src/init.cpp
  src/kernel/chainparams.cpp
  src/kernel/chainparams.h
  src/kernel/messagestartchars.h
  src/key_io.cpp
  src/net.cpp
  src/net.h
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/protocol.cpp
  src/protocol.h
  src/random.cpp
  src/randomenv.cpp
  src/serialize.h
  src/test/denialofservice_tests.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/descriptor_parse.cpp
  src/test/net_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/util/setup_common.cpp
  src/util/time.h
  src/validation.cpp
  src/wallet/db.cpp
  src/wallet/sqlite.cpp
Labels: Validation

#28465 ci: clang-17 for fuzz and tsan
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_tsan.sh
Labels: Tests

#28460 fuzz: Use afl++ shared-memory fuzzing
  src/test/fuzz/fuzz.cpp
Labels: Tests

#28478 ci: Temporarily disable test-each-commit
  .github/workflows/ci.yml
Labels: Tests

#27850 test: Add unit & functional test coverage for blockstore
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_i686_centos.sh
  ci/test/04_install.sh
  src/test/blockmanager_tests.cpp
  test/functional/feature_reindex_readonly.py
  test/functional/test_runner.py
Labels: Tests

#28452 Do not use std::vector = {} to release memory
  src/headerssync.cpp
  src/net.cpp
  src/test/util_tests.cpp
  src/util/vector.h
Labels: Needs backport (25.x)

#28480 fuzz: Don't use afl++ deferred forkserver mode
  src/test/fuzz/fuzz.cpp
Labels: Tests, CI failed

#28476 ci: LLVM 17 for MSAN jobs
  ci/test/01_base_install.sh
Labels: Tests

#28473 refactor: Serialization parameter cleanups
  src/addrdb.cpp
  src/net_processing.cpp
  src/netaddress.h
  src/protocol.h
  src/serialize.h
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/test/util/net.cpp
Labels: Refactoring

#28489 tests: fix incorrect assumption in v2transport_test
  src/test/net_tests.cpp
Labels: Tests

#28479 build: use _LIBCPP_ENABLE_DEBUG_MODE over ENABLE_ASSERTIONS
  depends/hosts/linux.mk
Labels: Build system

#28497 ci: Reintroduce fixed "test-each-commit" job
  .github/workflows/ci.yml
Labels: Tests

#28125 wallet: bugfix, disallow migration of invalid scripts
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  test/functional/wallet_migration.py
Labels: Wallet, Needs backport (25.x)

#28470 fuzz: Rework addr fuzzing
  src/test/fuzz/deserialize.cpp
Labels: Tests

#28432 build: Produce a `.zip` for macOS distribution
  .gitignore
  Makefile.am
  ci/test/00_setup_env_mac.sh
  configure.ac
  contrib/guix/libexec/build.sh
  contrib/guix/libexec/codesign.sh
  contrib/guix/manifest.scm
  contrib/macdeploy/README.md
  contrib/macdeploy/background.tiff
  contrib/macdeploy/macdeployqtplus
  depends/README.md
  depends/packages/native_ds_store.mk
  depends/packages/native_mac_alias.mk
  depends/packages/packages.mk
  doc/build-osx.md
  doc/release-process.md
Labels: macOS, Build system

#27511 rpc: Add test-only RPC getaddrmaninfo for new/tried table address count
  src/rpc/net.cpp
  src/test/fuzz/rpc.cpp
  test/functional/rpc_net.py
Labels: RPC/REST/ZMQ

#28154 test: refactor: deduplicate segwitv0 ECDSA signing for tx inputs
  test/functional/p2p_segwit.py
  test/functional/test_framework/script.py
Labels: Tests

#27934 test: added coverage to estimatefee
  test/functional/rpc_estimatefee.py
Labels: Tests

#28471 Fix virtual size limit enforcement in transaction package context
  doc/policy/packages.md
  src/policy/packages.cpp
  src/policy/packages.h
  src/test/txpackage_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  test/functional/mempool_sigoplimit.py
Labels: Bug, TX fees and policy

#28379 Refactor: Remove m_is_test_chain
  src/kernel/chainparams.cpp
  src/kernel/chainparams.h
  src/rpc/mempool.cpp
Labels: Refactoring

#28513 ci: Install Homebrew's `pkg-config` package
  .github/workflows/ci.yml
Labels: Tests

#28492 RPC: `descriptorprocesspsbt` returns hex encoded tx if complete
  doc/release-notes-28414.md
  src/rpc/rawtransaction.cpp
  test/functional/rpc_psbt.py
Labels: RPC/REST/ZMQ

#28385 [refactor] rewrite DisconnectedBlockTransactions to not use boost
  src/Makefile.am
  src/Makefile.bench.include
  src/bench/disconnected_transactions.cpp
  src/kernel/disconnected_transactions.h
  src/memusage.h
  src/test/validation_chainstatemanager_tests.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#28512 doc: Be vague instead of wrong about MALLOC_ARENA_MAX
  doc/reduce-memory.md
Labels: Docs

#28483 refactor: Return CAutoFile from BlockManager::Open*File()
  src/bench/load_external.cpp
  src/bench/streams_findbyte.cpp
  src/index/txindex.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/streams.h
  src/test/blockmanager_tests.cpp
  src/test/fuzz/buffered_file.cpp
  src/test/fuzz/load_external_block_file.cpp
  src/test/streams_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#28505 rpc: bumpfee, improve doc for 'reduce_output' arg
  src/rpc/client.cpp
  src/wallet/feebumper.cpp
  src/wallet/feebumper.h
  src/wallet/rpc/spend.cpp
  test/functional/wallet_bumpfee.py
Labels: RPC/REST/ZMQ, CI failed

#28450 Add package evaluation fuzzer
  src/Makefile.test.include
  src/test/fuzz/package_eval.cpp
Labels: Tests

#28540 tests: Fix wallet_resendwallettransactions.py intermittent failure by using manual bumps instead of bumpfee
  test/functional/wallet_resendwallettransactions.py
Labels: Tests

#28525 net: Drop v2 garbage authentication packet
  src/net.cpp
  src/net.h
  src/test/net_tests.cpp
Labels: P2P

#27866 blockstorage: Return on fatal flush errors
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/validation.cpp
Labels: Validation

#27653 test: add unit test coverage for Python ECDSA implementation
  test/functional/test_framework/key.py
Labels: Tests
