Repository bitcoin/bitcoin, pull requests merged in 2023-08, with the labels that each got.

#28070 test: Drop 22.x node from TxindexCompatibilityTest
  test/functional/feature_abortnode.py
  test/functional/feature_dirsymlinks.py
  test/functional/feature_loadblock.py
  test/functional/feature_reindex.py
  test/functional/feature_remove_pruned_files_on_startup.py
  test/functional/feature_txindex_compatibility.py
  test/functional/feature_unsupported_utxo_db.py
  test/functional/mempool_compatibility.py
  test/functional/rpc_blockchain.py
  test/functional/test_framework/test_node.py
Labels: Tests

#28003 doc: cleanup release process doc
  doc/release-process.md
Labels: Docs

#28131 test: Add UBSan `-fsanitize=integer` suppressions for `src/secp256k1` subtree
  test/sanitizer_suppressions/ubsan
Labels: Tests

#28194 test: python E721 and flake8 updates
  ci/lint/04_install.sh
  src/test/fuzz/descriptor_parse.cpp
  test/functional/p2p_invalid_locator.py
  test/functional/test_framework/siphash.py
Labels: Tests

#28060 util: Teach AutoFile how to XOR
  src/Makefile.am
  src/Makefile.bench.include
  src/bench/bench.h
  src/bench/xor.cpp
  src/hash.h
  src/streams.cpp
  src/streams.h
  src/test/streams_tests.cpp
Labels: Utils/log/libs

#28144 test: fix intermittent failure in p2p_getaddr_caching.py
  test/functional/p2p_getaddr_caching.py
  test/functional/test_framework/test_node.py
Labels: Tests

#27572 test: dedup file hashing using `sha256sum_file` helper
  test/functional/rpc_dumptxoutset.py
  test/functional/tool_wallet.py
Labels: Tests

#27452 test: cover addrv2 anchors by adding TorV3 to CAddress in messages.py
  test/functional/feature_anchors.py
  test/functional/p2p_addrv2_relay.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/socks5.py
  test/functional/test_runner.py
Labels: Tests

#28204 qa: Close SQLite connection properly
  test/functional/wallet_descriptor.py
Labels: Tests

#28059 refactor: Make more transaction size variables signed
  src/txmempool.cpp
  src/txmempool.h
Labels: Refactoring

#27918 fuzz: addrman, avoid `ConsumeDeserializable` when possible
  src/test/fuzz/addrman.cpp
Labels: Tests

#27832 doc: Clarify -datacarriersize, add -datacarriersize=2 tests
  src/init.cpp
  test/functional/mempool_datacarrier.py
Labels: Docs, Good First Review

#28161 ci: Move ASan USDT to persistent_worker
  .cirrus.yml
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/04_install.sh
Labels: Tests

#28203 refactor: serialization simplifications
  src/serialize.h
Labels: Refactoring

#28213 scripted-diff: Specify Python major version explicitly on Windows
  test/functional/rpc_signer.py
  test/functional/wallet_signer.py
Labels: Windows, Tests

#27213 p2p: Diversify automatic outbound connections with respect to networks
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/denialofservice_tests.cpp
  src/test/util/net.h
Labels: P2P

#28191 refactor: Remove unused MessageStartChars parameters from BlockManager methods
  src/net_processing.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
Labels: Refactoring

#28231 doc: remove Fedora libdb4-*-devel install docs
  doc/build-unix.md
Labels: Docs

#28186 kernel: Prune leveldb headers
  src/Makefile.am
  src/blockencodings.cpp
  src/dbwrapper.cpp
  src/dbwrapper.h
  src/index/blockfilterindex.cpp
  src/init.cpp
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/node/miner.cpp
  src/qt/bitcoin.cpp
  src/qt/test/apptests.cpp
  src/qt/transactiondesc.cpp
  src/rpc/node.cpp
  src/test/util/setup_common.cpp
  src/validation.cpp
Labels: Validation

#28087 ci: Use qemu-user through container engine
  .cirrus.yml
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_i686_centos.sh
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_s390x.sh
  ci/test/04_install.sh
  ci/test/06_script_b.sh
  ci/test/wrap-qemu.sh
Labels: Tests

#28149 net processing: clamp PeerManager::Options user input
  src/net_processing.h
  src/node/peerman_args.cpp
Labels: P2P

#28245 doc: use llvm-config for bitcoin-tidy example
  contrib/devtools/bitcoin-tidy/README
Labels: Docs

#28215 fuzz: fix a couple incorrect assertions in the `coins_view` target
  src/test/fuzz/coins_view.cpp
Labels: Tests

#28267 crypto: BIP324 ciphersuite follow-up
  src/bip324.cpp
  src/bip324.h
  src/crypto/chacha20poly1305.cpp
  src/crypto/chacha20poly1305.h
  src/test/bip324_tests.cpp
  src/test/crypto_tests.cpp
  src/test/fuzz/bip324.cpp
Labels: Utils/log/libs

#28269 ci: Drop no longer needed `macos_sdk_cache`
  .cirrus.yml
Labels: Tests

#28185 ci: Use hard-coded root path for CI containers (bugfix)
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/01_base_install.sh
  ci/test/04_install.sh
Labels: Tests

#27460 rpc: Add importmempool RPC
  src/init.cpp
  src/kernel/mempool_persist.cpp
  src/kernel/mempool_persist.h
  src/rpc/client.cpp
  src/rpc/mempool.cpp
  src/test/fuzz/rpc.cpp
  src/test/fuzz/validation_load_mempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  test/functional/mempool_persist.py
Labels: RPC/REST/ZMQ

#28187 ci: Run "macOS native x86_64" job on GitHub Actions
  .cirrus.yml
  .github/workflows/ci.yml
  ci/test/00_setup_env_mac_native.sh
Labels: Tests

#28240 refactor: Remove unused boost signals2 from torcontrol
  src/compat/compat.h
  src/torcontrol.cpp
  src/torcontrol.h
Labels: Refactoring

#28257 test: check backup from `migratewallet` can be successfully restored
  test/functional/wallet_migration.py
Labels: Tests

#28273 ci: Fix macOS-cross SDK rsync
  .cirrus.yml
  .github/workflows/ci.yml
  ci/test/00_setup_env.sh
  ci/test/04_install.sh
  ci/test_imagefile
Labels: Tests

#27675 p2p: Drop m_recently_announced_invs bloom filter
  src/bench/mempool_eviction.cpp
  src/bench/mempool_stress.cpp
  src/bench/rpc_mempool.cpp
  src/kernel/mempool_entry.h
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/test/fuzz/util/mempool.cpp
  src/test/util/setup_common.cpp
  src/test/util/txmempool.cpp
  src/test/util/txmempool.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  test/functional/mempool_reorg.py
Labels: P2P

#28214 ci: Move tidy to persistent worker
  .cirrus.yml
Labels: Tests

#27981 Fix potential network stalling bug
  src/net.cpp
  src/net.h
Labels: P2P

#28123 Bugfix: RPC: Remove quotes from non-string oneline descriptions
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/util.cpp
  src/wallet/rpc/backup.cpp
  test/functional/mining_basic.py
Labels: RPC/REST/ZMQ

#28282 ci: Ensure that only a single workflow processes `github.ref` at a time
  .github/workflows/ci.yml
Labels: Tests, CI failed

#28278 ci: Refactor: Remove CI_USE_APT_INSTALL
  .cirrus.yml
  .github/workflows/ci.yml
  ci/test/01_base_install.sh
Labels: Tests, CI failed

#28289 rpc: remove one more quote from non-string oneline description
  src/rpc/mempool.cpp
Labels: Bug, RPC/REST/ZMQ

#28100 crypto: more `Span<std::byte>` modernization & follow-ups
  src/bench/chacha20.cpp
  src/crypto/chacha20.cpp
  src/crypto/chacha20.h
  src/crypto/chacha20poly1305.cpp
  src/crypto/muhash.cpp
  src/random.cpp
  src/random.h
  src/test/crypto_tests.cpp
  src/test/fuzz/crypto_chacha20.cpp
  src/test/fuzz/crypto_diff_fuzz_chacha20.cpp
  src/test/fuzz/crypto_poly1305.cpp
  src/test/fuzz/util.h
Labels: Utils/log/libs, CI failed

#28237 refactor: Enforce C-str fmt strings in WalletLogPrintf()
  contrib/devtools/bitcoin-tidy/example_logprintf.cpp
  contrib/devtools/bitcoin-tidy/logprintf.cpp
  contrib/devtools/bitcoin-tidy/logprintf.h
  src/.clang-tidy
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/lint/run-lint-format-strings.py
Labels: Refactoring

#28296 ci: Add missing ${CI_RETRY_EXE} before curl
  ci/test/01_base_install.sh
  ci/test/06_script_b.sh
Labels: Tests

#28295 ci: Add missing amd64 to win64-cross task
  ci/test/00_setup_env_android.sh
  ci/test/00_setup_env_win64.sh
Labels: Tests

#28218 refactor: Make IsInitialBlockDownload & NotifyHeaderTip not require a Chainstate
  src/bitcoin-chainstate.cpp
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/rpc/blockchain.cpp
  src/rpc/mempool.cpp
  src/rpc/mining.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/net_tests.cpp
  src/test/util/validation.cpp
  src/test/util/validation.h
  src/test/validation_chainstatemanager_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#28292 ci: Disable cache save for pull requests in GitHub Actions
  .github/workflows/ci.yml
Labels: Tests

#28288 test: fix 'unknown named parameter' test in `wallet_basic`
  test/functional/wallet_basic.py
Labels: Tests

#28200 refactor: Remove unused includes from wallet.cpp
  src/Makefile.am
  src/blockfilter.cpp
  src/blockfilter.h
  src/index/blockfilterindex.cpp
  src/index/blockfilterindex.h
  src/kernel/mempool_removal_reason.cpp
  src/kernel/mempool_removal_reason.h
  src/node/miner.h
  src/test/blockfilter_tests.cpp
  src/test/miniminer_tests.cpp
  src/test/util/blockfilter.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/wallet/test/util.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/lint/lint-circular-dependencies.py
Labels: Refactoring

#28284 refactor: Remove confusing static_cast in address types
  src/addresstype.cpp
  src/script/solver.cpp
Labels: Refactoring

#28199 test: tx orphan handling
  test/functional/p2p_orphan_handling.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: Tests

#21652 ci: Switch remaining Linux tasks to self-hosted
  .cirrus.yml
  .github/workflows/ci.yml
Labels: Tests

#26291 Update MANDATORY_SCRIPT_VERIFY_FLAGS
  src/policy/policy.h
  test/functional/feature_cltv.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dersig.py
  test/functional/feature_nulldummy.py
  test/functional/feature_segwit.py
  test/functional/p2p_segwit.py
Labels: P2P, Validation

#27829 rpc: fix data optionality for RPC calls.
  src/rpc/rawtransaction.cpp
  src/wallet/rpc/spend.cpp
Labels: RPC/REST/ZMQ, CI failed

#28324 guix: pre time-machine bump changes (Linux)
  contrib/guix/manifest.scm
Labels: Build system

#27976 ci: Start with clean env
  ci/README.md
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_mac.sh
  ci/test/04_install.sh
  ci/test/06_script_b.sh
Labels: Tests

#28321 test: Fix intermittent issue in mempool_reorg
  test/functional/mempool_reorg.py
Labels: Tests

#28322 ci: Use concurrency for pull requests only
  .github/workflows/ci.yml
Labels: Tests

#28325 test: wallet_backup.py, fix intermittent failure in "restore using dumped wallet"
  test/functional/wallet_backup.py
Labels: Tests

#28330 ci: Add missing docker.io prefix for native tasks to CI_IMAGE_NAME_TAG
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/00_setup_env_native_nowallet_libbitcoinkernel.sh
  ci/test/00_setup_env_native_qt5.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/00_setup_env_native_valgrind.sh
Labels: Tests

#28230 rpc: Add MaybeArg() and Arg() default helper
  src/rpc/mining.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/wallet.cpp
Labels: RPC/REST/ZMQ

#28165 net: transport abstraction
  src/init.cpp
  src/net.cpp
  src/net.h
  src/test/denialofservice_tests.cpp
  src/test/fuzz/p2p_transport_serialization.cpp
  src/test/fuzz/process_messages.cpp
  src/test/util/net.cpp
  src/test/util/net.h
Labels: P2P

#27585 fuzz: improve `coinselection`
  src/wallet/test/fuzz/coinselection.cpp
Labels: Wallet, Tests

#27480 doc: Improve documentation of rpcallowip
  src/init.cpp
Labels: Docs

#28287 rpc, test: add `sendmsgtopeer` rpc and a test for net-level deadlock situation
  src/rpc/client.cpp
  src/rpc/net.cpp
  src/test/fuzz/rpc.cpp
  test/functional/p2p_net_deadlock.py
  test/functional/rpc_net.py
  test/functional/test_runner.py
Labels: Tests, RPC/REST/ZMQ

#28328 guix: update time-machine
  contrib/guix/libexec/build.sh
  contrib/guix/libexec/prelude.bash
  contrib/guix/manifest.scm
  contrib/guix/patches/gcc-broken-longjmp.patch
  contrib/guix/patches/glibc-2.27-powerpc-ldbrx.patch
  contrib/guix/patches/nsis-disable-installer-reloc.patch
Labels: Build system

#28337 build: use Clang 15 for macOS cross-compilation
  ci/test/00_setup_env_mac.sh
  contrib/guix/manifest.scm
  depends/README.md
  depends/packages/native_clang.mk
Labels: Build system, DrahtBot Guix build requested, CI failed

#28354 test: default acceptnonstdtxn=0 on all chains
  doc/release-notes-28354.md
  src/init.cpp
  src/kernel/chainparams.cpp
  src/kernel/chainparams.h
  src/kernel/mempool_options.h
  src/node/mempool_args.cpp
Labels: Tests

#28347 lint: replace deprecated pkg_resources with importlib.metadata
  test/lint/lint-python.py
Labels: Tests

#28360 ci, windows: Do not run extended functional tests for pull requests
  .github/workflows/ci.yml
Labels: Tests

#28352 test: Support powerpc64le in get_previous_releases.py
  test/get_previous_releases.py
Labels: Tests

#28370 guix: remove GCC 10 workaround from NSIS
  contrib/guix/manifest.scm
  contrib/guix/patches/nsis-gcc-10-memmove.patch
Labels: Build system, DrahtBot Guix build requested

#28353 ci: Remove /ro_base bind mount, Remove LC_ALL=C from s390x task
  .cirrus.yml
  ci/test/00_setup_env_s390x.sh
  ci/test/04_install.sh
Labels: Tests

#28369 doc: Fill in the required skills in the good_first_issue template
  .github/ISSUE_TEMPLATE/good_first_issue.yml
Labels: Docs
