Repository bitcoin/bitcoin, pull requests merged in 2023-12, with the labels that each got.

#28784 rpc: keep `.cookie` file if it was not generated
  src/rpc/request.cpp
  test/functional/feature_filelock.py
Labels: RPC/REST/ZMQ

#28368 Fee Estimator updates from Validation Interface/CScheduler thread
  src/Makefile.am
  src/init.cpp
  src/kernel/mempool_entry.h
  src/kernel/mempool_options.h
  src/node/interfaces.cpp
  src/policy/fees.cpp
  src/policy/fees.h
  src/rpc/fees.cpp
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/policyestimator_tests.cpp
  src/test/util/txmempool.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
Labels: TX fees and policy, Review club

#28851 build: Patch Qt to handle minimum macOS version properly
  depends/packages/qt.mk
  depends/patches/qt/fix-minimum-macos.patch
Labels: Build system

#28959 [26.0] Finalize or rc4
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#28997 fuzz: txorphan check wtxids using GenTxid::Wtxid not GenTxid::Txid
  src/test/fuzz/txorphan.cpp
Labels: Tests

#28856 depends: Build the `native_capnp` and `capnp` packages with CMake
  depends/packages/capnp.mk
  depends/packages/native_capnp.mk
Labels: Build system

#28992 ci: Use Ubuntu 24.04 Noble for asan,tsan,tidy,fuzz
  .cirrus.yml
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_tsan.sh
Labels: Tests, Needs backport (26.x)

#29003 rpc: fix getrawtransaction segfault
  src/rpc/rawtransaction.cpp
  test/functional/rpc_rawtransaction.py
Labels: RPC/REST/ZMQ, Needs backport (25.x), Needs backport (26.x)

#28980 rpc: encryptwallet help, mention HD seed rotation and backup requirement
  src/wallet/rpc/encrypt.cpp
Labels: RPC/REST/ZMQ

#27581 net: Continuous ASMap health check
  src/addrman.cpp
  src/addrman.h
  src/addrman_impl.h
  src/net.cpp
  src/net.h
  src/netgroup.cpp
  src/netgroup.h
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
  src/test/fuzz/connman.cpp
  test/functional/feature_asmap.py
Labels: P2P

#29012 fuzz: Avoid timeout in bitdeque
  src/test/fuzz/bitdeque.cpp
Labels: Tests

#28622 build: use macOS 14 SDK (Xcode 15.0)
  ci/test/00_setup_env_mac.sh
  contrib/devtools/symbol-check.py
  contrib/macdeploy/README.md
  contrib/macdeploy/gen-sdk
  depends/hosts/darwin.mk
  depends/packages/boost.mk
  depends/patches/boost/process_macos_sdk.patch
Labels: Build system

#29023 doc: add historical release notes for 26.0
  doc/release-notes-empty-template.md
  doc/release-notes/release-notes-26.0.md
Labels: Docs

#28894 wallet: batch all individual spkms setup db writes in a single db txn
  src/Makefile.bench.include
  src/bench/wallet_create.cpp
  src/wallet/external_signer_scriptpubkeyman.cpp
  src/wallet/external_signer_scriptpubkeyman.h
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#28485 test: Extends MEMPOOL msg functional test
  test/functional/p2p_filter.py
Labels: Tests

#29006 test: fix v2 transport intermittent test failure (#29002)
  test/functional/p2p_v2_transport.py
  test/functional/test_framework/test_node.py
Labels: Tests

#28349 build: Require C++20 compiler
  .github/workflows/ci.yml
  build-aux/m4/ax_cxx_compile_stdcxx.m4
  configure.ac
  depends/Makefile
  depends/README.md
  depends/packages/qt.mk
  src/.clang-format
  src/test/fuzz/fuzz.h
  src/test/fuzz/rpc.cpp
  src/txrequest.cpp
  src/util/trace.h
Labels: Build system

#29045 msvc: Optimize "Release" builds
  build_msvc/common.init.vcxproj.in
  build_msvc/libleveldb/libleveldb.vcxproj
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
Labels: Windows, Build system

#29035 test: fix `addnode` functional test failure on OpenBSD
  test/functional/rpc_net.py
Labels: Tests

#29044 msvc: Define the same `QT_...` macros as in Autotools builds
  build_msvc/common.qt.init.vcxproj
Labels: Windows, Build system

#29031 fuzz: Improve fuzzing stability for txorphan harness
  src/net_processing.cpp
  src/test/fuzz/txorphan.cpp
  src/test/orphanage_tests.cpp
  src/txorphanage.cpp
  src/txorphanage.h
Labels: Tests

#29009 fuzz: p2p: Detect peer deadlocks
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/util/net.h
Labels: Tests

#25273 wallet: Pass through transaction locktime and preset input sequences and scripts to CreateTransaction
  src/wallet/coincontrol.cpp
  src/wallet/coincontrol.h
  src/wallet/feebumper.cpp
  src/wallet/interfaces.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/fuzz/coincontrol.cpp
  src/wallet/test/fuzz/notifications.cpp
  src/wallet/test/spend_tests.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Wallet, RPC/REST/ZMQ

#28999 build: Enable -Wunreachable-code
  configure.ac
  src/wallet/walletdb.cpp
Labels: Build system

#29021 refactor: rpc: Pass CBlockIndex by reference instead of pointer
  src/bench/rpc_blockchain.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/test/blockchain_tests.cpp
Labels: Refactoring

#29059 Revert "ci: Only run functional tests on windows in master"
  .github/workflows/ci.yml
Labels: Windows, Tests

#28075 util: Remove DirIsWritable, GetUniquePath
  src/Makefile.am
  src/init.cpp
  src/test/fs_tests.cpp
  src/test/util_tests.cpp
  src/util/fs_helpers.cpp
  src/util/fs_helpers.h
  src/util/getuniquepath.cpp
  src/util/getuniquepath.h
  src/wallet/bdb.cpp
Labels: Utils/log/libs

#28846 depends: fix libmultiprocess build on aarch64
  depends/packages/capnp.mk
  depends/packages/libmultiprocess.mk
Labels: Build system

#29068 test: Actually fail when a python unit test fails
  test/functional/test_runner.py
Labels: Tests

#28967 build: disable external-signer for Windows
  build_msvc/bitcoin_config.h.in
  build_msvc/vcpkg.json
  ci/test/00_setup_env_win64.sh
  configure.ac
Labels: Build system

#29066 Bump minimum required Boost version due to migration to C++20
  configure.ac
  doc/dependencies.md
Labels: Build system

#29075 msvc: Fix `test\config.ini` content
  build_msvc/bitcoind/bitcoind.vcxproj
Labels: Windows, Tests

#29065 bench: wallet, fix change position out of range error
  src/bench/wallet_create_tx.cpp
  src/wallet/feebumper.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/spend.h
  src/wallet/test/spend_tests.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Tests

#29070 test: add TestNode wait_until helper
  test/functional/test_framework/test_node.py
Labels: Tests, CI failed

#28920 wallet: birth time update during tx scanning
  src/wallet/rpc/wallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_runner.py
  test/functional/wallet_reindex.py
Labels: Wallet, Needs backport (26.x)

#29040 refactor: Remove pre-C++20 code, fs::path cleanup
  doc/developer-notes.md
  src/bench/wallet_create.cpp
  src/common/args.cpp
  src/common/args.h
  src/qt/guiutil.cpp
  src/rpc/blockchain.cpp
  src/rpc/mempool.cpp
  src/rpc/server.cpp
  src/test/fs_tests.cpp
  src/util/fs.cpp
  src/util/fs.h
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/wallet.cpp
Labels: Refactoring

#29088 tests: Don't depend on value of DEFAULT_PERMIT_BAREMULTISIG
  src/test/script_p2sh_tests.cpp
  test/functional/mempool_dust.py
  test/functional/mempool_sigoplimit.py
Labels: Tests

#29079 fuzz: Limit p2p fuzz targets to MAX_PROTOCOL_MESSAGE_LENGTH
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
Labels: Tests

#29078 build: Bump guix time-machine to unlock riscv64 metal
  contrib/guix/libexec/prelude.bash
Labels: Build system

#29064 fuzz: Improve fuzzing stability for minisketch harness
  src/test/fuzz/minisketch.cpp
Labels: Tests

#28863 wallet, mempool: propagete `checkChainLimits` error message to wallet
  src/interfaces/chain.h
  src/node/interfaces.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/wallet/spend.cpp
  test/functional/wallet_basic.py
Labels: Wallet

#28372 fuzz: coinselection, improve `min_viable_change`/`change_output_size`
  src/wallet/test/fuzz/coinselection.cpp
Labels: Tests

#29027 wallet: fix key parsing check for miniscript expressions
  src/script/descriptor.cpp
  src/test/descriptor_tests.cpp
Labels: Wallet

#29056 refactor: Print verbose serialize compiler error messages
  src/.clang-format
  src/serialize.h
  src/span.h
Labels: Refactoring

#28880 build: switch to using LLVM 17.x for macOS builds
  ci/test/00_setup_env_mac.sh
  contrib/guix/manifest.scm
  depends/packages/native_libtapi.mk
  depends/packages/native_llvm.mk
  depends/packages/packages.mk
  depends/packages/qt.mk
  depends/patches/qt/fix-minimum-macos.patch
  depends/patches/qt/utc_from_string_no_optimize.patch
Labels: Build system
