Repository bitcoin/bitcoin, pull requests merged in 2023-06, with the labels that each got.

#27719 doc: remove Tor link & generalize onion getnodeaddresses RPC
  doc/cjdns.md
  doc/i2p.md
  doc/tor.md
Labels: Docs

#26485 RPC: Accept options as named-only parameters
  doc/release-notes-26485.md
  src/rpc/client.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/rpc/util.cpp
  src/rpc/util.h
  src/test/rpc_tests.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/wallet.cpp
  test/functional/rpc_help.py
  test/functional/rpc_psbt.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_import_rescan.py
  test/functional/wallet_keypool.py
  test/functional/wallet_migration.py
  test/functional/wallet_multisig_descriptor_psbt.py
  test/functional/wallet_resendwallettransactions.py
  test/functional/wallet_sendall.py
  test/functional/wallet_signer.py
  test/functional/wallet_taproot.py
  test/functional/wallet_timelock.py
  test/functional/wallet_watchonly.py
Labels: RPC/REST/ZMQ, CI failed

#27755 [24.x] rpc: Fix invalid bech32 handling
  src/key_io.cpp
  test/functional/rpc_invalid_address_message.py
  test/functional/rpc_validateaddress.py
  test/functional/test_runner.py
  test/functional/wallet_basic.py
Labels: Backport

#27756 [23.x] rpc: Fix invalid bech32 handling
  src/key_io.cpp
  test/functional/rpc_invalid_address_message.py
  test/functional/rpc_validateaddress.py
  test/functional/test_runner.py
  test/functional/wallet_basic.py
Labels: Backport

#27775 [25.x] build: disable boost multi index safe mode
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_qt5.sh
  configure.ac
Labels: Backport

#27737 ci: compile Clang and compiler-rt in msan jobs
  .cirrus.yml
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/01_base_install.sh
Labels: Tests

#27256 refactor: rpc: Remove unnecessary uses of ParseNonRFCJSONValue() and rename it
  src/rpc/client.cpp
  src/rpc/client.h
  src/test/fuzz/parse_univalue.cpp
  src/test/fuzz/string.cpp
  src/test/rpc_tests.cpp
  src/univalue/test/object.cpp
Labels: Refactoring

#27225 doc: document json rpc endpoints
  doc/JSON-RPC-interface.md
Labels: Docs

#27801 wallet: Add tracing for sqlite statements
  src/wallet/sqlite.cpp
Labels: Wallet

#27779 guix: remove cURL from build env
  contrib/guix/manifest.scm
Labels: Windows

#27501 mempool / rpc: add getprioritisedtransactions, delete a mapDeltas entry when delta==0
  doc/release-notes-27501.md
  src/rpc/mining.cpp
  src/test/fuzz/rpc.cpp
  src/txmempool.cpp
  src/txmempool.h
  test/functional/mempool_expiry.py
  test/functional/mining_prioritisetransaction.py
Labels: RPC/REST/ZMQ, Mempool

#27824 ci: enable AArch64 target in MSAN jobs
  ci/test/01_base_install.sh
Labels: Tests, CI failed

#27810 fuzz: Partially revert #27780
  src/test/fuzz/utxo_total_supply.cpp
Labels: Tests

#27838 ci: Invalidate Cirrus CI docker cache
  ci/test/00_setup_env_native_msan.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_tsan.sh
Labels: Tests

#27467 p2p: skip netgroup diversity follow-up
  src/net.cpp
Labels: P2P

#27576 kernel: Remove args, settings, chainparams, chainparamsbase from kernel library
  src/Makefile.am
  src/addrdb.cpp
  src/bitcoin-chainstate.cpp
  src/common/args.cpp
  src/common/args.h
  src/common/config.cpp
  src/common/settings.cpp
  src/common/settings.h
  src/interfaces/chain.h
  src/interfaces/node.h
  src/kernel/chainstatemanager_opts.h
  src/node/chainstatemanager_args.cpp
  src/node/interfaces.cpp
  src/node/utxo_snapshot.cpp
  src/node/utxo_snapshot.h
  src/qt/optionsmodel.cpp
  src/qt/test/optiontests.cpp
  src/qt/test/optiontests.h
  src/test/argsman_tests.cpp
  src/test/fuzz/string.cpp
  src/test/getarg_tests.cpp
  src/test/settings_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/load.cpp
  src/wallet/wallet.cpp
Labels: Validation

#27834 ci: Nuke Android APK task, Use credits for tsan
  .cirrus.yml
Labels: Tests

#27840 contrib: docs fix --import-keys flag on verify.py
  contrib/verify-binaries/README.md
Labels: Scripts and tools

#27844 ci: Use podman stop over podman kill
  ci/test/04_install.sh
Labels: Tests

#27625 p2p: Stop relaying non-mempool txs
  src/net_processing.cpp
  test/functional/p2p_leak_tx.py
Labels: P2P

#27357 validation: Move warningcache to ChainstateManager and rename to m_warningcache
  src/validation.cpp
  src/validation.h
Labels: Validation

#27853 rest: bugfix, fix crash error when calling `/deploymentinfo`
  src/rest.cpp
  test/functional/interface_rest.py
Labels: RPC/REST/ZMQ

#27864 test: fix intermittent failure in p2p_leak_tx.py
  test/functional/p2p_leak_tx.py
Labels: Tests

#23962 Use `int32_t` type for most transaction size/weight values
  contrib/tracing/mempool_monitor.py
  doc/tracing.md
  src/consensus/validation.h
  src/kernel/mempool_entry.h
  src/policy/policy.h
  src/test/miniminer_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  test/functional/interface_usdt_mempool.py
  test/sanitizer_suppressions/ubsan
Labels: Consensus

#27876 test: (refactor) Use datadir from options in chainstatemanager test
  src/test/validation_chainstatemanager_tests.cpp
Labels: Tests

#25634 wallet, tests: Expand and test when the blank wallet flag should be un/set
  src/wallet/rpc/wallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/walletutil.h
  test/functional/test_runner.py
  test/functional/wallet_blank.py
Labels: Wallet, CI failed

#27886 ci: Switch to `amd64` container in "ARM" task
  .cirrus.yml
Labels: Tests, Needs backport (25.x)

#27883 ci: Bump macOS cross task to ubuntu:jammy
  .cirrus.yml
  ci/test/00_setup_env_mac.sh
Labels: Tests, CI failed

#27881 ci: Use latest `macos-ventura-xcode:14.3.1` image
  .cirrus.yml
Labels: Tests, CI failed

#27647 fuzz: wallet, add target for `fees`
  src/Makefile.test.include
  src/wallet/test/fuzz/fees.cpp
Labels: Tests

#27872 build: suppress external warnings by default
  ci/test/06_script_b.sh
  configure.ac
  doc/developer-notes.md
Labels: Build system, CI failed

#27887 [25.x] Backports
  .cirrus.yml
  ci/test/04_install.sh
  src/rest.cpp
  test/functional/interface_rest.py
Labels: Backport

#27875 build: make sure we can overwrite config.{guess,sub} before doing so
  autogen.sh
Labels: Build system

#27757 rpc: remove deprecated "warning" field from {create,load,restore,unload}wallet
  doc/release-notes-27757.md
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/wallet.cpp
  test/functional/wallet_createwallet.py
Labels: RPC/REST/ZMQ

#27906 doc: test: update TestShell instructions
  test/functional/test-shell.md
Labels: Docs

#27902 fuzz: wallet, add target for `CoinControl`
  src/Makefile.test.include
  src/wallet/test/fuzz/coincontrol.cpp
Labels: Tests

#27917 fuzz: Fix implicit-integer-sign-change in wallet/fees fuzz target
  src/wallet/test/fuzz/fees.cpp
Labels: Tests

#27907 bench: bugfix, disable birth time block skip for wallet_create_tx.cpp
  src/bench/wallet_create_tx.cpp
Labels: Tests

#26740 wallet: Migrate wallets that are not in a wallet dir
  src/wallet/wallet.cpp
  test/functional/wallet_migration.py
Labels: Wallet, CI failed

#27890 refactor: Make m_count_with_* in CTxMemPoolEntry int64_t, drop UBSAN supp
  src/kernel/mempool_entry.h
  src/txmempool.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#27922 ci: fix llvm-symbolizer in MSAN jobs
  ci/test/01_base_install.sh
Labels: Tests

#27919 ci: Run fuzz target even if input folder is empty
  ci/test/06_script_b.sh
  test/fuzz/test_runner.py
Labels: Tests

#27733 test: refactor: introduce `generate_keypair` helper with WIF support
  test/functional/feature_assumevalid.py
  test/functional/feature_block.py
  test/functional/feature_nulldummy.py
  test/functional/feature_taproot.py
  test/functional/mempool_accept.py
  test/functional/mempool_dust.py
  test/functional/p2p_segwit.py
  test/functional/rpc_createmultisig.py
  test/functional/rpc_psbt.py
  test/functional/rpc_signrawtransactionwithkey.py
  test/functional/test_framework/wallet.py
  test/functional/test_framework/wallet_util.py
  test/functional/wallet_blank.py
  test/functional/wallet_createwallet.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_importprunedfunds.py
  test/functional/wallet_listsinceblock.py
  test/functional/wallet_send.py
Labels: Tests, Good First Review

#27905 validation: add missing insert to m_dirty_blockindex
  src/validation.cpp
Labels: Validation

#27921 fuzz: Avoid OOM in transaction fuzz target
  src/test/fuzz/transaction.cpp
Labels: Tests

#27798 depends: modernize clang flags for Darwin
  ci/test/00_setup_env_mac.sh
  depends/hosts/darwin.mk
Labels: Build system, CI failed

#27889 test: Kill `BOOST_ASSERT` and update the linter
  src/wallet/test/db_tests.cpp
  test/lint/lint-assertions.py
Labels: Tests

#27831 test: handle failed `assert_equal()` assertions in bcc callback functions
  test/functional/interface_usdt_mempool.py
  test/functional/interface_usdt_net.py
  test/functional/interface_usdt_utxocache.py
  test/functional/interface_usdt_validation.py
Labels: Tests, CI failed

#27862 validation: Stricter assumeutxo error handling when renaming chainstates
  src/init.cpp
  src/node/chainstate.cpp
  src/node/chainstate.h
  src/validation.cpp
  src/validation.h
Labels: Validation

#27577 p2p: give seednodes time before falling back to fixed seeds
  src/net.cpp
  test/functional/feature_config_args.py
Labels: P2P

#26969 net, refactor: net_processing, add `ProcessCompactBlockTxns`
  src/net_processing.cpp
Labels: P2P

#27631 test: avoid sporadic MINIMALDATA failure in feature_taproot.py (fixes #27595)
  test/functional/feature_taproot.py
Labels: Tests

#27957 net: remove unused `CConnmanTest`
  src/net.h
Labels: P2P

#27947 MaybePunishNodeForTx: Remove unused message arg and logging
  src/net_processing.cpp
Labels: CI failed

#27676 macOS: Bump minimum required runtime version and prepare for building with upstream LLVM
  .cirrus.yml
  configure.ac
  contrib/devtools/security-check.py
  contrib/devtools/symbol-check.py
  contrib/devtools/test-security-check.py
  contrib/devtools/test-symbol-check.py
  contrib/guix/manifest.scm
  depends/hosts/darwin.mk
  depends/packages/native_clang.mk
  doc/release-notes-empty-template.md
  share/qt/Info.plist.in
Labels: DrahtBot Guix build requested

#27940 test: Add implicit-signed-integer-truncation:*/include/c++/ suppression
  test/sanitizer_suppressions/ubsan
Labels: Tests

#27334 util: implement `noexcept` move assignment & move ctor for `prevector`
  src/bench/prevector.cpp
  src/prevector.h
  src/validation.h
Labels: Utils/log/libs

#27896 Remove the syscall sandbox
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  src/Makefile.am
  src/bitcoind.cpp
  src/checkqueue.h
  src/httpserver.cpp
  src/index/base.cpp
  src/init.cpp
  src/init.h
  src/mapport.cpp
  src/net.cpp
  src/node/blockstorage.cpp
  src/node/interfaces.cpp
  src/rpc/node.cpp
  src/scheduler.cpp
  src/torcontrol.cpp
  src/util/syscall_sandbox.cpp
  src/util/syscall_sandbox.h
  test/config.ini.in
  test/functional/feature_notifications.py
  test/functional/feature_startupnotify.py
  test/functional/feature_syscall_sandbox.py
  test/functional/feature_versionbits_warning.py
  test/functional/rpc_signer.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/wallet_signer.py
Labels: Brainstorming, Linux/Unix

#24914 wallet: Load database records in a particular order
  doc/release-notes-24914.md
  src/wallet/salvage.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Wallet

#27813 guix: Update `python-lief` package to 0.13.2
  contrib/devtools/security-check.py
  contrib/guix/manifest.scm
  contrib/guix/patches/lief-fix-ppc64-nx-default.patch
Labels: Build system

#27949 http: update libevent workaround to correct version
  src/httpserver.cpp
Labels: RPC/REST/ZMQ

#27927 util: Allow std::byte and char Span serialization
  src/bench/load_external.cpp
  src/net.cpp
  src/pubkey.h
  src/serialize.h
  src/test/fuzz/p2p_transport_serialization.cpp
  src/test/serialize_tests.cpp
  src/uint256.h
  src/wallet/dump.cpp
  src/wallet/test/db_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
Labels: Utils/log/libs

#26222 Introduce secp256k1 module with field and group classes to test framework
  test/functional/feature_taproot.py
  test/functional/test_framework/key.py
  test/functional/test_framework/secp256k1.py
Labels: Tests

#27884 test: Use TestNode datadir_path or chain_path where possible
  test/functional/feature_abortnode.py
  test/functional/feature_addrman.py
  test/functional/feature_anchors.py
  test/functional/feature_asmap.py
  test/functional/feature_blocksdir.py
  test/functional/feature_config_args.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_filelock.py
  test/functional/feature_includeconf.py
  test/functional/feature_loadblock.py
  test/functional/feature_logging.py
  test/functional/feature_posix_fs_permissions.py
  test/functional/feature_pruning.py
  test/functional/feature_reindex.py
  test/functional/feature_remove_pruned_files_on_startup.py
  test/functional/feature_settings.py
  test/functional/feature_startupnotify.py
  test/functional/feature_txindex_compatibility.py
  test/functional/interface_rpc.py
  test/functional/mempool_compatibility.py
  test/functional/mempool_persist.py
  test/functional/p2p_message_capture.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_createmultisig.py
  test/functional/rpc_dumptxoutset.py
  test/functional/rpc_users.py
  test/functional/rpc_whitelist.py
  test/functional/test_framework/authproxy.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/tool_wallet.py
  test/functional/wallet_backup.py
  test/functional/wallet_backwards_compatibility.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_hd.py
  test/functional/wallet_inactive_hdchains.py
  test/functional/wallet_keypool_topup.py
  test/functional/wallet_listtransactions.py
  test/functional/wallet_migration.py
  test/functional/wallet_multiwallet.py
  test/functional/wallet_pruning.py
  test/functional/wallet_reorgsrestore.py
  test/functional/wallet_upgradewallet.py
Labels: Tests

#27530 Remove now-unnecessary poll, fcntl includes from net(base).cpp
  src/net.cpp
  src/netbase.cpp
Labels: Refactoring

#27811 guix: Clean up manifest
  contrib/guix/manifest.scm
Labels: Build system

#27932 test: Fuzz on macOS
  ci/test/00_setup_env_mac_native_arm64.sh
  src/test/fuzz/rpc.cpp
  test/config.ini.in
  test/fuzz/test_runner.py
Labels: Tests

#27996 ci: filter all subtrees from tidy output
  ci/test/06_script_b.sh
  src/.bear-tidy-config
Labels: Tests

#27978 refactor: Drop unsafe AsBytePtr function
  src/bench/ellswift.cpp
  src/serialize.h
  src/span.h
  src/wallet/bdb.cpp
  src/wallet/sqlite.cpp
Labels: Refactoring

#27863 net: do not `break` when `addr` is not from a distinct network group
  src/net.cpp
Labels: P2P

#28002 refactor: remove in-code warning suppression
  src/common/run_command.cpp
  src/test/system_tests.cpp
  src/wallet/bdb.h
Labels: Refactoring

#27988 test: Use same timeout for all index sync
  src/Makefile.test_util.include
  src/test/blockfilter_index_tests.cpp
  src/test/coinstatsindex_tests.cpp
  src/test/txindex_tests.cpp
  src/test/util/index.cpp
  src/test/util/index.h
Labels: Tests

#27937 doc: i2p documentation updates
  doc/i2p.md
Labels: Docs

#28013 doc: Fix verify-binaries link in contrib README
  contrib/README.md
Labels: Docs

#28011 test: Rename EncodeDecimal to serialization_fallback
  test/functional/test_framework/authproxy.py
  test/functional/test_framework/test_node.py
Labels: Tests

#28014 ci: re-enable gui tests for s390x
  ci/test/00_setup_env_s390x.sh
Labels: Tests

#27999 contrib: add macOS test for fixup_chains usage
  contrib/devtools/security-check.py
  contrib/devtools/test-security-check.py
  depends/packages/native_cctools.mk
  depends/patches/native_cctools/no_fixup_chains.patch
Labels: Scripts and tools

#27745 addrman: select addresses by network follow-up
  src/addrman.cpp
  src/addrman.h
  src/addrman_impl.h
  src/test/addrman_tests.cpp
Labels: P2P

#24005 test: add python implementation of Elligator swift
  test/functional/test_framework/ellswift.py
  test/functional/test_framework/ellswift_decode_test_vectors.csv
  test/functional/test_framework/xswiftec_inv_test_vectors.csv
  test/functional/test_runner.py
Labels: Tests
