Repository bitcoin/bitcoin, pull requests merged in 2023-01, with the labels that each got.

#26775 ci: Revert tsan task changes
  .cirrus.yml
  ci/test/00_setup_env_native_tsan.sh
  test/sanitizer_suppressions/tsan
Labels: Tests

#25789 test: clean and extend availablecoins_tests coverage
  src/Makefile.test.include
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/availablecoins_tests.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Wallet

#26289 Use util::Result in for calculating mempool ancestors
  src/node/interfaces.cpp
  src/node/miner.cpp
  src/policy/rbf.cpp
  src/rpc/mempool.cpp
  src/test/mempool_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
Labels: Mempool

#26661 wallet: Coin Selection, return accurate error messages
  src/qt/walletmodel.cpp
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/coinselector_tests.cpp
  test/functional/rpc_psbt.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_send.py
Labels: Wallet

#19909 refactor: Remove unused CTxMemPool::clear() helper
  src/test/txvalidationcache_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
Labels: Refactoring

#26772 contrib: fix sha256 check in install_db4.sh for FreeBSD
  contrib/install_db4.sh
Labels: Scripts and tools

#26771 doc: Correct linked Microsoft URLs
  .cirrus.yml
  build_msvc/README.md
  doc/build-windows.md
  doc/fuzzing.md
  src/bench/nanobench.h
Labels: Docs

#26802 test: Use same Python executable for subprocesses as for `all-lint.py`
  test/lint/all-lint.py
Labels: Tests

#26791 ci: Properly set COMMIT_RANGE in lint task
  .cirrus.yml
  ci/lint/06_script.sh
Labels: Tests

#25234 bench: add benchmark for wallet 'AvailableCoins' function.
  src/bench/wallet_create_tx.cpp
Labels: Wallet, Tests

#26020 test: Change coinselection parameter location to make tests independent
  src/wallet/test/coinselector_tests.cpp
Labels: Wallet, Tests

#26752 wallet: Remove `mempool_sequence` from interface methods
  src/interfaces/chain.h
  src/node/interfaces.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#26603 doc: CalculateSequenceLocks: prevHeights entries are set to 0, not removed
  src/consensus/tx_verify.h
Labels: Docs

#26747 wallet: fix confusing error / GUI crash on cross-chain legacy wallet restore
  src/wallet/wallet.cpp
  test/functional/wallet_crosschain.py
Labels: Wallet

#23829 refactor: use braced init for integer literals instead of c style casts
  src/bench/coin_selection.cpp
  src/crypto/siphash.cpp
  src/cuckoocache.h
  src/random.h
  src/script/interpreter.cpp
  src/test/checkqueue_tests.cpp
  src/test/crypto_tests.cpp
  src/test/fuzz/p2p_transport_serialization.cpp
  src/test/fuzz/versionbits.cpp
  src/test/merkle_tests.cpp
  src/test/random_tests.cpp
  src/test/serialize_tests.cpp
  src/test/streams_tests.cpp
  src/test/util_tests.cpp
  src/test/validation_chainstate_tests.cpp
  src/test/validation_flush_tests.cpp
  src/util/moneystr.cpp
  src/versionbits.cpp
  src/wallet/bdb.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring

#26761 wallet: fully migrate address book entries for watchonly/solvable wallets
  src/wallet/wallet.cpp
  test/functional/wallet_migration.py
Labels: Wallet

#26557 build: Update Boost to 1.81.0 in depends
  depends/packages/boost.mk
  doc/dependencies.md
Labels: Build system

#26843 ci: Fix ci_native_fuzz_msan CONTAINER_NAME
  ci/test/00_setup_env_native_fuzz_with_msan.sh
Labels: Tests

#26186 rpc: Sanitize label name in various RPCs with tests
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/rpc/util.cpp
  test/functional/wallet_labels.py
Labels: Wallet, RPC/REST/ZMQ

#26679 wallet: Skip rescanning if wallet is more recent than tip
  src/wallet/wallet.cpp
Labels: Wallet, Needs backport (24.x)

#26646 validation, bugfix: provide more info in *MempoolAcceptResult
  release-notes-26646.md
  src/rpc/mempool.cpp
  src/test/txpackage_tests.cpp
  src/validation.cpp
  src/validation.h
  test/functional/mempool_accept.py
  test/functional/p2p_segwit.py
  test/functional/rpc_packages.py
Labels: Bug, Validation

#26821 refactor: Make `ThreadHTTP` return void
  src/httpserver.cpp
Labels: Refactoring

#26695 bench: BlockAssembler on a mempool with packages
  src/bench/block_assemble.cpp
  src/node/miner.cpp
  src/node/miner.h
  src/test/util/mining.cpp
  src/test/util/mining.h
  src/test/util/setup_common.cpp
Labels: Tests

#26675 wallet: For feebump, ignore abandoned descendant spends
  src/wallet/wallet.cpp
  test/functional/wallet_bumpfee.py
Labels: Wallet, Needs backport (24.x)

#26825 build: remove already tested headers from AC_CHECK_HEADERS
  configure.ac
Labels: Build system

#26877 doc: move errant release note to doc/
  doc/release-notes-26646.md
Labels: Docs

#26854 test: Fix intermittent timeout in p2p_permissions.py
  test/functional/test_framework/test_framework.py
Labels: Tests

#26880 [24.x] ci: replace Intel macOS CI job
  .cirrus.yml
  ci/test/00_setup_env_i686_centos.sh
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_mac_native_arm64.sh
  ci/test/04_install.sh
Labels: Backport

#26850 ci: Stop and remove CI container
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_android.sh
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_i686_centos.sh
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/00_setup_env_native_nowallet_libbitcoinkernel.sh
  ci/test/00_setup_env_native_qt5.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/00_setup_env_s390x.sh
  ci/test/00_setup_env_win64.sh
  ci/test/04_install.sh
  ci/test/05_before_script.sh
  ci/test/06_script_b.sh
Labels: Tests

#26867 doc: Mention restoring wallet via GUI
  doc/managing-wallets.md
Labels: Docs

#26882 test: skip sqlite3 tests if it isn't available
  test/functional/test_framework/test_framework.py
  test/functional/wallet_descriptor.py
Labels: Tests

#26835 contrib: add PE Canary check to security-check
  contrib/devtools/security-check.py
  contrib/devtools/test-security-check.py
Labels: Scripts and tools

#26894 test: Remove redundant key_to_p2pkh call
  test/functional/wallet_importdescriptors.py
Labels: Tests

#26892 test: refactor: simplify p2p_permissions.py by using MiniWallet
  test/functional/p2p_permissions.py
Labels: Tests

#26891 ci: Update "Win64 native" task
  .cirrus.yml
Labels: Windows, Tests

#26631 test: add coverage for dust mempool policy (`-dustrelayfee` setting)
  test/functional/mempool_dust.py
  test/functional/test_framework/script.py
  test/functional/test_runner.py
Labels: Tests, Review club

#26879 [23.x] ci: replace Intel macOS CI job
  .cirrus.yml
  ci/test/00_setup_env_mac_native_arm64.sh
  ci/test/04_install.sh
Labels: Backport

#26251 refactor: add kernel/cs_main.h
  src/Makefile.am
  src/bench/rpc_mempool.cpp
  src/chain.h
  src/kernel/cs_main.cpp
  src/kernel/cs_main.h
  src/node/blockstorage.h
  src/rpc/blockchain.h
  src/rpc/node.cpp
  src/test/mempool_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/txdb.h
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  src/validationinterface.h
  src/zmq/zmqpublishnotifier.cpp
Labels: Refactoring

#26657 test: Run feature_bip68_sequence.py with MiniWallet
  test/functional/feature_bip68_sequence.py
  test/functional/test_framework/wallet.py
Labels: Tests

#25375 rpc: add minconf/maxconf options to sendall and fund transaction calls
  doc/release-notes-25375.md
  src/wallet/rpc/spend.cpp
  test/functional/rpc_psbt.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_send.py
  test/functional/wallet_sendall.py
Labels: Wallet, RPC/REST/ZMQ

#26325 rpc: Return accurate results for scanblocks
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  test/functional/feature_pruning.py
  test/functional/rpc_scanblocks.py
Labels: RPC/REST/ZMQ

#26886 test: add `rescan utxos` inside MiniWallet's initialization
  test/functional/feature_bip68_sequence.py
  test/functional/feature_dbcrash.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_rbf.py
  test/functional/feature_txindex_compatibility.py
  test/functional/interface_rest.py
  test/functional/interface_usdt_utxocache.py
  test/functional/interface_zmq.py
  test/functional/mempool_accept.py
  test/functional/mempool_datacarrier.py
  test/functional/mempool_dust.py
  test/functional/mempool_expiry.py
  test/functional/mempool_package_onemore.py
  test/functional/mempool_persist.py
  test/functional/mempool_reorg.py
  test/functional/mempool_resurrect.py
  test/functional/mempool_spend_coinbase.py
  test/functional/mempool_unbroadcast.py
  test/functional/mining_getblocktemplate_longpoll.py
  test/functional/mining_prioritisetransaction.py
  test/functional/p2p_blocksonly.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_filter.py
  test/functional/p2p_leak_tx.py
  test/functional/p2p_permissions.py
  test/functional/p2p_tx_privacy.py
  test/functional/rpc_generate.py
  test/functional/rpc_mempool_info.py
  test/functional/rpc_net.py
  test/functional/rpc_rawtransaction.py
  test/functional/rpc_scanblocks.py
  test/functional/rpc_scantxoutset.py
  test/functional/rpc_txoutproof.py
  test/functional/test_framework/wallet.py
  test/functional/wallet_fast_rescan.py
Labels: Tests

#26039 refactor: Run type check against RPCArgs (1/2)
  src/rpc/blockchain.cpp
  src/rpc/fees.cpp
  src/rpc/mempool.cpp
  src/rpc/net.cpp
  src/rpc/node.cpp
  src/rpc/output_script.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/wallet.cpp
  test/functional/p2p_disconnect_ban.py
  test/functional/wallet_descriptor.py
Labels: Refactoring

#26833 build: allow NO_BOOST=1 & NO_LIBEVENT=1 in depends
  depends/Makefile
  depends/packages/packages.mk
Labels: Build system

#26884 test: wallet: add coverage for `-spendzeroconfchange` setting
  test/functional/mempool_limit.py
  test/functional/wallet_basic.py
Labels: Tests

#26905 refactor: Remove duplication of `clang-tidy`'s check names
  src/.clang-tidy
Labels: Refactoring

#26625 test: Run mempool_packages.py with MiniWallet
  test/functional/mempool_package_limits.py
  test/functional/mempool_packages.py
  test/functional/rpc_packages.py
  test/functional/test_framework/util.py
  test/functional/test_framework/wallet.py
Labels: Tests

#26716 ci: Build python from source in "lint" task
  .cirrus.yml
  ci/lint/04_install.sh
Labels: Tests

#26810 doc: remove nonexistent files from copyright
  contrib/debian/copyright
Labels: Docs

#26904 build: move rpc/request from util lib to common
  src/Makefile.am
Labels: Build system

#26912 ci: Bump --combinedlogslen to debug intermittent issues
  .cirrus.yml
  ci/test/06_script_b.sh
Labels: Tests

#26908 ci: Add missing lint dependency (gpg)
  ci/lint/04_install.sh
Labels: Tests

#26727 rpc: remove optional from fStateStats fields
  src/rpc/net.cpp
Labels: RPC/REST/ZMQ

#26506 refactor: rpc: use convenience fn to auto parse non-string parameters
  src/rpc/client.cpp
Labels: Refactoring

#26873 doc: add databases/py-sqlite3 to FreeBSD test suite deps
  doc/build-freebsd.md
Labels: Docs

#26706 doc: Properly report optional RPC args
  src/rpc/util.cpp
  src/rpc/util.h
Labels: Docs

#25659 wallet: simplify ListCoins implementation
  src/wallet/spend.cpp
  src/wallet/spend.h
Labels: Wallet

#23395 util: Add -shutdownnotify option
  doc/release-notes-23395.md
  src/init.cpp
  test/functional/feature_notifications.py
Labels: Utils/log/libs

#26920 doc: add release note for #25957 (fast wallet rescan)
  doc/release-notes-25957.md
Labels: Docs

#26686 fuzz: Enable erlay setting in process_message(s) targets
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
Labels: Tests

#26909 net: prevent peers.dat corruptions by only serializing once
  src/addrdb.cpp
  src/addrman.cpp
  src/hash.h
  src/test/streams_tests.cpp
Labels: P2P, Needs backport (23.x), Needs backport (24.x)

#26906 test: add an easy way to run linters locally
  ci/lint/04_install.sh
  ci/lint/06_script.sh
  ci/lint/Dockerfile
  ci/lint/docker-entrypoint.sh
  test/lint/README.md
Labels: Tests

#25877 refactor: Do not use CScript for tapleaf scripts until the tapleaf version is known
  src/psbt.h
  src/script/descriptor.cpp
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/script/sign.cpp
  src/script/standard.cpp
  src/script/standard.h
  src/test/script_standard_tests.cpp
  src/test/script_tests.cpp
Labels: Refactoring

#26887 RPC: make RPCResult::MatchesType return useful errors
  src/rpc/util.cpp
  src/rpc/util.h
Labels: RPC/REST/ZMQ

#26924 refactor: Add missing includes to fix gcc-13 compile error
  src/support/lockedpool.cpp
  src/support/lockedpool.h
Labels: Refactoring, Needs backport (22.x), Needs backport (23.x), Needs backport (24.x)

#26457 [24.x] backport rpc: skip getpeerinfo for a peer without CNodeStateStats
  src/rpc/net.cpp
Labels: Backport

#26941 test: Fix intermittent feature_rbf issue
  test/functional/feature_rbf.py
Labels: Tests

#26471 Reduce default mempool size in -blocksonly mode
  doc/reduce-memory.md
  doc/release-notes-26471.md
  src/init.cpp
  src/kernel/mempool_options.h
Labels: Mempool, Resource usage

#26944 depends: fix systemtap download URL
  depends/packages/systemtap.mk
Labels: Build system, Needs backport (23.x), Needs backport (24.x)

#26919 scripted-diff: use RPCArg::Optional::OMITTED over OMITTED_NAMED_ARG
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/node.cpp
  src/rpc/output_script.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/txoutproof.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/rpc/wallet.cpp
Labels: Refactoring

#26826 refactor: remove windows-only compat.h usage in randomenv
  src/randomenv.cpp
Labels: Refactoring

#26690 wallet: Refactor database cursor into its own object with proper return codes
  src/wallet/bdb.cpp
  src/wallet/bdb.h
  src/wallet/db.h
  src/wallet/dump.cpp
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
  src/wallet/test/util.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/test/walletload_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
Labels: Wallet

#26958 build: fix usage of `-Wloop-analysis`
  configure.ac
Labels: Build system

#26954 test: Avoid rpc timeout in p2p_headers_sync_with_minchainwork
  test/functional/p2p_headers_sync_with_minchainwork.py
Labels: Tests

#26898 fuzz: Add PartiallyDownloadedBlock target
  src/Makefile.test.include
  src/blockencodings.cpp
  src/blockencodings.h
  src/test/fuzz/partially_downloaded_block.cpp
Labels: Tests

#26955 wallet: permit mintxfee=0
  src/wallet/wallet.cpp
Labels: Wallet

#26930 fuzz: Actually use mocked mempool in tx_pool target
  src/test/fuzz/tx_pool.cpp
Labels: Tests

#25987 build: compile depends sqlite with more recommended options
  depends/packages/sqlite.mk
Labels: Wallet, Build system

#26961 ci: Fix APPEND_APT_SOURCES_LIST trying to modify the host system
  ci/test/04_install.sh
Labels: Tests

#26929 rpc: Throw more user friendly arg type check error (1.5/2)
  src/rpc/util.cpp
  src/rpc/util.h
  test/functional/rpc_blockchain.py
Labels: RPC/REST/ZMQ

#26960 refactor: Remove c_str from util/check
  src/util/check.cpp
  src/util/check.h
  src/wallet/bdb.cpp
Labels: Refactoring

#26551 p2p: Track orphans by who provided them
  src/net_processing.cpp
  src/test/fuzz/txorphan.cpp
  src/txorphanage.cpp
  src/txorphanage.h
Labels: P2P

#26945 depends: systemtap 4.8
  depends/packages/systemtap.mk
  depends/patches/systemtap/fix_variadic_warning.patch
Labels: Build system

#26923 test: refactor: simplify p2p_{tx_download,eviction}.py by using MiniWallet
  test/functional/p2p_eviction.py
  test/functional/p2p_tx_download.py
Labels: Tests

#25880 p2p: Make stalling timeout adaptive during IBD
  src/net_processing.cpp
  test/functional/p2p_ibd_stalling.py
  test/functional/test_runner.py
Labels: P2P

#26900 refactor: Add BlockManager getters
  src/index/base.cpp
  src/init.cpp
  src/net_processing.cpp
  src/node/blockstorage.h
  src/node/chainstate.cpp
  src/node/interfaces.cpp
  src/rpc/blockchain.cpp
  src/test/util/setup_common.cpp
  src/validation.cpp
Labels: Refactoring

#26834 contrib: remove install_db4.sh
  contrib/install_db4.sh
  depends/README.md
  doc/build-openbsd.md
  doc/build-unix.md
Labels: Scripts and tools

#26977 ci: Fetch no git history, unless lint
  .cirrus.yml
Labels: Tests

#22811 build: Fix depends build system when working with subtargets
  depends/funcs.mk
Labels: Build system

#25465 build: remove boost library detection
  build-aux/m4/ax_boost_base.m4
  configure.ac
Labels: Build system

#15294 refactor: Extract RipeMd160
  src/bench/crypto_hash.cpp
  src/hash.h
  src/script/descriptor.cpp
  src/script/sign.cpp
  src/script/sign.h
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/scriptpubkeyman.cpp
Labels: Refactoring

#26982 p2p: 25880 fixups (stalling timeout)
  src/net_processing.cpp
  test/functional/p2p_ibd_stalling.py
Labels: P2P

#26499 wallet: Abandon descendants of orphaned coinbases
  src/wallet/transaction.h
  src/wallet/wallet.cpp
  test/functional/wallet_orphanedreward.py
Labels: Wallet

#26896 build: Remove port-forwarding runtime setting options from configure
  configure.ac
  doc/build-unix.md
  doc/release-notes-26896.md
  src/mapport.h
Labels: Build system

#23619 build: Propagate user-defined flags to host packages
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  depends/hosts/default.mk
Labels: Build system

#26649 refactor: Use AutoFile and HashVerifier (without ser-type and ser-version) where possible
  src/hash.h
  src/node/blockstorage.cpp
Labels: Refactoring

#17487 coins: allow write to disk without cache drop
  src/coins.cpp
  src/coins.h
  src/test/coins_tests.cpp
  src/txdb.cpp
  src/txdb.h
Labels: UTXO Db and Indexes

#26965 refactor: Remove stray cs_main redundant declaration
  ci/test/06_script_b.sh
  src/node/utxo_snapshot.cpp
  src/node/utxo_snapshot.h
  src/sync.h
Labels: Refactoring

#26998 depends: ensure we are appending to sqlite cflags
  depends/packages/sqlite.mk
Labels: Build system

#26956 test: refactor: introduce `replace_in_config` helper
  test/functional/p2p_permissions.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/wallet_crosschain.py
Labels: Tests

#26952 build: Avoid `BOOST_NO_CXX98_FUNCTION_BASE` macro redefinition
  configure.ac
Labels: Build system

#26974 refactor: rpc: set TxToJSON default verbosity to SHOW_DETAILS
  src/core_write.cpp
  src/rpc/rawtransaction.cpp
Labels: Refactoring

#23670 build: Build minisketch test in `make check`, not in `make`
  ci/test/06_script_b.sh
  src/Makefile.am
  src/Makefile.minisketch.include
Labels: Build system

#26847 p2p: track AddrMan totals by network and table, improve precision of adding fixed seeds
  src/addrdb.cpp
  src/addrman.cpp
  src/addrman.h
  src/addrman_impl.h
  src/net.cpp
  src/net.h
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
Labels: P2P
