Repository bitcoin/bitcoin, pull requests merged in 2023-10, with the labels that each got.

#28534 [25.x] qt: 25.1rc1 translations update
  src/Makefile.qt_locale.include
  src/qt/bitcoin_locale.qrc
  src/qt/locale/bitcoin_az.ts
  src/qt/locale/bitcoin_az@latin.ts
  src/qt/locale/bitcoin_bg.ts
  src/qt/locale/bitcoin_br.ts
  src/qt/locale/bitcoin_cmn.ts
  src/qt/locale/bitcoin_de.ts
  src/qt/locale/bitcoin_de_AT.ts
  src/qt/locale/bitcoin_de_CH.ts
  src/qt/locale/bitcoin_el.ts
  src/qt/locale/bitcoin_es.ts
  src/qt/locale/bitcoin_fa.ts
  src/qt/locale/bitcoin_fr.ts
  src/qt/locale/bitcoin_fr_CM.ts
  src/qt/locale/bitcoin_fr_LU.ts
  src/qt/locale/bitcoin_ha.ts
  src/qt/locale/bitcoin_hak.ts
  src/qt/locale/bitcoin_he.ts
  src/qt/locale/bitcoin_hi.ts
  src/qt/locale/bitcoin_hu.ts
  src/qt/locale/bitcoin_id.ts
  src/qt/locale/bitcoin_it.ts
  src/qt/locale/bitcoin_ja.ts
  src/qt/locale/bitcoin_ka.ts
  src/qt/locale/bitcoin_ko.ts
  src/qt/locale/bitcoin_mt.ts
  src/qt/locale/bitcoin_ne.ts
  src/qt/locale/bitcoin_nl.ts
  src/qt/locale/bitcoin_pt_BR.ts
  src/qt/locale/bitcoin_ro.ts
  src/qt/locale/bitcoin_ru.ts
  src/qt/locale/bitcoin_si.ts
  src/qt/locale/bitcoin_sl.ts
  src/qt/locale/bitcoin_sw.ts
  src/qt/locale/bitcoin_tk.ts
  src/qt/locale/bitcoin_tl.ts
  src/qt/locale/bitcoin_tr.ts
  src/qt/locale/bitcoin_ur.ts
  src/qt/locale/bitcoin_zh-Hans.ts
  src/qt/locale/bitcoin_zh-Hant.ts
  src/qt/locale/bitcoin_zh.ts
  src/qt/locale/bitcoin_zh_HK.ts
  src/qt/locale/bitcoin_zu.ts
Labels: Backport, CI failed

#28545 test: Avoid test failure on Linux root without cap-add LINUX_IMMUTABLE
  test/functional/feature_reindex_readonly.py
Labels: Tests

#28184 lint: fix custom mypy cache dir setting
  test/lint/lint-python.py
Labels: Tests

#28227 test: check for specific bip157 disconnect reasons, add test coverage
  test/functional/p2p_blockfilters.py
Labels: Tests

#28508 refactor: Remove SER_GETHASH, hard-code client version in CKeyPool serialize
  src/blockfilter.cpp
  src/hash.h
  src/net.cpp
  src/netmessagemaker.h
  src/primitives/block.cpp
  src/primitives/transaction.cpp
  src/psbt.h
  src/serialize.h
  src/signet.cpp
  src/streams.h
  src/test/fuzz/golomb_rice.cpp
  src/test/fuzz/script_assets_test_minimizer.cpp
  src/test/hash_tests.cpp
  src/test/script_tests.cpp
  src/test/serialize_tests.cpp
  src/test/sighash_tests.cpp
  src/test/streams_tests.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring

#28556 doc: fix link to developer-notes.md file in multiprocess.md
  doc/design/multiprocess.md
Labels: Docs

#28542 wallet: Check for uninitialized last processed and conflicting heights in MarkConflicted
  src/wallet/wallet.cpp
  test/functional/tool_wallet.py
  test/functional/wallet_migration.py
Labels: Wallet, Needs backport (25.x)

#28176 tests: add coverage to feature_addrman.py
  test/functional/feature_addrman.py
  test/functional/test_framework/netutil.py
Labels: Tests

#28557 bench: remove `NO_THREAD_SAFETY_ANALYSIS` usage
  src/bench/disconnected_transactions.cpp
Labels: Tests

#28331 BIP324 integration
  doc/bips.md
  src/init.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/node/connection_types.cpp
  src/node/connection_types.h
  src/protocol.cpp
  src/protocol.h
  src/rpc/client.cpp
  src/rpc/net.cpp
  src/rpc/util.cpp
  src/sync.h
  src/test/fuzz/connman.cpp
  src/test/fuzz/p2p_transport_serialization.cpp
  src/test/net_tests.cpp
  src/test/util/net.h
  test/functional/p2p_v2_transport.py
  test/functional/rpc_net.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: P2P

#28543 build, macos: Fix `qt` package build with new Xcode 15 linker
  depends/packages/qt.mk
  depends/patches/qt/fix-macos-linker.patch
Labels: macOS, Build system, Needs backport (25.x)

#28304 doc: Remove confusing assert linter
  doc/developer-notes.md
  test/lint/lint-assertions.py
Labels: Docs

#28507 contrib/bash-completions: use package naming conventions
  contrib/completions/bash/bitcoin-cli.bash
  contrib/completions/bash/bitcoin-tx.bash
  contrib/completions/bash/bitcoind.bash
Labels: Needs release note

#28571 depends: fix unusable memory_resource in macos qt build
  depends/packages/qt.mk
  depends/patches/qt/memory_resource.patch
Labels: Build system, DrahtBot Guix build requested, Needs backport (25.x)

#28523 rpc: add hidden getrawaddrman RPC to list addrman table entries
  src/addrman.cpp
  src/addrman.h
  src/addrman_impl.h
  src/rpc/net.cpp
  src/test/fuzz/rpc.cpp
  test/functional/rpc_net.py
Labels: RPC/REST/ZMQ

#28575 ci: Print Linux kernel info
  ci/test/06_script_b.sh
Labels: Tests

#28576 docs: fix typo in packages.md
  doc/policy/packages.md
Labels: CI failed

#28551 http: bugfix: allow server shutdown in case of remote client disconnection
  src/httpserver.cpp
Labels: RPC/REST/ZMQ, Needs backport (25.x)

#28487 [25.1] Final backports
  .cirrus.yml
  depends/packages/qt.mk
  depends/patches/qt/fix-macos-linker.patch
  depends/patches/qt/memory_resource.patch
  src/headerssync.cpp
  src/httpserver.cpp
  src/init.cpp
  src/policy/fees.cpp
  src/policy/fees.h
  src/qt/bitcoingui.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/policy_estimator_io.cpp
  src/test/util/setup_common.cpp
  src/test/util_tests.cpp
  src/util/vector.h
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  test/functional/feature_fee_estimation.py
  test/functional/tool_wallet.py
  test/functional/wallet_migration.py
Labels: Backport, CI failed

#28559 [25.1] Final changes for 25.1rc1
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  doc/release-notes/release-notes-25.0.md
Labels: Backport, CI failed

#27598 bench: Add SHA256 implementation specific benchmarks
  src/bench/crypto_hash.cpp
  src/crypto/sha256.cpp
  src/crypto/sha256.h
Labels: Tests

#28567 ci: Only run functional tests on native windows in master
  .github/workflows/ci.yml
Labels: Tests

#28589 test: assumeutxo func test race fixes
  test/functional/feature_assumeutxo.py
  test/functional/test_framework/test_framework.py
Labels: Tests

#28561 build: Update `qt` package up to 5.15.10
  .github/workflows/ci.yml
  build_msvc/README.md
  depends/packages/qt.mk
  depends/patches/qt/dont_hardcode_x86_64.patch
  depends/patches/qt/fix-macos-linker.patch
  depends/patches/qt/fix_android_jni_static.patch
  depends/patches/qt/fix_montery_include.patch
  depends/patches/qt/memory_resource.patch
  depends/patches/qt/no-xlib.patch
  doc/dependencies.md
Labels: Build system, DrahtBot Guix build requested

#28577 net: raise V1_PREFIX_LEN from 12 to 16
  src/net.cpp
  src/net.h
Labels: P2P

#25970 Add headerssync tuning parameters optimization script to repo
  contrib/devtools/README.md
  contrib/devtools/headerssync-params.py
  doc/release-process.md
  src/headerssync.cpp
Labels: P2P, Scripts and tools

#28588 test: BIP324: add checks for v1 prefix matching / wrong network magic detection
  test/functional/p2p_v2_transport.py
Labels: Tests

#28403 test: Bump walletpassphrase timeouts to avoid intermittent issues
  test/functional/wallet_createwallet.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_dump.py
  test/functional/wallet_encryption.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_keypool.py
Labels: Tests

#28027 test: Fixes and updates to wallet_backwards_compatibility.py for 25.0 and descriptor wallets
  test/functional/wallet_backwards_compatibility.py
  test/get_previous_releases.py
Labels: Tests

#28587 descriptors: disallow hybrid public keys
  src/pubkey.h
  src/script/descriptor.cpp
  src/test/descriptor_tests.cpp
Labels: Needs release note, Descriptors

#28597 wallet: No BDB creation, unless -deprecatedrpc=create_bdb
  src/wallet/rpc/wallet.cpp
  test/functional/test_framework/util.py
Labels: Wallet

#27609 rpc: allow submitpackage to be called outside of regtest
  doc/release-notes-27609.md
  src/policy/packages.cpp
  src/policy/packages.h
  src/rpc/mempool.cpp
  src/test/txpackage_tests.cpp
  src/validation.cpp
  test/functional/rpc_packages.py
Labels: RPC/REST/ZMQ

#28532 qt: enable` -ltcg` for windows under LTO
  depends/packages/qt.mk
  depends/patches/qt/windows_lto.patch
Labels: GUI

#28535 [24.x] Further backports
  .cirrus.yml
  ci/test/04_install.sh
  depends/packages/qt.mk
  depends/patches/qt/fix-macos-linker.patch
  depends/patches/qt/memory_resource.patch
  src/headerssync.cpp
  src/init.cpp
  src/policy/fees.cpp
  src/policy/fees.h
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/policy_estimator_io.cpp
  src/test/util/setup_common.cpp
  src/test/util_tests.cpp
  src/util/vector.h
  test/functional/feature_fee_estimation.py
Labels: Backport, CI failed

#28253 test: display abrupt shutdown errors in console output
  test/functional/test_framework/test_node.py
Labels: Tests

#28562 AssumeUTXO follow-ups
  doc/design/assumeutxo.md
  doc/release-notes-27596.md
  src/chain.h
  src/init.cpp
  src/kernel/chainparams.cpp
  src/net_processing.cpp
  src/node/blockstorage.cpp
  src/node/chainstate.cpp
  src/rpc/blockchain.cpp
  src/test/fuzz/chain.cpp
  src/test/validation_tests.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_assumeutxo.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
Labels: Needs rebase

#27255 MiniTapscript: port Miniscript to Tapscript
  src/psbt.cpp
  src/pubkey.cpp
  src/pubkey.h
  src/script/descriptor.cpp
  src/script/miniscript.cpp
  src/script/miniscript.h
  src/script/sign.cpp
  src/script/sign.h
  src/serialize.h
  src/test/descriptor_tests.cpp
  src/test/fuzz/miniscript.cpp
  src/test/miniscript_tests.cpp
  test/functional/test_runner.py
  test/functional/wallet_miniscript.py
Labels: Needs rebase

#28604 test: Use feerate higher than minrelay fee in wallet_fundraw
  test/functional/wallet_fundrawtransaction.py
Labels: Tests

#28611 Adjust Gradle properties to fix `apk` build
  src/qt/android/gradle.properties
Labels: Build system, Android

#28595 ci: Avoid cache depends/work/build
  ci/test/04_install.sh
Labels: Tests

#28591 kernel: chainparams updates for 26.x
  contrib/devtools/headerssync-params.py
  doc/release-process.md
  src/headerssync.cpp
  src/kernel/chainparams.cpp
Labels: Validation

#28482 ci: use LLVM/Clang 17 in tidy job
  ci/test/00_setup_env_native_tidy.sh
  ci/test/01_base_install.sh
  ci/test/06_script_b.sh
  src/.clang-tidy
Labels: Tests

#28624 docs: fix typo
  contrib/devtools/README.md
Labels: Docs

#28602 descriptors: Disallow hybrid and uncompressed keys when inferring
  src/script/descriptor.cpp
  src/test/descriptor_tests.cpp
  test/functional/wallet_migration.py
Labels: Descriptors

#28392 test: Use pathlib over os path
  test/functional/feature_blocksdir.py
  test/functional/feature_config_args.py
  test/functional/feature_filelock.py
  test/functional/feature_loadblock.py
  test/functional/feature_settings.py
  test/functional/interface_bitcoin_cli.py
  test/functional/rpc_bind.py
  test/functional/rpc_dumptxoutset.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/tool_wallet.py
  test/functional/wallet_backup.py
  test/functional/wallet_blank.py
  test/functional/wallet_crosschain.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_dump.py
  test/functional/wallet_fast_rescan.py
  test/functional/wallet_hd.py
  test/functional/wallet_keypool_topup.py
  test/functional/wallet_pruning.py
  test/functional/wallet_reorgsrestore.py
Labels: Tests

#28582 [24.2] Final changes for 24.2rc1
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  doc/release-notes/release-notes-24.1.md
Labels: Backport, CI failed

#28625 test: check that loading snapshot not matching AssumeUTXO parameters fails
  test/functional/feature_assumeutxo.py
Labels: Tests

#28633 ci: Install Qt's default Android API platform
  ci/test/01_base_install.sh
Labels: Tests

#28634 test: BIP324: add check for detection of missing garbage terminator
  test/functional/p2p_v2_transport.py
Labels: Tests

#27228 test: exempt previous release binaries from valgrind
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
Labels: Tests

#28629 test: fix usdt undeclared function errors on mantis
  test/functional/interface_usdt_coinselection.py
  test/functional/interface_usdt_mempool.py
  test/functional/interface_usdt_net.py
  test/functional/interface_usdt_utxocache.py
  test/functional/interface_usdt_validation.py
Labels: Tests

#28641 ci: Drop no longer needed `NOLINTNEXTLINE`
  src/test/fuzz/miniscript.cpp
Labels: Tests

#28644 test: Fuzz merge with -use_value_profile=0 for now
  test/fuzz/test_runner.py
Labels: Brainstorming, Tests

#28547 ci: Work around podman stop intermittent failure
  ci/test/02_run_container.sh
  ci/test_run_all.sh
Labels: Tests

#28639 refactor: Remove unused nchaintx from SnapshotMetadata constructor, fix test, add test
  src/node/utxo_snapshot.h
  src/rpc/blockchain.cpp
  test/functional/feature_assumeutxo.py
Labels: Refactoring

#28645 test: fix `assert_debug_log` call-site bugs, add type checks
  test/functional/p2p_segwit.py
  test/functional/p2p_v2_transport.py
  test/functional/test_framework/test_node.py
Labels: Tests

#27793 ci: label docker images and prune dangling images selectively
  ci/test/02_run_container.sh
Labels: Tests

#28650 fuzz: Merge with -set_cover_merge=1
  test/fuzz/test_runner.py
Labels: Tests

#28565 rpc: getaddrmaninfo followups
  doc/release-notes/release-notes-27511.md
  src/rpc/net.cpp
  src/rpc/server_util.cpp
  src/rpc/server_util.h
  test/functional/rpc_net.py
Labels: RPC/REST/ZMQ

#28583 refactor: [tidy] modernize-use-emplace
  src/.bear-tidy-config
  src/.clang-tidy
  src/addrman.cpp
  src/bench/block_assemble.cpp
  src/bench/disconnected_transactions.cpp
  src/bench/wallet_loading.cpp
  src/common/args.cpp
  src/external_signer.cpp
  src/headerssync.cpp
  src/httpserver.cpp
  src/net_permissions.cpp
  src/net_processing.cpp
  src/node/blockstorage.cpp
  src/node/interfaces.cpp
  src/psbt.h
  src/qt/rpcconsole.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/script/sign.cpp
  src/script/signingprovider.cpp
  src/test/addrman_tests.cpp
  src/test/bip32_tests.cpp
  src/test/fuzz/mini_miner.cpp
  src/test/fuzz/miniscript.cpp
  src/test/headers_sync_chainwork_tests.cpp
  src/test/miniscript_tests.cpp
  src/test/net_tests.cpp
  src/test/rbf_tests.cpp
  src/test/rpc_tests.cpp
  src/test/settings_tests.cpp
  src/test/sighash_tests.cpp
  src/test/sigopcount_tests.cpp
  src/test/txpackage_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util_tests.cpp
  src/test/util_threadnames_tests.cpp
  src/test/validation_block_tests.cpp
  src/txmempool.cpp
  src/validation.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/salvage.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/spend.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#28655 [25.1] Final Changes
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport, CI failed

#28630 depends: update `LD64_VERSION` to 711
  contrib/devtools/symbol-check.py
  depends/hosts/darwin.mk
Labels: Build system

#28628 lint: Include test_utxo_snapshots in lint_shell, fix linter errors
  contrib/devtools/test_utxo_snapshots.sh
  test/lint/lint-shell.py
Labels: Tests

#28656 fuzz: Allow multiple --m_dir args
  test/fuzz/test_runner.py
Labels: Tests

#28637 doc: add release note for #27460 (new `importmempool` RPC)
  doc/release-notes-27460.md
Labels: Docs

#28666 test: assumeutxo file with unknown block hash
  test/functional/feature_assumeutxo.py
Labels: Tests

#28671 test: Fix failing time check in rpc_net.py
  test/functional/rpc_net.py
Labels: Tests

#28672 build: move `-fstack-reuse=none` to CORE_CXXFLAGS
  configure.ac
Labels: Build system

#28617 test: Add Wallet Unlock Context Manager
  test/functional/test_framework/wallet_util.py
  test/functional/wallet_createwallet.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_dump.py
  test/functional/wallet_encryption.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_keypool.py
Labels: Tests

#28673 docs: Add reference to total.coverage report
  doc/developer-notes.md
Labels: Docs

#22764 build: Include qt sources for parsing with extract_strings.py
  src/Makefile.qt.include
Labels: Build system

#28667 doc: add historical release notes for 25.1
  doc/release-notes/release-notes-25.1.md
Labels: Docs

#28643 ci: Add missing CI_RETRY_EXE before git clone
  ci/lint/04_install.sh
  ci/test/01_base_install.sh
  ci/test/02_run_container.sh
  ci/test/06_script_b.sh
Labels: Tests

#28569 log: Don't log cache rebalancing in absense of a snapshot chainstate
  src/validation.cpp
Labels: Utils/log/libs

#28692 fuzz: Delete i2p fuzz test
  src/Makefile.test.include
  src/test/fuzz/i2p.cpp
Labels: Tests

#28669 test: check assumeutxo file for changed outpoint index + de-duplications
  test/functional/feature_assumeutxo.py
Labels: Tests, CI failed

#28697 fuzz: Increase merge -rss_limit_mb
  test/fuzz/test_runner.py
Labels: Tests, CI failed

#28668 [24.2] Final Changes
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport, CI failed

#28691 refactor: Remove CBlockFileInfo::SetNull
  src/chain.h
  src/node/blockstorage.cpp
  src/node/blockstorage.h
Labels: Refactoring, CI failed

#28693 build: Include `config/bitcoin-config.h` explicitly in `util/trace.h`
  src/util/trace.h
Labels: Build system, CI failed

#28618 doc: assumeutxo prune and index notes
  doc/design/assumeutxo.md
Labels: Docs

#28685 coinstats, assumeutxo: fix hash_serialized2 calculation
  contrib/devtools/utxo_snapshot.sh
  doc/release-notes-28685.md
  src/index/coinstatsindex.cpp
  src/kernel/chainparams.cpp
  src/kernel/coinstats.cpp
  src/kernel/coinstats.h
  src/rpc/blockchain.cpp
  src/test/validation_tests.cpp
  src/validation.cpp
  test/functional/feature_assumeutxo.py
  test/functional/feature_coinstatsindex.py
  test/functional/feature_dbcrash.py
  test/functional/feature_utxo_set_hash.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_dumptxoutset.py
Labels: CI failed

#28660 test: enable reindex readonly test on *BSD
  test/functional/feature_reindex_readonly.py
Labels: Tests, CI failed

#28707 doc: add historical release notes for 24.2
  doc/release-notes/release-notes-24.2.md
Labels: Docs, CI failed

#28713 [26.x] doc: consolidate release note fragments
  doc/release-notes-123.md
  doc/release-notes-24914.md
  doc/release-notes-25158.md
  doc/release-notes-26076.md
  doc/release-notes-26094.md
  doc/release-notes-26485.md
  doc/release-notes-27213.md
  doc/release-notes-27302.md
  doc/release-notes-27460.md
  doc/release-notes-27501.md
  doc/release-notes-27596.md
  doc/release-notes-27609.md
  doc/release-notes-27632.md
  doc/release-notes-27757.md
  doc/release-notes-28113.md
  doc/release-notes-28354.md
  doc/release-notes-28414.md
  doc/release-notes-28448.md
  doc/release-notes-28685.md
  doc/release-notes-empty-template.md
  doc/release-notes.md
  doc/release-notes/release-notes-27511.md
Labels: Backport

#28714 doc: remove release note fragments for 26.x branch
  configure.ac
  doc/release-notes-123.md
  doc/release-notes-24914.md
  doc/release-notes-25158.md
  doc/release-notes-26076.md
  doc/release-notes-26094.md
  doc/release-notes-26485.md
  doc/release-notes-27213.md
  doc/release-notes-27302.md
  doc/release-notes-27460.md
  doc/release-notes-27501.md
  doc/release-notes-27596.md
  doc/release-notes-27609.md
  doc/release-notes-27632.md
  doc/release-notes-27757.md
  doc/release-notes-28113.md
  doc/release-notes-28354.md
  doc/release-notes-28414.md
  doc/release-notes-28448.md
  doc/release-notes-28685.md
  doc/release-notes/release-notes-27511.md
Labels: Docs

#28717 [26.x] Bump version to v26.0rc1
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  share/examples/bitcoin.conf
Labels: Backport, CI failed

#28210 build: Bump clang minimum supported version to 13
  .python-version
  ci/test/00_setup_env_native_nowallet_libbitcoinkernel.sh
  doc/dependencies.md
  src/addrdb.cpp
  src/net.cpp
  src/wallet/interfaces.cpp
Labels: Build system, DrahtBot Guix build requested

#28627 depends: zeromq 4.3.5
  depends/packages/zeromq.mk
  depends/patches/zeromq/netbsd_kevent_void.patch
Labels: Build system, CI failed

#28264 test: refactor: support sending funds with outpoint result
  test/functional/rpc_psbt.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/wallet_basic.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_importdescriptors.py
  test/functional/wallet_migration.py
  test/functional/wallet_signrawtransactionwithwallet.py
  test/functional/wallet_txn_clone.py
  test/functional/wallet_txn_doublespend.py
Labels: Tests, CI failed

#28728 wallet: [bugfix] Mark CNoDestination and PubKeyDestination constructor explicit
  src/addresstype.h
  src/bench/wallet_create_tx.cpp
  src/qt/walletmodel.cpp
  src/script/script.cpp
  src/script/script.h
  src/wallet/test/spend_tests.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Needs backport (26.x)

#28107 util: Type-safe transaction identifiers
  src/Makefile.am
  src/net_processing.cpp
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/orphanage_tests.cpp
  src/txorphanage.cpp
  src/txorphanage.h
  src/util/transaction_identifier.h
  src/validation.cpp
  src/wallet/transaction.h
Labels: Utils/log/libs

#26078 p2p: return `CSubNet` in `LookupSubNet`
  src/httpserver.cpp
  src/net_permissions.cpp
  src/net_types.cpp
  src/netbase.cpp
  src/netbase.h
  src/rpc/net.cpp
  src/test/fuzz/netbase_dns_lookup.cpp
  src/test/netbase_tests.cpp
Labels: P2P

#27116 doc: clarify that LOCK() internally checks whether the mutex is held
  doc/developer-notes.md
  src/sync.cpp
  src/sync.h
Labels: Docs

#28740 refactor: Add LIFETIMEBOUND to all (w)txid getters
  src/primitives/transaction.h
  src/test/fuzz/tx_pool.cpp
  src/util/transaction_identifier.h
  src/wallet/test/group_outputs_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/transaction.h
Labels: Refactoring

#28727 test: replace random_bytes with random.randbytes
  test/functional/feature_taproot.py
  test/functional/mempool_datacarrier.py
  test/functional/p2p_net_deadlock.py
  test/functional/rpc_psbt.py
  test/functional/test_framework/util.py
Labels: Tests

#28753 test: Remove feature_txindex_compatibility.py
  test/functional/feature_txindex_compatibility.py
  test/functional/test_runner.py
Labels: Tests

#28695 net: Sanity check private keys received from SAM proxy
  src/i2p.cpp
  src/test/i2p_tests.cpp
Labels: P2P, Needs backport (26.x)

#28737 doc: Fix bugprone-lambda-function-name errors
  src/.clang-tidy
  src/rpc/mempool.cpp
  src/util/check.h
  src/validation.cpp
Labels: Docs

#28741 refactor: Fix bugprone-string-constructor warning
  src/.clang-tidy
  src/wallet/db.cpp
Labels: Refactoring

#28503 refactor: Remove WithParams serialization helper, use SER_PARAMS_OPFUNC
  src/net_processing.cpp
  src/protocol.h
  src/serialize.h
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/util.h
  src/test/net_tests.cpp
  src/test/serialize_tests.cpp
Labels: Refactoring

#28757 guix: Zip needs to include all files and set time to SOURCE_DATE_EPOCH
  contrib/guix/libexec/codesign.sh
Labels: Needs backport (26.x)

#28763 [26.x] qt: 26.0rc2 translations update
  src/Makefile.qt_locale.include
  src/qt/bitcoin_locale.qrc
  src/qt/locale/bitcoin_af.ts
  src/qt/locale/bitcoin_fo.ts
  src/qt/locale/bitcoin_ja.ts
  src/qt/locale/bitcoin_sk.ts
  src/qt/locale/bitcoin_sv.ts
  src/qt/locale/bitcoin_tr.ts
  src/qt/locale/bitcoin_uk.ts
Labels: Backport

#28759 guix: update signapple to latest master
  contrib/guix/manifest.scm
Labels: Build system, Needs backport (26.x)
