Repository bitcoin/bitcoin, pull requests merged in 2023-05, with the labels that each got.

#27224 refactor: Remove CAddressBookData::destdata
  src/wallet/bdb.cpp
  src/wallet/bdb.h
  src/wallet/db.h
  src/wallet/interfaces.cpp
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Refactoring

#26780 rpc: simplify scan blocks
  src/rpc/blockchain.cpp
  test/functional/rpc_scanblocks.py
Labels: RPC/REST/ZMQ

#26604 test: add coverage for `-bantime`
  test/functional/rpc_setban.py
Labels: Tests

#26733 test: Add test for `sendmany` rpc that uses `subtractfeefrom` parameter
  test/functional/wallet_basic.py
Labels: Tests

#27538 test: Remove modinv python util helper function
  test/functional/test_framework/key.py
  test/functional/test_framework/muhash.py
  test/functional/test_framework/util.py
Labels: Tests

#27475 [23.x] Additional backports for 23.x
  depends/packages/bdb.mk
  depends/packages/libxkbcommon.mk
Labels: Backport

#27191 blockstorage: Adjust fastprune limit if block exceeds blockfile size
  src/node/blockstorage.cpp
  test/functional/feature_fastprune.py
  test/functional/test_runner.py
Labels: Block storage, CI failed

#27542 test: add ripemd160 to test framework modules list
  test/functional/test_runner.py
Labels: Tests

#27453 test: added coverage to rpc_scantxoutset.py
  test/functional/rpc_scantxoutset.py
Labels: Tests

#26094 rpc: Return block hash & height in getbalances, gettransaction and getwalletinfo
  doc/release-notes-26094.md
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/rpc/util.cpp
  src/wallet/rpc/util.h
  src/wallet/rpc/wallet.cpp
  test/functional/wallet_balance.py
  test/functional/wallet_basic.py
  test/functional/wallet_orphanedreward.py
Labels: RPC/REST/ZMQ

#27553 test: Simplify feature_fastprune.py
  test/functional/feature_fastprune.py
Labels: Tests

#26953 contrib: add ELF OS ABI check to symbol-check.py
  contrib/devtools/symbol-check.py
Labels: Scripts and tools

#27559 doc: clarify processing of mempool-msgs when NODE_BLOOM
  src/net_processing.cpp
Labels: Docs

#24957 prune, import: allow pruning to work during loadblock import
  src/validation.cpp
Labels: Validation

#27422 test: add coverage to rpc_scantxoutset.py
  test/functional/rpc_scantxoutset.py
Labels: Tests

#26653 test, init: perturb file to ensure failure instead of only deleting them
  test/functional/feature_init.py
Labels: Tests

#27554 test: Treat `bitcoin-wallet` binary in the same way as others
  test/functional/test_framework/test_framework.py
  test/functional/tool_wallet.py
Labels: Tests

#27574 doc: Add post branch-off note about fuzz input pruning
  doc/release-process.md
Labels: Docs

#27570 refactor: Remove need to pass chainparams to BlockManager methods
  src/bitcoin-chainstate.cpp
  src/init.cpp
  src/kernel/blockmanager_opts.h
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/test/blockmanager_tests.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/validation.cpp
Labels: Refactoring

#27584 ci: fix asan task name
  .cirrus.yml
Labels: Tests

#27405 util: Use steady clock instead of system clock to measure durations
  src/netbase.cpp
  src/qt/clientmodel.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/fuzz/socks5.cpp
  src/test/txindex_tests.cpp
  src/wallet/rpc/wallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Utils/log/libs

#17860 fuzz: BIP 30, CVE-2018-17144
  src/Makefile.test.include
  src/bench/block_assemble.cpp
  src/kernel/coinstats.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/fuzz/utxo_total_supply.cpp
  src/test/util/mining.cpp
  src/test/util/mining.h
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Labels: Tests, Review club

#26076 Switch hardened derivation marker to h
  doc/release-notes-26076.md
  src/script/descriptor.cpp
  src/test/descriptor_tests.cpp
  src/test/fuzz/parse_hd_keypath.cpp
  src/util/bip32.cpp
  src/util/bip32.h
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/scriptpubkeyman.cpp
  test/functional/rpc_getdescriptorinfo.py
  test/functional/rpc_scantxoutset.py
  test/functional/wallet_address_types.py
  test/functional/wallet_backwards_compatibility.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_hd.py
  test/functional/wallet_importdescriptors.py
  test/functional/wallet_keypool_topup.py
  test/functional/wallet_listdescriptors.py
  test/functional/wallet_migration.py
  test/functional/wallet_signer.py
Labels: Wallet, RPC/REST/ZMQ, CI failed

#27594 refactor: Remove unused GetTimeMillis
  src/bench/util_time.cpp
  src/rpc/net.cpp
  src/util/time.cpp
  src/util/time.h
Labels: Refactoring

#27608 p2p: Avoid prematurely clearing download state for other peers
  src/net_processing.cpp
Labels: P2P

#27573 ci: Remove CI_EXEC bloat in test/06_script_b.sh
  ci/README.md
  ci/test/04_install.sh
  ci/test/06_script_b.sh
  ci/test_run_all.sh
Labels: Tests

#27611 refactor: Use ChainType enum exhaustively
  src/bitcoin-cli.cpp
  src/chainparams.cpp
  src/chainparams.h
  src/chainparamsbase.cpp
  src/chainparamsbase.h
  src/common/args.h
  src/test/argsman_tests.cpp
Labels: Refactoring

#19690 util: improve FindByte() performance
  src/Makefile.bench.include
  src/bench/streams_findbyte.cpp
  src/streams.h
  src/test/fuzz/buffered_file.cpp
  src/test/streams_tests.cpp
  src/validation.cpp
Labels: Utils/log/libs

#27629 doc: remove version number from bips.md
  doc/bips.md
Labels: Docs

#27613 [25.0] Backports for rc2
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  src/net_processing.cpp
  src/txmempool.cpp
Labels: Backport

#27628 build: Fix shared lib linking for darwin with lld
  configure.ac
Labels: Build system

#27493 depends: no-longer nuke libc++abi.so* in native_clang package
  depends/packages/native_clang.mk
Labels: Build system

#27616 ci: Remove CI_EXEC bloat
  ci/test/04_install.sh
  ci/test/05_before_script.sh
  ci/test/06_script_a.sh
  ci/test/06_script_b.sh
  ci/test_run_all.sh
Labels: Tests

#27664 docs: fix spelling errors
  test/functional/interface_usdt_utxocache.py
  test/lint/spelling.ignore-words.txt
Labels: Docs

#27660 [24.1] Final Changes
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#27041 Build: Improve handling of suppressed logging in Makefiles
  src/Makefile.am
  src/Makefile.qt.include
  src/Makefile.test.include
Labels: Build system

#26422 build: Use newest `config.{guess,sub}` available
  autogen.sh
Labels: Build system

#27674 ci: Fix "Number of CPUs" output
  ci/test/06_script_b.sh
Labels: Tests

#27667 ci: Remove unused errtrace trap ERR
  ci/test/06_script_b.sh
Labels: Tests

#27663 [23.2] Final Changes
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#27668 guix: document when certain patches can be dropped
  contrib/guix/patches/gcc-broken-longjmp.patch
  contrib/guix/patches/glibc-2.27-fcommon.patch
  contrib/guix/patches/glibc-2.27-guix-prefix.patch
  contrib/guix/patches/glibc-2.27-riscv64-Use-__has_include-to-include-asm-syscalls.h.patch
  contrib/guix/patches/vmov-alignment.patch
Labels: Build system

#25193 indexes: Read the locator's top block during init, allow interaction with reindex-chainstate
  src/index/base.cpp
  src/init.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/test/util/setup_common.cpp
  test/functional/feature_coinstatsindex.py
  test/functional/p2p_blockfilters.py
Labels: UTXO Db and Indexes

#27682 build: Bump minimum supported Clang to clang-10
  build-aux/m4/l_filesystem.m4
  ci/test/00_setup_env_native_nowallet_libbitcoinkernel.sh
  ci/test/06_script_b.sh
  doc/dependencies.md
Labels: Build system

#27689 doc: remove mention of glibc 2.10+
  doc/reduce-memory.md
  src/rpc/node.cpp
Labels: Docs

#27615 msvc: Rename `libbitcoinconsensus` to `libbitcoin_consensus` and other adjustments
  build_msvc/bench_bitcoin/bench_bitcoin.vcxproj.in
  build_msvc/bitcoin-qt/bitcoin-qt.vcxproj
  build_msvc/bitcoin-tx/bitcoin-tx.vcxproj
  build_msvc/bitcoin-util/bitcoin-util.vcxproj
  build_msvc/bitcoin-wallet/bitcoin-wallet.vcxproj
  build_msvc/bitcoin.sln
  build_msvc/bitcoin_config.h.in
  build_msvc/bitcoind/bitcoind.vcxproj
  build_msvc/libbitcoin_consensus/libbitcoin_consensus.vcxproj
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
Labels: Windows, Build system

#27640 test: Return dict in MiniWallet::send_to
  test/functional/feature_coinstatsindex.py
  test/functional/feature_rbf.py
  test/functional/interface_rest.py
  test/functional/mempool_accept.py
  test/functional/mempool_sigoplimit.py
  test/functional/p2p_filter.py
  test/functional/rpc_createmultisig.py
  test/functional/test_framework/wallet.py
Labels: Tests

#27458 build: Detect USDT the same way how it is used in the code
  configure.ac
Labels: Build system

#27695 test: Add test to check tx in the last block can be downloaded
  test/functional/p2p_leak_tx.py
Labels: Tests

#27687 msvc: Provide `ObjectFileName` explicitly
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
Labels: Windows, Build system

#27021 Implement Mini version of BlockAssembler to calculate mining scores
  src/Makefile.am
  src/Makefile.test.include
  src/node/mini_miner.cpp
  src/node/mini_miner.h
  src/test/fuzz/mini_miner.cpp
  src/test/miniminer_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
Labels: Mempool

#27688 doc: remove Security section from build-unix.md
  doc/build-unix.md
Labels: Docs

#27683 ci: remove `RUN_SECURITY_TESTS`
  ci/test/00_setup_env.sh
  ci/test/06_script_b.sh
Labels: Tests

#27561 test: Explicitly specify directory where to search tests for
  test/functional/test_runner.py
Labels: Tests

#27670 guix: remove redundant glibc patches
  contrib/guix/manifest.scm
  contrib/guix/patches/glibc-ldd-x86_64.patch
  contrib/guix/patches/glibc-versioned-locpath.patch
Labels: Build system

#27672 fuzz: Print error message when FUZZ is missing
  ci/test/06_script_b.sh
  src/test/fuzz/fuzz.cpp
  src/util/fs.h
Labels: Tests

#27177 test: fix intermittent issue in `feature_bip68_sequence`
  test/functional/interface_usdt_mempool.py
  test/functional/mempool_compatibility.py
  test/functional/mempool_package_limits.py
  test/functional/mempool_persist.py
  test/functional/test_framework/wallet.py
Labels: Tests

#27626 Parallel compact block downloads, take 3
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/blockchain.cpp
  test/functional/p2p_compactblocks.py
Labels: P2P, CI failed, Needs backport (25.x)

#27686 25.0 Final Changes
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#27721 depends: remove redundant stdlib option
  depends/hosts/darwin.mk
Labels: Build system

#27750 [25.x] rpc: Fix invalid bech32 handling
  src/key_io.cpp
  test/functional/rpc_invalid_address_message.py
  test/functional/rpc_validateaddress.py
  test/functional/test_runner.py
Labels: Backport

#27751 doc: Add doc/release-notes/release-notes-25.0.md
  doc/release-notes/release-notes-25.0.md
  doc/release-process.md
Labels: Docs

#25977 refactor: Replace `std::optional<bilingual_str>` with `util::Result`
  src/addrdb.cpp
  src/addrdb.h
  src/bitcoin-chainstate.cpp
  src/init.cpp
  src/kernel/checks.cpp
  src/kernel/checks.h
  src/node/blockmanager_args.cpp
  src/node/blockmanager_args.h
  src/node/chainstatemanager_args.cpp
  src/node/chainstatemanager_args.h
  src/node/mempool_args.cpp
  src/node/mempool_args.h
  src/test/util/txmempool.cpp
  src/txdb.cpp
  src/txdb.h
  src/util/result.h
Labels: Refactoring

#27302 init: Error if ignored bitcoin.conf file is found
  doc/release-notes-27302.md
  src/common/args.cpp
  src/common/args.h
  src/common/config.cpp
  src/common/init.cpp
  src/init.cpp
  src/qt/test/test_main.cpp
  test/functional/feature_config_args.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/lint/run-lint-format-strings.py
Labels: CI failed

#27469 wallet: improve IBD sync time by skipping block scanning prior birth time
  src/bench/wallet_balance.cpp
  src/interfaces/chain.h
  src/kernel/chain.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#27766 fuzz: Change LIMIT_TO_MESSAGE_TYPE from a compile-time to a run-time setting
  src/test/fuzz/process_message.cpp
  src/test/util/setup_common.h
Labels: Tests

#27145 wallet: when a block is disconnected, update transactions that are no longer conflicted
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_runner.py
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_conflicts.py
Labels: Wallet

#27739 ci: Add missing set -e to 01_base_install.sh
  ci/README.md
  ci/test/00_setup_env.sh
  ci/test/01_base_install.sh
  ci/test/04_install.sh
Labels: Tests

#27765 test: Throw error when -signetchallenge is non-hex
  src/chainparams.cpp
  src/chainparams.h
  src/util/strencodings.h
  src/util/string.h
  test/functional/feature_signet.py
Labels: Tests

#25975 contrib/init: Better systemd integration
  contrib/init/bitcoind.service
Labels: Scripts and tools

#27724 build: disable boost multi index safe mode in debug mode
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_qt5.sh
  configure.ac
Labels: Build system

#27673 log: don't log total disk read time in ConnectTip bench
  src/validation.cpp
Labels: Utils/log/libs

#26261 p2p: cleanup `LookupIntern`, `Lookup` and `LookupHost`
  src/bench/addrman.cpp
  src/httpserver.cpp
  src/init.cpp
  src/mapport.cpp
  src/net.cpp
  src/net_permissions.cpp
  src/netbase.cpp
  src/netbase.h
  src/qt/optionsdialog.cpp
  src/rpc/net.cpp
  src/test/addrman_tests.cpp
  src/test/fuzz/netbase_dns_lookup.cpp
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/torcontrol.cpp
  src/zmq/zmqpublishnotifier.cpp
Labels: P2P

#27777 ci: Prune dangling images on RESTART_CI_DOCKER_BEFORE_RUN
  ci/test/04_install.sh
Labels: Tests

#27784 test: fix intermittent error in getblockfrompeer.py
  test/functional/rpc_getblockfrompeer.py
Labels: Tests, CI failed

#27786 fuzz: fix wallet notifications.cpp
  src/wallet/test/fuzz/notifications.cpp
Labels: Tests, CI failed

#27780 fuzz: Avoid timeout in utxo_total_supply
  src/test/fuzz/utxo_total_supply.cpp
Labels: Tests, CI failed

#27657 doc: Remove unused NO_BLOOM_VERSION constant
  src/protocol.h
  src/version.h
Labels: Docs

#27778 ci: Enable float-divide-by-zero check
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
Labels: Tests, CI failed

#27720 index: prevent race by calling 'CustomInit' prior setting 'synced' flag
  src/index/base.cpp
Labels: UTXO Db and Indexes
