Repository bitcoin/bitcoin, pull requests merged in 2023-03, with the labels that each got.

#27183 doc: Update Transifex links and slug format in Release Process
  doc/release-process.md
Labels: Docs

#26612 refactor: RPC: pass named argument value as string_view
  src/rpc/client.cpp
  src/rpc/client.h
  src/test/rpc_tests.cpp
  src/univalue/include/univalue.h
Labels: Refactoring

#27192 util: add missing include and fix function signature
  src/util/readwritefile.cpp
Labels: Utils/log/libs

#27209 ci: Remove unused EXPECTED_TESTS_DURATION_IN_SECONDS env var
  ci/test/00_setup_env.sh
Labels: Tests

#25491 wallet: use Mutex for g_sqlite_mutex instead of GlobalMutex
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
Labels: Wallet

#27155 doc: Expand scantxoutset help text to cover tr() and miniscript
  src/rpc/blockchain.cpp
Labels: Docs

#25806 wallet: group outputs only once, decouple it from Coin Selection
  src/Makefile.test.include
  src/bench/coin_selection.cpp
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/fuzz/coinselection.cpp
  src/wallet/test/group_outputs_tests.cpp
Labels: Wallet

#26742 http: Track active requests and wait for last to finish - 2nd attempt
  src/httpserver.cpp
  test/functional/feature_abortnode.py
Labels: RPC/REST/ZMQ

#27218 util: Work around ParseHex gcc cross compiler bug
  src/util/strencodings.cpp
Labels: Utils/log/libs

#27189 util: Use steady clock in SeedStrengthen, FindBestImplementation, FlushStateToDisk
  ci/test/06_script_b.sh
  src/node/minisketchwrapper.cpp
  src/random.cpp
  src/util/time.h
  src/validation.cpp
  src/validation.h
Labels: Utils/log/libs

#27180 doc: DummySignInput mention external signer
  src/wallet/wallet.cpp
Labels: Wallet

#26968 doc: Fixup remove 'omitted...' doc for rpc getrawtransaction when verbose is 2
  src/rpc/rawtransaction.cpp
Labels: Docs

#26996 test: Flatten miniwallet array and remove random fee in longpoll
  test/functional/mining_getblocktemplate_longpoll.py
Labels: Tests

#25696 build: Re-enable external signer on Windows
  ci/test/00_setup_env_win64.sh
  configure.ac
  src/test/system_tests.cpp
Labels: Build system

#23813 Add test and docs for getblockfrompeer with pruning
  src/rpc/blockchain.cpp
  test/functional/rpc_getblockfrompeer.py
Labels: Docs, RPC/REST/ZMQ

#27226 test: Use self.wait_until over wait_until_helper
  test/functional/test_framework/p2p.py
Labels: Tests

#27171 test: add coverage for sigop limit policy (`-bytespersigop` setting)
  test/functional/mempool_sigoplimit.py
  test/functional/test_runner.py
Labels: Tests

#27220 doc: update broken str util reference links on developer-notes
  doc/developer-notes.md
Labels: Docs

#27236 util: fix argsman dupe key error
  src/test/settings_tests.cpp
  src/util/settings.cpp
Labels: Utils/log/libs

#27239 refactor: Consistently use context args over gArgs in node/interfaces
  src/init.cpp
  src/node/interfaces.cpp
Labels: Refactoring

#27247 [24.x] Bump version to v24.1rc1
  configure.ac
  doc/bips.md
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  doc/release-notes/release-notes-24.0.1.md
Labels: Backport

#27221 test: Default timeout factor to 4 under --valgrind
  test/functional/test_framework/test_framework.py
Labels: Tests

#27238 refactor: Split logging utilities from system.h
  ci/test/06_script_b.sh
  src/Makefile.am
  src/addrdb.cpp
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/bitcoin-util.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
  src/index/base.cpp
  src/index/coinstatsindex.cpp
  src/index/txindex.cpp
  src/kernel/coinstats.cpp
  src/logging.h
  src/net.cpp
  src/netbase.cpp
  src/node/blockstorage.cpp
  src/qt/bitcoin.cpp
  src/qt/guiutil.cpp
  src/qt/initexecutor.cpp
  src/script/signingprovider.cpp
  src/txdb.cpp
  src/util/exception.cpp
  src/util/exception.h
  src/util/system.cpp
  src/util/system.h
  src/util/thread.cpp
Labels: Refactoring

#27227 wallet: 25806 follow-up
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/wallet.h
Labels: Wallet

#26207 rest: add verbose and mempool_sequence query params for mempool/contents
  doc/REST-interface.md
  src/rest.cpp
  test/functional/interface_rest.py
Labels: RPC/REST/ZMQ

#27200 test: psbt: check non-witness UTXO removal for segwit v1 input
  test/functional/rpc_psbt.py
  test/functional/test_framework/psbt.py
Labels: Tests

#27199 test: fix race condition in encrypted wallet rescan tests
  test/functional/wallet_importdescriptors.py
  test/functional/wallet_transactiontime_rescan.py
Labels: Tests

#27264 p2p: Improve diversification of new connections
  src/net.cpp
Labels: P2P

#27265 test: check that sigop limit also affects ancestor/descendant size (27171 follow-up)
  test/functional/mempool_sigoplimit.py
Labels: Tests

#25666 refactor: wallet, do not translate init options names
  src/wallet/spend.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#26531 mempool: Add mempool tracepoints
  contrib/tracing/README.md
  contrib/tracing/mempool_monitor.py
  doc/tracing.md
  src/txmempool.cpp
  src/validation.cpp
  test/functional/interface_usdt_mempool.py
  test/functional/test_runner.py
Labels: Mempool

#26899 p2p: set `-dnsseed` and `-listen` false if `maxconnections=0`
  doc/release-notes-26899.md
  src/init.cpp
Labels: P2P

#27289 Refactor: Remove unused FlatFilePos::SetNull
  src/flatfile.h
  src/index/disktxpos.h
  src/test/flatfile_tests.cpp
  src/test/fuzz/flatfile.cpp
Labels: Refactoring

#27280 test: Fix TypeError (expected str instance, bytes found) in wait_for_debug_log
  test/functional/test_framework/test_node.py
Labels: Tests

#26749 refactor: Use move semantics instead of custom swap functions
  src/bench/checkqueue.cpp
  src/checkqueue.h
  src/test/checkqueue_tests.cpp
  src/test/fuzz/checkqueue.cpp
  src/test/transaction_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#27297 test: Remove unused Check* default constructors
  src/test/checkqueue_tests.cpp
Labels: Tests

#27233 refactor: Replace GetTimeMicros by SystemClock
  src/logging.cpp
  src/util/time.cpp
  src/util/time.h
Labels: Refactoring

#27311 ci: Use clang-15 in "tidy" task
  .cirrus.yml
  ci/test/00_setup_env_native_tidy.sh
  ci/test/04_install.sh
  ci/test/06_script_b.sh
Labels: Tests

#27257 refactor, net: End friendship of CNode, CConnman and ConnmanTestMsg
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/util/net.cpp
Labels: Refactoring

#26957 bench: update logging benchmarks
  src/bench/logging.cpp
  src/init/common.cpp
Labels: Tests

#27028 ci: Cache more stuff in the ci images: msan, iwyu, pip, sdks
  ci/test/00_setup_env.sh
  ci/test/01_base_install.sh
  ci/test/04_install.sh
  ci/test/05_before_script.sh
Labels: Tests

#27312 depends: qrencode 4.1.1
  depends/packages/qrencode.mk
Labels: GUI, Build system

#27328 depends: fix osx build with clang 16
  depends/hosts/darwin.mk
Labels: Build system

#27296 guix: import/sync python-lief (0.12.3) package definition from upstream
  contrib/guix/manifest.scm
Labels: Build system

#27326 guix: combine and document `enable_werror`
  contrib/guix/manifest.scm
Labels: Build system, DrahtBot Guix build requested

#27314 build, qt: Fix handling of `CXX=clang++` when building `qt` package
  depends/packages/qt.mk
Labels: Build system, DrahtBot Guix build requested

#27301 depends: make fontconfig build under clang-16
  depends/packages/fontconfig.mk
Labels: Build system, DrahtBot Guix build requested

#27348 test: fix intermittent failure in ChainStateManager tests
  src/test/validation_chainstatemanager_tests.cpp
Labels: Tests

#27324 net: #27257 follow-ups
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/fuzz/connman.cpp
  src/test/util/net.cpp
Labels: P2P

#27344 fuzz: Remove legacy int parse fuzz tests
  ci/test/06_script_b.sh
  src/test/fuzz/string.cpp
  test/lint/lint-locale-dependence.py
Labels: Tests

#27318 test: wallet_create_tx.py fix race
  test/functional/wallet_create_tx.py
Labels: Tests

#27349 test: use address_to_scriptpubkey instead of RPC call
  test/functional/feature_nulldummy.py
  test/functional/rpc_createmultisig.py
  test/functional/rpc_scanblocks.py
  test/functional/rpc_scantxoutset.py
  test/functional/rpc_signrawtransactionwithkey.py
  test/functional/test_framework/address.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/wallet.py
  test/functional/wallet_avoidreuse.py
  test/functional/wallet_fast_rescan.py
Labels: Refactoring

#27345 guix: use GCC tool wrappers
  contrib/guix/libexec/build.sh
Labels: Build system, DrahtBot Guix build requested

#27368 refactor: Drop no longer used `CNetMsgMaker` instances
  src/net_processing.cpp
Labels: Refactoring

#27363 ci: use LLVM/clang-16 in native_fuzz (ASAN) job
  .cirrus.yml
  ci/test/00_setup_env_native_fuzz.sh
Labels: Tests

#27350 test: refactor: dedup mempool_package_limits.py subtests via decorator
  test/functional/mempool_package_limits.py
Labels: Refactoring

#27333 ci: cleanup of CI_EXEC & CI_EXEC_ROOT
  ci/test/01_base_install.sh
Labels: Tests

#27361 guix: use python-minimal (3.9)
  contrib/guix/manifest.scm
Labels: Build system, DrahtBot Guix build requested

#27362 test: remove `GetRNGState` lsan suppression
  test/sanitizer_suppressions/lsan
Labels: Tests

#27376 ci: Remove second user account
  ci/test/04_install.sh
  ci/test/05_before_script.sh
Labels: Tests
