Repository bitcoin/bitcoin, pull requests merged in 2024-09, with the labels that each got.

#30763 doc: update Fedora build instructions for cmake
  doc/build-unix.md
Labels: Docs

#30664 build: Remove Autotools-based build system
  .gitignore
  Makefile.am
  autogen.sh
  build-aux/m4/ax_boost_base.m4
  build-aux/m4/ax_check_compile_flag.m4
  build-aux/m4/ax_check_link_flag.m4
  build-aux/m4/ax_check_preproc_flag.m4
  build-aux/m4/ax_cxx_compile_stdcxx.m4
  build-aux/m4/ax_pthread.m4
  build-aux/m4/bitcoin_find_bdb48.m4
  build-aux/m4/bitcoin_qt.m4
  build-aux/m4/bitcoin_subdir_to_include.m4
  build-aux/m4/l_atomic.m4
  build-aux/m4/l_socket.m4
  ci/test/03_test_script.sh
  cmake/script/GenerateBuildInfo.cmake
  configure.ac
  depends/.gitignore
  depends/Makefile
  depends/config.site.in
  doc/.gitignore
  doc/design/libraries.md
  doc/man/Makefile.am
  share/genbuild.sh
  src/.bear-tidy-config
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.crc32c.include
  src/Makefile.leveldb.include
  src/Makefile.minisketch.include
  src/Makefile.qt.include
  src/Makefile.qt_locale.include
  src/Makefile.qttest.include
  src/Makefile.test.include
  src/Makefile.test_fuzz.include
  src/Makefile.test_util.include
  src/Makefile.univalue.include
  src/bench/.gitignore
  src/clientversion.cpp
  src/ipc/capnp/.gitignore
  src/qt/Makefile
  src/qt/test/Makefile
  src/test/.gitignore
  src/test/Makefile
  src/univalue/.gitignore
  src/univalue/lib/.gitignore
  src/univalue/sources.mk
  src/univalue/test/.gitignore
  test/functional/.gitignore
Labels: Build system

#30750 scripted-diff: LogPrint -> LogDebug
  contrib/devtools/bitcoin-tidy/example_logprintf.cpp
  doc/developer-notes.md
  doc/fuzzing.md
  src/addrman.cpp
  src/banman.cpp
  src/bench/logging.cpp
  src/blockencodings.cpp
  src/dbwrapper.cpp
  src/flatfile.cpp
  src/headerssync.cpp
  src/httprpc.cpp
  src/httpserver.cpp
  src/init.cpp
  src/ipc/capnp/protocol.cpp
  src/ipc/interfaces.cpp
  src/logging.h
  src/logging/timer.h
  src/net.cpp
  src/net_processing.cpp
  src/netbase.cpp
  src/node/blockstorage.cpp
  src/node/miner.cpp
  src/policy/fees.cpp
  src/qt/bitcoin.cpp
  src/random.cpp
  src/rpc/blockchain.cpp
  src/rpc/request.cpp
  src/rpc/server.cpp
  src/signet.cpp
  src/test/logging_tests.cpp
  src/torcontrol.cpp
  src/txdb.cpp
  src/txmempool.cpp
  src/txorphanage.cpp
  src/validation.cpp
  src/validationinterface.cpp
  src/wallet/bdb.cpp
  src/wallet/coinselection.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqpublishnotifier.cpp
  src/zmq/zmqutil.cpp
  test/lint/lint-format-strings.py
  test/lint/run-lint-format-strings.py
Labels: Refactoring

#30779 doc: add `-DWITH_BDB=ON` to unix build docs
  doc/build-freebsd.md
  doc/build-openbsd.md
  doc/build-unix.md
Labels: Docs

#30761 test: Avoid intermittent timeout in p2p_headers_sync_with_minchainwork.py
  test/functional/p2p_headers_sync_with_minchainwork.py
Labels: Tests

#30741 doc: update documentation and scripts related to build directories
  contrib/tracing/README.md
  contrib/tracing/connectblock_benchmark.bt
  contrib/tracing/log_p2p_traffic.bt
  contrib/tracing/log_utxos.bt
  contrib/valgrind.supp
  doc/developer-notes.md
  doc/multisig-tutorial.md
  doc/offline-signing-tutorial.md
  doc/tracing.md
  src/qt/README.md
Labels: Docs

#30778 build: Fix linking for `fuzz` target when building with MSan
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  src/test/fuzz/CMakeLists.txt
Labels: Tests

#29553 assumeutxo: Add dumptxoutset height param, remove shell scripts
  contrib/devtools/test_utxo_snapshots.sh
  contrib/devtools/utxo_snapshot.sh
  doc/assumeutxo.md
  doc/design/assumeutxo.md
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/rpc/client.cpp
  src/validation.h
  test/functional/feature_assumeutxo.py
  test/functional/rpc_dumptxoutset.py
  test/functional/wallet_assumeutxo.py
Labels: RPC/REST/ZMQ

#30742 kernel: Use spans instead of vectors for passing block headers to validation functions
  src/net_processing.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/rpc/mining.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/fuzz/utxo_snapshot.cpp
  src/test/validation_block_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Validation, CI failed

#26619 log: expand BCLog::LogFlags (categories) to 64 bits
  src/interfaces/node.h
  src/logging.h
  src/node/interfaces.cpp
  src/rpc/node.cpp
Labels: Utils/log/libs

#30675 http: set TCP_NODELAY when creating HTTP server
  src/httpserver.cpp
Labels: RPC/REST/ZMQ

#30802 doc: Clarify libbitcoin_consensus in design/libraries.md
  doc/design/libraries.md
  src/CMakeLists.txt
Labels: Docs

#30804 fuzz: Rename fuzz_seed_corpus to fuzz_corpora
  .github/workflows/ci.yml
  ci/test/03_test_script.sh
  cmake/script/CoverageFuzz.cmake
  doc/fuzzing.md
  src/test/fuzz/fuzz.cpp
Labels: Tests

#30784 test: add check that too large txs aren't put into orphanage
  src/test/orphanage_tests.cpp
  src/test/util/transaction_utils.cpp
  src/test/util/transaction_utils.h
Labels: Tests

#30808 rpc: dumptxoutset height parameter follow-ups (29553)
  doc/assumeutxo.md
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#29605 net: Favor peers from addrman over fetching seednodes
  src/net.cpp
  src/net.h
  test/functional/p2p_seednode.py
  test/functional/test_runner.py
Labels: P2P

#29566 test: update satoshi_round function
  test/functional/feature_fee_estimation.py
  test/functional/test_framework/util.py
Labels: Tests

#30148 cli: restrict multiple exclusive argument usage in bitcoin-cli
  src/bitcoin-cli.cpp
  src/common/args.cpp
  src/common/args.h
  src/test/fuzz/system.cpp
  test/functional/interface_bitcoin_cli.py
Labels: Scripts and tools

#29043 fuzz: make FuzzedDataProvider usage deterministic
  src/test/fuzz/addrman.cpp
  src/test/fuzz/banman.cpp
  src/test/fuzz/buffered_file.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/crypto.cpp
  src/test/fuzz/crypto_chacha20.cpp
  src/test/fuzz/cuckoocache.cpp
  src/test/fuzz/message.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/prevector.cpp
  src/test/fuzz/script_format.cpp
  src/test/fuzz/script_interpreter.cpp
  src/test/fuzz/script_sign.cpp
  src/test/fuzz/socks5.cpp
  src/test/fuzz/system.cpp
  src/test/fuzz/util/net.cpp
  src/wallet/test/fuzz/coinselection.cpp
  src/wallet/test/fuzz/scriptpubkeyman.cpp
Labels: Tests, CI failed

#30788 test: fixing failing system_tests/run_command under some Locales
  src/test/system_tests.cpp
Labels: Tests

#30723 lint: Speed up and fix flake8 checks
  ci/lint/04_install.sh
  contrib/devtools/clang-format-diff.py
  test/functional/interface_usdt_coinselection.py
  test/functional/mempool_package_rbf.py
  test/functional/mempool_sigoplimit.py
  test/functional/p2p_1p1c_network.py
  test/functional/p2p_tx_download.py
  test/functional/rpc_createmultisig.py
  test/functional/test_framework/blocktools.py
  test/functional/wallet_upgradewallet.py
  test/lint/README.md
  test/lint/lint-python.py
  test/lint/test_runner/src/main.rs
Labels: Tests

#30244 ci: parse TEST_RUNNER_EXTRA into an array
  ci/test/03_test_script.sh
  test/functional/test_runner.py
Labels: Tests

#30819 doc: fix assumeutxo design doc link
  doc/assumeutxo.md
Labels: Docs

#30743 depends: build libevent with `-D_GNU_SOURCE`
  depends/packages/libevent.mk
Labels: Needs backport (28.x)

#30772 build: Fix / improve coverage scripts
  cmake/module/ProcessConfigurations.cmake
  cmake/script/Coverage.cmake
  cmake/script/CoverageFuzz.cmake
  cmake/script/CoverageInclude.cmake.in
Labels: Build system, CI failed

#30796 test: Use std::span and std::string_view for raw data
  cmake/module/GenerateHeaders.cmake
  cmake/script/GenerateHeaderFromJson.cmake
  cmake/script/GenerateHeaderFromRaw.cmake
  src/bench/CMakeLists.txt
  src/bench/checkblock.cpp
  src/bench/data.cpp
  src/bench/data.h
  src/bench/load_external.cpp
  src/bench/readblock.cpp
  src/bench/rpc_blockchain.cpp
  src/bench/strencodings.cpp
  src/test/CMakeLists.txt
  src/test/addrman_tests.cpp
  src/test/util/json.cpp
  src/test/util/json.h
Labels: Tests

#30812 lint: Check for release note snippets in the wrong folder
  test/lint/test_runner/src/main.rs
Labels: Tests

#30821 build: work around issue with Boost <= 1.80 and Clang >= 18
  src/txmempool.h
Labels: Build system, Needs backport (28.x)

#30762 [28.x] rc backports
  depends/packages/libevent.mk
  src/test/system_tests.cpp
  test/functional/p2p_headers_sync_with_minchainwork.py
  test/functional/test_framework/test_shell.py
Labels: Backport, CI failed

#30822 cmake: scope Boost Test check to `vcpkg`
  cmake/module/AddBoostIfNeeded.cmake
Labels: Build system

#30748 test: Pin and document TEST_DIR_PATH_ELEMENT, SeedRand::FIXED_SEED
  src/test/README.md
  src/test/util/random.cpp
  src/test/util/random.h
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Labels: Tests

#30415 contrib: fix check-deps.sh to check for weak symbols
  ci/test/00_setup_env_native_tidy.sh
  ci/test/03_test_script.sh
  contrib/devtools/check-deps.sh
Labels: Scripts and tools

#30755 ci: Add missed configuration options to "Win64 native" job
  .github/workflows/ci.yml
  CMakePresets.json
  doc/build-windows-msvc.md
  src/wallet/test/fuzz/wallet_bdb_parser.cpp
Labels: Windows, Tests

#30834 test: Work around boost compilation error
  src/test/validation_chainstatemanager_tests.cpp
  src/txmempool.h
Labels: Tests, Needs backport (28.x)

#30823 cmake: add `USE_SOURCE_PERMISSIONS` to all `configure_file()` usage
  CMakeLists.txt
  cmake/module/GenerateSetupNsi.cmake
  cmake/module/Maintenance.cmake
  doc/CMakeLists.txt
  src/CMakeLists.txt
  src/qt/CMakeLists.txt
  test/CMakeLists.txt
Labels: Build system

#30824 cmake: decouple `FORTIFY_SOURCE` check from `Debug` build type
  CMakeLists.txt
Labels: Build system

#30845 Update libsecp256k1 subtree to latest master
  src/secp256k1/.github/workflows/ci.yml
  src/secp256k1/CHANGELOG.md
  src/secp256k1/CMakeLists.txt
  src/secp256k1/ci/linux-debian.Dockerfile
  src/secp256k1/configure.ac
  src/secp256k1/examples/schnorr.c
  src/secp256k1/include/secp256k1_ellswift.h
  src/secp256k1/src/modules/ellswift/tests_impl.h
  src/secp256k1/src/modules/schnorrsig/main_impl.h
  src/secp256k1/src/modules/schnorrsig/tests_impl.h
  src/secp256k1/src/testrand_impl.h
Labels: DrahtBot Guix build requested

#30817 test: Add coverage for dumptxoutset failure robustness
  src/rpc/blockchain.cpp
  test/functional/rpc_dumptxoutset.py
Labels: Tests, CI failed

#30509 multiprocess: Add -ipcbind option to bitcoin-node
  depends/packages/native_libmultiprocess.mk
  src/bitcoind.cpp
  src/common/args.cpp
  src/common/args.h
  src/init.cpp
  src/init.h
  src/init/bitcoin-gui.cpp
  src/init/bitcoin-node.cpp
  src/interfaces/init.h
  src/interfaces/ipc.h
  src/ipc/capnp/protocol.cpp
  src/ipc/interfaces.cpp
  src/ipc/process.cpp
  src/ipc/process.h
  src/ipc/protocol.h
  src/qt/bitcoin.cpp
  src/test/CMakeLists.txt
  src/test/fuzz/system.cpp
  src/test/ipc_test.cpp
  src/test/ipc_test.h
  src/test/ipc_tests.cpp
Labels: CI failed

#30791 build: Use correct variable name
  src/CMakeLists.txt
Labels: Build system

#30065 init: fixes file descriptor accounting
  src/init.cpp
Labels: UTXO Db and Indexes, P2P

#30773 Remove unsafe uint256S() and test-only uint160S()
  src/rpc/util.cpp
  src/test/arith_uint256_tests.cpp
  src/test/fuzz/hex.cpp
  src/test/fuzz/integer.cpp
  src/test/uint256_tests.cpp
  src/uint256.h
Labels: CI failed

#30805 test: Add explicit onion bind to p2p_permissions
  test/functional/p2p_permissions.py
Labels: Tests

#30870 docs: updated developer notes for --with-sanitizers to -DSANITIZERS
  doc/developer-notes.md
Labels: Docs, CI failed

#30840 docs: Updated debug build instructions for cmake
  doc/developer-notes.md
Labels: Docs

#30807 Fix peers abruptly disconnecting from AssumeUTXO nodes during IBD
  src/init.cpp
  src/net.cpp
  src/net.h
  src/rpc/blockchain.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_assumeutxo.py
Labels: CI failed, Needs backport (28.x)

#30867 build: Fix `ENABLE_WALLET` option
  CMakeLists.txt
Labels: Build system

#30842 build: Minimize I/O operations in `GenerateHeaderFrom{Json,Raw}.cmake`
  cmake/script/GenerateHeaderFromJson.cmake
  cmake/script/GenerateHeaderFromRaw.cmake
Labels: Build system, CI failed

#30841 ci: Post CMake-migration fixes and amendments
  ci/test/03_test_script.sh
  ci/test/GetCMakeLogFiles.cmake
Labels: Tests, CI failed

#30838 build: Use CMake's default permissions in macOS `deploy` target
  cmake/module/Maintenance.cmake
Labels: Build system

#30803 build: Minor build system fixes and amendments
  CMakeLists.txt
  cmake/module/FlagsSummary.cmake
  cmake/module/TryAppendCXXFlags.cmake
  cmake/module/TryAppendLinkerFlag.cmake
  doc/build-windows.md
  src/test/CMakeLists.txt
Labels: Build system

#30835 build: Introduce "Kernel" installation component
  src/kernel/CMakeLists.txt
Labels: Build system

#30847 test: Drop no longer needed workarounds
  src/test/CMakeLists.txt
  src/test/raii_event_tests.cpp
  src/test/system_tests.cpp
Labels: Tests

#27038 security-check: test for `_FORTIFY_SOURCE` usage in release binaries
  contrib/devtools/security-check.py
  contrib/devtools/test-security-check.py
Labels: CI failed

#30871 build: Add more cmake presets
  CMakePresets.json
  doc/fuzzing.md
Labels: CI failed

#30733 test: remove unused src_dir param from run_tests after CMake migration
  test/functional/test_runner.py
Labels: Tests

#30872 test: fix exclude parsing for functional runner
  test/functional/test_runner.py
Labels: Tests

#30814 kernel: Create usable static kernel library
  libbitcoinkernel.pc.in
  src/kernel/CMakeLists.txt
Labels: Validation

#30883 build: Revert "Minimize I/O operations in `GenerateHeaderFrom{Json,Raw}.cmake`"
  cmake/script/GenerateHeaderFromJson.cmake
  cmake/script/GenerateHeaderFromRaw.cmake
Labels: Build system

#30618 test: support std::optional in BOOST_CHECK_* and increase FromUserHex fuzz feature coverage
  src/test/fuzz/hex.cpp
  src/test/uint256_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  src/test/validation_chainstatemanager_tests.cpp
Labels: Tests, CI failed

#30546 util: Use consteval checked format string in FatalErrorf, LogConnectFailure
  src/index/base.cpp
  src/index/base.h
  src/netbase.cpp
  src/test/CMakeLists.txt
  src/test/util_string_tests.cpp
  src/util/string.h
  test/lint/lint-format-strings.py
  test/lint/run-lint-format-strings.py
Labels: Utils/log/libs, CI failed

#30880 test: Wait for local services to update in feature_assumeutxo
  test/functional/feature_assumeutxo.py
Labels: Tests, Needs backport (28.x)

#30433 build: add `standard branch-protection` to hardening flags for aarch64-linux
  CMakeLists.txt
Labels: Build system, DrahtBot Guix build requested

#30890 doc: unit test runner help fixup and improvements
  src/test/README.md
Labels: Docs

#30233 refactor: move m_is_inbound out of CNodeState
  src/net_processing.cpp
Labels: Refactoring

#30892 test: Check already deactivated network stays suspended after dumptxoutset
  test/functional/rpc_dumptxoutset.py
Labels: Tests

#30896 kernel: Move background load thread to node context
  src/bitcoin-chainstate.cpp
  src/init.cpp
  src/node/context.h
  src/validation.h
Labels: Validation

#30899 qt: Translations update
  src/qt/locale/bitcoin_am.ts
  src/qt/locale/bitcoin_bn.ts
  src/qt/locale/bitcoin_de.ts
  src/qt/locale/bitcoin_de_CH.ts
  src/qt/locale/bitcoin_gl_ES.ts
  src/qt/locale/bitcoin_ru.ts
  src/qt/locale/bitcoin_sw.ts
  src/qt/locale/bitcoin_th.ts
Labels: GUI, Needs backport (28.x)

#30286 cluster mempool: optimized candidate search
  src/bench/cluster_linearize.cpp
  src/cluster_linearize.h
  src/test/fuzz/cluster_linearize.cpp
  src/test/util/cluster_linearize.h
Labels: Mempool

#30661 fuzz: Test headers pre-sync through p2p
  CMakeLists.txt
  src/net_processing.cpp
  src/net_processing.h
  src/pow.cpp
  src/pow.h
  src/test/fuzz/CMakeLists.txt
  src/test/fuzz/integer.cpp
  src/test/fuzz/p2p_headers_presync.cpp
  src/test/fuzz/pow.cpp
Labels: Tests

#30868 refactor: add clang-tidy `modernize-use-starts-ends-with` check
  src/.clang-tidy
  src/httpserver.cpp
  src/init.cpp
  src/netbase.cpp
Labels: Refactoring

#29436 net: call `Select` with reachable networks in `ThreadOpenConnections`
  src/addrman.cpp
  src/addrman.h
  src/addrman_impl.h
  src/bench/addrman.cpp
  src/net.cpp
  src/netbase.h
  src/test/addrman_tests.cpp
  src/test/fuzz/addrman.cpp
Labels: P2P

#30884 streams: cache file position within AutoFile
  src/addrdb.cpp
  src/bench/streams_findbyte.cpp
  src/index/blockfilterindex.cpp
  src/index/txindex.cpp
  src/node/blockstorage.cpp
  src/node/mempool_persist.cpp
  src/node/utxo_snapshot.cpp
  src/streams.cpp
  src/streams.h
  src/test/fuzz/autofile.cpp
  src/test/streams_tests.cpp
  src/util/asmap.cpp
Labels: Needs backport (28.x)

#30438 guix: (explicitly) build Linux GCC with `--enable-cet`
  contrib/guix/manifest.scm
Labels: Build system

#30913 ci: Use macos-14 GHA image (x86_64-apple-darwin22.6.0 -> arm64-apple-darwin23.6.0)
  .github/workflows/ci.yml
  ci/test/00_setup_env_mac_native.sh
Labels: Tests

#30902 Remove Autotools packages from CI (and depends doc)
  .github/workflows/ci.yml
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_i686_centos.sh
  contrib/devtools/check-deps.sh
  depends/README.md
Labels: Docs, Tests

#30888 build: optimize .h generation in GenerateHeaderFrom{Raw,Json}.cmake
  cmake/script/GenerateHeaderFromJson.cmake
  cmake/script/GenerateHeaderFromRaw.cmake
Labels: Build system

#30827 [28.x] Further backports and rc2
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  src/addrdb.cpp
  src/bench/streams_findbyte.cpp
  src/index/blockfilterindex.cpp
  src/index/txindex.cpp
  src/init.cpp
  src/net.cpp
  src/net.h
  src/node/blockstorage.cpp
  src/node/mempool_persist.cpp
  src/node/utxo_snapshot.cpp
  src/qt/locale/bitcoin_am.ts
  src/qt/locale/bitcoin_bn.ts
  src/qt/locale/bitcoin_de.ts
  src/qt/locale/bitcoin_de_CH.ts
  src/qt/locale/bitcoin_gl_ES.ts
  src/qt/locale/bitcoin_ru.ts
  src/qt/locale/bitcoin_sw.ts
  src/qt/locale/bitcoin_th.ts
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
  src/rpc/blockchain.cpp
  src/streams.cpp
  src/streams.h
  src/test/fuzz/autofile.cpp
  src/test/streams_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/util/asmap.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_assumeutxo.py
Labels: Backport

#30908 doc: remove Eclipser fuzzing documentation
  doc/fuzzing.md
Labels: Docs

#30639 ci: Use clang-19 in msan tasks
  ci/test/01_base_install.sh
Labels: Tests

#30875 doc: fixed inconsistencies in documentation between autotools to cmake change
  contrib/devtools/test_deterministic_coverage.sh
  doc/design/libraries.md
  doc/developer-notes.md
  doc/multiprocess.md
  doc/translation_process.md
  doc/translation_strings_policy.md
  doc/zmq.md
  share/qt/extract_strings_qt.py
  src/qt/README.md
  src/util/fs_helpers.cpp
  test/functional/test_runner.py
  test/lint/lint-spelling.py
  test/util/test_runner.py
Labels: Docs

#30869 ci: Print inner env, Make ccache config more flexible
  .cirrus.yml
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_mac_native.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/02_run_container.sh
  ci/test/03_test_script.sh
Labels: Tests

#30889 log: Use ConstevalFormatString
  src/logging.cpp
  src/logging.h
  src/test/logging_tests.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.h
  test/lint/lint-format-strings.py
  test/lint/run-lint-format-strings.py
Labels: Refactoring, Utils/log/libs

#30856 build: drop obj/ subdirectory for generated build.h
  src/CMakeLists.txt
  src/clientversion.cpp
Labels: Build system

#30561 refactor: move `SignSignature` helpers to test utils
  src/script/sign.cpp
  src/script/sign.h
  src/test/fuzz/script_sign.cpp
  src/test/multisig_tests.cpp
  src/test/script_p2sh_tests.cpp
  src/test/util/transaction_utils.cpp
  src/test/util/transaction_utils.h
Labels: Refactoring

#26990 cli: Improve error message on multiwallet cli-side commands
  src/bitcoin-cli.cpp
  src/wallet/rpc/util.cpp
  test/functional/interface_bitcoin_cli.py
  test/functional/wallet_multiwallet.py
Labels: Scripts and tools

#30568 addrman: change internal id counting to int64_t
  src/addrman.cpp
  src/addrman_impl.h
  src/test/fuzz/addrman.cpp
Labels: Refactoring, P2P

#30828 interfaces: #30697 follow ups
  src/interfaces/chain.h
  src/node/interfaces.cpp
  src/wallet/load.cpp
  src/wallet/test/wallet_tests.cpp
Labels: interfaces

#30794 interpreter: use int32_t instead of int type for risczero compile
  src/script/interpreter.cpp
Labels: Consensus

#30826 fuzz: reduce number of iterations in `crypto_aeadchacha20poly1305` target
  src/test/fuzz/crypto_chacha20poly1305.cpp
Labels: Tests

#30918 fuzz: Add check in `p2p_headers_presync` that chain work never exceeds minimum work
  src/net_processing.h
  src/test/fuzz/p2p_headers_presync.cpp
Labels: Tests

#30765 refactor: Allow `CScript`'s `operator<<` to accept spans, not just vectors
  src/kernel/chainparams.cpp
  src/prevector.h
  src/script/script.h
  src/test/miner_tests.cpp
  src/test/script_tests.cpp
  src/test/transaction_tests.cpp
  src/wallet/test/ismine_tests.cpp
Labels: Refactoring

#30952 test: Use shell builtins in run_command test case
  src/test/system_tests.cpp
Labels: Tests, Needs backport (28.x)

#30963 doc: Adjust links in OSS-Fuzz section
  doc/fuzzing.md
Labels: Docs

#30946 doc: correct the zmq automatic build info
  doc/zmq.md
Labels: Docs

#30962 validation: Disable CheckForkWarningConditions for background chainstate
  src/validation.cpp
Labels: Validation, Needs backport (28.x)

#30961 ci: add `LLVM_SYMBOLIZER_PATH` to Valgrind fuzz job
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
Labels: Tests

#30973 doc: fix `loadtxoutset` example
  src/rpc/blockchain.cpp
Labels: Docs

#30976 depends, doc: Drop package-specific note about CMake
  depends/README.md
Labels: Docs

#30948 test: Add missing sync_mempools() to fill_mempool()
  test/functional/mempool_package_rbf.py
  test/functional/p2p_1p1c_network.py
  test/functional/p2p_tx_download.py
  test/functional/test_framework/mempool_util.py
Labels: Tests

#30981 ci: add timestamps to cirrus jobs
  .cirrus.yml
Labels: Tests

#30979 contrib: Update asmap link in seeds readme
  contrib/seeds/README.md
Labels: Scripts and tools

#30940 depends: Fix build with `MULTIPROCESS=1` in Guix environment
  depends/packages/capnp.mk
  depends/packages/libmultiprocess.mk
  depends/toolchain.cmake.in
Labels: Build system

#30974 ci: Inline PACKAGE_MANAGER_INSTALL
  .cirrus.yml
Labels: Tests

#30921 test: generalize HasReason and use it in FailFmtWithError
  src/test/util/setup_common.h
  src/test/util_string_tests.cpp
Labels: Tests

#30879 test: re-bucket long-running tests
  test/functional/test_runner.py
Labels: Tests

#30989 guix: Drop no longer needed `PATH` modification
  contrib/guix/libexec/build.sh
Labels: Build system

#30043 net: Replace libnatpmp with built-in PCP+NATPMP implementation
  .github/workflows/ci.yml
  CMakeLists.txt
  CMakePresets.json
  ci/test/00_setup_env_mac_native.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_previous_releases.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_valgrind.sh
  cmake/module/FindNATPMP.cmake
  depends/Makefile
  depends/README.md
  depends/packages/libnatpmp.mk
  depends/packages/packages.mk
  depends/toolchain.cmake.in
  doc/build-freebsd.md
  doc/build-openbsd.md
  doc/build-osx.md
  doc/build-unix.md
  doc/dependencies.md
  src/CMakeLists.txt
  src/crypto/common.h
  src/init.cpp
  src/interfaces/node.h
  src/mapport.cpp
  src/mapport.h
  src/net.cpp
  src/net.h
  src/node/interfaces.cpp
  src/qt/CMakeLists.txt
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/test/fuzz/crypto_common.cpp
  src/util/CMakeLists.txt
  src/util/netif.cpp
  src/util/netif.h
  src/util/pcp.cpp
  src/util/pcp.h
Labels: P2P, Needs release note

#30718 test: switch MiniWallet padding unit from weight to vsize
  test/functional/feature_blocksxor.py
  test/functional/feature_framework_miniwallet.py
  test/functional/mempool_limit.py
  test/functional/mempool_package_limits.py
  test/functional/mempool_truc.py
  test/functional/test_framework/wallet.py
Labels: Tests
