Repository bitcoin/bitcoin, pull requests merged in 2024-12, with the labels that each got.

#31399 ci, macos: Install `pkgconf` Homebrew's package
  .github/workflows/ci.yml
Labels: macOS, Tests

#31390 Remove `src/config` directory
  src/config/.empty
Labels: Build system

#31402 doc: correct libfuzzer-nosan preset flag
  doc/fuzzing.md
Labels: Docs

#31357 cmake: Improve build script correctness
  src/CMakeLists.txt
Labels: Build system

#31395 build: Set shared linker flags in toolchain file
  depends/toolchain.cmake.in
Labels: Build system

#31383 test: Add missing node.setmocktime(self.mocktime) to p2p_ibd_stalling.py
  test/functional/p2p_ibd_stalling.py
Labels: Tests

#31386 doc: Use more precise anchor links to Xcode SDK extraction
  contrib/guix/README.md
  doc/release-process.md
Labels: Docs

#31396 test: simple reordering to reduce run time
  test/functional/test_runner.py
Labels: Tests

#31387 doc: Use more precise anchor link to codesigning docs
  contrib/guix/README.md
Labels: Docs

#30991 test: enable running independent functional test sub-tests
  test/functional/test_framework/test_framework.py
Labels: Tests

#31112 Improve parallel script validation error debug logging
  src/bench/checkqueue.cpp
  src/checkqueue.h
  src/test/checkqueue_tests.cpp
  src/test/fuzz/checkqueue.cpp
  src/test/miner_tests.cpp
  src/test/script_p2sh_tests.cpp
  src/test/transaction_tests.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_block.py
  test/functional/feature_cltv.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dersig.py
  test/functional/feature_nulldummy.py
  test/functional/feature_taproot.py
  test/functional/p2p_segwit.py
Labels: Validation

#31175 rpc: Remove submitblock pre-checks
  doc/release-notes-31175.md
  src/bitcoin-chainstate.cpp
  src/rpc/mining.cpp
  src/validation.cpp
  test/functional/mining_basic.py
Labels: RPC/REST/ZMQ

#31096 Package validation: accept packages of size 1
  doc/policy/packages.md
  src/rpc/mempool.cpp
  src/test/txpackage_tests.cpp
  src/validation.cpp
  test/functional/rpc_packages.py
Labels: TX fees and policy, Mempool

#31313 refactor: Clamp worker threads in ChainstateManager constructor
  src/checkqueue.h
  src/node/chainstatemanager_args.cpp
  src/node/chainstatemanager_args.h
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#31391 util: Drop boost posix_time in ParseISO8601DateTime
  src/test/fuzz/CMakeLists.txt
  src/test/fuzz/parse_iso8601.cpp
  src/test/fuzz/util.cpp
  src/test/util_tests.cpp
  src/util/time.cpp
  src/util/time.h
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/util.cpp
  src/wallet/rpc/util.h
  src/wallet/test/CMakeLists.txt
  src/wallet/test/fuzz/CMakeLists.txt
  src/wallet/test/rpc_util_tests.cpp
  test/lint/lint-includes.py
  vcpkg.json
Labels: Utils/log/libs

#31104 [28.x] Backports & 28.1rc1
  build_msvc/fuzz/fuzz.vcxproj
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  configure.ac
  contrib/devtools/gen-bitcoin-conf.sh
  depends/hosts/mingw32.mk
  doc/bitcoin-conf.md
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  doc/release-notes/release-notes-28.0.md
  src/addrman.cpp
  src/addrman_impl.h
  src/key_io.cpp
  src/script/miniscript.cpp
  src/script/miniscript.h
  src/test/fuzz/addrman.cpp
  src/test/fuzz/miniscript.cpp
  src/test/miniscript_tests.cpp
  test/functional/feature_fee_estimation.py
Labels: Backport

#31295 refactor: Prepare compile-time check of bilingual format strings
  src/clientversion.cpp
  src/test/util_string_tests.cpp
  src/util/strencodings.h
  src/util/string.h
  src/util/translation.h
  src/wallet/feebumper.cpp
  src/wallet/salvage.cpp
  src/wallet/wallet.cpp
  test/lint/run-lint-format-strings.py
Labels: Refactoring

#31419 test: fix MIN macro redefinition
  test/functional/interface_usdt_net.py
Labels: Tests, Needs backport (28.x)

#31212 util: Improve documentation and negation of args
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/bitcoin-util.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
  src/common/config.cpp
  src/common/init.cpp
  src/httprpc.cpp
  src/init.cpp
  src/init/common.cpp
  src/qt/bitcoin.cpp
  src/rpc/request.cpp
  test/functional/combine_logs.py
  test/functional/feature_config_args.py
  test/functional/interface_bitcoin_cli.py
  test/functional/rpc_users.py
Labels: Utils/log/libs

#30906 refactor: prohibit direct flags access in CCoinsCacheEntry and remove invalid tests
  src/coins.cpp
  src/coins.h
  src/test/coins_tests.cpp
  src/test/coinscachepair_tests.cpp
  src/test/fuzz/coins_view.cpp
Labels: UTXO Db and Indexes

#30445 test: addrman: tried 3 times and never a success so `isTerrible=true`
  src/test/addrman_tests.cpp
Labels: Tests

#31414 test: orphan parent is re-requested from 2nd peer
  test/functional/p2p_orphan_handling.py
Labels: Tests

#31427 lint: bump MLC to v0.19.0
  ci/lint/04_install.sh
  test/lint/test_runner/src/main.rs
Labels: Tests

#31408 test: Avoid logging error when logging error
  test/functional/test_framework/p2p.py
  test/lint/test_runner/src/main.rs
Labels: Tests

#31248 test: Rework wallet_migration.py to use previous releases
  src/wallet/wallet.cpp
  test/functional/wallet_migration.py
  test/get_previous_releases.py
Labels: Tests

#31431 util: use explicit cast in MultiIntBitSet::Fill()
  src/util/bitset.h
Labels: Utils/log/libs

#31231 cmake: Fix `IF_CHECK_PASSED` option handling
  cmake/module/TryAppendCXXFlags.cmake
  cmake/module/TryAppendLinkerFlag.cmake
Labels: Bug, Build system

#31417 test: Avoid F541 (f-string without any placeholders)
  contrib/tracing/log_raw_p2p_msgs.py
  test/functional/feature_anchors.py
  test/functional/feature_assumeutxo.py
  test/functional/feature_config_args.py
  test/functional/feature_dersig.py
  test/functional/feature_framework_miniwallet.py
  test/functional/feature_loadblock.py
  test/functional/interface_rest.py
  test/functional/interface_usdt_utxocache.py
  test/functional/mempool_datacarrier.py
  test/functional/mempool_truc.py
  test/functional/p2p_handshake.py
  test/functional/rpc_dumptxoutset.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/socks5.py
  test/functional/wallet_backup.py
  test/functional/wallet_fast_rescan.py
  test/functional/wallet_multisig_descriptor_psbt.py
  test/lint/test_runner/src/main.rs
Labels: Tests

#31406 test: fix `test_invalid_tx_in_compactblock` in `p2p_compactblocks`
  test/functional/p2p_compactblocks.py
Labels: Tests

#31072 refactor: Clean up messy strformat and bilingual_str usages
  src/httpserver.cpp
  src/index/base.cpp
  src/init.cpp
  src/init/common.cpp
  src/net.cpp
  src/node/chainstatemanager_args.cpp
  src/node/interface_ui.cpp
  src/node/mempool_args.cpp
  src/qt/bitcoin.cpp
  src/test/result_tests.cpp
  src/validation.cpp
  src/wallet/feebumper.cpp
  src/wallet/salvage.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#31306 ci: Update Clang in "tidy" job
  ci/test/00_setup_env_native_tidy.sh
  contrib/devtools/iwyu/bitcoin.core.imp
  src/core_read.cpp
  src/test/result_tests.cpp
  src/torcontrol.cpp
  src/wallet/walletdb.cpp
Labels: Refactoring, Tests

#31433 test: #31212 follow up (spelling, refactor)
  test/functional/combine_logs.py
  test/functional/feature_config_args.py
Labels: Tests

#31374 wallet: fix crash during watch-only wallet migration
  src/wallet/wallet.cpp
  test/functional/wallet_migration.py
Labels: Wallet

#31448 fuzz: add cstdlib to FuzzedDataProvider
  src/test/fuzz/FuzzedDataProvider.h
Labels: Tests

#29982 test: Fix intermittent issue in wallet_backwards_compatibility.py
  test/functional/wallet_backwards_compatibility.py
Labels: Tests

#31343 test: avoid internet traffic in rpc_net.py
  test/functional/rpc_net.py
Labels: Tests

#30933 test: Prove+document ConstevalFormatString/tinyformat parity
  src/test/util_string_tests.cpp
  test/lint/run-lint-format-strings.py
Labels: Tests

#31450 guix: disable gcov in base-linux-gcc
  contrib/guix/manifest.scm
Labels: Build system

#31478 docs: remove repetitive words
  src/rpc/blockchain.cpp
Labels: Docs

#31461 depends: add `-g` to *BSD_debug flags
  depends/hosts/freebsd.mk
  depends/hosts/netbsd.mk
  depends/hosts/openbsd.mk
Labels: Build system

#31479 lint: Disable signature output in git log
  test/lint/lint-git-commit-check.py
Labels: Tests

#31480 refactor: Fix "modernize-use-starts-ends-with" clang-tidy warning
  src/ipc/process.cpp
Labels: Refactoring

#31452 wallet: Migrate non-HD keys to combo() descriptor
  src/wallet/scriptpubkeyman.cpp
  test/functional/wallet_migration.py
Labels: Wallet

#31484 depends: update capnproto to 1.0.2
  depends/packages/native_capnp.mk
Labels: Build system

#31477 ci: Bump centos gcc to 12
  ci/test/00_setup_env_i686_centos.sh
  ci/test/03_test_script.sh
Labels: Tests

#31223 net, init: derive default onion port if a user specified a -port
  doc/release-notes-31223.md
  src/chainparamsbase.cpp
  src/chainparamsbase.h
  src/init.cpp
  src/torcontrol.cpp
  src/torcontrol.h
  test/functional/feature_port.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: P2P, Needs backport (28.x)

#31498 depends: Ignore prefix directory on OpenBSD
  depends/.gitignore
Labels: Build system

#31503 cmake: Link `bitcoin_consensus` as a library
  src/test/CMakeLists.txt
Labels: Build system, Tests

#31502 depends: Fix `CXXFLAGS` on NetBSD
  depends/hosts/netbsd.mk
Labels: Build system

#31458 build: use `-mbig-obj` for Windows debug builds
  CMakeLists.txt
Labels: Build system

#31489 fuzz: Fix test_runner error reporting
  test/fuzz/test_runner.py
Labels: Tests

#31197 refactor: mining interface 30955 followups
  src/consensus/merkle.cpp
  src/consensus/merkle.h
  src/interfaces/mining.h
  src/node/interfaces.cpp
  src/test/merkle_tests.cpp
Labels: Refactoring

#31486 fuzz: Abort when using global PRNG without re-seed
  src/random.cpp
  src/test/fuzz/addrman.cpp
  src/test/fuzz/banman.cpp
  src/test/fuzz/blockfilter.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/golomb_rice.cpp
  src/test/fuzz/headerssync.cpp
  src/test/fuzz/i2p.cpp
  src/test/fuzz/key.cpp
  src/test/fuzz/mini_miner.cpp
  src/test/fuzz/netaddress.cpp
  src/test/fuzz/p2p_handshake.cpp
  src/test/fuzz/p2p_headers_presync.cpp
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/partially_downloaded_block.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/psbt.cpp
  src/test/fuzz/rbf.cpp
  src/test/fuzz/rolling_bloom_filter.cpp
  src/test/fuzz/rpc.cpp
  src/test/fuzz/script_sigcache.cpp
  src/test/fuzz/secp256k1_ecdsa_signature_parse_der_lax.cpp
  src/test/fuzz/transaction.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/fuzz/txdownloadman.cpp
  src/test/fuzz/util/CMakeLists.txt
  src/test/fuzz/util/check_globals.cpp
  src/test/fuzz/util/check_globals.h
  src/test/fuzz/utxo_snapshot.cpp
  src/test/fuzz/utxo_total_supply.cpp
  src/test/fuzz/validation_load_mempool.cpp
  src/test/util/random.cpp
  src/test/util/random.h
  src/test/util/setup_common.cpp
  src/wallet/test/fuzz/coinselection.cpp
  src/wallet/test/fuzz/notifications.cpp
  src/wallet/test/fuzz/scriptpubkeyman.cpp
Labels: Tests

#31469 [28.x] 28.1rc2 backports
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  share/examples/bitcoin.conf
  src/chainparamsbase.cpp
  src/chainparamsbase.h
  src/init.cpp
  src/test/fuzz/FuzzedDataProvider.h
  src/torcontrol.cpp
  src/torcontrol.h
  src/util/bitset.h
  test/functional/feature_port.py
  test/functional/interface_usdt_net.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: Backport

#31493 refactor: Use immediate lambda to work around GCC bug 117966
  src/pubkey.cpp
Labels: Refactoring

#31393 refactor: Move GuessVerificationProgress into ChainstateManager
  src/init.cpp
  src/node/interfaces.cpp
  src/rpc/blockchain.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#31325 Make m_tip_block std::optional
  src/init.cpp
  src/node/interfaces.cpp
  src/node/kernel_notifications.cpp
  src/node/kernel_notifications.h
  src/test/validation_chainstate_tests.cpp
Labels: Validation

#31544 cmake: Remove unused `BUILD_TESTING` variable from "dev-mode" preset
  CMakePresets.json
Labels: Build system

#31535 doc: Install `py3-zmq` port on OpenBSD for `interface_zmq.py`
  doc/build-openbsd.md
Labels: Docs

#28521 net, net_processing: additional and consistent disconnect logging
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  test/functional/feature_maxuploadtarget.py
  test/functional/p2p_addrv2_relay.py
  test/functional/p2p_leak.py
  test/functional/p2p_sendtxrcncl.py
  test/functional/p2p_timeouts.py
  test/functional/p2p_v2_misbehaving.py
Labels: P2P

#31534 coins: warn on shutdown for big UTXO set flushes
  src/validation.cpp
Labels: UTXO Db and Indexes

#31531 rpc: Add signet_challenge field to getblockchaininfo and getmininginfo
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  test/functional/feature_signet.py
Labels: RPC/REST/ZMQ

#31215 rpc: increase the defaults for -rpcthreads and -rpcworkqueue
  src/httpserver.h
  src/init.cpp
Labels: RPC/REST/ZMQ

#31540 refactor: std::span compat fixes
  src/base58.cpp
  src/script/miniscript.h
  src/script/solver.h
  src/serialize.h
  src/span.h
  src/streams.h
  src/test/script_tests.cpp
  src/test/serialize_tests.cpp
  src/test/util/net.h
  src/util/hasher.h
  src/wallet/test/db_tests.cpp
Labels: Refactoring

#31251 test: report detailed msg during utf8 response decoding error
  test/functional/test_framework/authproxy.py
Labels: Tests

#31403 test: Call generate RPCs through test framework only
  test/functional/mempool_ephemeral_dust.py
  test/functional/rpc_getdescriptoractivity.py
  test/functional/wallet_migration.py
Labels: Refactoring, Tests

#31468 test: Avoid intermittent error in assert_equal(pruneheight_new, 248)
  test/functional/feature_index_prune.py
Labels: Tests

#31537 qa: Limit `-maxconnections` in tests
  test/functional/test_framework/util.py
Labels: Tests

#31556 validation: Send correct notification during snapshot completion
  src/validation.cpp
  test/functional/wallet_assumeutxo.py
Labels: Validation

#31563 rpc: Extend scope of validation mutex in generateblock
  src/rpc/mining.cpp
  test/functional/rpc_generate.py
Labels: RPC/REST/ZMQ

#31570 test: descriptor: fix test for `MaxSatisfactionWeight`
  src/test/descriptor_tests.cpp
Labels: Tests
