Repository bitcoin/bitcoin, pull requests merged in 2024-06, with the labels that each got.

#30186 fuzz: increase `txorphan` harness stability
  src/txorphanage.cpp
  src/txorphanage.h
Labels: Tests

#30192 build: remove `--enable-lcov-branch-coverage`
  configure.ac
  doc/developer-notes.md
  doc/release-notes-30192.md
Labels: Build system, Needs CMake port

#30216 build: Fix building `fuzz` binary on on SunOS / illumos
  src/Makefile.test.include
Labels: Build system, Needs backport (27.x), Needs CMake port

#30215 doc: JSON-RPC request Content-Type is application/json
  doc/JSON-RPC-interface.md
  src/rpc/util.cpp
  src/test/rpc_tests.cpp
Labels: Docs

#28366 Fix waste calculation in SelectionResult
  src/bench/coin_selection.cpp
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/fuzz/coinselection.cpp
Labels: Wallet

#30154 doc: update mention of generating bitcoin.conf
  doc/init.md
Labels: Docs

#29428 test: Assumeutxo: snapshots with less work should not be loaded
  test/functional/feature_assumeutxo.py
Labels: Tests

#29997 rpc: Remove index-based Arg accessor
  src/rpc/mempool.cpp
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/test/rpc_tests.cpp
  src/wallet/rpc/wallet.cpp
Labels: RPC/REST/ZMQ

#30047 refactor: Model the bech32 charlimit as an Enum
  src/bech32.cpp
  src/bech32.h
Labels: Refactoring

#28074 fuzz: wallet, add target for `Crypter`
  src/Makefile.test.include
  src/wallet/test/fuzz/crypter.cpp
Labels: Tests

#28307 rpc, wallet: fix incorrect segwit redeem script size limit
  src/outputtype.cpp
  src/outputtype.h
  src/rpc/output_script.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rawtransaction_util.cpp
  src/rpc/rawtransaction_util.h
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpc/addresses.cpp
  test/functional/rpc_createmultisig.py
  test/functional/test_framework/test_framework.py
Labels: Wallet

#30185 guix: show `*_FLAGS` variables in pre-build output
  contrib/guix/guix-build
Labels: Build system

#30236 build: re-enable deprecated warning copy
  configure.ac
Labels: Build system, Needs CMake port

#30228 build: no-longer allow GCC-10 in C++20 check
  build-aux/m4/ax_cxx_compile_stdcxx.m4
Labels: Build system

#29401 test: Remove struct.pack from almost all places
  contrib/seeds/generate-seeds.py
  contrib/signet/miner
  test/functional/feature_addrman.py
  test/functional/feature_block.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_segwit.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/script.py
  test/functional/wallet_balance.py
Labels: Tests

#30161 util: add VecDeque
  src/Makefile.am
  src/Makefile.test.include
  src/test/fuzz/vecdeque.cpp
  src/util/vecdeque.h
Labels: Utils/log/libs, Needs CMake port

#29496 policy: bump TX_MAX_STANDARD_VERSION to 3
  doc/bips.md
  src/policy/policy.h
  src/policy/v3_policy.cpp
  src/policy/v3_policy.h
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/txvalidation_tests.cpp
  src/test/util/txmempool.cpp
  src/validation.cpp
  test/functional/mempool_accept.py
  test/functional/mempool_accept_v3.py
  test/functional/wallet_create_tx.py
Labels: TX fees and policy

#30231 guix: bump time-machine to f0bb724211872cd6158fce6162e0b8c73efed126
  contrib/guix/libexec/prelude.bash
Labels: Build system

#30253 refactor: performance-for-range-copy in psbt.h
  src/psbt.h
Labels: Refactoring

#30235 build: warn on self-assignment
  configure.ac
  src/test/fuzz/muhash.cpp
  src/test/uint256_tests.cpp
Labels: Build system, Needs CMake port

#30242 ci: Native Windows CI job cleanup
  .github/workflows/ci.yml
Labels: Windows, Tests

#30227 doc: fixup deps doc after #30198
  doc/dependencies.md
Labels: Docs

#30132 indexes: Don't wipe indexes again when continuing a prior reindex
  src/bitcoin-chainstate.cpp
  src/init.cpp
  src/kernel/blockmanager_opts.h
  src/node/blockmanager_args.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/node/chainstate.cpp
  src/node/chainstate.h
  src/test/util/setup_common.cpp
  src/validation.cpp
  test/functional/feature_reindex.py
  test/functional/test_framework/test_node.py
Labels: UTXO Db and Indexes

#30162 test: MiniWallet: respect passed feerate for padded txs (using `target_weight`)
  test/functional/feature_framework_miniwallet.py
  test/functional/mempool_limit.py
  test/functional/test_framework/wallet.py
  test/functional/test_runner.py
Labels: Tests

#30252 test: Remove redundant verack check
  test/functional/test_framework/test_framework.py
Labels: Tests

#30222 [27.1] Finalize
  configure.ac
  depends/packages/boost.mk
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  src/Makefile.test.include
Labels: Backport

#30264 test: add coverage for errors for `combinerawtransaction`
  test/functional/rpc_rawtransaction.py
Labels: Tests

#30201 depends: remove `FORCE_USE_SYSTEM_CLANG`
  ci/test/00_setup_env_mac_cross.sh
  contrib/devtools/symbol-check.py
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  depends/Makefile
  depends/README.md
  depends/builders/darwin.mk
  depends/funcs.mk
  depends/hosts/darwin.mk
  depends/packages/native_llvm.mk
  depends/packages/packages.mk
Labels: Build system

#29521 cli: Detect port errors in rpcconnect and rpcport
  src/bitcoin-cli.cpp
  test/functional/interface_bitcoin_cli.py
Labels: Scripts and tools

#28339 validation: improve performance of CheckBlockIndex
  src/Makefile.bench.include
  src/bench/checkblockindex.cpp
  src/init.cpp
  src/kernel/chainstatemanager_opts.h
  src/node/chainstatemanager_args.cpp
  src/test/util/setup_common.cpp
  src/validation.cpp
  src/validation.h
Labels: Validation

#30160 util: add BitSet
  src/Makefile.am
  src/Makefile.test.include
  src/test/fuzz/bitset.cpp
  src/util/bitset.h
  test/sanitizer_suppressions/ubsan
Labels: Utils/log/libs, Needs CMake port

#30261 doc: add release note for 29091 and 29165
  doc/release-notes-29091-29165.md
Labels: Docs

#29325 consensus: Store transaction nVersion as uint32_t
  contrib/signet/miner
  doc/policy/mempool-replacements.md
  src/bitcoin-tx.cpp
  src/compressor.h
  src/consensus/tx_verify.cpp
  src/core_write.cpp
  src/kernel/chainparams.cpp
  src/policy/policy.cpp
  src/policy/policy.h
  src/policy/v3_policy.cpp
  src/policy/v3_policy.h
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/rpc/rawtransaction.cpp
  src/script/interpreter.cpp
  src/script/miniscript.h
  src/signet.cpp
  src/test/data/tx_invalid.json
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/fuzz/util.cpp
  src/test/hash_tests.cpp
  src/test/miner_tests.cpp
  src/test/sighash_tests.cpp
  src/test/sigopcount_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txpackage_tests.cpp
  src/test/txvalidation_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/util/transaction_utils.cpp
  src/test/util/txmempool.cpp
  src/validation.cpp
  src/wallet/spend.cpp
  test/functional/feature_bip68_sequence.py
  test/functional/feature_csv_activation.py
  test/functional/feature_taproot.py
  test/functional/mempool_accept.py
  test/functional/p2p_mutated_blocks.py
  test/functional/p2p_segwit.py
  test/functional/rpc_packages.py
  test/functional/rpc_rawtransaction.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/script.py
  test/functional/test_framework/wallet.py
  test/functional/wallet_create_tx.py
Labels: Consensus

#30268 util: add missing VecDeque include
  src/util/vecdeque.h
Labels: Utils/log/libs

#30260 [26.x] backports and final changes for 26.2rc1
  configure.ac
  depends/packages/miniupnpc.mk
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  src/qt/locale/bitcoin_az.ts
  src/qt/locale/bitcoin_az@latin.ts
  src/qt/locale/bitcoin_be.ts
  src/qt/locale/bitcoin_bg.ts
  src/qt/locale/bitcoin_ca.ts
  src/qt/locale/bitcoin_cmn.ts
  src/qt/locale/bitcoin_cs.ts
  src/qt/locale/bitcoin_da.ts
  src/qt/locale/bitcoin_de_CH.ts
  src/qt/locale/bitcoin_el.ts
  src/qt/locale/bitcoin_eo.ts
  src/qt/locale/bitcoin_es.ts
  src/qt/locale/bitcoin_es_CL.ts
  src/qt/locale/bitcoin_es_CO.ts
  src/qt/locale/bitcoin_es_DO.ts
  src/qt/locale/bitcoin_es_MX.ts
  src/qt/locale/bitcoin_es_SV.ts
  src/qt/locale/bitcoin_es_VE.ts
  src/qt/locale/bitcoin_fi.ts
  src/qt/locale/bitcoin_fil.ts
  src/qt/locale/bitcoin_fo.ts
  src/qt/locale/bitcoin_ga.ts
  src/qt/locale/bitcoin_ga_IE.ts
  src/qt/locale/bitcoin_gl.ts
  src/qt/locale/bitcoin_gl_ES.ts
  src/qt/locale/bitcoin_gu.ts
  src/qt/locale/bitcoin_hak.ts
  src/qt/locale/bitcoin_id.ts
  src/qt/locale/bitcoin_it.ts
  src/qt/locale/bitcoin_ja.ts
  src/qt/locale/bitcoin_ku_IQ.ts
  src/qt/locale/bitcoin_ms.ts
  src/qt/locale/bitcoin_my.ts
  src/qt/locale/bitcoin_pl.ts
  src/qt/locale/bitcoin_pt.ts
  src/qt/locale/bitcoin_pt_BR.ts
  src/qt/locale/bitcoin_ro.ts
  src/qt/locale/bitcoin_sr.ts
  src/qt/locale/bitcoin_sr@ijekavianlatin.ts
  src/qt/locale/bitcoin_sr@latin.ts
  src/qt/locale/bitcoin_sv.ts
  src/qt/locale/bitcoin_sw.ts
  src/qt/locale/bitcoin_tl.ts
  src/qt/locale/bitcoin_tr.ts
  src/qt/locale/bitcoin_ur.ts
  src/qt/locale/bitcoin_yue.ts
  src/qt/locale/bitcoin_zh-Hans.ts
  src/qt/locale/bitcoin_zh-Hant.ts
  src/qt/locale/bitcoin_zh.ts
  src/qt/locale/bitcoin_zh_HK.ts
  src/qt/locale/bitcoin_zh_TW.ts
Labels: Backport, CI failed

#30230 fuzz: add I2P harness
  src/Makefile.test.include
  src/test/fuzz/i2p.cpp
Labels: Tests

#30229 fuzz: Use std::span in FuzzBufferType
  src/test/fuzz/bitset.cpp
  src/test/fuzz/fuzz.h
Labels: Tests

#30219 Lint: Support running individual lint checks
  test/lint/README.md
  test/lint/test_runner/src/main.rs
Labels: Tests

#29607 refactor: Reduce memory copying operations in bech32 encoding
  src/bech32.cpp
Labels: Refactoring

#30278 test: cover more errors for `signrawtransactionwithkey` RPC
  test/functional/rpc_signrawtransactionwithkey.py
Labels: Tests

#30276 doc: archive release notes for v27.1
  doc/release-notes/release-notes-27.1.md
Labels: Docs

#30255 log: use error level for critical log messages
  src/coins.cpp
  src/init.cpp
  src/node/interfaces.cpp
  src/node/kernel_notifications.cpp
  src/validation.cpp
Labels: Utils/log/libs

#27969 bumpfee: ignore WALLET_INCREMENTAL_RELAY_FEE when user specifies fee_rate
  src/wallet/feebumper.cpp
  test/functional/wallet_bumpfee.py
Labels: Wallet

#30291 test: write functional test results to csv
  test/functional/test_runner.py
Labels: Tests

#28312 test: fix `keys_to_multisig_script` (P2MS) helper for n/k > 16
  test/functional/feature_framework_unit_tests.py
  test/functional/rpc_createmultisig.py
  test/functional/test_framework/script_util.py
Labels: Tests

#30195 test: Added test coverage to listsinceblock rpc
  test/functional/wallet_listsinceblock.py
Labels: Tests

#30193 ci: move ASan job to GitHub Actions from Cirrus CI
  .cirrus.yml
  .github/workflows/ci.yml
  ci/test/00_setup_env_native_asan.sh
  ci/test/02_run_container.sh
Labels: Tests, Needs CMake port

#28984 Cluster size 2 package rbf
  doc/policy/packages.md
  doc/release-28984.md
  src/policy/v3_policy.cpp
  src/test/fuzz/package_eval.cpp
  src/test/txpackage_tests.cpp
  src/test/util/txmempool.cpp
  src/validation.cpp
  test/functional/mempool_package_rbf.py
  test/functional/test_runner.py
Labels: TX fees and policy

#30299 ci: remove unused bcc variable from workflow
  .github/workflows/ci.yml
Labels: Tests

#30283 upnp: fix build with miniupnpc 2.2.8
  src/mapport.cpp
Labels: Needs backport (26.x), Needs backport (27.x)

#30307 fuzz: Fix wallet_bdb_parser 32-bit unhandled fseek error
  src/wallet/test/fuzz/wallet_bdb_parser.cpp
Labels: Tests

#29575 net_processing: make any misbehavior trigger immediate discouragement
  src/banman.h
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
  test/functional/p2p_addr_relay.py
  test/functional/p2p_addrv2_relay.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_mutated_blocks.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_unrequested_blocks.py
Labels: P2P

#29862 test: Validate oversized transactions or without inputs
  src/test/transaction_tests.cpp
  test/functional/mempool_accept.py
Labels: Tests

#30316 refactor: remove extraneous lock annotations from function definitions
  src/net_processing.cpp
  src/validation.cpp
  src/wallet/rpc/util.cpp
  src/wallet/spend.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#30314 doc: clarify Cirrus self-hosted workers setup
  .cirrus.yml
Labels: Tests

#30305 [27.x] More backports
  .cirrus.yml
  .github/workflows/ci.yml
  ci/test/00_setup_env_native_asan.sh
  ci/test/02_run_container.sh
  doc/release-notes.md
  src/mapport.cpp
Labels: Backport

#30319 [26.x] upnp: fix build with miniupnpc 2.2.8
  doc/release-notes.md
  src/mapport.cpp
Labels: Backport

#30310 ci: add option for running tests without volume
  .github/workflows/ci.yml
  ci/test/00_setup_env_native_asan.sh
  ci/test/02_run_container.sh
Labels: Tests

#29876 build: add `-Wundef`
  configure.ac
  src/Makefile.am
  src/init.cpp
  src/netbase.cpp
  src/randomenv.cpp
Labels: Build system, Needs CMake port

#30308 QA: Expect PACKAGE_NAME rather than constant "Bitcoin Core"
  test/functional/feature_settings.py
Labels: Tests

#30200 Introduce Mining interface
  doc/developer-notes.md
  src/Makefile.am
  src/init.cpp
  src/init/bitcoin-node.cpp
  src/init/bitcoin-qt.cpp
  src/init/bitcoind.cpp
  src/interfaces/init.h
  src/interfaces/mining.h
  src/node/context.cpp
  src/node/context.h
  src/node/interfaces.cpp
  src/node/miner.cpp
  src/node/miner.h
  src/rpc/mining.cpp
  src/rpc/server_util.cpp
  src/rpc/server_util.h
  src/test/blockfilter_index_tests.cpp
  src/test/peerman_tests.cpp
  src/test/util/setup_common.cpp
  src/test/validation_block_tests.cpp
  test/functional/rpc_generate.py
Labels: Refactoring, Mining

#30147 contrib: Fixup verify-binaries OS platform parsing
  contrib/verify-binaries/README.md
  contrib/verify-binaries/test.py
  contrib/verify-binaries/verify.py
Labels: Scripts and tools

#30321 rest: don't copy data when sending binary response
  src/httpserver.cpp
  src/httpserver.h
  src/rest.cpp
Labels: RPC/REST/ZMQ

#30007 chainparams: Add achow101 DNS seeder
  src/kernel/chainparams.cpp
Labels: P2P

#29987 guix: build with glibc 2.31
  contrib/devtools/symbol-check.py
  contrib/devtools/test-security-check.py
  contrib/guix/manifest.scm
  contrib/guix/patches/glibc-2.27-fcommon.patch
  contrib/guix/patches/glibc-2.27-no-librt.patch
  contrib/guix/patches/glibc-2.27-powerpc-ldbrx.patch
  contrib/guix/patches/glibc-2.27-riscv64-Use-__has_include-to-include-asm-syscalls.h.patch
  contrib/guix/patches/glibc-guix-prefix.patch
  doc/dependencies.md
  doc/release-notes-29987.md
Labels: Linux/Unix, Build system

#30327 build: Drop redundant `sys/sysctl.h` header check
  configure.ac
Labels: Build system, Needs CMake port

#30309 wallet: notify when preset + automatic inputs exceed max weight
  src/wallet/spend.cpp
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_send.py
Labels: Wallet

#30334 Update libsecp256k1 subtree to latest master
  src/secp256k1/.cirrus.yml
  src/secp256k1/.github/workflows/ci.yml
  src/secp256k1/CMakeLists.txt
  src/secp256k1/README.md
  src/secp256k1/build-aux/m4/bitcoin_secp.m4
  src/secp256k1/cmake/AllTargetsCompileOptions.cmake
  src/secp256k1/cmake/CheckMemorySanitizer.cmake
  src/secp256k1/configure.ac
  src/secp256k1/src/modules/ecdh/tests_impl.h
  src/secp256k1/src/modules/ellswift/tests_impl.h
  src/secp256k1/src/modules/extrakeys/tests_impl.h
  src/secp256k1/src/modules/recovery/tests_impl.h
  src/secp256k1/src/modules/schnorrsig/tests_exhaustive_impl.h
  src/secp256k1/src/modules/schnorrsig/tests_impl.h
  src/secp256k1/src/secp256k1.c
  src/secp256k1/src/testrand.h
  src/secp256k1/src/testrand_impl.h
  src/secp256k1/src/tests.c
  src/secp256k1/src/tests_exhaustive.c
  src/secp256k1/src/testutil.h
Labels: Needs CMake port

#29833 i2p: fix and improve logs
  src/i2p.cpp
  src/i2p.h
Labels: P2P

#28167 init: Add option for rpccookie permissions (replace 26088)
  doc/init.md
  src/httprpc.cpp
  src/init.cpp
  src/rpc/request.cpp
  src/rpc/request.h
  src/util/fs_helpers.cpp
  src/util/fs_helpers.h
  test/functional/rpc_users.py
Labels: RPC/REST/ZMQ
