Repository bitcoin/bitcoin, pull requests merged in 2024-07, with the labels that each got.

#30362 test: p2p: check that connecting to ourself leads to disconnect
  test/functional/p2p_handshake.py
Labels: Tests

#30273 fuzz: FuzzedSock::Recv() don't lose bytes from MSG_PEEK read
  src/test/fuzz/util/net.cpp
  src/test/fuzz/util/net.h
Labels: Tests, CI failed

#30306 fuzz: Improve stability for txorphan and mini_miner harnesses
  src/node/mini_miner.h
  src/txorphanage.h
Labels: Tests

#30237 test: Add Compact Block Encoding test `ReceiveWithExtraTransactions` covering non-empty `extra_txn`
  src/blockencodings.cpp
  src/blockencodings.h
  src/net_processing.cpp
  src/test/blockencodings_tests.cpp
  src/test/fuzz/partially_downloaded_block.cpp
Labels: Tests

#30369 ci: Clear unused /msan/llvm-project
  ci/test/01_base_install.sh
Labels: Tests

#30344 kernel: remove mempool_persist
  src/Makefile.am
  src/init.cpp
  src/node/mempool_persist.cpp
  src/node/mempool_persist.h
  src/rpc/mempool.cpp
  src/test/fuzz/validation_load_mempool.cpp
Labels: Validation

#30339 test: add coverage for `node` field of `getaddednodeinfo` RPC
  test/functional/rpc_net.py
Labels: Tests

#30340 test: Added coverage to Block not found error using gettxoutsetinfo
  test/functional/feature_coinstatsindex.py
Labels: Tests

#30365 #27307 follow-up: update mempool conflict tests + docs
  doc/release-notes-27307.md
  src/wallet/rpc/transactions.cpp
  test/functional/wallet_conflicts.py
Labels: Wallet, CI failed

#30272 doc: use TRUC instead of v3 and add release note
  doc/release-notes-29496.md
  src/Makefile.am
  src/policy/truc_policy.cpp
  src/policy/truc_policy.h
  src/policy/v3_policy.h
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/txvalidation_tests.cpp
  src/test/util/txmempool.cpp
  src/test/util/txmempool.h
  src/validation.cpp
  test/functional/mempool_truc.py
  test/functional/test_runner.py
  test/functional/wallet_create_tx.py
Labels: Docs

#29720 rpc: Avoid getchaintxstats invalid results
  src/rpc/blockchain.cpp
  test/functional/feature_assumeutxo.py
  test/sanitizer_suppressions/ubsan
Labels: RPC/REST/ZMQ

#30380 lint: Ignore files ignored by git in the Markdown Link Checker
  ci/lint/04_install.sh
  test/lint/test_runner/src/main.rs
Labels: Tests

#30376 26.2 final changes
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#30388 validation: Check if mempool exists before size check in ActivateSnapshot
  src/validation.cpp
Labels: Validation

#29835 depends: build libevent with CMake
  depends/packages/libevent.mk
  depends/patches/libevent/cmake_fixups.patch
Labels: Build system

#30355 wallet: use LogTrace for walletdb log messages at trace level
  src/wallet/sqlite.cpp
Labels: Wallet

#30263 build: Bump clang minimum supported version to 16
  ci/test/00_setup_env_native_nowallet_libbitcoinkernel.sh
  doc/dependencies.md
  doc/release-notes-29091-29165.md
  src/httpserver.h
  src/test/fuzz/fuzz.cpp
Labels: Build system

#30141 kernel: De-globalize validation caches
  src/Makefile.am
  src/bitcoin-chainstate.cpp
  src/cuckoocache.h
  src/init.cpp
  src/kernel/chainstatemanager_opts.h
  src/kernel/validation_cache_sizes.h
  src/node/chainstatemanager_args.cpp
  src/node/validation_cache_args.cpp
  src/node/validation_cache_args.h
  src/script/sigcache.cpp
  src/script/sigcache.h
  src/test/fuzz/script_sigcache.cpp
  src/test/script_p2sh_tests.cpp
  src/test/script_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/util/setup_common.cpp
  src/validation.cpp
  src/validation.h
Labels: Validation

#30395 rpc: Use untranslated error strings in loadtxoutset
  src/rpc/blockchain.cpp
  src/validation.cpp
Labels: RPC/REST/ZMQ

#30329 fuzz: improve utxo_snapshot target
  src/kernel/chainparams.cpp
  src/test/fuzz/utxo_snapshot.cpp
  test/functional/feature_assumeutxo.py
Labels: Tests

#30396 random: add benchmarks and drop unnecessary Shuffle function
  src/Makefile.bench.include
  src/bench/crypto_hash.cpp
  src/bench/random.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/random.h
  src/rpc/rawtransaction.cpp
  src/test/fuzz/random.cpp
  src/test/miniscript_tests.cpp
  src/test/net_peer_eviction_tests.cpp
  src/test/random_tests.cpp
  src/test/txpackage_tests.cpp
  src/test/txrequest_tests.cpp
  src/wallet/coinselection.cpp
  src/wallet/spend.cpp
Labels: Utils/log/libs, Needs CMake port

#29154 tests: improve wallet multisig descriptor test and docs
  doc/descriptors.md
  test/functional/wallet_multisig_descriptor_psbt.py
Labels: Tests

#29274 Fix issues with CI on forks
  .cirrus.yml
  .github/workflows/ci.yml
Labels: Tests

#29996 Assumeutxo: bugfix on loadtxoutset with a divergent chain + test
  src/net_processing.cpp
  test/functional/feature_assumeutxo.py
Labels: Tests

#30414 [doc] archive v26.2 release notes
  doc/release-notes/release-notes-26.2.md
Labels: Docs

#26596 wallet: Migrate legacy wallets to descriptor wallets without requiring BDB
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/functional/wallet_migration.py
Labels: Wallet

#30397 refactor: Use designated initializer in test/util/net.cpp
  src/test/util/net.cpp
Labels: Refactoring

#30383 util: Catch translation string errors at compile time
  src/test/fuzz/string.cpp
  src/util/translation.h
Labels: Utils/log/libs

#30406 refactor: modernize-use-equals-default
  src/.clang-tidy
  src/arith_uint256.h
  src/blockencodings.h
  src/chain.h
  src/coins.h
  src/crypto/muhash.h
  src/crypto/sha3.h
  src/flatfile.h
  src/headerssync.h
  src/httpserver.h
  src/index/disktxpos.h
  src/interfaces/chain.h
  src/interfaces/echo.h
  src/interfaces/handler.h
  src/interfaces/mining.h
  src/interfaces/node.h
  src/interfaces/wallet.h
  src/kernel/chainparams.h
  src/kernel/notifications_interface.h
  src/merkleblock.h
  src/net.h
  src/net_processing.h
  src/net_types.h
  src/policy/fees.h
  src/prevector.h
  src/primitives/block.h
  src/psbt.h
  src/qt/transactiondesc.h
  src/rpc/server.h
  src/script/interpreter.h
  src/script/miniscript.h
  src/script/script.h
  src/script/sign.h
  src/script/signingprovider.h
  src/serialize.h
  src/streams.h
  src/support/lockedpool.cpp
  src/support/lockedpool.h
  src/sync.h
  src/threadsafety.h
  src/tinyformat.h
  src/util/subprocess.h
  src/util/task_runner.h
  src/validationinterface.cpp
  src/wallet/coinselection.h
  src/wallet/db.h
  src/wallet/migrate.h
  src/wallet/scriptpubkeyman.h
  src/wallet/sqlite.h
  src/wallet/test/util.h
  src/wallet/walletutil.h
  src/walletinitinterface.h
  src/zmq/zmqnotificationinterface.cpp
Labels: Refactoring

#30353 test: fix inconsistency in fundrawtransaction weight limits test
  test/functional/wallet_fundrawtransaction.py
Labels: Wallet, Tests

#30336 depends: update doc in Qt pwd patch
  depends/patches/qt/dont_hardcode_pwd.patch
Labels: Build system

#30372 util: Use SteadyClock in RandAddSeedPerfmon
  src/randomenv.cpp
Labels: Utils/log/libs

#30295 #28984 package rbf followups
  doc/policy/packages.md
  src/validation.cpp
  test/functional/mempool_package_rbf.py
Labels: Refactoring

#30412 MiniMiner: use FeeFrac in AncestorFeerateComparator
  src/node/mini_miner.cpp
  src/test/fuzz/mini_miner.cpp
Labels: Bug

#30373 fuzz: fix key size in `crypter`
  src/wallet/test/fuzz/crypter.cpp
Labels: Tests

#30197 fuzz: bound some miniscript operations to avoid fuzz timeouts
  src/test/fuzz/descriptor_parse.cpp
  src/test/fuzz/util/descriptor.cpp
  src/test/fuzz/util/descriptor.h
Labels: Tests

#30407 test: [refactor] Pass TestOpts
  src/bench/logging.cpp
  src/bench/mempool_stress.cpp
  src/test/checkqueue_tests.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/rpc.cpp
  src/test/fuzz/utxo_total_supply.cpp
  src/test/i2p_tests.cpp
  src/test/net_peer_connection_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  src/test/validation_chainstatemanager_tests.cpp
Labels: Tests

#30428 log: LogError with FlatFilePos in UndoReadFromDisk
  src/node/blockstorage.cpp
  src/node/blockstorage.h
Labels: Utils/log/libs

#30420 test: Fix intermittent failure in p2p_v2_misbehaving.py
  test/functional/p2p_v2_misbehaving.py
Labels: Tests

#30394 net: fix race condition in self-connect detection
  src/net.h
  src/net_processing.cpp
  src/test/util/net.cpp
  test/functional/p2p_handshake.py
Labels: P2P

#30387 contrib: use c++ compiler rather than c compiler for binary checks
  Makefile.am
  contrib/devtools/test-security-check.py
  contrib/devtools/test-symbol-check.py
Labels: Scripts and tools

#30425 kernel: De-globalize static validation variables
  src/core_read.cpp
  src/script/descriptor.cpp
  src/validation.cpp
  src/validation.h
Labels: Validation

#29072 build: use `-no_exported_symbols` on macOS
  configure.ac
Labels: Build system, Needs CMake port

#30435 init: change shutdown order of load block thread and scheduler
  src/init.cpp
Labels: Needs backport (27.x)

#30429 rpc: Use CHECK_NONFATAL over Assert
  src/rpc/blockchain.cpp
  test/lint/lint-assertions.py
Labels: RPC/REST/ZMQ

#28923 script/sign: avoid duplicated signature verification after signing (+introduce signing benchmarks)
  src/Makefile.bench.include
  src/bench/sign_transaction.cpp
  src/script/sign.cpp
Labels: Wallet, Tests, Resource usage

#22729 Make it possible to disable Tor binds and abort startup on bind failure
  src/init.cpp
  src/net.cpp
  test/functional/feature_bind_extra.py
  test/functional/test-shell.md
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
Labels: P2P

#30457 doc: getaddressinfo[isscript] is optional
  src/wallet/rpc/addresses.cpp
  test/functional/rpc_invalid_address_message.py
Labels: Docs

#30466 refactor: Make m_last_notified_header private
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#30468 test: bump mocktime only after node has received and sent bytes
  test/functional/p2p_v2_misbehaving.py
Labels: Tests

#28893 Fix SSE4.1-related issues
  configure.ac
  src/Makefile.am
  src/crypto/sha256.cpp
  src/crypto/sha256_x86_shani.cpp
Labels: Build system, Needs CMake port

#29523 Wallet: Add `max_tx_weight` to transaction funding options (take 2)
  src/rpc/client.cpp
  src/wallet/coincontrol.h
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/fuzz/coinselection.cpp
  test/functional/rpc_psbt.py
  test/functional/test_framework/blocktools.py
Labels: Wallet

#30356 refactor: add coinbase constraints to BlockAssembler::Options
  src/interfaces/mining.h
  src/node/interfaces.cpp
  src/node/miner.cpp
  src/node/miner.h
  src/node/types.h
  src/rpc/mining.cpp
Labels: Refactoring

#30453 test: Non-Shy version sender
  test/functional/p2p_add_connections.py
Labels: Tests

#30444 rest: Reject negative outpoint index early in getutxos parsing
  src/rest.cpp
  test/functional/interface_rest.py
Labels: RPC/REST/ZMQ

#30245 net: Allow -proxy=[::1] on nodes with IPV6 lo only
  src/netbase.cpp
Labels: P2P

#29880 depends: build FreeType with CMake
  depends/packages/freetype.mk
Labels: Build system

#30490 depends: bump libmultiprocess for CMake fixes
  depends/packages/native_libmultiprocess.mk
Labels: Build system

#30473 fuzz: Limit parse_univalue input length
  src/test/fuzz/parse_univalue.cpp
Labels: Tests

#30499 lint: Use consistent out-of-tree build for python and test_runner
  ci/lint/04_install.sh
  ci/lint_imagefile
  ci/lint_run_all.sh
Labels: Tests

#29723 depends: build zeromq with CMake
  depends/packages/zeromq.mk
  depends/patches/zeromq/builtin_sha1.patch
  depends/patches/zeromq/cmake_minimum.patch
  depends/patches/zeromq/fix_have_windows.patch
  depends/patches/zeromq/macos_mktemp_check.patch
  depends/patches/zeromq/no_librt.patch
Labels: Build system

#30501 lint: Add missing docker.io prefix to ci/lint_imagefile
  ci/lint/04_install.sh
  ci/lint_imagefile
Labels: Tests

#30488 depends: Fix CMake-generated `libevent*.pc` files
  depends/packages/libevent.mk
  depends/patches/libevent/fix_mingw_link.patch
Labels: Build system

#30494 fuzz: reduce keypool size in `scriptpubkeyman` target
  src/wallet/test/fuzz/scriptpubkeyman.cpp
Labels: Tests

#30474 fuzz: Speed up PickValue in txorphan
  src/test/fuzz/txorphan.cpp
Labels: Tests

#30504 doc: use proper doxygen formatting for CTxMemPool::cs
  src/txmempool.h
Labels: Docs

#30403 test, assumeutxo: Remove resolved todo comments and add new test
  test/functional/feature_assumeutxo.py
Labels: Tests

#30408 rpc: doc: use "output script" terminology consistently in "asm"/"hex" results
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
Labels: RPC/REST/ZMQ

#29878 depends: build expat with CMake
  depends/packages/expat.mk
  depends/patches/expat/cmake_minimum.patch
Labels: Build system

#30513 depends: Bump `libmultiprocess` for CMake fixes
  depends/packages/native_libmultiprocess.mk
Labels: Build system, Needs CMake port

#30111 locks: introduce mutex for tx download, flush rejection filters once per tip change
  src/net_processing.cpp
  src/test/orphanage_tests.cpp
  src/txorphanage.cpp
  src/txorphanage.h
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
Labels: P2P

#30423 contrib: simplify `test-security-check`
  contrib/devtools/security-check.py
  contrib/devtools/symbol-check.py
  contrib/devtools/test-security-check.py
Labels: Scripts and tools

#30467 [27.x] More backports
  doc/release-notes.md
  src/init.cpp
  src/net.h
  src/net_processing.cpp
  src/psbt.h
  src/test/util/net.cpp
  src/wallet/wallet.cpp
  test/functional/data/rpc_psbt.json
  test/functional/p2p_handshake.py
  test/functional/rpc_psbt.py
  test/functional/test_runner.py
Labels: Backport

#30275 Fee Estimation: change `estimatesmartfee` default mode to `economical`
  src/rpc/fees.cpp
  test/functional/feature_fee_estimation.py
Labels: TX fees and policy, Needs release note

#30522 ci: Add missing qttools5-dev install to Asan task
  ci/test/00_setup_env_native_asan.sh
Labels: Tests

#30482 rest: Reject truncated hex txid early in getutxos parsing
  doc/release-notes-30482.md
  src/bitcoin-tx.cpp
  src/core_io.h
  src/core_read.cpp
  src/qt/transactiontablemodel.cpp
  src/qt/transactionview.cpp
  src/rest.cpp
  src/rpc/mining.cpp
  src/test/blockfilter_tests.cpp
  src/test/fuzz/hex.cpp
  src/test/pow_tests.cpp
  src/test/uint256_tests.cpp
  src/uint256.cpp
  src/uint256.h
  src/util/transaction_identifier.h
  test/functional/interface_rest.py
Labels: RPC/REST/ZMQ

#30399 test: Add arguments for creating a slimmer TestingSetup
  src/test/fuzz/coins_view.cpp
  src/test/fuzz/utxo_snapshot.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Labels: Tests

#30511 guix: GCC 12 consolidation
  contrib/guix/manifest.scm
Labels: Build system

#30506 depends: Cleanup postprocess commands after switching to CMake
  depends/packages/freetype.mk
  depends/packages/libevent.mk
  depends/packages/miniupnpc.mk
  depends/packages/qrencode.mk
  depends/packages/zeromq.mk
Labels: Build system

#30507 m_tx_download_mutex followups
  src/net_processing.cpp
  src/txorphanage.h
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
Labels: Refactoring, Docs

#26950 cleanse: switch to SecureZeroMemory for Windows cross-compile
  src/support/cleanse.cpp
Labels: Windows

#30517 refactor: Add FlatFileSeq member variables in BlockManager
  src/flatfile.cpp
  src/flatfile.h
  src/node/blockstorage.cpp
  src/node/blockstorage.h
Labels: Refactoring

#30076 test: fix MiniWallet script-path spend (missing parity bit in leaf version)
  test/functional/feature_framework_miniwallet.py
  test/functional/test_framework/address.py
  test/functional/test_framework/wallet.py
Labels: Tests

#30126 cluster mempool: cluster linearization algorithm
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.test.include
  src/Makefile.test_util.include
  src/bench/cluster_linearize.cpp
  src/cluster_linearize.h
  src/test/cluster_linearize_tests.cpp
  src/test/fuzz/cluster_linearize.cpp
  src/test/util/cluster_linearize.h
Labels: Mempool

#30447 fuzz: Deglobalize signature cache in sigcache test
  src/test/fuzz/script_sigcache.cpp
Labels: Tests

#30515 rpc: add utxo's blockhash and number of confirmations to scantxoutset output
  src/rpc/blockchain.cpp
  test/functional/rpc_scantxoutset.py
Labels: RPC/REST/ZMQ

#30534 guix: move bison from global scope, to Linux
  contrib/guix/manifest.scm
Labels: Build system

#30542 ci: enable berkley db on test each commit job
  .github/workflows/ci.yml
Labels: Tests

#30451 depends: remove Darwin ENV unsetting
  contrib/guix/libexec/build.sh
  depends/hosts/darwin.mk
  depends/packages/qt.mk
  depends/patches/qt/darwin_no_libm.patch
Labels: Build system

#30452 guix: bump time-machine to efc26826400762207cde9f23802cfe75a737963c
  contrib/devtools/symbol-check.py
  contrib/guix/libexec/prelude.bash
  contrib/guix/manifest.scm
  contrib/guix/patches/gcc-remap-guix-store.patch
  contrib/guix/patches/winpthreads-remap-guix-store.patch
Labels: Build system

#30551 doc: mention optional dependencies (qrencode, zmq) in OpenBSD build docs
  doc/build-openbsd.md
Labels: Docs

#30552 test: fix constructor of msg_tx
  test/functional/test_framework/messages.py
Labels: Tests, Needs backport (27.x)

#30545 test: fix intermittent failures in feature_proxy.py
  test/functional/feature_proxy.py
Labels: Tests

#30537 kernel: Only setup kernel context globals once
  src/kernel/context.cpp
Labels: Validation

#30547 doc: Update work in progress section in `doc/design/libraries.md`
  doc/design/libraries.md
Labels: Docs

#30559 test: Try previously intermittently broken USDT test again
  test/functional/interface_usdt_mempool.py
Labels: Tests

#30556 doc: multisig-tutorial: remove obsolete mention and link to closed PR
  doc/multisig-tutorial.md
Labels: Docs
