Repository bitcoin/bitcoin, pull requests merged in 2024-10, with the labels that each got.

#30959 [28.x] backports and finalize
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  src/test/system_tests.cpp
  src/validation.cpp
Labels: Backport

#31016 test: add missing sync to feature_fee_estimation.py
  test/functional/feature_fee_estimation.py
Labels: Tests

#31007 doc: add testnet4 section header for config file
  contrib/devtools/gen-bitcoin-conf.sh
  doc/bitcoin-conf.md
Labels: Docs

#31011 refactor: move util/pcp and util/netif to common/
  contrib/devtools/check-deps.sh
  src/CMakeLists.txt
  src/common/netif.cpp
  src/common/netif.h
  src/common/pcp.cpp
  src/common/pcp.h
  src/mapport.cpp
  src/net.cpp
  src/util/CMakeLists.txt
Labels: Refactoring

#30929 log: Enforce trailing newline
  contrib/devtools/bitcoin-tidy/CMakeLists.txt
  contrib/devtools/bitcoin-tidy/bitcoin-tidy.cpp
  contrib/devtools/bitcoin-tidy/example_logprintf.cpp
  contrib/devtools/bitcoin-tidy/logprintf.cpp
  contrib/devtools/bitcoin-tidy/logprintf.h
  src/logging.cpp
  src/logging.h
  src/test/logging_tests.cpp
  test/lint/lint-format-strings.py
Labels: Refactoring, Utils/log/libs

#30980 fuzz: fix bug in p2p_headers_presync harness
  src/test/fuzz/p2p_headers_presync.cpp
Labels: Tests

#30982 docs: Add instructions on how to self-sign bitcoin-core binaries for macOS
  doc/release-notes-empty-template.md
Labels: Docs, macOS

#31035 doc: Archive 28.0 release notes
  doc/release-notes/release-notes-28.0.md
Labels: Docs

#30793 rpc: add getorphantxs
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/mempool.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/test/fuzz/rpc.cpp
  src/txorphanage.cpp
  src/txorphanage.h
  test/functional/rpc_getorphantxs.py
  test/functional/test_framework/mempool_util.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ, Review club

#31026 ci: set a ctest test timeout of 1200 (20 minutes)
  ci/test/03_test_script.sh
Labels: Tests

#31008 depends: Print ready-to-use `--toolchain` option for CMake invocation
  depends/Makefile
Labels: Build system

#31051 test: remove unused code from `script_tests`
  src/test/script_tests.cpp
Labels: Tests

#31013 depends: For mingw cross compile use -gcc-posix to prevent library conflict
  depends/hosts/mingw32.mk
Labels: Windows, Build system

#31056 ci: Double ctest timeout
  ci/test/03_test_script.sh
Labels: Tests

#31045 ci: Add missing -DWERROR=ON to test-each-commit
  .github/workflows/ci.yml
  ci/test/03_test_script.sh
Labels: Tests

#30920 test: Remove 0.16.3 test from wallet_backwards_compatibility.py
  test/functional/wallet_backwards_compatibility.py
  test/functional/wallet_upgradewallet.py
Labels: Tests

#30967 refactor: Replace g_genesis_wait_cv with m_tip_block_cv
  src/bitcoind.cpp
  src/index/base.cpp
  src/init.cpp
  src/interfaces/mining.h
  src/node/abort.cpp
  src/node/abort.h
  src/node/context.h
  src/node/interfaces.cpp
  src/node/kernel_notifications.cpp
  src/node/kernel_notifications.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/blockfilter_index_tests.cpp
  src/test/blockmanager_tests.cpp
  src/test/coinstatsindex_tests.cpp
  src/test/txindex_tests.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstate_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/validation.cpp
Labels: Refactoring

#31058 refactor: include the proper header rather than forward-declaring RemovalReasonToString
  src/validationinterface.cpp
Labels: Refactoring

#30992 doc: update IBD requirements in doc/README.md
  doc/README.md
Labels: Docs

#30857 cluster mempool: extend DepGraph functionality
  src/bench/cluster_linearize.cpp
  src/cluster_linearize.h
  src/test/cluster_linearize_tests.cpp
  src/test/feefrac_tests.cpp
  src/test/fuzz/cluster_linearize.cpp
  src/test/util/cluster_linearize.h
  src/util/check.h
  src/util/feefrac.h
Labels: Utils/log/libs

#31070 contrib: fix typos in check-deps.sh
  contrib/devtools/check-deps.sh
Labels: Scripts and tools

#31083 doc: add doxygen for m_args in tests
  src/test/util/setup_common.h
Labels: Docs

#30859 doc: cmake: prepend "build" to functional/test_runner.py
  README.md
  test/functional/README.md
Labels: Docs

#31092 doc: fuzz: remove Honggfuzz NetDriver instructions
  doc/fuzzing.md
Labels: Docs

#31048 build: Bump minimum supported macOS to 13.0
  contrib/devtools/symbol-check.py
  contrib/devtools/test-symbol-check.py
  depends/hosts/darwin.mk
  doc/build-osx.md
  doc/release-notes-empty-template.md
  share/qt/Info.plist.in
Labels: Build system

#31067 test: Print CompletedProcess object on error
  test/util/test_runner.py
Labels: Tests

#31099 doc: drop macOS LLVM install instructions
  doc/build-osx.md
Labels: Docs

#30996 doc: update signet documentation related to build directories
  contrib/signet/README.md
Labels: Docs, CI failed

#31100 doc: remove dependency install instructions from win docs
  depends/README.md
  doc/build-windows.md
Labels: Docs

#29877 tracing: explicitly cast block_connected duration to nanoseconds
  contrib/tracing/connectblock_benchmark.bt
  doc/tracing.md
  src/validation.cpp
  test/functional/interface_usdt_validation.py
Labels: Utils/log/libs

#31063 lint: commit-script-check.sh: echo to stderr
  test/lint/commit-script-check.sh
Labels: Tests

#31105 Update libmultiprocess library
  depends/packages/native_libmultiprocess.mk
  src/test/ipc_test.cpp
Labels: Upstream

#31097 validation: Improve input script check error reporting
  src/validation.cpp
  test/functional/data/invalid_txs.py
  test/functional/feature_block.py
  test/functional/p2p_invalid_tx.py
Labels: Validation

#31121 guix: Enable CET for `glibc` package
  contrib/guix/manifest.scm
Labels: Build system

#26334 Add Signet and testnet4 launch shortcuts for Windows
  share/setup.nsi.in
  src/qt/res/bitcoin-qt-res.rc
  src/qt/res/icons/bitcoin_signet.ico
Labels: GUI, Build system

#30183 rpc: net: follow-ups for #30062
  src/bitcoin-cli.cpp
  src/rpc/net.cpp
Labels: RPC/REST/ZMQ

#30935 ci: Approximate MAKEJOBS in image build phase
  ci/test/01_base_install.sh
  ci/test/02_run_container.sh
Labels: Tests

#31101 [27.x] Prep for 27.2
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#30724 test: add test for specifying custom pidfile via `-pid`
  test/functional/feature_filelock.py
  test/functional/feature_init.py
  test/functional/test_framework/test_node.py
Labels: Tests

#31046 init: Some small chainstate load improvements
  src/init.cpp
  src/node/chainstate.cpp
  test/functional/feature_init.py
Labels: UTXO Db and Indexes

#31141 doc: Make list of targets in depends README consistent
  depends/README.md
Labels: Docs

#31078 build: Fix kernel static lib component install
  src/kernel/CMakeLists.txt
Labels: Build system

#29450 build: replace custom `MAC_OSX` macro with existing `__APPLE__`
  CMakeLists.txt
  src/common/args.cpp
  src/common/system.cpp
  src/random.cpp
  src/util/fs_helpers.cpp
  src/util/threadnames.cpp
Labels: Build system, DrahtBot Guix build requested

#31147 cmake, qt, test: Remove problematic code
  src/qt/test/CMakeLists.txt
Labels: Build system, Tests

#31148 ci: display logs of failed unit tests automatically
  .github/workflows/ci.yml
Labels: Tests

#28574 wallet: optimize migration process, batch db transactions
  src/bench/CMakeLists.txt
  src/bench/wallet_migration.cpp
  src/wallet/bdb.h
  src/wallet/db.h
  src/wallet/migrate.h
  src/wallet/salvage.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/sqlite.h
  src/wallet/test/util.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Wallet

#30849 refactor: migrate `bool GetCoin` to return `optional<Coin>`
  src/coins.cpp
  src/coins.h
  src/node/coin.cpp
  src/node/interfaces.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/test/coins_tests.cpp
  src/test/fuzz/coins_view.cpp
  src/test/fuzz/coinscache_sim.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/util/setup_common.cpp
  src/txdb.cpp
  src/txdb.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
Labels: Refactoring

#31118 doc: replace `-?` with `-h` and `-help`
  doc/benchmarking.md
  src/common/args.cpp
  test/lint/check-doc.py
Labels: Docs

#31124 util: Remove RandAddSeedPerfmon
  src/random.cpp
  src/random.h
  src/randomenv.cpp
Labels: Utils/log/libs

#29936 fuzz: wallet: add target for `CreateTransaction`
  src/test/fuzz/util/wallet.h
  src/wallet/test/fuzz/CMakeLists.txt
  src/wallet/test/fuzz/notifications.cpp
  src/wallet/test/fuzz/spend.cpp
Labels: Tests

#31146 ci: Temporary workaround for old CCACHE_DIR cirrus env
  ci/test/02_run_container.sh
Labels: Tests

#29991 depends: sqlite 3.46.1
  depends/packages/sqlite.mk
Labels: Build system

#31150 util: Treat Assume as Assert when evaluating at compile-time
  src/util/check.h
Labels: Utils/log/libs, DrahtBot Guix build requested

#29536 fuzz: fuzz connman with non-empty addrman + ASMap
  src/test/fuzz/addrman.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/util/net.h
Labels: Tests

#31040 test: Assert that when we add the max orphan amount that we cannot add anymore and that a random orphan gets dropped
  test/functional/p2p_orphan_handling.py
  test/functional/rpc_getorphantxs.py
Labels: Tests

#31152 functional test: Additional package evaluation coverage
  test/functional/mempool_limit.py
Labels: Tests

#31130 Drop miniupnp dependency
  .github/workflows/ci.yml
  CMakeLists.txt
  CMakePresets.json
  ci/test/00_setup_env_mac_native.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_previous_releases.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_valgrind.sh
  cmake/module/FindMiniUPnPc.cmake
  depends/Makefile
  depends/README.md
  depends/packages/miniupnpc.mk
  depends/packages/packages.mk
  depends/patches/miniupnpc/cmake_get_src_addr.patch
  depends/patches/miniupnpc/dont_leak_info.patch
  depends/patches/miniupnpc/fix_windows_snprintf.patch
  depends/toolchain.cmake.in
  doc/build-freebsd.md
  doc/build-openbsd.md
  doc/build-osx.md
  doc/build-unix.md
  doc/dependencies.md
  doc/release-notes-31130.md
  doc/tor.md
  src/CMakeLists.txt
  src/init.cpp
  src/interfaces/node.h
  src/mapport.cpp
  src/mapport.h
  src/net.h
  src/node/interfaces.cpp
  src/qt/CMakeLists.txt
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/test/optiontests.cpp
  src/qt/test/test_main.cpp
  test/functional/test_framework/util.py
  vcpkg.json
Labels: Build system, P2P

#31093 Introduce `g_fuzzing` global for fuzzing checks
  CMakeLists.txt
  src/pow.cpp
  src/test/fuzz/fuzz.cpp
  src/util/check.cpp
  src/util/check.h
Labels: Tests

#31042 build: Rename `PACKAGE_*` variables to `CLIENT_*`
  CMakeLists.txt
  cmake/bitcoin-build-config.h.in
  cmake/module/GenerateSetupNsi.cmake
  cmake/module/Maintenance.cmake
  doc/Doxyfile.in
  libbitcoinkernel.pc.in
  share/setup.nsi.in
  src/addrdb.cpp
  src/addrman.cpp
  src/bitcoin-cli-res.rc
  src/bitcoin-cli.cpp
  src/bitcoin-tx-res.rc
  src/bitcoin-tx.cpp
  src/bitcoin-util-res.rc
  src/bitcoin-util.cpp
  src/bitcoin-wallet-res.rc
  src/bitcoin-wallet.cpp
  src/bitcoind-res.rc
  src/bitcoind.cpp
  src/clientversion.cpp
  src/clientversion.h
  src/common/settings.cpp
  src/init.cpp
  src/init/common.cpp
  src/net.cpp
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/intro.cpp
  src/qt/modaloverlay.cpp
  src/qt/optionsdialog.cpp
  src/qt/res/bitcoin-qt-res.rc
  src/qt/rpcconsole.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/signverifymessagedialog.cpp
  src/qt/splashscreen.cpp
  src/qt/test/optiontests.cpp
  src/qt/utilitydialog.cpp
  src/rest.cpp
  src/rpc/mining.cpp
  src/rpc/server.cpp
  src/rpc/util.cpp
  src/util/check.cpp
  src/validation.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/sqlite.cpp
  src/wallet/wallet.cpp
  src/wallet/wallettool.cpp
  test/config.ini.in
  test/functional/feature_addrman.py
  test/functional/feature_filelock.py
  test/functional/feature_settings.py
  test/functional/interface_bitcoin_cli.py
  test/functional/test_framework/test_framework.py
  test/functional/tool_wallet.py
  test/functional/wallet_multiwallet.py
Labels: Build system

#31142 test: fix intermittent failure in p2p_seednode.py, don't connect to random IPs
  test/functional/p2p_seednode.py
Labels: Tests

#30942 test: Remove dead code from interface_zmq test
  test/functional/interface_zmq.py
Labels: Tests

#30903 cmake: Add `FindZeroMQ` module
  CMakeLists.txt
  cmake/module/FindZeroMQ.cmake
  depends/packages/zeromq.mk
  depends/patches/zeromq/fix_mingw_link.patch
  depends/patches/zeromq/remove_libstd_link.patch
  src/zmq/CMakeLists.txt
Labels: Build system

#30110 refactor: TxDownloadManager + fuzzing
  src/CMakeLists.txt
  src/net_processing.cpp
  src/node/txdownloadman.h
  src/node/txdownloadman_impl.cpp
  src/node/txdownloadman_impl.h
  src/test/CMakeLists.txt
  src/test/fuzz/CMakeLists.txt
  src/test/fuzz/txdownloadman.cpp
  src/test/txdownload_tests.cpp
  src/txorphanage.h
Labels: Refactoring

#31043 rpc: getorphantxs follow-up
  doc/developer-notes.md
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/mempool.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  test/functional/rpc_orphans.py
  test/functional/test_framework/mempool_util.py
  test/functional/test_runner.py
Labels: RPC/REST/ZMQ

#31064 init: Correct coins db cache size setting
  src/node/chainstate.cpp
  src/validation.cpp
Labels: UTXO Db and Indexes

#29420 test: extend the SOCKS5 Python proxy to actually connect to a destination
  test/functional/test_framework/netutil.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/socks5.py
  test/functional/test_framework/test_node.py
Labels: Tests

#31156 test: Don't enforce BIP94 on regtest unless specified by arg
  doc/release-notes-31156.md
  src/chainparams.cpp
  src/common/args.cpp
  src/kernel/chainparams.cpp
  src/kernel/chainparams.h
  test/functional/mining_basic.py
Labels: Tests

#31015 build: have "make test" depend on "make all"
  CMakeLists.txt
Labels: Build system

#24214 Fix unsigned integer overflows in interpreter
  src/script/interpreter.cpp
  test/sanitizer_suppressions/ubsan
Labels: Consensus
