Repository bitcoin/bitcoin, pull requests merged in 2024-01, with the labels that each got.

#28978 doc: Add multiprocess design doc
  doc/design/multiprocess.md
  doc/multiprocess.md
Labels: Docs

#28455 refactor: share and use `GenerateRandomKey` helper
  src/bench/ellswift.cpp
  src/key.cpp
  src/key.h
  src/net.cpp
  src/qt/test/addressbooktests.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/compress_tests.cpp
  src/test/script_standard_tests.cpp
  src/test/script_tests.cpp
  src/test/sigopcount_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txpackage_tests.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/test/ismine_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#26684 bench: add readblock benchmark
  src/Makefile.bench.include
  src/bench/readblock.cpp
Labels: Tests

#29076 fuzz: set `m_fallback_fee` and `m_fee_mode` in `wallet_fees` target
  src/wallet/test/fuzz/fees.cpp
Labels: Tests

#29013 test: doc: follow-up #28368
  src/init.cpp
  src/kernel/mempool_entry.h
  src/policy/fees.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/policyestimator_tests.cpp
  src/validationinterface.h
Labels: Tests

#29176 wallet: Fix use-after-free in WalletBatch::EraseRecords
  src/wallet/walletdb.cpp
Labels: Wallet, Needs backport (24.x), Needs backport (25.x), Needs backport (26.x)

#28832 fuzz: rule-out too deep derivation paths in descriptor parsing targets
  src/test/fuzz/descriptor_parse.cpp
  src/test/fuzz/util/descriptor.cpp
  src/test/fuzz/util/descriptor.h
  src/wallet/test/fuzz/scriptpubkeyman.cpp
Labels: Tests

#28890 rpc: Remove deprecated -rpcserialversion
  src/core_io.h
  src/core_write.cpp
  src/init.cpp
  src/interfaces/chain.h
  src/node/interfaces.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/wallet/rpc/transactions.cpp
  src/zmq/zmqpublishnotifier.cpp
  test/functional/feature_segwit.py
Labels: RPC/REST/ZMQ

#29177 build: Fix check whether `-latomic` needed
  build-aux/m4/l_atomic.m4
Labels: Build system

#29042 doc: Clarify C++20 comments
  src/test/fuzz/fuzz.cpp
  src/util/overloaded.h
  src/util/types.h
Labels: Docs

#29181 build: remove systemtap variadic patch
  depends/packages/systemtap.mk
  depends/patches/systemtap/fix_variadic_warning.patch
Labels: Build system

#28962 doc: Rework guix docs after 1.4 release
  contrib/guix/INSTALL.md
  contrib/guix/README.md
Labels: Docs

#29172 fuzz: set `nMaxOutboundLimit` in connman target
  src/test/fuzz/connman.cpp
Labels: Tests

#29195 build: Fix `-Xclang -internal-isystem` option
  .github/workflows/ci.yml
  configure.ac
Labels: macOS, Build system

#29011 [26.x] Backports
  .cirrus.yml
  .github/workflows/ci.yml
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_tsan.sh
  doc/release-notes.md
  doc/release-notes/release-notes-26.0.md
  src/rpc/rawtransaction.cpp
  src/wallet/rpc/wallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/fuzz/coinselection.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/functional/rpc_rawtransaction.py
  test/functional/test_runner.py
  test/functional/wallet_reindex.py
Labels: Backport, CI failed

#29203 build: Drop `ALLOW_HOST_PACKAGES` support in depends
  ci/test/00_setup_env_native_qt5.sh
  depends/Makefile
  depends/README.md
  depends/config.site.in
Labels: Build system

#29215 test: assumeutxo: spend coin from snapshot chainstate after loading
  test/functional/feature_assumeutxo.py
Labels: Tests

#28318 logging: Simplify API for level based logging
  doc/developer-notes.md
  src/httpserver.cpp
  src/init.cpp
  src/init/common.cpp
  src/logging.cpp
  src/logging.h
  src/net_processing.cpp
  src/test/logging_tests.cpp
  src/torcontrol.cpp
  test/lint/lint-format-strings.py
Labels: Utils/log/libs

#29211 fuzz: fix `connman` initialization
  src/test/fuzz/connman.cpp
Labels: Tests

#29204 test: wallet migration, add coverage for tx extra data
  test/functional/wallet_migration.py
Labels: Tests

#29219 fuzz: Improve fuzzing stability for ellswift_roundtrip harness
  src/test/fuzz/key.cpp
Labels: Tests

#29225 ci: move CMake into base packages
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_i686_centos.sh
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/00_setup_env_native_tidy.sh
Labels: Tests

#28838 test: add assumeutxo wallet test
  test/functional/test_runner.py
  test/functional/wallet_assumeutxo.py
Labels: Tests

#28870 depends: Include `config.guess` and `config.sub` into `meta_depends`
  depends/Makefile
Labels: Build system

#29222 doc: update Bitcoin Core license to 2024
  COPYING
  configure.ac
  contrib/debian/copyright
Labels: Docs

#29034 test: detect OS in functional tests consistently using `platform.system()`
  test/functional/README.md
  test/functional/feature_bind_extra.py
  test/functional/feature_config_args.py
  test/functional/feature_init.py
  test/functional/feature_notifications.py
  test/functional/feature_remove_pruned_files_on_startup.py
  test/functional/rpc_bind.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
  test/functional/wallet_multiwallet.py
Labels: Tests

#29218 ci: Rename tasks (previous releases, macOS cross)
  .cirrus.yml
  ci/test/00_setup_env_mac_cross.sh
  ci/test/00_setup_env_native_previous_releases.sh
Labels: Tests

#28885 mempool / rpc: followup to getprioritisedtransactions and delete a mapDeltas entry when delta==0
  src/rpc/mining.cpp
  test/functional/mempool_expiry.py
  test/functional/mining_prioritisetransaction.py
Labels: Refactoring

#29235 doc: refer to "Node relay options" in policy/README
  doc/policy/README.md
Labels: Docs

#29243 wallet: Reset chain notifications handler if AttachChain fails
  src/wallet/wallet.cpp
Labels: Wallet

#29241 doc: Add missing backtick in developer notes logging section
  doc/developer-notes.md
Labels: Docs

#29227 log mempool loading progress
  src/kernel/mempool_persist.cpp
Labels: Mempool, Utils/log/libs, Needs backport (26.x)

#29185 build: remove `--enable-lto`
  configure.ac
  depends/README.md
  depends/config.site.in
  depends/hosts/android.mk
  depends/hosts/darwin.mk
  depends/hosts/freebsd.mk
  depends/hosts/linux.mk
  depends/hosts/mingw32.mk
  depends/hosts/netbsd.mk
  depends/hosts/openbsd.mk
  src/Makefile.am
Labels: Build system, CI failed

#29230 doc: update -loglevel help to add `info` to the always logged levels
  src/init/common.cpp
Labels: Docs, CI failed

#28768 [25.x] Backports
  doc/release-notes.md
  doc/release-notes/release-notes-25.1.md
  src/qt/transactionview.cpp
  src/rpc/rawtransaction.cpp
  test/functional/rpc_rawtransaction.py
Labels: Backport, CI failed

#29170 contrib: add macho branch protection check
  contrib/devtools/security-check.py
  contrib/devtools/test-security-check.py
Labels: Scripts and tools, CI failed

#29179 test: wallet rescan with reorged parent + IsFromMe child in mempool
  test/functional/test_runner.py
  test/functional/wallet_import_rescan.py
  test/functional/wallet_rescan_unconfirmed.py
Labels: Tests

#28791 snapshots: don't core dump when running -checkblockindex after `loadtxoutset`
  src/validation.cpp
Labels: Bug

#29239 rpc: Make v2transport default for addnode RPC when enabled
  src/rpc/net.cpp
  test/functional/test_framework/test_framework.py
Labels: CI failed

#29233 build: depends move macOS C(XX) FLAGS out of C & CXX
  depends/builders/darwin.mk
  depends/hosts/darwin.mk
Labels: Build system

#29133 refactor: Allow std::span construction from CKey
  src/key.cpp
  src/key.h
  src/key_io.cpp
  src/pubkey.h
  src/wallet/scriptpubkeyman.cpp
Labels: Refactoring

#29251 contrib: Update clang-format-diff
  contrib/devtools/clang-format-diff.py
Labels: Scripts and tools, CI failed

#29085 refactor: C++20: Use std::rotl
  src/crypto/chacha20.cpp
  src/crypto/sha3.cpp
  src/crypto/siphash.cpp
  src/hash.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring, CI failed

#29228 test: Remove all-lint.py script
  test/README.md
  test/lint/README.md
  test/lint/all-lint.py
  test/lint/test_runner/src/main.rs
Labels: Tests

#29262 rpc: Fix race in loadtxoutset
  src/rpc/blockchain.cpp
  test/functional/test_framework/test_framework.py
Labels: RPC/REST/ZMQ

#29249 depends: add NM output to gen_id
  depends/Makefile
  depends/gen_id
Labels: Build system

#29260 refactor: remove CTxMemPool::queryHashes()
  src/rpc/mempool.cpp
  src/test/fuzz/tx_pool.cpp
  src/txmempool.cpp
  src/txmempool.h
Labels: Refactoring

#29276 depends: Update libmultiprocess library to fix C++20 macos build error
  depends/packages/native_libmultiprocess.mk
Labels: Build system

#29272 wallet: fix coin selection tracing to return -1 when no change pos
  src/wallet/spend.cpp
  test/functional/interface_usdt_coinselection.py
Labels: Wallet

#28774 wallet: avoid returning a reference to vMasterKey after releasing the mutex that guards it
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#28921 multiprocess: Add basic type conversion hooks
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
  src/Makefile.am
  src/Makefile.test.include
  src/ipc/capnp/common-types.h
  src/test/.gitignore
  src/test/ipc_test.capnp
  src/test/ipc_test.cpp
  src/test/ipc_test.h
  src/test/ipc_tests.cpp
Labels: CI failed

#29304 fuzz: Exit and log stderr for parse_test_list errors
  test/fuzz/test_runner.py
Labels: Tests

#29302 wallet: clarify replaced_by_txid and replaces_txid in help output
  src/wallet/rpc/transactions.cpp
Labels: Wallet

#29205 build: always set `-g -O2` in `CORE_CXXFLAGS`
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  src/Makefile.am
Labels: Build system

#29313 ci: Update cache action
  .github/workflows/ci.yml
Labels: Tests

#29287 depends: Do not override `CFLAGS` when building SQLite with `DEBUG=1`
  depends/packages/sqlite.mk
Labels: Build system

#20827 During IBD, prune as much as possible until we get close to where we will eventually keep blocks
  src/node/blockstorage.cpp
Labels: Block storage, CI failed

#29315 refactor: Compile unreachable walletdb code
  src/wallet/walletdb.cpp
Labels: Refactoring

#28875 build: Pass sanitize flags to instrument `libsecp256k1` code
  configure.ac
  test/sanitizer_suppressions/ubsan
Labels: Build system

#29327 fuzz: also set MSAN_SYMBOLIZER_PATH
  test/fuzz/test_runner.py
Labels: Tests

#29283 test: ensure output is large enough to pay for its fees
  test/functional/wallet_import_rescan.py
Labels: Tests

#29180 crypto: remove use of BUILD_BITCOIN_INTERNAL macro in sha256
  src/Makefile.am
  src/crypto/sha256.cpp
Labels: Utils/log/libs, CI failed

#29298 depends: patch libool out of libnatpmp/miniupnpc
  depends/builders/darwin.mk
  depends/funcs.mk
  depends/hosts/darwin.mk
  depends/hosts/default.mk
  depends/packages.md
  depends/packages/libnatpmp.mk
  depends/packages/miniupnpc.mk
  depends/patches/libnatpmp/no_libtool.patch
  depends/patches/miniupnpc/no_libtool.patch
Labels: Build system

#29329 fuzz: Print coverage summary after run_once
  test/fuzz/test_runner.py
Labels: Tests

#27495 ci: Use LLVM 17.0.6 & DEBUG=1 in depends for MSAN jobs
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/01_base_install.sh
Labels: Tests

#24748 test/BIP324: functional tests for v2 P2P encryption
  src/net.cpp
  src/net.h
  src/rpc/client.cpp
  src/rpc/net.cpp
  test/functional/feature_addrman.py
  test/functional/feature_reindex.py
  test/functional/p2p_v2_earlykeyresponse.py
  test/functional/p2p_v2_encrypted.py
  test/functional/p2p_v2_transport.py
  test/functional/rpc_net.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/v2_p2p.py
  test/functional/test_runner.py
Labels: Tests

#29067 test: Treat msg_version.relay as unsigned, Remove `struct` packing in messages.py
  test/functional/test_framework/messages.py
Labels: Tests

#29299 validation: fix misleading checkblockindex comments
  src/validation.cpp
Labels: Docs, Validation, CI failed

#29308 doc: update `BroadcastTransaction` comment
  src/node/transaction.cpp
Labels: Docs

#29343 test: fix wallet_import_rescan unrounded minimum amount
  test/functional/wallet_import_rescan.py
Labels: Tests

#29253 wallet: guard against dangling to-be-reverted db transactions
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
  src/wallet/test/db_tests.cpp
Labels: Wallet, CI failed

#29347 net: enable v2transport by default
  src/net.h
  test/functional/test_framework/test_node.py
Labels: P2P, Needs release note

#28956 Nuke adjusted time from validation (attempt 2)
  src/bitcoin-chainstate.cpp
  src/headerssync.cpp
  src/init.cpp
  src/kernel/chainstatemanager_opts.h
  src/net_processing.cpp
  src/node/miner.cpp
  src/rpc/mining.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/timedata.cpp
  src/timedata.h
  src/validation.cpp
  src/validation.h
Labels: P2P

#28976 wallet: Fix migration of blank wallets
  src/wallet/wallet.cpp
  test/functional/wallet_migration.py
Labels: Wallet, CI failed

#29352 test: fix intermittent failure in p2p_v2_earlykeyresponse
  test/functional/p2p_v2_earlykeyresponse.py
Labels: Tests

#26859 fuzz: extend ConsumeNetAddr() to return I2P and CJDNS addresses
  src/netaddress.h
  src/test/fuzz/addrman.cpp
  src/test/fuzz/banman.cpp
  src/test/fuzz/netaddress.cpp
  src/test/fuzz/util/net.cpp
  src/test/fuzz/util/net.h
Labels: Tests
