Repository bitcoin/bitcoin, pull requests merged in 2024-05, with the labels that each got.

#29983 msvc: Compile `test\fuzz\bitdeque.cpp`
  build_msvc/fuzz/fuzz.vcxproj
  src/util/bitdeque.h
Labels: Windows, Build system

#29645 doc: update release-process.md
  CONTRIBUTING.md
  doc/release-process.md
Labels: Docs

#29707 depends: build miniupnpc with CMake
  depends/packages/miniupnpc.mk
  depends/patches/miniupnpc/cmake_get_src_addr.patch
  depends/patches/miniupnpc/dont_leak_info.patch
  depends/patches/miniupnpc/fix_windows_snprintf.patch
  depends/patches/miniupnpc/no_libtool.patch
  depends/patches/miniupnpc/respect_mingw_cflags.patch
  doc/dependencies.md
Labels: Build system

#30010 lint: [doc] Clarify Windows line endings (CR LF) not to be used
  test/lint/test_runner/src/main.rs
Labels: Tests

#29934 doc: add LLVM instruction for macOS < 13
  doc/build-osx.md
Labels: Docs, Needs backport (27.x)

#29968 refactor: Avoid unused-variable warning in init.cpp
  src/init.cpp
Labels: Refactoring

#29961 refactor: remove remaining unused code from cpp-subprocess
  src/util/subprocess.h
Labels: Refactoring

#29617 test: Validate UTXO snapshot with coin height > base height & amount > MAX_MONEY supply
  test/functional/feature_assumeutxo.py
Labels: Tests

#30017 refactor, fuzz: Make 64-bit shift explicit
  build_msvc/fuzz/fuzz.vcxproj
  src/test/fuzz/poolresource.cpp
Labels: Tests

#30012 opportunistic 1p1c followups
  src/net_processing.cpp
  src/policy/packages.cpp
  src/rpc/mempool.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/util/txmempool.cpp
  src/txorphanage.cpp
  src/validation.h
Labels: Refactoring

#30026 refactor, test: Always initialize pointer
  build_msvc/test_bitcoin/test_bitcoin.vcxproj
  src/test/validation_chainstate_tests.cpp
Labels: Tests

#30029 test: remove duplicate `WITNESS_SCALE_FACTOR` constant definition
  test/functional/feature_taproot.py
  test/functional/test_framework/blocktools.py
Labels: Tests

#30024 doc: replace remaining "520" magic nums with MAX_SCRIPT_ELEMENT_SIZE
  src/net_processing.cpp
  src/outputtype.cpp
  src/policy/policy.cpp
  test/functional/p2p_segwit.py
Labels: Docs

#25972 build: no-longer disable WARN_CXXFLAGS when CXXFLAGS is set
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_win64.sh
  configure.ac
Labels: Build system, Needs CMake port

#29907 test: Fix `test/streams_tests.cpp` compilation on SunOS / illumos
  src/test/streams_tests.cpp
Labels: Tests

#28657 miniscript: make operator""_mst consteval
  src/script/miniscript.cpp
  src/script/miniscript.h
  src/test/fuzz/miniscript.cpp
Labels: Descriptors

#29960 depends: pass verbose through to cmake based makefiles
  depends/funcs.mk
Labels: Build system

#29773 build, bench, msvc: Add missing benchmarks
  build_msvc/bench_bitcoin/bench_bitcoin.vcxproj.in
  src/bench/wallet_create.cpp
Labels: Windows, Build system, Tests

#29845 rpc: return warnings as an array instead of just a single one
  doc/release-notes-29845.md
  src/node/interfaces.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/warnings.cpp
  src/warnings.h
  test/functional/feature_versionbits_warning.py
Labels: RPC/REST/ZMQ

#29984 net: Replace ifname check with IFF_LOOPBACK in Discover
  src/net.cpp
  src/net.h
Labels: P2P

#30025 doc: fix broken relative md links
  doc/design/libraries.md
  doc/design/multiprocess.md
  doc/developer-notes.md
  test/functional/test-shell.md
  test/lint/README.md
Labels: Docs

#30054 ci: Exclude feature_init for now in valgrind task
  ci/test/00_setup_env_native_valgrind.sh
Labels: Tests

#30053 test: added test coverage to loadtxoutset could not open file
  test/functional/feature_assumeutxo.py
Labels: Tests

#28336 rpc: parse legacy pubkeys consistently with specific error messages
  src/rpc/output_script.cpp
  src/rpc/util.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/spend.cpp
  test/functional/rpc_rawtransaction.py
  test/functional/wallet_basic.py
  test/functional/wallet_fundrawtransaction.py
Labels: RPC/REST/ZMQ

#26326 net: don't lock cs_main while reading blocks in net processing
  src/net_processing.cpp
Labels: P2P, Needs Benchmark

#29335 test: Handle functional test disk-full error
  test/functional/test_runner.py
Labels: Tests

#29292 rpc: improve submitpackage documentation and other improvements
  src/rpc/mempool.cpp
  test/functional/rpc_packages.py
Labels: RPC/REST/ZMQ

#29973 test: Assumeutxo: ensure failure when importing a snapshot twice
  test/functional/feature_assumeutxo.py
Labels: Tests

#28793 contrib: Add asmap-tool
  contrib/asmap/README.md
  contrib/asmap/asmap-tool.py
  contrib/asmap/asmap.py
  contrib/seeds/makeseeds.py
Labels: Scripts and tools

#29122 test: adds outbound eviction functional tests, updates comment in ConsiderEviction
  src/net_processing.cpp
  test/functional/p2p_outbound_eviction.py
  test/functional/test_runner.py
Labels: Tests

#29939 test: add MiniWallet tagging support to avoid UTXO mixing, use in `fill_mempool`
  test/functional/mempool_limit.py
  test/functional/p2p_1p1c_network.py
  test/functional/p2p_opportunistic_1p1c.py
  test/functional/p2p_tx_download.py
  test/functional/rpc_packages.py
  test/functional/test_framework/address.py
  test/functional/test_framework/mempool_util.py
  test/functional/test_framework/util.py
  test/functional/test_framework/wallet.py
Labels: Tests

#30006 test: use sleepy wait-for-log in reindex readonly
  test/functional/feature_init.py
  test/functional/feature_reindex_readonly.py
  test/functional/test_framework/test_node.py
Labels: Tests

#29948 test: add missing comparison of node1's mempool in MempoolPackagesTest
  test/functional/mempool_packages.py
Labels: Tests

#29252 kernel: Remove key module from kernel library
  src/Makefile.am
  src/bench/bip324_ecdh.cpp
  src/bench/ccoins_caching.cpp
  src/bench/checkqueue.cpp
  src/bench/descriptors.cpp
  src/bench/ellswift.cpp
  src/bench/verify_script.cpp
  src/bitcoin-chainstate.cpp
  src/bitcoin-tx.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
  src/init.cpp
  src/kernel/checks.cpp
  src/kernel/context.cpp
  src/kernel/context.h
  src/key.cpp
  src/key.h
  src/node/context.cpp
  src/node/context.h
  src/node/interfaces.cpp
  src/node/kernel_notifications.cpp
  src/rpc/mining.cpp
  src/test/fuzz/bip324.cpp
  src/test/fuzz/descriptor_parse.cpp
  src/test/fuzz/key.cpp
  src/test/fuzz/key_io.cpp
  src/test/fuzz/message.cpp
  src/test/fuzz/miniscript.cpp
  src/test/fuzz/p2p_transport_serialization.cpp
  src/test/fuzz/script_sign.cpp
  src/test/fuzz/secp256k1_ecdsa_signature_parse_der_lax.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Labels: Validation

#29739 build: swap cctools otool for llvm-objdump
  Makefile.am
  configure.ac
  contrib/macdeploy/macdeployqtplus
  depends/Makefile
  depends/builders/darwin.mk
  depends/builders/default.mk
  depends/config.site.in
  depends/hosts/darwin.mk
  depends/hosts/default.mk
  depends/packages/native_llvm.mk
Labels: Build system, Needs CMake port

#30081 refactor: Remove unused code from `subprocess.h` header
  src/util/subprocess.h
Labels: Refactoring

#29888 [27.x] Backports
  build-aux/m4/l_atomic.m4
  ci/test/00_setup_env_s390x.sh
  depends/packages/qt.mk
  depends/patches/qt/zlib-timebits64.patch
  doc/build-osx.md
  doc/release-notes.md
  doc/release-notes/release-notes-27.0.md
  src/core_read.cpp
  src/index/base.cpp
  src/kernel/chainparams.cpp
  src/rpc/node.cpp
  src/script/sign.cpp
  src/test/rpc_tests.cpp
  src/test/script_tests.cpp
  src/univalue/test/object.cpp
  test/functional/rpc_psbt.py
  test/functional/rpc_signrawtransactionwithkey.py
  test/functional/rpc_uptime.py
  test/functional/wallet_signrawtransactionwithwallet.py
Labels: Backport, CI failed

#29994 doc: removed help text saying that peers may not connect automatically
  src/init.cpp
Labels: Docs

#29974 fuzz: txorphan tests fixups
  src/test/fuzz/txorphan.cpp
Labels: Tests

#30094 rpc: move UniValue in blockToJSON
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ, Needs backport (27.x)

#28233 validation: don't clear cache on periodic flush: >2x block connection speed
  src/validation.cpp
Labels: Validation

#30078 depends: set AR & RANLIB for CMake
  depends/funcs.mk
Labels: Build system

#30083 kernel: Remove batchpriority from kernel library
  src/Makefile.am
  src/init.cpp
  src/node/blockstorage.cpp
Labels: Validation

#29086 refactor: Simply include CTxMemPool::Options in CTxMemPool directly rather than duplicating definition
  src/kernel/mempool_persist.cpp
  src/net_processing.cpp
  src/node/interfaces.cpp
  src/rpc/fees.cpp
  src/rpc/mempool.cpp
  src/rpc/net.cpp
  src/test/txpackage_tests.cpp
  src/test/util/setup_common.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
Labels: Refactoring

#30098 refactor: simplify `FormatSubVersion` using strprintf/Join
  src/clientversion.cpp
Labels: Refactoring

#30060 ci: Roll clang in test-each-commit task
  .github/workflows/ci.yml
Labels: Tests

#30000 p2p: index TxOrphanage by wtxid, allow entries with same txid
  src/net_processing.cpp
  src/test/fuzz/txorphan.cpp
  src/test/orphanage_tests.cpp
  src/txorphanage.cpp
  src/txorphanage.h
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_orphan_handling.py
Labels: P2P

#30097 crypto: disable asan for sha256_sse4 with clang and -O0
  src/crypto/sha256_sse4.cpp
Labels: Utils/log/libs, Needs backport (27.x)

#30085 p2p: detect addnode cjdns peers in GetAddedNodeInfo()
  src/net.cpp
  src/test/net_peer_connection_tests.cpp
Labels: P2P

#29975 blockstorage: Separate reindexing from saving new blocks
  src/bench/readblock.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/test/blockmanager_tests.cpp
  src/validation.cpp
Labels: Block storage

#30048 crypto: add `NUMS_H` const
  src/pubkey.cpp
  src/pubkey.h
  src/test/fuzz/miniscript.cpp
  src/test/key_tests.cpp
  src/test/miniscript_tests.cpp
  src/test/script_tests.cpp
  test/functional/feature_framework_unit_tests.py
  test/functional/test_framework/crypto/secp256k1.py
Labels: Utils/log/libs, CI failed

#29817 kernel: De-globalize fReindex
  src/bitcoin-chainstate.cpp
  src/init.cpp
  src/kernel/blockmanager_opts.h
  src/node/blockmanager_args.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/node/chainstate.cpp
  src/test/util/setup_common.cpp
  src/validation.cpp
Labels: Validation

#30066 test: add conflicting topology test case
  test/functional/rpc_packages.py
Labels: Tests

#30133 test: remove unneeded `-maxorphantx=1000` settings
  test/functional/feature_rbf.py
  test/functional/mempool_package_onemore.py
  test/functional/mempool_packages.py
Labels: Tests

#26606 wallet: Implement independent BDB parser
  src/Makefile.am
  src/Makefile.test.include
  src/bitcoin-wallet.cpp
  src/dummywallet.cpp
  src/streams.cpp
  src/streams.h
  src/wallet/bdb.cpp
  src/wallet/bdb.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/dump.cpp
  src/wallet/init.cpp
  src/wallet/migrate.cpp
  src/wallet/migrate.h
  src/wallet/test/db_tests.cpp
  src/wallet/test/fuzz/wallet_bdb_parser.cpp
  src/wallet/test/util.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/wallettool.cpp
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
  test/functional/tool_wallet.py
Labels: Wallet, Needs CMake port

#30095 util: avoid using thread_local variable that has a destructor
  configure.ac
  src/sync.cpp
  src/util/threadnames.cpp
  src/util/threadnames.h
Labels: Utils/log/libs, Needs CMake port

#30143 doc: Update NetBSD Build Guide
  doc/build-netbsd.md
Labels: Docs, Linux/Unix, Build system

#29421 net: make the list of known message types a compile time constant
  src/net.cpp
  src/protocol.cpp
  src/protocol.h
  src/test/fuzz/p2p_transport_serialization.cpp
  src/test/fuzz/process_message.cpp
  test/fuzz/test_runner.py
Labels: P2P

#30137 build: Remove `--enable-threadlocal`
  configure.ac
  src/init/common.cpp
  src/test/util/random.h
  src/test/util_threadnames_tests.cpp
  src/util/threadnames.cpp
Labels: Build system, DrahtBot Guix build requested, Needs CMake port

#30144 ci: Add mising -Wno-error=maybe-uninitialized to armhf task
  ci/test/00_setup_env_arm.sh
Labels: Tests, Needs CMake port

#30150 doc: Correct pull request prefix for scripts and tools
  CONTRIBUTING.md
Labels: Docs

#30151 depends: Fetch miniupnpc sources from an alternative website
  depends/packages/miniupnpc.mk
Labels: Build system

#30062 net: add ASMap info in `getrawaddrman` RPC
  src/rpc/net.cpp
  test/functional/feature_asmap.py
Labels: P2P

#30115 rpc: avoid copying into UniValue
  src/bitcoin-cli.cpp
  src/core_write.cpp
  src/net_types.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/external_signer.cpp
  src/rpc/fees.cpp
  src/rpc/mempool.cpp
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/rpc/node.cpp
  src/rpc/output_script.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rawtransaction_util.cpp
  src/rpc/server.cpp
  src/rpc/util.cpp
  src/test/script_tests.cpp
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/rpc/util.cpp
  src/wallet/rpc/wallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/zmq/zmqrpc.cpp
Labels: RPC/REST/ZMQ

#29873 policy: restrict all TRUC (v3) transactions to 10kvB
  src/policy/v3_policy.cpp
  src/policy/v3_policy.h
  src/test/util/txmempool.cpp
  src/validation.cpp
  test/functional/mempool_accept_v3.py
Labels: TX fees and policy

#27064 system: use %LOCALAPPDATA% as default datadir on windows
  doc/bitcoin-conf.md
  doc/files.md
  doc/managing-wallets.md
  doc/release-notes/release-notes-27064.md
  src/common/args.cpp
Labels: Windows

#29612 rpc: Optimize serialization and enhance metadata of dumptxoutset output
  src/kernel/chainparams.cpp
  src/kernel/chainparams.h
  src/node/utxo_snapshot.h
  src/rpc/blockchain.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_assumeutxo.py
  test/functional/rpc_dumptxoutset.py
Labels: RPC/REST/ZMQ, Needs release note

#30072 refactor prep for package rbf
  doc/policy/packages.md
  src/validation.cpp
  test/functional/mempool_package_onemore.py
Labels: Mempool

#29899 [26.x] archive 26.1 release notes + backports
  .github/workflows/ci.yml
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_s390x.sh
  contrib/windeploy/win-codesign.cert
  depends/packages/qt.mk
  depends/patches/qt/zlib-timebits64.patch
  doc/build-unix.md
  doc/release-notes.md
  doc/release-notes/release-notes-26.1.md
  src/core_read.cpp
  src/index/base.cpp
  src/kernel/chainparams.cpp
  src/net.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/node.cpp
  src/script/sign.cpp
  src/test/script_tests.cpp
  test/functional/rpc_blockchain.py
  test/functional/rpc_psbt.py
  test/functional/rpc_signrawtransactionwithkey.py
  test/functional/rpc_uptime.py
  test/functional/wallet_signrawtransactionwithwallet.py
Labels: Backport

#30156 fuzz: More accurate coverage reports
  src/test/fuzz/fuzz.cpp
Labels: Tests

#21778 build: LLD based macOS toolchain
  contrib/devtools/symbol-check.py
  contrib/devtools/test-security-check.py
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  contrib/macdeploy/README.md
  depends/Makefile
  depends/builders/darwin.mk
  depends/funcs.mk
  depends/gen_id
  depends/hosts/darwin.mk
  depends/packages/native_cctools.mk
  depends/packages/native_libtapi.mk
  depends/packages/native_llvm.mk
  depends/packages/packages.mk
  depends/packages/qt.mk
  depends/patches/native_libtapi/disable_zlib.patch
  depends/patches/qt/mac-qmake.conf
  depends/patches/qt/no_warnings_for_symbols.patch
Labels: macOS, Build system

#30172 fuzz: Handle missing BDBRO errors
  src/wallet/test/fuzz/wallet_bdb_parser.cpp
Labels: Tests

#30122 bench: enable wallet creation benchmarks on all platforms
  src/bench/wallet_create.cpp
Labels: Tests

#30049 build, test, doc: Temporarily remove Android-related stuff
  build-aux/m4/bitcoin_qt.m4
  ci/test/00_setup_env_android.sh
  ci/test/01_base_install.sh
  ci/test/02_run_container.sh
  ci/test/03_test_script.sh
  configure.ac
  depends/Makefile
  depends/README.md
  depends/hosts/android.mk
  depends/packages/packages.mk
  depends/packages/qt.mk
  depends/patches/qt/fix_android_jni_static.patch
  doc/README.md
  doc/build-android.md
  src/Makefile.qt.include
  src/qt/android/.gitignore
  src/qt/android/AndroidManifest.xml
  src/qt/android/build.gradle
  src/qt/android/gradle.properties
  src/qt/android/res/drawable-hdpi/bitcoin.png
  src/qt/android/res/drawable-ldpi/bitcoin.png
  src/qt/android/res/drawable-mdpi/bitcoin.png
  src/qt/android/res/drawable-xhdpi/bitcoin.png
  src/qt/android/res/drawable-xxhdpi/bitcoin.png
  src/qt/android/res/drawable-xxxhdpi/bitcoin.png
  src/qt/android/res/values/libs.xml
  src/qt/android/src/org/bitcoincore/qt/BitcoinQtActivity.java
Labels: Build system, Android

#30034 ci: add markdown link check job
  ci/lint/04_install.sh
  test/lint/README.md
  test/lint/test_runner/src/main.rs
Labels: Tests

#30198 depends: qt 5.15.14 and fix macOS build with Clang 18
  depends/packages/qt.mk
  depends/patches/qt/clang_18_libpng.patch
Labels: Build system

#30204 depends: consolidate dependency docs
  depends/README.md
Labels: Build system
