Repository bitcoin/bitcoin, pull requests merged in 2024-04, with the labels that each got.

#29738 doc: fix typos
  ci/lint/04_install.sh
  contrib/guix/patches/glibc-2.27-fcommon.patch
  depends/packages/expat.mk
  src/cuckoocache.h
  src/script/miniscript.h
  src/validation.cpp
  src/validation.h
  test/functional/p2p_block_sync.py
Labels: Docs

#29764 doc: Suggest installing dev packages for debian/ubuntu qt5 build
  .github/workflows/ci.yml
  ci/test/00_setup_env_native_tidy.sh
  doc/build-unix.md
Labels: Docs, Needs backport (26.x)

#29732 depends: qt 5.15.13
  depends/packages/qt.mk
  depends/patches/qt/fix_android_jni_static.patch
  depends/patches/qt/memory_resource.patch
  depends/patches/qt/use_android_ndk23.patch
  doc/dependencies.md
Labels: Build system

#29765 ci: Use clang-18
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_tsan.sh
Labels: Tests

#29756 doc: Override `-g` properly to skip debugging information
  doc/build-unix.md
Labels: Docs

#29753 test: fix StopIteration exception in p2p_node_network_limited.py
  test/functional/p2p_node_network_limited.py
Labels: Tests

#29750 test: makes timeout a forced named argument in tests methods that use it
  test/functional/feature_assumevalid.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_segwit.py
  test/functional/test_framework/p2p.py
Labels: Tests

#29687 cli: improve bitcoin-cli error when not connected
  src/bitcoin-cli.cpp
Labels: Scripts and tools

#29419 log: deduplicate category names and improve logging.cpp
  src/logging.cpp
  src/logging.h
Labels: Utils/log/libs

#29787 guix: remove errant leftover from #29648
  contrib/guix/libexec/build.sh
Labels: Build system, DrahtBot Guix build requested, CI failed

#29782 doc: Update the developer mailing list address.
  CONTRIBUTING.md
  doc/dnsseed-policy.md
Labels: Docs, CI failed

#29665 build, depends: Fix `libmultiprocess` cross-compilation
  depends/packages/libmultiprocess.mk
Labels: CI failed

#29794 [25.x] Finalize 25.2
  configure.ac
  doc/bips.md
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport, CI failed

#29527 depends: add -g to DEBUG=1 flags
  depends/hosts/darwin.mk
  depends/hosts/linux.mk
  depends/hosts/mingw32.mk
  depends/packages/sqlite.mk
Labels: Build system, CI failed

#29788 ci: Temporarily disable bpfcc-tools
  ci/test/00_setup_env_native_asan.sh
Labels: Tests, CI failed

#29673 guix: use GCC 11 in macOS build env
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
Labels: Build system

#29776 ThreadSanitizer: Fix #29767
  src/index/base.cpp
Labels: CI failed

#29725 depends: build libqrencode with CMake
  contrib/guix/manifest.scm
  depends/packages/qrencode.mk
  depends/patches/qrencode/cmake_fixups.patch
Labels: Build system

#29800 ci: Drop duplicated compiler flags
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/00_setup_env_native_tsan.sh
Labels: Tests

#29805 test: Fix debug recommendation in argsman_tests
  src/test/argsman_tests.cpp
Labels: Tests

#29815 crypto: chacha20: always use our fallback timingsafe_bcmp rather than libc's
  configure.ac
  src/crypto/chacha20poly1305.cpp
Labels: Utils/log/libs

#29791 test: Bump timeouts in feature_index_prune and wallet_importdescriptors
  test/functional/feature_index_prune.py
  test/functional/wallet_importdescriptors.py
Labels: Tests

#29742 ci: remove --with-asm=no (secp256k1) from MSAN jobs
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/01_base_install.sh
Labels: Tests

#29822 test: remove immediate tx relay workaround in wallet_groups.py
  test/functional/wallet_groups.py
Labels: Tests

#29830 doc: 25.2 historical release notes
  doc/release-notes/release-notes-25.2.md
Labels: Docs

#29781 depends: add new LLVM debug macro
  depends/hosts/linux.mk
Labels: Build system

#29498 test: Update --tmpdir doc string to say directory must not exist
  test/functional/test_framework/test_framework.py
Labels: Tests

#29821 fuzz: Some `test/fuzz/test_runner.py` improvements
  test/fuzz/test_runner.py
Labels: Tests

#29752 refactor: Use typesafe Wtxid in compact block encodings
  src/blockencodings.cpp
  src/blockencodings.h
  src/net_processing.cpp
  src/test/blockencodings_tests.cpp
  src/test/fuzz/partially_downloaded_block.cpp
Labels: Refactoring

#29834 build: Change MAC_OSX macro to __APPLE__ in crypto
  src/crypto/sha256.cpp
Labels: Build system, DrahtBot Guix build requested

#29844 depends: remove no longer needed patch for Boost::Process
  depends/packages/boost.mk
  depends/patches/boost/process_macos_sdk.patch
Labels: Build system

#29735 AcceptMultipleTransactions: Fix workspace not being set as client_maxfeerate failure
  src/test/fuzz/package_eval.cpp
  src/validation.cpp
  test/functional/mempool_limit.py
  test/functional/rpc_packages.py
  test/functional/test_framework/util.py
Labels: Validation

#29856 ci: Bump s390x to ubuntu:24.04
  ci/test/00_setup_env_s390x.sh
Labels: Tests

#29848 ci: use Clang 16 for Valgrind
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_valgrind.sh
  contrib/valgrind.supp
Labels: Tests

#29699 test: check disconnection when sending sendaddrv2 after verack
  test/functional/p2p_addrv2_relay.py
Labels: Tests

#29780 [27.x] More backports and finalize
  .github/workflows/ci.yml
  CONTRIBUTING.md
  ci/test/00_setup_env_native_tidy.sh
  ci/test/03_test_script.sh
  configure.ac
  doc/build-unix.md
  doc/dnsseed-policy.md
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport, CI failed

#29886 doc: archive 27.0 release notes
  doc/release-notes/release-notes-27.0.md
Labels: Docs, CI failed

#29828 guix: remove `gcc-toolchain static` from Windows build
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
Labels: Build system

#29892 test: Fix failing univalue float test
  src/test/rpc_tests.cpp
  src/univalue/test/object.cpp
Labels: Tests, Needs backport (27.x)

#29893 test: fix intermittent failure in p2p_compactblocks_hb.py
  test/functional/p2p_compactblocks_hb.py
Labels: Tests

#29846 guix: replace GCC unaligned VMOV patch with binutils patch
  contrib/guix/manifest.scm
  contrib/guix/patches/binutils-unaligned-default.patch
  contrib/guix/patches/vmov-alignment.patch
Labels: Build system

#29859 build: Fix false positive `CHECK_ATOMIC` test
  build-aux/m4/l_atomic.m4
Labels: Build system

#28373 doc: Add example of mixing private and public keys in descriptors
  doc/descriptors.md
Labels: Docs

#28340 security: restrict abis in bitcoind.service
  contrib/init/bitcoind.service
Labels: CI failed

#29879 fuzz: explicitly cap the vsize of RBFs for diagram checks
  src/test/fuzz/rbf.cpp
Labels: Tests

#27679 ZMQ: Support UNIX domain sockets
  doc/release-notes-27679.md
  src/init.cpp
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqutil.h
  test/functional/interface_zmq.py
Labels: RPC/REST/ZMQ

#29898 test: Fix intermittent issue in p2p_handshake.py
  test/functional/p2p_handshake.py
Labels: Tests

#29850 net: Decrease nMaxIPs when learning from DNS seeds
  src/net.cpp
Labels: P2P

#29933 test: Fix intermittent timeout in p2p_tx_download.py
  test/functional/p2p_tx_download.py
Labels: Tests

#29777 test: refactor: introduce and use `calculate_input_weight` helper
  test/functional/rpc_psbt.py
  test/functional/test_framework/wallet_util.py
  test/functional/test_runner.py
  test/functional/wallet_send.py
Labels: Tests

#29865 util: remove unused cpp-subprocess options
  src/util/subprocess.hpp
Labels: Utils/log/libs

#28974 doc: explain what the wallet password does
  doc/managing-wallets.md
Labels: Docs

#29688 test: remove duplicated ban test
  test/functional/p2p_disconnect_ban.py
  test/functional/rpc_setban.py
Labels: Tests

#24313 Improve display address handling for external signer
  doc/external-signer.md
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/wallet/external_signer_scriptpubkeyman.cpp
  src/wallet/external_signer_scriptpubkeyman.h
  src/wallet/interfaces.cpp
  src/wallet/rpc/addresses.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/mocks/signer.py
  test/functional/wallet_signer.py
Labels: GUI, Wallet, RPC/REST/ZMQ, interfaces

#29929 ci: Drop no longer needed `-I` flag in "tidy" task
  ci/test/00_setup_env_native_tidy.sh
Labels: Tests

#29882 netbase: clean up Proxy logging
  src/netbase.cpp
Labels: P2P, Utils/log/libs

#29932 doc: suggest only necessary Qt packages for installation on FreeBSD
  doc/build-freebsd.md
Labels: Docs

#29853 sign: don't assume we are parsing a sane TapMiniscript
  src/script/sign.cpp
  src/test/script_tests.cpp
Labels: Needs backport (27.x)

#29585 contrib: list other binaries in manpage output
  contrib/devtools/gen-manpages.py
Labels: Scripts and tools

#29837 ci: disable `_FORTIFY_SOURCE` with MSAN
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_msan.sh
Labels: Tests

#29910 refactor: Rename `subprocess.hpp` to follow our header name conventions
  src/Makefile.am
  src/common/run_command.cpp
  src/test/system_tests.cpp
  src/util/subprocess.h
Labels: Refactoring

#29757 feefrac: avoid explicitly computing diagram; compare based on chunks
  src/policy/rbf.cpp
  src/test/feefrac_tests.cpp
  src/test/fuzz/feeratediagram.cpp
  src/test/fuzz/rbf.cpp
  src/test/rbf_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/util/feefrac.cpp
  src/util/feefrac.h
Labels: Utils/log/libs

#29890 deploy: remove some tools when cross-compiling for macOS
  Makefile.am
  configure.ac
  contrib/macdeploy/README.md
  depends/Makefile
  depends/builders/darwin.mk
  depends/builders/default.mk
  depends/config.site.in
  depends/hosts/darwin.mk
  depends/hosts/default.mk
Labels: macOS, Build system, Needs CMake port

#29689 lint: scripted-diff verification also requires GNU grep
  test/lint/commit-script-check.sh
Labels: Tests

#29904 refactor: Use our own implementation of urlDecode
  configure.ac
  src/Makefile.am
  src/Makefile.test.include
  src/bitcoin-cli.cpp
  src/bitcoin-wallet.cpp
  src/bitcoind.cpp
  src/common/url.cpp
  src/common/url.h
  src/qt/main.cpp
  src/test/common_url_tests.cpp
  src/test/fuzz/string.cpp
  src/test/util/setup_common.cpp
  src/wallet/rpc/util.cpp
Labels: Refactoring, Wallet, RPC/REST/ZMQ, Needs CMake port

#29736 test: Extends wait_for_getheaders so a specific block hash can be checked
  test/functional/mining_basic.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_initial_headers_sync.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/test_framework/p2p.py
Labels: Tests

#29615 test: fix accurate multisig sigop count (BIP16), add unit test
  test/functional/test_framework/script.py
Labels: Tests

#29433 contrib: rpcauth.py - Add new option (-json) to output text in json format
  share/rpcauth/README.md
  share/rpcauth/rpcauth.py
Labels: Scripts and tools

#29867 index: race fix, lock cs_main while 'm_synced' is subject to change
  src/index/base.cpp
Labels: UTXO Db and Indexes

#28834 net: attempts to connect to all resolved addresses when connecting to a node
  src/net.cpp
Labels: P2P

#29967 test: Add two more urlDecode tests
  src/test/common_url_tests.cpp
Labels: Tests

#29771 test: Run framework unit tests in parallel
  test/functional/feature_framework_unit_tests.py
  test/functional/test_runner.py
Labels: Tests

#29976 build, msvc: Drop duplicated `common\url.cpp` source file
  build_msvc/libbitcoin_common/libbitcoin_common.vcxproj.in
Labels: Windows, Build system

#29774 build: Enable fuzz binary in MSVC
  .github/workflows/ci.yml
  build_msvc/bitcoin.sln
  build_msvc/bitcoind/bitcoind.vcxproj
  build_msvc/common.init.vcxproj.in
  build_msvc/fuzz/fuzz.vcxproj
  src/test/fuzz/addition_overflow.cpp
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/multiplication_overflow.cpp
  test/fuzz/test_runner.py
Labels: Build system, Needs CMake port

#29895 guix: remove bzip2 from deps
  contrib/guix/manifest.scm
  depends/packages/boost.mk
  depends/packages/fontconfig.mk
  depends/packages/libXau.mk
  depends/packages/libxcb_util.mk
  depends/packages/libxcb_util_image.mk
  depends/packages/libxcb_util_keysyms.mk
  depends/packages/libxcb_util_render.mk
  depends/packages/libxcb_util_wm.mk
  depends/packages/qrencode.mk
  depends/packages/xproto.mk
Labels: Build system

#29872 test: Add missing Assert(mock_time_in >= 0s) to SetMockTime
  src/util/time.cpp
Labels: Tests

#29277 RPC: access RPC arguments by name
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/rpc/signmessage.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/test/rpc_tests.cpp
  src/wallet/rpc/coins.cpp
Labels: RPC/REST/ZMQ

#29985 depends: Fix build of Qt for 32-bit platforms with recent glibc
  depends/packages/qt.mk
  depends/patches/qt/zlib-timebits64.patch
Labels: GUI, Build system, Needs backport (27.x)

#29990 fuzz: don't allow adding duplicate transactions to the mempool
  src/test/fuzz/partially_downloaded_block.cpp
Labels: Tests

#29986 test: Don't rely on incentive incompatible replacement in mempool_accept_v3.py
  test/functional/mempool_accept_v3.py
Labels: Tests

#29906 Disable util::Result copying and assignment
  src/init.cpp
  src/qt/addresstablemodel.cpp
  src/test/mempool_tests.cpp
  src/util/result.h
  src/validation.cpp
  src/wallet/spend.cpp
  src/wallet/test/fuzz/coinselection.cpp
  src/wallet/test/fuzz/notifications.cpp
  src/wallet/test/spend_tests.cpp
Labels: Refactoring

#28970 p2p: opportunistically accept 1-parent-1-child packages
  src/net_processing.cpp
  src/policy/packages.cpp
  src/policy/packages.h
  src/test/fuzz/txorphan.cpp
  src/test/orphanage_tests.cpp
  src/test/txpackage_tests.cpp
  src/txorphanage.cpp
  src/txorphanage.h
  test/functional/p2p_1p1c_network.py
  test/functional/p2p_opportunistic_1p1c.py
  test/functional/test_runner.py
Labels: P2P

#28016 p2p: gives seednode priority over dnsseed if both are provided
  src/init.cpp
  src/net.cpp
  src/net.h
Labels: P2P

#29813 doc: i2p: improve `-i2pacceptincoming` mention
  doc/i2p.md
Labels: Docs
