Repository bitcoin/bitcoin, pull requests merged in 2024-02, with the labels that each got.

#29275 refactor: Fix prevector iterator concept issues
  src/prevector.h
Labels: Refactoring

#29361 refactor: Fix timedata includes
  src/chain.h
  src/headerssync.cpp
  src/net_processing.cpp
  src/node/miner.cpp
  src/rpc/mining.cpp
  src/test/miner_tests.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/timedata.h
  src/validation.cpp
Labels: Refactoring

#29367 wallet: Set descriptors flag after migrating blank wallets
  src/wallet/wallet.cpp
  test/functional/wallet_migration.py
Labels: Wallet

#28868 wallet: Fix migration of wallets with txs that have both spendable and watchonly outputs
  src/wallet/wallet.cpp
  test/functional/wallet_migration.py
Labels: Wallet

#29354 test: Assumeutxo with more than just coinbase transactions
  src/kernel/chainparams.cpp
  test/functional/feature_assumeutxo.py
  test/functional/wallet_assumeutxo.py
Labels: Tests

#29353 test: p2p: adhere to typical VERSION message protocol flow
  test/functional/p2p_add_connections.py
  test/functional/p2p_addr_relay.py
  test/functional/p2p_sendtxrcncl.py
  test/functional/test_framework/p2p.py
Labels: Tests

#29356 test: make v2transport arg in addconnection mandatory and few cleanups
  src/rpc/net.cpp
  test/functional/feature_anchors.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/v2_p2p.py
Labels: Tests

#29375 wallet: remove unused 'accept_no_keys' arg from decryption process
  src/wallet/db.h
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#28833 wallet: refactor: remove unused `SignatureData` instances in spkm's `FillPSBT` methods
  src/wallet/scriptpubkeyman.cpp
Labels: Wallet

#29388 fuzz: remove unused `args` and `context` from `FuzzedWallet`
  src/wallet/test/fuzz/notifications.cpp
Labels: Tests

#29363 test: Fix CPartialMerkleTree.nTransactions signedness
  test/functional/test_framework/messages.py
Labels: Tests

#29112 sqlite: Disallow writing from multiple `SQLiteBatch`s
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
  src/wallet/test/db_tests.cpp
  test/functional/wallet_descriptor.py
Labels: Wallet

#29114 util: Faster std::byte (pre)vector (un)serialize
  src/serialize.h
  src/span.h
Labels: Utils/log/libs, CI failed

#27319 addrman, refactor: improve stochastic test in `AddSingle`
  src/addrman.cpp
Labels: CI failed

#29372 test: fix intermittent failure in `rpc_setban.py --v2transport`, run it in CI
  test/functional/rpc_setban.py
  test/functional/test_runner.py
Labels: Tests

#29377 test: Add makefile target for running unit tests
  src/Makefile.test.include
  src/test/README.md
Labels: Tests

#28996 test: maxuploadtarget: check for mempool msg disconnect if limit is reached, improve existing test coverage
  test/functional/feature_maxuploadtarget.py
Labels: Tests

#27877 wallet: Add CoinGrinder coin selection algorithm
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/fuzz/coinselection.cpp
Labels: Wallet

#28948 v3 transaction policy for anti-pinning
  doc/policy/mempool-replacements.md
  src/Makefile.am
  src/policy/rbf.cpp
  src/policy/rbf.h
  src/policy/v3_policy.cpp
  src/policy/v3_policy.h
  src/rpc/mempool.cpp
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/rbf_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txvalidation_tests.cpp
  src/test/util/txmempool.cpp
  src/test/util/txmempool.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  test/functional/feature_bip68_sequence.py
  test/functional/mempool_accept_v3.py
  test/functional/mempool_package_limits.py
  test/functional/mempool_sigoplimit.py
  test/functional/test_framework/wallet.py
  test/functional/test_runner.py
Labels: TX fees and policy, Mempool

#29399 test: Fix utxo set hash serialisation signedness
  test/functional/feature_utxo_set_hash.py
Labels: Tests

#28987 wallet: simplify and batch zap wallet txes process
  src/wallet/rpc/backup.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/wallet_importprunedfunds.py
Labels: Wallet

#29425 test: fix intermittent failure in wallet_reorgrestore.py
  test/functional/wallet_reorgsrestore.py
Labels: Tests

#29424 v3 followups
  doc/policy/mempool-replacements.md
  src/policy/v3_policy.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/txvalidation_tests.cpp
  test/functional/mempool_accept_v3.py
  test/functional/mempool_sigoplimit.py
Labels: Refactoring, Docs, Tests

#29413 fuzz: increase length of string used for `NetWhitelist{bind}Permissions::TryParse`
  src/test/fuzz/net_permissions.cpp
Labels: Tests

#29403 wallet: batch erase procedures and improve 'EraseRecords' performance
  src/wallet/bdb.cpp
  src/wallet/test/db_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Wallet

#29414 doc: Update translation process guide
  doc/translation_process.md
Labels: Docs

#28037 rpc: Drop migratewallet experimental warning
  src/wallet/rpc/wallet.cpp
Labels: RPC/REST/ZMQ, CI failed

#29209 [26.x] more backports
  contrib/macdeploy/detached-sig-create.sh
  src/i2p.cpp
  src/kernel/mempool_entry.h
  src/kernel/mempool_persist.cpp
  src/node/interfaces.cpp
  src/rpc/mempool.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  test/functional/test_runner.py
  test/functional/wallet_import_rescan.py
  test/functional/wallet_rescan_unconfirmed.py
Labels: Backport, CI failed

#29452 doc: document that BIP324 on by default for v27.0
  doc/bips.md
Labels: Docs

#29434 rpc: Fixed signed integer overflow for large feerates
  src/rpc/mempool.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  test/functional/mempool_accept.py
Labels: RPC/REST/ZMQ

#26008 wallet: cache IsMine scriptPubKeys to improve performance of descriptor wallets
  src/Makefile.bench.include
  src/bench/wallet_ismine.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
Labels: Wallet

#29441 ci: Avoid CI failures from temp env file reuse
  .cirrus.yml
  ci/test/02_run_container.sh
Labels: Tests

#29456 docs: ci multi-arch requires qemu
  ci/README.md
Labels: Docs

#29460 test: assert rpc error for addnode v2transport not enabled
  test/functional/p2p_v2_transport.py
Labels: Tests

#29400 test: Fix SegwitV0SignatureMsg nLockTime signedness
  test/functional/test_framework/script.py
Labels: Tests

#29461 ci: avoid running git diff after patching
  ci/test/03_test_script.sh
Labels: Tests

#29408 lint: Check for missing bitcoin-config.h includes
  ci/lint/04_install.sh
  src/bench/wallet_ismine.cpp
  test/lint/README.md
  test/lint/test_runner/src/main.rs
Labels: Tests

#29470 test: Add option to skip python unit tests
  test/functional/test_runner.py
Labels: Tests

#29469 doc: document preference for list-initialization
  doc/developer-notes.md
Labels: Docs

#29345 rpc: Do not wait for headers inside loadtxoutset
  contrib/devtools/test_utxo_snapshots.sh
  src/rpc/blockchain.cpp
Labels: RPC/REST/ZMQ

#29471 doc: Fix CI-detected codespell warnings
  src/test/span_tests.cpp
  src/wallet/scriptpubkeyman.h
Labels: Docs

#29443 depends: fix BDB compilation on OpenBSD
  depends/packages/bdb.mk
Labels: Build system

#29464 [25.2] Final backports and changes for 25.2rc1
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  src/bench/load_external.cpp
  src/net.cpp
  src/pubkey.h
  src/serialize.h
  src/test/fuzz/p2p_transport_serialization.cpp
  src/test/serialize_tests.cpp
  src/uint256.h
  src/wallet/dump.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
Labels: Backport, CI failed

#29467 test: Fix intermittent issue in interface_rest.py
  test/functional/interface_rest.py
Labels: Tests

#29357 test: Drop `x` modifier in `fsbridge::fopen` call for MinGW builds
  src/test/streams_tests.cpp
Labels: Windows, Tests, Needs backport (26.x)

#28178 fuzz: Generate with random libFuzzer settings
  test/fuzz/test_runner.py
Labels: Tests

#29358 test: use v2 everywhere for P2PConnection if --v2transport is enabled
  test/functional/feature_block.py
  test/functional/feature_maxuploadtarget.py
  test/functional/p2p_ibd_stalling.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_timeouts.py
  test/functional/p2p_v2_earlykeyresponse.py
  test/functional/rpc_net.py
  test/functional/test_framework/test_node.py
Labels: Tests

#29481 doc: Update OpenBSD build docs for 7.4
  doc/build-openbsd.md
Labels: Docs

#29475 doc: Fix Broken Links
  test/functional/test_framework/netutil.py
Labels: Docs

#29503 26.x: backport #28784 ("rpc: keep .cookie if it was not generated")
  src/rpc/request.cpp
  test/functional/feature_filelock.py
Labels: Backport

#29486 build: remove -Wdocumentation conditional
  configure.ac
Labels: Build system

#29493 subtree: update crc32c subtree
  src/crc32c/src/crc32c_arm64.cc
Labels: CI failed

#29489 test: Remove Windows-specific code from `system_tests/run_command`
  src/test/system_tests.cpp
Labels: Tests

#29504 ci: print python version on win64 native job
  .github/workflows/ci.yml
Labels: Tests

#29412 p2p: Don't process mutated blocks
  src/net_processing.cpp
  src/primitives/block.h
  src/test/validation_tests.cpp
  src/util/transaction_identifier.h
  src/validation.cpp
  src/validation.h
  test/functional/p2p_mutated_blocks.py
  test/functional/test_runner.py
Labels: P2P

#29511 test: Fix intermittent failure in rpc_net.py --v2transport
  test/functional/rpc_net.py
Labels: Tests

#29516 test: removes unnecessary check from validation_tests
  src/test/validation_tests.cpp
Labels: Tests

#29390 test: speedup bip324_cipher.py unit test
  test/functional/test_framework/crypto/bip324_cipher.py
Labels: Tests

#29407 build: remove confusing and inconsistent disable-asm option
  configure.ac
  doc/developer-notes.md
  doc/fuzzing.md
  src/Makefile.am
  src/crypto/sha256.cpp
Labels: Build system
