Repository bitcoin/bitcoin, pull requests merged in 2025-02, with the labels that each got.

#31653 lint: Call more checks from test_runner
  ci/lint/06_script.sh
  test/lint/lint-git-commit-check.py
  test/lint/test_runner/src/main.rs
Labels: Tests

#31666 multi-peer orphan resolution followups
  src/node/txdownloadman_impl.cpp
  src/node/txdownloadman_impl.h
  src/test/fuzz/txorphan.cpp
  src/test/fuzz/txrequest.cpp
  src/test/orphanage_tests.cpp
  src/txorphanage.cpp
  src/txorphanage.h
  src/txrequest.cpp
  src/txrequest.h
  test/functional/p2p_orphan_handling.py
  test/functional/test_framework/p2p.py
Labels: P2P

#31358 depends: Avoid hardcoding `host_prefix` in toolchain file
  depends/Makefile
  depends/toolchain.cmake.in
Labels: Build system

#31784 test: added additional coverage to waitforblock and waitforblockheight rpc's
  test/functional/rpc_blockchain.py
Labels: Tests

#25832 tracing: network connection tracepoints
  contrib/tracing/README.md
  contrib/tracing/log_p2p_connections.bt
  doc/tracing.md
  src/net.cpp
  src/net_processing.cpp
  test/functional/interface_usdt_net.py
Labels: Utils/log/libs

#31760 test: make sure we are on sync with a peer before checking if they have sent a message
  test/functional/p2p_orphan_handling.py
Labels: Tests

#31759 test: fixes p2p_ibd_txrelay wait time
  test/functional/p2p_ibd_txrelay.py
Labels: Tests

#31804 ci: Remove no longer needed `-Wno-error=documentation`
  ci/test/00_setup_env_i686_multiprocess.sh
Labels: Tests

#31809 Prepare "Open Transifex translations for v29.0" release step
  .tx/config
  src/qt/CMakeLists.txt
  src/qt/bitcoinstrings.cpp
  src/qt/locale/bitcoin_en.ts
  src/qt/locale/bitcoin_en.xlf
Labels: GUI

#31814 ci: Bump fuzz task timeout
  .cirrus.yml
Labels: Tests

#31800 depends: Avoid using the `-ffile-prefix-map` compiler option
  depends/packages/capnp.mk
  depends/packages/libevent.mk
  depends/packages/libmultiprocess.mk
  depends/packages/zeromq.mk
Labels: Build system

#31811 test: test_inv_block, use mocktime instead of waiting
  test/functional/p2p_tx_download.py
Labels: Tests

#31820 build: consistently use `CLIENT_NAME` in libbitcoinkernel.pc.in
  libbitcoinkernel.pc.in
Labels: Build system

#31810 TxOrphanage: account for size of orphans and count announcements
  src/node/txdownloadman_impl.cpp
  src/test/fuzz/txdownloadman.cpp
  src/test/fuzz/txorphan.cpp
  src/txorphanage.cpp
  src/txorphanage.h
Labels: P2P

#31793 ci: Use clang-20 for sanitizer tasks
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/01_base_install.sh
Labels: Tests

#31384 mining: bugfix: Fix duplicate coinbase tx weight reservation
  doc/release-notes-31384.md
  src/init.cpp
  src/ipc/capnp/mining.capnp
  src/node/miner.cpp
  src/node/miner.h
  src/node/types.h
  src/policy/policy.h
  src/rpc/mining.cpp
  src/test/fuzz/mini_miner.cpp
  test/functional/mining_basic.py
  test/functional/test_framework/messages.py
Labels: Mining

#30205 test: add mocked Sock that can read/write custom data and/or CNetMessages
  src/test/util/net.cpp
  src/test/util/net.h
Labels: Tests

#31819 doc: swap CPPFLAGS for APPEND_CPPFLAGS
  doc/developer-notes.md
Labels: Docs

#31614 test: expect that files may disappear from /proc/PID/fd/
  test/functional/test_framework/netutil.py
Labels: Tests

#30623 test: Fuzz the human-readable part of bech32 as well
  src/bech32.cpp
  src/bech32.h
  src/test/fuzz/bech32.cpp
Labels: Tests

#31837 test: add missing sync to p2p_tx_download.py
  test/functional/p2p_tx_download.py
Labels: Tests

#31022 test: Add mockable steady clock, tests for PCP and NATPMP implementations
  src/common/netif.cpp
  src/common/pcp.cpp
  src/net.cpp
  src/netaddress.cpp
  src/netaddress.h
  src/test/CMakeLists.txt
  src/test/pcp_tests.cpp
  src/util/time.cpp
  src/util/time.h
Labels: Tests, Utils/log/libs

#31818 guix: remove test-security/symbol-check scripts
  cmake/module/Maintenance.cmake
  contrib/devtools/README.md
  contrib/devtools/test-security-check.py
  contrib/devtools/test-symbol-check.py
  contrib/guix/libexec/build.sh
Labels: Build system

#31711 build: set build type and per-build-type flags as early as possible
  CMakeLists.txt
  cmake/module/ProcessConfigurations.cmake
Labels: Build system

#30584 depends: Make default `host` and `build` comparable
  depends/Makefile
Labels: Build system

#31846 test: Remove stale gettime test
  src/test/util_tests.cpp
Labels: Tests

#31678 ci: Skip read-write of default env vars
  ci/test/02_run_container.sh
Labels: Tests

#30911 build: simplify by flattening the dependency graph
  CMakeLists.txt
  cmake/minisketch.cmake
  cmake/module/GenerateHeaders.cmake
  src/util/CMakeLists.txt
Labels: Build system

#31840 depends: add missing Darwin objcopy
  depends/hosts/darwin.mk
Labels: Build system

#31722 cmake: Copy `cov_tool_wrapper.sh.in` to the build tree
  CMakeLists.txt
  cmake/script/CoverageInclude.cmake.in
  cmake/script/cov_tool_wrapper.sh.in
Labels: Bug, Build system

#31495 wallet: Utilize IsMine() and CanProvide() in migration to cover edge cases
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  test/functional/wallet_migration.py
Labels: Wallet

#31768 test: check `scanning` field from `getwalletinfo`
  test/functional/wallet_importdescriptors.py
Labels: Tests

#31758 test: deduplicates p2p_tx_download constants
  test/functional/p2p_tx_download.py
Labels: Tests

#31857 depends: avoid an unset `CMAKE_OBJDUMP`
  depends/hosts/default.mk
Labels: Build system

#31421 cmake: Improve compatibility with Python version managers
  CMakeLists.txt
Labels: Build system

#31844 cmake: add a component for each binary
  ci/test/00_setup_env_mac_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz.sh
  cmake/module/InstallBinaryComponent.cmake
  cmake/module/Maintenance.cmake
  src/CMakeLists.txt
  src/bench/CMakeLists.txt
  src/kernel/CMakeLists.txt
  src/qt/CMakeLists.txt
  src/qt/test/CMakeLists.txt
  src/test/CMakeLists.txt
Labels: Build system

#31359 cmake: Add `CheckLinkerSupportsPIE` module
  CMakeLists.txt
  cmake/module/CheckLinkerSupportsPIE.cmake
Labels: Bug, Build system

#31634 doc: Improve dependencies documentation
  doc/dependencies.md
Labels: Docs

#31413 rpc: Remove deprecated dummy alias for listtransactions::label
  src/wallet/rpc/transactions.cpp
  test/functional/wallet_listtransactions.py
Labels: RPC/REST/ZMQ

#31439 validation: In case of a continued reindex, only activate chain in the end
  src/validation.cpp
Labels: Validation

#31851 doc: build: Fix instructions for msvc gui builds
  doc/build-windows-msvc.md
Labels: Docs, Windows, Build system

#31865 build: move `rpc/external_signer` to node library
  contrib/devtools/check-deps.sh
  src/CMakeLists.txt
Labels: Build system

#31629 wallet: fix rescanning inconsistency
  src/wallet/wallet.cpp
Labels: Bug, Wallet

#30746 test: cover base[32|58|64] with symmetric roundtrip fuzz (and padding) tests
  src/test/base32_tests.cpp
  src/test/base58_tests.cpp
  src/test/base64_tests.cpp
  src/test/data/base58_encode_decode.json
  src/test/fuzz/base_encode_decode.cpp
Labels: Tests

#27432 contrib: add tool to convert compact-serialized UTXO set to SQLite database
  contrib/README.md
  contrib/utxo-tools/utxo_to_sqlite.py
  test/functional/test_runner.py
  test/functional/tool_utxo_to_sqlite.py
Labels: Scripts and tools

#31879 doc: add release note for #27432 (utxo-to-sqlite tool)
  doc/release-notes-27432.md
Labels: Docs

#31869 cmake: Add `libbitcoinkernel` target
  src/kernel/CMakeLists.txt
Labels: Build system

#31836 contrib: Add deterministic-fuzz-coverage
  contrib/devtools/README.md
  contrib/devtools/deterministic-fuzz-coverage/Cargo.toml
  contrib/devtools/deterministic-fuzz-coverage/src/main.rs
Labels: Scripts and tools

#31892 build: remove ENABLE_HARDENING condition from check-security
  cmake/module/Maintenance.cmake
Labels: Build system

#29156 tests: add functional test for miniscript decaying multisig
  doc/descriptors.md
  test/functional/test_runner.py
  test/functional/wallet_miniscript_decaying_multisig_descriptor_psbt.py
Labels: Tests

#31794 wallet: abandon orphan coinbase txs, and their descendants, during startup
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/functional/wallet_reorgsrestore.py
Labels: Wallet

#31826 random: Check `GetRNDRRS` is supported in `InitHardwareRand` to avoid infinite loop
  src/random.cpp
Labels: Bug

#29881 guix: use GCC 13 to build releases
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_win64.sh
  contrib/guix/manifest.scm
Labels: Build system

#31899 cmake: Exclude generated sources from translation
  src/qt/CMakeLists.txt
Labels: Build system

#31379 cmake: Fix passing `APPEND_*FLAGS` to `secp256k1` subtree
  src/CMakeLists.txt
Labels: Build system

#31884 cmake: Make implicit `libbitcoinkernel` dependencies explicit
  src/CMakeLists.txt
  src/kernel/CMakeLists.txt
  src/util/CMakeLists.txt
Labels: Build system

#31731 doc: update translation generation cmake example
  doc/translation_process.md
Labels: Docs

#31906 ci: Switch to gcr.io mirror to avoid rate limits
  ci/lint_imagefile
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_i686_multiprocess.sh
  ci/test/00_setup_env_mac_cross.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/00_setup_env_native_nowallet_libbitcoinkernel.sh
  ci/test/00_setup_env_native_previous_releases.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/00_setup_env_s390x.sh
  ci/test/00_setup_env_win64.sh
Labels: Tests

#30302 doc: clarify loadwallet path loading for wallets
  src/wallet/rpc/wallet.cpp
Labels: Docs

#31742 contrib: fix BUILDDIR in gen-bitcoin-conf script and gen-manpages.py
  contrib/devtools/README.md
  contrib/devtools/gen-bitcoin-conf.sh
  contrib/devtools/gen-manpages.py
Labels: Scripts and tools

#31662 cmake: Do not modify `CMAKE_TRY_COMPILE_TARGET_TYPE` globally
  CMakeLists.txt
  cmake/crc32c.cmake
  cmake/introspection.cmake
  cmake/minisketch.cmake
  cmake/module/CheckSourceCompilesAndLinks.cmake
  cmake/module/CheckSourceCompilesWithFlags.cmake
  cmake/module/TestAppendRequiredLibraries.cmake
Labels: Build system

#31580 test: Remove non-portable IPv6 test
  src/test/net_tests.cpp
Labels: Tests

#31928 ci: Fix filtering out Qt-generated files from `compile_commands.json`
  ci/test/03_test_script.sh
Labels: Tests

#31925 contrib: update `utxo_to_sqlite` tool documentation and comment
  contrib/utxo-tools/utxo_to_sqlite.py
Labels: Scripts and tools

#31918 fuzz: add basic TxOrphanage::EraseForBlock cov
  src/test/fuzz/txorphan.cpp
Labels: Tests

#31415 test: fix TestShell initialization and reset()
  test/functional/test-shell.md
  test/functional/test_framework/test_shell.py
Labels: Tests

#31880 cmake: Add optional sources to `minisketch` library directly
  cmake/minisketch.cmake
Labels: Build system

#31943 test: add coverage for abandoning unconfirmed transaction
  test/functional/wallet_abandonconflict.py
Labels: Tests

#31930 doc: Update translation generation instructions
  doc/translation_process.md
Labels: Docs
