Repository bitcoin/bitcoin, pull requests merged in 2025-07, with the labels that each got.

#27286 wallet: Keep track of the wallet's own transaction outputs in memory
  src/bench/wallet_create_tx.cpp
  src/wallet/receive.cpp
  src/wallet/receive.h
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/spend.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/transaction.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/functional/wallet_balance.py
Labels: Wallet

#32846 doc: clarify that the "-j N" goes after the "--build build" part
  doc/build-freebsd.md
  doc/build-netbsd.md
  doc/build-openbsd.md
  doc/build-osx.md
  doc/build-unix.md
  doc/build-windows-msvc.md
  doc/build-windows.md
  doc/developer-notes.md
Labels: Docs

#32432 wallet, rpc: Use `OUTPUT_TYPES` to describe the output types instead of hardcoding them
  src/outputtype.cpp
  src/outputtype.h
  src/wallet/rpc/addresses.cpp
Labels: Wallet, RPC/REST/ZMQ

#32219 test: enabling wallet migration functional test on windows
  .github/workflows/ci.yml
  ci/test/03_test_script.sh
  test/README.md
  test/functional/mempool_compatibility.py
  test/functional/test_framework/test_framework.py
  test/functional/wallet_migration.py
  test/get_previous_releases.py
Labels: Wallet, Tests

#32723 Refactor: Redefine CTransaction equality to include witness data
  src/primitives/transaction.h
  src/txmempool.cpp
  src/wallet/transaction.cpp
Labels: Refactoring

#32828 build, docs: Fix Boost-related issues on NetBSD
  cmake/module/AddBoostIfNeeded.cmake
  doc/build-netbsd.md
Labels: Build system

#32823 test: Fix wait_for_getheaders() call in test_outbound_eviction_blocks_relay_only()
  test/functional/p2p_outbound_eviction.py
Labels: Tests

#32850 test: check P2SH sigop count for coinbase tx
  src/test/script_p2sh_tests.cpp
Labels: Tests

#31233 cmake: Improve Python robustness and test usability
  CMakeLists.txt
  cmake/module/Maintenance.cmake
  cmake/tests.cmake
  src/qt/CMakeLists.txt
Labels: Build system, Tests

#32811 [28.x] Backports
  README.md
  contrib/guix/guix-build
  doc/bips.md
  doc/release-notes.md
  doc/release-process.md
  doc/translation_process.md
  test/functional/feature_bip68_sequence.py
Labels: Backport, CI failed

#29307 util: explicitly close all AutoFiles that have been written
  src/addrdb.cpp
  src/bench/streams_findbyte.cpp
  src/flatfile.cpp
  src/index/blockfilterindex.cpp
  src/net.cpp
  src/node/blockstorage.cpp
  src/node/mempool_persist.cpp
  src/policy/fees.cpp
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/streams.cpp
  src/streams.h
  src/test/flatfile_tests.cpp
  src/test/fuzz/autofile.cpp
  src/test/fuzz/policy_estimator.cpp
  src/test/fuzz/policy_estimator_io.cpp
  src/test/fuzz/utxo_snapshot.cpp
  src/test/streams_tests.cpp
  src/test/util/chainstate.h
  src/wallet/test/fuzz/wallet_bdb_parser.cpp
Labels: Utils/log/libs

#32463 test: fix an incorrect `feature_fee_estimation.py` subtest
  test/functional/feature_fee_estimation.py
Labels: Tests, Needs backport (29.x)

#31553 cluster mempool: add TxGraph reorg functionality
  src/bench/CMakeLists.txt
  src/bench/txgraph.cpp
  src/test/CMakeLists.txt
  src/test/fuzz/txgraph.cpp
  src/test/txgraph_tests.cpp
  src/txgraph.cpp
  src/txgraph.h
Labels: Mempool

#32618 wallet: Remove ISMINE_WATCHONLY and watchonly from RPCs
  doc/release-notes-32618.md
  src/wallet/coincontrol.h
  src/wallet/receive.cpp
  src/wallet/receive.h
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/rpc/util.cpp
  src/wallet/rpc/util.h
  src/wallet/rpc/wallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/spend.cpp
  src/wallet/types.h
  src/wallet/wallet.cpp
  test/functional/rpc_psbt.py
  test/functional/wallet_balance.py
  test/functional/wallet_basic.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_importprunedfunds.py
  test/functional/wallet_listreceivedby.py
  test/functional/wallet_migration.py
  test/functional/wallet_send.py
Labels: Wallet

#32385 test: refactor out same-txid-diff-wtxid tx to reuse in other tests
  test/functional/mempool_accept_wtxid.py
  test/functional/test_framework/script_util.py
Labels: Tests

#32660 rpc: Use type-safe exception to pass RPC help
  src/rpc/server.cpp
  src/rpc/util.cpp
  src/rpc/util.h
Labels: RPC/REST/ZMQ

#32862 rpc: use CScheduler for relocking wallet and remove RPCTimer
  src/httprpc.cpp
  src/interfaces/chain.h
  src/interfaces/node.h
  src/node/interfaces.cpp
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/wallet/rpc/encrypt.cpp
  test/functional/wallet_keypool.py
Labels: RPC/REST/ZMQ

#32893 doc: fix `BlockConnected` incorrect comment
  src/validationinterface.h
Labels: Docs

#32604 log: Mitigate disk filling attacks by rate limiting LogPrintf, LogInfo, LogWarning, LogError
  doc/release-notes-32604.md
  src/init.cpp
  src/logging.cpp
  src/logging.h
  src/test/logging_tests.cpp
  src/test/util/logging.h
  src/validation.cpp
  test/functional/feature_config_args.py
Labels: Utils/log/libs

#32799 mempool: use `FeeFrac` for ancestor/descendant score comparators
  src/txmempool.h
Labels: Mempool

#32758 wallet: remove dead code in legacy wallet migration
  src/bench/wallet_migration.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#32940 cmake: Use newer signature of `qt6_add_lrelease` when available
  src/qt/CMakeLists.txt
Labels: Build system

#32631 refactor: Convert GenTxid to `std::variant`
  src/interfaces/chain.h
  src/net_processing.cpp
  src/net_processing.h
  src/node/interfaces.cpp
  src/node/mempool_persist.cpp
  src/node/mini_miner.cpp
  src/node/transaction.cpp
  src/node/txdownloadman.h
  src/node/txdownloadman_impl.cpp
  src/node/txdownloadman_impl.h
  src/policy/rbf.cpp
  src/primitives/transaction.h
  src/protocol.cpp
  src/rpc/mempool.cpp
  src/test/fuzz/mini_miner.cpp
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/partially_downloaded_block.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/fuzz/txdownloadman.cpp
  src/test/fuzz/txrequest.cpp
  src/test/mempool_tests.cpp
  src/test/rbf_tests.cpp
  src/test/txdownload_tests.cpp
  src/test/txpackage_tests.cpp
  src/test/txrequest_tests.cpp
  src/test/txvalidation_tests.cpp
  src/test/util/txmempool.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/txrequest.cpp
  src/txrequest.h
  src/util/transaction_identifier.h
  src/validation.cpp
Labels: Refactoring

#32954 cmake: Drop no longer necessary "cmakeMinimumRequired" object
  CMakePresets.json
Labels: Build system

#32948 refactor: cleanup index logging
  src/index/base.cpp
  src/index/blockfilterindex.cpp
  src/index/coinstatsindex.cpp
  src/index/txindex.cpp
Labels: Refactoring

#32968 test: fix intermittent failure in rpc_invalidateblock.py
  test/functional/rpc_invalidateblock.py
Labels: Tests

#32922 test: use notarized v28.2 binaries and fix macOS detection
  test/functional/wallet_migration.py
  test/get_previous_releases.py
Labels: Tests

#31144 [IBD] multi-byte block obfuscation
  src/bench/CMakeLists.txt
  src/bench/obfuscation.cpp
  src/dbwrapper.cpp
  src/dbwrapper.h
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/node/mempool_persist.cpp
  src/random.h
  src/streams.cpp
  src/streams.h
  src/test/dbwrapper_tests.cpp
  src/test/fuzz/autofile.cpp
  src/test/fuzz/buffered_file.cpp
  src/test/random_tests.cpp
  src/test/streams_tests.cpp
  src/util/obfuscation.h
Labels: Block storage

#33007 test: fix `ReadTopologicalSet` unsigned integer overflow
  src/test/fuzz/cluster_linearize.cpp
Labels: Tests

#32827 mempool: Avoid needless vtx iteration during IBD
  src/node/txorphanage.cpp
  src/txmempool.cpp
Labels: Mempool

#33030 test: check tx is final when there is no locktime
  src/test/miner_tests.cpp
Labels: Tests

#32945 tests: speed up coins_tests by parallelizing
  src/test/CMakeLists.txt
  src/test/coins_tests.cpp
  test/lint/lint-tests.py
Labels: Tests

#33020 test: delete commented-out tests and add a test case in wallet_signer
  test/functional/wallet_signer.py
Labels: Tests

#32990 wallet: remove outdated `pszSkip` arg of database `Rewrite` func
  src/wallet/db.h
  src/wallet/migrate.h
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
  src/wallet/test/util.h
  src/wallet/wallet.cpp
Labels: Wallet

#33004 Enable `-natpmp` by default
  doc/release-notes-33004.md
  src/mapport.h
Labels: P2P

#33001 test: Do not pass tests on unhandled exceptions
  test/functional/test_framework/test_framework.py
Labels: Tests

#31179 RPC: Add reserve member function to `UniValue` and use it in `blockToJSON` function
  src/bench/rpc_blockchain.cpp
  src/core_write.cpp
  src/rpc/blockchain.cpp
  src/univalue/include/univalue.h
  src/univalue/lib/univalue.cpp
Labels: RPC/REST/ZMQ

#33049 doc: Fix typos in asmap README
  contrib/asmap/README.md
Labels: Docs

#33047 test: check proper OP_2ROT behavior
  src/test/data/script_tests.json
Labels: Tests

#33013 [29.x] Backport #32521
  doc/release-notes.md
  src/policy/policy.cpp
  src/policy/policy.h
  src/test/transaction_tests.cpp
  test/functional/mempool_sigoplimit.py
  test/functional/test_framework/script_util.py
Labels: Backport, CI failed

#32822 fuzz: Make process_message(s) more deterministic
  src/test/fuzz/p2p_handshake.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/util/net.cpp
  src/test/util/net.h
  src/test/util/validation.cpp
  src/test/util/validation.h
  src/validation.h
Labels: Tests

#32967 log: [refactor] Use info level for init logs
  src/banman.cpp
  src/chainparams.cpp
  src/dbwrapper.cpp
  src/dummywallet.cpp
  src/httpserver.cpp
  src/init.cpp
  src/init/common.cpp
  src/kernel/chainparams.cpp
  src/node/blockstorage.cpp
  src/node/chainstate.cpp
  src/node/mempool_args.cpp
  src/node/minisketchwrapper.cpp
  src/noui.cpp
  src/noui.h
  src/policy/fees.cpp
  src/qt/bitcoin.cpp
  src/random.cpp
  src/script/sigcache.cpp
  src/test/ipc_test.cpp
  src/test/logging_tests.cpp
  src/test/util/chainstate.h
  src/util/asmap.cpp
  src/util/thread.cpp
  src/validation.cpp
  src/wallet/init.cpp
  src/wallet/load.cpp
  src/wallet/sqlite.cpp
  test/functional/feature_pruning.py
Labels: Utils/log/libs

#32970 ci: Enable more shellcheck
  ci/test/03_test_script.sh
Labels: Tests

#32994 p2p: rename GetAddresses -> GetAddressesUnsafe
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/net.cpp
  src/test/fuzz/connman.cpp
Labels: Docs

#33056 [29.x] final changes for v29.1rc1
  CMakeLists.txt
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#32944 wallet: Remove `upgradewallet` RPC
  doc/release-notes-32944.md
  src/rpc/client.cpp
  src/wallet/rpc/wallet.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_multiwallet.py
Labels: Wallet

#31576 test: Move `script_assets_tests` into its own suite
  src/test/CMakeLists.txt
  src/test/script_assets_tests.cpp
  src/test/script_tests.cpp
Labels: Tests

#33063 util: Revert "common: Close non-std fds before exec in RunCommandJSON"
  src/common/run_command.cpp
  src/util/subprocess.h
Labels: Utils/log/libs

#33064 test: fix RPC coverage check
  test/functional/create_cache.py
  test/functional/test_framework/test_framework.py
  test/functional/wallet_transactiontime_rescan.py
Labels: Tests

#32973 validation: docs and cleanups for MemPoolAccept coins views
  src/txmempool.h
  src/validation.cpp
  test/functional/mempool_limit.py
Labels: Docs

#32263 cluster mempool: add TxGraph work controls
  src/bench/cluster_linearize.cpp
  src/bench/txgraph.cpp
  src/cluster_linearize.h
  src/test/fuzz/cluster_linearize.cpp
  src/test/fuzz/txgraph.cpp
  src/test/txgraph_tests.cpp
  src/test/util/cluster_linearize.h
  src/txgraph.cpp
  src/txgraph.h
Labels: Mempool

#33088 doc: move `cmake -B build -LH` up in Unix build docs
  doc/build-unix.md
Labels: Docs

#32866 doc: add note for watch-only wallet migration
  doc/managing-wallets.md
Labels: Docs

#32584 depends: hard-code necessary c(xx)flags rather than setting them per-host
  depends/funcs.mk
  depends/hosts/darwin.mk
  depends/hosts/freebsd.mk
  depends/hosts/linux.mk
  depends/hosts/mingw32.mk
  depends/hosts/netbsd.mk
  depends/hosts/openbsd.mk
Labels: Build system

#31244 descriptors: MuSig2
  doc/descriptors.md
  src/CMakeLists.txt
  src/musig.cpp
  src/musig.h
  src/pubkey.cpp
  src/pubkey.h
  src/script/descriptor.cpp
  src/script/parsing.cpp
  src/script/parsing.h
  src/script/signingprovider.cpp
  src/script/signingprovider.h
  src/test/descriptor_tests.cpp
  src/test/util_tests.cpp
  src/util/string.h
Labels: Descriptors
