Repository bitcoin/bitcoin, pull requests merged in 2025-05, with the labels that each got.

#32389 doc: Fix test_bitcoin path
  src/test/README.md
Labels: Docs

#30611 validation: write chainstate to disk every hour
  src/test/CMakeLists.txt
  src/test/chainstate_write_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Validation

#32403 test: remove Boost SIGCHLD workaround.
  src/test/util_tests.cpp
Labels: Tests

#32417 doc: Explain that .gitignore is not for IDE-specific excludes
  .gitignore
Labels: Docs

#32358 subprocess: Backport upstream changes
  src/util/subprocess.h
Labels: Upstream

#32352 [29.x] qt: 29.1 translations update
  src/qt/bitcoin_locale.qrc
  src/qt/locale/bitcoin_ar.ts
  src/qt/locale/bitcoin_bg.ts
  src/qt/locale/bitcoin_bn.ts
  src/qt/locale/bitcoin_cmn.ts
  src/qt/locale/bitcoin_da.ts
  src/qt/locale/bitcoin_es.ts
  src/qt/locale/bitcoin_es_CL.ts
  src/qt/locale/bitcoin_es_CO.ts
  src/qt/locale/bitcoin_es_DO.ts
  src/qt/locale/bitcoin_es_SV.ts
  src/qt/locale/bitcoin_es_VE.ts
  src/qt/locale/bitcoin_et.ts
  src/qt/locale/bitcoin_fa.ts
  src/qt/locale/bitcoin_fi.ts
  src/qt/locale/bitcoin_fr_CM.ts
  src/qt/locale/bitcoin_fr_LU.ts
  src/qt/locale/bitcoin_hi.ts
  src/qt/locale/bitcoin_hu.ts
  src/qt/locale/bitcoin_it.ts
  src/qt/locale/bitcoin_kn.ts
  src/qt/locale/bitcoin_ko.ts
  src/qt/locale/bitcoin_ml.ts
  src/qt/locale/bitcoin_ne.ts
  src/qt/locale/bitcoin_pl.ts
  src/qt/locale/bitcoin_ro.ts
  src/qt/locale/bitcoin_ru.ts
  src/qt/locale/bitcoin_sr.ts
  src/qt/locale/bitcoin_sr@ijekavianlatin.ts
  src/qt/locale/bitcoin_sr@latin.ts
  src/qt/locale/bitcoin_sv.ts
  src/qt/locale/bitcoin_ta.ts
  src/qt/locale/bitcoin_th.ts
  src/qt/locale/bitcoin_tl.ts
  src/qt/locale/bitcoin_ur.ts
  src/qt/locale/bitcoin_zh_CN.ts
Labels: Backport

#32086 Shuffle depends instructions and recommend modern make for macOS
  depends/README.md
Labels: Docs

#32287 build: Fix `macdeployqtplus` after switching to Qt 6
  ci/test/00_setup_env_mac_native.sh
  contrib/macdeploy/macdeployqtplus
Labels: macOS, Build system, Tests

#29532 Refactor BnB tests
  src/wallet/test/CMakeLists.txt
  src/wallet/test/coinselection_tests.cpp
  src/wallet/test/coinselector_tests.cpp
Labels: Tests

#32415 scripted-diff: adapt script error constant names in feature_taproot.py
  test/functional/feature_taproot.py
Labels: Refactoring

#32388 fuzz: Remove unused TimeoutExpired catch in fuzz runner
  test/fuzz/test_runner.py
Labels: Tests

#32440 test: remove bdb assert in tool_wallet.py
  test/functional/tool_wallet.py
Labels: Tests, CI failed

#32429 docs: Improve `keypoolrefill` RPC docs
  src/wallet/rpc/addresses.cpp
Labels: Docs

#32437 crypto: disable ASan for sha256_sse4 with Clang
  src/crypto/sha256_sse4.cpp
Labels: Utils/log/libs

#32434 lint: Remove string exclusion from locale check
  doc/developer-notes.md
  test/lint/lint-locale-dependence.py
Labels: Tests

#32356 cmake: Respect user-provided configuration-specific flags
  CMakeLists.txt
  cmake/module/ProcessConfigurations.cmake
Labels: Bug, Build system, Needs backport (29.x)

#30660 qa: Verify clean shutdown on startup failure
  test/functional/feature_framework_startup_failures.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
Labels: Tests

#32454 tracing: fix invalid argument in mempool_monitor
  contrib/tracing/mempool_monitor.py
Labels: Needs backport (29.x)

#32438 refactor: Removals after bdb removal
  doc/managing-wallets.md
  src/bitcoin-wallet.cpp
  src/init.cpp
  src/interfaces/chain.h
  src/interfaces/wallet.h
  src/qt/transactionview.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/wallet/interfaces.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/walletload_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallettool.cpp
  test/functional/tool_wallet.py
  vcpkg.json
Labels: Refactoring

#32436 test: refactor: negate signature-s using libsecp256k1
  src/test/script_tests.cpp
Labels: Tests

#32446 build: simplify *ifaddr handling
  cmake/bitcoin-build-config.h.in
  cmake/introspection.cmake
  cmake/module/TestAppendRequiredLibraries.cmake
  src/common/netif.cpp
  src/compat/compat.h
  src/net.cpp
  src/randomenv.cpp
Labels: Build system

#32469 cmake: Allow `WITH_DBUS` on all Unix-like systems
  CMakeLists.txt
Labels: Build system, DrahtBot Guix build requested, Needs backport (29.x)

#32472 doc: Fix typo
  src/init.cpp
  test/functional/feature_index_prune.py
Labels: Docs

#32458 guix: move `*-check.py` scripts under contrib/guix/
  cmake/module/Maintenance.cmake
  contrib/devtools/README.md
  contrib/guix/security-check.py
  contrib/guix/symbol-check.py
  depends/packages.md
Labels: Build system

#32476 refactor: Remove unused HaveKey and HaveWatchOnly
  src/wallet/rpc/wallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
Labels: Refactoring

#32299 [28.x] Backports
  depends/packages/capnp.mk
  depends/packages/libmultiprocess.mk
  doc/release-notes.md
  src/zmq/zmqnotificationinterface.h
  test/functional/interface_usdt_coinselection.py
  test/functional/interface_usdt_mempool.py
  test/functional/interface_usdt_net.py
  test/functional/interface_usdt_utxocache.py
  test/functional/interface_usdt_validation.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
Labels: Backport, CI failed

#31444 cluster mempool: add txgraph diagrams/mining/eviction
  src/test/fuzz/txgraph.cpp
  src/txgraph.cpp
  src/txgraph.h
Labels: Mempool

#32312 test: Fix feature_pruning test after nTime typo fix
  test/functional/feature_pruning.py
Labels: Tests, Needs backport (29.x)

#32386 mining: rename gbt_force and gbt_force_name
  src/deploymentinfo.cpp
  src/deploymentinfo.h
  src/rpc/mining.cpp
  src/versionbits.cpp
  src/versionbits.h
Labels: Mining

#31080 fees: document non-monotonic estimation edge case
  src/policy/fees.cpp
Labels: Docs, TX fees and policy

#32488 fuzz: Properly setup wallet in wallet_fees target
  src/wallet/test/fuzz/fees.cpp
Labels: Tests

#32483 test: fix two intermittent failures in wallet_basic.py
  test/functional/wallet_basic.py
Labels: Tests, Needs backport (29.x)

#31624 doc: warn that CheckBlock() underestimates sigops
  src/validation.cpp
Labels: Docs

#32378 interfaces: refactor: move `Mining` and `BlockTemplate` implementation to miner
  src/node/interfaces.cpp
  src/node/miner.cpp
  src/node/miner.h
Labels: interfaces

#32305 test: add test for decoding PSBT with MuSig2 PSBT key types (BIP 373)
  test/functional/rpc_psbt.py
  test/functional/test_framework/psbt.py
Labels: Tests

#32490 refactor: Remove UB in prevector reverse iterators
  src/prevector.h
  src/test/prevector_tests.cpp
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#32502 wallet: Drop unused fFromMe from CWalletTx
  src/wallet/transaction.h
  src/wallet/wallet.cpp
Labels: Wallet

#32343 common: Close non-std fds before exec in RunCommandJSON
  src/common/run_command.cpp
  src/util/subprocess.h
Labels: Utils/log/libs

#32498 doc: remove Carls substitute server from Guix docs
  contrib/guix/README.md
Labels: Docs

#32492 test: add skip_if_running_under_valgrind()
  test/functional/interface_usdt_coinselection.py
  test/functional/interface_usdt_mempool.py
  test/functional/interface_usdt_net.py
  test/functional/interface_usdt_utxocache.py
  test/functional/interface_usdt_validation.py
  test/functional/test_framework/test_framework.py
Labels: Tests

#32507 ci: Exclude failing wallet_reorgsrestore.py from valgrind task for now
  ci/test/00_setup_env_native_valgrind.sh
Labels: Tests

#31895 doc: Improve `dependencies.md`
  doc/dependencies.md
Labels: Docs

#32525 build: Revert "Temporarily disable compiling `fuzz/utxo_snapshot.cpp` with MSVC
  doc/build-windows-msvc.md
  src/test/fuzz/CMakeLists.txt
Labels: Build system

#32238 qt, wallet: Convert uint256 to Txid
  src/interfaces/wallet.h
  src/qt/sendcoinsdialog.h
  src/qt/test/wallettests.cpp
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/qt/transactionview.cpp
  src/qt/transactionview.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/qt/walletview.cpp
  src/wallet/feebumper.cpp
  src/wallet/feebumper.h
  src/wallet/interfaces.cpp
  src/wallet/receive.cpp
  src/wallet/receive.h
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/spend.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/group_outputs_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Wallet

#32396 cmake: Add application manifests when cross-compiling for Windows
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/module/AddWindowsResources.cmake
  cmake/windows-app.manifest.in
  contrib/guix/symbol-check.py
  src/CMakeLists.txt
  src/qt/CMakeLists.txt
  src/test/CMakeLists.txt
Labels: Windows, Build system

#32505 depends: bump to latest config.guess and config.sub
  depends/config.guess
  depends/config.sub
Labels: Build system

#32296 refactor: reenable `implicit-integer-sign-change` check for `serialize.h`
  src/serialize.h
  test/sanitizer_suppressions/ubsan
Labels: Refactoring

#32491 build: document why we check for `std::system`
  cmake/introspection.cmake
Labels: Build system

#32527 test: Remove unused verify_flags suppression
  test/sanitizer_suppressions/ubsan
Labels: Tests

#32526 fuzz: Delete wallet_notifications
  src/wallet/test/fuzz/CMakeLists.txt
  src/wallet/test/fuzz/notifications.cpp
Labels: Tests

#32519 ci: Enable feature_init and wallet_reorgsrestore in valgrind task
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/wrap-valgrind.sh
Labels: Tests

#32480 [28.x] 28.2rc1
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport, CI failed

#32511 refactor: bdb removals
  src/bench/wallet_migration.cpp
  src/outputtype.cpp
  src/outputtype.h
  src/qt/test/addressbooktests.cpp
  src/qt/test/wallettests.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/test/fuzz/key.cpp
  src/wallet/wallet.h
Labels: Refactoring

#32514 scripted-diff: Remove unused leading newline in RPC docs
  src/rpc/blockchain.cpp
  src/rpc/fees.cpp
  src/rpc/mempool.cpp
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/rpc/node.cpp
  src/rpc/output_script.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/signmessage.cpp
  src/rpc/txoutproof.cpp
  src/rpc/util.cpp
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/backup.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/encrypt.cpp
  src/wallet/rpc/signmessage.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/rpc/wallet.cpp
  src/zmq/zmqrpc.cpp
Labels: Refactoring

#32452 test: Remove legacy wallet RPC overloads
  test/functional/rpc_getblockstats.py
  test/functional/rpc_psbt.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/tool_signet_miner.py
  test/functional/wallet_address_types.py
  test/functional/wallet_basic.py
  test/functional/wallet_createwallet.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_hd.py
  test/functional/wallet_importprunedfunds.py
  test/functional/wallet_labels.py
  test/functional/wallet_listsinceblock.py
  test/functional/wallet_migration.py
  test/functional/wallet_reindex.py
  test/functional/wallet_simulaterawtx.py
  test/functional/wallet_transactiontime_rescan.py
Labels: Tests

#32544 scripted-diff: test: remove 'descriptors=True' argument for `createwallet` calls
  test/functional/mempool_persist.py
  test/functional/wallet_basic.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_fast_rescan.py
  test/functional/wallet_importdescriptors.py
  test/functional/wallet_listdescriptors.py
  test/functional/wallet_listsinceblock.py
  test/functional/wallet_miniscript.py
  test/functional/wallet_miniscript_decaying_multisig_descriptor_psbt.py
  test/functional/wallet_multisig_descriptor_psbt.py
  test/functional/wallet_signer.py
  test/functional/wallet_taproot.py
Labels: Refactoring, CI failed

#32423 rpc: Undeprecate rpcuser/rpcpassword, store all credentials hashed in memory
  src/httprpc.cpp
  src/rpc/request.cpp
  src/rpc/request.h
Labels: RPC/REST/ZMQ

#30221 wallet: Ensure best block matches wallet scan state
  src/bench/wallet_migration.cpp
  src/wallet/interfaces.cpp
  src/wallet/load.cpp
  src/wallet/load.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_descriptor.py
  test/functional/wallet_reorgsrestore.py
Labels: Wallet

#32477 lint: Check for missing trailing newline
  INSTALL.md
  doc/release-notes-31278.md
  src/test/fuzz/bech32.cpp
  test/lint/test_runner/src/main.rs
Labels: Tests

#32560 ci: Move DEBUG=1 to centos task
  ci/test/00_setup_env_native_centos.sh
  ci/test/00_setup_env_native_previous_releases.sh
Labels: Tests

#31864 doc: add missing copyright headers
  README.md
  contrib/debian/copyright
  contrib/devtools/copyright_header.py
  src/clientversion.cpp
  src/node/peerman_args.cpp
  src/node/peerman_args.h
  src/node/txdownloadman_impl.cpp
  src/node/txdownloadman_impl.h
  src/test/fuzz/headerssync.cpp
  src/test/fuzz/partially_downloaded_block.cpp
  src/univalue/include/univalue_escapes.h
  src/univalue/test/test_json.cpp
  src/util/transaction_identifier.h
  test/lint/lint_ignore_dirs.py
Labels: Docs

#32553 wallet: Fix logging of wallet version
  src/wallet/walletdb.cpp
  test/functional/wallet_createwallet.py
Labels: Wallet, Needs backport (29.x)

#32333 doc: Add missing top-level description to pruneblockchain RPC
  src/rpc/blockchain.cpp
Labels: Docs

#32466 threading: drop CSemaphore in favor of c++20 std::counting_semaphore
  src/net.cpp
  src/net.h
  src/semaphore_grant.h
  src/sync.h
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
Labels: Utils/log/libs

#32344 Wallet: Fix Non-Ranged Descriptors with Range [0,0] Trigger Unexpected Wallet Errors in AddWalletDescriptor
  src/wallet/scriptpubkeyman.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Wallet

#31622 psbt: add non-default sighash types to PSBTs and unify sighash type match checking
  src/common/messages.cpp
  src/common/types.h
  src/interfaces/wallet.h
  src/node/psbt.cpp
  src/psbt.cpp
  src/psbt.h
  src/qt/psbtoperationsdialog.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rawtransaction_util.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/script/script.cpp
  src/script/script.h
  src/wallet/external_signer_scriptpubkeyman.cpp
  src/wallet/external_signer_scriptpubkeyman.h
  src/wallet/feebumper.cpp
  src/wallet/interfaces.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/fuzz/scriptpubkeyman.cpp
  src/wallet/test/psbt_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/rpc_psbt.py
Labels: PSBT

#32459 qt: drop unused watch-only functionality
  doc/release-notes-32459.md
  src/interfaces/wallet.h
  src/qt/forms/overviewpage.ui
  src/qt/overviewpage.cpp
  src/qt/overviewpage.h
  src/qt/sendcoinsdialog.cpp
  src/qt/transactiondesc.cpp
  src/qt/transactionfilterproxy.cpp
  src/qt/transactionfilterproxy.h
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/qt/transactiontablemodel.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
Labels: GUI

#32573 ci: Avoid && dropping errors
  .github/ci-test-each-commit-exec.sh
Labels: Tests

#32475 wallet: Use `util::Error` throughout `AddWalletDescriptor` instead of returning `nullptr` for some errors
  src/bench/wallet_ismine.cpp
  src/qt/test/wallettests.cpp
  src/test/fuzz/util/wallet.h
  src/wallet/rpc/backup.cpp
  src/wallet/test/fuzz/scriptpubkeyman.cpp
  src/wallet/test/psbt_wallet_tests.cpp
  src/wallet/test/scriptpubkeyman_tests.cpp
  src/wallet/test/util.cpp
  src/wallet/test/util.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_importdescriptors.py
Labels: Wallet

#32551 cmake: Remove `ENABLE_{SSE41,AVX2,X86_SHANI,ARM_SHANI}` from `bitcoin-build-config.h`
  cmake/bitcoin-build-config.h.in
  cmake/introspection.cmake
  src/crypto/CMakeLists.txt
  src/crypto/sha256.cpp
  test/lint/test_runner/src/main.rs
Labels: Build system, Needs backport (29.x)

#32292 [29.x] Backports
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/module/ProcessConfigurations.cmake
  contrib/tracing/mempool_monitor.py
  doc/fuzzing.md
  doc/release-notes.md
  src/crypto/sha256_sse4.cpp
  src/qt/sendcoinsdialog.cpp
  src/random.cpp
  src/test/README.md
  src/wallet/walletdb.cpp
  src/zmq/zmqnotificationinterface.h
  test/functional/feature_pruning.py
  test/functional/interface_usdt_coinselection.py
  test/functional/interface_usdt_mempool.py
  test/functional/interface_usdt_net.py
  test/functional/interface_usdt_utxocache.py
  test/functional/interface_usdt_validation.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/wallet_basic.py
  test/functional/wallet_createwallet.py
Labels: Backport

#32400 random: Use modern Windows randomness functions
  contrib/guix/symbol-check.py
  src/kernel/CMakeLists.txt
  src/random.cpp
  src/util/CMakeLists.txt
Labels: Windows, Utils/log/libs

#32533 test: properly check for per-tx sigops limit
  test/functional/data/invalid_txs.py
  test/functional/test_framework/blocktools.py
Labels: Tests

#32467 checkqueue: make the queue non-optional for CCheckQueueControl and drop legacy locking macro usage
  src/bench/checkqueue.cpp
  src/checkqueue.h
  src/sync.h
  src/test/checkqueue_tests.cpp
  src/test/fuzz/checkqueue.cpp
  src/test/transaction_tests.cpp
  src/validation.cpp
Labels: Validation

#32586 ci: Downgrade DEBUG=1 to -D_GLIBCXX_ASSERTIONS in centos task
  ci/test/00_setup_env_native_centos.sh
Labels: Tests

#32270 test: fix pushdata scripts
  test/functional/feature_taproot.py
Labels: Tests

#32591 test: fix and augment block tests of invalid_txs
  test/functional/data/invalid_txs.py
  test/functional/feature_block.py
Labels: Tests

#32439 guix: accomodate migration to codeberg
  contrib/guix/INSTALL.md
  contrib/guix/libexec/prelude.bash
Labels: Build system, Needs backport (28.x), Needs backport (29.x)

#32623 test: Add missing ipc subtree to lint
  doc/developer-notes.md
  test/lint/README.md
  test/lint/test_runner/src/main.rs
Labels: Tests

#32364 refactor: validation: mark CheckBlockIndex as const
  src/validation.cpp
  src/validation.h
Labels: Refactoring

#32630 test: fix sync function in rpc_psbt.py
  test/functional/rpc_psbt.py
Labels: Tests

#32634 build: Add resource file and manifest to `bitcoin.exe`
  src/CMakeLists.txt
  src/bitcoin-res.rc
Labels: Windows, Build system

#32304 test: test MAX_SCRIPT_SIZE for block validity
  test/functional/feature_block.py
  test/functional/test_framework/script.py
Labels: Tests

#32639 [28.x] Backport guix: accomodate migration to codeberg
  contrib/guix/INSTALL.md
  contrib/guix/libexec/prelude.bash
Labels: Backport, CI failed
