Repository bitcoin/bitcoin, pull requests merged in 2025-03, with the labels that each got.

#30901 cmake: Revamp handling of data files
  CMakeLists.txt
  cmake/module/GenerateHeaders.cmake
  cmake/module/TargetDataSources.cmake
  src/bench/CMakeLists.txt
  src/test/CMakeLists.txt
  src/univalue/CMakeLists.txt
Labels: Build system

#31916 init: Handle dropped UPnP support more gracefully
  src/init.cpp
Labels: GUI, Settings

#31969 Add mainnet assumeutxo param at height 880,000
  src/kernel/chainparams.cpp
Labels: UTXO Db and Indexes

#31982 scripted-diff: rename libmultiprocess repository
  depends/packages/native_libmultiprocess.mk
  doc/design/multiprocess.md
  doc/multiprocess.md
Labels: Refactoring

#31997 doc: update location of minisketch repository
  doc/developer-notes.md
  test/lint/README.md
Labels: Docs

#31848 test, tracing: don't use problematic `bpf_usdt_readarg_p()`
  contrib/tracing/log_raw_p2p_msgs.py
  contrib/tracing/mempool_monitor.py
  contrib/tracing/p2p_monitor.py
  test/functional/interface_usdt_coinselection.py
  test/functional/interface_usdt_mempool.py
  test/functional/interface_usdt_net.py
  test/functional/interface_usdt_utxocache.py
  test/functional/interface_usdt_validation.py
Labels: Tests

#31407 guix: Notarize MacOS app bundle and codesign all MacOS and Windows binaries
  contrib/guix/guix-codesign
  contrib/guix/libexec/build.sh
  contrib/guix/libexec/codesign.sh
  contrib/guix/manifest.scm
  contrib/macdeploy/detached-sig-create.sh
  contrib/windeploy/detached-sig-create.sh
  doc/release-process.md
Labels: Build system

#31648 [28.x] Backports
  COPYING
  configure.ac
  contrib/debian/copyright
  contrib/tracing/log_raw_p2p_msgs.py
  depends/Makefile
  depends/packages/libevent.mk
  depends/patches/libevent/netbsd_fixup.patch
  doc/release-notes.md
Labels: Backport, CI failed

#31978 kernel: pre-29.x chainparams and headerssync update
  contrib/devtools/headerssync-params.py
  src/headerssync.cpp
  src/kernel/chainparams.cpp
Labels: Validation

#31993 ci: use LLVM 20.1.0 for MSAN
  ci/test/01_base_install.sh
Labels: Tests

#32003 doc: remove note about macOS self-signing
  doc/release-notes-empty-template.md
Labels: Docs

#32014 ci: Do not try to install for fuzz builds
  ci/test/00_setup_env_native_fuzz_with_msan.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
Labels: Tests

#31996 doc: link to benchcoin over bitcoinperf
  doc/benchmarking.md
Labels: Docs

#32017 doc: warn against having qt6 installed on macOS
  doc/build-osx.md
Labels: Docs

#32002 doc: add note to Windows build about stripping bins
  doc/build-windows.md
Labels: Docs, Windows

#32011 Docs: fix typos in documentation files
  contrib/guix/INSTALL.md
  doc/design/libraries.md
  doc/design/multiprocess.md
  doc/multiprocess.md
  doc/tracing.md
  test/functional/data/README.md
Labels: Docs

#31960 seeds: add signet/testnet4, update makeseeds regex, minblocks, fixed seeds
  contrib/seeds/.gitignore
  contrib/seeds/README.md
  contrib/seeds/generate-seeds.py
  contrib/seeds/makeseeds.py
  contrib/seeds/nodes_main.txt
  contrib/seeds/nodes_signet.txt
  contrib/seeds/nodes_test.txt
  contrib/seeds/nodes_testnet4.txt
  src/chainparamsseeds.h
  src/kernel/chainparams.cpp
Labels: Scripts and tools

#31955 test: Fix authproxy named args debug logging
  test/functional/test_framework/authproxy.py
Labels: Tests

#31161 cmake: Set top-level target output locations
  .github/workflows/ci.yml
  CMakeLists.txt
  contrib/devtools/check-deps.sh
  contrib/devtools/gen-bitcoin-conf.sh
  contrib/devtools/gen-manpages.py
  contrib/signet/README.md
  contrib/tracing/README.md
  contrib/tracing/connectblock_benchmark.bt
  contrib/tracing/log_p2p_connections.bt
  contrib/tracing/log_p2p_traffic.bt
  contrib/tracing/log_utxos.bt
  contrib/valgrind.supp
  doc/benchmarking.md
  doc/build-osx.md
  doc/build-unix.md
  doc/developer-notes.md
  doc/fuzzing.md
  doc/multiprocess.md
  doc/multisig-tutorial.md
  doc/offline-signing-tutorial.md
  doc/tracing.md
  src/CMakeLists.txt
  src/qt/README.md
  src/test/README.md
  test/functional/test_framework/test_framework.py
  test/fuzz/test_runner.py
  test/util/test_runner.py
Labels: Build system

#32021 qa: Enable feature_init.py on Windows
  test/functional/feature_init.py
Labels: Windows, Tests

#32025 validation, fix: Use wtxid instead of txid in `CheckEphemeralSpends`
  src/bench/mempool_ephemeral_spends.cpp
  src/policy/ephemeral_policy.cpp
  src/policy/ephemeral_policy.h
  src/test/txvalidation_tests.cpp
  src/validation.cpp
  src/validation.h
  test/functional/mempool_ephemeral_dust.py
Labels: Bug, Mempool

#32041 build: bump CLIENT_VERSION_MAJOR to 29
  CMakeLists.txt
Labels: Build system

#31987 wallet: Replace "non-0" with "non-zero" in translatable error message
  src/wallet/spend.cpp
  test/functional/rpc_psbt.py
Labels: Wallet

#31998 depends: patch around PlacementNew issue in capnp
  depends/packages/capnp.mk
  depends/patches/capnp/abi_placement_new.patch
Labels: Build system

#32046 [29.x] bump to v29.0rc1
  CMakeLists.txt
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  share/examples/bitcoin.conf
Labels: Backport

#31901 contrib: Add deterministic-unittest-coverage
  .gitignore
  contrib/devtools/README.md
  contrib/devtools/deterministic-fuzz-coverage/Cargo.lock
  contrib/devtools/deterministic-fuzz-coverage/src/main.rs
  contrib/devtools/deterministic-unittest-coverage/Cargo.lock
  contrib/devtools/deterministic-unittest-coverage/Cargo.toml
  contrib/devtools/deterministic-unittest-coverage/src/main.rs
  contrib/devtools/test_deterministic_coverage.sh
  src/test/fuzz/fuzz.cpp
  src/test/util/CMakeLists.txt
  src/test/util/coverage.cpp
  src/test/util/coverage.h
  src/test/util/setup_common.cpp
Labels: Scripts and tools

#32055 contrib: Fix deterministic-unittest-coverage tool path
  contrib/devtools/deterministic-fuzz-coverage/src/main.rs
  contrib/devtools/deterministic-unittest-coverage/src/main.rs
Labels: Scripts and tools

#32056 doc: Adjust path in comment
  src/test/fuzz/script_assets_test_minimizer.cpp
Labels: Docs

#31757 wallet: fix crash on double block disconnection
  src/wallet/wallet.cpp
  test/functional/wallet_reorgsrestore.py
Labels: Wallet

#31907 qa: clarify and document one assumeutxo test case with malleated snapshot
  test/functional/feature_assumeutxo.py
  test/functional/feature_framework_unit_tests.py
  test/functional/test_framework/compressor.py
  test/functional/test_framework/messages.py
Labels: Tests

#32049 contrib: Fix `gen-bitcoin-conf.sh`
  contrib/devtools/gen-bitcoin-conf.sh
Labels: Scripts and tools, Needs backport (29.x)

#31649 consensus: Remove checkpoints (take 2)
  src/bitcoin-chainstate.cpp
  src/chain.h
  src/consensus/validation.h
  src/init.cpp
  src/kernel/chainparams.cpp
  src/kernel/chainparams.h
  src/kernel/chainstatemanager_opts.h
  src/net_processing.cpp
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/node/chainstatemanager_args.cpp
  src/test/fuzz/p2p_headers_presync.cpp
  src/test/fuzz/partially_downloaded_block.cpp
  src/test/ipc_test.cpp
  src/validation.cpp
  test/functional/data/blockheader_testnet3.hex
  test/functional/p2p_dos_header_tree.py
  test/functional/test_runner.py
Labels: Consensus

#32038 depends: remove `NO_HARDEN` option
  depends/Makefile
  depends/README.md
  depends/gen_id
  depends/packages/libevent.mk
  depends/toolchain.cmake.in
Labels: Build system

#32064 build: Remove manpages when making MacOS app
  cmake/module/Maintenance.cmake
Labels: Needs backport (29.x)

#31961 Require sqlite when building the wallet
  .github/workflows/ci.yml
  CMakeLists.txt
  CMakePresets.json
  cmake/bitcoin-build-config.h.in
  depends/Makefile
  depends/README.md
  depends/toolchain.cmake.in
  doc/build-freebsd.md
  doc/build-openbsd.md
  doc/build-unix.md
  src/bench/wallet_create.cpp
  src/bench/wallet_ismine.cpp
  src/bench/wallet_loading.cpp
  src/bench/wallet_migration.cpp
  src/qt/bitcoingui.cpp
  src/wallet/CMakeLists.txt
  src/wallet/init.cpp
  src/wallet/rpc/wallet.cpp
  src/wallet/test/db_tests.cpp
  src/wallet/test/fuzz/CMakeLists.txt
  src/wallet/test/util.h
  src/wallet/walletdb.cpp
  test/CMakeLists.txt
  test/config.ini.in
  test/functional/feature_filelock.py
  test/functional/mempool_persist.py
  test/functional/test_framework/test_framework.py
  test/functional/tool_wallet.py
  test/functional/wallet_avoid_mixing_output_types.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_fast_rescan.py
  test/functional/wallet_importdescriptors.py
  test/functional/wallet_listdescriptors.py
  test/functional/wallet_miniscript.py
  test/functional/wallet_miniscript_decaying_multisig_descriptor_psbt.py
  test/functional/wallet_multisig_descriptor_psbt.py
  test/functional/wallet_rescan_unconfirmed.py
  test/functional/wallet_taproot.py
  test/functional/wallet_upgradewallet.py
  vcpkg.json
Labels: Wallet

#31977 test: Use rpc_deprecated only for testing deprecation
  test/functional/rpc_deprecated.py
Labels: Tests

#31917 fuzz: provide more realistic values to the base58(check) decoders
  src/test/fuzz/base_encode_decode.cpp
Labels: Tests

#31859 test: Rename send_message to send_without_ping
  test/functional/README.md
  test/functional/example_test.py
  test/functional/feature_assumeutxo.py
  test/functional/feature_assumevalid.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_versionbits_warning.py
  test/functional/interface_usdt_net.py
  test/functional/p2p_addr_relay.py
  test/functional/p2p_addrfetch.py
  test/functional/p2p_addrv2_relay.py
  test/functional/p2p_blockfilters.py
  test/functional/p2p_blocksonly.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_compactblocks_blocksonly.py
  test/functional/p2p_eviction.py
  test/functional/p2p_filter.py
  test/functional/p2p_fingerprint.py
  test/functional/p2p_ibd_stalling.py
  test/functional/p2p_initial_headers_sync.py
  test/functional/p2p_invalid_locator.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_leak.py
  test/functional/p2p_mutated_blocks.py
  test/functional/p2p_nobloomfilter_messages.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_opportunistic_1p1c.py
  test/functional/p2p_orphan_handling.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_sendtxrcncl.py
  test/functional/p2p_timeouts.py
  test/functional/p2p_tx_download.py
  test/functional/p2p_tx_privacy.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/test_framework/p2p.py
Labels: Tests

#32070 build: use make < 3.82 syntax for define directive
  depends/packages/capnp.mk
  depends/packages/libmultiprocess.mk
Labels: Build system, Needs backport (29.x)

#32063 test: fix intermittent failure in p2p_orphan_handling.py
  test/functional/p2p_orphan_handling.py
Labels: Tests, Needs backport (29.x)

#32069 test: fix intermittent failure in wallet_reorgsrestore.py
  test/functional/test_framework/test_node.py
  test/functional/tool_wallet.py
  test/functional/wallet_reorgsrestore.py
Labels: Tests

#32010 qa: Fix TxIndex race conditions
  test/functional/feature_init.py
  test/functional/mempool_accept.py
  test/functional/rpc_rawtransaction.py
  test/functional/rpc_txoutproof.py
  test/functional/test_framework/util.py
  test/functional/wallet_avoid_mixing_output_types.py
Labels: Tests

#31904 refactor: modernize outdated trait patterns using helper aliases (C++14/C++17)
  src/bench/prevector.cpp
  src/deploymentstatus.cpp
  src/interfaces/wallet.h
  src/logging/timer.h
  src/net_permissions.h
  src/netbase.h
  src/random.h
  src/randomenv.cpp
  src/rpc/util.cpp
  src/serialize.h
  src/sync.cpp
  src/test/fuzz/FuzzedDataProvider.h
  src/test/fuzz/integer.cpp
  src/test/fuzz/util.h
  src/univalue/include/univalue.h
  src/util/fs.h
  src/util/overflow.h
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/util/vector.h
  src/wallet/types.h
Labels: Refactoring

#32033 test: Check datadir cleanup after assumeutxo was successful
  test/functional/feature_assumeutxo.py
Labels: Tests

#32083 doc: shallow clone `qa-assets`
  doc/fuzzing.md
Labels: Docs

#32062 [29.x] backports and rc2
  CMakeLists.txt
  cmake/module/Maintenance.cmake
  contrib/devtools/gen-bitcoin-conf.sh
  depends/packages/capnp.mk
  depends/packages/libmultiprocess.mk
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  share/examples/bitcoin.conf
  src/qt/README.md
  src/qt/test/wallettests.cpp
  src/test/fuzz/base_encode_decode.cpp
  test/functional/p2p_orphan_handling.py
Labels: Backport

#31948 ci: [lint] Use Cirrus dockerfile cache
  .cirrus.yml
  ci/lint_run.sh
  ci/lint_run_all.sh
Labels: Tests

#32087 ci: Drop ENABLE_HARDENING=OFF from clang-tidy
  ci/test/00_setup_env_native_tidy.sh
Labels: Tests

#32059 test: Update coverage.cpp to drop linux restriction
  src/test/util/coverage.cpp
Labels: Tests

#32019 cmake: Check for `makensis` and `zip` tools before using them for optional `deploy` targets
  cmake/module/Maintenance.cmake
  doc/build-osx.md
Labels: Build system

#32057 test: avoid disk space warning for non-regtest
  test/functional/feature_config_args.py
  test/functional/feature_signet.py
Labels: Tests, Needs backport (29.x)

#32088 test: switch wallet_crosschain.py to signet and drop testnet4
  test/functional/wallet_crosschain.py
Labels: Tests

#32091 test: replace assert with assert_equal and assert_greater_than
  test/functional/interface_usdt_net.py
Labels: Tests

#31457 fuzz: Speed up *_package_eval fuzz targets a bit
  src/test/fuzz/package_eval.cpp
Labels: Tests

#31841 fuzz: Use immediate task runner to increase fuzz stability
  src/test/util/setup_common.cpp
Labels: Tests

#32092 test: Fix intermittent issue in p2p_orphan_handling.py
  test/functional/p2p_orphan_handling.py
  test/functional/test_framework/test_node.py
Labels: Tests

#30142 doc: add guidance for RPC to developer notes
  doc/developer-notes.md
Labels: Docs

#31979 torcontrol: Limit reconnect timeout to max seconds and log delay in whole seconds
  src/torcontrol.cpp
Labels: P2P

#31910 qa: fix an off-by-one in utxo snapshot fuzz target and sanity check its snapshot data
  src/kernel/chainparams.cpp
  src/test/fuzz/utxo_snapshot.cpp
  src/test/util/mining.cpp
  src/test/util/mining.h
Labels: Tests

#31870 fuzz: split `coinselection` harness
  src/wallet/test/fuzz/coinselection.cpp
Labels: Tests

#32074 contrib: Make deterministic-coverage error messages more readable
  contrib/devtools/README.md
  contrib/devtools/deterministic-fuzz-coverage/src/main.rs
  contrib/devtools/deterministic-unittest-coverage/src/main.rs
Labels: Scripts and tools

#30538 Doc: add a comment referencing past vulnerability next to where it was fixed
  src/banman.h
  src/net.cpp
  src/net_processing.cpp
  src/txrequest.h
  src/validation.cpp
Labels: Docs

#31887 CLI cleanups
  src/bitcoin-cli.cpp
Labels: Refactoring

#31656 test: Add expected result assertions
  src/wallet/test/coinselector_tests.cpp
Labels: Tests

#32073 net: Block v2->v1 transport downgrade if !fNetworkActive
  src/net.cpp
Labels: P2P

#32095 doc: clarify that testnet min-difficulty is not optional
  src/pow.cpp
Labels: Docs

#31897 mining: drop unused -nFees and sigops from CBlockTemplate
  src/interfaces/mining.h
  src/node/miner.cpp
  src/node/miner.h
  src/rpc/mining.cpp
  test/functional/mining_basic.py
Labels: Mining

#32122 fuzz: Fix off-by-one in package_rbf target
  src/test/fuzz/rbf.cpp
Labels: Tests, Needs backport (29.x)

#31363 cluster mempool: introduce TxGraph
  src/CMakeLists.txt
  src/bench/cluster_linearize.cpp
  src/cluster_linearize.h
  src/test/cluster_linearize_tests.cpp
  src/test/fuzz/CMakeLists.txt
  src/test/fuzz/cluster_linearize.cpp
  src/test/fuzz/txgraph.cpp
  src/test/util/cluster_linearize.h
  src/txgraph.cpp
  src/txgraph.h
  src/util/feefrac.h
Labels: Mempool

#32144 lint: Remove needless borrow to fix Clippy warning
  test/lint/test_runner/src/main.rs
Labels: Tests

#32132 build: Remove bitness suffix from Windows installer
  share/setup.nsi.in
Labels: Windows, Build system

#31896 refactor: Remove redundant and confusing calls to IsArgSet
  src/bitcoin-cli.cpp
  src/init.cpp
  src/node/mempool_args.cpp
  src/qt/intro.cpp
  src/wallet/wallet.cpp
Labels: Refactoring

#31849 depends: set `CMAKE_*_COMPILER_TARGET` in toolchain
  depends/Makefile
  depends/toolchain.cmake.in
Labels: Build system, Needs backport (29.x)

#32141 fuzz: extract unsequenced operations with side-effects
  src/test/fuzz/base_encode_decode.cpp
Labels: Tests, Needs backport (29.x)

#32148 test: fix intermittent timeout in p2p_ibd_stalling.py
  test/functional/p2p_ibd_stalling.py
Labels: Tests

#32027 cmake: Add `NO_CACHE_IF_FAILED` option for checking linker flags
  CMakeLists.txt
  cmake/module/TryAppendLinkerFlag.cmake
Labels: Build system, Needs backport (29.x)

#32129 doc: Update comments for AreInputsStandard to match code
  src/policy/policy.cpp
Labels: Docs

#32101 Accept unordered tracepoints in interface_usdt_utxocache.py
  test/functional/interface_usdt_utxocache.py
Labels: Tests

#32100 doc: clarify the documentation of `Assume` assertion
  doc/developer-notes.md
Labels: Docs

#32145 test: Add functional test for bitcoin-chainstate
  test/CMakeLists.txt
  test/config.ini.in
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/tool_bitcoin_chainstate.py
Labels: Tests

#32058 test: get rid of redundant TODO tag
  test/functional/feature_dbcrash.py
Labels: Tests

#32151 Follow-ups for txgraph #31363
  src/cluster_linearize.h
  src/test/fuzz/cluster_linearize.cpp
  src/test/fuzz/txgraph.cpp
  src/txgraph.cpp
  src/txgraph.h
Labels: Mempool

#32153 wallet: remove redundant `Assert` call when block is disconnected
  src/wallet/wallet.cpp
Labels: Wallet

#31992 cmake: Avoid fuzzer "multiple definition of `main'" errors
  CMakeLists.txt
  src/test/fuzz/CMakeLists.txt
Labels: Build system

#31176 ci: Test cross-built Windows executables on Windows natively
  .cirrus.yml
  .github/workflows/ci.yml
  ci/test/00_setup_env_win64.sh
  ci/test/03_test_script.sh
  ci/test/wrap-wine.sh
Labels: Windows, Tests

#32134 descriptors: Multipath/PR 22838 follow-ups
  doc/descriptors.md
  src/script/descriptor.cpp
Labels: Descriptors
