Repository bitcoin/bitcoin, pull requests merged in 2025-09, with the labels that each got.

#33269 test: Fixup fill_mempool docstring
  test/functional/test_framework/mempool_util.py
Labels: Tests

#33274 kernel: chainparams & headersync updates for 30.0
  contrib/devtools/headerssync-params.py
  src/headerssync.cpp
  src/kernel/chainparams.cpp
Labels: Validation

#32989 ci: Migrate CI to hosted Cirrus Runners
  .cirrus.yml
  .github/actions/configure-docker/action.yml
  .github/actions/configure-environment/action.yml
  .github/actions/restore-caches/action.yml
  .github/actions/save-caches/action.yml
  .github/workflows/ci.yml
  ci/README.md
  ci/lint_run.sh
  ci/lint_run_all.sh
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_mac_native.sh
  ci/test/00_setup_env_mac_native_fuzz.sh
  ci/test/02_run_container.sh
  ci/test/03_test_script.sh
  ci/test_imagefile
Labels: Tests

#33235 build: set ENABLE_IPC to OFF when fuzzing
  CMakeLists.txt
Labels: Build system

#32159 net, pcp: handle multi-part responses and filter for default route while querying default gateway
  src/common/netif.cpp
Labels: P2P

#33311 net: Quiet down logging when router doesn't support natpmp/pcp
  src/common/pcp.cpp
Labels: P2P

#33339 doc: move release notes to wiki pre branch off
  doc/release-30635.md
  doc/release-notes-27826.md
  doc/release-notes-31278.md
  doc/release-notes-31375-31679.md
  doc/release-notes-31385.md
  doc/release-notes-31603.md
  doc/release-notes-31802.md
  doc/release-notes-31829.md
  doc/release-notes-31953.md
  doc/release-notes-32406.md
  doc/release-notes-32425.md
  doc/release-notes-32459.md
  doc/release-notes-32500.md
  doc/release-notes-32521.md
  doc/release-notes-32530.md
  doc/release-notes-32540.md
  doc/release-notes-32604.md
  doc/release-notes-32618.md
  doc/release-notes-32845.md
  doc/release-notes-32896.md
  doc/release-notes-32944-28710-32438-31250.md
  doc/release-notes-33004.md
  doc/release-notes-33106.md
  doc/release-notes-33183.md
Labels: Docs

#30469 index: Fix coinstats overflow
  doc/files.md
  doc/release-notes-30469.md
  src/index/coinstatsindex.cpp
  src/index/coinstatsindex.h
  src/kernel/coinstats.h
  src/rpc/blockchain.cpp
  src/test/fuzz/utxo_total_supply.cpp
  test/functional/feature_coinstatsindex_compatibility.py
  test/functional/feature_init.py
  test/functional/test_runner.py
Labels: UTXO Db and Indexes

#33296 net: check for empty header before calling FillBlock
  src/net_processing.cpp
  test/functional/p2p_compactblocks.py
Labels: P2P

#33342 guix: strip binaries in libexec
  contrib/guix/libexec/build.sh
Labels: Build system, DrahtBot Guix build requested

#33346 doc: remove release note fragment
  doc/release-notes-30469.md
Labels: Docs

#33347 build: bump `CLIENT_VERSION_MAJOR` to 30
  CMakeLists.txt
Labels: Build system

#33231 net: Prevent node from binding to the same `CService`
  src/init.cpp
  test/functional/feature_bind_extra.py
Labels: P2P

#33379 cmake: Fix regression in `secp256k1.cmake`
  cmake/secp256k1.cmake
Labels: Build system

#33391 test: Prevent disk space warning during node_init_tests
  src/test/node_init_tests.cpp
Labels: Tests, Needs backport (30.x)

#33373 depends: systemtap 5.3
  depends/packages/systemtap.mk
Labels: Build system

#33380 test: Add submitblock test in interface_ipc
  test/functional/interface_ipc.py
Labels: Tests

#33407 cmake: Install `bitcoin` manpage
  src/CMakeLists.txt
Labels: Build system, Needs backport (30.x)

#33344 [29.x] Backports
  CMakeLists.txt
  ci/test/01_base_install.sh
  cmake/module/FindUSDT.cmake
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  src/blockencodings.cpp
  src/blockencodings.h
  src/crypto/sha256.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/blockencodings_tests.cpp
  src/test/fuzz/partially_downloaded_block.cpp
  src/util/trace.h
  test/functional/p2p_compactblocks.py
Labels: Backport

#33356 [30.0] rc2 backports
  ci/test/00_setup_env_i686_no_ipc.sh
  ci/test/01_base_install.sh
  cmake/module/FindUSDT.cmake
  cmake/secp256k1.cmake
  src/CMakeLists.txt
  src/net.cpp
  src/net.h
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.h
  src/test/node_init_tests.cpp
  src/util/trace.h
  src/wallet/receive.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/transaction.h
  src/wallet/wallet.cpp
  test/functional/interface_ipc.py
  test/functional/rpc_misc.py
  test/functional/test_framework/script_util.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
  test/functional/wallet_anchor.py
  test/functional/wallet_listtransactions.py
Labels: Backport

#33420 test: Avoid interface_ipc.py Duplicate ID errors
  test/functional/interface_ipc.py
Labels: Tests, Needs backport (30.x)

#28592 p2p: Increase tx relay rate
  src/net_processing.cpp
Labels: P2P

#33422 build: Remove lingering Windows registry & shortcuts (#32132 follow-up)
  share/setup.nsi.in
Labels: Build system

#33429 fuzz: reduce iterations in slow targets
  src/test/fuzz/mini_miner.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/fuzz/txdownloadman.cpp
Labels: Tests

#33475 bugfix: miner: fix `addPackageTxs` unsigned integer overflow
  src/node/miner.cpp
Labels: Bug, Needs backport (29.x), Needs backport (30.x)

#33415 [28.x] More backports
  doc/release-notes.md
  src/crypto/sha256.cpp
  src/net.cpp
  src/net.h
  src/policy/feerate.h
  src/wallet/coinselection.cpp
  src/wallet/spend.h
Labels: Backport

#33430 rpc: addpeeraddress: throw on invalid IP
  src/rpc/net.cpp
  test/functional/rpc_net.py
Labels: RPC/REST/ZMQ

#33487 ci: use latest versions of lint deps
  ci/lint/01_install.sh
Labels: Tests

#33260 test: Use extra_port() helper in feature_bind_extra.py
  test/functional/feature_bind_extra.py
Labels: Tests

#33453 docs: Undeprecate datacarrier and datacarriersize configuration options
  src/init.cpp
  test/functional/mempool_datacarrier.py
Labels: Docs
