Repository bitcoin/bitcoin, pull requests merged in 2025-08, with the labels that each got.

#32559 doc: add alpine build instructions
  depends/README.md
  doc/build-unix.md
Labels: Docs

#31385 package validation: relax the package-not-child-with-unconfirmed-parents rule
  doc/policy/packages.md
  doc/release-notes-31385.md
  src/policy/packages.h
  src/test/txpackage_tests.cpp
  src/validation.cpp
  test/functional/p2p_1p1c_network.py
  test/functional/p2p_opportunistic_1p1c.py
  test/functional/rpc_packages.py
Labels: TX fees and policy

#33048 test: reduce runtime of p2p_opportunistic_1p1c.py
  test/functional/p2p_opportunistic_1p1c.py
Labels: Tests

#33118 test: fix anti-fee-sniping off-by-one error
  test/functional/wallet_send.py
  test/functional/wallet_sendall.py
Labels: Tests

#33132 fuzz: txgraph: fix `real_is_optimal` flag propagation in `CommitStaging`
  src/test/fuzz/txgraph.cpp
Labels: Tests

#33058 test: add assertions to SRD max weight test
  src/wallet/test/coinselector_tests.cpp
Labels: Tests

#33133 rpc: fix getpeerinfo ping duration unit docs
  src/rpc/net.cpp
Labels: RPC/REST/ZMQ

#33002 ci: Only pass documented env vars
  ci/test/02_run_container.py
  ci/test/02_run_container.sh
  ci/test_run_all.sh
Labels: Tests

#33138 ci: Pass CI_FAILFAST_TEST_LEAVE_DANGLING into container
  ci/test/02_run_container.py
Labels: Tests

#33122 test: remove duplicated code in test/functional/wallet_migration.py
  test/functional/wallet_migration.py
Labels: Wallet

#33113 refactor: Use immediate lambda to work around GCC bug 117966
  ci/test/00_setup_env_native_centos.sh
  src/musig.h
Labels: Refactoring

#33101 cmake: Proactively avoid use of `SECP256K1_DISABLE_SHARED`
  cmake/secp256k1.cmake
  src/CMakeLists.txt
Labels: Build system

#33077 kernel: create monolithic kernel static library
  libbitcoinkernel.pc.in
  src/kernel/CMakeLists.txt
Labels: Build system

#33044 contrib: drop use of `PermissionsStartOnly` & `Group=`
  contrib/init/bitcoind.service
Labels: Scripts and tools

#33125 ci: Use mlc `v1` and fix typos
  ci/lint/01_install.sh
  doc/policy/packages.md
  doc/tracing.md
  src/test/fuzz/txorphan.cpp
  test/functional/p2p_compactblocks.py
  test/functional/rpc_packages.py
Labels: Tests

#33151 subtree: update crc32c subtree
  src/crc32c/.appveyor.yml
  src/crc32c/.github/workflows/build.yml
  src/crc32c/.gitignore
  src/crc32c/.travis.yml
  src/crc32c/CMakeLists.txt
  src/crc32c/README.md
  src/crc32c/src/crc32c_sse42.cc
Labels: DrahtBot Guix build requested

#31679 cmake: Install internal binaries to <prefix>/libexec/
  ci/test/03_test_script.sh
  cmake/module/InstallBinaryComponent.cmake
  contrib/guix/libexec/codesign.sh
  contrib/macdeploy/detached-sig-create.sh
  doc/files.md
  doc/release-notes-31375-31679.md
  doc/release-notes-31375.md
  src/CMakeLists.txt
  src/bench/CMakeLists.txt
  src/bitcoin.cpp
  src/qt/CMakeLists.txt
  src/qt/test/CMakeLists.txt
  src/test/CMakeLists.txt
Labels: Build system

#31886 cli: return local services in -netinfo
  src/bitcoin-cli.cpp
  test/functional/interface_bitcoin_cli.py
Labels: Scripts and tools

#33105 validation: detect witness stripping without re-running Script checks
  src/policy/policy.cpp
  src/policy/policy.h
  src/test/transaction_tests.cpp
  src/validation.cpp
  test/functional/p2p_segwit.py
Labels: Validation

#33155 contrib: drop `bitcoin-util` exception from FORTIFY check
  contrib/guix/security-check.py
Labels: Scripts and tools

#32473 Introduce per-txin sighash midstate cache for legacy/p2sh/segwitv0 scripts
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/test/fuzz/script_interpreter.cpp
  src/test/sighash_tests.cpp
  test/functional/feature_taproot.py
Labels: Validation

#33162 test: fix scripts in `blockfilter_basic_test`
  src/test/blockfilter_tests.cpp
Labels: Tests

#33021 test/refactor: revive test verifying that `GetCoinsCacheSizeState` switches from OK→LARGE→CRITICAL
  src/test/validation_flush_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Tests

#33050 net, validation: don't punish peers for consensus-invalid txs
  src/net_processing.cpp
  src/validation.cpp
  test/functional/data/invalid_txs.py
  test/functional/feature_block.py
  test/functional/feature_cltv.py
  test/functional/feature_dersig.py
  test/functional/feature_nulldummy.py
  test/functional/feature_segwit.py
  test/functional/mempool_accept.py
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_opportunistic_1p1c.py
  test/functional/p2p_segwit.py
  test/functional/rpc_packages.py
  test/functional/test_framework/p2p.py
Labels: P2P

#33171 ci: Update `actions/checkout` version
  .github/workflows/ci.yml
Labels: Tests

#33143 [28.x] Backports
  doc/release-notes.md
  src/rpc/net.cpp
Labels: Backport, CI failed

#32977 wallet: Remove wallet version and several legacy related functions
  src/wallet/rpc/wallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/wallet/wallettool.cpp
  src/wallet/walletutil.cpp
  src/wallet/walletutil.h
  test/functional/wallet_createwallet.py
Labels: Wallet

#33209 cmake: Drop python dependency for translate
  share/qt/extract_strings_qt.py
  share/qt/translate.cmake
  src/qt/CMakeLists.txt
Labels: Build system

#33225 [29.x] Backport logging ratelimiting
  doc/release-notes.md
  src/init.cpp
  src/init/common.cpp
  src/logging.cpp
  src/logging.h
  src/test/logging_tests.cpp
  src/test/util/logging.h
  src/validation.cpp
  test/functional/feature_config_args.py
  test/functional/test_framework/test_node.py
Labels: Backport

#31802 Add bitcoin-{node,gui} to release binaries for IPC
  .cirrus.yml
  .github/workflows/ci.yml
  CMakeLists.txt
  ci/test/00_setup_env_i686_no_ipc.sh
  ci/test/00_setup_env_mac_native.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_centos.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/00_setup_env_native_valgrind.sh
  cmake/module/Maintenance.cmake
  depends/Makefile
  depends/README.md
  depends/packages/packages.mk
  depends/toolchain.cmake.in
  doc/build-freebsd.md
  doc/build-netbsd.md
  doc/build-openbsd.md
  doc/build-osx.md
  doc/build-unix.md
  doc/dependencies.md
  doc/multiprocess.md
  doc/release-notes-31802.md
Labels: Needs release note

#33234 doc: update example bitcoin conf for 29.1rc2
  share/examples/bitcoin.conf
Labels: Backport

#32523 wallet: Remove isminetypes
  src/bench/coin_selection.cpp
  src/bench/wallet_ismine.cpp
  src/interfaces/wallet.h
  src/qt/addresstablemodel.cpp
  src/qt/transactiondesc.cpp
  src/qt/transactionrecord.cpp
  src/qt/walletmodel.cpp
  src/wallet/coinselection.h
  src/wallet/feebumper.cpp
  src/wallet/interfaces.cpp
  src/wallet/receive.cpp
  src/wallet/receive.h
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/transactions.cpp
  src/wallet/rpc/wallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/coinselection_tests.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/fuzz/coinselection.cpp
  src/wallet/test/fuzz/scriptpubkeyman.cpp
  src/wallet/test/group_outputs_tests.cpp
  src/wallet/test/ismine_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/transaction.h
  src/wallet/types.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#33217 depends: remove xinerama extension from libxcb
  contrib/guix/symbol-check.py
  depends/packages/libxcb.mk
Labels: Build system

#33236 doc: Remove wrong and redundant doxygen tag
  src/policy/feerate.h
  src/wallet/coinselection.cpp
  src/wallet/spend.h
Labels: Docs

#33237 doc: use new block_to_connect parameter name
  src/validation.cpp
Labels: Docs

#33212 index: Don't commit state in BaseIndex::Rewind
  src/index/base.cpp
  test/functional/feature_coinstatsindex.py
Labels: UTXO Db and Indexes, Needs backport (29.x)

#33251 [29.x] backport #33212
  src/index/base.cpp
  test/functional/feature_coinstatsindex.py
Labels: Backport

#33258 ci: use LLVM 21
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_msan.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/01_base_install.sh
Labels: Tests
