Repository bitcoin/bitcoin, pull requests merged in 2025-10, with the labels that each got.

#33476 [28.x] backports + 28.3rc1
  configure.ac
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
  share/examples/bitcoin.conf
  src/node/mempool_args.cpp
  src/policy/policy.h
  src/test/mempool_tests.cpp
  src/test/miner_tests.cpp
  src/test/rbf_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/transaction_utils.cpp
  src/test/util/transaction_utils.h
  test/functional/feature_rbf.py
  test/functional/mempool_accept.py
  test/functional/mempool_limit.py
  test/functional/mempool_package_rbf.py
  test/functional/mempool_truc.py
  test/functional/mining_basic.py
  test/functional/p2p_1p1c_network.py
  test/functional/p2p_ibd_txrelay.py
  test/functional/p2p_opportunistic_1p1c.py
  test/functional/p2p_tx_download.py
  test/functional/test_framework/bdb.py
  test/functional/test_framework/mempool_util.py
  test/functional/tool_wallet.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_fundrawtransaction.py
Labels: Backport

#32326 net: improve the interface around FindNode() and avoid a recursive mutex lock
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  src/test/net_peer_connection_tests.cpp
  src/test/util/net.h
Labels: P2P

#33504 Mempool: Do not enforce TRUC checks on reorg
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/tx_pool.cpp
  src/validation.cpp
  test/functional/mempool_truc.py
Labels: Mempool, Needs backport (30.x)

#33434 depends: static libxcb-cursor
  contrib/guix/symbol-check.py
  depends/packages/libxcb_util_cursor.mk
  doc/build-unix.md
Labels: Build system

#33482 contrib: fix macOS deployment with no translations
  contrib/macdeploy/macdeployqtplus
Labels: Scripts and tools

#33121 test: fix p2p_leak_tx.py
  test/functional/p2p_leak_tx.py
Labels: Tests

#33541 Release: 30.0rc3 translations update
  src/qt/locale/bitcoin_pl.ts
Labels: Backport

#33473 [30.x] Backports & rc3
  CMakeLists.txt
  contrib/guix/symbol-check.py
  contrib/macdeploy/macdeployqtplus
  depends/packages/libxcb_util_cursor.mk
  doc/build-unix.md
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoin.1
  doc/man/bitcoind.1
  share/examples/bitcoin.conf
  src/init.cpp
  src/node/miner.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/test/fuzz/package_eval.cpp
  src/test/fuzz/tx_pool.cpp
  src/validation.cpp
  test/functional/data/README.md
  test/functional/data/mainnet_alt.json
  test/functional/mempool_datacarrier.py
  test/functional/mempool_truc.py
  test/functional/mining_mainnet.py
  test/functional/test_framework/blocktools.py
Labels: Backport

#33535 [28.x] More backports
  doc/release-notes.md
  src/test/fuzz/tx_pool.cpp
  src/validation.cpp
  test/functional/mempool_truc.py
Labels: Backport

#33561 [28.x] ci: Fix Qt 5.15 URL
  .github/workflows/ci.yml
  build_msvc/README.md
Labels: Backport

#32513 ci: remove 3rd party js from windows dll gha job
  .github/workflows/ci.yml
Labels: Windows, Tests

#33494 depends: Update URL for `qrencode` package source tarball
  depends/funcs.mk
  depends/packages/qrencode.mk
Labels: Build system

#33564 [27.x] Fix Qt download URLs
  .github/workflows/ci.yml
  build_msvc/README.md
  depends/packages/qt.mk
  doc/dependencies.md
  doc/release-notes.md
Labels: Backport, CI failed
