Repository bitcoin/bitcoin, pull requests merged in 2025-04, with the labels that each got.

#32136 [29.x] backports and 29.0rc3
  CMakeLists.txt
  cmake/module/TryAppendLinkerFlag.cmake
  depends/Makefile
  depends/toolchain.cmake.in
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  src/test/fuzz/base_encode_decode.cpp
  src/test/fuzz/rbf.cpp
  test/functional/feature_config_args.py
  test/functional/feature_signet.py
Labels: Backport

#31340 test: add missing segwitv1 test cases to `script_standard_tests`
  src/addresstype.h
  src/test/script_standard_tests.cpp
  src/test/transaction_tests.cpp
Labels: Tests

#31806 fuzz: coinselection: cover `SetBumpFeeDiscount`
  src/wallet/test/fuzz/coinselection.cpp
Labels: Tests

#32166 torcontrol: Define tor reply code as const to improve our maintainability
  src/torcontrol.cpp
Labels: P2P

#32184 ci: Add workaround for vcpkg's `libevent` package
  .github/workflows/ci.yml
Labels: Windows, Tests

#32193 test: fix spelling in Python code comment
  test/functional/interface_usdt_utxocache.py
Labels: Tests

#32187 refactor: Remove spurious virtual from final ~CZMQNotificationInterface
  src/zmq/zmqnotificationinterface.h
Labels: Refactoring

#32118 fuzz: wallet: fix crypter target
  src/wallet/test/fuzz/crypter.cpp
Labels: Tests

#32158 fuzz: Make partially_downloaded_block more deterministic
  contrib/devtools/deterministic-fuzz-coverage/src/main.rs
  contrib/devtools/deterministic-unittest-coverage/src/main.rs
  src/test/util/setup_common.cpp
Labels: Tests

#31933 doc: Add Clang/LLVM based coverage report generation
  doc/developer-notes.md
Labels: Docs

#30997 build: Switch to Qt 6
  .github/ISSUE_TEMPLATE/good_first_issue.yml
  .github/workflows/ci.yml
  CMakeLists.txt
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_centos.sh
  ci/test/00_setup_env_native_tidy.sh
  ci/test/01_base_install.sh
  cmake/module/FindQt.cmake
  contrib/devtools/symbol-check.py
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  depends/Makefile
  depends/README.md
  depends/funcs.mk
  depends/packages/libxcb_util_cursor.mk
  depends/packages/native_qt.mk
  depends/packages/packages.mk
  depends/packages/qt.mk
  depends/packages/qt_details.mk
  depends/patches/qt/clang_18_libpng.patch
  depends/patches/qt/darwin_no_libm.patch
  depends/patches/qt/dont_hardcode_pwd.patch
  depends/patches/qt/duplicate_lcqpafonts.patch
  depends/patches/qt/guix_cross_lib_path.patch
  depends/patches/qt/mac-qmake.conf
  depends/patches/qt/no-xlib.patch
  depends/patches/qt/no_warnings_for_symbols.patch
  depends/patches/qt/qt.pro
  depends/patches/qt/qtbase-moc-ignore-gcc-macro.patch
  depends/patches/qt/qtbase_avoid_native_float16.patch
  depends/patches/qt/qtbase_avoid_qmain.patch
  depends/patches/qt/qtbase_platformsupport.patch
  depends/patches/qt/qtbase_plugins_cocoa.patch
  depends/patches/qt/qtbase_skip_tools.patch
  depends/patches/qt/qttools_skip_dependencies.patch
  depends/patches/qt/qttools_src.pro
  depends/patches/qt/rcc_hardcode_timestamp.patch
  depends/patches/qt/utc_from_string_no_optimize.patch
  depends/patches/qt/windows_lto.patch
  depends/toolchain.cmake.in
  doc/build-freebsd.md
  doc/build-netbsd.md
  doc/build-openbsd.md
  doc/build-osx.md
  doc/build-unix.md
  doc/dependencies.md
  src/qt/CMakeLists.txt
  src/qt/README.md
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/test/CMakeLists.txt
  test/sanitizer_suppressions/lsan
  test/sanitizer_suppressions/ubsan
  vcpkg.json
Labels: Build system

#32182 ci: Switch to dynamic library linkage in native Windows job
  .github/workflows/ci.yml
Labels: Windows, Tests

#32211 doc: Amend Qt 6 dependency packages for Ubuntu
  doc/build-unix.md
Labels: Docs

#32203 ci: Merge master in test-each-commit task
  .github/ci-test-each-commit-exec.sh
  .github/workflows/ci.yml
Labels: Tests

#32209 test: Preserve llvm profile path
  test/fuzz/test_runner.py
Labels: Tests

#32218 ci: Merge master in test-each-commit task (take 2)
  .github/ci-test-each-commit-exec.sh
  .github/workflows/ci.yml
Labels: Tests

#32212 test: Remove confusing and failing system time test
  src/test/util_tests.cpp
Labels: Tests

#30535 feefrac: add support for evaluating at given size
  src/arith_uint256.h
  src/test/feefrac_tests.cpp
  src/test/fuzz/feefrac.cpp
  src/util/feefrac.h
Labels: Utils/log/libs

#32114 test: Add encodable PUSHDATA1 examples to feature_taproot
  test/functional/feature_taproot.py
Labels: Tests

#32139 test: remove strict restrictions on rpc_deprecated test
  test/functional/rpc_deprecated.py
Labels: Tests

#32185 coins: replace manual `CDBBatch` size estimation with LevelDB's native `ApproximateSize`
  src/dbwrapper.cpp
  src/dbwrapper.h
  src/txdb.cpp
Labels: UTXO Db and Indexes

#32200 net: Add Tor extended SOCKS5 error codes
  src/netbase.cpp
Labels: P2P

#32214 test: Remove fragile and ancient release 0.17 wallet test
  test/functional/wallet_backwards_compatibility.py
Labels: Wallet, Tests

#32216 bench: Match ConnectBlock tx output counts
  src/bench/connectblock.cpp
Labels: Tests

#32206 doc: Add fuzz based coverage report generation
  doc/developer-notes.md
Labels: Docs

#32240 feefrac test: avoid integer overflow (bugfix)
  src/test/fuzz/feefrac.cpp
Labels: Tests

#32149 wallet, migration: Fix empty wallet crash
  src/wallet/test/walletdb_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/wallet_migration.py
Labels: Wallet

#32237 qt: Update SetHexDeprecated to FromHex
  src/qt/transactiontablemodel.cpp
  src/qt/transactionview.cpp
  src/test/uint256_tests.cpp
  src/uint256.cpp
  src/uint256.h
Labels: GUI

#32198 fuzz: Make p2p_headers_presync more deterministic
  contrib/devtools/deterministic-fuzz-coverage/src/main.rs
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/p2p_headers_presync.cpp
  src/test/util/CMakeLists.txt
  src/test/util/time.cpp
  src/test/util/time.h
  src/util/time.cpp
  src/util/time.h
  src/validation.cpp
  src/validation.h
Labels: Tests

#32176 net: Prevent accidental circuit sharing when using Tor stream isolation
  src/init.cpp
  src/netbase.cpp
  src/netbase.h
  src/qt/optionsdialog.cpp
  src/rpc/net.cpp
  src/test/fuzz/i2p.cpp
  src/test/i2p_tests.cpp
  src/torcontrol.cpp
Labels: P2P

#31727 miniscript: convert non-critical asserts to CHECK_NONFATAL
  src/script/miniscript.cpp
  src/script/miniscript.h
Labels: Descriptors

#32241 [29.x] 29.0 final changes
  CMakeLists.txt
  doc/man/bitcoin-cli.1
  doc/man/bitcoin-qt.1
  doc/man/bitcoin-tx.1
  doc/man/bitcoin-util.1
  doc/man/bitcoin-wallet.1
  doc/man/bitcoind.1
  doc/release-notes.md
Labels: Backport

#32245 doc: Updates how to reproduce fuzz CI failure locally
  doc/fuzzing.md
Labels: Docs

#32255 miniscript: Correct off-by-one assert guards (#31727 follow-up)
  src/script/miniscript.h
Labels: Descriptors

#31282 refactor: Make node_id a const& in RemoveBlockRequest
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_valgrind.sh
  contrib/valgrind.supp
  src/net_processing.cpp
  src/net_processing.h
Labels: Refactoring

#32272 [doc] archive 29.0 release notes
  doc/release-notes/release-notes-29.0.md
Labels: Docs

#32248 Remove support for RNDR/RNDRRS for aarch64
  src/random.cpp
Labels: Linux/Unix, Utils/log/libs, DrahtBot Guix build requested, Needs backport (29.x)

#31958 rpc: add cli examples, update docs
  src/rpc/rawtransaction.cpp
  src/wallet/rpc/spend.cpp
Labels: RPC/REST/ZMQ

#32286 test: Handle empty string returned by CLI as None in RPC tests
  test/functional/test_framework/test_node.py
Labels: Tests

#32079 test: Add test coverage for rpcwhitelistdefault when unset
  test/functional/rpc_whitelist.py
Labels: Tests

#31862 doc: Fix and clarify description of ZMQ message format
  doc/zmq.md
Labels: Docs

#32281 bench: Fix WalletMigration benchmark
  src/bench/wallet_migration.cpp
Labels: Tests

#32250 ci: Slim down lint image
  ci/lint/04_install.sh
  ci/lint/06_script.sh
  ci/lint/container-entrypoint.sh
  ci/lint_imagefile
  ci/lint_run.sh
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_win64.sh
Labels: Tests

#32288 ci: drop -priority-level from bench in win cross CI
  .github/workflows/ci.yml
Labels: Tests

#32271 doc: Document WITH_EXTERNAL_LIBMULTIPROCESS build option better
  CMakeLists.txt
  doc/multiprocess.md
Labels: Docs

#32191 Make TxGraph fuzz tests more deterministic
  src/test/fuzz/txgraph.cpp
  src/txgraph.cpp
Labels: Tests

#31247 psbt: MuSig2 Fields
  src/psbt.h
  src/rpc/rawtransaction.cpp
  test/functional/data/rpc_psbt.json
Labels: PSBT

#32282 torcontrol: Fix addrOnion outdated comment
  src/torcontrol.cpp
Labels: Docs

#32213 msvc: Update vcpkg manifest
  vcpkg.json
Labels: Windows, Build system

#32306 ci: Temporarily disable `WalletMigration` benchmark
  .github/workflows/ci.yml
Labels: Wallet, Tests

#31640 tests: improves tapscript unit tests
  src/test/data/script_tests.json
  src/test/script_tests.cpp
Labels: Tests

#31953 rpc: Allow fullrbf fee bump in (psbt)bumpfee
  doc/release-notes-31953.md
  src/qt/test/wallettests.cpp
  src/wallet/feebumper.cpp
  src/wallet/rpc/spend.cpp
  test/functional/test_framework/messages.py
  test/functional/wallet_bumpfee.py
Labels: RPC/REST/ZMQ

#32308 ci: Drop no longer necessary `-Wno-error=array-bounds`
  ci/test/00_setup_env_win64.sh
Labels: Windows, Tests

#32293 doc: Add deps install notes for multiprocess
  doc/build-osx.md
  doc/build-unix.md
Labels: Docs

#32325 ci: Add missing -Wno-error=array-bounds to valgrind fuzz
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
Labels: Tests

#32113 fuzz: enable running fuzz test cases in Debug mode
  doc/fuzzing.md
  src/pow.cpp
  src/test/fuzz/fuzz.cpp
  src/test/util/random.cpp
  src/test/util/setup_common.cpp
  src/util/check.cpp
  src/util/check.h
Labels: Tests

#32310 test: Run all benchmarks in the sanity check
  src/bench/CMakeLists.txt
Labels: Tests

#32023 wallet: removed duplicate call to GetDescriptorScriptPubKeyMan
  src/bench/wallet_ismine.cpp
  src/qt/test/wallettests.cpp
  src/test/fuzz/util/wallet.h
  src/wallet/rpc/backup.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/fuzz/scriptpubkeyman.cpp
  src/wallet/test/psbt_wallet_tests.cpp
  src/wallet/test/util.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#31835 validation: set BLOCK_FAILED_CHILD correctly
  src/test/blockchain_tests.cpp
  src/validation.cpp
Labels: Validation

#32336 test: Suppress upstream `-Wduplicate-decl-specifier` in bpfcc
  test/functional/interface_usdt_coinselection.py
  test/functional/interface_usdt_mempool.py
  test/functional/interface_usdt_net.py
  test/functional/interface_usdt_utxocache.py
  test/functional/interface_usdt_validation.py
  test/functional/test_framework/util.py
Labels: Tests

#32318 Fix failing util_time_GetTime test on Windows
  src/test/util_tests.cpp
Labels: Tests

#32215 depends: Fix cross-compiling on macOS
  depends/packages/native_qt.mk
Labels: macOS, Build system

#32242 guix: Remove unused `file` package
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
Labels: Build system

#32353 doc: Fix fuzz test_runner.py path
  doc/fuzzing.md
Labels: Docs

#32071 build: Drop option to disable hardening.
  CMakeLists.txt
  CMakePresets.json
Labels: Build system

#32357 depends: Fix cross-compiling `qt` package from macOS to Windows
  depends/packages/qt.mk
Labels: Build system

#32360 test: Force named args for RPCOverloadWrapper optional args
  test/functional/rpc_psbt.py
  test/functional/test_framework/test_node.py
  test/functional/wallet_address_types.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_labels.py
Labels: Tests

#32350 test: Slim down previous releases bdb check
  test/functional/wallet_backwards_compatibility.py
  test/get_previous_releases.py
Labels: Tests

#29124 test: Test that migration automatically repairs corrupted metadata with doubled derivation path
  test/functional/wallet_backwards_compatibility.py
Labels: Wallet

#32327 test: Add missing check for empty stderr in util tester
  test/util/test_runner.py
Labels: Tests

#32365 descriptors: Reject + sign while parsing unsigned
  src/script/descriptor.cpp
  src/test/descriptor_tests.cpp
Labels: Descriptors

#31014 net: Use GetAdaptersAddresses to get local addresses on Windows
  src/common/netif.cpp
Labels: Windows, P2P

#32351 test: avoid stack overflow in `FindChallenges` via manual iteration
  src/test/miniscript_tests.cpp
Labels: Tests

#31398 wallet: refactor: various master key encryption cleanups
  src/wallet/crypter.h
  src/wallet/test/fuzz/crypter.cpp
  src/wallet/test/wallet_crypto_tests.cpp
  src/wallet/wallet.cpp
Labels: Wallet

#32383 util: Remove `fsbridge::get_filesystem_error_message()`
  src/rpc/request.cpp
  src/util/fs.cpp
  src/util/fs.h
  src/validation.cpp
  src/wallet/bdb.cpp
  src/wallet/migrate.cpp
  src/wallet/walletdb.cpp
Labels: Utils/log/libs
